---
openapi: "3.0.1"
info:
  title: "Domain API Specification"
  description: "Automotive Retail Ontology."
  version: "1.0.0"
paths:
  /payment-events:
    get:
      tags:
      - "PaymentEvent"
      summary: "Retrieve a list of all PaymentEvent records."
      operationId: "listPaymentEvents"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of records to return."
        schema:
          maximum: 100
          minimum: 1
          type: "integer"
          
          default: 50
      - name: "cursor"
        in: "query"
        description: "starting point for next set of results"
        schema:
          type: "string"
          
      responses:
        "200":
          description: "A list of PaymentEvent records."
          content:
            application/json:
              schema:
                type: "array"
                
                items:
                  $ref: "#/components/schemas/PaymentEvent"
                  
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/ServerError"
    post:
      tags:
      - "PaymentEvent"
      summary: "Create a new PaymentEvent record."
      operationId: "createPaymentEvent"
      requestBody:
        description: "PaymentEvent data to create the new resource."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentEvent_Create"
              
        required: true
      responses:
        "201":
          description: "PaymentEvent created successfully."
          headers:
            Location:
              description: "The URI of the newly created resource."
              schema:
                type: "string"
                example: "//payment-events/PR-1234567"

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEvent"
                
        "400":
          $ref: "#/components/responses/BadRequestError"
        "409":
          $ref: "#/components/responses/ConflictError"
  /payment-events/{paymentEventKey}:
    get:
      tags:
      - "PaymentEvent"
      summary: "Retrieve a specific PaymentEvent record."
      operationId: "getPaymentEventById"
      responses:
        "200":
          description: "The requested PaymentEvent record."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEvent"
                
        "404":
          $ref: "#/components/responses/NotFoundError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
    put:
      tags:
      - "PaymentEvent"
      summary: "replace a PaymentEvent record."
      operationId: "replacePaymentEvent"
      requestBody:
        description: "Included Fields to be updated will be modified."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentEvent"
              
        required: true
      responses:
        "200":
          description: "Record updated successfully. Returns the update..."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEvent"
                
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
    delete:
      tags:
      - "PaymentEvent"
      summary: "Delete a PaymentEvent Record"
      description: "Marks the PaymentEvent record as inactive or re..."
      operationId: "deletePaymentEventRecord"
      responses:
        "204":
          description: "Record successfully deleted (or deactivated)."
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
    patch:
      tags:
      - "PaymentEvent"
      summary: "Partially update a PaymentEvent record."
      operationId: "updatePaymentEvent"
      requestBody:
        description: "Included Fields to be updated will be modified."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentEvent_Update"
              
        required: true
      responses:
        "200":
          description: "Record updated successfully. Returns the update..."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEvent"
                
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
    parameters:
    - name: "paymentEventKey"
      in: "path"
      description: "The unique identifier for the specific PaymentEvent."
      required: true
      schema:
        type: "string"
        example: "PR-1234567"
        exampleSetFlag: true
components:
  schemas:
    Codes:
      type: "array"
      description: "List of Codes"
      
      items:
        type: "string"
        
    ErrorDetail:
      required:
      - "code"
      - "message"
      - "timestamp"
      type: "object"
      properties:
        code:
          type: "string"
          description: "A unique, system-defined error code (e.g., 'AUT..."
          example: "NOT_FOUND_PR"
          exampleSetFlag: true
        message:
          type: "string"
          description: "A human-readable summary providing specific det..."
          example: "Personnel Record with ID PR-1234567 was not found."
          exampleSetFlag: true
        details:
          type: "array"
          description: "Optional array of specific field-level validati..."
          
          items:
            type: "object"
            properties:
              field:
                type: "string"
                description: "The specific field that failed validation (e.g., 'firstName')."
                example: "payrollId"

              issue:
                type: "string"
                description: "The validation message for the field (e.g., 'must be\
                  \ numeric')."
                example: "must be unique"

            
        timestamp:
          type: "string"
          description: "The time the error occurred, in ISO 8601 format."
          format: "date-time"
          example: "2025-11-10T10:30:00Z"
          exampleSetFlag: true
      description: "Standard format for all API error responses."
      
    Link:
      type: "array"
      description: "Quick Link"
      
      items:
        type: "string"
        
    Links:
      type: "array"
      description: "List of Links"
      
      items:
        type: "string"
        
    PaymentEvent:
      type: "object"
      properties:
        payment_event_id:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_]+$"
          type: "string"
          description: "Unique identifier value for the reference recor..."
          nullable: false
          
        payment_event_key:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_]+$"
          type: "string"
          description: "Unique key value for the reference record. Patt..."
          nullable: false
          
        payment_key:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_]+$"
          type: "string"
          description: "The unique key identifying the referenced Payme..."
          nullable: false
          
        context:
          type: "string"
          description: "Context or domain of the reference."
          nullable: true
          
        old_payment_status_type:
          description: "Type of payment method used for the transaction..."
          $ref: "#/components/schemas/PaymentStatusTypes"
          nullable: false
          example: "CREDIT_CARD"
          exampleSetFlag: true
        new_payment_status_type:
          description: "Type of payment method used for the transaction..."
          $ref: "#/components/schemas/PaymentStatusTypes"
          nullable: false
          example: "CREDIT_CARD"
          exampleSetFlag: true
        payment_transaction_id:
          type: "string"
          description: "Optional: The specific transaction ID causing t..."
          nullable: true
          
        occurrence_date_time:
          type: "string"
          description: "The date and time the paymentMethod was associa..."
          format: "date-time"
          nullable: false
          
      description: "Reference to a PaymentMethod (Party) Aggregate ..."
      
    PaymentEvent_Create:
      required:
      - "payment_event_key"
      type: "object"
      description: "PaymentEvent Create for Post"
      exampleSetFlag: true
      allOf:
      - $ref: "#/components/schemas/PaymentEvent"
        
    PaymentEvent_Update:
      type: "object"
      properties:
        new_payment_status_type:
          description: "Type of payment method used for the transaction..."
          $ref: "#/components/schemas/PaymentStatusTypes"
          nullable: false
          example: "CREDIT_CARD"
          exampleSetFlag: true
        context:
          type: "string"
          description: "Context or domain of the reference."
          nullable: true
          
        old_payment_status_type:
          description: "Type of payment method used for the transaction..."
          $ref: "#/components/schemas/PaymentStatusTypes"
          nullable: false
          example: "CREDIT_CARD"
          exampleSetFlag: true
        occurrence_date_time:
          type: "string"
          description: "The date and time the paymentMethod was associa..."
          format: "date-time"
          nullable: false
          
      description: "PaymentEvent Update for Patch and Put"
      exampleSetFlag: true
    PaymentStatusTypes:
      type: "string"
      description: "types of payment status."
      extensions:
        x-governance:
          CREATED:
            description: "Payment status: Created."
            published: false
            is_unique: true
            sortIndex: 0
            id: 0
            depreciated: false
          AUTO_SCHEDULED:
            description: "Payment status: Auto-scheduled."
            published: false
            is_unique: true
            sortIndex: 0
            id: 18
            depreciated: false
          REJECTED:
            description: "payment.status.types.rejected.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 7
            depreciated: false
          PROCESSED:
            description: "Payment status: Processed."
            published: false
            is_unique: true
            sortIndex: 0
            id: 3
            depreciated: false
          MANUAL_INITIATED:
            description: "Payment status: Manually initiated."
            published: false
            is_unique: true
            sortIndex: 0
            id: 20
            depreciated: false
          SUCCEEDED:
            description: "Payment status: Succeeded."
            published: false
            is_unique: true
            sortIndex: 0
            id: 5
            depreciated: false
          COMPLETED:
            description: "Payment status: Completed."
            published: false
            is_unique: true
            sortIndex: 0
            id: 4
            depreciated: false
          AUTO_INITIATED:
            description: "Payment status: Auto-initiated."
            published: false
            is_unique: true
            sortIndex: 0
            id: 19
            depreciated: false
          RETURNED:
            description: "Returned"
            published: false
            is_unique: true
            sortIndex: 0
            id: 34
            depreciated: false
          PENDING:
            description: "Payment status: Pending."
            published: false
            is_unique: true
            sortIndex: 0
            id: 1
            depreciated: false
          ACCEPTED:
            description: "Payment status: Accepted."
            published: false
            is_unique: true
            sortIndex: 0
            id: 15
            depreciated: false
          PAID:
            description: "payment.status.types.paid.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 6
            depreciated: false
          REVERSED:
            description: "Payment status: Reversed."
            published: false
            is_unique: true
            sortIndex: 0
            id: 27
            depreciated: false
          DEFERRED:
            description: "payment.status.types.deferred.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 10
            depreciated: false
          FAILED:
            description: "Payment status: Failed."
            published: false
            is_unique: true
            sortIndex: 0
            id: 22
            depreciated: false
          INACTIVE:
            description: "Payment status: Inactive."
            published: false
            is_unique: true
            sortIndex: 0
            id: 32
            depreciated: false
          ACTIVE:
            description: "Payment status: Active."
            published: false
            is_unique: true
            sortIndex: 0
            id: 31
            depreciated: false
          DEFERRED_INTERNAL:
            description: "payment.status.types.deferred_internal.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 11
            depreciated: false
          CANCELLED:
            description: "Payment status: Cancelled."
            published: false
            is_unique: true
            sortIndex: 0
            id: 25
            depreciated: false
          PENDING_PAYER_FUNDS:
            description: "payment.status.types.pending_payer_funds.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 21
            depreciated: false
          CLEARED:
            description: "payment.status.types.cleared.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 12
            depreciated: false
          PAYROLL_PENDING:
            description: "Payroll Pending"
            published: false
            is_unique: true
            sortIndex: 0
            id: 29
            depreciated: false
          EXPIRED:
            description: "Payment status: Expired."
            published: false
            is_unique: true
            sortIndex: 0
            id: 24
            depreciated: false
          REQUIRES_PAYMENT_STATUS:
            description: "Payment status: Requires a specific status."
            published: false
            is_unique: true
            sortIndex: 0
            id: 17
            depreciated: false
          SCHEDULED:
            description: "payment.status.types.scheduled.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 8
            depreciated: false
          PAYROLL_FINALIZED:
            description: "Payroll Finalized"
            published: false
            is_unique: true
            sortIndex: 0
            id: 30
            depreciated: false
          SUBMITTED:
            description: "payment.status.types.submitted.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 9
            depreciated: false
          PROCESSING:
            description: "Payment status: Processing."
            published: false
            is_unique: true
            sortIndex: 0
            id: 2
            depreciated: false
          DENIED:
            description: "Payment status: Denied."
            published: false
            is_unique: true
            sortIndex: 0
            id: 23
            depreciated: false
          REFUNDED:
            description: "Payment status: Refunded."
            published: false
            is_unique: true
            sortIndex: 0
            id: 28
            depreciated: false
          REQUIRES_ACTION:
            description: "Payment status: Requires action."
            published: false
            is_unique: true
            sortIndex: 0
            id: 16
            depreciated: false
          FRAUD_REVIEW:
            description: "payment.status.types.fraud_review.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 13
            depreciated: false
          VOIDED:
            description: "Payment status: Voided."
            published: false
            is_unique: true
            sortIndex: 0
            id: 26
            depreciated: false
          FUNDED:
            description: "Funded"
            published: false
            is_unique: true
            sortIndex: 0
            id: 33
            depreciated: false
          APPROVED:
            description: "Payment status: Approved."
            published: false
            is_unique: true
            sortIndex: 0
            id: 14
            depreciated: false
      
      enum:
      - "CREATED"
      - "PENDING"
      - "PROCESSING"
      - "PROCESSED"
      - "COMPLETED"
      - "SUCCEEDED"
      - "PAID"
      - "REJECTED"
      - "SCHEDULED"
      - "SUBMITTED"
      - "DEFERRED"
      - "DEFERRED_INTERNAL"
      - "CLEARED"
      - "FRAUD_REVIEW"
      - "APPROVED"
      - "ACCEPTED"
      - "REQUIRES_ACTION"
      - "REQUIRES_PAYMENT_STATUS"
      - "AUTO_SCHEDULED"
      - "AUTO_INITIATED"
      - "MANUAL_INITIATED"
      - "PENDING_PAYER_FUNDS"
      - "FAILED"
      - "DENIED"
      - "EXPIRED"
      - "CANCELLED"
      - "VOIDED"
      - "REVERSED"
      - "REFUNDED"
      - "PAYROLL_PENDING"
      - "PAYROLL_FINALIZED"
      - "ACTIVE"
      - "INACTIVE"
      - "FUNDED"
      - "RETURNED"
  responses:
    NotFoundError:
      description: "The requested resource was not found."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
            
    BadRequestError:
      description: "The request was malformed, failed validation, o..."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
            
    UnauthorizedError:
      description: "Authentication failed. The access token is miss..."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
            
    ForbiddenError:
      description: "The authenticated user does not have the necess..."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
            
    ConflictError:
      description: "The request could not be completed because it c..."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
            
    ServerError:
      description: "An unexpected error occurred on the server whil..."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
            
