---
openapi: "3.0.1"
info:
  title: "Domain API Specification"
  description: "Automotive Retail Ontology."
  version: "1.0.0"
paths:
  /payment-events:
    get:
      tags:
      - "PaymentEvent"
      summary: "Retrieve a list of all PaymentEvent records."
      operationId: "listPaymentEvents"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of records to return."
        schema:
          maximum: 100
          minimum: 1
          type: "integer"
          exampleSetFlag: false
          default: 50
      - name: "cursor"
        in: "query"
        description: "starting point for next set of results"
        schema:
          type: "string"
          exampleSetFlag: false
      responses:
        "200":
          description: "A list of PaymentEvent records."
          content:
            application/json:
              schema:
                type: "array"
                exampleSetFlag: false
                items:
                  $ref: "#/components/schemas/PaymentEvent"
                  exampleSetFlag: false
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/ServerError"
    post:
      tags:
      - "PaymentEvent"
      summary: "Create a new PaymentEvent record."
      operationId: "createPaymentEvent"
      requestBody:
        description: "PaymentEvent data to create the new resource."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentEvent_Create"
              exampleSetFlag: false
        required: true
      responses:
        "201":
          description: "PaymentEvent created successfully."
          headers:
            Location:
              description: "The URI of the newly created resource."
              schema:
                type: "string"
                example: "//payment-events/PR-1234567"
                exampleSetFlag: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEvent"
                exampleSetFlag: false
        "400":
          $ref: "#/components/responses/BadRequestError"
        "409":
          $ref: "#/components/responses/ConflictError"
  /payment-events/{paymentEventKey}:
    get:
      tags:
      - "PaymentEvent"
      summary: "Retrieve a specific PaymentEvent record."
      operationId: "getPaymentEventById"
      responses:
        "200":
          description: "The requested PaymentEvent record."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEvent"
                exampleSetFlag: false
        "404":
          $ref: "#/components/responses/NotFoundError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
    put:
      tags:
      - "PaymentEvent"
      summary: "replace a PaymentEvent record."
      operationId: "replacePaymentEvent"
      requestBody:
        description: "Included Fields to be updated will be modified."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentEvent"
              exampleSetFlag: false
        required: true
      responses:
        "200":
          description: "Record updated successfully. Returns the updated record."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEvent"
                exampleSetFlag: false
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
    delete:
      tags:
      - "PaymentEvent"
      summary: "Delete a PaymentEvent Record"
      description: "Marks the PaymentEvent record as inactive or removes it entirely."
      operationId: "deletePaymentEventRecord"
      responses:
        "204":
          description: "Record successfully deleted (or deactivated)."
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
    patch:
      tags:
      - "PaymentEvent"
      summary: "Partially update a PaymentEvent record."
      operationId: "updatePaymentEvent"
      requestBody:
        description: "Included Fields to be updated will be modified."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentEvent_Update"
              exampleSetFlag: false
        required: true
      responses:
        "200":
          description: "Record updated successfully. Returns the updated record."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEvent"
                exampleSetFlag: false
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
    parameters:
    - name: "paymentEventKey"
      in: "path"
      description: "The unique identifier for the specific PaymentEvent."
      required: true
      schema:
        type: "string"
        example: "PR-1234567"
        exampleSetFlag: true
components:
  schemas: {}
