---
openapi: "3.0.1"
info:
  title: "Domain API Specification"
  description: "Automotive Retail Ontology."
  version: "1.0.0"
paths: {}
components:
  schemas:
    Codes:
      type: "array"
      description: "List of Codes"
      
      items:
        type: "string"
        
    Link:
      type: "array"
      description: "Quick Link"
      
      items:
        type: "string"
        
    Links:
      type: "array"
      description: "List of Links"
      
      items:
        type: "string"
        
    PaymentEvent:
      type: "object"
      properties:
        payment_event_id:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_]+$"
          type: "string"
          description: "Unique identifier value for the reference record. Pattern:\
            \ ^[a-zA-Z0-9_]+$ (Alphanumeric and underscores allowed)"
          nullable: false
          
        payment_event_key:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_]+$"
          type: "string"
          description: "Unique key value for the reference record. Pattern: ^[a-zA-Z0-9_]+$\
            \ (Alphanumeric and underscores allowed)"
          nullable: false
          
        payment_key:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_]+$"
          type: "string"
          description: "The unique key identifying the referenced PaymentMethod (Party)\
            \ aggregate. Pattern: ^[a-zA-Z0-9_]+$ (Alphanumeric and underscores allowed)"
          nullable: false
          
        context:
          type: "string"
          description: "Context or domain of the reference."
          nullable: true
          
        old_payment_status_type:
          description: "Type of payment method used for the transaction (e.g., CREDIT_CARD,\
            \ ACH)."
          $ref: "#/components/schemas/PaymentStatusTypes"
          nullable: false
          example: "CREDIT_CARD"
          exampleSetFlag: true
        new_payment_status_type:
          description: "Type of payment method used for the transaction (e.g., CREDIT_CARD,\
            \ ACH)."
          $ref: "#/components/schemas/PaymentStatusTypes"
          nullable: false
          example: "CREDIT_CARD"
          exampleSetFlag: true
        payment_transaction_id:
          type: "string"
          description: "Optional: The specific transaction ID causing the status change."
          nullable: true
          
        occurrence_date_time:
          type: "string"
          description: "The date and time the paymentMethod was associated with the\
            \ order."
          format: "date-time"
          nullable: false
          
      description: "Reference to a PaymentMethod (Party) Aggregate Root for financing\
        \ details."
      
    PaymentEvent_Create:
      required:
      - "payment_event_key"
      type: "object"
      description: "PaymentEvent Create for Post"
      exampleSetFlag: true
      allOf:
      - $ref: "#/components/schemas/PaymentEvent"
        
    PaymentEvent_Update:
      type: "object"
      properties:
        new_payment_status_type:
          description: "Type of payment method used for the transaction (e.g., CREDIT_CARD,\
            \ ACH)."
          $ref: "#/components/schemas/PaymentStatusTypes"
          nullable: false
          example: "CREDIT_CARD"
          exampleSetFlag: true
        context:
          type: "string"
          description: "Context or domain of the reference."
          nullable: true
          
        old_payment_status_type:
          description: "Type of payment method used for the transaction (e.g., CREDIT_CARD,\
            \ ACH)."
          $ref: "#/components/schemas/PaymentStatusTypes"
          nullable: false
          example: "CREDIT_CARD"
          exampleSetFlag: true
        occurrence_date_time:
          type: "string"
          description: "The date and time the paymentMethod was associated with the\
            \ order."
          format: "date-time"
          nullable: false
          
      description: "PaymentEvent Update for Patch and Put"
      exampleSetFlag: true
    PaymentStatusTypes:
      type: "string"
      description: "types of payment status."
      extensions:
        x-governance:
          CREATED:
            description: "Payment status: Created."
            published: false
            is_unique: true
            sortIndex: 0
            id: 0
            depreciated: false
          AUTO_SCHEDULED:
            description: "Payment status: Auto-scheduled."
            published: false
            is_unique: true
            sortIndex: 0
            id: 18
            depreciated: false
          REJECTED:
            description: "payment.status.types.rejected.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 7
            depreciated: false
          PROCESSED:
            description: "Payment status: Processed."
            published: false
            is_unique: true
            sortIndex: 0
            id: 3
            depreciated: false
          MANUAL_INITIATED:
            description: "Payment status: Manually initiated."
            published: false
            is_unique: true
            sortIndex: 0
            id: 20
            depreciated: false
          SUCCEEDED:
            description: "Payment status: Succeeded."
            published: false
            is_unique: true
            sortIndex: 0
            id: 5
            depreciated: false
          COMPLETED:
            description: "Payment status: Completed."
            published: false
            is_unique: true
            sortIndex: 0
            id: 4
            depreciated: false
          AUTO_INITIATED:
            description: "Payment status: Auto-initiated."
            published: false
            is_unique: true
            sortIndex: 0
            id: 19
            depreciated: false
          RETURNED:
            description: "Returned"
            published: false
            is_unique: true
            sortIndex: 0
            id: 34
            depreciated: false
          PENDING:
            description: "Payment status: Pending."
            published: false
            is_unique: true
            sortIndex: 0
            id: 1
            depreciated: false
          ACCEPTED:
            description: "Payment status: Accepted."
            published: false
            is_unique: true
            sortIndex: 0
            id: 15
            depreciated: false
          PAID:
            description: "payment.status.types.paid.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 6
            depreciated: false
          REVERSED:
            description: "Payment status: Reversed."
            published: false
            is_unique: true
            sortIndex: 0
            id: 27
            depreciated: false
          DEFERRED:
            description: "payment.status.types.deferred.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 10
            depreciated: false
          FAILED:
            description: "Payment status: Failed."
            published: false
            is_unique: true
            sortIndex: 0
            id: 22
            depreciated: false
          INACTIVE:
            description: "Payment status: Inactive."
            published: false
            is_unique: true
            sortIndex: 0
            id: 32
            depreciated: false
          ACTIVE:
            description: "Payment status: Active."
            published: false
            is_unique: true
            sortIndex: 0
            id: 31
            depreciated: false
          DEFERRED_INTERNAL:
            description: "payment.status.types.deferred_internal.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 11
            depreciated: false
          CANCELLED:
            description: "Payment status: Cancelled."
            published: false
            is_unique: true
            sortIndex: 0
            id: 25
            depreciated: false
          PENDING_PAYER_FUNDS:
            description: "payment.status.types.pending_payer_funds.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 21
            depreciated: false
          CLEARED:
            description: "payment.status.types.cleared.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 12
            depreciated: false
          PAYROLL_PENDING:
            description: "Payroll Pending"
            published: false
            is_unique: true
            sortIndex: 0
            id: 29
            depreciated: false
          EXPIRED:
            description: "Payment status: Expired."
            published: false
            is_unique: true
            sortIndex: 0
            id: 24
            depreciated: false
          REQUIRES_PAYMENT_STATUS:
            description: "Payment status: Requires a specific status."
            published: false
            is_unique: true
            sortIndex: 0
            id: 17
            depreciated: false
          SCHEDULED:
            description: "payment.status.types.scheduled.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 8
            depreciated: false
          PAYROLL_FINALIZED:
            description: "Payroll Finalized"
            published: false
            is_unique: true
            sortIndex: 0
            id: 30
            depreciated: false
          SUBMITTED:
            description: "payment.status.types.submitted.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 9
            depreciated: false
          PROCESSING:
            description: "Payment status: Processing."
            published: false
            is_unique: true
            sortIndex: 0
            id: 2
            depreciated: false
          DENIED:
            description: "Payment status: Denied."
            published: false
            is_unique: true
            sortIndex: 0
            id: 23
            depreciated: false
          REFUNDED:
            description: "Payment status: Refunded."
            published: false
            is_unique: true
            sortIndex: 0
            id: 28
            depreciated: false
          REQUIRES_ACTION:
            description: "Payment status: Requires action."
            published: false
            is_unique: true
            sortIndex: 0
            id: 16
            depreciated: false
          FRAUD_REVIEW:
            description: "payment.status.types.fraud_review.desc"
            published: false
            is_unique: true
            sortIndex: 0
            id: 13
            depreciated: false
          VOIDED:
            description: "Payment status: Voided."
            published: false
            is_unique: true
            sortIndex: 0
            id: 26
            depreciated: false
          FUNDED:
            description: "Funded"
            published: false
            is_unique: true
            sortIndex: 0
            id: 33
            depreciated: false
          APPROVED:
            description: "Payment status: Approved."
            published: false
            is_unique: true
            sortIndex: 0
            id: 14
            depreciated: false
      
      enum:
      - "CREATED"
      - "PENDING"
      - "PROCESSING"
      - "PROCESSED"
      - "COMPLETED"
      - "SUCCEEDED"
      - "PAID"
      - "REJECTED"
      - "SCHEDULED"
      - "SUBMITTED"
      - "DEFERRED"
      - "DEFERRED_INTERNAL"
      - "CLEARED"
      - "FRAUD_REVIEW"
      - "APPROVED"
      - "ACCEPTED"
      - "REQUIRES_ACTION"
      - "REQUIRES_PAYMENT_STATUS"
      - "AUTO_SCHEDULED"
      - "AUTO_INITIATED"
      - "MANUAL_INITIATED"
      - "PENDING_PAYER_FUNDS"
      - "FAILED"
      - "DENIED"
      - "EXPIRED"
      - "CANCELLED"
      - "VOIDED"
      - "REVERSED"
      - "REFUNDED"
      - "PAYROLL_PENDING"
      - "PAYROLL_FINALIZED"
      - "ACTIVE"
      - "INACTIVE"
      - "FUNDED"
      - "RETURNED"
