openapi: 3.0.1
info:
  title: Automotive Retail Systems API - BudgetVarianceReport
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: BudgetVarianceReports
  description: Tag Description BudgetVarianceReports
- name: Health
  description: Tag Description Health
paths:
  /budget-variance-reports:
    get:
      tags:
      - BudgetVarianceReports
      summary: Returns a paginated list of budget variance report
      description: a list of BudgetVarianceReport
      operationId: listBudgetVarianceReports
      parameters:
      - $ref: "#/components/parameters/EndDateQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/StartDateQuery"
      - $ref: "#/components/parameters/StatusQuery"
      - $ref: "#/components/parameters/UnitIdQuery"
      - $ref: "#/components/parameters/VINQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/BudgetVarianceReportCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    post:
      tags:
      - BudgetVarianceReports
      summary: create budget variance report
      description: create BudgetVarianceReport
      operationId: createBudgetVarianceReport
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BudgetVarianceReport"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/BudgetVarianceReportCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /budget-variance-reports/{budget-variance-report-key}:
    get:
      tags:
      - BudgetVarianceReports
      summary: Retrieve a single item scoped by a key BudgetVarianceReport entities.
      description: Retrieve a single item scoped by a key BudgetVarianceReport entities.
      operationId: getBudgetVarianceReportByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/BudgetVarianceReportKey"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      responses:
        "200":
          $ref: "#/components/responses/BudgetVarianceReportSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    put:
      tags:
      - BudgetVarianceReports
      summary: Replace values in a single item scoped by a key BudgetVarianceReport
        entities.
      description: Replace values in a single item scoped by a key BudgetVarianceReport
        entities.
      operationId: replaceBudgetVarianceReportByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/BudgetVarianceReportKey"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BudgetVarianceReport"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/BudgetVarianceReportUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    delete:
      tags:
      - BudgetVarianceReports
      summary: Delete a single item scoped by a key BudgetVarianceReport
      description: delete a BudgetVarianceReport
      operationId: deleteBudgetVarianceReport
      parameters:
      - $ref: "#/components/parameters/ReasonQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/BudgetVarianceReportKey"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      responses:
        "200":
          $ref: "#/components/responses/BudgetVarianceReportSingleResponse"
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    patch:
      tags:
      - BudgetVarianceReports
      summary: Update a single item scoped by a key BudgetVarianceReport
      description: update a single item
      operationId: updateBudgetVarianceReportByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/BudgetVarianceReportKey"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/BudgetVarianceReport"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/BudgetVarianceReportUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /budget-variance-report/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the BudgetVarianceReport root node.
      operationId: healthBudgetVarianceReport
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /budget-variance-reports/search:
    post:
      tags:
      - Search
      summary: search budget variance report
      description: Execute a complex query using a criteria object.
      operationId: searchBudgetVarianceReport
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BudgetVarianceReportCriteria"
      responses:
        "201":
          $ref: "#/components/responses/BudgetVarianceReportCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /budget-variance-report/{budget-variance-report-key}/notifications:
    post:
      tags:
      - Lifecycle
      summary: Receive Status Notification
      description: Updates the workflow state of the BudgetVarianceReport aggregate
        root via a LifecycleStatusEvent
      operationId: notifyBudgetVarianceReportStatusinstanceChange
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BudgetVarianceReportKey"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      requestBody:
        description: "The LifecycleStatusEvent payload containing transition data,\
          \ actor info, and reason codes."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LifecycleStatusEvent"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/LifecycleStatusEventResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /budget-variance-report/notifications:
    post:
      tags:
      - Lifecycle
      summary: Receive Status Notification
      description: Updates the workflow state of the BudgetVarianceReport aggregate
        root via a LifecycleStatusEvent
      operationId: notifyBudgetVarianceReportStatuscollectionChange
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      requestBody:
        description: "The LifecycleStatusEvent Collection payload containing transition\
          \ data, actor info, and reason codes."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LifecycleStatusCollectionEvent"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/LifecycleStatusEventCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
components:
  schemas:
    AccountingPeriod:
      type: object
      properties:
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        period_desc:
          type: string
          description: Detailed narrative description of the period's scope.
          example: Third Quarter Fiscal Year 2026 - North American Operations
        accounting_period_id:
          type: string
          description: System-level unique identifier for the period record.
          example: ap-2026-07-v1
        accounting_period_key:
          type: string
          description: Business-logical key following the chronological YYYYMM format.
          example: "202607"
        period_name:
          type: string
          description: Short-hand display name for the period.
          example: July 2026
        start_date:
          type: string
          description: The inclusive start date of the period in ISO-8601 format.
          format: date
          example: 2026-04-15
        end_date:
          type: string
          description: The inclusive end date of the period in ISO-8601 format.
          format: date
          example: 2026-04-20
        accounting_period_status_type:
          $ref: "#/components/schemas/AccountingPeriodStatusTypes"
        fiscal_year:
          type: integer
          description: The 4-digit fiscal year designation.
          format: int32
          example: 2026
      description: "Defines a fiscal period, including its unique identifiers, start\
        \ and end dates, and current status."
    AccountingPeriodStatusTypes:
      type: string
      description: types of accounting period status.
      example: FUTURE
      enum:
      - FUTURE
      - OPEN
      - ADJUSTMENT
      - PENDING_CLOSURE
      - CLOSED
      - LOCKED
      - OTHER
    BudgetVarianceLineItem:
      type: object
      properties:
        budget_variance_line_item_id:
          type: string
          description: The unique ID for the report line item.
          example: "840277003880005632"
        budget_variance_line_item_key:
          type: string
          description: The unique ID for the report line item.
          example: "840277003880005633"
        general_ledger_account:
          $ref: "#/components/schemas/GeneralLedgerReference"
        control_account:
          $ref: "#/components/schemas/ControlAccountReference"
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        budgeted_amount:
          $ref: "#/components/schemas/Money"
        actual_amount:
          $ref: "#/components/schemas/Money"
        variance_detail:
          $ref: "#/components/schemas/VarianceDetail"
      description: "A line item within a Budget Variance Report, comparing budgeted\
        \ versus actual amounts for a specific account/category."
    BudgetVarianceReport:
      type: object
      properties:
        budget_variance_report_id:
          type: string
          description: The unique ID for the generated report.
          example: "840277003880005634"
        budget_variance_report_key:
          type: string
          description: The unique ID for the generated report.
          example: "840277003880005635"
        budget_variance_report_criteria:
          $ref: "#/components/schemas/BudgetVarianceReportCriteria"
        report_date:
          type: string
          description: The date and time the report was generated.
          format: date
          example: 2026-05-07
        accounting_period:
          $ref: "#/components/schemas/AccountingPeriod"
        line_items:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: List of variance line items representing differences between
            budgeted and actual financial values.
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            $ref: "#/components/schemas/BudgetVarianceLineItem"
      description: A financial report summarizing the differences between budgeted
        and actual financial performance for a given period.
    BudgetVarianceReportCriteria:
      type: object
      properties:
        budget_variance_report_criteria_id:
          type: string
          description: "The Accounting Period Key for which the report should be generated\
            \ (e.g., '2025Q1')."
          example: "840277003880005636"
        budget_variance_report_criteria_key:
          type: string
          description: "The Accounting Period Key for which the report should be generated\
            \ (e.g., '2025Q1')."
          example: "840277003880005637"
        accounting_period_key:
          type: string
          description: "The Accounting Period Key for which the report should be generated\
            \ (e.g., '2025Q1')."
          example: "840277003880005638"
        gl_account_keys:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: List of general ledger account identifiers used to filter the
            variance report.
          example: gl_account_keys
          items:
            type: string
        control_account_keys:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: List of control account identifiers used to filter the variance
            report.
          example: control_account_keys
          items:
            type: string
        financial_categories:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: List of financial categories used to segment the variance analysis.
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            $ref: "#/components/schemas/FinancialCategoryTypes"
        organization_id:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: Unique system-specific internal identifier.
          example: organization_id
          items:
            type: string
        min_variance_percentage:
          type: string
          description: "Minimum absolute variance percentage to include a line item\
            \ (e.g., only show lines where variance is > 5%)."
          example: "5.0"
      description: Defines the criteria and scope for generating a Budget Variance
        Report.
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277003880005639"
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277003880005640"
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277003880005641"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:17:45Z
      description: External system identifier
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:17:45Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: A unique identifier for this specific request.
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: Field-level validation errors or granular diagnostic information.
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            type: object
            properties:
              field:
                type: string
                description: The JSON path or field name that caused the error.
                example: payrollId
              issue:
                type: string
                description: The specific validation rule that failed.
                example: must be unique
              rejected_value:
                type: string
                description: The value that was sent and rejected (only if non-sensitive).
                example: "12345"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      example: CAPEX
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
    GeneralLedgerReference:
      type: object
      properties:
        general_ledger_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
          example: "840277003884199936"
        general_ledger_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
          example: "840277003884199937"
        general_ledger_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
          example: "840277003884199938"
        context:
          type: string
          description: Context or domain of the reference
          example: FINANCE
        system_codes:
          $ref: "#/components/schemas/Codes"
        general_ledger_identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:17:45Z
      description: External system reference
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          description: Current health status of the service.
          example: UP
        version:
          type: string
          description: Version of the deployed service.
          example: 2.0.0
      description: Standard health check response body
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277003884199939"
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
          example: "840277003884199940"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        value:
          type: string
          description: The monetary or hours-based value of the event.
          example: user@example.com
        detail:
          type: string
          description: The monetary or hours-based value of the event.
          example: Primary identifier
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
          example: identifier_type value
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    LifecycleStatusCollectionEvent:
      title: LifecycleStatusEvents
      maxItems: 1000
      minItems: 1
      type: array
      description: A collection of lifecycle status events representing the historical
        or batch transition logs for an entity.
      example:
      - source_system_code: CRM_01
        lifecycle_status_event_key: EVT-20260206
        transition_to: APPROVED
      items:
        $ref: "#/components/schemas/LifecycleStatusEvent"
    LifecycleStatusEvent:
      title: LifecycleStatusEvent
      required:
      - lifecycle_status_event_key
      - source_system_code
      - transition_date_time
      - transition_from
      - transition_to
      type: object
      properties:
        lifecycle_status_event_key:
          title: Event Key
          pattern: "^EVT-[0-9]{8,12}$"
          type: string
          description: "Unique business identifier for the lifecycle event, following\
            \ the EVT prefix format."
          example: EVT-20260206
        source_system_code:
          title: Source System Code
          maxLength: 20
          minLength: 2
          type: string
          description: The mnemonic code of the system originating the status change.
          example: CRM_SYSTEM_01
        transition_date_time:
          title: Transition Timestamp
          type: string
          description: The exact UTC timestamp when the state transition occurred
            in ISO-8601 format.
          format: date-time
          example: 2026-04-23T11:04:17Z
        transition_from:
          title: Previous State
          type: string
          description: The state the lifecycle is transitioning FROM. Use 'START'
            for new entities.
          example: PENDING
        transition_to:
          title: Target State
          type: string
          description: The state the lifecycle is transitioning TO.
          example: APPROVED
        note:
          title: Transition Note
          maxLength: 1000
          type: string
          description: Audit trail comments or reason codes explaining the transition.
          example: RDR approved by NVS automated matching.
        identifiers:
          title: Related Identifiers
          minItems: 1
          type: array
          description: "A list of business identifiers (e.g., VIN, GUID) associated\
            \ with this lifecycle event."
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            $ref: "#/components/schemas/Identifier"
      description: Represents a formal transition event within the entity lifecycle
        workflow.
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        vin:
          $ref: "#/components/schemas/Vin"
        currency_code:
          type: string
          description: money.currency.code.desc
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        value:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    ProblemDetail:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. Provides
            human-readable documentation for the error.
          format: uri
          example: https://api.yourdomain.com/errors/validation-failed
        title:
          type: string
          description: "A short, human-readable summary of the problem type. It should\
            \ not change from occurrence to occurrence."
          example: Intent Validation Failed
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          format: int32
          example: 422
        detail:
          type: string
          description: "A human-readable explanation specific to this occurrence of\
            \ the problem, providing context on the failure."
          example: The export request could not be processed due to business constraints.
        instance:
          type: string
          description: "A URI reference that identifies the specific occurrence of\
            \ the problem (e.g., the specific resource path)."
          format: uri
          example: https://api.yourdomain.com/money/exports
        intent:
          type: string
          description: The specific agentic or business intent that was being processed
            when the error occurred.
          example: InitiateMoneyExport
        error_code:
          type: string
          description: "A stable, machine-readable string code for the error."
          example: INSUFFICIENT_FUNDS_FOR_EXPORT
        pointer:
          type: string
          description: A JSON Pointer to the field in the request body that caused
            the violation.
          example: "#/plate_number"
        violations:
          type: array
          description: "A collection of specific validation failures, including field\
            \ paths and localized messages."
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            type: object
            properties:
              pointer:
                type: string
                description: A JSON Pointer (RFC 6901) referencing the specific field
                  in the request body that caused the violation.
                example: "#/vehicle_license/plate_number"
              code:
                type: string
                description: "A stable, machine-readable string identifying the specific\
                  \ validation rule that was breached."
                example: PATTERN_MISMATCH
              message:
                type: string
                description: "A localized, human-readable description of the validation\
                  \ error."
                example: The plate number must be alphanumeric and between 1 and 20
                  characters.
              severity:
                type: string
                description: The impact level of this violation. ERROR blocks execution;
                  WARNING is advisory.
                example: ERROR
                enum:
                - ERROR
                - WARNING
                - INFO
              metadata:
                type: object
                additionalProperties:
                  type: string
                description: "Contextual key-value pairs to help the agent resolve\
                  \ the error (e.g., actual vs. expected limits)."
                example:
                  regex: "^[A-Z0-9]{1,20}$"
              rule:
                type: string
                example: INSUFFICIENT_FUNDS
              path:
                type: string
                example: date_range.start
            description: "An individual validation failure within a request, providing\
              \ a direct map to the offending field."
      description: "A standardized error response based on RFC 7807, extended with\
        \ domain-specific intent and validation violations."
    VarianceDetail:
      type: object
      properties:
        variance_amount:
          $ref: "#/components/schemas/Money"
        variance_percentage:
          type: string
          description: The variance expressed as a percentage of the budgeted amount.
          example: "12.5"
        favorable_indicator:
          type: boolean
          description: "Indicator if the variance is favorable (e.g., lower expenses,\
            \ higher revenue) relative to the budget."
          example: false
      description: Details the calculated variance between an actual amount and a
        budgeted amount.
    Vin:
      type: string
      description: Three-letter ISO-4217 currency code.
      example: USD
  responses:
    BudgetVarianceReportSingleResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/BudgetVarianceReport"
    LifecycleStatusEventResponse:
      description: "The LifecycleStatusEvent payload containing transition data, actor\
        \ info, and reason codes.  Returns LifecycleStatusEventResponse"
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Content-Location:
          $ref: "#/components/headers/ContentLocationHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LifecycleStatusEvent"
    BudgetVarianceReportCollectionResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Link:
          $ref: "#/components/headers/LinkHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: The list of BudgetVarianceReports entities.
                items:
                  $ref: "#/components/schemas/BudgetVarianceReport"
              has_more:
                type: boolean
                description: Indicates if more results are available.
              total_count:
                maximum: 2147483647
                minimum: 0
                type: integer
                description: The number of total entities.
                format: int32
                example: 2550
    ConflictError:
      description: The request could not be completed because it conflicts with the
        current state of the resource.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    ServerError:
      description: An unexpected error occurred on the server while processing the
        request.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    BudgetVarianceReportCreatedResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Content-Location:
          $ref: "#/components/headers/ContentLocationHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/BudgetVarianceReport"
    NotFoundError:
      description: The requested resource was not found.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    LifecycleStatusEventCollectionResponse:
      description: "The LifecycleStatusCollectionEvent payload containing transition\
        \ data, actor info, and reason codes.  Returns LifecycleStatusEventCollectionResponse"
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Content-Location:
          $ref: "#/components/headers/ContentLocationHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LifecycleStatusCollectionEvent"
    BadRequestError:
      description: "The request was malformed, failed validation, or contained invalid\
        \ parameters."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    UnauthorizedError:
      description: "Authentication failed. The access token is missing, expired, or\
        \ invalid."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    TooManyRequestsError:
      description: Rate Limit Error. Too Many Requests
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    HealthStatusResponse:
      description: Service is Operational
      headers:
        Transaction-Id:
          $ref: "#/components/headers/TransactionIDHeader"
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/HealthStatus"
    NotAcceptableError:
      description: The client requested a format (via Accept header) the server can't
        provide
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    ServiceUnavailableError:
      description: Unable to serve request.  Service is unavailable
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    GatewayTimeout:
      description: Timeout serving request
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    UnsupportedMediaTypeError:
      description: The request could not be completed because of missing or invalid
        content type
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    BudgetVarianceReportUpdatedResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Content-Location:
          $ref: "#/components/headers/ContentLocationHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/BudgetVarianceReport"
    NoContentSuccess:
      description: "No Content: The resource was successfully updated."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    ForbiddenError:
      description: The authenticated user does not have the necessary permissions.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    PreconditionFailedError:
      description: The request was not processed because the 'If-Match' header provided
        does not match the current ETag.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    UnprocessableEntity:
      description: "Unprocessable Content: Semantic logic error."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetail"
  parameters:
    ReasonQuery:
      name: reason
      in: query
      description: Reason parameters
      required: false
      style: form
      explode: true
      schema:
        maxLength: 100
        minLength: 0
        type: string
        example: "duplicate,soft_delete"
    OrgVersionHeader:
      name: Org-Version
      in: header
      description: "The version of the api for the organization that this request\
        \ adheres to (e.g., 2026.01)."
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 20
        minLength: 1
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    CacheControlHeader:
      name: Cache-Control
      in: header
      description: Tells the client and intermediary caches how to store the response.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: "max-age=300, private"
    SourceSystemHeader:
      name: Source-System
      in: header
      description: The system originating the transaction pulse.
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 25
        minLength: 2
        type: string
        example: GM_GLOBAL_NVS
    CreatorCodeHeader:
      name: Creator-Code
      in: header
      description: "Source System Identifier (e.g., TY for Toyota, CDK for DMS)."
      required: false
      style: simple
      explode: false
      schema:
        maxLength: 8
        minLength: 2
        type: string
        example: CDK
    PreferHeader:
      name: Prefer
      in: header
      description: JSON context for field selection and error logging behavior.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: "{'logsLabel': {context: 'NNA_API', value: 'RDR API'}}"
    LocaleHeader:
      name: Locale
      in: header
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: en-US
    IfMatchHeader:
      name: If-Match
      in: header
      description: Used for optimistic concurrency control. The request will fail
        (412) if the current ETag does not match this value.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: '"33a64df551425fcc55e4d42a148795d9f25f89d4"'
    StatusQuery:
      name: status
      in: query
      description: Status of RDR to filter for
      required: false
      style: form
      explode: true
      schema:
        type: string
        description: Status of RDR to filter for
        example: Approved
    EndDateQuery:
      name: end_date
      in: query
      description: The end date (YYYY-MM-DD). Defaults to current date + 14 days.
      required: false
      style: form
      explode: true
      schema:
        maxLength: 10
        minLength: 10
        pattern: "^\\d{4}-\\d{2}-\\d{2}$"
        type: string
        format: date
        example: 2026-02-09
    IfNoneMatchHeader:
      name: If-None-Match
      in: header
      description: Used for conditional GETs. The operation is executed only if the
        stored ETag does not match this value. Prevents 'Lost Updates' in high-concurrency
        Service Bounded Contexts.
      required: false
      style: simple
      explode: false
      schema:
        pattern: "^\"?[a-f0-9]+\"?$|^\\*$"
        type: string
        example: '"686897696a7c876b7e"'
    StartDateQuery:
      name: start_date
      in: query
      description: The start date (YYYY-MM-DD). Defaults to current date if omitted.
      required: false
      style: form
      explode: true
      schema:
        maxLength: 10
        minLength: 10
        pattern: "^\\d{4}-\\d{2}-\\d{2}$"
        type: string
        format: date
        example: 2026-02-09
    CountryCodeHeader:
      name: Country-Code
      in: header
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: "1"
    BudgetVarianceReportKey:
      name: budget-variance-report-key
      in: path
      description: The unique identifier for an BudgetVarianceReport entity.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: "840276233082691585"
    CorrelationIDHeader:
      name: Correlation-ID
      in: header
      description: A unique identifier spanning the entire business lifecycle. Essential
        for tracing logic across the 13 Bounded Contexts of the Automotive Retail
        Domain.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
    AgentHeader:
      name: Agent
      in: header
      description: "The URI profile of the calling Agent. Used to negotiate supported\
        \ Industry Extensions (e.g., ) via the protocol."
      required: false
      style: simple
      explode: false
      schema:
        pattern: ^https?://.+
        type: string
        format: uri
        example: https://xxx.com/agent/v1
    SortQuery:
      name: sort
      in: query
      description: Sort parameters
      required: false
      style: form
      explode: true
      schema:
        maxLength: 100
        minLength: 0
        type: string
        example: "name,country"
    IdempotencyKeyHeader:
      name: Idempotency-Key
      in: header
      description: A unique identifier sent by the client to allow the server to prevent
        duplicate processing of the same request.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
    VINQuery:
      name: vin
      in: query
      description: Vehicle Identification Number
      required: false
      style: form
      explode: true
      schema:
        type: string
        description: Vehicle Identification Number
        example: 5TFHY5F13KX799310
    OffsetQuery:
      name: offset
      in: query
      description: The number of entities to skip before starting to collect the result
        set. Used in conjunction with 'limit' for traditional page-based navigation.
      required: false
      style: form
      explode: true
      schema:
        minimum: 0
        type: integer
        format: int32
        example: 234
    LimitQuery:
      name: limit
      in: query
      description: The maximum number of entities to return in a single response page.
        Limits the 'data' array size to prevent payload bloat.
      required: false
      style: form
      explode: true
      schema:
        maximum: 100
        minimum: 1
        type: integer
        format: int32
        example: 100
    UnitIdQuery:
      name: unit_id
      in: query
      description: Vehicle UnitId
      required: false
      style: form
      explode: true
      schema:
        type: integer
        description: Vehicle UnitId
        format: int32
        example: 129375127
    RegionHeader:
      name: Region
      in: header
      description: The geographic or business region code.
      required: false
      style: simple
      explode: false
      schema:
        maxLength: 10
        minLength: 2
        type: string
        example: NE-01
    StandardsVersionHeader:
      name: Standards-Version
      in: header
      description: "The version of the STAR REST Standard this request adheres to\
        \ (e.g., 2026.01)."
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 20
        minLength: 1
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    TransactionIDHeader:
      name: Transaction-ID
      in: header
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: 550e8400-e29b-41d4-a716-446655440000
    BrandHeader:
      name: Brand
      in: header
      description: The automotive brand context for the RDR.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: TOYOTA
        default: TOYOTA
        enum:
        - TOYOTA
        - LEXUS
    SubscriberCodeHeader:
      name: Subscriber-Code
      in: header
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: 23a7d408-aed4-43f8-8af4-7a17f407m652
    DealerIdHeader:
      name: Dealer-Id
      in: header
      description: Unique 5-digit Dealer Identifier.
      required: false
      style: simple
      explode: false
      schema:
        maxLength: 5
        minLength: 5
        type: string
        example: "42278"
    PreferenceAppliedHeader:
      name: Preference-Applied
      in: header
      description: Indicates which client preferences (from the 'Prefer' request header)
        were honored by the server.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: return=minimal
  headers:
    CacheControlHeader:
      description: Tells the client and intermediary caches how to store the response.
      style: simple
      explode: false
      schema:
        type: string
        example: "max-age=300, private"
    VaryHeader:
      description: Instructs downstream caches that the response varies based on the
        Agent's profile or media type. Critical for Extension-based responses.
      style: simple
      explode: false
      schema:
        type: string
        example: "Accept, UCP-Agent"
        default: "Accept, UCP-Agent"
    ExpiresHeader:
      description: The timestamp after which the resource state is considered stale.
        Vital for volatile QQQ/SQQQ market data or real-time Inventory availability.
      style: simple
      explode: false
      schema:
        type: string
        format: date-time
        example: 2026-04-06T16:00:00Z
    LinkHeader:
      description: "RFC 8288 compliant links providing discovery for related resources\
        \ and 'Service Primitives' (e.g., :cancel, :execute). Essential for non-linear\
        \ state transitions across Bounded Contexts."
      style: simple
      explode: false
      schema:
        pattern: "^<[^>]+>;\\s*rel=\"[^\"]+\"(,\\s*<[^>]+>;\\s*rel=\"[^\"]+\")*$"
        type: string
        example: "<https://api.ai-sage.com/labor-operations/123:cancel>; rel=\"cancel\"\
          , <https://api.ai-sage.com/labor-operations/123>; rel=\"self\""
    LocationHeader:
      description: Relative URI of the newly created resource or status monitor for
        an asynchronous operation.
      style: simple
      explode: false
      schema:
        pattern: ^/.+
        type: string
        format: uri-reference
        example: /labor-operations/840276233086885888
    ContentLocationHeader:
      description: The URI of the specific representation returned in the payload.
        Used to disambiguate the 'Resource Identifier' from the 'Data Artifact' in
        multi-format or versioned Bounded Contexts.
      style: simple
      explode: false
      schema:
        pattern: ^/.+
        type: string
        format: uri-reference
        example: /labor-operations/840276233086885889
    TransactionIDHeader:
      description: Echoes the unique identifier for the specific atomic unit of work
        processed by the server.
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    CorrelationIDHeader:
      description: Echoes the unique identifier spanning the entire business lifecycle
        for cross-context tracing.
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    StandardsVersionHeader:
      description: The version of the STAR REST Standard the response adheres to.
      style: simple
      explode: false
      schema:
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    OrgVersionHeader:
      description: The version of the organization schema and API the response adheres
        to.
      style: simple
      explode: false
      schema:
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    AgentHeader:
      description: The unique identifier of the agent or user executing this method.
      style: simple
      explode: false
      schema:
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    ETagHeader:
      description: An entity tag (ETag) is an identifier for a specific version of
        a resource.
      style: simple
      explode: false
      schema:
        type: string
        example: '"33a64df551425fcc55e4d42a148795d9f25f89d4"'
    LastModifiedHeader:
      description: The ISO 8601 timestamp at which the resource was last modified
        in the underlying Postgres/Saga store.
      style: simple
      explode: false
      schema:
        type: string
        format: date-time
        example: 2026-04-06T15:47:17Z
    RateLimitLimitHeader:
      description: The maximum number of requests allowed in the current time window.
      style: simple
      explode: false
      schema:
        type: integer
        format: int32
        example: 1000
    RateLimitRemainingHeader:
      description: The number of requests remaining in the current time window.
      style: simple
      explode: false
      schema:
        type: integer
        format: int32
        example: 999
    RateLimitResetHeader:
      description: The number of seconds until the current rate limit window resets.
        Using 'Delta Seconds' avoids clock-skew issues between distributed systems.
      style: simple
      explode: false
      schema:
        minimum: 0
        type: integer
        format: int32
        example: 60
    RateLimitPolicyHeader:
      description: "The quota policy for the current user/agent. Format: 'limit;w=window'.\
        \ E.g., '1000;w=3600' means 1000 requests per hour."
      style: simple
      explode: false
      schema:
        pattern: ^\d+;w=\d+(;burst=\d+)?$
        type: string
        example: 1000;w=3600
  securitySchemes:
    industry-oauth:
      type: oauth2
      description: Centralized OAuth2 service for all industry members
      flows:
        clientCredentials:
          tokenUrl: https://auth.example.com/token
          scopes:
            standard:read: Read access
    member-api-key:
      type: apiKey
      name: X-API-KEY
      in: header
    bearer-auth:
      type: http
      description: JWT token obtained from authentication service
      scheme: bearer
      bearerFormat: JWT
    ApiKeyHeader:
      type: apiKey
      description: "A unique member-specific identifier used for API routing, quota\
        \ management, and rate limiting. This key does not replace the Authorization\
        \ bearer token for identity."
      name: X-API-Key
      in: header
    AuthorizationHeader:
      type: http
      description: Standard OIDC/OAuth 2.0 Bearer Token
      name: Authorization
      scheme: bearer
      bearerFormat: JWT
