openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Customer
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: CustomerLifecycleEvents
  description: Tag Description CustomerLifecycleEvents
- name: Customers
  description: Tag Description Customers
- name: GarageItems
  description: Tag Description GarageItems
- name: Garages
  description: Tag Description Garages
- name: Health
  description: Tag Description Health
- name: JurisdictionProfiles
  description: Tag Description JurisdictionProfiles
- name: LeadSources
  description: Tag Description LeadSources
- name: Narratives
  description: Tag Description Narratives
- name: PrivacyPolicyRules
  description: Tag Description PrivacyPolicyRules
paths:
  /customers:
    get:
      tags:
      - Customers
      summary: Returns a paginated list of customer
      description: a list of Customer
      operationId: listCustomers
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/CustomerCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    post:
      tags:
      - Customers
      summary: create customer
      description: create Customer
      operationId: createCustomer
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerCreate"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/CustomerCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /customers/{customer-key}:
    get:
      tags:
      - Customers
      summary: Retrieve a single item scoped by a key Customer entities.
      description: Retrieve a single item scoped by a key Customer entities.
      operationId: getCustomerByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CustomerKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/CustomerSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    put:
      tags:
      - Customers
      summary: Replace values in a single item scoped by a key Customer entities.
      description: Replace values in a single item scoped by a key Customer entities.
      operationId: replaceCustomerByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CustomerKey"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/CustomerUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    delete:
      tags:
      - Customers
      summary: Delete a single item scoped by a key Customer
      description: delete a Customer
      operationId: deleteCustomer
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/ReasonQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CustomerKey"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/CustomerSingleResponse"
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    patch:
      tags:
      - Customers
      summary: Update a single item scoped by a key Customer
      description: update a single item
      operationId: updateCustomerByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CustomerKey"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/CustomerUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/CustomerUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /customers/{customer-key}/vehicle-references:
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/vehicle-references/{vehicle-reference-key}:
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/customer-lifecycle-events:
    get:
      tags:
      - CustomerLifecycleEvents
      summary: Returns a paginated list of customer lifecycle event
      description: a list of CustomerLifecycleEvent
      operationId: listCustomerLifecycleEventsByCustomerKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/CustomerLifecycleEventCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/customer-lifecycle-events/{customer-lifecycle-event-key}:
    get:
      tags:
      - CustomerLifecycleEvents
      summary: Retrieve a single item scoped by a key CustomerLifecycleEvent entities.
      description: Retrieve a single item scoped by a key CustomerLifecycleEvent entities.
      operationId: getCustomerLifecycleEventByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CustomerLifecycleEventKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/CustomerLifecycleEventSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/insurance-references:
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/insurance-references/{insurance-reference-key}:
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/garages:
    get:
      tags:
      - Garages
      summary: Returns a paginated list of garage
      description: a list of Garage
      operationId: listGaragesByCustomerKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/GarageCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/garages/{garage-key}:
    get:
      tags:
      - Garages
      summary: Retrieve a single item scoped by a key Garage entities.
      description: Retrieve a single item scoped by a key Garage entities.
      operationId: getGarageByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/GarageKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/GarageSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/actor-references:
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/actor-references/{actor-reference-key}:
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/lead-sources:
    get:
      tags:
      - LeadSources
      summary: Returns a paginated list of lead source
      description: a list of LeadSource
      operationId: listLeadSourcesByCustomerKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/LeadSourceCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/lead-sources/{lead-source-key}:
    get:
      tags:
      - LeadSources
      summary: Retrieve a single item scoped by a key LeadSource entities.
      description: Retrieve a single item scoped by a key LeadSource entities.
      operationId: getLeadSourceByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/LeadSourceKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/LeadSourceSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/narratives:
    get:
      tags:
      - Narratives
      summary: Returns a paginated list of narrative
      description: a list of Narrative
      operationId: listNarrativesByCustomerKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/NarrativeCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/narratives/{narrative-key}:
    get:
      tags:
      - Narratives
      summary: Retrieve a single item scoped by a key Narrative entities.
      description: Retrieve a single item scoped by a key Narrative entities.
      operationId: getNarrativeByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/NarrativeKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/NarrativeSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/jurisdiction-profiles:
    get:
      tags:
      - JurisdictionProfiles
      summary: Returns a paginated list of jurisdiction profile
      description: a list of JurisdictionProfile
      operationId: listJurisdictionProfilesByCustomerKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/JurisdictionProfileCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/jurisdiction-profiles/{jurisdiction-profile-key}:
    get:
      tags:
      - JurisdictionProfiles
      summary: Retrieve a single item scoped by a key JurisdictionProfile entities.
      description: Retrieve a single item scoped by a key JurisdictionProfile entities.
      operationId: getJurisdictionProfileByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/JurisdictionProfileKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/JurisdictionProfileSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/privacy-policy-rules:
    get:
      tags:
      - PrivacyPolicyRules
      summary: Returns a paginated list of privacy policy rule
      description: a list of PrivacyPolicyRule
      operationId: listPrivacyPolicyRulesByCustomerKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PrivacyPolicyRuleCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/privacy-policy-rules/{privacy-policy-rule-key}:
    get:
      tags:
      - PrivacyPolicyRules
      summary: Retrieve a single item scoped by a key PrivacyPolicyRule entities.
      description: Retrieve a single item scoped by a key PrivacyPolicyRule entities.
      operationId: getPrivacyPolicyRuleByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/PrivacyPolicyRuleKey"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PrivacyPolicyRuleSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/garage-items:
    get:
      tags:
      - GarageItems
      summary: Returns a paginated list of garage item
      description: a list of GarageItem
      operationId: listGarageItemsByCustomerKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/GarageItemCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customers/{customer-key}/garage-items/{garage-item-key}:
    get:
      tags:
      - GarageItems
      summary: Retrieve a single item scoped by a key GarageItem entities.
      description: Retrieve a single item scoped by a key GarageItem entities.
      operationId: getGarageItemByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/GarageItemKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/GarageItemSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/CustomerKey"
  /customer/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the Customer root node.
      operationId: healthCustomer
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system-specific internal identifier.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: Unique global internal or external business key.
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: Unique global internal or external business key.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      example: USER
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: Unique global internal or external business key.
          example: "877595507541671936"
        address_reference_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507541671937"
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: address_types list
          example:
          - ORIGINAL
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
          example: 123 Main St
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Suite 400
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Building A
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Mail Stop 22
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: "Attention: Accounts Payable"
        city:
          type: string
          description: Name of the city.
          example: Atlanta
        country_code:
          type: string
          description: Full name of the country.
          example: US
        district:
          type: string
          description: Name of the district.
          example: North District
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
          example: Work Email
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
          example: "30303"
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
          example: GA
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      example: BILLING
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Unique global internal or external business key.
          example: "877595507545866240"
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique system-specific internal identifier.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique global internal or external business key.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: Unique global internal or external business key.
          example: "877595507545866241"
        communication_channel_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866242"
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
          example: user@example.com
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
          example: "{country_code=+1}"
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
          example: Work Email
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      example: PHONE
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      example: PENDING
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    Customer:
      type: object
      properties:
        customer_key:
          type: string
          description: Unique global internal or external business key.
          example: "877595507545866243"
        customer_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866244"
        customer_lifecycle_events:
          $ref: "#/components/schemas/CustomerLifecycleEvents"
        universal_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866245"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        preferred_language_code:
          type: string
          description: The customer's preferred language code.
          example: en-US
        language_codes:
          $ref: "#/components/schemas/Codes"
        occupations:
          $ref: "#/components/schemas/Codes"
        fingerprint:
          maxLength: 256
          minLength: 1
          type: string
          description: A stable fingerprint used to identify semantically equivalent
            evidence and prevent duplicate evidence records.
          example: d8a31abdfd53aa787285751969600e2f21799be3a69e35878fcc30bf4324d500
        first_time_buyer_indicator:
          type: boolean
          description: A boolean indicator for whether the customer is a first-time
            buyer.
          example: false
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        lead_sources:
          $ref: "#/components/schemas/LeadSources"
        garage:
          $ref: "#/components/schemas/Garage"
        document_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
      description: "Represents a customer, which can be a person or an organization.\
        \ This class includes core personal information, contact methods, financial\
        \ profiles, and related resources."
    CustomerCreate:
      required:
      - customer_key
      type: object
      description: Customer Create for Post
      allOf:
      - $ref: "#/components/schemas/Customer"
    CustomerLifecycleEvent:
      type: object
      properties:
        customer_lifecycle_event_id:
          type: string
          description: Unique system-specific internal identifier.
          example: EVT-99887766
        customer_lifecycle_event_key:
          type: string
          description: Unique global internal or external business key.
          example: LIFECYCLE-879234
        actor:
          $ref: "#/components/schemas/ActorReference"
        customer_lifecycle_event_type:
          $ref: "#/components/schemas/CustomerLifecycleEventTypes"
        occurrence_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
        resource_href:
          type: string
          description: The href of the resource associated with the event.
          format: href
          example: https://api.example.com/resources/90910
        resource_type:
          $ref: "#/components/schemas/ResourceTypes"
        resource_identifier:
          type: string
          description: The unique identifier of the resource associated with the event.
          example: RSC-88776655
        detail_name:
          type: string
          description: The name of the event detail.
          example: Order ID
        detail_desc:
          type: string
          description: A description of the event detail.
          example: The unique ID of the order being processed.
        detail_value:
          type: string
          description: The value of the event detail.
          example: ORD-44556677
        detail_key:
          type: string
          description: Unique global internal or external business key.
          example: ORDER_ID
        detail_code:
          type: string
          description: The code for the event detail.
          example: ORDER_STATUS_CHANGED
        resource_types:
          $ref: "#/components/schemas/ResourceTypes"
        previous_customer_status_type:
          $ref: "#/components/schemas/CustomerStatusTypes"
        resulting_customer_status_type:
          $ref: "#/components/schemas/CustomerStatusTypes"
        customer_update_type:
          $ref: "#/components/schemas/CustomerUpdateTypes"
      description: Lifecycle Event
    CustomerLifecycleEventTypes:
      type: string
      description: types of customer lifecycle events.
      example: CREATED
      enum:
      - CREATED
      - UPDATED
      - DELETED
      - ARCHIVED
      - ACTIVATED
      - DEACTIVATED
      - STATUS_CHANGED
      - SEARCHED
      - VIEWED
      - RETRIEVED
      - VEHICLE_ASSOCIATED
      - VEHICLE_DISASSOCIATED
      - LEAD_RECEIVED
      - LEAD_SOURCE_ADDED
      - LEAD_SOURCE_UPDATED
      - CONTACT_ATTEMPTED
      - CONTACTED
      - COMMUNICATION_SENT
      - COMMUNICATION_RECEIVED
      - REQUEST_RECEIVED
      - REQUEST_UPDATED
      - CONSENT_GRANTED
      - CONSENT_UPDATED
      - CONSENT_REVOKED
      - PROFILE_UPDATED
      - IDENTIFIER_ADDED
      - IDENTIFIER_UPDATED
      - IDENTIFIER_REMOVED
      - ADDRESS_ADDED
      - ADDRESS_UPDATED
      - ADDRESS_REMOVED
      - COMMUNICATION_CHANNEL_ADDED
      - COMMUNICATION_CHANNEL_UPDATED
      - COMMUNICATION_CHANNEL_REMOVED
      - PARTY_RELATIONSHIP_ADDED
      - PARTY_RELATIONSHIP_UPDATED
      - PARTY_RELATIONSHIP_REMOVED
      - MERGED
      - DUPLICATE_IDENTIFIED
      - DUPLICATE_RESOLVED
      - DATA_VALIDATED
      - DATA_CORRECTED
      - EXPORTED
      - IMPORTED
      - SYNCHRONIZED
      - OTHER
    CustomerLifecycleEvents:
      type: array
      items:
        $ref: "#/components/schemas/CustomerLifecycleEvent"
    CustomerStatusTypes:
      type: string
      description: types of customer status.
      example: ACTIVE
      enum:
      - ACTIVE
      - INACTIVE
      - PROSPECT
      - CUSTOMER
      - DORMANT
      - ARCHIVED
      - DELETED
      - MERGED
      - UNKNOWN
    CustomerUpdate:
      type: object
      properties:
        customer_lifecycle_events:
          $ref: "#/components/schemas/CustomerLifecycleEvents"
        lead_sources:
          $ref: "#/components/schemas/LeadSources"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        fingerprint:
          maxLength: 256
          minLength: 1
          type: string
          description: A stable fingerprint used to identify semantically equivalent
            evidence and prevent duplicate evidence records.
          example: d8a31abdfd53aa787285751969600e2f21799be3a69e35878fcc30bf4324d500
        garage:
          $ref: "#/components/schemas/Garage"
        preferred_language_code:
          type: string
          description: The customer's preferred language code.
          example: en-US
        occupations:
          $ref: "#/components/schemas/Codes"
        document_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
        first_time_buyer_indicator:
          type: boolean
          description: A boolean indicator for whether the customer is a first-time
            buyer.
          example: false
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        language_codes:
          $ref: "#/components/schemas/Codes"
      description: Customer Update for Patch and Put
    CustomerUpdateTypes:
      type: string
      description: types of customer updates.
      example: INITIAL_DATA
      enum:
      - INITIAL_DATA
      - NEW_CUSTOMER
      - CUSTOMER_UPDATED
      - CUSTOMER_DELETED
      - VEHICLE_ASSOCIATED
      - VEHICLE_DISASSOCIATED
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      example: SUN
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      example: MINUTES
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique global internal or external business key.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
        complete_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: Unique system-specific internal identifier.
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: Field-level validation errors or granular diagnostic information.
          example:
          - field: payrollId
            issue: must be unique
            rejected_value: "12345"
          items:
            $ref: "#/components/schemas/ErrorDetailItem"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    ErrorDetailItem:
      required:
      - field
      - issue
      type: object
      properties:
        field:
          type: string
          description: The JSON path or field name that caused the error.
          example: payrollId
        issue:
          type: string
          description: The specific validation rule that failed.
          example: must be unique
        rejected_value:
          type: string
          description: The value that was sent and rejected (only if non-sensitive).
          example: "12345"
      description: Field-level validation error or granular diagnostic information.
    Garage:
      type: object
      properties:
        garage_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866246"
        garage_key:
          type: string
          description: Unique global internal or external business key.
          example: "877595507545866247"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        garage_items:
          $ref: "#/components/schemas/GarageItems"
      description: Address
    GarageItem:
      type: object
      properties:
        garage_item_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866248"
        garage_item_key:
          type: string
          description: Unique global internal or external business key.
          example: "877595507545866249"
        vehicle_reference:
          $ref: "#/components/schemas/VehicleReference"
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: Unique global internal or external business key.
          example: VID-00088211
        primary_driver_indicator:
          type: boolean
          description: Indicates whether this vehicle is primarily driven by a main
            driver.
          example: false
        ownership_period:
          $ref: "#/components/schemas/EffectivePeriod"
        owners:
          $ref: "#/components/schemas/PartyReferences"
        drivers:
          $ref: "#/components/schemas/PartyReferences"
        garage_item_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The user-defined name or label for the garage item.
          example: Dad's Truck
        garage_item_status_type:
          $ref: "#/components/schemas/OwnershipStatusTypes"
        primary_vehicle_indicator:
          type: boolean
          description: Indicates whether this vehicle is the primary vehicle in the
            garage.
          example: true
        favorite_indicator:
          type: boolean
          description: Indicates whether the user marked this vehicle as a favorite.
          example: false
        garage_item_relationship_type:
          $ref: "#/components/schemas/PartyRelationshipTypes"
        garage_item_source:
          maxLength: 80
          minLength: 1
          type: string
          description: "The source system, user action, or provider that added the\
            \ vehicle to the garage."
          example: CUSTOMER_PORTAL
        added_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
        removed_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
        insurance_references:
          $ref: "#/components/schemas/InsuranceReferences"
        garage_item_codes:
          $ref: "#/components/schemas/Codes"
        garage_item_notes:
          maxLength: 4000
          minLength: 1
          type: string
          description: "User, owner, driver, or operational notes associated with\
            \ the garage item."
          example: Used primarily for weekend towing.
      description: Represents a vehicle and its associated information within a customer's
        garage.
    GarageItems:
      type: array
      items:
        $ref: "#/components/schemas/GarageItem"
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          description: Current health status of the service.
          example: UP
        version:
          type: string
          description: Version of the deployed service.
          example: 2.0.0
      description: Standard health check response body
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866250"
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique global internal or external business key.
          example: "877595507545866251"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        value:
          type: string
          description: The monetary or hours-based value of the event.
          example: user@example.com
        detail:
          type: string
          description: The monetary or hours-based value of the event.
          example: Primary identifier
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
          example: identifier_type value
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    InsuranceReference:
      type: object
      properties:
        insurance_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: Unique global internal or external business key.
          example: IREF-882211
        insurance_key:
          maxLength: 60
          minLength: 1
          type: string
          description: Unique global internal or external business key.
          example: INS-882211
        insurance_policy_number:
          maxLength: 120
          minLength: 1
          type: string
          description: The insurance policy number.
          example: POL-882211
        insurance_type:
          $ref: "#/components/schemas/InsuranceTypes"
        insurance_status_type:
          maxLength: 40
          minLength: 1
          type: string
          description: The lifecycle status associated with the insurance policy.
          example: ACTIVE
        insurance_company:
          $ref: "#/components/schemas/PartyReference"
        coverage_period:
          $ref: "#/components/schemas/EffectivePeriod"
        vehicle_reference:
          $ref: "#/components/schemas/VehicleReference"
      description: Current Insurance for a customer.
    InsuranceReferences:
      type: array
      items:
        $ref: "#/components/schemas/InsuranceReference"
    InsuranceTypes:
      type: string
      description: types of insurances.
      example: HEALTH
      enum:
      - HEALTH
      - AUTO
      - HOMEOWNERS
      - RENTERS
      - LIFE
      - DISABILITY
      - UMBRELLA
      - LONG_TERM_DISABILITY
      - TERM_LIFE
      - LONG_TERM_CARE
      - IDENTITY_THEFT_PROTECTION
      - PERSONAL
      - PROPERTY
      - MARINE
      - FIRE
      - LIABILITY
      - GUARANTEE
      - FLOOD
      - WIND
      - STORM
      - OTHER
      - PROFESSIONAL_LIABILITY
      - COMMERCIAL_AUTO
      - CYBER_LIABILITY
      - WORKERS_COMPENSATION
      - BUSINESS_INTERRUPTION
      - RENT_GUARANTEE
      - TITLE
      - PET
      - TRAVEL
      - EVENT
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: Unique global internal or external business key.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: Unique system-specific internal identifier.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
        occurrence_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
      description: nullable
    LeadSource:
      type: object
      properties:
        lead_source_key:
          type: string
          description: Unique global internal or external business key.
          example: "877595507545866252"
        lead_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866253"
        lead_source_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866254"
        source_name:
          type: string
          description: The name of the lead source.
          example: Thomas Newsletter
        source_key:
          type: string
          description: Unique global internal or external business key.
          example: "877595507545866255"
        source_level:
          type: string
          description: The level of the source.
          example: "223"
        up_type_code:
          type: string
          description: The UP type associated with the lead.
          example: "877595507508117552"
        lead_source_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: lead_source_types list
          example:
          - WALK_IN
          items:
            $ref: "#/components/schemas/LeadSourceTypes"
        lead_source_codes:
          $ref: "#/components/schemas/Codes"
        contact_name:
          type: string
          description: The name of the contact.
          example: Jason B. Thomas
        contact_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866256"
        lead_priority_ranking:
          type: string
          description: The priority ranking of the lead.
          example: "2"
        lead_interest_codes:
          $ref: "#/components/schemas/Codes"
        lead_receipt_codes:
          $ref: "#/components/schemas/Codes"
        lead_source_status_type:
          $ref: "#/components/schemas/LeadSourceStatusTypes"
        lead_type_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-08-18T16:51:13Z
        lead_comments:
          $ref: "#/components/schemas/Narratives"
        lead_source_href:
          type: string
          description: The URI to the lead source resource.
          format: href
          example: https://api.example.com/resources/50210
        lead_href:
          type: string
          description: The URI to the related lead resource.
          format: href
          example: https://api.example.com/resources/26222
      description: Represents a lead from a specific source.
    LeadSourceStatusTypes:
      type: string
      description: types of lead source status.
      example: PENDING
      enum:
      - PENDING
      - OPENED
      - ACTIVE
      - CONTACTED
      - QUALIFIED
      - CONVERTED
      - CLOSED
      - DISQUALIFIED
      - INVALID
    LeadSourceTypes:
      type: string
      description: types of lead sources.
      example: SOCIAL_MEDIA
      enum:
      - SOCIAL_MEDIA
      - EMAIL_MARKETING
      - PHONE_MARKETING
      - ORGANIC_SEARCH
      - PAID_SOCIAL
      - PAID_SEARCH
      - REFERRAL
      - DIRECT_TRAFFIC
      - OFFLINE_SOURCE
      - TRADITIONAL_ADVERTISING
      - PUBLIC_RELATIONS
      - DIRECT_MARKETING
      - AFFILIATE_PROGRAM
      - PARTNER_PROGRAM
      - EVENT_SHOW
      - EVENT_WEBINAR
      - EVENT_SPEAKING
      - NEW_CUSTOMER
      - EXISTING_CUSTOMER
      - WALK_IN
      - RENEWAL
      - RECALL
      - WARRANTY
      - WEB_FORM
      - CHATBOT
      - EMPLOYEE_REFERRAL
      - PRINT_AD
      - RADIO_AD
      - OTHER_CAMPAIGNS
    LeadSources:
      type: array
      items:
        $ref: "#/components/schemas/LeadSource"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: Unique global internal or external business key.
          example: "877595507545866257"
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
          example: English (US)
        description:
          type: string
          description: A detailed description of the alert message.
          example: Vehicle engine component.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
          example: en
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: US
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
          example: $
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
          example: America/New_York
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
          example: "###,###.##"
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      example: REDACT
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: Unique global internal or external business key.
          example: "877595507545866258"
        metric_name_value_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866259"
        header_sequence:
          type: string
          description: The header sequence for the metric value.
          example: "1"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
          example: user@example.com
        value_category:
          type: string
          description: The category of the metric value.
          example: EFFICIENCY
        value_description:
          type: string
          description: A description of the metric value.
          example: City fuel efficiency
        value_name:
          type: string
          description: The name of the metric value.
          example: City MPG
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: Unique global internal or external business key.
          example: "877595507545866260"
        narrative_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866261"
        correlation_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "877595507545866262"
[...]
