openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_value:
          type: string
          description: The unique value of the address referenc...
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, et..."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    ApplicationStatusTypes:
      type: string
      description: types of application status.
      enum:
      - INITIATING
      - ACTIVE
      - SALES_HOLD
      - PAYMENT_HOLD
      - FINANCE_HOLD
      - CUSTOMER_HOLD
      - APPROVED
      - DECLINED
      - REJECT
      - CANCELLED
      - ABANDON
      - COMPLETE
      - INACTIVE
      - INVALID
      - CLOSE
    Authorization:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this aut...
          format: date-time
          example: 2026-03-25T19:43:05Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is c...
          example: false
        authorization_key:
          type: string
          description: Business key uniquely identifying the au...
      description: Establish authorization level
    AuthorizationCreate:
      required:
      - authorization_key
      type: object
      description: Authorization Create for Post
      allOf:
      - $ref: "#/components/schemas/Authorization"
    AuthorizationUpdate:
      type: object
      properties:
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is c...
          example: false
        update_date_time:
          type: string
          description: Timestamp of the last update to this aut...
          format: date-time
          example: 2026-03-25T19:43:05Z
      description: Authorization Update for Patch and Put
    Authorizations:
      type: array
      items:
        $ref: "#/components/schemas/Authorization"
    CabTypes:
      type: string
      description: types of cabs.
      enum:
      - REGULAR
      - EXTENDED
      - CREW
      - MEGA
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
        code:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
        description:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ColorDetail:
      type: object
      properties:
        color_detail_id:
          type: string
          description: A unique id for the color detail.
        color_detail_key:
          type: string
          description: A unique key for the color detail.
        dealer_color:
          type: string
          description: The color as designated by the dealer.
        desc_color:
          type: string
          description: A descriptive name for the color.
        color_code:
          type: string
          description: The technical code of the color
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM...
        marketing_name:
          type: string
          description: The Marketing Name of the color
      description: "Details for a specific color, including dealer and OEM codes."
    ColorDetailCreate:
      required:
      - color_detail_key
      type: object
      description: ColorDetail Create for Post
      allOf:
      - $ref: "#/components/schemas/ColorDetail"
    ColorDetailUpdate:
      type: object
      properties:
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM...
        desc_color:
          type: string
          description: A descriptive name for the color.
        marketing_name:
          type: string
          description: The Marketing Name of the color
        color_code:
          type: string
          description: The technical code of the color
        dealer_color:
          type: string
          description: The color as designated by the dealer.
      description: ColorDetail Update for Patch and Put
    Comments:
      type: array
      items:
        type: string
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication cha...
        communication_channel_id:
          type: string
          description: The unique ID for the communication chan...
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: The value of the communication channel (...
        value_extension:
          type: string
          description: An optional extension for the communicat...
        label:
          type: string
          description: A label for the communication channel (e...
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is t...
          example: false
        preferences:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeSlot"
        authorizations:
          $ref: "#/components/schemas/Authorizations"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelCreate:
      required:
      - communication_channel_key
      type: object
      description: CommunicationChannel Create for Post
      allOf:
      - $ref: "#/components/schemas/CommunicationChannel"
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannelUpdate:
      type: object
      properties:
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        preferences:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeSlot"
        authorizations:
          $ref: "#/components/schemas/Authorizations"
        label:
          type: string
          description: A label for the communication channel (e...
        locale:
          $ref: "#/components/schemas/Locale"
        value:
          type: string
          description: The value of the communication channel (...
        value_extension:
          type: string
          description: An optional extension for the communicat...
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is t...
          example: false
      description: CommunicationChannel Update for Patch and Put
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ContractStatusTypes:
      type: string
      description: types of contract status.
      enum:
      - PENDING
      - APPROVED
      - CONDITIONAL
      - BOOKED
      - DECLINED
      - OTHER
    ContractTypes:
      type: string
      description: types of contracts.
      enum:
      - WARRANTY
      - SERVICE
      - EXTENDED_WARRANTY
      - MAINTENANCE
      - FINANCE
      - PROTECTION
      - OTHER
    ControlAccountTypes:
      type: string
      description: types of control accounts.
      enum:
      - ASSETS
      - FIXED_ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - LONG_TERM_LIABILITY
      - EQUITY
      - CLEARING
      - PROVISION
      - ROUNDING
      - REVENUE
      - OTHER_INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - TAX
      - DISCOUNT
      - REBATE
      - FEE
      - SERVICE
      - CREDIT
      - OTHER
      - DEALER
      - VEHICLE
      - ACCESSORIES
      - OPTION
      - CUSTOMER
      - VENDOR
      - EMPLOYEE
      - PRODUCT
      - REPAIR_ORDER
      - PARTS_SALES_ORDER
      - PACKAGE
      - REFERENCE
    CorrelationId:
      pattern: "^[a-zA-Z0-9-]+$"
      type: string
      description: The correlation ID or workflow execution...
      example: exec-uuid-99283-7716
    CorrelationIdCreate:
      required:
      - correlation_id_key
      type: string
      description: CorrelationId Create for Post
      allOf:
      - $ref: "#/components/schemas/CorrelationId"
    CorrelationIdUpdate:
      type: string
      description: CorrelationId Update for Patch and Put
    CountryCode:
      type: string
      description: The ISO 3116-1 alpha-2 country code of t...
      example: US
    CreditApplicationReference:
      type: object
      properties:
        credit_application_reference_id:
          type: string
          description: Unique identifier value
        credit_application_reference_key:
          type: string
          description: Unique identifier value
        credit_application_key:
          type: string
          description: Unique identifier value
        credit_parties:
          $ref: "#/components/schemas/PartyReferences"
        locale:
          $ref: "#/components/schemas/Locale"
        occurrence_date_time:
          type: string
          description: The date and time the financialForecast ...
          format: date-time
          example: 2026-03-25T19:43:05Z
        credit_application_name:
          type: string
          description: The name of the credit application.
        credit_application_date:
          type: string
          description: The date and time the financialForecast ...
          format: date
        confirmation_code:
          type: string
          description: The confirmation code for the credit app...
        application_status_type:
          $ref: "#/components/schemas/ApplicationStatusTypes"
        credit_application_events:
          $ref: "#/components/schemas/LifecycleEvents"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
      description: External system identifier
    CreditApplicationReferenceCreate:
      required:
      - credit_application_reference_key
      type: object
      description: CreditApplicationReference Create for Post
      allOf:
      - $ref: "#/components/schemas/CreditApplicationReference"
    CreditApplicationReferenceUpdate:
      type: object
      properties:
        credit_application_events:
          $ref: "#/components/schemas/LifecycleEvents"
        confirmation_code:
          type: string
          description: The confirmation code for the credit app...
        credit_application_date:
          type: string
          description: The date and time the financialForecast ...
          format: date
        credit_parties:
          $ref: "#/components/schemas/PartyReferences"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        credit_application_name:
          type: string
          description: The name of the credit application.
        locale:
          $ref: "#/components/schemas/Locale"
        application_status_type:
          $ref: "#/components/schemas/ApplicationStatusTypes"
        occurrence_date_time:
          type: string
          description: The date and time the financialForecast ...
          format: date-time
          example: 2026-03-25T19:43:05Z
      description: CreditApplicationReference Update for Patch and Put
    CreditContractIncludedIndicator:
      type: boolean
      description: Indicates if a formal credit contract or...
      example: true
    CreditContractIncludedIndicatorCreate:
      required:
      - credit_contract_included_indicator_key
      type: boolean
      description: CreditContractIncludedIndicator Create for Post
      allOf:
      - $ref: "#/components/schemas/CreditContractIncludedIndicator"
    CreditContractIncludedIndicatorUpdate:
      type: boolean
      description: CreditContractIncludedIndicator Update for Patch and Put
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currenc...
        currency_exchange_key:
          type: string
          description: Natural key or business identifier for t...
        source_currency:
          type: string
          description: Human-readable display value for the sou...
        target_currency:
          type: string
          description: Human-readable display value for the sou...
        currency_exchange_desc:
          type: string
          description: A descriptive title for the currencyExch...
        exchange_rate:
          type: string
          description: Human-readable display value for the sou...
        rate_date_time:
          type: string
          description: The date and time the rate was associate...
          format: date-time
          example: 2026-03-25T19:43:05Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DaysOfWeekTypes:
      type: string
      description: Status of the account
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DealStatusTypes:
      type: string
      description: types of deal status.
      enum:
      - IN_PROGRESS
      - ABANDONED
      - ACCEPTED
      - POSTED
      - FUNDED
      - REVERSED
    DealerCode:
      pattern: "^[A-Z0-9-]+$"
      type: string
      description: The OEM-assigned unique identifier for t...
      example: DLR-12345
    DealerCodeCreate:
      required:
      - dealer_code_key
      type: string
      description: DealerCode Create for Post
      allOf:
      - $ref: "#/components/schemas/DealerCode"
    DealerCodeUpdate:
      type: string
      description: DealerCode Update for Patch and Put
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      enum:
      - ONE_TIME
      - RECUR
      - MINUTES
      - HOURLY
      - DAILY
      - WEEKLY
      - BI_WEEKLY
      - SEMI_MONTHLY
      - MONTHLY
      - QUARTERLY
      - SEMI_YEAR
      - YEARLY
      - MULTI_YEAR
      - LIFETIME
      - CUSTOM
      - OTHER
    DurationUOMTypes:
      type: string
      description: types of duration u o ms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying ...
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently co...
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only..."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period ...
          format: date-time
          example: 2026-03-25T19:43:05Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (c...
          format: date-time
          example: 2026-03-25T19:43:05Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in IS...
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use ...
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of co...
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats b...
          example: true
        timeslot:
          $ref: "#/components/schemas/TimeSlot"
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    EngineTypes:
      type: string
      description: types of engines.
      enum:
      - ICE
      - THERMAL_INTERNAL
      - THERMAL_EXTERNAL
      - THERMAL_REACTION
      - ELECTRIC
      - PHYSICAL
      - HYBRID
      - OTHER
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: A unique key for the eventMessage record...
        event_message_id:
          type: string
          description: The unique ID for the eventMessage.
        event_actor_key:
          type: string
          description: The ID of the actor for the event.
        event_actor_name:
          type: string
          description: The name of the actor for the event.
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-03-25T19:43:05Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belo...
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
        event_message_code:
          type: string
          description: The code for the eventMessage.
        event_message_value:
          type: string
          description: The value of the eventMessage.
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessag...
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      enum:
      - INSTRUCTION
      - REASONING
      - RESPONSE
      - TOOL_CALL
      - TOOL_OUTPUT
      - ACTION_CONFIRMATION
      - COMPENSATION
      - RETRY_SIGNAL
      - ERROR_REPORT
      - DELEGATION
      - BROADCAST
      - CRITIQUE
      - LOGGING
      - AUDIT
      - HEARTBEAT
      - UNKNOWN
    EventMessages:
      type: array
      items:
        $ref: "#/components/schemas/EventMessage"
    Feature:
      type: object
      properties:
        feature_id:
          type: string
          description: Unique identifier for the  feature categ...
          example: feat-cat-99821
        feature_key:
          type: string
          description: Natural business key for the feature cat...
          example: INTERIOR_DIMENSIONS
        header:
          type: string
          description: The display header text for the feature ...
          example: "Interior dimensions, front/rear (in.)"
        description:
          type: string
          description: Brief description of the feature set.
          example: EFC Other than Std Feature Details
        feature_details:
          $ref: "#/components/schemas/FeatureItems"
      description: not nullable
    FeatureCreate:
      required:
      - feature_key
      type: object
      description: Feature Create for Post
      allOf:
      - $ref: "#/components/schemas/Feature"
    FeatureItem:
      type: object
      properties:
        feature_item_id:
          type: string
          description: Internal unique identifier for the item ...
        feature_item_key:
          type: string
          description: Internal unique identifier for the item ...
        name:
          type: string
          description: The name of the feature.
          example: Headroom
        value:
          type: string
          description: The value or description of the feature.
          example: 3.5L V6 DOHC
      description: Key value pair of feature's name and value.
    FeatureItemCreate:
      required:
      - feature_item_key
      type: object
      description: FeatureItem Create for Post
      allOf:
      - $ref: "#/components/schemas/FeatureItem"
    FeatureItemUpdate:
      type: object
      properties:
        name:
          type: string
          description: The name of the feature.
          example: Headroom
        value:
          type: string
          description: The value or description of the feature.
          example: 3.5L V6 DOHC
      description: FeatureItem Update for Patch and Put
    FeatureItems:
      type: array
      items:
        $ref: "#/components/schemas/FeatureItem"
    FeatureUpdate:
      type: object
      properties:
        header:
          type: string
          description: The display header text for the feature ...
          example: "Interior dimensions, front/rear (in.)"
        description:
          type: string
          description: Brief description of the feature set.
          example: EFC Other than Std Feature Details
        feature_details:
          $ref: "#/components/schemas/FeatureItems"
      description: Feature Update for Patch and Put
    Features:
      type: array
      items:
        $ref: "#/components/schemas/Feature"
    FuelTypes:
      type: string
      description: types of fuels.
      enum:
      - GASOLINE
      - DIESEL
      - BIO_DIESEL
      - ETHANOL
      - ELECTRIC
      - HYDROGEN
      - NATURAL_GAS
      - PROPANE
      - METHANOL
      - DIESEL_OID_MDF
      - SOLAR_OIL_HSD
      - KEROSENE
      - AVIATION_TURBINE_AVTUR
      - AVIATION_GASOLINE_AVGAS
      - P_SERIES
      - OTHER
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the...
        detail:
          type: string
          description: The monetary or hours-based value of the...
        identifier_type:
          type: string
          description: The monetary or hours-based value of the...
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Insurance:
      type: object
      properties:
        insurance_key:
          type: string
          description: A unique key for the insurance record.
        insurance_id:
          type: string
          description: The unique ID for the insurance record.
        insurance_type:
          $ref: "#/components/schemas/InsuranceTypes"
        insurance_company:
          $ref: "#/components/schemas/PartyReference"
        insurance_agent:
          $ref: "#/components/schemas/PartyReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        plan_codes:
          $ref: "#/components/schemas/Codes"
        plan_types:
          $ref: "#/components/schemas/Codes"
        agreement_number:
          type: string
          description: The insurance policy number.
        insurance_policy_number:
          type: string
          description: The insurance policy number.
        effective_date:
          type: string
          description: The effective date of the insurance poli...
          format: date
        expiration_date:
          type: string
          description: The expiration date of the insurance pol...
          format: date
        plan_coverage:
          $ref: "#/components/schemas/MetricValue"
        expiration_mileage:
          $ref: "#/components/schemas/MetricValue"
        insured_person_name:
          type: string
          description: The name of the insured person.
        description:
          type: string
          description: A general description of the insurance.
        confirmation_code:
          type: string
          description: The confirmation code for the policy.
        policy_holder:
          $ref: "#/components/schemas/PolicyHolder"
        insurance_terms:
          $ref: "#/components/schemas/InsuranceTerms"
        links:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Link"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
      description: nullable
    InsuranceCreate:
      required:
      - insurance_key
      type: object
      description: Insurance Create for Post
      allOf:
      - $ref: "#/components/schemas/Insurance"
    InsuranceTerm:
      type: object
      properties:
        insurance_term_key:
          type: string
          description: A unique key for the insurance term reco...
        term_id:
          type: string
          description: The unique ID for the insurance term.
        term_name:
          type: string
          description: The name of the insurance term.
        term_desc:
          type: string
          description: A description of the insurance term.
        price:
          $ref: "#/components/schemas/Price"
      description: Current Insurance Term for a customer.
    InsuranceTermCreate:
      required:
      - insurance_term_key
      type: object
      description: InsuranceTerm Create for Post
      allOf:
      - $ref: "#/components/schemas/InsuranceTerm"
    InsuranceTermUpdate:
      type: object
      properties:
        term_name:
          type: string
          description: The name of the insurance term.
        price:
          $ref: "#/components/schemas/Price"
        term_desc:
          type: string
          description: A description of the insurance term.
      description: InsuranceTerm Update for Patch and Put
    InsuranceTerms:
      type: array
      items:
        $ref: "#/components/schemas/InsuranceTerm"
    InsuranceTypes:
      type: string
      description: types of insurances.
      enum:
      - HEALTH
      - AUTO
      - HOMEOWNERS
      - RENTERS
      - LIFE
      - DISABILITY
      - UMBRELLA
      - LONG_TERM_DISABILITY
      - TERM_LIFE
      - LONG_TERM_CARE
      - IDENTITY_THEFT_PROTECTION
      - PERSONAL
      - PROPERTY
      - MARINE
      - FIRE
      - LIABILITY
      - GUARANTEE
      - FLOOD
      - WIND
      - STORM
      - OTHER
      - PROFESSIONAL_LIABILITY
      - COMMERCIAL_AUTO
      - CYBER_LIABILITY
      - WORKERS_COMPENSATION
      - BUSINESS_INTERRUPTION
      - RENT_GUARANTEE
      - TITLE
      - PET
      - TRAVEL
      - EVENT
    InsuranceUpdate:
      type: object
      properties:
        insurance_terms:
          $ref: "#/components/schemas/InsuranceTerms"
        expiration_mileage:
          $ref: "#/components/schemas/MetricValue"
        confirmation_code:
          type: string
          description: The confirmation code for the policy.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        description:
          type: string
          description: A general description of the insurance.
        policy_holder:
          $ref: "#/components/schemas/PolicyHolder"
        insurance_company:
          $ref: "#/components/schemas/PartyReference"
        expiration_date:
          type: string
          description: The expiration date of the insurance pol...
          format: date
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        insurance_type:
          $ref: "#/components/schemas/InsuranceTypes"
        plan_codes:
          $ref: "#/components/schemas/Codes"
        plan_types:
          $ref: "#/components/schemas/Codes"
        agreement_number:
          type: string
          description: The insurance policy number.
        plan_coverage:
          $ref: "#/components/schemas/MetricValue"
        insurance_agent:
          $ref: "#/components/schemas/PartyReference"
        effective_date:
          type: string
          description: The effective date of the insurance poli...
          format: date
        insurance_policy_number:
          type: string
          description: The insurance policy number.
        insured_person_name:
          type: string
          description: The name of the insured person.
        links:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Link"
      description: Insurance Update for Patch and Put
    Insurances:
      type: array
      items:
        $ref: "#/components/schemas/Insurance"
    InventoryStatusTypes:
      type: string
      description: types of inventory status.
      enum:
      - ON_ORDER
      - RECEIVED
      - PREPARATION
      - STOCKED_IN
      - AVAILABLE
      - RESERVED
      - PRE_SOLD
      - ON_HOLD
      - SALES_HOLD
      - SERVICE_HOLD
      - RECALL_HOLD
      - IN_TRANSIT
      - ON_DEALER_LOT
      - ON_CENTRAL_LOT
      - ASSIGNED_BY_MANUFACTURER
      - SOLD
      - WHOLESALE
      - DAMAGED
      - UNAVAILABLE
      - RETURNED
      - DISPOSAL
      - UNKNOWN
    LeadStatusTypes:
      type: string
      description: types of lead status.
      enum:
      - NEW
      - UNQUALIFIED
      - CONTACTED
      - IN_PROGRESS
      - FOLLOW_UP_SCHEDULED
      - DEMO_GIVEN
      - PROPOSAL_SENT
      - VERBAL_COMMITMENT
      - NEGOTIATION
      - CONTRACT_SENT
      - WON
      - LOST
      - DISQUALIFIED
    LeaseTerm:
      type: object
      properties:
        lease_term_id:
          type: string
          description: Internal unique identifier for the lease...
          example: lt-99283-x
        lease_term_key:
          type: string
          description: Natural business key for the lease (e.g....
          example: LSE-5TFHY5F-2026
        term_months:
          maximum: 120
          minimum: 1
          type: integer
          description: Duration of the lease in months.
          format: int32
          example: 36
        money_factor:
          $ref: "#/components/schemas/MoneyFactor"
        residual_value:
          $ref: "#/components/schemas/Price"
        mileage_allowance:
          $ref: "#/components/schemas/MileageAllowance"
        gross_capitalized_cost:
          $ref: "#/components/schemas/Price"
        term_manifests:
          $ref: "#/components/schemas/Manifests"
      description: Lease Terms and Financial Details for vehicle delivery and credit
        contracts.
    LeaseTermCreate:
      required:
      - lease_term_key
      type: object
      description: LeaseTerm Create for Post
      allOf:
      - $ref: "#/components/schemas/LeaseTerm"
    LeaseTermUpdate:
      type: object
      properties:
        term_months:
          maximum: 120
          minimum: 1
          type: integer
          description: Duration of the lease in months.
          format: int32
          example: 36
        money_factor:
          $ref: "#/components/schemas/MoneyFactor"
        gross_capitalized_cost:
          $ref: "#/components/schemas/Price"
        residual_value:
          $ref: "#/components/schemas/Price"
        mileage_allowance:
          $ref: "#/components/schemas/MileageAllowance"
        term_manifests:
          $ref: "#/components/schemas/Manifests"
      description: LeaseTerm Update for Patch and Put
    LifecycleEvent:
      type: object
      properties:
        lifecycle_event_id:
          type: string
          description: The unique ID for the lifecycle event.
          example: EVT-99887766
        lifecycle_event_key:
          type: string
          description: The unique external key or business iden...
          example: LIFECYCLE-879234
        actor_href:
          type: string
          description: The href of the actor who initiated the ...
          format: href
        actor_id:
          type: string
          description: The unique identifier of the actor who i...
          example: USR-24681357
        actor_name:
          type: string
          description: The name of the actor who initiated the ...
          example: John Doe
        lifecycle_event_type:
          $ref: "#/components/schemas/LifecycleEventTypes"
        occurrence_date:
          type: string
          description: The date and time the event occurred.
          format: date
        resource_href:
          type: string
          description: The href of the resource associated with...
          format: href
        resource_identifier:
          type: string
          description: The unique identifier of the resource as...
          example: RSC-88776655
        detail_name:
          type: string
          description: The name of the event detail.
          example: Order ID
        detail_desc:
          type: string
          description: A description of the event detail.
          example: The unique ID of the order being processed.
        detail_value:
          type: string
          description: The value of the event detail.
          example: ORD-44556677
        detail_key:
          type: string
          description: The unique key for the event detail.
          example: ORDER_ID
        detail_code:
          type: string
          description: The code for the event detail.
          example: ORDER_STATUS_CHANGED
        resource_types:
          $ref: "#/components/schemas/ResourceTypes"
      description: Lifecycle Event
    LifecycleEventTypes:
      type: string
      description: types of lifecycle events.
      enum:
      - CREATED
      - UPDATED
      - DELETE_HARD
      - DELETE_SOFT
      - ACCESS_ALLOWED
      - ACCESS_DENIED
      - SUBMITTED
      - CLOSED
      - CANCELLED
      - DEAD
      - INITIALIZED
      - INITIALIZING
      - PROCESSING
      - PROCESSED
      - FAILED
      - VALIDATED
      - QUALIFIED
      - STEP_TRANSITION
      - STATUS_CHANGE
      - QUEUED
      - ACKNOWLEDGMENT
      - REJECTED
      - UNQUALIFIED
      - INCOMPLETE
    LifecycleEvents:
      type: array
      items:
        $ref: "#/components/schemas/LifecycleEvent"
    LifecyclePulse:
      type: object
      properties:
        lifecycle_pulse_id:
          type: string
          description: The internal unique identifier for this ...
          example: pls-992837-abc
        lifecycle_pulse_key:
          type: string
          description: "A natural business key for the pulse, ty..."
          example: RDR_TRANSMITTED_20260318_143005
        lifecycle_pulse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/LifecyclePulseTypes"
        occurred_at:
          type: string
          description: The high-precision timestamp when the ev...
          format: date-time
          example: 2026-03-25T19:43:05Z
        actor_name:
          type: string
          description: "The identity of the user, service, or sy..."
          example: DMS_INTEGRATOR_SVC
        execution_id:
          $ref: "#/components/schemas/CorrelationId"
        pulse_detail:
          type: string
          description: pulse detail
          example: "Updated: Assigned to Ocean Trader V22 for transit."
        traceability:
          $ref: "#/components/schemas/EventMessages"
      description: Represents an immutable audit event or 'pulse' in the record lifecycle.
    LifecyclePulseTypes:
      type: string
      description: types of lifecycle pulses.
      enum:
      - STARTED
      - CREATED
      - UPDATED
      - PROCESSED
      - TRANSMITTED
      - ACKNOWLEDGED
      - REJECTED
      - ARCHIVED
      - VOIDED
    LifecyclePulses:
      type: array
      items:
        $ref: "#/components/schemas/LifecyclePulse"
    Link:
      type: object
      properties:
        link_key:
          type: string
          description: The unique key for the link.
        href:
          type: string
          description: The URL of the related resource.
        method:
          type: string
          description: The HTTP method to be used to access the...
        rel:
          type: string
          description: "The link relation, which describes the r..."
        title:
          type: string
          description: A human-readable title for the link.
      description: "Represents a Hypermedia as the Engine of Application State (HATEOS)\
        \ link, providing information on how to interact with a related resource."
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used..."
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          type: string
          description: The three-letter ISO 4217 currency code ...
        currency_symbol:
          type: string
          description: The graphical symbol used for the curren...
        timezone:
          type: string
          description: The IANA Time Zone database ID for regio...
        location_code:
          type: string
          description: The code of the inventory location or br...
          example: WH001
      description: "comprehensive locale configuration for currency, language, and\
        \ regional formatting."
    Manifest:
      type: object
      properties:
        manifest_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The internal unique identifier for the m...
          example: man-55283-abc
        manifest_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The business key identifying the specifi...
          example: RDR_US_RETAIL_v2
        context:
          type: string
          description: The business domain or OEM context for t...
          example: VEHICLE_DELIVERY
        schema:
          $ref: "#/components/schemas/SchemaUri"
        definitions:
          $ref: "#/components/schemas/ManifestItems"
        lifecycle_pulses:
          $ref: "#/components/schemas/LifecyclePulses"
        manifest_type:
          type: string
          description: "The classification of manifest (e.g., 'V..."
          example: VALIDATION_RULES
        version:
          $ref: "#/components/schemas/SemanticVersion"
      description: External system manifest defining the structural rules and metadata
        for a transaction.
    ManifestItem:
      type: object
      properties:
        manifest_item_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique manifestItem value
        manifest_item_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the manifestItem
        context:
          type: string
          description: Context or domain of the manifestItem
        id:
          type: string
          description: Context or domain of the manifestItem
        value:
          type: string
          description: The monetary or hours-based value of the...
        description:
          type: string
          description: The monetary or hours-based value of the...
      description: not nullable
    ManifestItemCreate:
      required:
      - manifest_item_key
      type: object
      description: ManifestItem Create for Post
      allOf:
      - $ref: "#/components/schemas/ManifestItem"
    ManifestItemUpdate:
      type: object
      properties:
        context:
          type: string
          description: Context or domain of the manifestItem
        description:
          type: string
          description: The monetary or hours-based value of the...
        id:
          type: string
          description: Context or domain of the manifestItem
        value:
          type: string
          description: The monetary or hours-based value of the...
      description: ManifestItem Update for Patch and Put
    ManifestItems:
      type: array
      items:
        $ref: "#/components/schemas/ManifestItem"
    Manifests:
      type: array
      items:
        $ref: "#/components/schemas/Manifest"
    Memo:
      type: array
      items:
        type: string
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this ...
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric ...
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., th..."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    MileageAllowance:
      $ref: "#/components/schemas/UOMLengthTypes"
    ModelYear:
      type: string
      description: The 4-digit model year of the vehicle.
      example: "2024"
    MoneyFactor:
      pattern: "^0\\.[0-9]{5,8}$"
      type: string
      description: The lease factor used to calculate the f...
      example: "0.00125"
    MoneyFactorCreate:
      required:
      - money_factor_key
      type: string
      description: MoneyFactor Create for Post
      allOf:
      - $ref: "#/components/schemas/MoneyFactor"
    MoneyFactorUpdate:
      type: string
      description: MoneyFactor Update for Patch and Put
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - OTHER
    OemRdrStatusTypes:
      type: string
      description: types of oem rdr status.
      enum:
      - OPEN
      - LOCKED
      - NEW_INTERFACE
      - TRANSMITTED
      - APPROVED
      - REJECTED
      - CANCELLED
    Option:
      type: object
      properties:
        option_id:
          type: string
          description: The unique id for the  option record.
        option_key:
          type: string
          description: The unique key for the  option record.
        codes:
          $ref: "#/components/schemas/Codes"
        option_name:
          type: string
          description: The name of the option.
        option_long_name:
          type: string
          description: The long name of the option.
        manufacturer_name:
          type: string
          description: The manufacturer's name.
        short_description:
          type: string
          description: The short description of the option.
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductTypes"
        quantity:
          $ref: "#/components/schemas/MetricValue"
        option_type:
          $ref: "#/components/schemas/OptionTypes"
        option_installation_type:
          $ref: "#/components/schemas/OptionInstallationTypes"
        option_code:
          type: string
          description: The code for the option.
        option_categories:
          $ref: "#/components/schemas/Codes"
        option_groups:
          $ref: "#/components/schemas/Codes"
        option_descriptions:
          $ref: "#/components/schemas/OptionDescriptions"
      description: "Represents a specific option or feature of a , including its pricing,\
        \ type, and descriptive information."
    OptionCreate:
      required:
      - option_key
      type: object
      description: Option Create for Post
      allOf:
      - $ref: "#/components/schemas/Option"
    OptionDescription:
      type: object
      properties:
        option_description_key:
          type: string
          description: A unique key for the option description.
        option_description_id:
          type: string
          description: The unique ID for the option description...
        option_description_group:
          type: string
          description: The group or category this option belong...
        option_detail_descriptions:
          $ref: "#/components/schemas/Memo"
        option_description_label:
          type: string
          description: "A short, human-readable label for the op..."
      description: A description of a vehicle option or feature.
    OptionDescriptionCreate:
      required:
      - option_description_key
      type: object
      description: OptionDescription Create for Post
      allOf:
      - $ref: "#/components/schemas/OptionDescription"
    OptionDescriptionUpdate:
      type: object
      properties:
        option_description_group:
          type: string
          description: The group or category this option belong...
        option_description_label:
          type: string
          description: "A short, human-readable label for the op..."
        option_detail_descriptions:
          $ref: "#/components/schemas/Memo"
      description: OptionDescription Update for Patch and Put
    OptionDescriptions:
      type: array
      items:
        $ref: "#/components/schemas/OptionDescription"
    OptionInstallationTypes:
      type: string
      description: types of option installations.
      enum:
      - FACTORY_INSTALLED
      - PORT_INSTALLED
      - DEALER_INSTALLED
      - SOFTWARE_UPDATE
      - ACCESSORY_KIT
      - CUSTOM_FABRICATION
      - OWNER_INSTALLED
      - THIRD_PARTY_INSTALLED
      - UNKNOWN
      - OTHER
    OptionTypes:
      type: string
      description: types of options.
      enum:
      - PARTS
      - ACCESSORY
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - SOFTWARE
      - CERTIFICATION
      - APPEARANCE
      - INCENTIVE
      - COLOR
      - FABRIC
      - REBATE_INCENTIVE
      - PORT_INSTALLED
      - TELEMATICS
      - OTHER
    OptionUpdate:
      type: object
      properties:
        option_categories:
          $ref: "#/components/schemas/Codes"
        codes:
          $ref: "#/components/schemas/Codes"
        short_description:
          type: string
          description: The short description of the option.
        option_long_name:
          type: string
          description: The long name of the option.
        quantity:
          $ref: "#/components/schemas/MetricValue"
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductTypes"
        option_type:
          $ref: "#/components/schemas/OptionTypes"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        option_name:
          type: string
          description: The name of the option.
        manufacturer_name:
          type: string
          description: The manufacturer's name.
        option_descriptions:
          $ref: "#/components/schemas/OptionDescriptions"
        option_code:
          type: string
          description: The code for the option.
        option_installation_type:
          $ref: "#/components/schemas/OptionInstallationTypes"
        option_groups:
          $ref: "#/components/schemas/Codes"
      description: Option Update for Patch and Put
    Options:
      type: array
      items:
        $ref: "#/components/schemas/Option"
    PartConditionTypes:
      type: string
      description: types of part conditions.
      enum:
      - NEW
      - NEW_OLD_STOCK
      - REMANUFACTURED
      - REBUILT
      - REFURBISHED
      - USED
      - SALVAGE
      - DAMAGED_MINOR
      - DAMAGED_COSMETIC
      - SCRAP
      - COLLECTIBLE
      - OTHER
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique identifier value
        party_reference_key:
          type: string
          description: Unique identifier value
        party_key:
          type: string
          description: Unique identifier value
        party_name:
          type: string
          description: Unique identifier value
        contact_name:
          $ref: "#/components/schemas/PersonName"
        locale:
          $ref: "#/components/schemas/Locale"
        authorization_code:
          type: string
          description: Context or domain of the identifier
        source_system_code:
          type: string
          description: Context or domain of the identifier
        context:
          type: string
          description: Context or domain of the identifier
        account_number:
          type: string
          description: Account Number
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        rule_codes:
          $ref: "#/components/schemas/Codes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-03-25T19:43:05Z
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentScheduleReference:
      type: object
      properties:
        payment_schedule_reference_id:
          type: string
          description: Unique identifier value for the referenc...
        payment_schedule_reference_key:
          type: string
          description: Unique identifier value for the referenc...
        payment_schedule_key:
          type: string
          description: The unique key identifying the reference...
        payment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        context:
          type: string
          description: Context or domain of the payment schedul...
        total_payments:
          type: integer
          description: The total number of payments in this sch...
          format: int32
          example: 60
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was assoc...
          format: date-time
          example: 2026-03-25T19:43:05Z
        payment_frequency:
          $ref: "#/components/schemas/DurationIntervalTypes"
        payment_amount:
          type: string
          description: The price of all products and services b...
        annual_percentage_rate:
          type: string
          description: Context or domain of the payment schedul...
      description: Reference to a Payment Schedule Aggregate Root.
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        preferred_name:
          type: string
          description: Preferred name used in informal situatio...
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr..."
          example: Dr.
        honorific_prefix:
          type: string
          description: Prefix title used before the person's na...
          example: Dr.
        honorific_suffix:
          type: string
          description: Suffix title used after the person's nam...
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated wit...
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family na...
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given nam...
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle na...
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PlateNumber:
      type: string
      description: The alphanumeric string displayed on the...
      example: ABC1234
    PolicyHolder:
      type: object
      properties:
        policy_holder_key:
          type: string
          description: A unique key for the policy holder.
        policy_holder_name:
          type: string
          description: The full name of the policy holder.
        policy_holder_relationship:
          type: string
          description: The relationship of the policy holder to...
        special_remarks:
          type: string
          description: Any special remarks or notes about the p...
        contact_method_href:
          type: string
          description: A hyperlink to the full contact method d...
          format: href
      description: Current Insurance PolicyHolder for a customer.
    PolicyHolderCreate:
      required:
      - policy_holder_key
      type: object
      description: PolicyHolder Create for Post
      allOf:
      - $ref: "#/components/schemas/PolicyHolder"
    PolicyHolderUpdate:
      type: object
      properties:
        contact_method_href:
          type: string
          description: A hyperlink to the full contact method d...
          format: href
        policy_holder_name:
          type: string
          description: The full name of the policy holder.
        policy_holder_relationship:
          type: string
          description: The relationship of the policy holder to...
        special_remarks:
          type: string
          description: Any special remarks or notes about the p...
      description: PolicyHolder Update for Patch and Put
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          maxLength: 20
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    PositionCreate:
      required:
      - position_key
      type: object
      description: Position Create for Post
      allOf:
      - $ref: "#/components/schemas/Position"
    PositionUpdate:
      type: object
      properties:
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        county_code:
          maxLength: 20
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
      description: Position Update for Patch and Put
    Price:
      type: object
      properties:
        display_value:
          type: string
          description: Human-readable display value for the pri...
        locale:
          type: string
          description: Locale used for formatting display value...
        value:
          type: string
          description: The numeric value of the price (before t...
        tax_value:
          type: string
          description: The calculated amount of tax applied to ...
        taxable_amount:
          type: string
          description: The portion of the price subject to tax.
        non_taxable_amount:
          type: string
          description: The portion of the price not subject to ...
        total_amount:
          type: string
          description: The total final price including all comp...
        total_cost_amount:
          type: string
          description: The total cost to the provider/seller.
        unit_cost_amount:
          type: string
          description: The unit cost to the provider/seller.
        price_description:
          type: string
          description: "A descriptive title for the price (e.g.,..."
        price_key:
          type: string
          description: Natural key or business identifier for t...
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the...
          example: false
        currency_code:
          type: string
          description: "ISO 4217 currency code, e.g., 'USD', 'EU..."
        price_id:
          type: string
          description: Unique system identifier for the price r...
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PriceSummary:
      type: object
      properties:
        price_summary_key:
          type: string
          description: The unique key for the payment summary r...
        price_summary_id:
          type: string
          description: The unique ID for the payment summary.
        source_key:
          type: string
          description: The unique key to the related invoice.
        source_type:
          $ref: "#/components/schemas/ResourceTypes"
        locale:
          $ref: "#/components/schemas/Locale"
        prices:
          $ref: "#/components/schemas/Prices"
        summary_memo:
          $ref: "#/components/schemas/Memo"
      description: Summarizes the financial totals and pricing components of a payment
        term.
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - OTHER
    Prices:
      type: array
      items:
        $ref: "#/components/schemas/Price"
    ProductContract:
      type: object
      properties:
        product_contract_id:
          type: string
          description: Unique identifier for the product contra...
          example: 550e8400-e29b-41d4-a716-446655440000
        product_contract_key:
          type: string
          description: Natural business key for the product con...
          example: TFS-GAP-2026-001
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        contract_number:
          type: string
          description: The assigned contract reference number (...
          example: "0060003675"
        execution_date:
          type: string
          description: The date and time the contract was execu...
          format: date
        expiration_date:
          type: string
          description: The date the contract is set to expire.
          format: date
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        expiration_distance:
          $ref: "#/components/schemas/MetricValue"
        term_units:
          $ref: "#/components/schemas/NarrativeUomTypes"
        term_value:
          type: string
          description: The numeric duration of the contract ter...
          example: "36"
        quantity:
          type: string
          description: The quantity of items covered by the con...
          example: "1"
        capitalization_indicator:
          type: boolean
          description: Indicates if the contract amount is capi...
          example: true
        financed_indicator:
          type: boolean
          description: Indicates if the contract is financed.
          example: true
        taxability_indicator:
          type: boolean
          description: Indicates if the contract is taxable.
          example: false
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        codes:
          $ref: "#/components/schemas/Codes"
        contract_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ContractTypes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        contract_status_type:
          $ref: "#/components/schemas/ContractStatusTypes"
        payment_schedule_reference:
          $ref: "#/components/schemas/PaymentScheduleReference"
      description: Contract details for this product
    ProductContractCreate:
      required:
      - product_contract_key
      type: object
      description: ProductContract Create for Post
      allOf:
      - $ref: "#/components/schemas/ProductContract"
    ProductContractUpdate:
      type: object
      properties:
        taxability_indicator:
          type: boolean
          description: Indicates if the contract is taxable.
          example: false
        contract_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ContractTypes"
        codes:
          $ref: "#/components/schemas/Codes"
        term_value:
          type: string
          description: The numeric duration of the contract ter...
          example: "36"
        quantity:
          type: string
          description: The quantity of items covered by the con...
          example: "1"
        execution_date:
          type: string
          description: The date and time the contract was execu...
          format: date
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        term_units:
          $ref: "#/components/schemas/NarrativeUomTypes"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        financed_indicator:
          type: boolean
          description: Indicates if the contract is financed.
          example: true
        expiration_date:
          type: string
          description: The date the contract is set to expire.
          format: date
        expiration_distance:
          $ref: "#/components/schemas/MetricValue"
        contract_status_type:
          $ref: "#/components/schemas/ContractStatusTypes"
        capitalization_indicator:
          type: boolean
          description: Indicates if the contract amount is capi...
          example: true
        contract_number:
          type: string
          description: The assigned contract reference number (...
          example: "0060003675"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        payment_schedule_reference:
          $ref: "#/components/schemas/PaymentScheduleReference"
      description: ProductContract Update for Patch and Put
    ProductContracts:
      type: array
      items:
        $ref: "#/components/schemas/ProductContract"
    ProductStateTypes:
      type: string
      description: types of product states.
      enum:
      - NEW
      - USED
      - REFURBISHED
      - CERTIFIED
      - DEMO
      - RENTAL
      - IN_TRANSIT
      - DISCONTINUED
      - ARCHIVED
      - CUSTOMER_OWNED
      - PARTNER_OWNED
      - THIRD_PARTY_OWNED
      - COMPANY_OWNED
      - UNKNOWN
    ProductTypes:
      type: string
      description: types of products.
      enum:
      - VEHICLE
      - INFORMATION
      - DURABLE_GOODS
      - SOFTWARE
      - APP
      - INSURANCE
      - FINANCE
      - SERVICE
      - PART
      - ACCESSORY
      - F_N_I_PRODUCT
      - SERVICE_PACKAGE
      - DEALER_PRODUCT
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - OTHER
    ProtectionProducts:
      $ref: "#/components/schemas/ProductContracts"
    PurchaseTypes:
      type: string
      description: types of purchases.
      enum:
      - RETAIL
      - DEMO
      - LEASE
      - WHOLESALE
      - STANDARD
      - CONTRACT
      - FLEET
      - COMMERCIAL
      - DIRECT
      - OTHER
    ResourceTypes:
      type: string
      description: types of resources.
      enum:
      - SYSTEM
      - WORKFLOW
      - ACTIVITY
      - FUNCTION
      - PROCESS
      - INCIDENT
      - PARTY
      - CUSTOMER
      - APPLICANT
      - VENDOR
      - DEALER_STAFF
      - DRIVER
      - ADDRESS
      - BILL_ADDRESS
      - BILL_CONTACT
      - COMM_CHANNEL
      - ACCOUNT
      - VEHICLE
      - TRADE_IN
      - PRODUCT
      - MANUFACTURER
      - LEAD
      - OPPORTUNITY
      - DEAL
      - FINANCE
      - INVOICE
      - LINEITEM
      - EXPENSE
      - DISCOUNT
      - TAX
      - FEE
      - INCENTIVE
      - DEALERSHIP
      - PART
      - ACCESSORIES
      - PURCHASE_ORDER
      - VEHICLE_OPTION
      - RENTAL
      - SUBSCRIPTION
      - INSURANCE
      - WARRANTY
      - SERVICE
      - APPOINTMENT
      - OTHER
    RetailDeliveryReport:
      type: object
      properties:
        retail_delivery_report_id:
          type: string
          description: The internal unique identifier for the R...
          example: rdr-77283-x99
        retail_delivery_report_key:
          type: string
          description: "Natural business key for the RDR, often ..."
          example: DLR123-20260318-5TFHY5F
        rdr_source:
          type: string
          description: The source of the RDR
          example: DealerDaily
        manifests:
          $ref: "#/components/schemas/Manifests"
        locale:
          $ref: "#/components/schemas/Locale"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        event_messages:
          $ref: "#/components/schemas/EventMessages"
        occurrence_date_time:
          type: string
          description: The exact date and time the delivery eve...
          format: date-time
          example: 2026-03-25T19:43:05Z
        dealer_comments:
          $ref: "#/components/schemas/Comments"
        customer_comments:
          $ref: "#/components/schemas/Comments"
        oem_rdr_status_type:
          $ref: "#/components/schemas/OemRdrStatusTypes"
        odometer_at_sale:
          $ref: "#/components/schemas/MetricValue"
        rdr_codes:
          $ref: "#/components/schemas/Codes"
        sales_code:
          $ref: "#/components/schemas/Identifier"
        warranty_codes:
          $ref: "#/components/schemas/Identifiers"
        transmitted_sales_code:
          $ref: "#/components/schemas/Identifier"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        purchase_type:
          $ref: "#/components/schemas/PurchaseTypes"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        narratives:
          $ref: "#/components/schemas/Memo"
        sale_date:
          type: string
          description: The effective date the sale contract was...
          format: date
        sales_transaction_number:
          type: string
          description: The dealer-assigned transaction or deal ...
          example: TXN-882931-A
        delivery_estimate:
          $ref: "#/components/schemas/ShipmentReference"
        lease_term:
          $ref: "#/components/schemas/LeaseTerm"
        credit_application_reference:
          $ref: "#/components/schemas/CreditApplicationReference"
        vehicle:
          $ref: "#/components/schemas/Vehicle"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        product_contracts:
          $ref: "#/components/schemas/ProtectionProducts"
        credit_contract_included_indicator:
          $ref: "#/components/schemas/CreditContractIncludedIndicator"
        retail_delivery_report_criteria:
          $ref: "#/components/schemas/RetailDeliveryReportCriteria"
      description: Represents the Retail Delivery Report (RDR) documentation for vehicle
        sales.
    RetailDeliveryReportCriteria:
      type: object
      properties:
        retail_delivery_report_criteria_id:
          type: string
          description: The internal unique identifier for the R...
          example: rdr-77283-x99
        retail_delivery_report_criteria_key:
          type: string
          description: "Natural business key for the RDR, often ..."
          example: DLR123-20260318-5TFHY5F
        rdr_source:
          type: string
          description: The source of the RDR
          example: DealerDaily
        locale:
          $ref: "#/components/schemas/Locale"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        oem_rdr_status_type:
          $ref: "#/components/schemas/OemRdrStatusTypes"
        lead_status_type:
          $ref: "#/components/schemas/LeadStatusTypes"
        deal_status_type:
          $ref: "#/components/schemas/DealStatusTypes"
        rdr_codes:
          $ref: "#/components/schemas/Codes"
        sales_code:
          $ref: "#/components/schemas/Identifier"
        warranty_codes:
          $ref: "#/components/schemas/Identifiers"
        transmitted_sales_code:
          $ref: "#/components/schemas/Identifier"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        purchase_type:
          $ref: "#/components/schemas/PurchaseTypes"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        sale_date:
          type: string
          description: The effective date the sale contract was...
          format: date
        sales_transaction_number:
          type: string
          description: The dealer-assigned transaction or deal ...
          example: TXN-882931-A
        credit_application_reference:
          $ref: "#/components/schemas/CreditApplicationReference"
      description: Represents the Retail Delivery Report (RDR) documentation for vehicle
        sales.
    SchemaUri:
      type: string
      description: The URI or name of the JSON/XML schema d...
      example: https://starstandard.org/schemas/rdr/v2.1/retail.json
    SchemaUriCreate:
      required:
      - schema_uri_key
      type: string
      description: SchemaUri Create for Post
      allOf:
      - $ref: "#/components/schemas/SchemaUri"
    SchemaUriUpdate:
      type: string
      description: SchemaUri Update for Patch and Put
    SemanticVersion:
      pattern: ^\d+\.\d+\.\d+$
      type: string
      description: The specific semantic version of the man...
      example: 2.1.4
    SemanticVersionCreate:
      required:
      - semantic_version_key
      type: string
      description: SemanticVersion Create for Post
      allOf:
      - $ref: "#/components/schemas/SemanticVersion"
    SemanticVersionUpdate:
      type: string
      description: SemanticVersion Update for Patch and Put
    ShipmentReference:
      type: object
      properties:
        shipment_reference_id:
          type: string
          description: Internal unique identifier for the shipm...
          example: shp-ref-55092
        shipment_reference_key:
          type: string
          description: Natural business key for the shipment re...
          example: LOGISTICS_ESTIMATE_2026_001
        shipment_key:
          type: string
          description: Key for the shipment
          example: OEM_LOGISTICS
        tracking_number:
          $ref: "#/components/schemas/ShipmentTrackingNumber"
        context:
          type: string
          description: The domain or carrier context of the shi...
          example: OEM_LOGISTICS
        system_codes:
          $ref: "#/components/schemas/Codes"
        carrier_party:
          $ref: "#/components/schemas/CarrierParty"
        occurrence_date_time:
          type: string
          description: The timestamp when the shipment was init...
          format: date-time
          example: 2026-03-25T19:43:05Z
        unit_of_measures:
          $ref: "#/components/schemas/UnitOfMeasures"
        estimated_delivery:
          $ref: "#/components/schemas/DeliveryWindow"
      description: Reference details for the logistics and shipment of a vehicle during
        the RDR process.
    ShipmentTrackingNumber:
      type: string
      description: The external tracking number.
      example: TRK123456789
    ShipmentTrackingNumberCreate:
      required:
      - shipment_tracking_number_key
      type: string
      description: ShipmentTrackingNumber Create for Post
      allOf:
      - $ref: "#/components/schemas/ShipmentTrackingNumber"
    ShipmentTrackingNumberUpdate:
      type: string
      description: ShipmentTrackingNumber Update for Patch and Put
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - SERVICE_TECHNICIAN
      - TECHNICIAN
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SALES_PERSON
      - CUSTOMER_SERVICE
      - SALES_MANAGER
      - F_I_MANAGER
      - CLOSING_MANAGER
      - BUSINESS_MANAGER
      - RECEPTIONIST
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - DETAILER
      - DRIVER
      - APPRAISER
      - GENERAL_MANAGER
      - UNKNOWN
    TimeSlot:
      type: object
      properties:
        time_slot_id:
          type: string
          description: Technical unique identifier (GUID) for t...
          example: b2d3e4f5-a6b7-c8d9-e0f1-a2b3c4d5e6f7
        time_slot_key:
          type: string
          description: Natural business key for the time slot w...
          example: TS-MON-MORNING-SHIFT
        time_slot_source:
          type: string
          description: The originating system or calendar provi...
          example: GOOGLE_CALENDAR
        start_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        start_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local start time in 24-hour ISO 8601...
          format: date-time
        end_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        end_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local end time in 24-hour ISO 8601 f...
          format: date-time
        recurring_indicator:
          type: boolean
          description: Indicates if this time slot is part of a...
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          format: date
          items:
            type: string
      description: "Defines a specific window of time, often within a recurring schedule,\
        \ used for service availability or appointment booking."
    TimeslotDirectiveTypes:
      type: string
      description: Represents the directive for a timeslot.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - UNKNOWN
    UOMLengthTypes:
      type: string
      description: types of u o m lengths.
      enum:
      - ANGSTROM
      - A
      - NANOMETER
      - NORMAL_METRIC
      - MICRON
      - MILLIMETER
      - CENTIMETER
      - DECIMETER
      - METER
      - KILOMETER
      - YOTTAMETER
      - MILLI_INCH
      - INCH
      - FEET
      - YARD
      - HAND
      - LINK
      - CHAIN
      - SPAN
      - CUBIT
      - VARA
      - FATHOM
      - ROD
      - PERCH
      - POLE
      - FURLONG
      - CABLE
      - NAUTICAL_MILE
      - LEAGUE
      - DEGREE
      - PIXEL
      - MILE
      - MILES
      - KM
      - METER_SYN
      - CM
      - MM
    UOMQuantityCategoryTypes:
      type: string
      description: types of u o m quantity categorys.
      enum:
      - COUNT
      - WEIGHT
      - VOLUME
      - TIME
      - NET_WEIGHT
      - NET_VOLUME
      - PACKAGE_QUANTITY
      - MIN_ORDER_QUANTITY
      - GROSS_WEIGHT
      - GROSS_VOLUME
      - SHIPPING_WEIGHT
      - DIMENSIONAL_WEIGHT
      - MATERIAL
      - ELECTRICAL_RATING
      - DEFAULT_LEAD_TIME
      - MAX_LEAD_TIME
      - DIMENSION_UNIT
      - MIN_LENGTH
      - MAX_LENGTH
      - MIN_WIDTH
      - MAX_WIDTH
      - MIN_HEIGHT
      - MAX_HEIGHT
      - MIN_WEIGHT
      - MAX_WEIGHT
      - MAX_ORDER_QUANTITY
      - MIN_ORDER_AVAILABLE
      - DIMENSIONS
      - SHIPPING_DIM_LENGTH
      - SHIPPING_DIM_WIDTH
      - SHIPPING_DIM_HEIGHT
      - SHIPPING_DIM_GROSS_WEIGHT
      - SHIPPING_DIM_NET_WEIGHT
      - SHELF_LIFE_HOURS
      - EXPIRATION_DATE
      - MIN_PAYMENT_PERCENT
      - MIN_PAYMENT_AMOUNT
    UnitId:
      type: string
      description: A unique sequence number or business ide...
      example: "129375127"
    UnitIdCreate:
      required:
      - unit_id_key
      type: string
      description: UnitId Create for Post
      allOf:
      - $ref: "#/components/schemas/UnitId"
    UnitIdUpdate:
      type: string
      description: UnitId Update for Patch and Put
    UnitOfMeasure:
      type: object
      properties:
        unit_of_measure_key:
          type: string
          description: Unit of Measure Value
        unit_name:
          type: string
          description: Unit of Measure
        uom_value:
          maxLength: 100
          minLength: 1
          type: string
          description: Unit of Measure Value
        uom_quantity_category_type:
          $ref: "#/components/schemas/UOMQuantityCategoryTypes"
      description: value price with unit of measure
    UnitOfMeasures:
      type: array
      items:
        $ref: "#/components/schemas/UnitOfMeasure"
    VIN:
      maxLength: 17
      minLength: 17
      pattern: "^[0-9A-HJ-NPR-Z]+$"
      type: string
      description: The 17-character Vehicle Identification ...
      example: 5TFHY5F13KX799310
    Vehicle:
      type: object
      properties:
        vehicle_key:
          type: string
          description: Natural business key for the vehicle (of...
          example: VIN-5TFHY5F13KX799310
        vehicle_id:
          type: string
          description: Internal system GUID for the vehicle rec...
          example: veh-88293-xyz
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        odometer:
          $ref: "#/components/schemas/MetricValue"
        seats:
          pattern: "^[0-9]+$"
          type: string
          description: Total passenger capacity.
          example: "5"
        condition_type:
          $ref: "#/components/schemas/PartConditionTypes"
        inventory_days:
          pattern: "^[0-9]+$"
          type: string
          description: Number of days the vehicle sat in dealer...
          example: "12"
        campaign_codes:
          $ref: "#/components/schemas/Codes"
        position:
          $ref: "#/components/schemas/VehiclePosition"
        production_date:
          type: string
          description: The date the vehicle completed assembly ...
          format: date
        stock_date_time:
          type: string
          description: The timestamp when the vehicle was offic...
          format: date-time
          example: 2026-03-25T19:43:05Z
        control_account_id:
          type: string
          description: The unique identifier for the internal f...
          example: ACC-99283-TR
        control_account_type:
          $ref: "#/components/schemas/ControlAccountTypes"
        vehicle_specification:
          $ref: "#/components/schemas/VehicleSpecification"
        original_sold_date:
          type: string
          description: The very first date this vehicle was rep...
          format: date
        odometer_capture_date:
          type: string
          description: The timestamp when the current odometer ...
          format: date
        warranties:
          $ref: "#/components/schemas/Warranties"
        hardware_codes:
          $ref: "#/components/schemas/Codes"
        software_codes:
          $ref: "#/components/schemas/Codes"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        dealer_code:
          $ref: "#/components/schemas/DealerCode"
        account_key:
          type: string
          description: Business-readable key for the associated...
          example: CHASE-AUTO-001
        account_name:
          type: string
          description: The display name of the financial instit...
          example: Chase Auto Finance
        inventory_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/InventoryStatusTypes"
        product_state_type:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductStateTypes"
        vehicle_status_type:
          $ref: "#/components/schemas/VehicleHistoryEventTypes"
        options:
          $ref: "#/components/schemas/Options"
        safety_ratings:
          $ref: "#/components/schemas/Options"
        features:
          $ref: "#/components/schemas/Features"
        comments:
          type: string
          description: General short-form internal comments abo...
          example: Minor scratch on rear bumper.
        vehicle_notes:
          type: string
          description: Long-form technical or historical notes ...
        notes:
          $ref: "#/components/schemas/Memo"
        categories:
          $ref: "#/components/schemas/Codes"
        vehicle_events:
          $ref: "#/components/schemas/VehicleEvents"
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        search_category:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        insurances:
          $ref: "#/components/schemas/Insurances"
        condition:
          $ref: "#/components/schemas/VehicleCondition"
      description: "Comprehensive vehicle details including identifiers, configuration,\
        \ and status."
    VehicleBodyStyleTypes:
      type: string
      description: types of vehicle body styles.
      enum:
      - COUPE
      - SEDAN
      - SPORTS
      - WAGON
      - HATCHBACK
      - CONVERTIBLE
      - CROSSOVER
      - LUXURY
      - SUV
      - MINI_VAN
      - TRUCK
      - COMMERCIAL_VAN
      - PASSENGER_VAN
      - CARGO_VAN
      - VAN
      - BIKE
      - SERVICE
      - DUMP
      - CONTRACTOR
      - OTHER
      - UNKNOWN
    VehicleCategoryTypes:
      type: string
      description: types of vehicle categorys.
      enum:
      - SUPERCAR
      - SPORT
      - MUSCLE
      - SMALL
      - LARGE
      - COMMUTER
      - FAMILY
      - OFF_ROAD
      - CLASSIC
      - ELECTRIC
      - HYBRID
      - FUEL_EFFICIENT
      - LUXURY
      - OTHER
      - UNKNOWN
    VehicleCondition:
      type: string
      description: A short-form textual description of the ...
      example: Excellent - Showroom Quality
    VehicleConditionCreate:
      required:
      - vehicle_condition_key
      type: string
      description: VehicleCondition Create for Post
      allOf:
      - $ref: "#/components/schemas/VehicleCondition"
    VehicleConditionUpdate:
      type: string
      description: VehicleCondition Update for Patch and Put
    VehicleCreate:
      required:
      - vehicle_key
      type: object
      description: Vehicle Create for Post
      allOf:
      - $ref: "#/components/schemas/Vehicle"
    VehicleEconomies:
      type: array
      items:
        $ref: "#/components/schemas/VehicleEconomy"
    VehicleEconomy:
      type: object
      properties:
        vehicle_economy_key:
          type: string
          description: A unique key for the vehicle economy rec...
        economy:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        fuel_tank_capacity:
          $ref: "#/components/schemas/MetricValue"
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        range:
          $ref: "#/components/schemas/MetricValue"
      description: Details regarding the fuel economy and efficiency of a vehicle.
    VehicleEconomyCreate:
      required:
      - vehicle_economy_key
      type: object
      description: VehicleEconomy Create for Post
      allOf:
      - $ref: "#/components/schemas/VehicleEconomy"
    VehicleEconomyUpdate:
      type: object
      properties:
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        range:
          $ref: "#/components/schemas/MetricValue"
        economy:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        fuel_tank_capacity:
          $ref: "#/components/schemas/MetricValue"
      description: VehicleEconomy Update for Patch and Put
    VehicleEvent:
      type: object
      properties:
        vehicle_event_key:
          type: string
          description: The natural business key for the vehicle...
          example: EVENT-VIN123-2026-001
        vehicle_event_id:
          type: string
          description: The unique internal ID for the vehicle e...
[...]
