openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Warehouse
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: Addresses
  description: Tag Description Addresses
- name: AddressLocales
  description: Tag Description AddressLocales
- name: Health
  description: Tag Description Health
- name: Positions
  description: Tag Description Positions
- name: Warehouses
  description: Tag Description Warehouses
paths:
  /warehouses:
    get:
      tags:
      - Warehouses
      summary: Returns a paginated list of warehouse
      description: a list of Warehouse
      operationId: listWarehouses
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/WarehouseCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    post:
      tags:
      - Warehouses
      summary: create warehouse
      description: create Warehouse
      operationId: createWarehouse
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WarehouseCreate"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/WarehouseCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /warehouses/{warehouse-key}:
    get:
      tags:
      - Warehouses
      summary: Retrieve a single item scoped by a key Warehouse entities.
      description: Retrieve a single item scoped by a key Warehouse entities.
      operationId: getWarehouseByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/WarehouseKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/WarehouseSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    put:
      tags:
      - Warehouses
      summary: Replace values in a single item scoped by a key Warehouse entities.
      description: Replace values in a single item scoped by a key Warehouse entities.
      operationId: replaceWarehouseByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/WarehouseKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WarehouseUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/WarehouseUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    delete:
      tags:
      - Warehouses
      summary: Delete a single item scoped by a key Warehouse
      description: delete a Warehouse
      operationId: deleteWarehouse
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/ReasonQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/WarehouseKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/WarehouseSingleResponse"
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    patch:
      tags:
      - Warehouses
      summary: Update a single item scoped by a key Warehouse
      description: update a single item
      operationId: updateWarehouseByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/WarehouseKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/WarehouseUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/WarehouseUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /warehouses/{warehouse-key}/addresses:
    get:
      tags:
      - Addresses
      summary: Returns a paginated list of address
      description: a list of Address
      operationId: listAddressesByWarehouseKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/AddressCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/WarehouseKey"
  /warehouses/{warehouse-key}/addresses/{address-key}:
    get:
      tags:
      - Addresses
      summary: Retrieve a single item scoped by a key Address entities.
      description: Retrieve a single item scoped by a key Address entities.
      operationId: getAddressByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AddressKey"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/AddressSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/WarehouseKey"
  /warehouses/{warehouse-key}/positions:
    get:
      tags:
      - Positions
      summary: Returns a paginated list of position
      description: a list of Position
      operationId: listPositionsByWarehouseKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PositionCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/WarehouseKey"
  /warehouses/{warehouse-key}/positions/{position-key}:
    get:
      tags:
      - Positions
      summary: Retrieve a single item scoped by a key Position entities.
      description: Retrieve a single item scoped by a key Position entities.
      operationId: getPositionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PositionKey"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PositionSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/WarehouseKey"
  /warehouses/{warehouse-key}/address-locales:
    get:
      tags:
      - AddressLocales
      summary: Returns a paginated list of address locale
      description: a list of AddressLocale
      operationId: listAddressLocalesByWarehouseKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/AddressLocaleCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/WarehouseKey"
  /warehouses/{warehouse-key}/address-locales/{address-locale-key}:
    get:
      tags:
      - AddressLocales
      summary: Retrieve a single item scoped by a key AddressLocale entities.
      description: Retrieve a single item scoped by a key AddressLocale entities.
      operationId: getAddressLocaleByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AddressLocaleKey"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/AddressLocaleSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/WarehouseKey"
  /warehouse/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the Warehouse root node.
      operationId: healthWarehouse
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
components:
  schemas:
    Address:
      type: object
      properties:
        address_locales:
          $ref: "#/components/schemas/AddressLocales"
        priority:
          maxLength: 10
          minLength: 1
          type: string
          description: "Priority indicator for address usage (e.g., billing, shipping)."
          example: "1"
        city_code:
          maxLength: 20
          minLength: 1
          type: string
          description: Standardized city code.
          example: ATL
        address_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business key for the address.
          example: "840277004500762624"
        address_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier for the address record.
          example: "840277004500762625"
        address_input:
          maxLength: 255
          minLength: 1
          type: string
          description: Raw input provided for address processing or validation.
          example: "123 Main St, Atlanta, GA 30303"
        address_line1:
          maxLength: 100
          minLength: 1
          type: string
          description: "Primary address line (Street, PO Box, etc)."
          example: 123 Main St
        address_line2:
          maxLength: 100
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Suite 400
        address_line3:
          maxLength: 100
          type: string
          description: Additional address line information.
          example: Building A
        address_line4:
          maxLength: 100
          type: string
          description: Additional address line information.
          example: Mail Stop 22
        address_line5:
          maxLength: 100
          type: string
          description: Additional address line information.
          example: "Attention: Accounts Payable"
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: address_types list
          example:
          - HOME
          items:
            $ref: "#/components/schemas/AddressTypes"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        city:
          maxLength: 100
          minLength: 1
          type: string
          description: Name of the city.
          example: Atlanta
        city_subdivision:
          maxLength: 100
          type: string
          description: "Subdivision within the city (e.g., neighborhood, district)."
          example: Midtown
        country:
          maxLength: 100
          minLength: 2
          type: string
          description: Full name of the country.
          example: United States
        country_code:
          maxLength: 2
          minLength: 2
          type: string
          description: ISO 3166-1 Alpha-2 country code.
          example: US
        county:
          maxLength: 100
          type: string
          description: Name of the county.
          example: Fulton
        county_code:
          maxLength: 20
          type: string
          description: Standardized code for the county.
          example: "121"
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
          example: Work Email
        position:
          $ref: "#/components/schemas/Position"
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
          example: "30303"
        postal_code_ext:
          maxLength: 10
          type: string
          description: "Extended postal code (e.g., ZIP+4)."
          example: "1234"
        preferred_indicator:
          type: boolean
          description: Flag indicating if this address is the preferred address.
          example: false
        region:
          maxLength: 50
          type: string
          description: "Administrative region (e.g., province, state)."
          example: Southeast
        state:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
          example: GA
      description: Address represents a physical or mailing location associated with
        a party or warehouse.
    AddressLocale:
      type: object
      properties:
        address_locale_key:
          type: string
          description: Business key for the address locale.
          example: "840277004504956928"
        address_locale_id:
          type: string
          description: Unique identifier for the address locale.
          example: "840277004504956929"
        region_code:
          type: string
          description: Code representing the region for the locale.
          example: GA
        region_name:
          type: string
          description: Name of the region for the locale.
          example: Georgia
        region_aliases:
          $ref: "#/components/schemas/Codes"
        location_type:
          $ref: "#/components/schemas/LocationTypes"
      description: External system address locale including region and location type.
    AddressLocales:
      type: array
      items:
        $ref: "#/components/schemas/AddressLocale"
    AddressTypes:
      type: string
      description: types of address.
      example: BILLING
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    Addresses:
      type: array
      items:
        $ref: "#/components/schemas/Address"
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:18:56Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
          example: "840277004504956930"
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: A unique identifier for this specific request.
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: Field-level validation errors or granular diagnostic information.
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            type: object
            properties:
              field:
                type: string
                description: The JSON path or field name that caused the error.
                example: payrollId
              issue:
                type: string
                description: The specific validation rule that failed.
                example: must be unique
              rejected_value:
                type: string
                description: The value that was sent and rejected (only if non-sensitive).
                example: "12345"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          description: Current health status of the service.
          example: UP
        version:
          type: string
          description: Version of the deployed service.
          example: 2.0.0
      description: Standard health check response body
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277004504956931"
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
          example: "840277004504956932"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        value:
          type: string
          description: The monetary or hours-based value of the event.
          example: user@example.com
        detail:
          type: string
          description: The monetary or hours-based value of the event.
          example: Primary identifier
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
          example: identifier_type value
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    LocationTypes:
      type: string
      description: types of locations.
      example: BOROUGH
      enum:
      - BOROUGH
      - PARISH
      - REGION
      - BOUNDARY
      - PROVINCE
      - VILLAGE
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - TELEMATICS
      - ADDRESS
      - NO_PREFERENCE
      - GPS
      - WAREHOUSE
      - DISTRICT
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          maxLength: 20
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
          example: "121"
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: Position codes associated with the entity.
          example: position_codes
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    ProblemDetail:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. Provides
            human-readable documentation for the error.
          format: uri
          example: https://api.yourdomain.com/errors/validation-failed
        title:
          type: string
          description: "A short, human-readable summary of the problem type. It should\
            \ not change from occurrence to occurrence."
          example: Intent Validation Failed
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          format: int32
          example: 422
        detail:
          type: string
          description: "A human-readable explanation specific to this occurrence of\
            \ the problem, providing context on the failure."
          example: The export request could not be processed due to business constraints.
        instance:
          type: string
          description: "A URI reference that identifies the specific occurrence of\
            \ the problem (e.g., the specific resource path)."
          format: uri
          example: https://api.yourdomain.com/money/exports
        intent:
          type: string
          description: The specific agentic or business intent that was being processed
            when the error occurred.
          example: InitiateMoneyExport
        error_code:
          type: string
          description: "A stable, machine-readable string code for the error."
          example: INSUFFICIENT_FUNDS_FOR_EXPORT
        pointer:
          type: string
          description: A JSON Pointer to the field in the request body that caused
            the violation.
          example: "#/plate_number"
        violations:
          type: array
          description: "A collection of specific validation failures, including field\
            \ paths and localized messages."
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            type: object
            properties:
              pointer:
                type: string
                description: A JSON Pointer (RFC 6901) referencing the specific field
                  in the request body that caused the violation.
                example: "#/vehicle_license/plate_number"
              code:
                type: string
                description: "A stable, machine-readable string identifying the specific\
                  \ validation rule that was breached."
                example: PATTERN_MISMATCH
              message:
                type: string
                description: "A localized, human-readable description of the validation\
                  \ error."
                example: The plate number must be alphanumeric and between 1 and 20
                  characters.
              severity:
                type: string
                description: The impact level of this violation. ERROR blocks execution;
                  WARNING is advisory.
                example: ERROR
                enum:
                - ERROR
                - WARNING
                - INFO
              metadata:
                type: object
                additionalProperties:
                  type: string
                description: "Contextual key-value pairs to help the agent resolve\
                  \ the error (e.g., actual vs. expected limits)."
                example:
                  regex: "^[A-Z0-9]{1,20}$"
              rule:
                type: string
                example: INSUFFICIENT_FUNDS
              path:
                type: string
                example: date_range.start
            description: "An individual validation failure within a request, providing\
              \ a direct map to the offending field."
      description: "A standardized error response based on RFC 7807, extended with\
        \ domain-specific intent and validation violations."
    Warehouse:
      type: object
      properties:
        warehouse_id:
          type: string
          description: Unique identifier for the warehouse.
          example: "840277004504956933"
        warehouse_key:
          type: string
          description: Business key used for external integrations or references.
          example: "840277004504956934"
        warehouse_code:
          type: string
          description: Code of the warehouse.
          example: WH-ATL-01
        warehouse_name:
          type: string
          description: Descriptive name of the warehouse.
          example: Atlanta Distribution Center
        party_id:
          type: string
          description: Identifier of the party (organization or individual) that owns
            or manages the warehouse.
          example: "840277004504956935"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        warehouse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: warehouse_types list
          example:
          - RETURN_CORE_CENTER
          items:
            $ref: "#/components/schemas/WarehouseTypes"
        vehicle_identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: List of vehicle identifiers associated with the warehouse for
            logistics or inventory purposes.
          example: vehicle_identifiers
          items:
            type: string
        addresses:
          $ref: "#/components/schemas/Addresses"
      description: Warehouse represents a physical or virtual storage location for
        inventory and assets.
    WarehouseCreate:
      required:
      - warehouse_key
      type: object
      description: Warehouse Create for Post
      allOf:
      - $ref: "#/components/schemas/Warehouse"
    WarehouseTypes:
      type: string
      description: types of warehouses.
      example: DEALERSHIP
      enum:
      - DEALERSHIP
      - OEM_WAREHOUSE
      - PARTS_SUPPLIER
      - REGIONAL_DISTRIBUTION_CENTER
      - NATIONAL_DISTRIBUTION_CENTER
      - RETURN_CORE_CENTER
      - IN_HOUSE_PARTS_STORAGE
      - DISTRIBUTOR
      - THIRD_PARTY_LOGISTICS
      - AFTERMARKET_SUPPLIER
      - BODY_SHOP_WAREHOUSE
      - TIRES_ONLY_DISTRIBUTION
      - ACCESSORY_WAREHOUSE
      - USED_PARTS_YARD
      - MOBILE_PARTS_UNIT
      - OTHER
    WarehouseUpdate:
      type: object
      properties:
        addresses:
          $ref: "#/components/schemas/Addresses"
        warehouse_name:
          type: string
          description: Descriptive name of the warehouse.
          example: Atlanta Regional Distribution Center
        vehicle_identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: Updated list of vehicle identifiers associated with the warehouse.
          example: vehicle_identifiers
          items:
            type: string
        warehouse_code:
          type: string
          description: Code of the warehouse.
          example: WH-ATL-01
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        warehouse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: warehouse_types list
          example:
          - BODY_SHOP_WAREHOUSE
          items:
            $ref: "#/components/schemas/WarehouseTypes"
      description: Warehouse Update for Patch and Put
  responses:
    UnauthorizedError:
      description: "Authentication failed. The access token is missing, expired, or\
        \ invalid."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    TooManyRequestsError:
      description: Rate Limit Error. Too Many Requests
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    WarehouseSingleResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Warehouse"
    GatewayTimeout:
      description: Timeout serving request
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    UnsupportedMediaTypeError:
      description: The request could not be completed because of missing or invalid
        content type
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    ForbiddenError:
      description: The authenticated user does not have the necessary permissions.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    PreconditionFailedError:
      description: The request was not processed because the 'If-Match' header provided
        does not match the current ETag.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    PositionSingleResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Position"
    WarehouseCreatedResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Content-Location:
          $ref: "#/components/headers/ContentLocationHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Warehouse"
    WarehouseUpdatedResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Content-Location:
          $ref: "#/components/headers/ContentLocationHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Warehouse"
    ConflictError:
      description: The request could not be completed because it conflicts with the
        current state of the resource.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    ServerError:
      description: An unexpected error occurred on the server while processing the
        request.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    AddressSingleResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Address"
    AddressCollectionResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Link:
          $ref: "#/components/headers/LinkHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: The list of Addresses entities.
                items:
                  $ref: "#/components/schemas/Address"
              has_more:
                type: boolean
                description: Indicates if more results are available.
              total_count:
                maximum: 2147483647
                minimum: 0
                type: integer
                description: The number of total entities.
                format: int32
                example: 2550
    AddressLocaleSingleResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AddressLocale"
    NotFoundError:
      description: The requested resource was not found.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    BadRequestError:
      description: "The request was malformed, failed validation, or contained invalid\
        \ parameters."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    AddressLocaleCollectionResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Link:
          $ref: "#/components/headers/LinkHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: The list of AddressLocales entities.
                items:
                  $ref: "#/components/schemas/AddressLocale"
              has_more:
                type: boolean
                description: Indicates if more results are available.
              total_count:
                maximum: 2147483647
                minimum: 0
                type: integer
                description: The number of total entities.
                format: int32
                example: 2550
    HealthStatusResponse:
      description: Service is Operational
      headers:
        Transaction-Id:
          $ref: "#/components/headers/TransactionIDHeader"
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/HealthStatus"
    NotAcceptableError:
      description: The client requested a format (via Accept header) the server can't
        provide
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    ServiceUnavailableError:
      description: Unable to serve request.  Service is unavailable
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    WarehouseCollectionResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Link:
          $ref: "#/components/headers/LinkHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: The list of Warehouses entities.
                items:
                  $ref: "#/components/schemas/Warehouse"
              has_more:
                type: boolean
                description: Indicates if more results are available.
              total_count:
                maximum: 2147483647
                minimum: 0
                type: integer
                description: The number of total entities.
                format: int32
                example: 2550
    NoContentSuccess:
      description: "No Content: The resource was successfully updated."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    UnprocessableEntity:
      description: "Unprocessable Content: Semantic logic error."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetail"
    PositionCollectionResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Link:
          $ref: "#/components/headers/LinkHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: The list of Positions entities.
                items:
                  $ref: "#/components/schemas/Position"
              has_more:
                type: boolean
                description: Indicates if more results are available.
              total_count:
                maximum: 2147483647
                minimum: 0
                type: integer
                description: The number of total entities.
                format: int32
                example: 2550
  parameters:
    ReasonQuery:
      name: reason
      in: query
      description: Reason parameters
      required: false
      style: form
      explode: true
      schema:
        maxLength: 100
        minLength: 0
        type: string
        example: "duplicate,soft_delete"
    OrgVersionHeader:
      name: Org-Version
      in: header
      description: "The version of the api for the organization that this request\
        \ adheres to (e.g., 2026.01)."
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 20
        minLength: 1
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    CacheControlHeader:
      name: Cache-Control
      in: header
      description: Tells the client and intermediary caches how to store the response.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: "max-age=300, private"
    SourceSystemHeader:
      name: Source-System
      in: header
      description: The system originating the transaction pulse.
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 25
        minLength: 2
        type: string
        example: GM_GLOBAL_NVS
    FilterQuery:
      name: filter
      in: query
      description: Filter parameters
      required: false
      style: form
      explode: true
      schema:
        maxLength: 100
        minLength: 0
        type: string
        example: "sdate:2026-02-09,edate:2026-02-09"
    CreatorCodeHeader:
      name: Creator-Code
      in: header
      description: "Source System Identifier (e.g., TY for Toyota, CDK for DMS)."
      required: false
      style: simple
      explode: false
      schema:
        maxLength: 8
        minLength: 2
        type: string
        example: CDK
    PreferHeader:
      name: Prefer
      in: header
      description: JSON context for field selection and error logging behavior.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: "{'logsLabel': {context: 'NNA_API', value: 'RDR API'}}"
    LocaleHeader:
      name: Locale
      in: header
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: en-US
    WarehouseKey:
      name: warehouse-key
      in: path
      description: The unique identifier for an Warehouse entity.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: "840276531121545216"
    IfMatchHeader:
      name: If-Match
      in: header
      description: Used for optimistic concurrency control. The request will fail
        (412) if the current ETag does not match this value.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: '"33a64df551425fcc55e4d42a148795d9f25f89d4"'
    IfNoneMatchHeader:
      name: If-None-Match
      in: header
      description: Used for conditional GETs. The operation is executed only if the
        stored ETag does not match this value. Prevents 'Lost Updates' in high-concurrency
        Service Bounded Contexts.
      required: false
      style: simple
      explode: false
      schema:
        pattern: "^\"?[a-f0-9]+\"?$|^\\*$"
        type: string
        example: '"686897696a7c876b7e"'
    CountryCodeHeader:
      name: Country-Code
      in: header
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: "1"
    CorrelationIDHeader:
      name: Correlation-ID
      in: header
      description: A unique identifier spanning the entire business lifecycle. Essential
        for tracing logic across the 13 Bounded Contexts of the Automotive Retail
        Domain.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
    AgentHeader:
      name: Agent
      in: header
      description: "The URI profile of the calling Agent. Used to negotiate supported\
        \ Industry Extensions (e.g., ) via the protocol."
      required: false
      style: simple
      explode: false
      schema:
        pattern: ^https?://.+
        type: string
        format: uri
        example: https://xxx.com/agent/v1
    SortQuery:
      name: sort
      in: query
      description: Sort parameters
      required: false
      style: form
      explode: true
      schema:
        maxLength: 100
        minLength: 0
        type: string
        example: "name,country"
    IdempotencyKeyHeader:
      name: Idempotency-Key
      in: header
      description: A unique identifier sent by the client to allow the server to prevent
        duplicate processing of the same request.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
    AddressLocaleKey:
      name: address-locale-key
      in: path
      description: The unique identifier for an AddressLocale entity.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: "840276531121545219"
    OffsetQuery:
      name: offset
      in: query
      description: The number of entities to skip before starting to collect the result
        set. Used in conjunction with 'limit' for traditional page-based navigation.
      required: false
      style: form
      explode: true
      schema:
        minimum: 0
        type: integer
        format: int32
        example: 234
    LimitQuery:
      name: limit
      in: query
      description: The maximum number of entities to return in a single response page.
        Limits the 'data' array size to prevent payload bloat.
      required: false
      style: form
      explode: true
      schema:
        maximum: 100
        minimum: 1
        type: integer
        format: int32
        example: 100
    RegionHeader:
      name: Region
      in: header
      description: The geographic or business region code.
      required: false
      style: simple
      explode: false
      schema:
        maxLength: 10
        minLength: 2
        type: string
        example: NE-01
    AddressKey:
      name: address-key
      in: path
      description: The unique identifier for an Address entity.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: "840276531121545217"
    StandardsVersionHeader:
      name: Standards-Version
      in: header
      description: "The version of the STAR REST Standard this request adheres to\
        \ (e.g., 2026.01)."
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 20
        minLength: 1
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    PositionKey:
      name: position-key
      in: path
      description: The unique identifier for an Position entity.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: "840276531121545218"
    TransactionIDHeader:
      name: Transaction-ID
      in: header
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: 550e8400-e29b-41d4-a716-446655440000
    BrandHeader:
      name: Brand
      in: header
      description: The automotive brand context for the RDR.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: TOYOTA
        default: TOYOTA
        enum:
        - TOYOTA
        - LEXUS
    SubscriberCodeHeader:
      name: Subscriber-Code
      in: header
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: 23a7d408-aed4-43f8-8af4-7a17f407m652
    DealerIdHeader:
      name: Dealer-Id
      in: header
      description: Unique 5-digit Dealer Identifier.
      required: false
      style: simple
      explode: false
      schema:
        maxLength: 5
        minLength: 5
        type: string
        example: "42278"
    PreferenceAppliedHeader:
      name: Preference-Applied
      in: header
      description: Indicates which client preferences (from the 'Prefer' request header)
        were honored by the server.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: return=minimal
  headers:
    CacheControlHeader:
      description: Tells the client and intermediary caches how to store the response.
      style: simple
      explode: false
      schema:
        type: string
        example: "max-age=300, private"
    VaryHeader:
      description: Instructs downstream caches that the response varies based on the
        Agent's profile or media type. Critical for Extension-based responses.
      style: simple
      explode: false
      schema:
        type: string
        example: "Accept, UCP-Agent"
        default: "Accept, UCP-Agent"
    ExpiresHeader:
      description: The timestamp after which the resource state is considered stale.
        Vital for volatile QQQ/SQQQ market data or real-time Inventory availability.
      style: simple
      explode: false
      schema:
        type: string
        format: date-time
        example: 2026-04-06T16:00:00Z
    LinkHeader:
      description: "RFC 8288 compliant links providing discovery for related resources\
        \ and 'Service Primitives' (e.g., :cancel, :execute). Essential for non-linear\
        \ state transitions across Bounded Contexts."
      style: simple
      explode: false
      schema:
        pattern: "^<[^>]+>;\\s*rel=\"[^\"]+\"(,\\s*<[^>]+>;\\s*rel=\"[^\"]+\")*$"
        type: string
        example: "<https://api.ai-sage.com/labor-operations/123:cancel>; rel=\"cancel\"\
          , <https://api.ai-sage.com/labor-operations/123>; rel=\"self\""
    LocationHeader:
      description: Relative URI of the newly created resource or status monitor for
        an asynchronous operation.
      style: simple
      explode: false
      schema:
        pattern: ^/.+
        type: string
        format: uri-reference
        example: /labor-operations/840276531121545220
    ContentLocationHeader:
      description: The URI of the specific representation returned in the payload.
        Used to disambiguate the 'Resource Identifier' from the 'Data Artifact' in
        multi-format or versioned Bounded Contexts.
      style: simple
      explode: false
      schema:
        pattern: ^/.+
        type: string
        format: uri-reference
        example: /labor-operations/840276531121545221
    TransactionIDHeader:
      description: Echoes the unique identifier for the specific atomic unit of work
        processed by the server.
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    CorrelationIDHeader:
      description: Echoes the unique identifier spanning the entire business lifecycle
        for cross-context tracing.
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    StandardsVersionHeader:
      description: The version of the STAR REST Standard the response adheres to.
      style: simple
      explode: false
      schema:
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    OrgVersionHeader:
      description: The version of the organization schema and API the response adheres
        to.
      style: simple
      explode: false
      schema:
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    AgentHeader:
      description: The unique identifier of the agent or user executing this method.
      style: simple
      explode: false
      schema:
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    ETagHeader:
      description: An entity tag (ETag) is an identifier for a specific version of
        a resource.
      style: simple
      explode: false
      schema:
        type: string
        example: '"33a64df551425fcc55e4d42a148795d9f25f89d4"'
    LastModifiedHeader:
      description: The ISO 8601 timestamp at which the resource was last modified
        in the underlying Postgres/Saga store.
      style: simple
      explode: false
      schema:
        type: string
        format: date-time
        example: 2026-04-06T15:47:17Z
    RateLimitLimitHeader:
      description: The maximum number of requests allowed in the current time window.
      style: simple
      explode: false
      schema:
        type: integer
        format: int32
        example: 1000
    RateLimitRemainingHeader:
      description: The number of requests remaining in the current time window.
      style: simple
      explode: false
      schema:
        type: integer
        format: int32
        example: 999
    RateLimitResetHeader:
      description: The number of seconds until the current rate limit window resets.
        Using 'Delta Seconds' avoids clock-skew issues between distributed systems.
      style: simple
      explode: false
      schema:
        minimum: 0
        type: integer
        format: int32
        example: 60
    RateLimitPolicyHeader:
      description: "The quota policy for the current user/agent. Format: 'limit;w=window'.\
        \ E.g., '1000;w=3600' means 1000 requests per hour."
      style: simple
      explode: false
      schema:
        pattern: ^\d+;w=\d+(;burst=\d+)?$
        type: string
        example: 1000;w=3600
  securitySchemes:
    industry-oauth:
      type: oauth2
      description: Centralized OAuth2 service for all industry members
      flows:
        clientCredentials:
          tokenUrl: https://auth.example.com/token
          scopes:
            standard:read: Read access
    member-api-key:
      type: apiKey
      name: X-API-KEY
      in: header
    bearer-auth:
      type: http
      description: JWT token obtained from authentication service
      scheme: bearer
      bearerFormat: JWT
    ApiKeyHeader:
      type: apiKey
      description: "A unique member-specific identifier used for API routing, quota\
        \ management, and rate limiting. This key does not replace the Authorization\
        \ bearer token for identity."
      name: X-API-Key
      in: header
    AuthorizationHeader:
      type: http
      description: Standard OIDC/OAuth 2.0 Bearer Token
      name: Authorization
      scheme: bearer
      bearerFormat: JWT
