openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Warehouse
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Warehouse:
      type: object
      properties:
        warehouse_id:
          type: string
          description: Unique identifier for the warehouse.
        warehouse_key:
          type: string
          description: Business key used for external integrations or references.
        warehouse_code:
          type: string
          description: Code of the warehouse.
        warehouse_name:
          type: string
          description: Descriptive name of the warehouse.
        party_id:
          type: string
          description: Identifier of the party (organization or individual) that owns
            or manages the warehouse.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        warehouse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/WarehouseTypes"
        vehicle_identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        address_references:
          $ref: "#/components/schemas/AddressReferences"
      description: Warehouse represents a physical or virtual storage location for
        inventory and assets.
    WarehouseCreate:
      required:
      - warehouse_key
      type: object
      description: Warehouse Create for Post
      allOf:
      - $ref: "#/components/schemas/Warehouse"
    WarehouseTypes:
      type: string
      description: types of warehouses.
      enum:
      - DEALERSHIP
      - OEM_WAREHOUSE
      - PARTS_SUPPLIER
      - REGIONAL_DISTRIBUTION_CENTER
      - NATIONAL_DISTRIBUTION_CENTER
      - RETURN_CORE_CENTER
      - IN_HOUSE_PARTS_STORAGE
      - DISTRIBUTOR
      - THIRD_PARTY_LOGISTICS
      - AFTERMARKET_SUPPLIER
      - BODY_SHOP_WAREHOUSE
      - TIRES_ONLY_DISTRIBUTION
      - ACCESSORY_WAREHOUSE
      - USED_PARTS_YARD
      - MOBILE_PARTS_UNIT
      - OTHER
    WarehouseUpdate:
      type: object
      properties:
        warehouse_name:
          type: string
          description: Descriptive name of the warehouse.
        vehicle_identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        warehouse_code:
          type: string
          description: Code of the warehouse.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        warehouse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/WarehouseTypes"
      description: Warehouse Update for Patch and Put
