openapi: 3.0.1
info:
  title: Automotive Retail Systems API - StaffActivity
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    List:
      type: array
      items:
        $ref: "#/components/schemas/StaffActivityTypes"
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    StaffActivity:
      type: object
      properties:
        staff_activity_key:
          type: string
          description: The unique key for the staff activity record.
        staff_activity_id:
          type: string
          description: The unique ID for the staff activity.
        labor_operation_key:
          type: string
          description: The unique key of the parent labor operation.
        service_order_key:
          type: string
          description: The unique key of the root service/repair order.
        staff_member_key:
          type: string
          description: The unique key for the staff member/technician performing the
            activity.
        playbook_step_id:
          type: string
          description: Identifies the standard playbook step template this activity
            fulfills.
          example: STEP-TORQUE-001
        activity_key:
          type: string
          description: The unique key for the underlying activity definition.
        activity_group:
          type: string
          description: "The domain group to which the activity belongs (e.g., SAFETY_CHECK,\
            \ DIAGNOSTIC, TEARDOWN)."
        staff_activity_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/StaffActivityTypes"
        activity_status:
          $ref: "#/components/schemas/StaffActivityStatusTypes"
        activity_description:
          type: string
          description: staff.activity.activity.description.desc
        activity_comments:
          type: string
          description: staff.activity.activity.comments.desc
        activity_codes:
          $ref: "#/components/schemas/Codes"
        metrics_data:
          $ref: "#/components/schemas/MetricNameValues"
        scheduled_date_time:
          type: string
          description: staff.activity.scheduled.date.time.desc
          format: date-time
          example: 2026-07-27T23:46:00Z
        started_date_time:
          type: string
          description: staff.activity.started.date.time.desc
          format: date-time
          example: 2026-07-27T23:46:00Z
        completed_date_time:
          type: string
          description: staff.activity.completed.date.time.desc
          format: date-time
          example: 2026-07-27T23:46:00Z
        duration_millis:
          type: integer
          description: Computed or recorded duration in milliseconds for rapid decision
            engine evaluations.
          format: int64
      description: Represents an activity performed by a staff member.
    StaffActivityStatusTypes:
      type: string
      description: types of staff activity status.
      enum:
      - PENDING
      - IN_PROGRESS
      - PAUSED
      - COMPLETED
      - SKIPPED
      - BYPASSED
      - FAILED
      - CANCELLED
      - UNKNOWN
    StaffActivityTypes:
      type: string
      description: types of staff activitys.
      enum:
      - TASK_STARTED
      - TASK_END
      - PROCESS_STARTED
      - PROCESS_END
      - ASSIGNED
      - LOGGED
      - COMPLETED
      - VERIFIED
      - REQUESTED
      - CREATED
      - PLANNED
      - PRIORITIZED
      - APPROVED
      - AUDITED
      - AUTHORIZED
      - UPDATED
      - CANCELLED
      - REJECTED
      - DELEGATED
      - REOPENED
      - SCHEDULED
      - UNKNOWN
