openapi: 3.0.1
info:
  title: Automotive Retail Systems API - NotificationReference
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    EventTypes:
      type: string
      description: types of events.
      enum:
      - INVOICE_RECEIVED
      - ITEM_SHIPPED
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    NotificationReference:
      type: object
      properties:
        notification_reference_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "837859211736846337"
        notification_reference_key:
          type: string
          description: Unique global internal or external business key.
          example: 01JK4Z9V8G0M6Y8X9A7B6C5D4E
        source_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced PartOrder aggregate
            root.
          example: PO-7728394-X
        source_actor:
          maxLength: 50
          minLength: 2
          type: string
          description: The identifier of the agent or system that initiated the notification.
          example: DMS_PARTS_ADVISOR
        context:
          type: string
          description: "Context or domain of the identifier (e.g., 'PARTS', 'SERVICE',\
            \ 'INVENTORY')."
          example: PARTS
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        occurrence_date_time:
          type: string
          description: "The date and time when the event occurred, represented in\
            \ ISO-8601 date-time format."
          format: date-time
          example: 2026-05-07T17:17:34Z
        event_type:
          $ref: "#/components/schemas/EventTypes"
      description: "Reference to a PartOrder Aggregate Root, facilitating agentic\
        \ orchestration across bounded contexts."
