openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    EventTypes:
      type: string
      description: types of events.
      enum:
      - INVOICE_RECEIVED
      - ITEM_SHIPPED
    NotificationReference:
      type: object
      properties:
        notification_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        notification_reference_key:
          type: string
          description: Unique key value for the reference record.
        source_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced PartOrder aggregate.
        source_actor:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced PartOrder aggregate.
        context:
          type: string
          description: "Context or domain of the identifier (e.g., 'CRM', 'ERP')."
        occurrence_date_time:
          type: string
          description: The date and time the reference was created or last updated.
          format: date-time
          example: 2026-04-09T15:08:06Z
        event_type:
          $ref: "#/components/schemas/EventTypes"
      description: "Reference to a PartOrder Aggregate Root, often used by external\
        \ systems."
