openapi: 3.0.1
info:
  title: Automotive Retail Systems API - SubsidiaryLedgerTransaction
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: Health
  description: Tag Description Health
- name: SubsidiaryLedgerTransactions
  description: Tag Description SubsidiaryLedgerTransactions
paths:
  /subsidiary-ledger-transactions:
    get:
      tags:
      - SubsidiaryLedgerTransactions
      summary: Returns a paginated list of subsidiary ledger transaction
      description: a list of SubsidiaryLedgerTransaction
      operationId: listSubsidiaryLedgerTransactions
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/SubsidiaryLedgerTransactionCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    post:
      tags:
      - SubsidiaryLedgerTransactions
      summary: create subsidiary ledger transaction
      description: create SubsidiaryLedgerTransaction
      operationId: createSubsidiaryLedgerTransaction
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubsidiaryLedgerTransactionCreate"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SubsidiaryLedgerTransactionCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /subsidiary-ledger-transactions/{subsidiary-ledger-transaction-key}:
    get:
      tags:
      - SubsidiaryLedgerTransactions
      summary: Retrieve a single item scoped by a key SubsidiaryLedgerTransaction
        entities.
      description: Retrieve a single item scoped by a key SubsidiaryLedgerTransaction
        entities.
      operationId: getSubsidiaryLedgerTransactionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/SubsidiaryLedgerTransactionKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/SubsidiaryLedgerTransactionSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    put:
      tags:
      - SubsidiaryLedgerTransactions
      summary: Replace values in a single item scoped by a key SubsidiaryLedgerTransaction
        entities.
      description: Replace values in a single item scoped by a key SubsidiaryLedgerTransaction
        entities.
      operationId: replaceSubsidiaryLedgerTransactionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/SubsidiaryLedgerTransactionKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubsidiaryLedgerTransactionUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/SubsidiaryLedgerTransactionUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    delete:
      tags:
      - SubsidiaryLedgerTransactions
      summary: Delete a single item scoped by a key SubsidiaryLedgerTransaction
      description: delete a SubsidiaryLedgerTransaction
      operationId: deleteSubsidiaryLedgerTransaction
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/ReasonQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/SubsidiaryLedgerTransactionKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/SubsidiaryLedgerTransactionSingleResponse"
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    patch:
      tags:
      - SubsidiaryLedgerTransactions
      summary: Update a single item scoped by a key SubsidiaryLedgerTransaction
      description: update a single item
      operationId: updateSubsidiaryLedgerTransactionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/SubsidiaryLedgerTransactionKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/SubsidiaryLedgerTransactionUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/SubsidiaryLedgerTransactionUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /subsidiary-ledger-transaction/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the SubsidiaryLedgerTransaction root
        node.
      operationId: healthSubsidiaryLedgerTransaction
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
          example: "840277003204722688"
        address_reference_id:
          type: string
          description: The unique value of the address reference.
          example: "840277003204722689"
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: address_types list
          example:
          - INSURANCE
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
          example: 123 Main St
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Suite 400
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Building A
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Mail Stop 22
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: "Attention: Accounts Payable"
        city:
          type: string
          description: Name of the city.
          example: Atlanta
        country_code:
          type: string
          description: Full name of the country.
          example: US
        district:
          type: string
          description: Name of the district.
          example: North District
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
          example: Work Email
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
          example: "30303"
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
          example: GA
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      example: BILLING
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:18:29Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
          example: "840277003204722690"
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
          example: "840277003204722691"
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
          example: "840277003204722692"
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
          example: user@example.com
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
          example: "{country_code=+1}"
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
          example: Work Email
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      example: PHONE
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277003204722693"
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277003204722694"
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277003204722695"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:18:29Z
      description: External system identifier
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:18:29Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      example: SUN
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: A unique identifier for this specific request.
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: Field-level validation errors or granular diagnostic information.
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            type: object
            properties:
              field:
                type: string
                description: The JSON path or field name that caused the error.
                example: payrollId
              issue:
                type: string
                description: The specific validation rule that failed.
                example: must be unique
              rejected_value:
                type: string
                description: The value that was sent and rejected (only if non-sensitive).
                example: "12345"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    FinancialTransactionTypes:
      type: string
      description: types of financial transactions.
      example: ASSETS
      enum:
      - ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - EQUITY
      - INVENTORY
      - INTANGIBLE_ASSET
      - PREPAID_EXPENSE
      - INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - SALES_DISCOUNT
      - RETURNS
      - CASH_INFLOW
      - CASH_OUTFLOW
      - BANK_CHARGE
      - LOAN_RECEIVABLE
      - LOAN_PAYABLE
      - INVESTMENT
      - DIVIDEND
      - INTEREST_INCOME
      - INTEREST_EXPENSE
      - OBLIGATION_NOTE
      - OBLIGATION_CREDIT
      - OBLIGATION_TAX
      - OBLIGATION_OTHER
      - TAX_PAYABLE
      - DEFERRED_REVENUE
      - ACCRUED_EXPENSE
      - PROVISION
      - DEBIT
      - CREDIT
      - CAPITALIZATION
      - AMORTIZATION
      - VARIANCE
      - INVOICE
      - RECEIPT
      - RECEIVABLE_RECEIPT
      - DISBURSEMENT
      - TRANSFER
      - SERVICE
      - FEE
      - REBATE
      - OTHER
      - CUSTOM
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          description: Current health status of the service.
          example: UP
        version:
          type: string
          description: Version of the deployed service.
          example: 2.0.0
      description: Standard health check response body
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277003204722696"
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
          example: "840277003204722697"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        value:
          type: string
          description: The monetary or hours-based value of the event.
          example: user@example.com
        detail:
          type: string
          description: The monetary or hours-based value of the event.
          example: Primary identifier
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
          example: identifier_type value
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
          example: "840277003204722698"
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
          example: English (US)
        description:
          type: string
          description: A detailed description of the alert message.
          example: Vehicle engine component.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
          example: en
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: US
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
          example: $
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
          example: America/New_York
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
          example: "###,###.##"
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: not nullable
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        vin:
          $ref: "#/components/schemas/Vin"
        currency_code:
          type: string
          description: money.currency.code.desc
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        value:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    OrganizationTypes:
      type: string
      description: types of organizations.
      example: CORPORATION
      enum:
      - CORPORATION
      - DIVISION
      - FRANCHISE
      - GROUP
      - STORE
      - DEALERSHIP
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - OTHER
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: party_relationship_types list
          example:
          - EMPLOYER
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-05-07T17:18:29Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      example: CORPORATION
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      example: DEALER
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    ProblemDetail:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. Provides
            human-readable documentation for the error.
          format: uri
          example: https://api.yourdomain.com/errors/validation-failed
        title:
          type: string
          description: "A short, human-readable summary of the problem type. It should\
            \ not change from occurrence to occurrence."
          example: Intent Validation Failed
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          format: int32
          example: 422
        detail:
          type: string
          description: "A human-readable explanation specific to this occurrence of\
            \ the problem, providing context on the failure."
          example: The export request could not be processed due to business constraints.
        instance:
          type: string
          description: "A URI reference that identifies the specific occurrence of\
            \ the problem (e.g., the specific resource path)."
          format: uri
          example: https://api.yourdomain.com/money/exports
        intent:
          type: string
          description: The specific agentic or business intent that was being processed
            when the error occurred.
          example: InitiateMoneyExport
        error_code:
          type: string
          description: "A stable, machine-readable string code for the error."
          example: INSUFFICIENT_FUNDS_FOR_EXPORT
        pointer:
          type: string
          description: A JSON Pointer to the field in the request body that caused
            the violation.
          example: "#/plate_number"
        violations:
          type: array
          description: "A collection of specific validation failures, including field\
            \ paths and localized messages."
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            type: object
            properties:
              pointer:
                type: string
                description: A JSON Pointer (RFC 6901) referencing the specific field
                  in the request body that caused the violation.
                example: "#/vehicle_license/plate_number"
              code:
                type: string
                description: "A stable, machine-readable string identifying the specific\
                  \ validation rule that was breached."
                example: PATTERN_MISMATCH
              message:
                type: string
                description: "A localized, human-readable description of the validation\
                  \ error."
                example: The plate number must be alphanumeric and between 1 and 20
                  characters.
              severity:
                type: string
                description: The impact level of this violation. ERROR blocks execution;
                  WARNING is advisory.
                example: ERROR
                enum:
                - ERROR
                - WARNING
                - INFO
              metadata:
                type: object
                additionalProperties:
                  type: string
                description: "Contextual key-value pairs to help the agent resolve\
                  \ the error (e.g., actual vs. expected limits)."
                example:
                  regex: "^[A-Z0-9]{1,20}$"
              rule:
                type: string
                example: INSUFFICIENT_FUNDS
              path:
                type: string
                example: date_range.start
            description: "An individual validation failure within a request, providing\
              \ a direct map to the offending field."
      description: "A standardized error response based on RFC 7807, extended with\
        \ domain-specific intent and validation violations."
    SubsidiaryLedgerTransaction:
      type: object
      properties:
        subsidiary_ledger_transaction_id:
          type: string
          description: Unique identifier for the Subsidiary Ledger Transaction.
          example: "840277003208916992"
        subsidiary_ledger_transaction_key:
          type: string
          description: Unique identifier for the Subsidiary Ledger Transaction.
          example: "840277003208916993"
        control_account_key:
          $ref: "#/components/schemas/ControlAccountReference"
        transaction_date:
          type: string
          description: The date the source transaction occurred.
          format: date
          example: 2026-04-24
        posting_date:
          type: string
          description: The date the source transaction occurred.
          format: date
          example: 2026-05-06
        transaction_type:
          $ref: "#/components/schemas/FinancialTransactionTypes"
        org_id:
          type: string
          description: The ID of the organization (cost or profit center) associated
            with the transaction.
          example: "1"
        account_key:
          type: string
          description: "specific account (e.g., A/R account ID, Revenue account ID)\
            \ within the control structure, which is different from the organization\
            \ ID."
          example: "1"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        org_type:
          $ref: "#/components/schemas/OrganizationTypes"
        total_money:
          $ref: "#/components/schemas/Money"
        description:
          type: string
          description: A description of the transaction.
          example: Vehicle engine component.
        subsidiary_ledger_transaction_status_type:
          $ref: "#/components/schemas/SubsidiaryLedgerTransactionStatusTypes"
      description: nullable
    SubsidiaryLedgerTransactionCreate:
      required:
      - subsidiary_ledger_transaction_key
      type: object
      description: SubsidiaryLedgerTransaction Create for Post
      allOf:
      - $ref: "#/components/schemas/SubsidiaryLedgerTransaction"
    SubsidiaryLedgerTransactionStatusTypes:
      type: string
      description: types of subsidiary ledger transaction status.
      example: DRAFT
      enum:
      - DRAFT
      - SUBMITTED
      - APPROVED
      - POSTED
      - RECONCILED
      - VOIDED
    SubsidiaryLedgerTransactionUpdate:
      type: object
      properties:
        transaction_date:
          type: string
          description: The date the source transaction occurred.
          format: date
          example: 2026-04-11
        subsidiary_ledger_transaction_status_type:
          $ref: "#/components/schemas/SubsidiaryLedgerTransactionStatusTypes"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        org_type:
          $ref: "#/components/schemas/OrganizationTypes"
        description:
          type: string
          description: A description of the transaction.
          example: Vehicle engine component.
        total_money:
          $ref: "#/components/schemas/Money"
        posting_date:
          type: string
          description: The date the source transaction occurred.
          format: date
          example: 2026-05-07
        transaction_type:
          $ref: "#/components/schemas/FinancialTransactionTypes"
      description: SubsidiaryLedgerTransaction Update for Patch and Put
    TimeSlot:
      type: object
      properties:
        time_slot_id:
          type: string
          description: Technical unique identifier (GUID) for the time slot record.
          example: b2d3e4f5-a6b7-c8d9-e0f1-a2b3c4d5e6f7
        time_slot_key:
          type: string
          description: Natural business key for the time slot within its specific
            context.
          example: TS-MON-MORNING-SHIFT
        time_slot_source:
          type: string
          description: The originating system or calendar providing this availability
            data.
          example: GOOGLE_CALENDAR
        start_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        start_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local start time in 24-hour ISO 8601 format.
          format: date-time
        end_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        end_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local end time in 24-hour ISO 8601 format.
          format: date-time
        recurring_indicator:
          type: boolean
          description: Indicates if this time slot is part of a repeating pattern.
          example: true
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: timeslot_directive_types list
          example:
          - BEFORE
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        week_of_date:
          $ref: "#/components/schemas/Codes"
      description: "Defines a specific window of time, often within a recurring schedule,\
        \ used for service availability or appointment booking."
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      example: AFTER
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - UNKNOWN
    Vin:
      type: string
      description: Three-letter ISO-4217 currency code.
      example: USD
  responses:
    SubsidiaryLedgerTransactionUpdatedResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Content-Location:
          $ref: "#/components/headers/ContentLocationHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SubsidiaryLedgerTransaction"
    SubsidiaryLedgerTransactionCreatedResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Content-Location:
          $ref: "#/components/headers/ContentLocationHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SubsidiaryLedgerTransaction"
    ConflictError:
      description: The request could not be completed because it conflicts with the
        current state of the resource.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    ServerError:
      description: An unexpected error occurred on the server while processing the
        request.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    NotFoundError:
      description: The requested resource was not found.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    BadRequestError:
      description: "The request was malformed, failed validation, or contained invalid\
        \ parameters."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    UnauthorizedError:
      description: "Authentication failed. The access token is missing, expired, or\
        \ invalid."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    TooManyRequestsError:
      description: Rate Limit Error. Too Many Requests
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    HealthStatusResponse:
      description: Service is Operational
      headers:
        Transaction-Id:
          $ref: "#/components/headers/TransactionIDHeader"
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/HealthStatus"
    NotAcceptableError:
      description: The client requested a format (via Accept header) the server can't
        provide
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    ServiceUnavailableError:
      description: Unable to serve request.  Service is unavailable
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    GatewayTimeout:
      description: Timeout serving request
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    UnsupportedMediaTypeError:
      description: The request could not be completed because of missing or invalid
        content type
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    NoContentSuccess:
      description: "No Content: The resource was successfully updated."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
    ForbiddenError:
      description: The authenticated user does not have the necessary permissions.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    PreconditionFailedError:
      description: The request was not processed because the 'If-Match' header provided
        does not match the current ETag.
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorDetail"
    SubsidiaryLedgerTransactionCollectionResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Link:
          $ref: "#/components/headers/LinkHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: The list of SubsidiaryLedgerTransactions entities.
                items:
                  $ref: "#/components/schemas/SubsidiaryLedgerTransaction"
              has_more:
                type: boolean
                description: Indicates if more results are available.
              total_count:
                maximum: 2147483647
                minimum: 0
                type: integer
                description: The number of total entities.
                format: int32
                example: 2550
    UnprocessableEntity:
      description: "Unprocessable Content: Semantic logic error."
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetail"
    SubsidiaryLedgerTransactionSingleResponse:
      description: Success
      headers:
        Standards-Version:
          $ref: "#/components/headers/StandardsVersionHeader"
        Correlation-ID:
          $ref: "#/components/headers/CorrelationIDHeader"
        Agent:
          $ref: "#/components/headers/AgentHeader"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitResetHeader"
        RateLimit-Policy:
          $ref: "#/components/headers/RateLimitPolicyHeader"
        Transaction-ID:
          $ref: "#/components/headers/TransactionIDHeader"
        Last-Modified:
          $ref: "#/components/headers/LastModifiedHeader"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimitHeader"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemainingHeader"
        Cache-Control:
          $ref: "#/components/headers/CacheControlHeader"
        ETag:
          $ref: "#/components/headers/ETagHeader"
        Vary:
          $ref: "#/components/headers/VaryHeader"
        Expires:
          $ref: "#/components/headers/ExpiresHeader"
        Org-Version:
          $ref: "#/components/headers/OrgVersionHeader"
        Location:
          $ref: "#/components/headers/LocationHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SubsidiaryLedgerTransaction"
  parameters:
    ReasonQuery:
      name: reason
      in: query
      description: Reason parameters
      required: false
      style: form
      explode: true
      schema:
        maxLength: 100
        minLength: 0
        type: string
        example: "duplicate,soft_delete"
    OrgVersionHeader:
      name: Org-Version
      in: header
      description: "The version of the api for the organization that this request\
        \ adheres to (e.g., 2026.01)."
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 20
        minLength: 1
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    SubsidiaryLedgerTransactionKey:
      name: subsidiary-ledger-transaction-key
      in: path
      description: The unique identifier for an SubsidiaryLedgerTransaction entity.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: "840276417384603649"
    CacheControlHeader:
      name: Cache-Control
      in: header
      description: Tells the client and intermediary caches how to store the response.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: "max-age=300, private"
    SourceSystemHeader:
      name: Source-System
      in: header
      description: The system originating the transaction pulse.
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 25
        minLength: 2
        type: string
        example: GM_GLOBAL_NVS
    FilterQuery:
      name: filter
      in: query
      description: Filter parameters
      required: false
      style: form
      explode: true
      schema:
        maxLength: 100
        minLength: 0
        type: string
        example: "sdate:2026-02-09,edate:2026-02-09"
    CreatorCodeHeader:
      name: Creator-Code
      in: header
      description: "Source System Identifier (e.g., TY for Toyota, CDK for DMS)."
      required: false
      style: simple
      explode: false
      schema:
        maxLength: 8
        minLength: 2
        type: string
        example: CDK
    PreferHeader:
      name: Prefer
      in: header
      description: JSON context for field selection and error logging behavior.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: "{'logsLabel': {context: 'NNA_API', value: 'RDR API'}}"
    LocaleHeader:
      name: Locale
      in: header
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: en-US
    IfMatchHeader:
      name: If-Match
      in: header
      description: Used for optimistic concurrency control. The request will fail
        (412) if the current ETag does not match this value.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: '"33a64df551425fcc55e4d42a148795d9f25f89d4"'
    IfNoneMatchHeader:
      name: If-None-Match
      in: header
      description: Used for conditional GETs. The operation is executed only if the
        stored ETag does not match this value. Prevents 'Lost Updates' in high-concurrency
        Service Bounded Contexts.
      required: false
      style: simple
      explode: false
      schema:
        pattern: "^\"?[a-f0-9]+\"?$|^\\*$"
        type: string
        example: '"686897696a7c876b7e"'
    CountryCodeHeader:
      name: Country-Code
      in: header
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: "1"
    CorrelationIDHeader:
      name: Correlation-ID
      in: header
      description: A unique identifier spanning the entire business lifecycle. Essential
        for tracing logic across the 13 Bounded Contexts of the Automotive Retail
        Domain.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
    AgentHeader:
      name: Agent
      in: header
      description: "The URI profile of the calling Agent. Used to negotiate supported\
        \ Industry Extensions (e.g., ) via the protocol."
      required: false
      style: simple
      explode: false
      schema:
        pattern: ^https?://.+
        type: string
        format: uri
        example: https://xxx.com/agent/v1
    SortQuery:
      name: sort
      in: query
      description: Sort parameters
      required: false
      style: form
      explode: true
      schema:
        maxLength: 100
        minLength: 0
        type: string
        example: "name,country"
    IdempotencyKeyHeader:
      name: Idempotency-Key
      in: header
      description: A unique identifier sent by the client to allow the server to prevent
        duplicate processing of the same request.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
    OffsetQuery:
      name: offset
      in: query
      description: The number of entities to skip before starting to collect the result
        set. Used in conjunction with 'limit' for traditional page-based navigation.
      required: false
      style: form
      explode: true
      schema:
        minimum: 0
        type: integer
        format: int32
        example: 234
    LimitQuery:
      name: limit
      in: query
      description: The maximum number of entities to return in a single response page.
        Limits the 'data' array size to prevent payload bloat.
      required: false
      style: form
      explode: true
      schema:
        maximum: 100
        minimum: 1
        type: integer
        format: int32
        example: 100
    RegionHeader:
      name: Region
      in: header
      description: The geographic or business region code.
      required: false
      style: simple
      explode: false
      schema:
        maxLength: 10
        minLength: 2
        type: string
        example: NE-01
    StandardsVersionHeader:
      name: Standards-Version
      in: header
      description: "The version of the STAR REST Standard this request adheres to\
        \ (e.g., 2026.01)."
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 20
        minLength: 1
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    TransactionIDHeader:
      name: Transaction-ID
      in: header
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: 550e8400-e29b-41d4-a716-446655440000
    BrandHeader:
      name: Brand
      in: header
      description: The automotive brand context for the RDR.
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: TOYOTA
        default: TOYOTA
        enum:
        - TOYOTA
        - LEXUS
    SubscriberCodeHeader:
      name: Subscriber-Code
      in: header
      required: false
      style: simple
      explode: false
      schema:
        type: string
        example: 23a7d408-aed4-43f8-8af4-7a17f407m652
    DealerIdHeader:
      name: Dealer-Id
      in: header
      description: Unique 5-digit Dealer Identifier.
      required: false
      style: simple
      explode: false
      schema:
        maxLength: 5
        minLength: 5
        type: string
        example: "42278"
    PreferenceAppliedHeader:
      name: Preference-Applied
      in: header
      description: Indicates which client preferences (from the 'Prefer' request header)
        were honored by the server.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        example: return=minimal
  headers:
    CacheControlHeader:
      description: Tells the client and intermediary caches how to store the response.
      style: simple
      explode: false
      schema:
        type: string
        example: "max-age=300, private"
    VaryHeader:
      description: Instructs downstream caches that the response varies based on the
        Agent's profile or media type. Critical for Extension-based responses.
      style: simple
      explode: false
      schema:
        type: string
        example: "Accept, UCP-Agent"
        default: "Accept, UCP-Agent"
    ExpiresHeader:
      description: The timestamp after which the resource state is considered stale.
        Vital for volatile QQQ/SQQQ market data or real-time Inventory availability.
      style: simple
      explode: false
      schema:
        type: string
        format: date-time
        example: 2026-04-06T16:00:00Z
    LinkHeader:
      description: "RFC 8288 compliant links providing discovery for related resources\
        \ and 'Service Primitives' (e.g., :cancel, :execute). Essential for non-linear\
        \ state transitions across Bounded Contexts."
      style: simple
      explode: false
      schema:
        pattern: "^<[^>]+>;\\s*rel=\"[^\"]+\"(,\\s*<[^>]+>;\\s*rel=\"[^\"]+\")*$"
        type: string
        example: "<https://api.ai-sage.com/labor-operations/123:cancel>; rel=\"cancel\"\
          , <https://api.ai-sage.com/labor-operations/123>; rel=\"self\""
    LocationHeader:
      description: Relative URI of the newly created resource or status monitor for
        an asynchronous operation.
      style: simple
      explode: false
      schema:
        pattern: ^/.+
        type: string
        format: uri-reference
        example: /labor-operations/840276417384603650
    ContentLocationHeader:
      description: The URI of the specific representation returned in the payload.
        Used to disambiguate the 'Resource Identifier' from the 'Data Artifact' in
        multi-format or versioned Bounded Contexts.
      style: simple
      explode: false
      schema:
        pattern: ^/.+
        type: string
        format: uri-reference
        example: /labor-operations/840276417384603651
    TransactionIDHeader:
      description: Echoes the unique identifier for the specific atomic unit of work
        processed by the server.
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    CorrelationIDHeader:
      description: Echoes the unique identifier spanning the entire business lifecycle
        for cross-context tracing.
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    StandardsVersionHeader:
      description: The version of the STAR REST Standard the response adheres to.
      style: simple
      explode: false
      schema:
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    OrgVersionHeader:
      description: The version of the organization schema and API the response adheres
        to.
      style: simple
      explode: false
      schema:
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    AgentHeader:
      description: The unique identifier of the agent or user executing this method.
      style: simple
      explode: false
      schema:
        pattern: "^[a-zA-Z0-9\\.\\-]+$"
        type: string
        example: "2026.01"
    ETagHeader:
      description: An entity tag (ETag) is an identifier for a specific version of
        a resource.
      style: simple
      explode: false
      schema:
        type: string
        example: '"33a64df551425fcc55e4d42a148795d9f25f89d4"'
    LastModifiedHeader:
      description: The ISO 8601 timestamp at which the resource was last modified
        in the underlying Postgres/Saga store.
      style: simple
      explode: false
      schema:
        type: string
        format: date-time
        example: 2026-04-06T15:47:17Z
    RateLimitLimitHeader:
      description: The maximum number of requests allowed in the current time window.
      style: simple
      explode: false
      schema:
        type: integer
        format: int32
        example: 1000
    RateLimitRemainingHeader:
      description: The number of requests remaining in the current time window.
      style: simple
      explode: false
      schema:
        type: integer
        format: int32
        example: 999
    RateLimitResetHeader:
      description: The number of seconds until the current rate limit window resets.
        Using 'Delta Seconds' avoids clock-skew issues between distributed systems.
      style: simple
      explode: false
      schema:
        minimum: 0
        type: integer
        format: int32
        example: 60
    RateLimitPolicyHeader:
      description: "The quota policy for the current user/agent. Format: 'limit;w=window'.\
        \ E.g., '1000;w=3600' means 1000 requests per hour."
      style: simple
      explode: false
      schema:
        pattern: ^\d+;w=\d+(;burst=\d+)?$
        type: string
        example: 1000;w=3600
  securitySchemes:
    industry-oauth:
      type: oauth2
      description: Centralized OAuth2 service for all industry members
      flows:
        clientCredentials:
          tokenUrl: https://auth.example.com/token
          scopes:
            standard:read: Read access
    member-api-key:
      type: apiKey
      name: X-API-KEY
      in: header
    bearer-auth:
      type: http
      description: JWT token obtained from authentication service
      scheme: bearer
      bearerFormat: JWT
    ApiKeyHeader:
      type: apiKey
      description: "A unique member-specific identifier used for API routing, quota\
        \ management, and rate limiting. This key does not replace the Authorization\
        \ bearer token for identity."
      name: X-API-Key
      in: header
    AuthorizationHeader:
      type: http
      description: Standard OIDC/OAuth 2.0 Bearer Token
      name: Authorization
      scheme: bearer
      bearerFormat: JWT
