openapi: 3.0.1
info:
  title: Automotive Retail Systems API - ShipmentProfile
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: BusinessContexts
  description: Tag Description BusinessContexts
- name: DeliveryProfiles
  description: Tag Description DeliveryProfiles
- name: FinancialEventSnapshots
  description: Tag Description FinancialEventSnapshots
- name: GeneralAmounts
  description: Tag Description GeneralAmounts
- name: Health
  description: Tag Description Health
- name: JurisdictionProfiles
  description: Tag Description JurisdictionProfiles
- name: Positions
  description: Tag Description Positions
- name: PrivacyPolicyRules
  description: Tag Description PrivacyPolicyRules
- name: ShipmentEvents
  description: Tag Description ShipmentEvents
- name: ShipmentManifestLines
  description: Tag Description ShipmentManifestLines
- name: ShipmentProfiles
  description: Tag Description ShipmentProfiles
- name: TrackingInformations
  description: Tag Description TrackingInformations
paths:
  /shipment-profiles:
    get:
      tags:
      - ShipmentProfiles
      summary: Returns a paginated list of shipment profile
      description: a list of ShipmentProfile
      operationId: listShipmentProfiles
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ShipmentProfileCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    post:
      tags:
      - ShipmentProfiles
      summary: create shipment profile
      description: create ShipmentProfile
      operationId: createShipmentProfile
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShipmentProfileCreate"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/ShipmentProfileCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /shipment-profiles/{shipment-profile-key}:
    get:
      tags:
      - ShipmentProfiles
      summary: Retrieve a single item scoped by a key ShipmentProfile entities.
      description: Retrieve a single item scoped by a key ShipmentProfile entities.
      operationId: getShipmentProfileByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/ShipmentProfileKey"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ShipmentProfileSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    put:
      tags:
      - ShipmentProfiles
      summary: Replace values in a single item scoped by a key ShipmentProfile entities.
      description: Replace values in a single item scoped by a key ShipmentProfile
        entities.
      operationId: replaceShipmentProfileByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/ShipmentProfileKey"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShipmentProfileUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/ShipmentProfileUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    delete:
      tags:
      - ShipmentProfiles
      summary: Delete a single item scoped by a key ShipmentProfile
      description: delete a ShipmentProfile
      operationId: deleteShipmentProfile
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/ReasonQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/ShipmentProfileKey"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ShipmentProfileSingleResponse"
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    patch:
      tags:
      - ShipmentProfiles
      summary: Update a single item scoped by a key ShipmentProfile
      description: update a single item
      operationId: updateShipmentProfileByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/ShipmentProfileKey"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/ShipmentProfileUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/ShipmentProfileUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /shipment-profiles/{shipment-profile-key}/invoice-references:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/invoice-references/{invoice-reference-key}:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/vehicle-references:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/vehicle-references/{vehicle-reference-key}:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/delivery-profiles:
    get:
      tags:
      - DeliveryProfiles
      summary: Returns a paginated list of delivery profile
      description: a list of DeliveryProfile
      operationId: listDeliveryProfilesByShipmentProfileKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/DeliveryProfileCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/delivery-profiles/{delivery-profile-key}:
    get:
      tags:
      - DeliveryProfiles
      summary: Retrieve a single item scoped by a key DeliveryProfile entities.
      description: Retrieve a single item scoped by a key DeliveryProfile entities.
      operationId: getDeliveryProfileByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/DeliveryProfileKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/DeliveryProfileSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/tracking-informations:
    get:
      tags:
      - TrackingInformations
      summary: Returns a paginated list of tracking information
      description: a list of TrackingInformation
      operationId: listTrackingInformationsByShipmentProfileKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/TrackingInformationCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/tracking-informations/{tracking-information-key}:
    get:
      tags:
      - TrackingInformations
      summary: Retrieve a single item scoped by a key TrackingInformation entities.
      description: Retrieve a single item scoped by a key TrackingInformation entities.
      operationId: getTrackingInformationByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/TrackingInformationKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/TrackingInformationSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/actor-references:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/actor-references/{actor-reference-key}:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/business-contexts:
    get:
      tags:
      - BusinessContexts
      summary: Returns a paginated list of business context
      description: a list of BusinessContext
      operationId: listBusinessContextsByShipmentProfileKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/BusinessContextCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/business-contexts/{business-context-key}:
    get:
      tags:
      - BusinessContexts
      summary: Retrieve a single item scoped by a key BusinessContext entities.
      description: Retrieve a single item scoped by a key BusinessContext entities.
      operationId: getBusinessContextByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BusinessContextKey"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/BusinessContextSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/privacy-policy-rules:
    get:
      tags:
      - PrivacyPolicyRules
      summary: Returns a paginated list of privacy policy rule
      description: a list of PrivacyPolicyRule
      operationId: listPrivacyPolicyRulesByShipmentProfileKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PrivacyPolicyRuleCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/privacy-policy-rules/{privacy-policy-rule-key}:
    get:
      tags:
      - PrivacyPolicyRules
      summary: Retrieve a single item scoped by a key PrivacyPolicyRule entities.
      description: Retrieve a single item scoped by a key PrivacyPolicyRule entities.
      operationId: getPrivacyPolicyRuleByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/PrivacyPolicyRuleKey"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PrivacyPolicyRuleSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/part-identifier-references:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/part-identifier-references/{part-identifier-reference-key}:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/general-ledger-references:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/general-ledger-references/{general-ledger-reference-key}:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/positions:
    get:
      tags:
      - Positions
      summary: Returns a paginated list of position
      description: a list of Position
      operationId: listPositionsByShipmentProfileKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PositionCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/positions/{position-key}:
    get:
      tags:
      - Positions
      summary: Retrieve a single item scoped by a key Position entities.
      description: Retrieve a single item scoped by a key Position entities.
      operationId: getPositionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PositionKey"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PositionSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/shipment-manifest-lines:
    get:
      tags:
      - ShipmentManifestLines
      summary: Returns a paginated list of shipment manifest line
      description: a list of ShipmentManifestLine
      operationId: listShipmentManifestLinesByShipmentProfileKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ShipmentManifestLineCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/shipment-manifest-lines/{shipment-manifest-line-key}:
    get:
      tags:
      - ShipmentManifestLines
      summary: Retrieve a single item scoped by a key ShipmentManifestLine entities.
      description: Retrieve a single item scoped by a key ShipmentManifestLine entities.
      operationId: getShipmentManifestLineByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/ShipmentManifestLineKey"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ShipmentManifestLineSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/fleet-references:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/fleet-references/{fleet-reference-key}:
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/shipment-events:
    get:
      tags:
      - ShipmentEvents
      summary: Returns a paginated list of shipment event
      description: a list of ShipmentEvent
      operationId: listShipmentEventsByShipmentProfileKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ShipmentEventCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/shipment-events/{shipment-event-key}:
    get:
      tags:
      - ShipmentEvents
      summary: Retrieve a single item scoped by a key ShipmentEvent entities.
      description: Retrieve a single item scoped by a key ShipmentEvent entities.
      operationId: getShipmentEventByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/ShipmentEventKey"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ShipmentEventSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/jurisdiction-profiles:
    get:
      tags:
      - JurisdictionProfiles
      summary: Returns a paginated list of jurisdiction profile
      description: a list of JurisdictionProfile
      operationId: listJurisdictionProfilesByShipmentProfileKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/JurisdictionProfileCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/jurisdiction-profiles/{jurisdiction-profile-key}:
    get:
      tags:
      - JurisdictionProfiles
      summary: Retrieve a single item scoped by a key JurisdictionProfile entities.
      description: Retrieve a single item scoped by a key JurisdictionProfile entities.
      operationId: getJurisdictionProfileByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/JurisdictionProfileKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/JurisdictionProfileSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/financial-event-snapshots:
    get:
      tags:
      - FinancialEventSnapshots
      summary: Returns a paginated list of financial event snapshot
      description: a list of FinancialEventSnapshot
      operationId: listFinancialEventSnapshotsByShipmentProfileKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/FinancialEventSnapshotCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/financial-event-snapshots/{financial-event-snapshot-key}:
    get:
      tags:
      - FinancialEventSnapshots
      summary: Retrieve a single item scoped by a key FinancialEventSnapshot entities.
      description: Retrieve a single item scoped by a key FinancialEventSnapshot entities.
      operationId: getFinancialEventSnapshotByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/FinancialEventSnapshotKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/FinancialEventSnapshotSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/general-amounts:
    get:
      tags:
      - GeneralAmounts
      summary: Returns a paginated list of general amount
      description: a list of GeneralAmount
      operationId: listGeneralAmountsByShipmentProfileKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/GeneralAmountCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profiles/{shipment-profile-key}/general-amounts/{general-amount-key}:
    get:
      tags:
      - GeneralAmounts
      summary: Retrieve a single item scoped by a key GeneralAmount entities.
      description: Retrieve a single item scoped by a key GeneralAmount entities.
      operationId: getGeneralAmountByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/GeneralAmountKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/GeneralAmountSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ShipmentProfileKey"
  /shipment-profile/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the ShipmentProfile root node.
      operationId: healthShipmentProfile
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/TotalCountHeader"
      - $ref: "#/components/parameters/ResourceDomainHeader"
      - $ref: "#/components/parameters/StoreIDHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system-specific internal identifier.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: Unique global internal or external business key.
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: Unique global internal or external business key.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-07-29T16:25:26Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      example: USER
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: Unique global internal or external business key.
          example: "870341258638262272"
        address_reference_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "870341258638262273"
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: address_types list
          example:
          - HUB
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
          example: 123 Main St
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Suite 400
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Building A
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Mail Stop 22
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: "Attention: Accounts Payable"
        city:
          type: string
          description: Name of the city.
          example: Atlanta
        country_code:
          type: string
          description: Full name of the country.
          example: US
        district:
          type: string
          description: Name of the district.
          example: North District
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
          example: Work Email
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
          example: "30303"
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
          example: GA
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      example: BILLING
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-07-29T16:25:26Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Unique global internal or external business key.
          example: "870341258638262274"
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BusinessContext:
      type: object
      properties:
        intent_code:
          type: string
          description: "The unique identifier code for the strategic intent (e.g.,\
            \ IMPROVE_NET_OPERATING_VALUE)."
          example: Intent Request Unique Code
        business_action_code:
          type: string
          description: "The unique identifier code for the specific business action\
            \ (e.g., MINIMIZE_HOLDING_COSTS)."
          example: Business Action Unique Code
        correlation_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "870341258638262275"
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
      description: "Represents the strategic lineage, intention, and operational state\
        \ accompanying an execution vector or streaming lifecycle event."
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique system-specific internal identifier.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique global internal or external business key.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: Unique global internal or external business key.
          example: "870341258638262276"
        communication_channel_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "870341258638262277"
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
          example: user@example.com
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
          example: "{country_code=+1}"
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
          example: Work Email
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      example: PHONE
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      example: PENDING
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    ConditionTypes:
      type: string
      description: types of conditions.
      example: NEW
      enum:
      - NEW
      - NEW_OLD_STOCK
      - REMANUFACTURED
      - REBUILT
      - REFURBISHED
      - USED
      - SALVAGE
      - SCRAP
      - COLLECTIBLE
      - CERTIFIED_PREOWNED
      - TOTAL_LOSS
      - REQUIRES_INSPECTION
      - UNKNOWN
      - OTHER
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      example: SUN
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeliveryDestinationTypes:
      type: string
      description: types of delivery destinations.
      example: DEALERSHIP
      enum:
      - DEALERSHIP
      - CUSTOMER
      - TECHNICIAN
      - WAREHOUSE
      - LOCKER
      - BODY_SHOP
      - FLEET_LOCATION
      - SERVICE_CENTER
      - PORT
      - AUCTION
      - OEM
      - VENDOR
      - OTHER
      - UNKNOWN
    DeliveryProfile:
      type: object
      properties:
        delivery_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: Unique global internal or external business key.
          example: DELIV-882211
        delivery_profile_id:
          maxLength: 80
          minLength: 1
          type: string
          description: Unique system-specific internal identifier.
          example: DELIVERY-2026-001
        delivery_destination_type:
          $ref: "#/components/schemas/DeliveryDestinationTypes"
        fulfillment_method_type:
          $ref: "#/components/schemas/FulfillmentMethodTypes"
        service_level_type:
          $ref: "#/components/schemas/ServiceLevelTypes"
        delivery_profile_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The user-friendly name associated with the delivery profile.
          example: Residential Evening Delivery
        delivery_state_type:
          $ref: "#/components/schemas/ShipmentStateTypes"
        delivery_method_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: delivery_method_types list
          example:
          - FREE_SHIPPING
          items:
            $ref: "#/components/schemas/ShippingMethodTypes"
        delivery_priority_type:
          maxLength: 40
          minLength: 1
          type: string
          description: The operational priority associated with the delivery.
          example: EXPEDITED
        delivery_window:
          maxLength: 120
          minLength: 1
          type: string
          description: The preferred delivery window associated with the delivery
            profile.
          example: 8AM-12PM
        delivery_period:
          $ref: "#/components/schemas/EffectivePeriod"
        delivery_contact:
          $ref: "#/components/schemas/PartyReference"
        delivery_address:
          $ref: "#/components/schemas/AddressReference"
        delivery_instructions:
          maxLength: 4000
          minLength: 1
          type: string
          description: Special delivery instructions associated with the delivery
            profile.
          example: Leave package at rear loading dock.
        contactless_delivery_indicator:
          type: boolean
          description: Indicates whether contactless delivery is preferred or required.
          example: true
        signature_required_indicator:
          type: boolean
          description: Indicates whether signature confirmation is required for delivery.
          example: false
        appointment_required_indicator:
          type: boolean
          description: Indicates whether a delivery appointment is required.
          example: true
        residential_delivery_indicator:
          type: boolean
          description: Indicates whether the delivery destination is residential.
          example: true
        loading_dock_indicator:
          type: boolean
          description: Indicates whether a loading dock is available at the delivery
            location.
          example: false
        after_hours_delivery_indicator:
          type: boolean
          description: Indicates whether after-hours delivery is permitted.
          example: true
        delivery_source:
          maxLength: 120
          minLength: 1
          type: string
          description: "The source system, provider, dispatcher, dealer, OEM, or logistics\
            \ platform associated with the delivery profile."
          example: OEM_DELIVERY_PLATFORM
        delivery_codes:
          $ref: "#/components/schemas/Codes"
        comments:
          maxLength: 4000
          minLength: 1
          type: string
          description: Operational comments or notes associated with the delivery
            profile.
          example: Customer prefers weekend deliveries only.
      description: A single line item for a Parts Invoice.
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      example: MINUTES
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique global internal or external business key.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-07-29T16:25:26Z
        complete_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-07-29T16:25:26Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: Unique system-specific internal identifier.
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: Field-level validation errors or granular diagnostic information.
          example:
          - field: payrollId
            issue: must be unique
            rejected_value: "12345"
          items:
            $ref: "#/components/schemas/ErrorDetailItem"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    ErrorDetailItem:
      required:
      - field
      - issue
      type: object
      properties:
        field:
          type: string
          description: The JSON path or field name that caused the error.
          example: payrollId
        issue:
          type: string
          description: The specific validation rule that failed.
          example: must be unique
        rejected_value:
          type: string
          description: The value that was sent and rejected (only if non-sensitive).
          example: "12345"
      description: Field-level validation error or granular diagnostic information.
    ExceptionSeverityTypes:
      type: string
      description: types of exception severitys.
      example: INFORMATIONAL
      enum:
      - INFORMATIONAL
      - NOTICE
      - WARNING
      - MINOR
      - MODERATE
      - MAJOR
      - CRITICAL
      - BLOCKING
      - FAILED
      - LOST
      - DAMAGED
      - SECURITY
      - COMPLIANCE
      - EMERGENCY
      - UNKNOWN
      - OTHER
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      example: CAPEX
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
      - VEHICLE_INVOICE
      - PARTS_INVOICE
      - SERVICE_INVOICE
      - PAYMENT
      - DEPOSIT
      - REFUND
      - FEE
      - CREDIT
      - ADJUSTMENT
      - WRITE_OFF
      - CHARGEBACK
      - JOURNAL_ENTRY
      - FINANCE_CONTRACT
    FinancialEventSnapshot:
      type: object
      properties:
        financial_event_snapshot_key:
          type: string
          description: Unique global internal or external business key.
          example: "870341258638262278"
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        general_ledger_reference:
          $ref: "#/components/schemas/GeneralLedgerReference"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        unit_cost:
          $ref: "#/components/schemas/GeneralAmount"
      description: "A real-time aggregated financial report (P&L, Balance Sheet, or\
        \ Trial Balance) generated as a view model for dashboards."
    FleetReference:
      type: object
      properties:
        fleet_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: Unique global internal or external business key.
          example: FREF-882211
        fleet_key:
          maxLength: 60
          minLength: 1
          type: string
          description: Unique global internal or external business key.
          example: FLEET-1001
        fleet_id:
          maxLength: 80
          minLength: 1
          type: string
          description: Unique system-specific internal identifier.
          example: FLT-9921
        fleet_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The fleet number or serial number used for operational lookup.
          example: SE-FLEET-001
        fleet_name:
          maxLength: 150
          minLength: 1
          type: string
          description: "The human-readable fleet name used for search, display, and\
            \ assignment context."
[...]
