openapi: 3.0.1
info:
  title: Automotive Retail Systems API - ServiceActivity
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-24T14:56:37Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-07-24T14:56:37Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CustomerInteractionTypes:
      type: string
      description: types of customer interactions.
      enum:
      - EMAIL_RECEIVED_FROM_CUSTOMER
      - EMAIL_SENT_TO_CUSTOMER
      - PHONE_CALL_FROM_CUSTOMER
      - PHONE_CALL_MADE_TO_CUSTOMER
      - TEXT_RECEIVED_FROM_CUSTOMER
      - TEXT_SENT_TO_CUSTOMER
      - EMAIL_BOUNCED
      - CUSTOMER_UNSUBSCRIBED
      - LEAD_RECEIVED
      - LEAD_IN_PROGRESS
      - LEAD_QUALIFIED
      - LEAD_LOST_SALE
      - LEAD_DUPLICATED
      - LEAD_DELETED
      - LEAD_MERGED
      - LEAD_REACTIVATED
      - APPOINTMENT_SCHEDULED
      - APPOINTMENT_IN_PROGRESS
      - APPOINTMENT_COMPLETED
      - APPOINTMENT_NOT_COMPLETED
      - APPOINTMENT_CANCELLED
      - APPOINTMENT_NO_SHOW
      - SERVICE_IN_PROGRESS
      - SERVICE_COMPLETED
      - APPOINTMENT_SHOW
      - APPOINTMENT_RESCHEDULED
      - APPOINTMENT_REQUESTED
      - APPOINTMENT_NOT_REQUESTED
      - OUTBOUND_CONTACT
      - REPAIR_ORDER
      - CONSULTATION
      - NOTES_ADDED
      - EMAIL_BROADCAST_SENT
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-07-24T14:56:37Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-07-24T14:56:37Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        financial_split_reference_key:
          type: string
          description: Unique key value for the reference record.
        financial_split_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Payment FinancialSplit
            aggregate.
        context:
          type: string
          description: Context or domain of the payment financialSplit.
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        total:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associated with the
            order.
          format: date-time
          example: 2026-07-24T14:56:37Z
      description: Reference to a Payment FinancialSplit Aggregate Root.
    GeographicBoundaryReference:
      type: object
      properties:
        geographic_boundary_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        geographic_boundary_reference_key:
          type: string
          description: Unique key value for the reference record.
        geographic_boundary_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
        context:
          type: string
          description: Context or domain of the payment schedule.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-07-24T14:56:37Z
      description: Reference to a Payment Schedule Aggregate Root.
    GeographicBoundaryReferences:
      type: array
      items:
        $ref: "#/components/schemas/GeographicBoundaryReference"
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the jurisdiction profile.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the jurisdiction
            profile.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "The date and time when this jurisdiction profile was last\
            \ synchronized from the source governance, legal, policy, or compliance\
            \ system."
          format: date-time
          example: 2026-07-24T14:56:37Z
        occurrence_date_time:
          type: string
          description: "The date and time when the jurisdiction profile was observed,\
            \ created, received, updated, or became effective."
          format: date-time
          example: 2026-07-24T14:56:37Z
      description: nullable
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          $ref: "#/components/schemas/Memo"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-07-24T14:56:37Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
      - WARRANTY_APPROVAL
      - WARRANTY_DENIAL
      - WARRANTY_APPEAL
      - CLAIM
      - FLEET
      - TELEMETRY
      - COMPLIANCE
      - AUDIT
      - SECURITY
      - TRANSPORT
      - DELIVERY
      - INVENTORY
      - SALES
      - FINANCIAL
      - SERVICE_PLAN
      - VEHICLE_LIFECYCLE
      - OWNERSHIP
      - INSURANCE
      - LOGISTICS
      - QUALITY
      - RISK
      - CONSEQUENCE
      - AI_RECOMMENDATION
      - DECISION
      - BUSINESS_RULE
      - INTENT
      - CAPABILITY
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    Narratives:
      type: array
      items:
        $ref: "#/components/schemas/Narrative"
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        party_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
        primary_role_name:
          maxLength: 80
          minLength: 1
          type: string
          description: The principal functional role or stakeholder classification
            assigned to the party within this domain interaction.
          example: DEALER_OPERATOR
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-24T14:56:37Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - WARRANTY_PROVIDER
      - INSURANCE_PROVIDER
      - SUBLET_PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - SCHEDULER
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - PRIMARY_TECHNICIAN
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - FLEET_MANAGER
      - TRANSPORT_PROVIDER
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - PRIMARY_CUSTOMER
      - PRIMARY_DRIVER
      - PRIMARY_OWNER
      - VEHICLE_OWNER
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - PRIMARY_CONTACT
      - APPROVER
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
      - SHIP_TO
      - SOLD_TO
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
        person_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        person_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
      description: a Name for a person
    PricePlanReference:
      type: object
      properties:
        price_plan_reference_id:
          type: string
          description: Unique identifier value
        price_plan_reference_key:
          type: string
          description: Unique identifier value
        price_plan_key:
          type: string
          description: Unique identifier value
        price_levels:
          $ref: "#/components/schemas/Codes"
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:56:37Z
        geographic_boundaries:
          $ref: "#/components/schemas/GeographicBoundaryReferences"
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
        price_types:
          $ref: "#/components/schemas/PriceTypes"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        pricing_version:
          type: string
          description: Version of the Price
        pricing_reason:
          type: string
          description: Version of the Reason
      description: External system identifier
    PricePlanReferences:
      type: array
      items:
        $ref: "#/components/schemas/PricePlanReference"
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - INVOICE
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - TOTAL_ACCESSORY
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - BASE_INVOICE_AMOUNT
      - DESTINATION_CHARGE
      - ADVERTISING_ASSESSMENT
      - HOLDBACK_AMOUNT
      - WDA_AMOUNT
      - TDA_AMOUNT
      - FLOORPLAN_ASSISTANCE_AMOUNT
      - DEALER_CASH_AMOUNT
      - REGIONAL_ADJUSTMENT_AMOUNT
      - PORT_INSTALLED_OPTION_AMOUNT
      - FACTORY_OPTION_AMOUNT
      - DEALER_INSTALLED_OPTION_AMOUNT
      - FREIGHT_CHARGE_AMOUNT
      - FUEL_CHARGE_AMOUNT
      - PACKAGING_OPTION_AMOUNT
      - OEM_INCENTIVE_AMOUNT
      - DEALER_NET_AMOUNT
      - LANDED_COST_AMOUNT
      - OTHER
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    ServiceActivity:
      type: object
      properties:
        service_activity_key:
          type: string
          description: The unique key for the service activity record.
        service_activity_id:
          type: string
          description: The unique ID for the service activity.
        activity_sequence_num:
          type: string
          description: The sequence number of the activity.
        occurrence_date_time:
          type: string
          description: The date and time when the service activity occurred.
          format: date-time
          example: 2026-07-24T14:56:37Z
        activity_direction:
          type: string
          description: "The direction of the activity (e.g., inbound or outbound)."
        activity_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        activity_result:
          type: string
          description: The result of the service activity.
        activity_desc:
          type: string
          description: The description of the activity.
        service_type:
          $ref: "#/components/schemas/ServiceTypes"
        staff_universal_key:
          type: string
          description: The unique key of the staff member who acted as a service advisor.
        service_advisor_id:
          type: string
          description: The unique ID of the service advisor.
        service_advisor_name:
          type: string
          description: The name of the service advisor.
        service_advisor_href:
          type: string
          description: A hyper-reference to the service advisor's resource.
          format: href
        invoice_identifier:
          type: string
          description: The identifier of the invoice related to the service activity.
        request_contact_indicator:
          type: boolean
          description: A flag indicating if contact was requested.
          example: false
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        activity_note:
          $ref: "#/components/schemas/Narratives"
        original_contact_method_type:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/CommunicationChannelTypes"
        service_activity_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/CustomerInteractionTypes"
        service_activity_resource_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ServiceActivityResourceTypes"
        service_activity_codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a service activity, detailing its nature, duration,\
        \ associated parties, and outcomes."
    ServiceActivityCreate:
      required:
      - service_activity_key
      type: object
      description: ServiceActivity Create for Post
      allOf:
      - $ref: "#/components/schemas/ServiceActivity"
    ServiceActivityResourceTypes:
      type: string
      description: types of service activity resources.
      enum:
      - MISC
      - GAS_OIL_GREASE
      - PAINT_MATERIALS
      - SHOP_SUPPLIES
      - FREIGHT
      - OTHER
    ServiceActivityUpdate:
      type: object
      properties:
        service_activity_resource_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ServiceActivityResourceTypes"
        activity_sequence_num:
          type: string
          description: The sequence number of the activity.
        request_contact_indicator:
          type: boolean
          description: A flag indicating if contact was requested.
          example: false
        activity_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        service_advisor_href:
          type: string
          description: A hyper-reference to the service advisor's resource.
          format: href
        invoice_identifier:
          type: string
          description: The identifier of the invoice related to the service activity.
        service_advisor_name:
          type: string
          description: The name of the service advisor.
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        activity_direction:
          type: string
          description: "The direction of the activity (e.g., inbound or outbound)."
        service_activity_codes:
          $ref: "#/components/schemas/Codes"
        activity_result:
          type: string
          description: The result of the service activity.
        service_type:
          $ref: "#/components/schemas/ServiceTypes"
        activity_desc:
          type: string
          description: The description of the activity.
        service_activity_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/CustomerInteractionTypes"
        activity_note:
          $ref: "#/components/schemas/Narratives"
        original_contact_method_type:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/CommunicationChannelTypes"
        occurrence_date_time:
          type: string
          description: The date and time when the service activity occurred.
          format: date-time
          example: 2026-07-24T14:56:37Z
      description: ServiceActivity Update for Patch and Put
    ServiceTypes:
      type: string
      description: types of services.
      enum:
      - SALES
      - MAINTENANCE
      - ACCESSORIES
      - PARTS
      - F_AND_I
      - TRADE_IN
      - EVALUATION
      - REPAIR_ORDER
      - WARRANTY
      - RECALL
      - MPI
      - SERVICE
      - LABOR
      - REPAIR
      - DIAGNOSTIC
      - BODY_SHOP
      - INTERNAL
      - SUBLET
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - DEALER_PRINCIPAL
      - GENERAL_MANAGER
      - GENERAL_SALES_MANAGER
      - SALES_MANAGER
      - SALES_PERSON
      - BUSINESS_DEVELOPMENT_REPRESENTATIVE
      - CUSTOMER_SERVICE_REPRESENTATIVE
      - RECEPTIONIST
      - FINANCE_AND_INSURANCE_MANAGER
      - BUSINESS_MANAGER
      - CLOSING_MANAGER
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - WARRANTY_ADMINISTRATOR
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - PARTS_SPECIALIST
      - INVENTORY_MANAGER
      - FLEET_MANAGER
      - DETAIL_MANAGER
      - DETAIL_TECHNICIAN
      - ACCOUNTING_MANAGER
      - CONTROLLER
      - TITLE_CLERK
      - OFFICE_MANAGER
      - MARKETING_MANAGER
      - OTHER
    TimeSlot:
      type: object
      properties:
        time_slot_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key for the specific time slot instance.
          example: TS-KEY-99281A
        end_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        end_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        recurring_indicator:
          type: boolean
          description: Indicates whether the time slot repeats on a recurring cycle.
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        start_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        start_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        time_slot_id:
          maxLength: 36
          minLength: 1
          type: string
          description: The business identifier or code assigned to this generic time
            block configuration.
          example: MORNING_SHIFT_01
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          format: date
          items:
            type: string
        timeslot_status_type:
          $ref: "#/components/schemas/TimeSlotStatusTypes"
      description: Range of time for the appointment
    TimeSlotStatusTypes:
      type: string
      description: types of time slot status.
      enum:
      - TENTATIVE
      - RESERVED
      - CONFIRMED
      - RELEASED
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - EXACT
      - FLEXIBLE
      - PREFERRED
      - REQUIRED
      - RESTRICTED
      - OTHER
      - UNKNOWN
