openapi: 3.0.1
info:
  title: Automotive Retail Systems API - InventoryVehicle
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-24T14:56:14Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-07-24T14:56:14Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    CabTypes:
      type: string
      description: types of cabs.
      enum:
      - REGULAR
      - EXTENDED
      - CREW
      - MEGA
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ColorSummaries:
      type: array
      items:
        $ref: "#/components/schemas/ColorSummary"
    ColorSummary:
      type: object
      properties:
        color_summary_id:
          type: string
          description: A unique id for the color detail.
        color_summary_key:
          type: string
          description: A unique key for the color detail.
        dealer_color:
          type: string
          description: The color as designated by the dealer.
        desc_color:
          type: string
          description: A descriptive name for the color.
        color_code:
          type: string
          description: The technical code of the color
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM) name or code.
        marketing_name:
          type: string
          description: The Marketing Name of the color
        item_name:
          type: string
          description: The Marketing Name of the color
      description: "Summarys for a specific color, including dealer and OEM codes."
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    ConditionTypes:
      type: string
      description: types of conditions.
      enum:
      - NEW
      - NEW_OLD_STOCK
      - REMANUFACTURED
      - REBUILT
      - REFURBISHED
      - USED
      - SALVAGE
      - SCRAP
      - COLLECTIBLE
      - CERTIFIED_PREOWNED
      - TOTAL_LOSS
      - REQUIRES_INSPECTION
      - UNKNOWN
      - OTHER
    ConnectedVehicleStatusTypes:
      type: string
      description: types of connected vehicle status.
      enum:
      - CONNECTING
      - ONLINE
      - SLEEPING
      - OFFLINE
      - DISCONNECTED
      - SUSPENDED
      - DECOMMISSIONED
      - OPTED_OUT
      - PAIRING
      - DEGRADED
      - UNSUPPORTED
      - UNKNOWN
      - OTHER
    ControlAccountTypes:
      type: string
      description: types of control accounts.
      enum:
      - ASSETS
      - FIXED_ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - LONG_TERM_LIABILITY
      - EQUITY
      - CLEARING
      - PROVISION
      - ROUNDING
      - REVENUE
      - OTHER_INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - TAX
      - DISCOUNT
      - REBATE
      - FEE
      - SERVICE
      - CREDIT
      - OTHER
      - DEALER
      - VEHICLE
      - ACCESSORIES
      - OPTION
      - CUSTOMER
      - VENDOR
      - EMPLOYEE
      - PRODUCT
      - REPAIR_ORDER
      - PARTS_SALES_ORDER
      - PACKAGE
      - REFERENCE
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-07-24T14:56:14Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-07-24T14:56:14Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-07-24T14:56:14Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Efficiency:
      type: object
      properties:
        efficiency_id:
          type: string
          description: A unique key for the efficiency record.
        efficiency_key:
          type: string
          description: A unique key for the efficiency record.
        city_efficiency:
          type: string
          description: The vehicle's fuel efficiency in a city driving environment.
        highway_efficiency:
          type: string
          description: The vehicle's fuel efficiency on a highway.
      description: Details regarding a vehicle's fuel efficiency.
    EngineTypes:
      type: string
      description: types of engines.
      enum:
      - ICE
      - THERMAL_INTERNAL
      - THERMAL_EXTERNAL
      - THERMAL_REACTION
      - ELECTRIC
      - PHYSICAL
      - HYBRID
      - OTHER
    FuelSummary:
      type: object
      properties:
        code:
          type: string
          description: The OEM or catalog fuel identifier code.
          example: "6"
        name:
          type: string
          description: The descriptive name of the fuel configuration.
          example: ICE
      description: A lightweight summary of the vehicle's fuel configuration.
    FuelTypes:
      type: string
      description: types of fuels.
      enum:
      - GASOLINE
      - DIESEL
      - BIO_DIESEL
      - ETHANOL
      - ELECTRIC
      - HYDROGEN
      - NATURAL_GAS
      - PROPANE
      - METHANOL
      - DIESEL_OID_MDF
      - SOLAR_OIL_HSD
      - KEROSENE
      - AVIATION_TURBINE_AVTUR
      - AVIATION_GASOLINE_AVGAS
      - P_SERIES
      - OTHER
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        amount:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    InventoryStatusTypes:
      type: string
      description: types of inventory status.
      enum:
      - ON_ORDER
      - RECEIVED
      - PREPARATION
      - STOCKED_IN
      - AVAILABLE
      - RESERVED
      - PRE_SOLD
      - ON_HOLD
      - SALES_HOLD
      - SERVICE_HOLD
      - RECALL_HOLD
      - IN_TRANSIT
      - ON_DEALER_LOT
      - ON_CENTRAL_LOT
      - ASSIGNED_BY_MANUFACTURER
      - SOLD
      - WHOLESALE
      - DAMAGED
      - UNAVAILABLE
      - RETURNED
      - DISPOSAL
      - UNKNOWN
    InventoryVehicle:
      type: object
      properties:
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical vehicle identity anchor key used to associate
            this aggregate with the enterprise vehicle identity registry.
          example: VID-00088211
        vehicle_reference:
          $ref: "#/components/schemas/VehicleReference"
        vehicle_identifier_id:
          type: string
          description: The unique technical GUID/ID for the vehicle identifier.
          example: 550e8400-e29b-41d4-a716-446655440000
        inventory_vehicle_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable aggregate root identifier representing the inventory
            vehicle asset within dealer or enterprise inventory systems.
          example: INV-VEH-0099221
        inventory_vehicle_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent operational identifier tracking the dealer inventory
            vehicle lifecycle asset.
          example: INV-443921
        identity_anchor_key:
          maxLength: 80
          minLength: 1
          type: string
          description: The immutable core registry identity anchor linking inventory
            systems to the enterprise universal vehicle identity.
          example: VIN-1FT8W3BT6SEC12345
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        inventory_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/InventoryStatusTypes"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        condition:
          $ref: "#/components/schemas/ConditionTypes"
        dealer_code:
          maxLength: 40
          minLength: 1
          type: string
          description: The originating or current dealer organization code responsible
            for the inventory asset.
          example: ATL-001
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        account_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The accounting control account reference associated with the
            inventory vehicle asset.
          example: INV-ASSET-001
        control_account_type:
          $ref: "#/components/schemas/ControlAccountTypes"
        stock_date_time:
          type: string
          description: The timestamp documenting when the vehicle officially entered
            dealer inventory stock.
          format: date-time
          example: 2026-07-24T14:56:14Z
        delivered_date_time:
          type: string
          description: The timestamp documenting when the physical inventory asset
            was delivered to the receiving organization.
          format: date-time
          example: 2026-07-24T14:56:14Z
        inventory_days:
          maxLength: 10
          minLength: 1
          type: string
          description: The calculated aging metric representing the number of days
            the vehicle has remained in inventory.
          example: "47"
        floorplan_reference:
          maxLength: 60
          minLength: 1
          type: string
          description: The financing or floorplan reference number associated with
            the inventory carrying arrangement.
          example: FP-882192
        odometer:
          $ref: "#/components/schemas/MetricValue"
        position:
          $ref: "#/components/schemas/Position"
        vehicle_price_summaries:
          $ref: "#/components/schemas/VehiclePriceSummaries"
        vehicle_medias:
          $ref: "#/components/schemas/VehicleMedias"
        vehicle_notes:
          maxLength: 4000
          minLength: 1
          type: string
          description: "The operational inventory remarks documenting inspections,\
            \ transport damage, reconditioning, or merchandising instructions."
          example: Minor wheel scuff identified during intake inspection.
        vehicle_specification:
          $ref: "#/components/schemas/VehicleSpecification"
      description: Vehicle Identifier following STAR standards for cross-context vehicle
        tracking.
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the jurisdiction profile.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the jurisdiction
            profile.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "The date and time when this jurisdiction profile was last\
            \ synchronized from the source governance, legal, policy, or compliance\
            \ system."
          format: date-time
          example: 2026-07-24T14:56:14Z
        occurrence_date_time:
          type: string
          description: "The date and time when the jurisdiction profile was observed,\
            \ created, received, updated, or became effective."
          format: date-time
          example: 2026-07-24T14:56:14Z
      description: nullable
    List:
      type: array
      items:
        $ref: "#/components/schemas/VehicleBodyStyleTypes"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        currency_code:
          type: string
          description: Three-letter ISO-4217 currency code.
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          $ref: "#/components/schemas/Memo"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-07-24T14:56:14Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
      - WARRANTY_APPROVAL
      - WARRANTY_DENIAL
      - WARRANTY_APPEAL
      - CLAIM
      - FLEET
      - TELEMETRY
      - COMPLIANCE
      - AUDIT
      - SECURITY
      - TRANSPORT
      - DELIVERY
      - INVENTORY
      - SALES
      - FINANCIAL
      - SERVICE_PLAN
      - VEHICLE_LIFECYCLE
      - OWNERSHIP
      - INSURANCE
      - LOGISTICS
      - QUALITY
      - RISK
      - CONSEQUENCE
      - AI_RECOMMENDATION
      - DECISION
      - BUSINESS_RULE
      - INTENT
      - CAPABILITY
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    Narratives:
      type: array
      items:
        $ref: "#/components/schemas/Narrative"
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        party_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
        primary_role_name:
          maxLength: 80
          minLength: 1
          type: string
          description: The principal functional role or stakeholder classification
            assigned to the party within this domain interaction.
          example: DEALER_OPERATOR
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-24T14:56:14Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - WARRANTY_PROVIDER
      - INSURANCE_PROVIDER
      - SUBLET_PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - SCHEDULER
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - PRIMARY_TECHNICIAN
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - FLEET_MANAGER
      - TRANSPORT_PROVIDER
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - PRIMARY_CUSTOMER
      - PRIMARY_DRIVER
      - PRIMARY_OWNER
      - VEHICLE_OWNER
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - PRIMARY_CONTACT
      - APPROVER
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
      - SHIP_TO
      - SOLD_TO
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentTypes:
      type: string
      description: types of payments.
      enum:
      - OUTRIGHT_PURCHASE
      - FINANCED_PURCHASE
      - SUBSCRIPTION
      - DEPOSIT
      - PROGRESS_PAYMENT
      - SCHEDULED_PAYMENT
      - CONSUMPTION_BASED
      - CUSTOM_AGREEMENT
      - CASH
      - BALLON
      - LEASE
      - LEASE_NO_BUYOUT
      - LEASE_BUYOUT
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
        person_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        person_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
      description: a Name for a person
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    PowertrainTypes:
      type: string
      description: types of powertrains.
      enum:
      - BEV
      - FCEV
      - HEV
      - ICE
      - MHEV
      - OTHER
      - PHEV
    Price:
      type: object
      properties:
        price_id:
          type: string
          description: Unique system identifier for the price record.
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        display_amount:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        amount:
          $ref: "#/components/schemas/Money"
        tax_amount:
          $ref: "#/components/schemas/Money"
        taxable_amount:
          $ref: "#/components/schemas/Money"
        non_taxable_amount:
          $ref: "#/components/schemas/Money"
        total_amount:
          $ref: "#/components/schemas/Money"
        total_cost_amount:
          $ref: "#/components/schemas/Money"
        unit_cost_amount:
          $ref: "#/components/schemas/Money"
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - INVOICE
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - TOTAL_ACCESSORY
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - BASE_INVOICE_AMOUNT
      - DESTINATION_CHARGE
      - ADVERTISING_ASSESSMENT
      - HOLDBACK_AMOUNT
      - WDA_AMOUNT
      - TDA_AMOUNT
      - FLOORPLAN_ASSISTANCE_AMOUNT
      - DEALER_CASH_AMOUNT
      - REGIONAL_ADJUSTMENT_AMOUNT
      - PORT_INSTALLED_OPTION_AMOUNT
      - FACTORY_OPTION_AMOUNT
      - DEALER_INSTALLED_OPTION_AMOUNT
      - FREIGHT_CHARGE_AMOUNT
      - FUEL_CHARGE_AMOUNT
      - PACKAGING_OPTION_AMOUNT
      - OEM_INCENTIVE_AMOUNT
      - DEALER_NET_AMOUNT
      - LANDED_COST_AMOUNT
      - OTHER
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    ProductStateTypes:
      type: string
      description: types of product states.
      enum:
      - NEW
      - USED
      - REFURBISHED
      - CERTIFIED
      - DEMO
      - RENTAL
      - IN_TRANSIT
      - DISCONTINUED
      - ARCHIVED
      - CUSTOMER_OWNED
      - PARTNER_OWNED
      - THIRD_PARTY_OWNED
      - COMPANY_OWNED
      - UNKNOWN
    PurchaseTypes:
      type: string
      description: types of purchases.
      enum:
      - RETAIL
      - DEMO
      - LEASE
      - WHOLESALE
      - STANDARD
      - CONTRACT
      - FLEET
      - COMMERCIAL
      - DIRECT
      - OTHER
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - DEALER_PRINCIPAL
      - GENERAL_MANAGER
      - GENERAL_SALES_MANAGER
      - SALES_MANAGER
      - SALES_PERSON
      - BUSINESS_DEVELOPMENT_REPRESENTATIVE
      - CUSTOMER_SERVICE_REPRESENTATIVE
      - RECEPTIONIST
      - FINANCE_AND_INSURANCE_MANAGER
      - BUSINESS_MANAGER
      - CLOSING_MANAGER
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - WARRANTY_ADMINISTRATOR
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - PARTS_SPECIALIST
      - INVENTORY_MANAGER
      - FLEET_MANAGER
      - DETAIL_MANAGER
      - DETAIL_TECHNICIAN
      - ACCOUNTING_MANAGER
      - CONTROLLER
      - TITLE_CLERK
      - OFFICE_MANAGER
      - MARKETING_MANAGER
      - OTHER
    TimeSlot:
      type: object
      properties:
        time_slot_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key for the specific time slot instance.
          example: TS-KEY-99281A
        end_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        end_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        recurring_indicator:
          type: boolean
          description: Indicates whether the time slot repeats on a recurring cycle.
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        start_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        start_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        time_slot_id:
          maxLength: 36
          minLength: 1
          type: string
          description: The business identifier or code assigned to this generic time
            block configuration.
          example: MORNING_SHIFT_01
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          format: date
          items:
            type: string
        timeslot_status_type:
          $ref: "#/components/schemas/TimeSlotStatusTypes"
      description: Range of time for the appointment
    TimeSlotStatusTypes:
      type: string
      description: types of time slot status.
      enum:
      - TENTATIVE
      - RESERVED
      - CONFIRMED
      - RELEASED
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - EXACT
      - FLEXIBLE
      - PREFERRED
      - REQUIRED
      - RESTRICTED
      - OTHER
      - UNKNOWN
    TransmissionSummary:
      type: object
      properties:
        code:
          type: string
          description: The OEM or catalog transmission identifier code.
          example: "6"
        name:
          type: string
          description: The descriptive name of the transmission configuration.
          example: 6-Speed Automatic
      description: A lightweight summary of the vehicle's transmission configuration.
    VehicleBodyStyleTypes:
      type: string
      description: types of vehicle body styles.
      enum:
      - COUPE
      - SEDAN
      - SPORTS_CAR
      - WAGON
      - HATCHBACK
      - CONVERTIBLE
      - SUV
      - MINI_VAN
      - TRUCK
      - BIKE
      - COMMERCIAL_VAN
      - PASSENGER_VAN
      - CARGO_VAN
      - VAN
      - CROSSOVER
      - SERVICE_BODY
      - DUMP_TRUCK
      - CONTRACTOR_BODY
      - OTHER
    VehicleCategoryTypes:
      type: string
      description: types of vehicle categorys.
      enum:
      - SEDAN
      - COUPE
      - HATCHBACK
      - WAGON
      - CONVERTIBLE
      - SUV
      - CROSSOVER
      - PICKUP
      - VAN
      - MINIVAN
      - COMMERCIAL
      - WORK_TRUCK
      - MOTORCYCLE
      - ATV
      - RV
      - BUS
      - HEAVY_DUTY_TRUCK
      - OTHER
    VehicleConstructionTypes:
      type: string
      description: types of vehicle constructions.
      enum:
      - VEHICLE
      - CHASSIS
      - CHASSIS_CAB
      - CUTAWAY
      - GLIDER
      - BODY
      - TRAILER
      - SEMI_TRAILER
      - UPFIT
      - COMPONENT
      - OTHER
    VehicleEconomies:
      type: array
      items:
        $ref: "#/components/schemas/VehicleEconomy"
    VehicleEconomy:
      type: object
      properties:
        vehicle_economy_key:
          type: string
          description: A unique identifier for the vehicle economy record.
        economy:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        efficiency:
          $ref: "#/components/schemas/Efficiency"
        fuel_tank_capacity:
          $ref: "#/components/schemas/MetricValue"
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        range:
          $ref: "#/components/schemas/MetricValue"
      description: economy of the vehicle
    VehicleIdentifier:
      type: object
      properties:
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable aggregate root identifier representing the canonical
            enterprise vehicle identity anchor.
          example: VID-00088211
        vehicle_identifier_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent identifier representing the canonical vehicle
            identity registry entry.
          example: VEH-ID-993211
        vin:
          maxLength: 17
          minLength: 11
          type: string
          description: The globally recognized vehicle identification number representing
            the physical vehicle identity.
          example: 1FT8W3BT6SEC12345
        vehicle_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The enterprise or platform-specific internal identifier associated
            with the canonical vehicle identity.
          example: VEH-882199
        stock_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer or inventory stock number associated
            with the vehicle identity.
          example: F12345
        fleet_vehicle_key:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer or inventory stock number associated
            with the vehicle identity.
          example: F12345
        license:
          $ref: "#/components/schemas/VehicleLicense"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        primary_make:
          maxLength: 80
          minLength: 1
          type: string
          description: The canonical manufacturer brand associated with the vehicle
            identity.
          example: Ford
        primary_model:
          maxLength: 120
          minLength: 1
          type: string
          description: The canonical OEM model associated with the vehicle identity.
          example: F-350 Super Duty
        model_year:
          maxLength: 4
          minLength: 1
          type: string
          description: The canonical OEM model year associated with the vehicle identity.
          example: "2026"
        identity_confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: The calculated confidence score representing the trust level
            of identity resolution and cross-system vehicle matching.
          example: "98.7"
        active_indicator:
          type: boolean
          description: Indicates whether the canonical vehicle identity remains active
            and valid within the enterprise registry.
          example: true
        vehicle_key:
          type: string
          description: The lightweight canonical reference linking the identity anchor
            to the authoritative normalized vehicle profile.
        vehicle_summary:
          $ref: "#/components/schemas/VehicleSummary"
      description: Vehicle Identifier
    VehicleLicense:
      type: object
      properties:
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        jurisdiction_name:
          type: string
          description: The name of the license jurisdiction.
        country_code:
          type: string
          description: The country code for the license.
        plate_number:
          type: string
          description: The license plate number.
        vehicle_license_key:
          type: string
          description: A unique identifier for the vehicle license record.
      description: License for vehicle
    VehicleMedia:
      type: object
      properties:
        vehicle_media_key:
          type: string
          description: A unique identifier for the vehicle media record.
        media_href:
          type: string
          description: A reference link to the media.
          format: href
        media_id:
          type: string
          description: The primary ID of the media.
        media_name:
          type: string
          description: The name of the media.
      description: Media for vehicle
    VehicleMedias:
      type: array
      items:
        $ref: "#/components/schemas/VehicleMedia"
    VehiclePriceSummaries:
      type: array
      items:
        $ref: "#/components/schemas/VehiclePriceSummary"
    VehiclePriceSummary:
      type: object
      properties:
        vehicle_price_summary_key:
          type: string
          description: A unique identifier for the vehicle price summary record.
        capitalized_indicator:
          type: boolean
          description: An indicator that determines if the price is capitalized.
          example: false
        payment_type:
          $ref: "#/components/schemas/PaymentTypes"
        price:
          $ref: "#/components/schemas/Price"
        price_code:
          type: string
          description: The code associated with the price.
        price_descriptions:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        purchase_type:
          $ref: "#/components/schemas/PurchaseTypes"
        tax_separate_indicator:
          type: boolean
          description: An indicator that shows if tax is separated from the price.
          example: false
        taxable_indicator:
          type: boolean
          description: An indicator that shows if the price is taxable.
          example: false
        vehicle_price_criteria_name:
          type: string
          description: The name of the criteria used for the vehicle price.
        vehicle_price_name:
          type: string
          description: The name of the vehicle price.
        vehicle_price_summary_id:
          type: string
          description: The primary ID of the vehicle price summary.
      description: vehicle price
    VehicleReference:
      type: object
      properties:
        vehicle_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique lightweight reference key representing the denormalized
            vehicle projection used across bounded contexts.
          example: VREF-882211
        vehicle_reference_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique identifier for the lightweight denormalized vehicle
            reference projection.
          example: VR-993821
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical enterprise vehicle identity anchor associated
            with this denormalized vehicle reference.
          example: VID-00088211
        vin:
          maxLength: 17
          minLength: 11
          type: string
          description: The Vehicle Identification Number (VIN) associated with the
            vehicle reference.
          example: 1FT8W3BT6SEC12345
        model_year:
          maxLength: 4
          minLength: 1
          type: string
          description: The OEM model year associated with the vehicle reference projection.
          example: "2026"
        make:
          maxLength: 80
          minLength: 1
          type: string
          description: The manufacturer brand associated with the vehicle reference
            projection.
          example: Ford
        model:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM model associated with the vehicle reference projection.
          example: F-350 Super Duty
        trim:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM trim designation associated with the vehicle reference
            projection.
          example: Lariat
        display_name:
          maxLength: 200
          minLength: 1
          type: string
          description: "The human-readable formatted vehicle display name used for\
            \ search results, dashboards, and UI rendering."
          example: 2026 Ford F-350 Super Duty Lariat
        stock_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer or inventory stock number associated
            with the vehicle reference.
          example: F12345
        license_plate:
          maxLength: 20
          minLength: 1
          type: string
          description: The latest known government-issued vehicle license plate associated
            with the vehicle reference.
          example: ABC1234
        dealer_code:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer organization code associated with the
            vehicle reference.
          example: ATL-001
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        tags:
          $ref: "#/components/schemas/Codes"
        body_style:
          maxLength: 100
          minLength: 1
          type: string
          description: The baseline layout style design of the chassis structure shell.
          example: Crew Cab Pickup
      description: Vehicle Detail Create Information
    VehicleSpecification:
      type: object
      properties:
        vehicle_specification_key:
          type: string
          description: The unique key identifying this vehicle specification context.
        vehicle_specification_id:
          type: string
          description: The unique key identifying this vehicle specification context.
        axle_count:
          type: string
          description: The number of axles on the vehicle.
        backup_camera_indicator:
          type: boolean
          description: Indicates whether a backup camera is installed.
          example: false
        body_height:
          type: string
          description: The exterior height of the vehicle body.
        body_length:
          type: string
          description: The exterior length of the vehicle body.
        body_style:
          type: string
          description: The style of the vehicle body.
        body_width:
          type: string
          description: The exterior width of the vehicle body.
        box_type_description:
          type: string
          description: Description of the cargo box type if applicable.
        bulkhead:
          type: string
          description: Details regarding the cabin bulkhead configuration.
        cab_type:
          $ref: "#/components/schemas/CabTypes"
        compartment_depth:
          type: string
          description: Depth specification of the storage compartments.
        compartments:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        compartment_door_desc:
          type: string
          description: Description of the compartment doors.
        condition:
          type: string
          description: The general target build or structural condition.
        crane_indicator:
          type: boolean
          description: Indicates whether a commercial crane apparatus is mounted.
          example: false
        cylinder_count:
          type: string
          description: The engine cylinder configuration count.
        doors_count:
          type: string
          description: The total count of vehicle doors.
        drive_train:
          type: string
          description: The structural configuration of the drivetrain.
        energy_impact_score:
          type: string
          description: Environmental energy impact evaluation score.
        engine_type_description:
          type: string
          description: Detailed textual description of the block and system type.
        engine_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/EngineTypes"
        exterior_color:
          $ref: "#/components/schemas/ColorSummary"
        exterior_lights_indicator:
          type: boolean
          description: Indicates specific auxiliary lighting packages.
          example: false
        floor_desc:
          type: string
          description: General layout and material description of the bed/cabin floor.
        floor_desc_detail:
          type: string
          description: Granular physical details of the structural decking flooring.
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        gross_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        gross_vehicle_weight_rating:
          $ref: "#/components/schemas/MetricValue"
        hitch_indicator:
          type: boolean
          description: Indicates whether a towing hitch package is structurally included.
          example: false
        power_train_type:
          $ref: "#/components/schemas/PowertrainTypes"
        horse_power:
          type: string
          description: Raw engine performance capacity.
        inside_body_height:
          type: string
          description: Internal payload enclosure clearance height.
        inside_body_width:
          type: string
          description: Internal payload wall-to-wall dimension width.
        inside_length:
          type: string
          description: Internal rear-to-front interior deck length value.
        interior_color:
          $ref: "#/components/schemas/ColorSummary"
        ladder_rack_desc:
          type: string
          description: Structural details of mounted exterior utility racking equipment.
        liftgate_indicator:
          type: boolean
          description: Indicates presence of mechanical tail/liftgate hydraulic apparatus.
          example: false
        manufacturer_model_code:
          type: string
          description: Factory internal system blueprint indexing code.
        manufacturer_name:
          type: string
          description: The registered automotive parent entity entity name.
        marketing_description:
          type: string
          description: Consumer-facing promotional specification copy text.
        merchandising_model_code:
          type: string
          description: Retail distribution variant identifier designation.
        model_code:
          type: string
          description: Standard system architectural configuration model mapping code.
        model_description:
          type: string
          description: Textual definition of variant architectural layout.
        seating_capacity:
          type: string
          description: Maximum cabin seat engineering layouts.
        series_code:
          type: string
          description: Trim level lineage code mapping framework categorization.
        side_height:
          type: string
          description: Height profile measurements of specific exterior cargo walls.
        snowplow_indicator:
          type: boolean
          description: Indicates support structural brackets for plow hookups.
          example: false
        stake_pockets:
          type: string
          description: Structural platform stake pocket unit metadata points.
        torque:
          type: string
          description: Engine rotational operational output measurement metrics.
        towing_capacity:
          $ref: "#/components/schemas/MetricValue"
        transmission:
          type: string
          description: Gear mechanics configuration and gear ratio metadata types.
        trim:
          type: string
          description: Marketing and visual package styling categorization designation.
        unladen_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        uplift_indicator:
          type: boolean
          description: Indicates whether custom secondary body configurations exist.
          example: false
        vehicle_body_style_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleBodyStyleTypes"
        vehicle_category_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleCategoryTypes"
        vehicle_class:
          type: string
          description: Weight or operational class classification tier listing.
        vehicle_economies:
          $ref: "#/components/schemas/VehicleEconomies"
        vehicle_fuel_capacity:
          type: string
          description: Volumetric capacity profile boundaries.
        vehicle_pto:
          type: string
          description: Power Take-Off accessory mechanical link details.
        vehicle_rear_wheels:
          type: string
          description: Axle wheel configurations layout properties description.
        vehicle_type_description:
          type: string
          description: Physical architectural grouping definition detail string.
        vehicle_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleConstructionTypes"
        wheel_base:
          type: string
          description: Distance measurement metrics from front axle centers to rear
            axle centers.
        categories:
          $ref: "#/components/schemas/Codes"
      description: "detail vehicle specification, descriptions, and attributes"
    VehicleSummary:
      type: object
      properties:
        vehicle_summary_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable aggregate root identifier representing the canonical
            enterprise vehicle identity anchor.
          example: VID-00088211
        vehicle_summary_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent identifier representing the canonical vehicle
            identity registry entry.
          example: VEH-ID-993211
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        nicknames:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
        makes:
          $ref: "#/components/schemas/Codes"
        models:
          $ref: "#/components/schemas/Codes"
        engine:
          type: string
          description: vehicle.summary.engine.desc
        transmission:
          $ref: "#/components/schemas/TransmissionSummary"
        power_train_type:
          $ref: "#/components/schemas/PowertrainTypes"
        colors:
          $ref: "#/components/schemas/ColorSummaries"
        fuel_summary:
          $ref: "#/components/schemas/FuelSummary"
        body_style:
          maxLength: 100
          minLength: 1
          type: string
          description: The baseline layout style design of the chassis structure shell.
          example: Crew Cab Pickup
        vehicle_description:
          $ref: "#/components/schemas/Memo"
        vehicle_notes:
          $ref: "#/components/schemas/Narratives"
        connected_vehicle_status_type:
          $ref: "#/components/schemas/ConnectedVehicleStatusTypes"
      description: Vehicle Identifier
