openapi: 3.0.1
info:
  title: Automotive Retail Systems API - PartInventory
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-30T19:20:01Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    BusinessContext:
      type: object
      properties:
        intent_code:
          type: string
          description: "The unique identifier code for the strategic intent (e.g.,\
            \ IMPROVE_NET_OPERATING_VALUE)."
        business_action_code:
          type: string
          description: "The unique identifier code for the specific business action\
            \ (e.g., MINIMIZE_HOLDING_COSTS)."
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
      description: "Represents the strategic lineage, intention, and operational state\
        \ accompanying an execution vector or streaming lifecycle event."
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-30T19:20:01Z
      description: External system identifier
    ControlAccountReferences:
      type: array
      items:
        $ref: "#/components/schemas/ControlAccountReference"
    CurrencyCode:
      type: string
      description: "ISO 4217 currency code, e.g., 'USD', 'EUR'."
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-07-30T19:20:01Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-07-30T19:20:01Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-07-30T19:20:01Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
      - VEHICLE_INVOICE
      - PARTS_INVOICE
      - SERVICE_INVOICE
      - PAYMENT
      - DEPOSIT
      - REFUND
      - FEE
      - CREDIT
      - ADJUSTMENT
      - WRITE_OFF
      - CHARGEBACK
      - JOURNAL_ENTRY
      - FINANCE_CONTRACT
    FinancialEventSnapshot:
      type: object
      properties:
        financial_event_snapshot_key:
          type: string
          description: The unique ID for this generated snapshot instance.
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        general_ledger_reference:
          $ref: "#/components/schemas/GeneralLedgerReference"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        unit_cost:
          $ref: "#/components/schemas/GeneralAmount"
      description: "A real-time aggregated financial report (P&L, Balance Sheet, or\
        \ Trial Balance) generated as a view model for dashboards."
    ForecastMetricTypes:
      type: string
      description: types of forecast metrics.
      enum:
      - QUANTITY_ON_HAND
      - QUANTITY_ON_ORDER
      - QUANTITY_ALLOCATED
      - QUANTITY_RESERVED
      - QUANTITY_AVAILABLE
      - NET_AVAILABLE_INVENTORY
      - QUANTITY_REORDER_POINT
      - QUANTITY_DEALER_PART_STOCKING
      - QUANTITY_USER_MIN
      - QUANTITY_USER_MAX
      - QUANTITY_BEST_STOCKING_LEVEL
      - TARGET_STOCKING_LEVEL
      - AVERAGE_DAILY_USAGE_QUANTITY
      - AVERAGE_WEEKLY_USAGE_QUANTITY
      - AVERAGE_MONTHLY_USAGE_QUANTITY
      - QUANTITY_DAILY_USAGE
      - QUANTITY_FORECAST
      - FORECASTED_DEMAND_QUANTITY
      - LEAD_TIME_DEMAND_QUANTITY
      - RECOMMENDED_ORDER_QUANTITY
      - QUANTITY_THREE_MONTH_SALES
      - QUANTITY_SIX_MONTH_SALES
      - QUANTITY_TWELVE_MONTH_SALES
      - QUANTITY_TWELVE_MONTH_LOST_SALES
      - LAST_SALE_DATE
      - LAST_DEMAND_DATE
      - LAST_LOST_SALE_DATE
      - SUPERSEDING_QUANTITY
      - SUPERSEDED_QUANTITY
      - QUANTITY_AGED
      - OBSOLETE_QUANTITY
      - DEAD_STOCK_QUANTITY
      - DAYS_OF_SUPPLY
      - INVENTORY_TURNOVER_RATE
      - INVENTORY_VALUE
      - CARRYING_COST
      - FILL_RATE
      - LOST_SALE_RATE
      - LOST_SALES_REVENUE
      - BACKORDER_RATE
      - STOCKOUT_RISK_SCORE
      - INVENTORY_HEALTH_SCORE
      - LEAD_TIME
      - LEAD_TIME_VARIANCE
      - SUPPLIER_RELIABILITY_SCORE
      - SUPPLIER_ON_TIME_RATE
      - FLOOR_PLAN_INTEREST_DRAG
      - GROSS_MARGIN_OPPORTUNITY
      - STOCKOUT_REVENUE_EXPOSURE
      - EXCESS_INVENTORY_VALUE
      - FORECAST_CONFIDENCE
      - FORECAST_ERROR
      - MEAN_ABSOLUTE_ERROR
      - MEAN_ABSOLUTE_PERCENT_ERROR
      - DEMAND_VARIANCE
      - DEMAND_STD_DEVIATION
      - COEFFICIENT_OF_VARIATION
      - SEASONALITY_FACTOR
      - TREND_FACTOR
      - MOMENTUM_FACTOR
      - PROMOTIONAL_DEMAND_SPIKE
      - SAFETY_STOCK
      - ECONOMIC_ORDER_QUANTITY
      - SERVICE_LEVEL
      - REPLENISHMENT_TRIGGER_SCORE
      - REPLENISHMENT_URGENCY_SCORE
      - CONSEQUENCE_RISK_SCORE
      - STOCKOUT_CONSEQUENCE_COST
      - OVERSTOCK_CONSEQUENCE_COST
      - APPROVAL_THRESHOLD_SCORE
      - AVERAGE_HOURLY_USAGE_QUANTITY
      - AVERAGE_WEEKDAY_USAGE_QUANTITY
      - AVERAGE_WEEKEND_USAGE_QUANTITY
      - AVERAGE_QUARTERLY_USAGE_QUANTITY
      - AVERAGE_YEARLY_USAGE_QUANTITY
      - HOURLY_DEMAND_STD_DEVIATION
      - DAILY_DEMAND_STD_DEVIATION
      - WEEKDAY_DEMAND_STD_DEVIATION
      - WEEKEND_DEMAND_STD_DEVIATION
      - WEEKLY_DEMAND_STD_DEVIATION
      - MONTHLY_DEMAND_STD_DEVIATION
      - QUARTERLY_DEMAND_STD_DEVIATION
      - YEARLY_DEMAND_STD_DEVIATION
      - HOURLY_DEMAND_VARIANCE
      - DAILY_DEMAND_VARIANCE
      - WEEKDAY_DEMAND_VARIANCE
      - WEEKEND_DEMAND_VARIANCE
      - WEEKLY_DEMAND_VARIANCE
      - MONTHLY_DEMAND_VARIANCE
      - QUARTERLY_DEMAND_VARIANCE
      - YEARLY_DEMAND_VARIANCE
      - HOURLY_DEMAND_VELOCITY
      - DAILY_DEMAND_VELOCITY
      - WEEKLY_DEMAND_VELOCITY
      - MONTHLY_DEMAND_VELOCITY
      - DEMAND_GROWTH_RATE
      - DEMAND_ACCELERATION
      - OTHER
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        amount:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    GeneralLedgerReference:
      type: object
      properties:
        general_ledger_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        context:
          type: string
          description: Context or domain of the reference
        system_codes:
          $ref: "#/components/schemas/Codes"
        general_ledger_identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-30T19:20:01Z
      description: External system reference
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    InventoryStatusTypes:
      type: string
      description: types of inventory status.
      enum:
      - ON_ORDER
      - RECEIVED
      - PREPARATION
      - STOCKED_IN
      - AVAILABLE
      - RESERVED
      - PRE_SOLD
      - ON_HOLD
      - SALES_HOLD
      - SERVICE_HOLD
      - RECALL_HOLD
      - IN_TRANSIT
      - ON_DEALER_LOT
      - ON_CENTRAL_LOT
      - ASSIGNED_BY_MANUFACTURER
      - SOLD
      - WHOLESALE
      - DAMAGED
      - UNAVAILABLE
      - RETURNED
      - DISPOSAL
      - UNKNOWN
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        currency_code:
          type: string
          description: Three-letter ISO-4217 currency code.
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    PartIdentifierReference:
      type: object
      properties:
        part_identifier_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable enterprise technical ledger surrogate key for
            this snapshot instance.
          example: PIRK-77119933
        part_identifier_reference_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The business or event payload instance identifier for this
            reference metadata mapping.
          example: PART-REF-01
        part_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The raw catalog part number text explicitly captured during
            the fulfillment or scan transaction.
          example: 68218055AB
        manufacturer_brand_code:
          maxLength: 40
          minLength: 1
          type: string
          description: "The originating OEM, supplier, or aftermarket manufacturer\
            \ brand shorthand code to ensure isolation."
          example: MOPAR
        description_snapshot:
          maxLength: 255
          minLength: 1
          type: string
          description: The point-in-time descriptive text captured from the master
            part catalog for local physical document output mapping.
          example: FENDER-FRONT RIGHT
        item_classification_type:
          $ref: "#/components/schemas/PartInvoiceItemTypes"
        part_master_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The target persistent master catalog surrogate key pointing
            to the full Part aggregate root.
          example: PART-KEY-992211A
        part_identifier_type:
          $ref: "#/components/schemas/PartIdentifierTypes"
        unit_of_measure_code:
          maxLength: 10
          minLength: 1
          type: string
          description: "The standard unit of measure representation (e.g., EA, QT,\
            \ GL) of the referenced catalog item."
          example: EA
        superseded_by_part_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The replacement part number if the current reference part has
            been superseded by a newer engineering revision.
          example: 68218055AC
        core_charge_indicator:
          type: boolean
          description: "Denotes if this part reference implies a physical core return\
            \ obligation (e.g., batteries, engines, alternators)."
          example: false
      description: "An immutable, point-in-time reference snapshot of a physical part's\
        \ identity captured during a fulfillment lifecycle phase."
    PartIdentifierReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartIdentifierReference"
    PartIdentifierTypes:
      type: string
      description: types of part identifiers.
      enum:
      - VIN
      - SKU
      - UPCA
      - UPCE
      - ISBN
      - MPN
      - CONFIG_CODE
      - MFR_CODE
      - ALT_CODE
      - STOCK_NBR
      - UNIV_CODE
      - PRODUCT_CODE
      - CATALOG_CODE
      - NAME
      - NUMBER
      - PREFIX
      - COUNTRY_OF_ORIGIN_CODE
      - MODEL_CODE
      - MAKE_CODE
      - YEAR_CODE
      - MARKET_DIVISION_CODE
      - TRIM_CODE
      - STYLE_CODE
      - SUB_MODEL_CODE
      - ENGINE_CODE
      - TRANSMISSION_CODE
      - DRAWING_NUMBER
      - CAD_NUMBER
      - OTHER
    PartInventory:
      type: object
      properties:
        part_master_id:
          type: string
          description: Unique identifier for the Part Master record.
        part_inventory_id:
          type: string
          description: Unique identifier for the PartInventory record.
        part_inventory_key:
          type: string
          description: Natural key or business-friendly key for the PartInventory
            record.
        last_inventory_date:
          type: string
          description: "The date of the most recent physical inventory count or cycle\
            \ count for this specific part at this location, in YYYY-MM-DD format."
          format: date
        inventory_status_type:
          $ref: "#/components/schemas/InventoryStatusTypes"
        prices:
          $ref: "#/components/schemas/Prices"
        part_references:
          $ref: "#/components/schemas/PartReferences"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_inventory_events:
          $ref: "#/components/schemas/PartInventoryEvents"
        part_inventory_metrics:
          $ref: "#/components/schemas/PartInventoryMetrics"
        control_account_references:
          $ref: "#/components/schemas/ControlAccountReferences"
        warehouse_reference:
          $ref: "#/components/schemas/WarehouseReference"
      description: The aggregated quantity of a specific Part Master item at a particular
        location
    PartInventoryActionTypes:
      type: string
      description: types of part inventory actions.
      enum:
      - LOCATE
      - RELOCATE
      - CYCLE_COUNT
      - STOCK_ROTATION
      - ALLOCATE_RESERVE
      - REPLENISH
      - CONSOLIDATE_INVENTORY
      - INBOUND
      - RECEIVING
      - STORAGE
      - WAREHOUSE_MANAGEMENT
      - ORDER_FULFILLMENT
      - OUTBOUND
      - REVERSE_LOGISTICS
      - RETURNS_ACTIONS
      - MAINTENANCE
      - DISPOSITION
      - INVENTORY_SNAPSHOT
      - PRE_ORDER
      - BACK_ORDERED
      - PENDING
      - PROCESSING
      - SHIPPED
      - DELIVERED
      - CANCELLED
      - RETURNED_ORDER
      - NO_LONGER_AVAILABLE
      - LOST_SALE
      - DEPRECIATION_WRITE_OFF
      - SCRAP
      - DISCREPANCY
      - AUDIT_MISMATCH
      - STAGE
      - KITTING_PREPARATION
    PartInventoryCreate:
      required:
      - part_inventory_key
      type: object
      description: PartInventory Create for Post
      allOf:
      - $ref: "#/components/schemas/PartInventory"
    PartInventoryEvent:
      type: object
      properties:
        part_inventory_event_key:
          type: string
          description: The unique key for the part Inventory Event Key record.
        occurrence_date_time:
          type: string
          description: The date and time of the event's occurrence.
          format: date-time
          example: 2026-07-30T19:20:01Z
        actor:
          $ref: "#/components/schemas/ActorReference"
        business_context:
          $ref: "#/components/schemas/BusinessContext"
        financial_event_snapshot:
          $ref: "#/components/schemas/FinancialEventSnapshot"
        event_category:
          type: string
          description: The category of the event.
        event_action:
          type: string
          description: The action performed in the event.
        event_label:
          type: string
          description: A label for the event.
        event_values:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        part_inventory_action_type:
          $ref: "#/components/schemas/PartInventoryActionTypes"
        part_identifier_references:
          $ref: "#/components/schemas/PartIdentifierReferences"
        warehouse_references:
          $ref: "#/components/schemas/WarehouseReferences"
        quantity:
          $ref: "#/components/schemas/GeneralAmount"
      description: "Represents a part event, typically related to inventory actions\
        \ such as a state change or an action taken within a warehouse."
    PartInventoryEvents:
      type: array
      items:
        $ref: "#/components/schemas/PartInventoryEvent"
    PartInventoryMetric:
      type: object
      properties:
        part_inventory_metric_key:
          type: string
          description: Unique business key identifying the inventory metric record.
          example: inventory_metric_forecast_confidence
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_event_key:
          type: string
          description: Reference to the source inventory event that produced or influenced
            this metric.
          example: inventory_event_12345
        calculation_method:
          type: string
          description: Name of the statistical or analytical method used to calculate
            the metric.
          example: LINEAR_REGRESSION
        forecast_model_key:
          type: string
          description: "Reference to the forecasting model, ruleset, or algorithm\
            \ used to generate the metric."
          example: forecast_model_inventory_v1
        confidence_score:
          type: string
          description: Confidence score associated with the calculated metric or forecast.
          example: "0.92"
        metric_description:
          type: string
          description: Human-readable explanation describing the metric value and
            its significance.
          example: Demand is trending upward over the previous six months.
        metric_rank:
          type: string
          description: Relative ranking of the metric within a group of inventory
            metrics.
          example: "5"
        consequence_score:
          type: string
          description: Risk or consequence score associated with the metric if no
            action is taken.
          example: "87.5"
        uom_value:
          type: string
          description: Unit of Measure (UOM) code representing the measurement unit
            for the metric value.
        part_inventory_metric_type:
          $ref: "#/components/schemas/ForecastMetricTypes"
        metric_value:
          type: string
          description: The numerical value for the specified inventory metric type.
        actor:
          $ref: "#/components/schemas/ActorReference"
        occurrence_date_time:
          type: string
          description: The date and time the event was submitted or created.
          format: date-time
          example: 2026-07-30T19:20:01Z
      description: Value price with unit of measure for inventory metrics.
    PartInventoryMetrics:
      type: array
      items:
        $ref: "#/components/schemas/PartInventoryMetric"
    PartInventoryUpdate:
      type: object
      properties:
        last_inventory_date:
          type: string
          description: "The date of the most recent physical inventory count or cycle\
            \ count for this specific part at this location, in YYYY-MM-DD format."
          format: date
        warehouse_reference:
          $ref: "#/components/schemas/WarehouseReference"
        inventory_status_type:
          $ref: "#/components/schemas/InventoryStatusTypes"
        part_inventory_metrics:
          $ref: "#/components/schemas/PartInventoryMetrics"
        control_account_references:
          $ref: "#/components/schemas/ControlAccountReferences"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        prices:
          $ref: "#/components/schemas/Prices"
        part_references:
          $ref: "#/components/schemas/PartReferences"
        part_inventory_events:
          $ref: "#/components/schemas/PartInventoryEvents"
      description: PartInventory Update for Patch and Put
    PartInvoiceItemTypes:
      type: string
      description: types of part invoice items.
      enum:
      - STANDARD_CATALOG_PART
      - KIT
      - ASSEMBLY
      - COMPONENT
      - EXCHANGE_LINE
      - RETURN_LINE
      - OTHER
    PartReference:
      type: object
      properties:
        part_reference_id:
          type: string
          description: Unique identifier value
        part_reference_key:
          type: string
          description: Unique identifier value
        name:
          type: string
          description: Product Name.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_key:
          type: string
          description: Unique identifier value
        part_master_key:
          type: string
          description: Unique identifier value
        manufacturer:
          type: string
          description: Context or domain of the identifier
        context:
          type: string
          description: Context or domain of the identifier
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-30T19:20:01Z
        unit_of_measure:
          $ref: "#/components/schemas/UnitOfMeasure"
      description: External system identifier
    PartReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartReference"
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    Price:
      type: object
      properties:
        price_id:
          type: string
          description: Unique system identifier for the price record.
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        display_amount:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        amount:
          $ref: "#/components/schemas/Money"
        tax_amount:
          $ref: "#/components/schemas/Money"
        taxable_amount:
          $ref: "#/components/schemas/Money"
        non_taxable_amount:
          $ref: "#/components/schemas/Money"
        total_amount:
          $ref: "#/components/schemas/Money"
        total_cost_amount:
          $ref: "#/components/schemas/Money"
        unit_cost_amount:
          $ref: "#/components/schemas/Money"
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - INVOICE
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - TOTAL_ACCESSORY
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - BASE_INVOICE_AMOUNT
      - DESTINATION_CHARGE
      - ADVERTISING_ASSESSMENT
      - HOLDBACK_AMOUNT
      - WDA_AMOUNT
      - TDA_AMOUNT
      - FLOORPLAN_ASSISTANCE_AMOUNT
      - DEALER_CASH_AMOUNT
      - REGIONAL_ADJUSTMENT_AMOUNT
      - PORT_INSTALLED_OPTION_AMOUNT
      - FACTORY_OPTION_AMOUNT
      - DEALER_INSTALLED_OPTION_AMOUNT
      - FREIGHT_CHARGE_AMOUNT
      - FUEL_CHARGE_AMOUNT
      - PACKAGING_OPTION_AMOUNT
      - OEM_INCENTIVE_AMOUNT
      - DEALER_NET_AMOUNT
      - LANDED_COST_AMOUNT
      - OTHER
    Prices:
      type: array
      items:
        $ref: "#/components/schemas/Price"
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    ProductTypes:
      type: string
      description: types of products.
      enum:
      - VEHICLE
      - INFORMATION
      - DURABLE_GOODS
      - SOFTWARE
      - APP
      - INSURANCE
      - FINANCE
      - SERVICE
      - PART
      - ACCESSORY
      - F_N_I_PRODUCT
      - SERVICE_PACKAGE
      - DEALER_PRODUCT
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - OTHER
    UnitOfMeasure:
      type: object
      properties:
        unit_of_measure_key:
          type: string
          description: Unit of Measure Value
        unit_name:
          type: string
          description: Unit of Measure
        uom_value:
          maxLength: 100
          minLength: 1
          type: string
          description: Unit of Measure Value
        uom_quantity_category_type:
          $ref: "#/components/schemas/UomQuantityCategoryTypes"
      description: value price with unit of measure
    UomQuantityCategoryTypes:
      type: string
      description: types of uom quantity categorys.
      enum:
      - COUNT
      - WEIGHT
      - VOLUME
      - TIME
      - NET_WEIGHT
      - NET_VOLUME
      - PACKAGE_QUANTITY
      - MIN_ORDER_QUANTITY
      - GROSS_WEIGHT
      - GROSS_VOLUME
      - SHIPPING_WEIGHT
      - DIMENSIONAL_WEIGHT
      - MATERIAL
      - ELECTRICAL_RATING
      - DEFAULT_LEAD_TIME
      - MAX_LEAD_TIME
      - DIMENSION_UNIT
      - MIN_LENGTH
      - MAX_LENGTH
      - MIN_WIDTH
      - MAX_WIDTH
      - MIN_HEIGHT
      - MAX_HEIGHT
      - MIN_WEIGHT
      - MAX_WEIGHT
      - MAX_ORDER_QUANTITY
      - MIN_ORDER_AVAILABLE
      - DIMENSIONS
      - SHIPPING_DIM_LENGTH
      - SHIPPING_DIM_WIDTH
      - SHIPPING_DIM_HEIGHT
      - SHIPPING_DIM_GROSS_WEIGHT
      - SHIPPING_DIM_NET_WEIGHT
      - SHELF_LIFE_HOURS
      - EXPIRATION_DATE
      - MIN_PAYMENT_PERCENT
      - MIN_PAYMENT_AMOUNT
    WarehouseReference:
      type: object
      properties:
        location_reference_id:
          type: string
          description: Unique identifier value for the location reference record.
        location_reference_key:
          type: string
          description: Unique key value for the location reference record.
        warehouse_key:
          type: string
          description: The unique key identifying the referenced Warehouse or Location
            aggregate.
        context:
          type: string
          description: "Context or type of the location (e.g., 'WAREHOUSE', 'DEALERSHIP_BIN',\
            \ 'RECEIVING_DOCK')."
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: "The date and time the item was associated with this location\
            \ (e.g., received at this location)."
          format: date-time
          example: 2026-07-30T19:20:01Z
      description: Reference to a Warehouse or Inventory Location Aggregate Root.
    WarehouseReferences:
      type: array
      items:
        $ref: "#/components/schemas/WarehouseReference"
