openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Receipt
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: Health
  description: Tag Description Health
- name: Positions
  description: Tag Description Positions
- name: ReceiptLineItems
  description: Tag Description ReceiptLineItems
- name: Receipts
  description: Tag Description Receipts
- name: ShipmentEvents
  description: Tag Description ShipmentEvents
- name: StaffSkills
  description: Tag Description StaffSkills
paths:
  /receipts:
    get:
      tags:
      - Receipts
      summary: Returns a paginated list of receipt
      description: a list of Receipt
      operationId: listReceipts
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ReceiptCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    post:
      tags:
      - Receipts
      summary: create receipt
      description: create Receipt
      operationId: createReceipt
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceiptCreate"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/ReceiptCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /receipts/{receipt-key}:
    get:
      tags:
      - Receipts
      summary: Retrieve a single item scoped by a key Receipt entities.
      description: Retrieve a single item scoped by a key Receipt entities.
      operationId: getReceiptByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ReceiptKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ReceiptSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    put:
      tags:
      - Receipts
      summary: Replace values in a single item scoped by a key Receipt entities.
      description: Replace values in a single item scoped by a key Receipt entities.
      operationId: replaceReceiptByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/ReceiptKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceiptUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/ReceiptUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    delete:
      tags:
      - Receipts
      summary: Delete a single item scoped by a key Receipt
      description: delete a Receipt
      operationId: deleteReceipt
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/ReasonQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/ReceiptKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ReceiptSingleResponse"
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    patch:
      tags:
      - Receipts
      summary: Update a single item scoped by a key Receipt
      description: update a single item
      operationId: updateReceiptByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/ReceiptKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/ReceiptUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/ReceiptUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /receipts/{receipt-key}/staff-skills:
    get:
      tags:
      - StaffSkills
      summary: Returns a paginated list of staff skill
      description: a list of StaffSkill
      operationId: listStaffSkillsByReceiptKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/StaffSkillCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/staff-skills/{staff-skill-key}:
    get:
      tags:
      - StaffSkills
      summary: Retrieve a single item scoped by a key StaffSkill entities.
      description: Retrieve a single item scoped by a key StaffSkill entities.
      operationId: getStaffSkillByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/StaffSkillKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/StaffSkillSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/staff-assignment-references:
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/staff-assignment-references/{staff-assignment-reference-key}:
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/purchase-order-references:
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/purchase-order-references/{purchase-order-reference-key}:
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/positions:
    get:
      tags:
      - Positions
      summary: Returns a paginated list of position
      description: a list of Position
      operationId: listPositionsByReceiptKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PositionCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/positions/{position-key}:
    get:
      tags:
      - Positions
      summary: Retrieve a single item scoped by a key Position entities.
      description: Retrieve a single item scoped by a key Position entities.
      operationId: getPositionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PositionKey"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PositionSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/shipment-events:
    get:
      tags:
      - ShipmentEvents
      summary: Returns a paginated list of shipment event
      description: a list of ShipmentEvent
      operationId: listShipmentEventsByReceiptKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ShipmentEventCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/shipment-events/{shipment-event-key}:
    get:
      tags:
      - ShipmentEvents
      summary: Retrieve a single item scoped by a key ShipmentEvent entities.
      description: Retrieve a single item scoped by a key ShipmentEvent entities.
      operationId: getShipmentEventByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ShipmentEventKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ShipmentEventSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/receipt-line-items:
    get:
      tags:
      - ReceiptLineItems
      summary: Returns a paginated list of receipt line item
      description: a list of ReceiptLineItem
      operationId: listReceiptLineItemsByReceiptKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ReceiptLineItemCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/receipt-line-items/{receipt-line-item-key}:
    get:
      tags:
      - ReceiptLineItems
      summary: Retrieve a single item scoped by a key ReceiptLineItem entities.
      description: Retrieve a single item scoped by a key ReceiptLineItem entities.
      operationId: getReceiptLineItemByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ReceiptLineItemKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ReceiptLineItemSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/warehouse-references:
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/warehouse-references/{warehouse-reference-key}:
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/financial-track-references:
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipts/{receipt-key}/financial-track-references/{financial-track-reference-key}:
    parameters:
    - $ref: "#/components/parameters/ReceiptKey"
  /receipt/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the Receipt root node.
      operationId: healthReceipt
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
          example: "840277003481546752"
        address_reference_id:
          type: string
          description: The unique value of the address reference.
          example: "840277003481546753"
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: address_types list
          example:
          - CONTRACT
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
          example: 123 Main St
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Suite 400
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Building A
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Mail Stop 22
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: "Attention: Accounts Payable"
        city:
          type: string
          description: Name of the city.
          example: Atlanta
        country_code:
          type: string
          description: Full name of the country.
          example: US
        district:
          type: string
          description: Name of the district.
          example: North District
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
          example: Work Email
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
          example: "30303"
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
          example: GA
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      example: BILLING
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:18:25Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
          example: "840277003481546754"
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
          example: "840277003481546755"
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
          example: "840277003481546756"
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
          example: user@example.com
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
          example: "{country_code=+1}"
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
          example: Work Email
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      example: PHONE
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:18:25Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      example: SUN
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      example: MINUTES
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-07T17:18:25Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-07T17:18:25Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: A unique identifier for this specific request.
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: Field-level validation errors or granular diagnostic information.
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            type: object
            properties:
              field:
                type: string
                description: The JSON path or field name that caused the error.
                example: payrollId
              issue:
                type: string
                description: The specific validation rule that failed.
                example: must be unique
              rejected_value:
                type: string
                description: The value that was sent and rejected (only if non-sensitive).
                example: "12345"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: A unique key for the eventMessage record.
          example: "840277003481546757"
        event_message_id:
          type: string
          description: The unique ID for the eventMessage.
          example: "840277003481546758"
        event_actor_key:
          type: string
          description: The ID of the actor for the event.
          example: "840277003481546759"
        event_actor_name:
          type: string
          description: The name of the actor for the event.
          example: System
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: Content of the event message.
          example: event_content
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-05-07T17:18:25Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belongs.
          example: ORDER_EVENTS
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
          example: Order creation event.
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
          example: OrderCreated
        event_message_code:
          type: string
          description: The code for the eventMessage.
          example: ORD-001
        event_message_value:
          type: string
          description: The value of the eventMessage.
          example: SUCCESS
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessage is internal.
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      example: INSTRUCTION
      enum:
      - INSTRUCTION
      - REASONING
      - RESPONSE
      - TOOL_CALL
      - TOOL_OUTPUT
      - ACTION_CONFIRMATION
      - COMPENSATION
      - RETRY_SIGNAL
      - ERROR_REPORT
      - DELEGATION
      - BROADCAST
      - CRITIQUE
      - LOGGING
      - AUDIT
      - HEARTBEAT
      - UNKNOWN
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the reference record.
          example: "840277003485741056"
        financial_split_reference_key:
          type: string
          description: Unique key value for the reference record.
          example: "840277003485741057"
        financial_split_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Payment FinancialSplit
            aggregate.
          example: "840277003485741058"
        context:
          type: string
          description: Context or domain of the payment financialSplit.
          example: FINANCE
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        total:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associated with the
            order.
          format: date-time
          example: 2026-05-07T17:18:25Z
      description: Reference to a Payment FinancialSplit Aggregate Root.
    FinancialSplitReferences:
      type: array
      items:
        $ref: "#/components/schemas/FinancialSplitReference"
    FinancialTrackReference:
      type: object
      properties:
        track_reference_id:
          type: string
          description: Unique identifier value for the financial track reference record.
          example: "840277003485741059"
        track_reference_key:
          type: string
          description: Unique key value for the financial track reference record.
          example: "840277003485741060"
        track_key:
          type: string
          description: The unique key identifying the referenced Financial Track aggregate
            (the actual journal entry).
          example: "840277003485741061"
        context:
          type: string
          description: "Context or domain of the financial tracking (e.g., 'GL', 'ERP')."
          example: FINANCE
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financial track entry was generated.
          format: date-time
          example: 2026-05-07T17:18:25Z
      description: "Reference to a Financial Track Aggregate Root (e.g., a Journal\
        \ Entry)."
    FinancialTrackReferences:
      type: array
      items:
        $ref: "#/components/schemas/FinancialTrackReference"
    GeographicBoundaryReference:
      type: object
      properties:
        geographic_boundary_reference_id:
          type: string
          description: Unique identifier value for the reference record.
          example: "840277003485741062"
        geographic_boundary_reference_key:
          type: string
          description: Unique key value for the reference record.
          example: "840277003485741063"
        geographic_boundary_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
          example: "840277003485741064"
        context:
          type: string
          description: Context or domain of the payment schedule.
          example: FINANCE
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-05-07T17:18:25Z
      description: Reference to a Payment Schedule Aggregate Root.
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          description: Current health status of the service.
          example: UP
        version:
          type: string
          description: Version of the deployed service.
          example: 2.0.0
      description: Standard health check response body
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277003485741065"
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
          example: "840277003485741066"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        value:
          type: string
          description: The monetary or hours-based value of the event.
          example: user@example.com
        detail:
          type: string
          description: The monetary or hours-based value of the event.
          example: Primary identifier
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
          example: identifier_type value
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    InvoiceTypes:
      type: string
      description: types of invoices.
      example: INVOICE
      enum:
      - INVOICE
      - SERVICE_INVOICE
      - PART_INVOICE
      - LOAN
      - STANDARD
      - CREDIT_MEMO
      - DEBIT_MEMO
      - PRO_FORMA
      - COMMERCIAL
      - VEHICLE_SALE
      - SERVICE
      - PARTS
      - LEASE
      - FINANCE_CHARGE
      - WARRANTY_CLAIM
      - INSURANCE_CLAIM
      - STATEMENT
      - ADVANCE
      - FINAL
      - REPAIR
      - FUEL
      - RENTAL
      - SUBSCRIPTION
    LifecycleEvent:
      type: object
      properties:
        lifecycle_event_id:
          type: string
          description: The unique ID for the lifecycle event.
          example: EVT-99887766
        lifecycle_event_key:
          type: string
          description: The unique external key or business identifier used in integrations.
          example: LIFECYCLE-879234
        actor_href:
          type: string
          description: The href of the actor who initiated the event.
          format: href
          example: https://api.example.com/resources/83063
        actor_id:
          type: string
          description: The unique identifier of the actor who initiated the event.
          example: USR-24681357
        actor_name:
          type: string
          description: The name of the actor who initiated the event.
          example: John Doe
        lifecycle_event_type:
          $ref: "#/components/schemas/LifecycleEventTypes"
        occurrence_date:
          type: string
          description: The date and time the event occurred.
          format: date
          example: 2026-04-26
        resource_href:
          type: string
          description: The href of the resource associated with the event.
          format: href
          example: https://api.example.com/resources/18873
        resource_identifier:
          type: string
          description: The unique identifier of the resource associated with the event.
          example: RSC-88776655
        detail_name:
          type: string
          description: The name of the event detail.
          example: Order ID
        detail_desc:
          type: string
          description: A description of the event detail.
          example: The unique ID of the order being processed.
        detail_value:
          type: string
          description: The value of the event detail.
          example: ORD-44556677
        detail_key:
          type: string
          description: The unique key for the event detail.
          example: ORDER_ID
        detail_code:
          type: string
          description: The code for the event detail.
          example: ORDER_STATUS_CHANGED
        resource_types:
          $ref: "#/components/schemas/ResourceTypes"
      description: Lifecycle Event
    LifecycleEventTypes:
      type: string
      description: types of lifecycle events.
      example: CREATED
      enum:
      - CREATED
      - UPDATED
      - DELETE_HARD
      - DELETE_SOFT
      - ACCESS_ALLOWED
      - ACCESS_DENIED
      - SUBMITTED
      - CLOSED
      - CANCELLED
      - DEAD
      - INITIALIZED
      - INITIALIZING
      - PROCESSING
      - PROCESSED
      - FAILED
      - VALIDATED
      - QUALIFIED
      - STEP_TRANSITION
      - STATUS_CHANGE
      - QUEUED
      - ACKNOWLEDGMENT
      - REJECTED
      - UNQUALIFIED
      - INCOMPLETE
    LifecycleEvents:
      type: array
      items:
        $ref: "#/components/schemas/LifecycleEvent"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
          example: "840277003485741067"
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
          example: English (US)
        description:
          type: string
          description: A detailed description of the alert message.
          example: Vehicle engine component.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
          example: en
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: US
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
          example: $
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
          example: America/New_York
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
          example: "###,###.##"
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: not nullable
    Memo:
      type: array
      items:
        type: string
    OrderTypes:
      type: string
      description: types of orders.
      example: STANDARD
      enum:
      - STANDARD
      - SALES
      - PURCHASE
      - RUSH
      - BACK_ORDER
      - SPECIAL
      - SUBSCRIPTION
      - SERVICE
      - MAINTENANCE
      - WARRANTY
      - SAMPLE
      - INTERNAL_TRANSFER
      - CONSIGNMENT
      - TRIAL
      - RENTAL
      - REPAIR
      - JOB
      - RETURN
    PartReference:
      type: object
      properties:
        part_reference_id:
          type: string
          description: Unique identifier value
          example: "840277003485741068"
        part_reference_key:
          type: string
          description: Unique identifier value
          example: "840277003485741069"
        name:
          type: string
          description: Product Name.
          example: Vehicle Image Side View
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_key:
          type: string
          description: Unique identifier value
          example: "840277003485741070"
        part_master_key:
          type: string
          description: Unique identifier value
          example: "840277003485741071"
        manufacturer:
          type: string
          description: Context or domain of the identifier
          example: Toyota
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: product_types list
          example:
          - SERVICE_PACKAGE
          items:
            $ref: "#/components/schemas/ProductTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:18:25Z
        unit_of_measure:
          $ref: "#/components/schemas/UnitOfMeasure"
      description: External system identifier
    PartReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartReference"
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: party_relationship_types list
          example:
          - LESSEE
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-05-07T17:18:25Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      example: CORPORATION
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      example: DEALER
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayTypes:
      type: string
      description: types of pays.
      example: CUSTOMER_PAY
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          maxLength: 20
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
          example: "121"
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: Position codes associated with the entity.
          example: position_codes
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    Price:
      type: object
      properties:
        display_value:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
          example: "$25,000"
        locale:
          type: string
          description: Locale used for formatting display value.
          example: en-US
        value:
          type: string
          description: The numeric value of the price (before tax/cost breakdowns).
          example: user@example.com
        tax_value:
          type: string
          description: The calculated amount of tax applied to the price.
          example: "1500"
        taxable_amount:
          type: string
          description: The portion of the price subject to tax.
          example: $238.80
        non_taxable_amount:
          type: string
          description: The portion of the price not subject to tax.
          example: $567.61
        total_amount:
          type: string
          description: The total final price including all components and tax.
          example: $667.34
        total_cost_amount:
          type: string
          description: The total cost to the provider/seller.
          example: $797.05
        unit_cost_amount:
          type: string
          description: The unit cost to the provider/seller.
          example: $904.81
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
          example: Vehicle base price
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
          example: "840277003485741072"
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        price_id:
          type: string
          description: Unique system identifier for the price record.
          example: "840277003485741073"
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: price_types list
          example:
          - GROSS_SALE
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PriceTypes:
      type: string
      description: types of prices.
      example: METERED
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - OTHER
    ProblemDetail:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. Provides
            human-readable documentation for the error.
          format: uri
          example: https://api.yourdomain.com/errors/validation-failed
        title:
          type: string
          description: "A short, human-readable summary of the problem type. It should\
            \ not change from occurrence to occurrence."
          example: Intent Validation Failed
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          format: int32
          example: 422
        detail:
          type: string
          description: "A human-readable explanation specific to this occurrence of\
            \ the problem, providing context on the failure."
          example: The export request could not be processed due to business constraints.
        instance:
          type: string
          description: "A URI reference that identifies the specific occurrence of\
            \ the problem (e.g., the specific resource path)."
          format: uri
          example: https://api.yourdomain.com/money/exports
        intent:
          type: string
          description: The specific agentic or business intent that was being processed
            when the error occurred.
          example: InitiateMoneyExport
        error_code:
          type: string
          description: "A stable, machine-readable string code for the error."
          example: INSUFFICIENT_FUNDS_FOR_EXPORT
        pointer:
          type: string
          description: A JSON Pointer to the field in the request body that caused
            the violation.
          example: "#/plate_number"
        violations:
          type: array
          description: "A collection of specific validation failures, including field\
            \ paths and localized messages."
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            type: object
            properties:
              pointer:
                type: string
                description: A JSON Pointer (RFC 6901) referencing the specific field
                  in the request body that caused the violation.
                example: "#/vehicle_license/plate_number"
              code:
                type: string
                description: "A stable, machine-readable string identifying the specific\
                  \ validation rule that was breached."
                example: PATTERN_MISMATCH
              message:
                type: string
                description: "A localized, human-readable description of the validation\
                  \ error."
                example: The plate number must be alphanumeric and between 1 and 20
                  characters.
              severity:
                type: string
                description: The impact level of this violation. ERROR blocks execution;
                  WARNING is advisory.
                example: ERROR
                enum:
                - ERROR
                - WARNING
                - INFO
              metadata:
                type: object
                additionalProperties:
                  type: string
                description: "Contextual key-value pairs to help the agent resolve\
                  \ the error (e.g., actual vs. expected limits)."
                example:
                  regex: "^[A-Z0-9]{1,20}$"
              rule:
                type: string
                example: INSUFFICIENT_FUNDS
              path:
                type: string
                example: date_range.start
            description: "An individual validation failure within a request, providing\
              \ a direct map to the offending field."
      description: "A standardized error response based on RFC 7807, extended with\
        \ domain-specific intent and validation violations."
    ProductTypes:
      type: string
      description: types of products.
      example: VEHICLE
      enum:
      - VEHICLE
      - INFORMATION
      - DURABLE_GOODS
      - SOFTWARE
      - APP
      - INSURANCE
      - FINANCE
      - SERVICE
      - PART
      - ACCESSORY
      - F_N_I_PRODUCT
      - SERVICE_PACKAGE
      - DEALER_PRODUCT
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - OTHER
    PurchaseOrderReference:
      type: object
      properties:
        order_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the purchase order reference record.
          example: "840277003489935360"
        order_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the purchase order reference record.
          example: "840277003489935361"
        purchase_order_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Purchase Order aggregate.
          example: "840277003489935362"
        context:
          type: string
          description: "Context or domain of the purchase order (e.g., 'ERP', 'WMS')."
          example: FINANCE
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the purchase order was created or linked.
          format: date-time
          example: 2026-05-07T17:18:25Z
      description: Reference to a Purchase Order Aggregate Root.
    Receipt:
      type: object
      properties:
        receipt_key:
          type: string
          description: A unique key for the receipt record.
          example: RCPT-100045
        receipt_id:
          type: string
          description: A unique identifier for the receipt.
          example: RCPT-100045
        credit_authorization_key:
          type: string
          description: Natural business key for the authorization record.
          example: "840277003489935363"
        source_key:
          type: string
          description: Natural business key for the authorization record.
          example: "840277003489935364"
        transaction_number:
          type: string
          description: Natural business key for the authorization record.
          example: "61"
        purchase_order_reference:
          $ref: "#/components/schemas/PurchaseOrderReference"
        supplier_reference:
          $ref: "#/components/schemas/PartyReference"
        receiving_staff_reference:
          $ref: "#/components/schemas/StaffAssignmentReference"
        receipt_status_type:
          $ref: "#/components/schemas/ReceiptStatusTypes"
        is_fully_received:
          type: boolean
          description: Indicates if all expected items for this receipt's scope are
            received.
          example: true
        locale:
          $ref: "#/components/schemas/Locale"
        receipt_price:
          $ref: "#/components/schemas/Price"
        invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
        delivery_location:
          $ref: "#/components/schemas/AddressReference"
        total_quantity:
          type: string
          description: The total quantity of all parts received in this shipment.
          example: "25"
        total_value:
          $ref: "#/components/schemas/Price"
        delivery_estimate:
          $ref: "#/components/schemas/ShipmentReference"
        warehouse_reference:
          $ref: "#/components/schemas/WarehouseReference"
        notes:
          type: string
          description: Any notes related to the receipt.
          example: Damaged packaging observed on arrival.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        lifecycle_events:
          $ref: "#/components/schemas/LifecycleEvents"
        shipment_events:
          $ref: "#/components/schemas/ShipmentEvents"
        shipments:
          $ref: "#/components/schemas/ShipmentReferences"
        lineitems:
          $ref: "#/components/schemas/ReceiptLineItems"
        status:
          type: string
          description: Unique key value for the reference record.
          example: ACTIVE
        occurrence_date_time:
          type: string
          description: The date and time the credit occurred.
          format: date-time
          example: 2026-05-07T17:18:25Z
        event_message:
          $ref: "#/components/schemas/EventMessage"
        financial_splits:
          $ref: "#/components/schemas/FinancialSplitReferences"
      description: Represents a single goods receipt for items received from a supplier.
    ReceiptCreate:
      required:
      - receipt_key
      type: object
      description: Receipt Create for Post
      allOf:
      - $ref: "#/components/schemas/Receipt"
    ReceiptLineItem:
      type: object
      properties:
        receipt_line_item_id:
          type: string
          description: Unique identifier for the receipt.
          example: RCPT-100045
        receipt_line_item_key:
          type: string
          description: Unique identifier for the receipt.
          example: RCPT-100045
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        financial_tracks:
          $ref: "#/components/schemas/FinancialTrackReferences"
        lifecycle_events:
          $ref: "#/components/schemas/LifecycleEvents"
        received_parts:
          $ref: "#/components/schemas/PartReferences"
        delivered_quantity:
          type: string
          description: Total quantity of all parts received in this shipment.
          example: "25"
        ordered_quantity:
          type: string
          description: Total quantity of all parts received in this shipment.
          example: "25"
        notes:
          type: string
          description: Any notes related to the receipt.
          example: Damaged packaging observed on arrival.
        receipt_status_type:
          $ref: "#/components/schemas/ReceiptStatusTypes"
        events:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: "List of events associated with the receipt line item, such\
            \ as posting, validation, or settlement actions."
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            $ref: "#/components/schemas/ShipmentEvent"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        order_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: order_types list
          example:
          - RUSH
          items:
            $ref: "#/components/schemas/OrderTypes"
        journal_entry_key:
          type: string
          description: A link to the corresponding financial journal entry.
          example: "840277003494129664"
        status:
          type: string
          description: Unique key value for the reference record.
          example: ACTIVE
      description: A specific line entry on a receipt.
    ReceiptLineItems:
      type: array
      items:
        $ref: "#/components/schemas/ReceiptLineItem"
    ReceiptStatusTypes:
      type: string
      description: types of receipt status.
      example: DRAFT
      enum:
      - DRAFT
      - PENDING_APPROVAL
      - CANCELLED
      - CLOSED
      - PARTIALLY_RECEIVED
      - FULLY_RECEIVED
      - PARTIALLY_SHIPPED
      - SHIPPED
      - DELIVERED
      - ON_HOLD
      - SALES_HOLD
      - PAYMENT_HOLD
      - FINANCE_HOLD
      - CUSTOMER_HOLD
      - INTERNAL_HOLD
    ReceiptUpdate:
      type: object
      properties:
        total_value:
          $ref: "#/components/schemas/Price"
        notes:
          type: string
          description: Any notes related to the receipt.
          example: Damaged packaging observed on arrival.
        supplier_reference:
          $ref: "#/components/schemas/PartyReference"
        locale:
          $ref: "#/components/schemas/Locale"
        delivery_location:
          $ref: "#/components/schemas/AddressReference"
        total_quantity:
          type: string
          description: The total quantity of all parts received in this shipment.
          example: "25"
        invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
        delivery_estimate:
          $ref: "#/components/schemas/ShipmentReference"
        is_fully_received:
          type: boolean
          description: Indicates if all expected items for this receipt's scope are
            received.
          example: true
        receiving_staff_reference:
          $ref: "#/components/schemas/StaffAssignmentReference"
        financial_splits:
          $ref: "#/components/schemas/FinancialSplitReferences"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        shipments:
          $ref: "#/components/schemas/ShipmentReferences"
        warehouse_reference:
          $ref: "#/components/schemas/WarehouseReference"
        lineitems:
          $ref: "#/components/schemas/ReceiptLineItems"
        purchase_order_reference:
          $ref: "#/components/schemas/PurchaseOrderReference"
        transaction_number:
          type: string
          description: Natural business key for the authorization record.
          example: "3"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        lifecycle_events:
          $ref: "#/components/schemas/LifecycleEvents"
        event_message:
          $ref: "#/components/schemas/EventMessage"
        shipment_events:
          $ref: "#/components/schemas/ShipmentEvents"
        occurrence_date_time:
          type: string
          description: The date and time the credit occurred.
          format: date-time
          example: 2026-05-07T17:18:25Z
        receipt_status_type:
          $ref: "#/components/schemas/ReceiptStatusTypes"
        receipt_price:
          $ref: "#/components/schemas/Price"
        status:
          type: string
          description: Unique key value for the reference record.
          example: ACTIVE
      description: Receipt Update for Patch and Put
    ResourceTypes:
      type: string
      description: types of resources.
      example: SYSTEM
      enum:
      - SYSTEM
      - WORKFLOW
      - ACTIVITY
      - FUNCTION
      - PROCESS
      - INCIDENT
      - PARTY
      - CUSTOMER
      - APPLICANT
      - VENDOR
      - DEALER_STAFF
      - DRIVER
      - ADDRESS
      - BILL_ADDRESS
      - BILL_CONTACT
      - COMM_CHANNEL
      - ACCOUNT
      - VEHICLE
      - TRADE_IN
      - PRODUCT
      - MANUFACTURER
      - LEAD
      - OPPORTUNITY
      - DEAL
      - FINANCE
      - INVOICE
      - LINEITEM
      - EXPENSE
      - DISCOUNT
      - TAX
      - FEE
      - INCENTIVE
      - DEALERSHIP
      - PART
      - ACCESSORIES
      - PURCHASE_ORDER
      - VEHICLE_OPTION
      - RENTAL
      - SUBSCRIPTION
      - INSURANCE
      - WARRANTY
      - SERVICE
      - APPOINTMENT
      - OTHER
    RoleTypes:
      type: string
      description: types of roles.
      example: GEN_MGR
      enum:
      - GEN_MGR
      - CLOSING_MGR
      - FI_MGR
      - SALES_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - FINANCE
      - CONCIERGE_STAFF
      - CONCIERGE_MGR
      - VALET
      - VALET_OPERATOR
      - SERVICE_MGR
      - SERVICE_TECH
      - STAFF
      - SPECIALIST
      - ADVISOR
      - DISPATCHER
      - PRIMARY_TECHNICIAN
      - HELPER_TECHNICIAN
      - SERVICE_ADVISOR
      - VALET_DRIVER
      - MOBILE_DISPATCHER
      - QUALITY_CONTROL
      - INSPECTOR
      - TECHNICIAN
      - MOBILE_SERVICE_VAN
      - TOW_TRUCK
      - AUTONOMOUS_SYSTEM
      - SUBLET_VENDOR
    ServiceJobTypes:
      type: string
      description: types of service jobs.
      example: SERVICE
      enum:
      - SERVICE
      - WARRANTY
      - SALES
      - MAINTENANCE
      - ACCESSORIES
      - PARTS
      - F_AND_I
      - TRADE_IN
      - EVALUATION
      - RECALL
      - LABOR
      - REPAIR_ORDER
      - INSTALLATION
      - PDI_INSPECTION
      - BODY_SHOP
      - FLEET
      - MOBILE
      - LOGISTICS
      - QUICK_LUBE
    ShipmentEvent:
      type: object
      properties:
        shipment_event_id:
          type: string
          description: Unique identifier for this specific parts invoice line item.
          example: pii_abc123xyz
        shipment_event_key:
          type: string
          description: "A unique key for the parts invoice line item, often used for\
            \ external systems integration."
[...]
