openapi: 3.0.1
info:
  title: Automotive Retail Systems API - ServiceAppointmentReference
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-30T19:24:18Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AppointmentChannelTypes:
      type: string
      description: types of appointment channels.
      enum:
      - REMOTE
      - VIRTUAL
      - IN_STORE
      - CUSTOMER_ON_SITE
      - FLEET_DEPOT
      - ROADSIDE_TRANSIT
      - CURBSIDE
      - PARTNER_LOCATION
      - OTHER
    AppointmentLocation:
      type: object
      properties:
        appointment_location_key:
          type: string
          description: The unique key for the appointment location record.
        position:
          $ref: "#/components/schemas/Position"
        address_reference:
          $ref: "#/components/schemas/AddressReference"
        department_reference:
          $ref: "#/components/schemas/DepartmentReference"
        department_type:
          $ref: "#/components/schemas/DepartmentTypes"
        virtual_appointment:
          $ref: "#/components/schemas/CommunicationChannel"
        bay_identifier:
          type: string
          description: The specific physical work bay or service station allocated
            for this scheduling event.
          example: BAY-04-EV
        bay_capability_type:
          $ref: "#/components/schemas/BayCapabilityTypes"
        is_exclusive_allocation:
          type: boolean
          description: "Indicates if this bay is exclusively reserved for this time\
            \ slot, preventing double-booking or over-allocation of the physical space."
          example: true
        max_bay_occupancy_limit:
          type: integer
          description: "The absolute concurrent limit of vehicles allowed in this\
            \ physical area at one time (e.g., detail shop or wash bays might allow\
            \ 3, single lift bays allow 1)."
          format: int32
          example: 1
      description: Represents the physical or virtual location details of an appointment.
    AppointmentLocations:
      type: array
      items:
        $ref: "#/components/schemas/AppointmentLocation"
    AppointmentSourceTypes:
      type: string
      description: types of appointment sources.
      enum:
      - DEALERSHIP_INITIATED
      - INTERNET
      - PHONE
      - SERVICE_ADVISOR_INITIATED
      - TELEPHONE_APP
      - WALK_IN
      - KIOSK
      - MOBILE_OEM_TELEMATICS
      - CONSUMER_PORTAL
      - MOBILE_APP
      - TELEPHONY_IVR
      - CHAT_BOT
      - DMS_DIRECT
      - THIRD_PARTY_AGGREGATOR
      - CONNECTED_VEHICLE
      - UNKNOWN
      - OTHER
    AppointmentStatusTypes:
      type: string
      description: types of appointment status.
      enum:
      - INITIATED
      - WAIT_LISTED
      - REQUESTED
      - TENTATIVE
      - CONFIRMATION_PENDING
      - CONFIRMED
      - CHECK_IN_PENDING
      - ARRIVED
      - CHECKED_IN
      - READY
      - IN_PROGRESS
      - ON_HOLD
      - PARTIALLY_FULFILLED
      - FULFILLED
      - CANCELLED
      - NO_SHOW_CONFIRMED
      - EXPIRED
      - DECLINED
      - REJECTED
      - NO_SHOW
      - FAILED
      - CLOSED
      - UNKNOWN
    AppointmentTypes:
      type: string
      description: types of appointments.
      enum:
      - SALES
      - F_AND_I
      - TRADE_EVALUATION
      - TEST_DRIVE
      - DELIVERY
      - VEHICLE_SALE
      - SERVICE
      - SCHEDULED_SERVICE
      - WARRANTY_REPAIR
      - WARRANTY
      - EXTENDED_SERVICE
      - RECALL_REMEDIAL
      - RECALL
      - FSA
      - CAMPAIGN
      - DIAGNOSTIC_ESTIMATE
      - PRE_DELIVERY_INSPECTION
      - UPFIT_CUSTOMIZATION
      - FLEET_COMMISSIONING
      - DECOMMISSIONING
      - VALET_COLLECTION
      - VEHICLE_PICKUP
      - ROADSIDE_ASSISTANCE
      - TOWING
      - RECOVERY
      - BODY_SHOP
      - QUICKLANE
      - GOVT
      - CUSTOMER
      - INTERNAL
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-07-30T19:24:18Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BayCapabilityTypes:
      type: string
      description: types of bay capabilitys.
      enum:
      - STANDARD_LIFT
      - HEAVY_DUTY_LIFT
      - QUICK_LUBE
      - ALIGNMENT_RACK
      - EV_DIAGNOSTIC
      - ADAS_CALIBRATION
      - DIAGNOSTIC_STATION
      - BODY_AND_FRAME
      - DETAIL_AND_WASH
      - OTHER
    BusinessContext:
      type: object
      properties:
        intent_code:
          type: string
          description: "The unique identifier code for the strategic intent (e.g.,\
            \ IMPROVE_NET_OPERATING_VALUE)."
        business_action_code:
          type: string
          description: "The unique identifier code for the specific business action\
            \ (e.g., MINIMIZE_HOLDING_COSTS)."
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
      description: "Represents the strategic lineage, intention, and operational state\
        \ accompanying an execution vector or streaming lifecycle event."
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ColorSummaries:
      type: array
      items:
        $ref: "#/components/schemas/ColorSummary"
    ColorSummary:
      type: object
      properties:
        color_summary_id:
          type: string
          description: A unique id for the color detail.
        color_summary_key:
          type: string
          description: A unique key for the color detail.
        dealer_color:
          type: string
          description: The color as designated by the dealer.
        desc_color:
          type: string
          description: A descriptive name for the color.
        color_code:
          type: string
          description: The technical code of the color
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM) name or code.
        marketing_name:
          type: string
          description: The Marketing Name of the color
        item_name:
          type: string
          description: The Marketing Name of the color
      description: "Summarys for a specific color, including dealer and OEM codes."
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    ConnectedVehicleStatusTypes:
      type: string
      description: types of connected vehicle status.
      enum:
      - CONNECTING
      - ONLINE
      - SLEEPING
      - OFFLINE
      - DISCONNECTED
      - SUSPENDED
      - DECOMMISSIONED
      - OPTED_OUT
      - PAIRING
      - DEGRADED
      - UNSUPPORTED
      - UNKNOWN
      - OTHER
    ConsentStatusTypes:
      type: string
      description: types of consent status.
      enum:
      - NOT_REQUESTED
      - REQUESTED
      - GRANTED
      - DENIED
      - WITHDRAWN
      - EXPIRED
      - OTHER
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    Customer:
      type: object
      properties:
        customer_key:
          type: string
          description: The unique key for the customer record.
        customer_id:
          type: string
          description: The unique ID for the customer.
        universal_id:
          type: string
          description: The universal ID for the customer.
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        preferred_language_code:
          type: string
          description: The customer's preferred language code.
        language_codes:
          $ref: "#/components/schemas/Codes"
        occupations:
          $ref: "#/components/schemas/Codes"
        first_time_buyer_indicator:
          type: boolean
          description: A boolean indicator for whether the customer is a first-time
            buyer.
          example: false
        identifiers:
          $ref: "#/components/schemas/Identifiers"
      description: "Represents a customer, which can be a person or an organization.\
        \ This class includes core personal information, contact methods, financial\
        \ profiles, and related resources."
    Customers:
      type: array
      items:
        $ref: "#/components/schemas/Customer"
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DealerReference:
      type: object
      properties:
        dealer_reference_key:
          type: string
          description: Unique transactional key identifying this specific reference
            instance.
        dealer_key:
          type: string
          description: A unique key referencing the parent dealer record.
        dealer_id:
          type: string
          description: The unique business ID for the referenced dealer.
        dealer_name:
          type: string
          description: The name of the dealership captured at transaction time.
        dealer_bac:
          type: string
          description: The dealer's Business Associate Code (BAC) for OEM correlation.
        franchise_code:
          type: string
          description: A business classification code for the dealership.
        business_code:
          type: string
          description: A business classification code for the dealership.
        country_code:
          type: string
          description: "The ISO country code for the dealership, used in geographic\
            \ privacy lookups."
        organization_path:
          type: string
          description: "The hierarchical organizational locator path representing\
            \ the brand, dealer, store, and department (e.g., 'ford.appointment.dealer.store34.dept45')."
          example: ford.appointment.dealer.store34.dept45
      description: A lightweight reference representation of a Dealership.
    DealerReferences:
      type: array
      items:
        $ref: "#/components/schemas/DealerReference"
    DepartmentReference:
      type: object
      properties:
        department_reference_id:
          type: string
          description: Unique identifier value
        department_reference_key:
          type: string
          description: Unique identifier value
        department_key:
          type: string
          description: Unique identifier value
        department_name:
          type: string
          description: The name of the department.
        department_type:
          $ref: "#/components/schemas/DepartmentTypes"
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        department:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-30T19:24:18Z
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
      description: External system identifier
    DepartmentTypes:
      type: string
      description: types of departments.
      enum:
      - SALES
      - USED_VEHICLES
      - F_I
      - QUICK_LUBE
      - REGULAR_INSPECTION
      - TIRE_CENTER
      - SERVICE
      - FIELD_ACTION
      - BODY_SHOP
      - ACCESSORY_INSTALL
      - ADAS_CALIBRATION
      - PDI_INSPECTION
      - RECON_DETAIL
      - PARTS
      - FLEET
      - FLEET_OPS
      - SUBLET
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-07-30T19:24:18Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-07-30T19:24:18Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
      - VEHICLE_INVOICE
      - PARTS_INVOICE
      - SERVICE_INVOICE
      - PAYMENT
      - DEPOSIT
      - REFUND
      - FEE
      - CREDIT
      - ADJUSTMENT
      - WRITE_OFF
      - CHARGEBACK
      - JOURNAL_ENTRY
      - FINANCE_CONTRACT
    FinancialEventSnapshot:
      type: object
      properties:
        financial_event_snapshot_key:
          type: string
          description: The unique ID for this generated snapshot instance.
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        general_ledger_reference:
          $ref: "#/components/schemas/GeneralLedgerReference"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        unit_cost:
          $ref: "#/components/schemas/GeneralAmount"
      description: "A real-time aggregated financial report (P&L, Balance Sheet, or\
        \ Trial Balance) generated as a view model for dashboards."
    FuelSummary:
      type: object
      properties:
        code:
          type: string
          description: The OEM or catalog fuel identifier code.
          example: "6"
        name:
          type: string
          description: The descriptive name of the fuel configuration.
          example: ICE
      description: A lightweight summary of the vehicle's fuel configuration.
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        amount:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    GeneralLedgerReference:
      type: object
      properties:
        general_ledger_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        context:
          type: string
          description: Context or domain of the reference
        system_codes:
          $ref: "#/components/schemas/Codes"
        general_ledger_identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-30T19:24:18Z
      description: External system reference
    GeographicContext:
      type: object
      properties:
        jurisdiction_codes:
          $ref: "#/components/schemas/Codes"
        geographic_hierarchy_key:
          type: string
          description: "The geographical classification defined using dot-separated\
            \ reverse DNS notation (e.g., 'global', 'eu.germany', 'us.georgia.alpharetta')."
          example: us.georgia
        consent_given:
          type: boolean
          description: Flag indicating whether user consent has been explicitly given
            for data processing.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        data_residency_requirement:
          $ref: "#/components/schemas/Codes"
        context_name:
          type: string
          description: "The human-readable profile name identifying this compliance\
            \ profile configuration (e.g., 'EU_GDPR_Strict', 'GLOBAL_DEFAULT_BASELINE')."
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: GeographicContext
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the jurisdiction profile.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the jurisdiction
            profile.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "The date and time when this jurisdiction profile was last\
            \ synchronized from the source governance, legal, policy, or compliance\
            \ system."
          format: date-time
          example: 2026-07-30T19:24:18Z
        occurrence_date_time:
          type: string
          description: "The date and time when the jurisdiction profile was observed,\
            \ created, received, updated, or became effective."
          format: date-time
          example: 2026-07-30T19:24:18Z
      description: nullable
    LifecycleEvent:
      type: object
      properties:
        lifecycle_event_id:
          type: string
          description: The unique ID for the lifecycle event.
          example: EVT-99887766
        lifecycle_event_key:
          type: string
          description: The unique external key or business identifier used in integrations.
          example: LIFECYCLE-879234
        actor:
          $ref: "#/components/schemas/ActorReference"
        lifecycle_event_type:
          $ref: "#/components/schemas/LifecycleEventTypes"
        occurrence_date:
          type: string
          description: The date and time the event occurred.
          format: date
        resource_href:
          type: string
          description: The href of the resource associated with the event.
          format: href
        resource_identifier:
          type: string
          description: The unique identifier of the resource associated with the event.
          example: RSC-88776655
        detail_name:
          type: string
          description: The name of the event detail.
          example: Order ID
        detail_desc:
          type: string
          description: A description of the event detail.
          example: The unique ID of the order being processed.
        detail_value:
          type: string
          description: The value of the event detail.
          example: ORD-44556677
        detail_key:
          type: string
          description: The unique key for the event detail.
          example: ORDER_ID
        detail_code:
          type: string
          description: The code for the event detail.
          example: ORDER_STATUS_CHANGED
        resource_types:
          $ref: "#/components/schemas/ResourceTypes"
        business_context:
          $ref: "#/components/schemas/BusinessContext"
        financial_event_snapshot:
          $ref: "#/components/schemas/FinancialEventSnapshot"
      description: Lifecycle Event
    LifecycleEventTypes:
      type: string
      description: types of lifecycle events.
      enum:
      - CREATED
      - UPDATED
      - SKIPPED
      - FULFILLED
      - DELETE_HARD
      - DELETE_SOFT
      - ACCESS_ALLOWED
      - ACCESS_DENIED
      - SUBMITTED
      - CLOSED
      - CANCELLED
      - DEAD
      - INITIALIZED
      - INITIALIZING
      - PROCESSING
      - PROCESSED
      - FAILED
      - VALIDATED
      - QUALIFIED
      - STEP_TRANSITION
      - STATUS_CHANGE
      - QUEUED
      - ACKNOWLEDGMENT
      - REJECTED
      - UNQUALIFIED
      - INCOMPLETE
      - OTHER
      - UNKNOWN
    LifecycleEvents:
      type: array
      items:
        $ref: "#/components/schemas/LifecycleEvent"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          $ref: "#/components/schemas/Memo"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-07-30T19:24:18Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
      - WARRANTY_APPROVAL
      - WARRANTY_DENIAL
      - WARRANTY_APPEAL
      - CLAIM
      - FLEET
      - TELEMETRY
      - COMPLIANCE
      - AUDIT
      - SECURITY
      - TRANSPORT
      - DELIVERY
      - INVENTORY
      - SALES
      - FINANCIAL
      - SERVICE_PLAN
      - VEHICLE_LIFECYCLE
      - OWNERSHIP
      - INSURANCE
      - LOGISTICS
      - QUALITY
      - RISK
      - CONSEQUENCE
      - AI_RECOMMENDATION
      - DECISION
      - BUSINESS_RULE
      - INTENT
      - CAPABILITY
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    Narratives:
      type: array
      items:
        $ref: "#/components/schemas/Narrative"
    PartReference:
      type: object
      properties:
        part_reference_id:
          type: string
          description: Unique identifier value
        part_reference_key:
          type: string
          description: Unique identifier value
        name:
          type: string
          description: Product Name.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_key:
          type: string
          description: Unique identifier value
        part_master_key:
          type: string
          description: Unique identifier value
        manufacturer:
          type: string
          description: Context or domain of the identifier
        context:
          type: string
          description: Context or domain of the identifier
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-30T19:24:18Z
        unit_of_measure:
          $ref: "#/components/schemas/UnitOfMeasure"
      description: External system identifier
    PartReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartReference"
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        party_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
        primary_role_name:
          maxLength: 80
          minLength: 1
          type: string
          description: The principal functional role or stakeholder classification
            assigned to the party within this domain interaction.
          example: DEALER_OPERATOR
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-30T19:24:18Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - WARRANTY_PROVIDER
      - INSURANCE_PROVIDER
      - SUBLET_PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - SCHEDULER
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - PRIMARY_TECHNICIAN
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - FLEET_MANAGER
      - TRANSPORT_PROVIDER
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - PRIMARY_CUSTOMER
      - PRIMARY_DRIVER
      - PRIMARY_OWNER
      - VEHICLE_OWNER
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - PRIMARY_CONTACT
      - APPROVER
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
      - SHIP_TO
      - SOLD_TO
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        professional_title:
          type: string
          description: "Professional Title like Senator, Principal, Nurse"
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
        person_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        person_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
      description: a Name for a person
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    PowertrainTypes:
      type: string
      description: types of powertrains.
      enum:
      - BEV
      - FCEV
      - HEV
      - ICE
      - MHEV
      - OTHER
      - PHEV
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyConsent:
      type: object
      properties:
        privacy_consent_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The persistent identifier representing the canonical privacy
            consent entry.
          example: PCT-883011
        privacy_consent_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable key for the privacy consent record.
          example: PCK-00044122
        consent_status_type:
          $ref: "#/components/schemas/ConsentStatusTypes"
        regulatory_framework_type:
          $ref: "#/components/schemas/RegulatoryFrameworkTypes"
        telemetry_data_consent_indicator:
          type: boolean
          description: "Indicates whether consent is granted for streaming vehicle\
            \ telemetry, diagnostics, and sensor data."
          example: true
        location_data_consent_indicator:
          type: boolean
          description: Indicates whether explicit consent is granted for collecting
            and sharing real-time spatial/GPS location data.
          example: false
        biometric_data_consent_indicator:
          type: boolean
          description: "Indicates whether consent is granted for in-cabin driver monitoring,\
            \ facial recognition, or biometric processing."
          example: false
        third_party_sharing_consent_indicator:
          type: boolean
          description: "Indicates whether consent allows data distribution to external\
            \ partners, insurance carriers, or OEMs."
          example: true
        marketing_consent_indicator:
          type: boolean
          description: Indicates whether consent is granted to utilize vehicle usage
            metrics for personalized marketing and offers.
          example: false
        consenting_party_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The enterprise party reference key representing the legal entity
            or driver who executed the consent.
          example: PRT-992011
        consent_version:
          maxLength: 30
          minLength: 1
          type: string
          description: The specific legal privacy policy version or terms of service
            agreement accepted by the party.
          example: v2026.1.0
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        granted_date_time:
          type: string
          description: The timestamp documenting when privacy consent was formally
            executed.
          format: date-time
          example: 2026-07-30T19:24:18Z
        revoked_date_time:
          type: string
          description: The timestamp documenting when privacy consent was explicitly
            revoked or opted out.
          format: date-time
          example: 2026-07-30T19:24:18Z
        consent_codes:
          $ref: "#/components/schemas/Codes"
      description: privacy.consent.desc
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    ProductTypes:
      type: string
      description: types of products.
      enum:
      - VEHICLE
      - INFORMATION
      - DURABLE_GOODS
      - SOFTWARE
      - APP
      - INSURANCE
      - FINANCE
      - SERVICE
      - PART
      - ACCESSORY
      - F_N_I_PRODUCT
      - SERVICE_PACKAGE
      - DEALER_PRODUCT
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - OTHER
    RegulatoryFrameworkTypes:
      type: string
      description: types of regulatory frameworks.
      enum:
      - GDPR
      - CCPA
      - CPRA
      - HIPAA
      - PCI_DSS
      - LGPD
      - OTHER
    ResourceTypes:
      type: string
      description: types of resources.
      enum:
      - SYSTEM
      - WORKFLOW
      - ACTIVITY
      - FUNCTION
      - PROCESS
      - INCIDENT
      - PARTY
      - CUSTOMER
      - APPLICANT
      - VENDOR
      - DEALER_STAFF
      - DRIVER
      - ADDRESS
      - BILL_ADDRESS
      - BILL_CONTACT
      - COMM_CHANNEL
      - ACCOUNT
      - VEHICLE
      - TRADE_IN
      - PRODUCT
      - MANUFACTURER
      - LEAD
      - OPPORTUNITY
      - DEAL
      - FINANCE
      - INVOICE
      - LINEITEM
      - EXPENSE
      - DISCOUNT
      - TAX
      - FEE
      - INCENTIVE
      - DEALERSHIP
      - PART
      - ACCESSORIES
      - PURCHASE_ORDER
      - VEHICLE_OPTION
      - RENTAL
      - SUBSCRIPTION
      - INSURANCE
      - WARRANTY
      - SERVICE
      - VEHICLE_INVOICE
      - PART_INVOICE
      - SERVICE_INVOICE
      - APPOINTMENT
      - OTHER
    ServiceAppointmentReference:
      type: object
      properties:
        service_appointment_reference_key:
          type: string
          description: A unique key for the appointment record.
        service_appointment_reference_id:
          type: string
          description: A unique key for the appointment record.
        service_appointment_key:
          type: string
          description: A unique key for the appointment record.
        locale:
          $ref: "#/components/schemas/Locale"
        service_appointment_events:
          $ref: "#/components/schemas/LifecycleEvents"
        geographic_context:
          $ref: "#/components/schemas/GeographicContext"
        appointment_channel_type:
          $ref: "#/components/schemas/AppointmentChannelTypes"
        appointment_source_code:
          type: string
          description: The source code for the appointment.
        appointment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        appointment_status_type:
          $ref: "#/components/schemas/AppointmentStatusTypes"
        appointment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AppointmentTypes"
        narratives:
          $ref: "#/components/schemas/Narratives"
        occurrence_date_time:
          type: string
          description: The date and time the appointment occurred.
          format: date-time
          example: 2026-07-30T19:24:18Z
        time_slots:
          $ref: "#/components/schemas/TimeSlots"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        service_request_keys:
          $ref: "#/components/schemas/Codes"
        service_order_keys:
          $ref: "#/components/schemas/Codes"
        transport_events:
          $ref: "#/components/schemas/TransportEvents"
        vehicle_asset:
          $ref: "#/components/schemas/VehicleAsset"
        appointment_locations:
          $ref: "#/components/schemas/AppointmentLocations"
        dealer_references:
          $ref: "#/components/schemas/DealerReferences"
        customers:
          $ref: "#/components/schemas/Customers"
        dealer_staff_preferences:
          $ref: "#/components/schemas/PartyReferences"
        assigned_dealer_staff:
          $ref: "#/components/schemas/PartyReferences"
        appointment_source_type:
          $ref: "#/components/schemas/AppointmentSourceTypes"
        repair_order_keys:
          $ref: "#/components/schemas/Codes"
      description: A single appointment record.
    ServiceAppointmentReferenceCreate:
      required:
      - service_appointment_reference_key
      type: object
      description: ServiceAppointmentReference Create for Post
      allOf:
      - $ref: "#/components/schemas/ServiceAppointmentReference"
    ServiceAppointmentReferenceUpdate:
      type: object
      properties:
        service_appointment_events:
          $ref: "#/components/schemas/LifecycleEvents"
        service_order_keys:
          $ref: "#/components/schemas/Codes"
        appointment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AppointmentTypes"
        narratives:
          $ref: "#/components/schemas/Narratives"
        geographic_context:
          $ref: "#/components/schemas/GeographicContext"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        service_request_keys:
          $ref: "#/components/schemas/Codes"
        vehicle_asset:
          $ref: "#/components/schemas/VehicleAsset"
        locale:
          $ref: "#/components/schemas/Locale"
        appointment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        appointment_source_code:
          type: string
          description: The source code for the appointment.
        appointment_locations:
          $ref: "#/components/schemas/AppointmentLocations"
        time_slots:
          $ref: "#/components/schemas/TimeSlots"
        dealer_staff_preferences:
          $ref: "#/components/schemas/PartyReferences"
        appointment_status_type:
          $ref: "#/components/schemas/AppointmentStatusTypes"
        repair_order_keys:
          $ref: "#/components/schemas/Codes"
        appointment_channel_type:
          $ref: "#/components/schemas/AppointmentChannelTypes"
        appointment_source_type:
          $ref: "#/components/schemas/AppointmentSourceTypes"
        customers:
          $ref: "#/components/schemas/Customers"
        occurrence_date_time:
          type: string
          description: The date and time the appointment occurred.
          format: date-time
          example: 2026-07-30T19:24:18Z
        dealer_references:
          $ref: "#/components/schemas/DealerReferences"
        assigned_dealer_staff:
          $ref: "#/components/schemas/PartyReferences"
        transport_events:
          $ref: "#/components/schemas/TransportEvents"
      description: ServiceAppointmentReference Update for Patch and Put
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - DEALER_PRINCIPAL
      - GENERAL_MANAGER
      - GENERAL_SALES_MANAGER
      - SALES_MANAGER
      - SALES_PERSON
      - BUSINESS_DEVELOPMENT_REPRESENTATIVE
      - CUSTOMER_SERVICE_REPRESENTATIVE
      - RECEPTIONIST
      - FINANCE_AND_INSURANCE_MANAGER
      - BUSINESS_MANAGER
      - CLOSING_MANAGER
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - WARRANTY_ADMINISTRATOR
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - PARTS_SPECIALIST
      - INVENTORY_MANAGER
      - FLEET_MANAGER
      - DETAIL_MANAGER
      - DETAIL_TECHNICIAN
      - ACCOUNTING_MANAGER
      - CONTROLLER
      - TITLE_CLERK
      - OFFICE_MANAGER
      - MARKETING_MANAGER
      - OTHER
    TimeSlot:
      type: object
      properties:
        time_slot_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key for the specific time slot instance.
          example: TS-KEY-99281A
        end_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        end_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        recurring_indicator:
          type: boolean
          description: Indicates whether the time slot repeats on a recurring cycle.
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        start_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        start_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        time_slot_id:
          maxLength: 36
          minLength: 1
          type: string
          description: The business identifier or code assigned to this generic time
            block configuration.
          example: MORNING_SHIFT_01
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          format: date
          items:
            type: string
        timeslot_status_type:
          $ref: "#/components/schemas/TimeSlotStatusTypes"
      description: Range of time for the appointment
    TimeSlotStatusTypes:
      type: string
      description: types of time slot status.
      enum:
      - TENTATIVE
      - RESERVED
      - CONFIRMED
      - RELEASED
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - EXACT
      - FLEXIBLE
      - PREFERRED
      - REQUIRED
      - RESTRICTED
      - OTHER
      - UNKNOWN
    TransmissionSummary:
      type: object
      properties:
        code:
          type: string
          description: The OEM or catalog transmission identifier code.
          example: "6"
        name:
          type: string
          description: The descriptive name of the transmission configuration.
          example: 6-Speed Automatic
      description: A lightweight summary of the vehicle's transmission configuration.
    TransportEvent:
      type: object
      properties:
        transport_event_key:
          type: string
          description: transport.event.transport.event.key.desc
        transport_event_id:
          type: string
          description: transport.event.transport.event.id.desc
        origin_address:
          $ref: "#/components/schemas/AddressReference"
        destination_address:
          $ref: "#/components/schemas/AddressReference"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        appointment_key:
          type: string
          description: transport.event.appointment.key.desc
        confirmation_code:
          type: string
          description: transport.event.confirmation.code.desc
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        transport_advisor:
          $ref: "#/components/schemas/PartyReference"
        party_comments:
          $ref: "#/components/schemas/Memo"
        dealership_comments:
          $ref: "#/components/schemas/Memo"
        occurrence_date_time:
          type: string
          description: transport.event.occurrence.date.time.desc
          format: date-time
          example: 2026-07-30T19:24:18Z
        transport_event_type:
          $ref: "#/components/schemas/TransportEventTypes"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        part_references:
          $ref: "#/components/schemas/PartReferences"
        actor:
          $ref: "#/components/schemas/ActorReference"
      description: TransportEvent
    TransportEventTypes:
      type: string
      description: types of transport events.
      enum:
      - PICK_UP
      - DROP_OFF
      - SHUTTLE
      - COURTESY
      - LOANER
      - RENTAL
      - RIDE_SHARE
      - TAXI
      - VALET
      - FLAT_BED
      - WAIT_AT_DEALER
      - TOW_LINE
      - FLEET_CONVOY
      - THIRD_PARTY_CARRIER
      - MOBILE
    TransportEvents:
      type: array
      items:
        $ref: "#/components/schemas/TransportEvent"
    UnitOfMeasure:
      type: object
      properties:
        unit_of_measure_key:
          type: string
          description: Unit of Measure Value
        unit_name:
          type: string
          description: Unit of Measure
        uom_value:
          maxLength: 100
          minLength: 1
          type: string
          description: Unit of Measure Value
        uom_quantity_category_type:
          $ref: "#/components/schemas/UomQuantityCategoryTypes"
      description: value price with unit of measure
    UomQuantityCategoryTypes:
      type: string
      description: types of uom quantity categorys.
      enum:
      - COUNT
      - WEIGHT
      - VOLUME
      - TIME
      - NET_WEIGHT
      - NET_VOLUME
      - PACKAGE_QUANTITY
      - MIN_ORDER_QUANTITY
      - GROSS_WEIGHT
      - GROSS_VOLUME
      - SHIPPING_WEIGHT
      - DIMENSIONAL_WEIGHT
      - MATERIAL
      - ELECTRICAL_RATING
      - DEFAULT_LEAD_TIME
      - MAX_LEAD_TIME
      - DIMENSION_UNIT
      - MIN_LENGTH
      - MAX_LENGTH
      - MIN_WIDTH
      - MAX_WIDTH
      - MIN_HEIGHT
      - MAX_HEIGHT
      - MIN_WEIGHT
      - MAX_WEIGHT
      - MAX_ORDER_QUANTITY
      - MIN_ORDER_AVAILABLE
      - DIMENSIONS
      - SHIPPING_DIM_LENGTH
      - SHIPPING_DIM_WIDTH
      - SHIPPING_DIM_HEIGHT
      - SHIPPING_DIM_GROSS_WEIGHT
      - SHIPPING_DIM_NET_WEIGHT
      - SHELF_LIFE_HOURS
      - EXPIRATION_DATE
      - MIN_PAYMENT_PERCENT
      - MIN_PAYMENT_AMOUNT
    VehicleAsset:
      type: object
      properties:
        vehicle_asset_id:
          type: string
          description: The persistent identifier representing the canonical enterprise
            vehicle asset.
          example: AST-902811
        vehicle_asset_key:
          type: string
          description: The immutable aggregate root key for the enterprise vehicle
            asset.
          example: VAK-00092188
        vehicle_identifier_key:
          type: string
          description: The canonical vehicle identity anchor key linking this operational
            asset to the enterprise identity registry.
          example: VID-00088211
        vehicle_reference:
          $ref: "#/components/schemas/VehicleReference"
        asset_status_type:
          $ref: "#/components/schemas/VehicleStatusTypes"
        telemetry_opt_in_indicator:
          type: boolean
          description: Indicates whether the asset active operational state permits
            connected-car telematics and streaming data ingest.
          example: true
        location_sharing_indicator:
          type: boolean
          description: Indicates whether realtime GPS and location privacy rules allow
            location transmission.
          example: false
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        privacy_consent:
          $ref: "#/components/schemas/PrivacyConsent"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        commission_date_time:
          type: string
          description: The timestamp when the vehicle asset was formally commissioned
            into service.
          format: date-time
          example: 2026-07-30T19:24:18Z
        decommission_date_time:
          type: string
          description: The timestamp when the vehicle asset was decommissioned or
            retired.
          format: date-time
          example: 2026-07-30T19:24:18Z
        asset_codes:
          $ref: "#/components/schemas/Codes"
      description: vehicle.asset.desc
    VehicleIdentifier:
      type: object
      properties:
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable aggregate root identifier representing the canonical
            enterprise vehicle identity anchor.
          example: VID-00088211
        vehicle_identifier_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent identifier representing the canonical vehicle
            identity registry entry.
          example: VEH-ID-993211
        vin:
          maxLength: 17
          minLength: 11
          type: string
          description: The globally recognized vehicle identification number representing
            the physical vehicle identity.
          example: 1FT8W3BT6SEC12345
        vehicle_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The enterprise or platform-specific internal identifier associated
            with the canonical vehicle identity.
          example: VEH-882199
        stock_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer or inventory stock number associated
            with the vehicle identity.
          example: F12345
        fleet_vehicle_key:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer or inventory stock number associated
            with the vehicle identity.
          example: F12345
        license:
          $ref: "#/components/schemas/VehicleLicense"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        primary_make:
          maxLength: 80
          minLength: 1
          type: string
          description: The canonical manufacturer brand associated with the vehicle
            identity.
          example: Ford
        primary_model:
          maxLength: 120
          minLength: 1
          type: string
          description: The canonical OEM model associated with the vehicle identity.
          example: F-350 Super Duty
        model_year:
          maxLength: 4
          minLength: 1
          type: string
          description: The canonical OEM model year associated with the vehicle identity.
          example: "2026"
        identity_confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: The calculated confidence score representing the trust level
            of identity resolution and cross-system vehicle matching.
          example: "98.7"
        active_indicator:
          type: boolean
          description: Indicates whether the canonical vehicle identity remains active
            and valid within the enterprise registry.
          example: true
        vehicle_key:
          type: string
          description: The lightweight canonical reference linking the identity anchor
            to the authoritative normalized vehicle profile.
        vehicle_summary:
          $ref: "#/components/schemas/VehicleSummary"
      description: Vehicle Identifier
    VehicleLicense:
      type: object
      properties:
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        jurisdiction_name:
          type: string
          description: The name of the license jurisdiction.
        country_code:
          type: string
          description: The country code for the license.
        plate_number:
          type: string
          description: The license plate number.
        vehicle_license_key:
          type: string
          description: A unique identifier for the vehicle license record.
      description: License for vehicle
    VehicleReference:
      type: object
      properties:
        vehicle_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique lightweight reference key representing the denormalized
            vehicle projection used across bounded contexts.
          example: VREF-882211
        vehicle_reference_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique identifier for the lightweight denormalized vehicle
            reference projection.
          example: VR-993821
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical enterprise vehicle identity anchor associated
            with this denormalized vehicle reference.
          example: VID-00088211
        vin:
          maxLength: 17
          minLength: 11
          type: string
          description: The Vehicle Identification Number (VIN) associated with the
            vehicle reference.
          example: 1FT8W3BT6SEC12345
        model_year:
          maxLength: 4
          minLength: 1
          type: string
          description: The OEM model year associated with the vehicle reference projection.
          example: "2026"
        make:
          maxLength: 80
          minLength: 1
          type: string
          description: The manufacturer brand associated with the vehicle reference
            projection.
          example: Ford
        model:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM model associated with the vehicle reference projection.
          example: F-350 Super Duty
        trim:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM trim designation associated with the vehicle reference
            projection.
          example: Lariat
        display_name:
          maxLength: 200
          minLength: 1
          type: string
          description: "The human-readable formatted vehicle display name used for\
            \ search results, dashboards, and UI rendering."
          example: 2026 Ford F-350 Super Duty Lariat
        stock_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer or inventory stock number associated
            with the vehicle reference.
          example: F12345
        license_plate:
          maxLength: 20
          minLength: 1
          type: string
          description: The latest known government-issued vehicle license plate associated
            with the vehicle reference.
          example: ABC1234
        dealer_code:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer organization code associated with the
            vehicle reference.
          example: ATL-001
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        tags:
          $ref: "#/components/schemas/Codes"
        body_style:
          maxLength: 100
          minLength: 1
          type: string
          description: The baseline layout style design of the chassis structure shell.
          example: Crew Cab Pickup
      description: Vehicle Detail Create Information
    VehicleStatusTypes:
      type: string
      description: types of vehicle status.
      enum:
      - PENDING_RESERVED
      - RESERVED
      - ACTIVE
      - SOLD
      - RECALL
      - PROPOSED
      - PENDING_ACQUISITION
      - IN_RECEIVING
      - IN_STOCK
      - IN_SERVICE
      - UNDER_MAINTENANCE
      - RETIRED
      - DISPOSED
      - LOST_STOLEN
      - OTHER
    VehicleSummary:
      type: object
      properties:
        vehicle_summary_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable aggregate root identifier representing the canonical
            enterprise vehicle identity anchor.
          example: VID-00088211
        vehicle_summary_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent identifier representing the canonical vehicle
            identity registry entry.
          example: VEH-ID-993211
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        nicknames:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
        makes:
          $ref: "#/components/schemas/Codes"
        models:
          $ref: "#/components/schemas/Codes"
        engine:
          type: string
          description: vehicle.summary.engine.desc
        transmission:
          $ref: "#/components/schemas/TransmissionSummary"
        power_train_type:
          $ref: "#/components/schemas/PowertrainTypes"
        colors:
          $ref: "#/components/schemas/ColorSummaries"
        fuel_summary:
          $ref: "#/components/schemas/FuelSummary"
        body_style:
          maxLength: 100
          minLength: 1
          type: string
          description: The baseline layout style design of the chassis structure shell.
          example: Crew Cab Pickup
        vehicle_description:
          $ref: "#/components/schemas/Memo"
        vehicle_notes:
          $ref: "#/components/schemas/Narratives"
        connected_vehicle_status_type:
          $ref: "#/components/schemas/ConnectedVehicleStatusTypes"
      description: Vehicle Identifier
