openapi: 3.0.1
info:
  title: Automotive Retail Systems API - ConnectedVehicle
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-24T01:33:38Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    AlertStatusTypes:
      type: string
      description: types of alert status.
      enum:
      - ACTIVE
      - ACKNOWLEDGED
      - IN_PROGRESS
      - RESOLVED
      - CLOSED
      - EXPIRED
      - CANCELLED
      - UNKNOWN
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ConnectedVehicle:
      type: object
      properties:
        connected_vehicle_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable aggregate root identifier representing the connected
            vehicle digital twin.
          example: CV-998211
        connected_vehicle_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The external or source-system identifier for the connected
            vehicle digital twin.
          example: CV-2026-000448
        vehicle_reference:
          $ref: "#/components/schemas/VehicleReference"
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical vehicle identity anchor key used to associate
            this aggregate with the enterprise vehicle identity registry.
          example: VID-00088211
        identity_anchor_key:
          maxLength: 80
          minLength: 1
          type: string
          description: The immutable identity anchor linking connected services to
            the enterprise vehicle identity.
          example: VIN-1FT8W3BT6SEC12345
        connected_platform_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external OEM or telematics platform identifier associated
            with the connected vehicle ecosystem.
          example: FORDPASS-883991
        connected_provider:
          maxLength: 80
          minLength: 1
          type: string
          description: "The OEM, telematics, or third-party provider responsible for\
            \ connected vehicle data delivery."
          example: FordPass
        connected_status_type:
          $ref: "#/components/schemas/ConnectedVehicleStatusTypes"
        last_heartbeat_date_time:
          type: string
          description: The timestamp documenting the most recent successful communication
            received from the connected vehicle.
          format: date-time
          example: 2026-07-24T01:33:38Z
        current_odometer:
          $ref: "#/components/schemas/MetricValue"
        current_position:
          $ref: "#/components/schemas/Position"
        vehicle_signal_states:
          $ref: "#/components/schemas/VehicleSignalStates"
        fuel_level:
          $ref: "#/components/schemas/MetricValue"
        battery_state_of_charge:
          $ref: "#/components/schemas/MetricValue"
        ignition_status_type:
          $ref: "#/components/schemas/IgnitionStatusTypes"
        connected_alerts:
          $ref: "#/components/schemas/ConnectedVehicleAlerts"
        latest_telemetry_event_reference:
          $ref: "#/components/schemas/VehicleTelemetryEventReference"
        remote_start_status_type:
          $ref: "#/components/schemas/RemoteStartStatusTypes"
        software_version:
          maxLength: 80
          minLength: 1
          type: string
          description: The currently installed connected vehicle software or firmware
            version.
          example: SYNC-6.2.1
        over_the_air_update_status_type:
          $ref: "#/components/schemas/OverTheAirUpdateStatusTypes"
        connected_subscriptions:
          $ref: "#/components/schemas/SubscriptionReferences"
        data_sharing_consent_indicator:
          type: boolean
          description: Indicates whether the vehicle owner or controlling party has
            authorized connected vehicle data sharing.
          example: true
        privacy_codes:
          $ref: "#/components/schemas/Codes"
        governance_codes:
          $ref: "#/components/schemas/Codes"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: The source system that supplied or last synchronized the connected
            vehicle digital twin.
          example: FORDPASS
        last_updated_date_time:
          type: string
          description: The date and time when the connected vehicle digital twin was
            last updated.
          format: date-time
          example: 2026-07-24T01:33:38Z
        connected_notes:
          maxLength: 4000
          minLength: 1
          type: string
          description: "Operational remarks documenting connected vehicle provisioning,\
            \ telemetry synchronization, device onboarding, or platform integration\
            \ issues."
          example: Telematics gateway reprovisioned after battery replacement.
      description: Connected vehicle digital twin representing the latest known operational
        state of a vehicle.
    ConnectedVehicleAlerts:
      type: array
      items:
        $ref: "#/components/schemas/VehicleAlert"
    ConnectedVehicleStatusTypes:
      type: string
      description: types of connected vehicle status.
      enum:
      - CONNECTING
      - ONLINE
      - SLEEPING
      - OFFLINE
      - DISCONNECTED
      - SUSPENDED
      - DECOMMISSIONED
      - OPTED_OUT
      - PAIRING
      - DEGRADED
      - UNSUPPORTED
      - UNKNOWN
      - OTHER
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      enum:
      - ONE_TIME
      - RECUR
      - MINUTES
      - HOURLY
      - DAILY
      - WEEKLY
      - BI_WEEKLY
      - SEMI_MONTHLY
      - MONTHLY
      - QUARTERLY
      - SEMI_YEAR
      - YEARLY
      - MULTI_YEAR
      - LIFETIME
      - CUSTOM
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-07-24T01:33:38Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-07-24T01:33:38Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    IgnitionStatusTypes:
      type: string
      description: types of ignition status.
      enum:
      - "OFF"
      - ACCESSORY
      - "ON"
      - STARTING
      - REMOTE_START
      - UNKNOWN
      - OTHER
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the jurisdiction profile.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the jurisdiction
            profile.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "The date and time when this jurisdiction profile was last\
            \ synchronized from the source governance, legal, policy, or compliance\
            \ system."
          format: date-time
          example: 2026-07-24T01:33:38Z
        occurrence_date_time:
          type: string
          description: "The date and time when the jurisdiction profile was observed,\
            \ created, received, updated, or became effective."
          format: date-time
          example: 2026-07-24T01:33:38Z
      description: nullable
    List:
      type: array
      items:
        type: string
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          $ref: "#/components/schemas/Memo"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-07-24T01:33:38Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
      - WARRANTY_APPROVAL
      - WARRANTY_DENIAL
      - WARRANTY_APPEAL
      - CLAIM
      - FLEET
      - TELEMETRY
      - COMPLIANCE
      - AUDIT
      - SECURITY
      - TRANSPORT
      - DELIVERY
      - INVENTORY
      - SALES
      - FINANCIAL
      - SERVICE_PLAN
      - VEHICLE_LIFECYCLE
      - OWNERSHIP
      - INSURANCE
      - LOGISTICS
      - QUALITY
      - RISK
      - CONSEQUENCE
      - AI_RECOMMENDATION
      - DECISION
      - BUSINESS_RULE
      - INTENT
      - CAPABILITY
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    OverTheAirUpdateStatusTypes:
      type: string
      description: types of over the air update status.
      enum:
      - UPDATE_AVAILABLE
      - DOWNLOADING
      - READY_TO_INSTALL
      - INSTALLING
      - REBOOTING
      - COMPLETED
      - UP_TO_DATE
      - FAILED
      - ROLLED_BACK
      - SUSPENDED
      - SCHEDULED
      - UNKNOWN
      - OTHER
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    PriorityTypes:
      type: string
      description: types of prioritys.
      enum:
      - LOW
      - NORMAL
      - HIGH
      - CRITICAL
      - EMERGENCY
      - UNKNOWN
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    RemoteStartStatusTypes:
      type: string
      description: types of remote start status.
      enum:
      - INACTIVE
      - STARTING
      - RUNNING
      - STOPPING
      - EXPIRED
      - FAILED
      - CANCELLED
      - UNKNOWN
      - OTHER
    SensorStatusTypes:
      type: string
      description: types of sensor status.
      enum:
      - NORMAL
      - LOW
      - HIGH
      - CRITICAL
      - SENSOR_FAILURE
      - NOT_AVAILABLE
      - UNKNOWN
      - OTHER
    SeverityTypes:
      type: string
      description: types of severitys.
      enum:
      - TRACE
      - DEBUG
      - NOTICE
      - INFO
      - LOW
      - MEDIUM
      - EMERGENCY
      - HIGH
      - CRITICAL
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - DEALER_PRINCIPAL
      - GENERAL_MANAGER
      - GENERAL_SALES_MANAGER
      - SALES_MANAGER
      - SALES_PERSON
      - BUSINESS_DEVELOPMENT_REPRESENTATIVE
      - CUSTOMER_SERVICE_REPRESENTATIVE
      - RECEPTIONIST
      - FINANCE_AND_INSURANCE_MANAGER
      - BUSINESS_MANAGER
      - CLOSING_MANAGER
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - WARRANTY_ADMINISTRATOR
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - PARTS_SPECIALIST
      - INVENTORY_MANAGER
      - FLEET_MANAGER
      - DETAIL_MANAGER
      - DETAIL_TECHNICIAN
      - ACCOUNTING_MANAGER
      - CONTROLLER
      - TITLE_CLERK
      - OFFICE_MANAGER
      - MARKETING_MANAGER
      - OTHER
    SubscriptionReference:
      type: object
      properties:
        subscription_reference_id:
          type: string
          description: Unique identifier value
        subscription_display_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display name associated with the subscription
            reference.
          example: FordPass Premium Connectivity
        subscription_status:
          maxLength: 40
          minLength: 1
          type: string
          description: The current operational or billing lifecycle status associated
            with the subscription reference.
          example: ACTIVE
        provider_name:
          maxLength: 120
          minLength: 1
          type: string
          description: "The organization, OEM, carrier, or platform provider responsible\
            \ for the subscription service."
          example: FordPass
        plan_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The commercial or operational subscription plan name associated
            with the subscription reference.
          example: Premium Remote Access
        subscription_reference_key:
          type: string
          description: Unique identifier value
        subscription_key:
          type: string
          description: Unique identifier value
        locale:
          $ref: "#/components/schemas/Locale"
        subscription_code:
          type: string
          description: Context or domain of the identifier
        source_system_code:
          type: string
          description: Context or domain of the identifier
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        charge_type:
          $ref: "#/components/schemas/DurationIntervalTypes"
        context:
          type: string
          description: Context or domain of the identifier
        account_number:
          type: string
          description: Account Number
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T01:33:38Z
        sequence_total:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        sequence_number:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
      description: External system identifier
    SubscriptionReferences:
      type: array
      items:
        $ref: "#/components/schemas/SubscriptionReference"
    TelemetryEventTypes:
      type: string
      description: types of telemetry events.
      enum:
      - ENGINE_STARTED
      - ENGINE_STOPPED
      - ENGINE_RPM_EXCEEDED
      - COOLANT_TEMPERATURE_HIGH
      - OIL_PRESSURE_LOW
      - TRANSMISSION_FLUID_TEMP_HIGH
      - DTC_SET
      - DTC_CLEARED
      - CHECK_ENGINE_LIGHT_ON
      - CHECK_ENGINE_LIGHT_OFF
      - ECU_FIRMWARE_UPDATED
      - FREEZE_FRAME_CAPTURED
      - PENDING_DTC_SET
      - TELEMETRY_HEALTH_CHECK_FAILED
      - SERVICE_FACILITY_ARRIVED
      - SERVICE_BAY_ENTERED
      - SERVICE_BAY_EXITED
      - ON_DEMAND_DIAGNOSTIC_REQUESTED
      - ON_DEMAND_DIAGNOSTIC_COMPLETED
      - ON_DEMAND_DIAGNOSTIC_FAILED
      - SERVICE_DUE_WARNING
      - OIL_LIFE_THRESHOLD_REACHED
      - BRAKE_PAD_WEAR_WARNING
      - INSPECTION_OVERDUE
      - DEF_LEVEL_LOW
      - MAINTENANCE_RESET_PERFORMED
      - HARSH_ACCELERATION
      - HARSH_BRAKING
      - HARSH_CORNERING
      - SPEEDING_STARTED
      - SPEEDING_ENDED
      - SEATBELT_UNBUCKLED
      - GEOFENCE_ENTERED
      - GEOFENCE_EXITED
      - LOCATION_PULSE
      - IDLE_STARTED
      - IDLE_ENDED
      - BATTERY_STATE_OF_CHARGE_LOW
      - EV_CHARGING_STARTED
      - EV_CHARGING_COMPLETED
      - EV_CHARGING_INTERRUPTED
      - CRASH_DETECTED
      - IMPACT_PARKED
      - DOOR_UNLOCKED_REMOTE
      - PANIC_ALARM_TRIGGERED
      - TIRE_PRESSURE_LOW
      - VEHICLE_STAGING_ENTERED
      - DIAGNOSTIC_TOOL_CONNECTED
      - VEHICLE_HOIST_ENGAGED
      - VALET_MODE_ACTIVATED
      - SERVICE_LANE_DRIVE_IN
      - WALKAROUND_INSPECTION_COMPLETED
      - ROAD_TEST_STARTED
      - ROAD_TEST_COMPLETED
      - QUALITY_CONTROL_APPROVED
      - READY_FOR_PICKUP_STAGED
      - CUSTOMER_PICKUP_DEPARTED
    VehicleAlert:
      type: object
      properties:
        vehicle_alert_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique identifier representing the connected vehicle alert
            event.
          example: ALERT-882211
        alert_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated alert identifier.
          example: FORDPASS-ALERT-9982
        telemetry_event_reference:
          $ref: "#/components/schemas/VehicleTelemetryEventReference"
        vehicle_reference:
          $ref: "#/components/schemas/VehicleReference"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system that created, supplied, or last synchronized\
            \ the vehicle ledger."
          example: VEHICLE_HISTORY_PROVIDER
        source_alert_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system that created, supplied, or last synchronized\
            \ the vehicle ledger."
          example: VEHICLE_HISTORY_PROVIDER
        source_record_key:
          maxLength: 100
          minLength: 1
          type: string
          description: The source-system record key or event key used to trace the
            logistics event back to its origin.
          example: OEM-EVT-77821
        vehicle_event_category_type:
          $ref: "#/components/schemas/VehicleEventCategoryTypes"
        alert_severity:
          $ref: "#/components/schemas/SeverityTypes"
        alert_status_type:
          $ref: "#/components/schemas/AlertStatusTypes"
        alert_message:
          maxLength: 2000
          minLength: 1
          type: string
          description: The human-readable connected vehicle alert description.
          example: Front left tire pressure below threshold.
        occurrence_date_time:
          type: string
          description: vehicle.alert.occurrence.date.time.desc
          format: date-time
          example: 2026-07-24T01:33:38Z
        position:
          $ref: "#/components/schemas/Position"
        odometer:
          $ref: "#/components/schemas/MetricValue"
        resolved_indicator:
          type: boolean
          description: Indicates whether the connected vehicle alert has been resolved.
          example: true
        resolved_date_time:
          type: string
          description: The date and time when the connected vehicle alert was resolved.
          format: date-time
          example: 2026-07-24T01:33:38Z
        resolution_description:
          $ref: "#/components/schemas/Narrative"
        resolution_code:
          $ref: "#/components/schemas/Code"
        expiration_date_time:
          type: string
          description: The date and time when the connected vehicle alert automatically
            expires if no longer applicable.
          format: date-time
          example: 2026-07-24T01:33:38Z
        alert_priority_type:
          $ref: "#/components/schemas/PriorityTypes"
        governance_codes:
          $ref: "#/components/schemas/Codes"
        privacy_codes:
          $ref: "#/components/schemas/Codes"
        correlation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: "The correlation identifier used to associate related alerts,\
            \ telemetry events, and business processes."
          example: CORR-882211
        confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: The confidence score assigned by the originating system indicating
            the likelihood that the alert accurately represents the reported condition.
          example: "0.997"
        event_hash:
          maxLength: 256
          minLength: 1
          type: string
          description: The immutable hash used to verify the integrity and authenticity
            of the connected vehicle alert.
          example: SHA256:7f3d4c8a9b1e...
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: Connected Vehicle Alert
    VehicleEventCategoryTypes:
      type: string
      description: types of vehicle event categorys.
      enum:
      - DOCUMENT_LIFECYCLE
      - OWNERSHIP
      - DAMAGE
      - SERVICE
      - ODOMETER
      - USAGE
      - INSURANCE
      - MANUFACTURING
      - INVENTORY
      - LOGISTICS
      - CONNECTIVITY
      - MOBILITY
      - SAFETY
      - POWERTRAIN
      - DIAGNOSTICS
      - COMPLIANCE
      - LEGAL
      - FINANCIAL
      - CUSTOMER
      - REMOTE_OPERATIONS
      - SOFTWARE
      - GEOFENCING
      - SECURITY
      - REPUTATION
      - PARTNER
      - ENTERPRISE
      - PUBLIC
      - LOCATION
      - ELECTRICAL
      - CHASSIS
      - MAINTENANCE
      - OTHER
    VehicleReference:
      type: object
      properties:
        vehicle_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique lightweight reference key representing the denormalized
            vehicle projection used across bounded contexts.
          example: VREF-882211
        vehicle_reference_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique identifier for the lightweight denormalized vehicle
            reference projection.
          example: VR-993821
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical enterprise vehicle identity anchor associated
            with this denormalized vehicle reference.
          example: VID-00088211
        vin:
          maxLength: 17
          minLength: 11
          type: string
          description: The Vehicle Identification Number (VIN) associated with the
            vehicle reference.
          example: 1FT8W3BT6SEC12345
        model_year:
          maxLength: 4
          minLength: 1
          type: string
          description: The OEM model year associated with the vehicle reference projection.
          example: "2026"
        make:
          maxLength: 80
          minLength: 1
          type: string
          description: The manufacturer brand associated with the vehicle reference
            projection.
          example: Ford
        model:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM model associated with the vehicle reference projection.
          example: F-350 Super Duty
        trim:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM trim designation associated with the vehicle reference
            projection.
          example: Lariat
        display_name:
          maxLength: 200
          minLength: 1
          type: string
          description: "The human-readable formatted vehicle display name used for\
            \ search results, dashboards, and UI rendering."
          example: 2026 Ford F-350 Super Duty Lariat
        stock_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer or inventory stock number associated
            with the vehicle reference.
          example: F12345
        license_plate:
          maxLength: 20
          minLength: 1
          type: string
          description: The latest known government-issued vehicle license plate associated
            with the vehicle reference.
          example: ABC1234
        dealer_code:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer organization code associated with the
            vehicle reference.
          example: ATL-001
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        tags:
          $ref: "#/components/schemas/Codes"
      description: Vehicle Detail Create Information
    VehicleSignalState:
      type: object
      properties:
        vehicle_signal_state_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing the vehicle signal state.
          example: VSS-STATE-882211
        vehicle_signal_state_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or source-system identifier representing the vehicle
            signal state.
          example: VSS-STATE-2026-000001
        vss_path:
          maxLength: 255
          minLength: 1
          type: string
          description: The Vehicle Signal Specification path identifying the signal
            node.
          example: Vehicle.Cabin.Door.Row1.Left.IsLocked
        signal_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The short signal name associated with the VSS path.
          example: IsLocked
        signal_group:
          maxLength: 120
          minLength: 1
          type: string
          description: The logical signal group or VSS branch associated with the
            signal.
          example: Door
        component_position_type:
          maxLength: 80
          minLength: 1
          type: string
          description: The physical or logical position of the vehicle component represented
            by the signal.
          example: ROW1_LEFT
        metric_value:
          $ref: "#/components/schemas/MetricValue"
        signal_value:
          maxLength: 4000
          minLength: 1
          type: string
          description: The raw or normalized signal value as text for non-metric signal
            values.
          example: "true"
        signal_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        severity_type:
          $ref: "#/components/schemas/SeverityTypes"
        sensor_status_type:
          $ref: "#/components/schemas/SensorStatusTypes"
        vehicle_telemetry_event_reference:
          $ref: "#/components/schemas/VehicleTelemetryEventReference"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system, OEM platform, device, or provider that\
            \ supplied the signal state."
          example: FORDPASS
        source_signal_key:
          maxLength: 255
          minLength: 1
          type: string
          description: The provider-specific signal key or source path used to map
            into the VSS path.
          example: tpms.frontLeft.pressure
        signal_codes:
          $ref: "#/components/schemas/Codes"
        privacy_codes:
          $ref: "#/components/schemas/Codes"
        governance_codes:
          $ref: "#/components/schemas/Codes"
        event_confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: The confidence score assigned to the signal state by the source
            platform or normalization process.
          example: "0.997"
        occurrence_date_time:
          type: string
          description: The date and time when the signal state was observed by the
            vehicle or connected device.
          format: date-time
          example: 2026-07-24T01:33:38Z
        last_updated_date_time:
          type: string
          description: The date and time when the connected vehicle signal state was
            last updated.
          format: date-time
          example: 2026-07-24T01:33:38Z
      description: "Represents the latest VSS-aligned signal state for a connected\
        \ vehicle component, sensor, or logical vehicle data node."
    VehicleSignalStates:
      type: array
      items:
        $ref: "#/components/schemas/VehicleSignalState"
    VehicleTelemetryEventReference:
      type: object
      properties:
        vehicle_telemetry_event_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing this telemetry event
            reference.
          example: VTREF-882211
        vehicle_telemetry_event_reference_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external identifier representing this telemetry event reference.
          example: VTREF-2026-001
        vehicle_telemetry_event_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The aggregate root key of the referenced vehicle telemetry
            event.
          example: VTEL-998211
        vehicle_telemetry_event_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external identifier of the referenced vehicle telemetry
            event.
          example: TEL-2026-00991
        connected_vehicle_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The connected vehicle associated with the telemetry event.
          example: CV-882211
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical vehicle identifier associated with the telemetry
            event.
          example: VEH-882211
        telemetry_event_type:
          $ref: "#/components/schemas/TelemetryEventTypes"
        vehicle_event_category_type:
          $ref: "#/components/schemas/VehicleEventCategoryTypes"
        occurrence_date_time:
          type: string
          description: The timestamp when the telemetry event occurred.
          format: date-time
          example: 2026-07-24T01:33:38Z
        position:
          $ref: "#/components/schemas/Position"
        event_sequence_num:
          maxLength: 40
          minLength: 1
          type: string
          description: The sequence number assigned to the telemetry event.
          example: "123456789"
        correlation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: The correlation identifier used to associate related telemetry
            events.
          example: CORR-882211
        source_system_code:
          maxLength: 80
          minLength: 1
          type: string
          description: The originating system that produced the telemetry event.
          example: FORDPASS
        event_confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: The confidence score assigned to the telemetry event.
          example: "0.998"
        telemetry_hash:
          maxLength: 256
          minLength: 1
          type: string
          description: The immutable integrity hash associated with the telemetry
            event.
          example: SHA256:4d9b9c7a...
        system_codes:
          $ref: "#/components/schemas/Codes"
        telemetry_snapshots:
          $ref: "#/components/schemas/VehicleTelemetrySnapshots"
      description: Vehicle Telemetry Event Reference
    VehicleTelemetryMetricTypes:
      type: string
      description: types of vehicle telemetry metrics.
      enum:
      - ODOMETER
      - SPEED
      - ENGINE_RPM
      - FUEL_LEVEL
      - BATTERY_LEVEL
      - BATTERY_STATE_OF_CHARGE
      - BATTERY_VOLTAGE
      - TIRE_PRESSURE
      - ENGINE_TEMPERATURE
      - AMBIENT_TEMPERATURE
      - HEADING
      - ACCELERATION
      - REMAINING_RANGE
      - OIL_LIFE
      - FLUID_LEVEL
      - ODOMETER_AT_BOOKING
      - ODOMETER_AT_ARRIVAL
      - ODOMETER_AT_CHECK_IN
      - ODOMETER_AT_VEHICLE_RELEASE
      - FUEL_LEVEL_AT_ARRIVAL
      - FUEL_LEVEL_AT_RELEASE
      - BATTERY_SOC_AT_ARRIVAL
      - BATTERY_SOC_AT_RELEASE
      - UNKNOWN
    VehicleTelemetrySnapshot:
      type: object
      properties:
        metric_type:
          $ref: "#/components/schemas/VehicleTelemetryMetricTypes"
        correlation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: The correlation identifier used to associate related telemetry
            events.
          example: CORR-882211
        metric_value:
          $ref: "#/components/schemas/MetricValue"
        recorded_date_time:
          type: string
          description: Exact timestamp when the telemetry reading was captured.
          format: date-time
          example: 2026-07-24T01:33:38Z
        source:
          type: string
          description: "Origin of the telemetry data (e.g., MANUAL_ADVISOR_INPUT,\
            \ TELEMATICS_DONGLE, OBD_SCANNER)."
          example: OBD_SCANNER
      description: vehicle.telemetry.snapshot.desc
    VehicleTelemetrySnapshots:
      type: array
      items:
        $ref: "#/components/schemas/VehicleTelemetrySnapshot"
