openapi: 3.0.1
info:
  title: Automotive Retail Systems API - ConnectedVehicle
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-22T16:47:08Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AlertStatusTypes:
      type: string
      description: types of alert status.
      enum:
      - ACTIVE
      - ACKNOWLEDGED
      - IN_PROGRESS
      - RESOLVED
      - CLOSED
      - EXPIRED
      - CANCELLED
      - UNKNOWN
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-07-22T16:47:08Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BusinessContext:
      type: object
      properties:
        intent_code:
          type: string
          description: "The unique identifier code for the strategic intent (e.g.,\
            \ IMPROVE_NET_OPERATING_VALUE)."
        business_action_code:
          type: string
          description: "The unique identifier code for the specific business action\
            \ (e.g., MINIMIZE_HOLDING_COSTS)."
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
      description: "Represents the strategic lineage, intention, and operational state\
        \ accompanying an execution vector or streaming lifecycle event."
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    ConnectedVehicle:
      type: object
      properties:
        connected_vehicle_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable aggregate root identifier representing the connected
            vehicle digital twin.
          example: CV-998211
        connected_vehicle_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The external or source-system identifier for the connected
            vehicle digital twin.
          example: CV-2026-000448
        vehicle_reference:
          $ref: "#/components/schemas/VehicleReference"
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical vehicle identity anchor key used to associate
            this aggregate with the enterprise vehicle identity registry.
          example: VID-00088211
        identity_anchor_key:
          maxLength: 80
          minLength: 1
          type: string
          description: The immutable identity anchor linking connected services to
            the enterprise vehicle identity.
          example: VIN-1FT8W3BT6SEC12345
        connected_platform_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external OEM or telematics platform identifier associated
            with the connected vehicle ecosystem.
          example: FORDPASS-883991
        connected_provider:
          maxLength: 80
          minLength: 1
          type: string
          description: "The OEM, telematics, or third-party provider responsible for\
            \ connected vehicle data delivery."
          example: FordPass
        connected_status_type:
          $ref: "#/components/schemas/ConnectedVehicleStatusTypes"
        last_heartbeat_date_time:
          type: string
          description: The timestamp documenting the most recent successful communication
            received from the connected vehicle.
          format: date-time
          example: 2026-07-22T16:47:08Z
        current_odometer:
          $ref: "#/components/schemas/MetricValue"
        current_position:
          $ref: "#/components/schemas/Position"
        vehicle_signal_states:
          $ref: "#/components/schemas/VehicleSignalStates"
        fuel_level:
          $ref: "#/components/schemas/MetricValue"
        battery_state_of_charge:
          $ref: "#/components/schemas/MetricValue"
        ignition_status_type:
          $ref: "#/components/schemas/IgnitionStatusTypes"
        connected_alerts:
          $ref: "#/components/schemas/ConnectedVehicleAlerts"
        latest_telemetry_event_reference:
          $ref: "#/components/schemas/VehicleTelemetryEventReference"
        remote_start_status_type:
          $ref: "#/components/schemas/RemoteStartStatusTypes"
        software_version:
          maxLength: 80
          minLength: 1
          type: string
          description: The currently installed connected vehicle software or firmware
            version.
          example: SYNC-6.2.1
        over_the_air_update_status_type:
          $ref: "#/components/schemas/OverTheAirUpdateStatusTypes"
        connected_subscriptions:
          $ref: "#/components/schemas/SubscriptionReferences"
        data_sharing_consent_indicator:
          type: boolean
          description: Indicates whether the vehicle owner or controlling party has
            authorized connected vehicle data sharing.
          example: true
        privacy_codes:
          $ref: "#/components/schemas/Codes"
        governance_codes:
          $ref: "#/components/schemas/Codes"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: The source system that supplied or last synchronized the connected
            vehicle digital twin.
          example: FORDPASS
        last_updated_date_time:
          type: string
          description: The date and time when the connected vehicle digital twin was
            last updated.
          format: date-time
          example: 2026-07-22T16:47:08Z
        connected_notes:
          maxLength: 4000
          minLength: 1
          type: string
          description: "Operational remarks documenting connected vehicle provisioning,\
            \ telemetry synchronization, device onboarding, or platform integration\
            \ issues."
          example: Telematics gateway reprovisioned after battery replacement.
      description: Connected vehicle digital twin representing the latest known operational
        state of a vehicle.
    ConnectedVehicleAlerts:
      type: array
      items:
        $ref: "#/components/schemas/VehicleAlert"
    ConnectedVehicleStatusTypes:
      type: string
      description: types of connected vehicle status.
      enum:
      - CONNECTING
      - ONLINE
      - SLEEPING
      - OFFLINE
      - DISCONNECTED
      - SUSPENDED
      - DECOMMISSIONED
      - OPTED_OUT
      - PAIRING
      - DEGRADED
      - UNSUPPORTED
      - UNKNOWN
      - OTHER
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-07-22T16:47:08Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      enum:
      - ONE_TIME
      - RECUR
      - MINUTES
      - HOURLY
      - DAILY
      - WEEKLY
      - BI_WEEKLY
      - SEMI_MONTHLY
      - MONTHLY
      - QUARTERLY
      - SEMI_YEAR
      - YEARLY
      - MULTI_YEAR
      - LIFETIME
      - CUSTOM
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-07-22T16:47:08Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-07-22T16:47:08Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
      - VEHICLE_INVOICE
      - PARTS_INVOICE
      - SERVICE_INVOICE
      - PAYMENT
      - DEPOSIT
      - REFUND
      - FEE
      - CREDIT
      - ADJUSTMENT
      - WRITE_OFF
      - CHARGEBACK
      - JOURNAL_ENTRY
      - FINANCE_CONTRACT
    FinancialEventSnapshot:
      type: object
      properties:
        financial_event_snapshot_key:
          type: string
          description: The unique ID for this generated snapshot instance.
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        general_ledger_reference:
          $ref: "#/components/schemas/GeneralLedgerReference"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        unit_cost:
          $ref: "#/components/schemas/GeneralAmount"
      description: "A real-time aggregated financial report (P&L, Balance Sheet, or\
        \ Trial Balance) generated as a view model for dashboards."
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        amount:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    GeneralLedgerReference:
      type: object
      properties:
        general_ledger_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        context:
          type: string
          description: Context or domain of the reference
        system_codes:
          $ref: "#/components/schemas/Codes"
        general_ledger_identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-22T16:47:08Z
      description: External system reference
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    IgnitionStatusTypes:
      type: string
      description: types of ignition status.
      enum:
      - "OFF"
      - ACCESSORY
      - "ON"
      - STARTING
      - REMOTE_START
      - UNKNOWN
      - OTHER
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the jurisdiction profile.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the jurisdiction
            profile.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "The date and time when this jurisdiction profile was last\
            \ synchronized from the source governance, legal, policy, or compliance\
            \ system."
          format: date-time
          example: 2026-07-22T16:47:08Z
        occurrence_date_time:
          type: string
          description: "The date and time when the jurisdiction profile was observed,\
            \ created, received, updated, or became effective."
          format: date-time
          example: 2026-07-22T16:47:08Z
      description: nullable
    List:
      type: array
      items:
        $ref: "#/components/schemas/VehicleOption"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        currency_code:
          type: string
          description: Three-letter ISO-4217 currency code.
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          $ref: "#/components/schemas/Memo"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-07-22T16:47:08Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
      - WARRANTY_APPROVAL
      - WARRANTY_DENIAL
      - WARRANTY_APPEAL
      - CLAIM
      - FLEET
      - TELEMETRY
      - COMPLIANCE
      - AUDIT
      - SECURITY
      - TRANSPORT
      - DELIVERY
      - INVENTORY
      - SALES
      - FINANCIAL
      - SERVICE_PLAN
      - VEHICLE_LIFECYCLE
      - OWNERSHIP
      - INSURANCE
      - LOGISTICS
      - QUALITY
      - RISK
      - CONSEQUENCE
      - AI_RECOMMENDATION
      - DECISION
      - BUSINESS_RULE
      - INTENT
      - CAPABILITY
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    OptionDescription:
      type: object
      properties:
        option_description_key:
          type: string
          description: A unique key for the option description.
        option_description_id:
          type: string
          description: The unique ID for the option description.
        option_description_group:
          type: string
          description: The group or category this option belongs to.
        option_detail_descriptions:
          $ref: "#/components/schemas/Memo"
        option_description_label:
          type: string
          description: "A short, human-readable label for the option."
      description: A description of a vehicle option or feature.
    OptionDescriptions:
      type: array
      items:
        $ref: "#/components/schemas/OptionDescription"
    OptionInstallationTypes:
      type: string
      description: types of option installations.
      enum:
      - FACTORY_INSTALLED
      - PORT_INSTALLED
      - DEALER_INSTALLED
      - SOFTWARE_UPDATE
      - ACCESSORY_KIT
      - CUSTOM_FABRICATION
      - OWNER_INSTALLED
      - THIRD_PARTY_INSTALLED
      - UNKNOWN
      - OTHER
    OptionTypes:
      type: string
      description: types of options.
      enum:
      - PARTS
      - ACCESSORY
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - SOFTWARE
      - CERTIFICATION
      - APPEARANCE
      - INCENTIVE
      - COLOR
      - FABRIC
      - REBATE_INCENTIVE
      - PORT_INSTALLED
      - TELEMATICS
      - OTHER
    OverTheAirUpdateStatusTypes:
      type: string
      description: types of over the air update status.
      enum:
      - UPDATE_AVAILABLE
      - DOWNLOADING
      - READY_TO_INSTALL
      - INSTALLING
      - REBOOTING
      - COMPLETED
      - UP_TO_DATE
      - FAILED
      - ROLLED_BACK
      - SUSPENDED
      - SCHEDULED
      - UNKNOWN
      - OTHER
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        party_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
        primary_role_name:
          maxLength: 80
          minLength: 1
          type: string
          description: The principal functional role or stakeholder classification
            assigned to the party within this domain interaction.
          example: DEALER_OPERATOR
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-22T16:47:08Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - SCHEDULER
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - FLEET_MANAGER
      - TRANSPORT_PROVIDER
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - PRIMARY_CUSTOMER
      - PRIMARY_DRIVER
      - PRIMARY_OWNER
      - VEHICLE_OWNER
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - PRIMARY_CONTACT
      - APPROVER
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
      - SHIP_TO
      - SOLD_TO
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    Price:
      type: object
      properties:
        price_id:
          type: string
          description: Unique system identifier for the price record.
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        display_amount:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        amount:
          $ref: "#/components/schemas/Money"
        tax_amount:
          $ref: "#/components/schemas/Money"
        taxable_amount:
          $ref: "#/components/schemas/Money"
        non_taxable_amount:
          $ref: "#/components/schemas/Money"
        total_amount:
          $ref: "#/components/schemas/Money"
        total_cost_amount:
          $ref: "#/components/schemas/Money"
        unit_cost_amount:
          $ref: "#/components/schemas/Money"
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - INVOICE
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - TOTAL_ACCESSORY
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - BASE_INVOICE_AMOUNT
      - DESTINATION_CHARGE
      - ADVERTISING_ASSESSMENT
      - HOLDBACK_AMOUNT
      - WDA_AMOUNT
      - TDA_AMOUNT
      - FLOORPLAN_ASSISTANCE_AMOUNT
      - DEALER_CASH_AMOUNT
      - REGIONAL_ADJUSTMENT_AMOUNT
      - PORT_INSTALLED_OPTION_AMOUNT
      - FACTORY_OPTION_AMOUNT
      - DEALER_INSTALLED_OPTION_AMOUNT
      - FREIGHT_CHARGE_AMOUNT
      - FUEL_CHARGE_AMOUNT
      - PACKAGING_OPTION_AMOUNT
      - OEM_INCENTIVE_AMOUNT
      - DEALER_NET_AMOUNT
      - LANDED_COST_AMOUNT
      - OTHER
    Prices:
      type: array
      items:
        $ref: "#/components/schemas/Price"
    PriorityTypes:
      type: string
      description: types of prioritys.
      enum:
      - LOW
      - NORMAL
      - HIGH
      - CRITICAL
      - EMERGENCY
      - UNKNOWN
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    RemoteStartStatusTypes:
      type: string
      description: types of remote start status.
      enum:
      - INACTIVE
      - STARTING
      - RUNNING
      - STOPPING
      - EXPIRED
      - FAILED
      - CANCELLED
      - UNKNOWN
      - OTHER
    SensorStatusTypes:
      type: string
      description: types of sensor status.
      enum:
      - NORMAL
      - LOW
      - HIGH
      - CRITICAL
      - SENSOR_FAILURE
      - NOT_AVAILABLE
      - UNKNOWN
      - OTHER
    ServiceLevelTypes:
      type: string
      description: types of service levels.
      enum:
      - GROUND
      - TWO_DAY_AIR
      - OVERNIGHT
      - SAME_DAY
      - LOCAL_DELIVERY
      - FREIGHT
      - PICKUP
    SeverityTypes:
      type: string
      description: types of severitys.
      enum:
      - TRACE
      - DEBUG
      - NOTICE
      - INFO
      - LOW
      - MEDIUM
      - EMERGENCY
      - HIGH
      - CRITICAL
    ShipmentEvent:
      type: object
      properties:
        shipment_event_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing a shipment lifecycle
            event.
          example: SHEVT-882211
        shipment_event_id:
          maxLength: 80
          minLength: 1
          type: string
          description: "The external carrier, provider, or platform-generated shipment\
            \ event identifier."
          example: CARRIER-EVT-2026-001
        shipment_event_type:
          maxLength: 80
          minLength: 1
          type: string
          description: The business or operational type of shipment event.
          example: PICKED_UP
        shipment_state_type:
          $ref: "#/components/schemas/ShipmentStateTypes"
        previous_shipment_state_type:
          $ref: "#/components/schemas/ShipmentStateTypes"
        location:
          $ref: "#/components/schemas/Position"
        occurrence_date_time:
          type: string
          description: The timestamp when the shipment event physically occurred.
          format: date-time
          example: 2026-07-22T16:47:08Z
        recorded_date_time:
          type: string
          description: The timestamp when the shipment event was recorded by the platform.
          format: date-time
          example: 2026-07-22T16:47:08Z
        effective_date_time:
          type: string
          description: The timestamp when the shipment event state becomes effective.
          format: date-time
          example: 2026-07-22T16:47:08Z
        event_source:
          maxLength: 120
          minLength: 1
          type: string
          description: "The carrier, logistics provider, platform, user, or system\
            \ that generated the shipment event."
          example: UPS
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The human-readable description of the shipment event.
          example: Shipment picked up by carrier.
        actor:
          $ref: "#/components/schemas/ActorReference"
        business_context:
          $ref: "#/components/schemas/BusinessContext"
        financial_event_snapshot:
          $ref: "#/components/schemas/FinancialEventSnapshot"
      description: nullable
    ShipmentEvents:
      type: array
      items:
        $ref: "#/components/schemas/ShipmentEvent"
    ShipmentReference:
      type: object
      properties:
        shipment_reference_id:
          type: string
          description: Internal unique identifier for the shipment reference record.
          example: shp-ref-55092
        shipment_reference_key:
          type: string
          description: Natural business key for the shipment reference.
          example: LOGISTICS_ESTIMATE_2026_001
        shipment_key:
          type: string
          description: Key for the shipment
          example: OEM_LOGISTICS
        tracking_number:
          $ref: "#/components/schemas/ShipmentTrackingNumber"
        context:
          type: string
          description: "The domain or carrier context of the shipment (e.g., 'FEDEX',\
            \ 'CASSENS', 'OEM_LOGISTICS')."
          example: OEM_LOGISTICS
        system_codes:
          $ref: "#/components/schemas/Codes"
        carrier_party:
          $ref: "#/components/schemas/CarrierParty"
        occurrence_date_time:
          type: string
          description: The timestamp when the shipment was initiated or the record
            was created.
          format: date-time
          example: 2026-07-22T16:47:08Z
        unit_of_measures:
          $ref: "#/components/schemas/UnitOfMeasures"
        estimated_delivery_period:
          $ref: "#/components/schemas/DeliveryWindow"
        shipment_state_type:
          $ref: "#/components/schemas/ShipmentStateTypes"
        carrier_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The display name of the carrier associated with the shipment
            reference.
          example: UPS
        carrier_tracking_url:
          maxLength: 2000
          minLength: 1
          type: string
          description: The carrier-provided URL used to track the shipment.
          example: https://carrier.example.com/track/TRK123456789
        ship_from_party:
          $ref: "#/components/schemas/PartyReference"
        ship_to_party:
          $ref: "#/components/schemas/PartyReference"
        service_level_type:
          $ref: "#/components/schemas/ServiceLevelTypes"
      description: Reference details for the logistics and shipment of a vehicle during
        the RDR process.
    ShipmentStateTypes:
      type: string
      description: types of shipment states.
      enum:
      - OPEN
      - ACTIVE
      - TRACKED
      - DELIVERED
      - RETURNED_TO_WAREHOUSE
      - LOST_IN_TRANSIT
    ShipmentTrackingNumber:
      type: string
      description: The external tracking number.
      example: TRK123456789
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - DEALER_PRINCIPAL
      - GENERAL_MANAGER
      - GENERAL_SALES_MANAGER
      - SALES_MANAGER
      - SALES_PERSON
      - BUSINESS_DEVELOPMENT_REPRESENTATIVE
      - CUSTOMER_SERVICE_REPRESENTATIVE
      - RECEPTIONIST
      - FINANCE_AND_INSURANCE_MANAGER
      - BUSINESS_MANAGER
      - CLOSING_MANAGER
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - WARRANTY_ADMINISTRATOR
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - PARTS_SPECIALIST
      - INVENTORY_MANAGER
      - FLEET_MANAGER
      - DETAIL_MANAGER
      - DETAIL_TECHNICIAN
      - ACCOUNTING_MANAGER
      - CONTROLLER
      - TITLE_CLERK
      - OFFICE_MANAGER
      - MARKETING_MANAGER
      - OTHER
    SubscriptionReference:
      type: object
      properties:
        subscription_reference_id:
          type: string
          description: Unique identifier value
        subscription_display_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display name associated with the subscription
            reference.
          example: FordPass Premium Connectivity
        subscription_status:
          maxLength: 40
          minLength: 1
          type: string
          description: The current operational or billing lifecycle status associated
            with the subscription reference.
          example: ACTIVE
        provider_name:
          maxLength: 120
          minLength: 1
          type: string
          description: "The organization, OEM, carrier, or platform provider responsible\
            \ for the subscription service."
          example: FordPass
        plan_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The commercial or operational subscription plan name associated
            with the subscription reference.
          example: Premium Remote Access
        subscription_reference_key:
          type: string
          description: Unique identifier value
        subscription_key:
          type: string
          description: Unique identifier value
        locale:
          $ref: "#/components/schemas/Locale"
        subscription_code:
          type: string
          description: Context or domain of the identifier
        source_system_code:
          type: string
          description: Context or domain of the identifier
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        charge_type:
          $ref: "#/components/schemas/DurationIntervalTypes"
        context:
          type: string
          description: Context or domain of the identifier
        account_number:
          type: string
          description: Account Number
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-22T16:47:08Z
        sequence_total:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        sequence_number:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
      description: External system identifier
    SubscriptionReferences:
      type: array
      items:
        $ref: "#/components/schemas/SubscriptionReference"
    TelemetryEventTypes:
      type: string
      description: types of telemetry events.
      enum:
      - ""
    TimeSlot:
      type: object
      properties:
        time_slot_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key for the specific time slot instance.
          example: TS-KEY-99281A
        end_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        end_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        recurring_indicator:
          type: boolean
          description: Indicates whether the time slot repeats on a recurring cycle.
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        start_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        start_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        time_slot_id:
          maxLength: 36
          minLength: 1
          type: string
          description: The business identifier or code assigned to this generic time
            block configuration.
          example: MORNING_SHIFT_01
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          format: date
          items:
            type: string
        timeslot_status_type:
          $ref: "#/components/schemas/TimeSlotStatusTypes"
      description: Range of time for the appointment
    TimeSlotStatusTypes:
      type: string
      description: types of time slot status.
      enum:
      - TENTATIVE
      - RESERVED
      - CONFIRMED
      - RELEASED
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - EXACT
      - FLEXIBLE
      - PREFERRED
      - REQUIRED
      - RESTRICTED
      - OTHER
      - UNKNOWN
    UnitOfMeasure:
      type: object
      properties:
        unit_of_measure_key:
          type: string
          description: Unit of Measure Value
        unit_name:
          type: string
          description: Unit of Measure
        uom_value:
          maxLength: 100
          minLength: 1
          type: string
          description: Unit of Measure Value
        uom_quantity_category_type:
          $ref: "#/components/schemas/UomQuantityCategoryTypes"
      description: value price with unit of measure
    UnitOfMeasures:
      type: array
      items:
        $ref: "#/components/schemas/UnitOfMeasure"
    UomQuantityCategoryTypes:
      type: string
      description: types of uom quantity categorys.
      enum:
      - COUNT
      - WEIGHT
      - VOLUME
      - TIME
      - NET_WEIGHT
      - NET_VOLUME
      - PACKAGE_QUANTITY
      - MIN_ORDER_QUANTITY
      - GROSS_WEIGHT
      - GROSS_VOLUME
      - SHIPPING_WEIGHT
      - DIMENSIONAL_WEIGHT
      - MATERIAL
      - ELECTRICAL_RATING
      - DEFAULT_LEAD_TIME
      - MAX_LEAD_TIME
      - DIMENSION_UNIT
      - MIN_LENGTH
      - MAX_LENGTH
      - MIN_WIDTH
      - MAX_WIDTH
      - MIN_HEIGHT
      - MAX_HEIGHT
      - MIN_WEIGHT
      - MAX_WEIGHT
      - MAX_ORDER_QUANTITY
      - MIN_ORDER_AVAILABLE
      - DIMENSIONS
      - SHIPPING_DIM_LENGTH
      - SHIPPING_DIM_WIDTH
      - SHIPPING_DIM_HEIGHT
      - SHIPPING_DIM_GROSS_WEIGHT
      - SHIPPING_DIM_NET_WEIGHT
      - SHELF_LIFE_HOURS
      - EXPIRATION_DATE
      - MIN_PAYMENT_PERCENT
      - MIN_PAYMENT_AMOUNT
    VehicleAlert:
      type: object
      properties:
        vehicle_alert_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique identifier representing the connected vehicle alert
            event.
          example: ALERT-882211
        alert_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated alert identifier.
          example: FORDPASS-ALERT-9982
        telemetry_event_reference:
          $ref: "#/components/schemas/VehicleTelemetryEventReference"
        vehicle_reference:
          $ref: "#/components/schemas/VehicleReference"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system that created, supplied, or last synchronized\
            \ the vehicle ledger."
          example: VEHICLE_HISTORY_PROVIDER
        source_alert_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system that created, supplied, or last synchronized\
            \ the vehicle ledger."
          example: VEHICLE_HISTORY_PROVIDER
        source_record_key:
          maxLength: 100
          minLength: 1
          type: string
          description: The source-system record key or event key used to trace the
            logistics event back to its origin.
          example: OEM-EVT-77821
        vehicle_event_category_type:
          $ref: "#/components/schemas/VehicleEventCategoryTypes"
        alert_severity:
          $ref: "#/components/schemas/SeverityTypes"
        alert_status_type:
          $ref: "#/components/schemas/AlertStatusTypes"
        alert_message:
          maxLength: 2000
          minLength: 1
          type: string
          description: The human-readable connected vehicle alert description.
          example: Front left tire pressure below threshold.
        occurrence_date_time:
          type: string
          description: vehicle.alert.occurrence.date.time.desc
          format: date-time
          example: 2026-07-22T16:47:08Z
        position:
          $ref: "#/components/schemas/Position"
        odometer:
          $ref: "#/components/schemas/MetricValue"
        resolved_indicator:
          type: boolean
          description: Indicates whether the connected vehicle alert has been resolved.
          example: true
        resolved_date_time:
          type: string
          description: The date and time when the connected vehicle alert was resolved.
          format: date-time
          example: 2026-07-22T16:47:08Z
        resolution_description:
          $ref: "#/components/schemas/Narrative"
        resolution_code:
          $ref: "#/components/schemas/Code"
        expiration_date_time:
          type: string
          description: The date and time when the connected vehicle alert automatically
            expires if no longer applicable.
          format: date-time
          example: 2026-07-22T16:47:08Z
        alert_priority_type:
          $ref: "#/components/schemas/PriorityTypes"
        governance_codes:
          $ref: "#/components/schemas/Codes"
        privacy_codes:
          $ref: "#/components/schemas/Codes"
        correlation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: "The correlation identifier used to associate related alerts,\
            \ telemetry events, and business processes."
          example: CORR-882211
        confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: The confidence score assigned by the originating system indicating
            the likelihood that the alert accurately represents the reported condition.
          example: "0.997"
        event_hash:
          maxLength: 256
          minLength: 1
          type: string
          description: The immutable hash used to verify the integrity and authenticity
            of the connected vehicle alert.
          example: SHA256:7f3d4c8a9b1e...
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: Connected Vehicle Alert
    VehicleBuildProfile:
      type: object
      properties:
        vehicle_build_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the vehicle build profile.
          example: VBP-2026-000001
        vehicle_build_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the vehicle
            build profile.
          example: VBP-ID-884512
        vehicle_order_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The dealer or customer-facing vehicle order number associated
            with the vehicle order lifecycle.
          example: ORD-2026-001245
        factory_order_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The manufacturer-assigned factory order number used to track
            production and fulfillment activities.
          example: FO-884512
        reservation_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The reservation number assigned to a vehicle reservation prior
            to order placement or production scheduling.
          example: RSV-2026-004512
        allocation_number:
          maxLength: 60
          minLength: 1
          type: string
          description: "The allocation number representing the manufacturer's inventory\
            \ allocation assignment to a dealer, distributor, or fleet organization."
          example: ALLOC-2026-00987
        allocation_pool_number:
          maxLength: 60
          minLength: 1
          type: string
          description: "The allocation pool number identifying the manufacturer allocation\
            \ program, distribution pool, or inventory assignment group associated\
            \ with the vehicle."
          example: POOL-SE-2026-015
        build_batch_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The manufacturing batch number grouping vehicles scheduled
            for assembly during the same production cycle.
          example: BATCH-2026-0821
        build_sequence_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The manufacturing build sequence number assigned during vehicle
            assembly scheduling.
          example: SEQ-10542
        production_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The production tracking number assigned by the manufacturer
            for vehicle assembly and plant operations.
          example: PROD-778921
        production_plant_code:
          maxLength: 30
          minLength: 1
          type: string
          description: The manufacturer-assigned production plant code identifying
            the assembly facility where the vehicle was produced.
          example: TMMK
        build_status_type:
          $ref: "#/components/schemas/VehicleBuildStatusTypes"
        build_period:
          $ref: "#/components/schemas/EffectivePeriod"
        configuration_codes:
          $ref: "#/components/schemas/Codes"
        vehicle_options:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleOption"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        tags:
          $ref: "#/components/schemas/Codes"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: The source system code identifying the system of record or
            integration source for the vehicle build profile.
          example: OEM_ORDER_BANK
        occurrence_date_time:
          type: string
          description: "The date and time when the vehicle build profile information\
            \ was observed, created, received, or became effective."
          format: date-time
          example: 2026-07-22T16:47:08Z
      description: "Comprehensive vehicle details including identifiers, configuration,\
        \ and status."
    VehicleBuildStatusTypes:
      type: string
      description: types of vehicle build status.
      enum:
      - PENDING
      - RESERVED
      - ALLOCATED
      - SCHEDULED
      - IN_PRODUCTION
      - BUILT
      - QUALITY_INSPECTION
      - RELEASED
      - IN_TRANSIT
      - DELIVERED
      - ON_HOLD
      - REWORK
      - CANCELLED
    VehicleEventCategoryTypes:
      type: string
      description: types of vehicle event categorys.
      enum:
      - DOCUMENT_LIFECYCLE
      - OWNERSHIP
      - DAMAGE
      - SERVICE
      - ODOMETER
      - USAGE
      - INSURANCE
      - MANUFACTURING
      - INVENTORY
      - LOGISTICS
      - CONNECTIVITY
      - MOBILITY
      - SAFETY
      - POWERTRAIN
      - DIAGNOSTICS
      - COMPLIANCE
      - LEGAL
      - FINANCIAL
      - CUSTOMER
      - REMOTE_OPERATIONS
      - SOFTWARE
      - GEOFENCING
      - SECURITY
      - REPUTATION
      - PARTNER
      - ENTERPRISE
      - PUBLIC
      - OTHER
    VehicleLogisticsProfile:
      type: object
      properties:
        vehicle_logistics_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the vehicle logistics profile.
          example: VLP-2026-000001
        vehicle_logistics_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the vehicle
            logistics profile.
          example: VLP-ID-884512
        railcar_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The railcar number used to transport the vehicle through the
            rail distribution network during fulfillment.
          example: TTGX982145
        vessel_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The vessel number identifying the ocean-going vessel responsible
            for transporting the vehicle during maritime shipment.
          example: VESSEL-ATLANTIC-001
        voyage_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The voyage number assigned by the shipping carrier to identify
            a specific maritime journey.
          example: VOY-2026-0421
        port_processing_number:
          maxLength: 60
          minLength: 1
          type: string
          description: "The port processing number used to track vehicle inspection,\
            \ preparation, and accessory installation activities performed at the\
            \ port facility."
          example: PORT-PP-884512
        carrier_reference_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The carrier-assigned reference number used to track transportation
            activities across shipping and logistics providers.
          example: CARR-REF-992311
        transport_load_number:
          maxLength: 60
          minLength: 1
          type: string
          description: "The transportation load number identifying the shipment load,\
            \ convoy, rail consist, or carrier movement containing the vehicle."
          example: LOAD-2026-10842
        distribution_center_code:
          maxLength: 30
          minLength: 1
          type: string
          description: "The code identifying the distribution center, processing center,\
            \ or logistics hub responsible for handling the vehicle."
          example: ATL-DC01
        ramp_code:
          maxLength: 30
          minLength: 1
          type: string
          description: The rail ramp or vehicle processing ramp code identifying the
            transfer location used during vehicle distribution.
          example: ATL-RAMP-07
        convoy_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The convoy number identifying a grouped transportation movement
            of vehicles managed as a single logistics unit.
          example: CONVOY-2026-015
        logistics_identifiers:
          $ref: "#/components/schemas/Identifiers"
        shipment_references:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ShipmentReference"
        logistics_status_type:
          $ref: "#/components/schemas/VehicleLogisticsStatusTypes"
        logistics_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: The source system code identifying the system of record or
            integration source for the vehicle logistics profile.
          example: OEM_LOGISTICS
        occurrence_date_time:
          type: string
          description: "The date and time when the vehicle logistics profile information\
            \ was observed, created, received, or became effective."
          format: date-time
          example: 2026-07-22T16:47:08Z
        shipment_events:
          $ref: "#/components/schemas/ShipmentEvents"
        rail_position:
          maxLength: 80
          minLength: 1
          type: string
          description: The assigned position of the vehicle on the railcar.
          example: A12
        truck_position:
          maxLength: 80
          minLength: 1
          type: string
          description: The assigned position of the vehicle on the transport truck.
          example: UPPER_FRONT
        deck:
          maxLength: 80
          minLength: 1
          type: string
          description: "The vessel, rail, or transport deck where the vehicle is positioned."
          example: DECK-3
        container_number:
          maxLength: 100
          minLength: 1
          type: string
          description: "The container number associated with the vehicle movement,\
            \ when applicable."
          example: CONT-77821
        chock_position:
          maxLength: 120
          minLength: 1
          type: string
          description: The chock position used to secure the vehicle during transportation.
          example: FRONT_LEFT_REAR_RIGHT
        tie_down_information:
          maxLength: 1000
          minLength: 1
          type: string
          description: "Tie-down, restraint, or securement information used during\
            \ vehicle transportation."
        load_sequence:
          maxLength: 40
          minLength: 1
          type: string
          description: The loading sequence assigned to the vehicle during transportation.
          example: "004"
      description: "Comprehensive vehicle details including identifiers, configuration,\
        \ and status."
    VehicleLogisticsStatusTypes:
      type: string
      description: types of vehicle logistics status.
      enum:
      - PENDING
      - PORT_PROCESSING
      - RAIL_ASSIGNED
      - CARRIER_ASSIGNED
      - IN_TRANSIT
      - AT_RAMP
      - AT_DISTRIBUTION_CENTER
      - DELAYED
      - ON_HOLD
      - DELIVERED
      - CANCELLED
      - LOST
      - DAMAGED
    VehicleOption:
      type: object
      properties:
        vehicle_option_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The business or integration key that uniquely identifies the
            vehicle option.
        manufacturer_name:
          maxLength: 120
          minLength: 1
          type: string
          description: "The manufacturer, brand, or source responsible for producing\
            \ or supplying the vehicle option."
        option_category:
          $ref: "#/components/schemas/Codes"
        option_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The manufacturer, OEM, or source system code assigned to the\
            \ vehicle option."
        option_descriptions:
          $ref: "#/components/schemas/OptionDescriptions"
        option_groups:
          $ref: "#/components/schemas/Codes"
        option_installation_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OptionInstallationTypes"
        option_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The display name or business name of the vehicle option.
        option_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OptionTypes"
        quantity:
          $ref: "#/components/schemas/MetricValue"
        prices:
          $ref: "#/components/schemas/Prices"
        short_description:
          maxLength: 255
          minLength: 1
          type: string
          description: A concise display description of the vehicle option.
      description: options and options of a vehicle
    VehicleReference:
      type: object
      properties:
        vehicle_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique lightweight reference key representing the denormalized
            vehicle projection used across bounded contexts.
          example: VREF-882211
        vehicle_reference_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique identifier for the lightweight denormalized vehicle
            reference projection.
          example: VR-993821
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical enterprise vehicle identity anchor associated
            with this denormalized vehicle reference.
          example: VID-00088211
        vin:
          maxLength: 17
          minLength: 11
          type: string
          description: The Vehicle Identification Number (VIN) associated with the
            vehicle reference.
          example: 1FT8W3BT6SEC12345
        model_year:
          maxLength: 4
          minLength: 1
          type: string
          description: The OEM model year associated with the vehicle reference projection.
          example: "2026"
        make:
          maxLength: 80
          minLength: 1
          type: string
          description: The manufacturer brand associated with the vehicle reference
            projection.
          example: Ford
        model:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM model associated with the vehicle reference projection.
          example: F-350 Super Duty
        trim:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM trim designation associated with the vehicle reference
            projection.
          example: Lariat
        display_name:
          maxLength: 200
          minLength: 1
          type: string
          description: "The human-readable formatted vehicle display name used for\
            \ search results, dashboards, and UI rendering."
          example: 2026 Ford F-350 Super Duty Lariat
        stock_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer or inventory stock number associated
            with the vehicle reference.
          example: F12345
        license_plate:
          maxLength: 20
          minLength: 1
          type: string
          description: The latest known government-issued vehicle license plate associated
            with the vehicle reference.
          example: ABC1234
        dealer_code:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer organization code associated with the
            vehicle reference.
          example: ATL-001
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        tags:
          $ref: "#/components/schemas/Codes"
        vehicle_build_profile:
          $ref: "#/components/schemas/VehicleBuildProfile"
        vehicle_logistics_profile:
          $ref: "#/components/schemas/VehicleLogisticsProfile"
      description: Vehicle Detail Create Information
    VehicleSignalState:
      type: object
      properties:
        vehicle_signal_state_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing the vehicle signal state.
          example: VSS-STATE-882211
        vehicle_signal_state_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or source-system identifier representing the vehicle
            signal state.
          example: VSS-STATE-2026-000001
        vss_path:
          maxLength: 255
          minLength: 1
          type: string
          description: The Vehicle Signal Specification path identifying the signal
            node.
          example: Vehicle.Cabin.Door.Row1.Left.IsLocked
        signal_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The short signal name associated with the VSS path.
          example: IsLocked
        signal_group:
          maxLength: 120
          minLength: 1
          type: string
          description: The logical signal group or VSS branch associated with the
            signal.
          example: Door
        component_position_type:
          maxLength: 80
          minLength: 1
          type: string
          description: The physical or logical position of the vehicle component represented
            by the signal.
          example: ROW1_LEFT
        metric_value:
          $ref: "#/components/schemas/MetricValue"
        signal_value:
          maxLength: 4000
          minLength: 1
          type: string
          description: The raw or normalized signal value as text for non-metric signal
            values.
          example: "true"
        signal_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        severity_type:
          $ref: "#/components/schemas/SeverityTypes"
        sensor_status_type:
          $ref: "#/components/schemas/SensorStatusTypes"
        vehicle_telemetry_event_reference:
          $ref: "#/components/schemas/VehicleTelemetryEventReference"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system, OEM platform, device, or provider that\
            \ supplied the signal state."
          example: FORDPASS
        source_signal_key:
          maxLength: 255
          minLength: 1
          type: string
          description: The provider-specific signal key or source path used to map
            into the VSS path.
          example: tpms.frontLeft.pressure
        signal_codes:
          $ref: "#/components/schemas/Codes"
        privacy_codes:
          $ref: "#/components/schemas/Codes"
        governance_codes:
          $ref: "#/components/schemas/Codes"
        event_confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: The confidence score assigned to the signal state by the source
            platform or normalization process.
          example: "0.997"
        occurrence_date_time:
          type: string
          description: The date and time when the signal state was observed by the
            vehicle or connected device.
          format: date-time
          example: 2026-07-22T16:47:08Z
        last_updated_date_time:
          type: string
          description: The date and time when the connected vehicle signal state was
            last updated.
          format: date-time
          example: 2026-07-22T16:47:08Z
      description: "Represents the latest VSS-aligned signal state for a connected\
        \ vehicle component, sensor, or logical vehicle data node."
    VehicleSignalStates:
      type: array
      items:
        $ref: "#/components/schemas/VehicleSignalState"
    VehicleTelemetryEventReference:
      type: object
      properties:
        vehicle_telemetry_event_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing this telemetry event
            reference.
          example: VTREF-882211
        vehicle_telemetry_event_reference_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external identifier representing this telemetry event reference.
          example: VTREF-2026-001
        vehicle_telemetry_event_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The aggregate root key of the referenced vehicle telemetry
            event.
          example: VTEL-998211
        vehicle_telemetry_event_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external identifier of the referenced vehicle telemetry
            event.
          example: TEL-2026-00991
        connected_vehicle_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The connected vehicle associated with the telemetry event.
          example: CV-882211
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical vehicle identifier associated with the telemetry
            event.
          example: VEH-882211
        telemetry_event_type:
          $ref: "#/components/schemas/TelemetryEventTypes"
        vehicle_event_category_type:
          $ref: "#/components/schemas/VehicleEventCategoryTypes"
        occurrence_date_time:
          type: string
          description: The timestamp when the telemetry event occurred.
          format: date-time
          example: 2026-07-22T16:47:08Z
        position:
          $ref: "#/components/schemas/Position"
        odometer:
          $ref: "#/components/schemas/MetricValue"
        event_sequence_num:
          maxLength: 40
          minLength: 1
          type: string
          description: The sequence number assigned to the telemetry event.
          example: "123456789"
        correlation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: The correlation identifier used to associate related telemetry
            events.
          example: CORR-882211
        source_system_code:
          maxLength: 80
          minLength: 1
          type: string
          description: The originating system that produced the telemetry event.
          example: FORDPASS
        event_confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: The confidence score assigned to the telemetry event.
          example: "0.998"
        telemetry_hash:
          maxLength: 256
          minLength: 1
          type: string
          description: The immutable integrity hash associated with the telemetry
            event.
          example: SHA256:4d9b9c7a...
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: Vehicle Telemetry Event Reference
