openapi: 3.0.1
info:
  title: Automotive Retail Systems API - PartOrder
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-07-24T14:55:09Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BusinessContext:
      type: object
      properties:
        intent_code:
          type: string
          description: "The unique identifier code for the strategic intent (e.g.,\
            \ IMPROVE_NET_OPERATING_VALUE)."
        business_action_code:
          type: string
          description: "The unique identifier code for the specific business action\
            \ (e.g., MINIMIZE_HOLDING_COSTS)."
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
      description: "Represents the strategic lineage, intention, and operational state\
        \ accompanying an execution vector or streaming lifecycle event."
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: External system identifier
    CreditReference:
      type: object
      properties:
        credit_reference_id:
          type: string
          description: Unique identifier value
        credit_reference_key:
          type: string
          description: Unique identifier value
        credit_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:55:09Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
      description: External system identifier
    CreditReferences:
      type: array
      items:
        $ref: "#/components/schemas/CreditReference"
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    CustomerOrderReference:
      type: object
      properties:
        order_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the customer order reference record.
        order_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the customer order reference record.
        customer_order_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Customer Order aggregate.
        context:
          type: string
          description: "Context or domain of the customer order reference (e.g., 'ERP',\
            \ 'E-COMMERCE')."
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the customer order was linked to this part
            order.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: Reference to a Customer Order Aggregate Root related to this Part
        Order.
    CustomerOrderReferences:
      type: array
      items:
        $ref: "#/components/schemas/CustomerOrderReference"
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DepositTypes:
      type: string
      description: types of deposits.
      enum:
      - CUSTOMER_DEPOSIT
      - SECURITY_DEPOSIT
      - VEHICLE_HOLD_DEPOSIT
      - SPECIAL_ORDER_DEPOSIT
      - PARTS_DEPOSIT
      - SERVICE_DEPOSIT
      - DOWN_PAYMENT
      - REFUNDABLE_DEPOSIT
      - NON_REFUNDABLE_DEPOSIT
      - LEASE_SECURITY_DEPOSIT
      - DAMAGE_DEPOSIT
      - RESERVATION_DEPOSIT
      - ESCROW_DEPOSIT
      - GOOD_FAITH_DEPOSIT
      - TRADE_HOLD_DEPOSIT
      - FLEET_ORDER_DEPOSIT
      - WHOLESALE_DEPOSIT
      - OTHER
    DiscountMetricValue:
      type: object
      properties:
        discount_metric_value_key:
          type: string
          description: Unique identifier for the metric value.
          example: METRIC_KEY_ABC
        unit_of_measure_type:
          $ref: "#/components/schemas/UnitOfMeasureTypes"
        value:
          type: string
          description: The numeric value of the metric.
          example: "5551235545"
        locales:
          $ref: "#/components/schemas/Codes"
      description: value price with unit of measure
    DiscountMetricValues:
      type: array
      items:
        $ref: "#/components/schemas/DiscountMetricValue"
    DiscountReference:
      type: object
      properties:
        discount_reference_id:
          type: string
          description: Unique identifier value
        discount_reference_key:
          type: string
          description: Unique identifier value
        discount_key:
          type: string
          description: Unique identifier value
        unit_count:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:55:09Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
        discount_plan_name:
          type: string
          description: The display name of the discount for search results.
          example: Loyalty Rebate
        discount_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        discount_href:
          type: string
          description: Hyperlink to the full Discount entity for deep-linking.
          format: href
          example: /discounts/123
        discount_metric_values:
          $ref: "#/components/schemas/DiscountMetricValues"
        discount_price:
          $ref: "#/components/schemas/Price"
        capitalized_indicator:
          type: boolean
          description: Indicates if the discount is capitalized (crucial for Lease
            calculations).
          example: true
        purchase_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderCategoryTypes"
        product_state_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductStateTypes"
        location_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    DiscountReferences:
      type: array
      items:
        $ref: "#/components/schemas/DiscountReference"
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      enum:
      - ONE_TIME
      - RECUR
      - MINUTES
      - HOURLY
      - DAILY
      - WEEKLY
      - BI_WEEKLY
      - SEMI_MONTHLY
      - MONTHLY
      - QUARTERLY
      - SEMI_YEAR
      - YEARLY
      - MULTI_YEAR
      - LIFETIME
      - CUSTOM
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-07-24T14:55:09Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-07-24T14:55:09Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    ExitConsiderationTypes:
      type: string
      description: types of exit considerations.
      enum:
      - BUYOUT_ALLOWED
      - RETURN_NOT_ALLOWED
      - RETURN_ALLOWED
      - BUYOUT_NOT_ALLOWED
    FeeReference:
      type: object
      properties:
        fee_reference_id:
          type: string
          description: Unique identifier value
        fee_reference_key:
          type: string
          description: Unique identifier value
        fee_key:
          type: string
          description: Unique identifier value
        unit_count:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        fee:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:55:09Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
      description: External system identifier
    FeeReferences:
      type: array
      items:
        $ref: "#/components/schemas/FeeReference"
    FinancialCategoryReference:
      type: object
      properties:
        category_reference_id:
          type: string
          description: Unique identifier value for the financial category reference
            record.
        category_reference_key:
          type: string
          description: Unique key value for the financial category reference record.
        category_key:
          type: string
          description: The unique key identifying the referenced Financial Category
            aggregate.
        context:
          type: string
          description: "Context or domain of the financial category (e.g., 'INCOME',\
            \ 'BALANCE_SHEET')."
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financial category was assigned or referenced.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: "Reference to a Financial Category Aggregate Root (e.g., Revenue,\
        \ Expense, Asset)."
    FinancialCategoryReferences:
      type: array
      items:
        $ref: "#/components/schemas/FinancialCategoryReference"
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
      - VEHICLE_INVOICE
      - PARTS_INVOICE
      - SERVICE_INVOICE
      - PAYMENT
      - DEPOSIT
      - REFUND
      - FEE
      - CREDIT
      - ADJUSTMENT
      - WRITE_OFF
      - CHARGEBACK
      - JOURNAL_ENTRY
      - FINANCE_CONTRACT
    FinancialEvent:
      type: object
      properties:
        financial_event_id:
          type: string
          description: System-generated ID for the financial event.
          example: FE-998877
        financial_event_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        confirmation_code:
          type: string
          description: Confirmation code for the financial transaction.
          example: CNF-987654
        forecast_indicator:
          type: boolean
          description: Confirmation code for the financial transaction.
          example: false
        payment_method_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        payment_method_key:
          type: string
          description: Unique key for the specific payment method used.
          example: pm_12345
        capability_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time when the financial event occurred.
          format: date-time
          example: 2026-07-24T14:55:09Z
        post_date:
          type: string
          description: The posting date of the financial transaction.
          format: date
        transaction_date:
          type: string
          description: The date the transaction was executed.
          format: date
        batch_number:
          type: string
          description: The batch number associated with this transaction.
          example: BATCH-2025-001
        previous_event_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTransactionStatusTypes"
        provider_transaction_id:
          type: string
          description: Unique transaction ID from the payment provider.
          example: txn_87654321
        event_description:
          type: string
          description: Detailed description of the financial event.
        reason_codes:
          $ref: "#/components/schemas/Codes"
        financial_event_type:
          $ref: "#/components/schemas/FinancialEventTypes"
        resource_type:
          $ref: "#/components/schemas/ResourceTypes"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        resource_keys:
          $ref: "#/components/schemas/Codes"
        correlation_id:
          type: string
          description: Correlation identifier used for distributed tracing.
        causation_id:
          type: string
          description: Correlation identifier used for distributed tracing.
        tracking_ref:
          type: string
          description: Tracking reference for the transaction.
          example: track_98765
        source_transaction_id:
          type: string
          description: Internal reference for the transaction.
          example: txn_ref_12345
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        deposit_type:
          $ref: "#/components/schemas/DepositTypes"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        actor:
          $ref: "#/components/schemas/ActorReference"
        financial_categories:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FinancialCategoryTypes"
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        business_context:
          $ref: "#/components/schemas/BusinessContext"
        financial_event_snapshot:
          $ref: "#/components/schemas/FinancialEventSnapshot"
      description: Payment details for this product.
    FinancialEventSnapshot:
      type: object
      properties:
        financial_event_snapshot_key:
          type: string
          description: The unique ID for this generated snapshot instance.
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        general_ledger_reference:
          $ref: "#/components/schemas/GeneralLedgerReference"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        unit_cost:
          $ref: "#/components/schemas/GeneralAmount"
      description: "A real-time aggregated financial report (P&L, Balance Sheet, or\
        \ Trial Balance) generated as a view model for dashboards."
    FinancialEventTypes:
      type: string
      description: types of financial events.
      enum:
      - INVOICE_CREATED
      - INVOICE_ISSUED
      - INVOICE_POSTED
      - INVOICE_VOIDED
      - INVOICE_CANCELLED
      - PAYMENT_CREATED
      - PAYMENT_RECEIVED
      - PAYMENT_APPLIED
      - PAYMENT_FAILED
      - PAYMENT_REVERSED
      - PAYMENT_VOIDED
      - PAYMENT_UNAPPLIED
      - DEPOSIT_CREATED
      - DEPOSIT_RECEIVED
      - DEPOSIT_APPLIED
      - DEPOSIT_REFUNDED
      - DEPOSIT_FORFEITED
      - DEPOSIT_TRANSFERRED
      - DEPOSIT_VOIDED
      - REFUND_CREATED
      - REFUND_ISSUED
      - REFUND_COMPLETED
      - REFUND_REVERSED
      - REFUND_CANCELLED
      - FEE_ASSESSED
      - FEE_WAIVED
      - FEE_REVERSED
      - FEE_REFUNDED
      - TAX_ASSESSED
      - TAX_ADJUSTED
      - TAX_REFUNDED
      - CREDIT_ISSUED
      - CREDIT_APPLIED
      - CREDIT_REVERSED
      - CREDIT_EXPIRED
      - ADJUSTMENT_CREATED
      - ADJUSTMENT_APPLIED
      - ADJUSTMENT_REVERSED
      - WRITE_OFF_CREATED
      - CHARGEBACK_RECEIVED
      - CHARGEBACK_REVERSED
      - JOURNAL_ENTRY_CREATED
      - JOURNAL_ENTRY_POSTED
      - JOURNAL_ENTRY_REVERSED
      - FINANCE_CONTRACT_CREATED
      - FINANCE_CONTRACT_FUNDED
      - FINANCE_CONTRACT_CANCELLED
    FinancialEvents:
      type: array
      items:
        $ref: "#/components/schemas/FinancialEvent"
    FinancialSplit:
      type: object
      properties:
        financial_split_id:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        financial_split_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        source_item_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price_name:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price_description:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        financial_categories:
          $ref: "#/components/schemas/FinancialCategoryReferences"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        ledger_types:
          $ref: "#/components/schemas/FinancialTransactionTypes"
        price_type:
          $ref: "#/components/schemas/ProductPriceItemTypes"
        tax_splits:
          $ref: "#/components/schemas/TaxSplits"
        reward_references:
          $ref: "#/components/schemas/RewardReferences"
        credit_references:
          $ref: "#/components/schemas/CreditReferences"
        rebate_references:
          $ref: "#/components/schemas/RebateReferences"
        discount_references:
          $ref: "#/components/schemas/DiscountReferences"
        fee_references:
          $ref: "#/components/schemas/FeeReferences"
        parties:
          $ref: "#/components/schemas/PartyReferences"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: Payment details for this product.
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        financial_split_reference_key:
          type: string
          description: Unique key value for the reference record.
        financial_split_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Payment FinancialSplit
            aggregate.
        context:
          type: string
          description: Context or domain of the payment financialSplit.
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        total:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associated with the
            order.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: Reference to a Payment FinancialSplit Aggregate Root.
    FinancialSplits:
      type: array
      items:
        $ref: "#/components/schemas/FinancialSplit"
    FinancialTrackReference:
      type: object
      properties:
        track_reference_id:
          type: string
          description: Unique identifier value for the financial track reference record.
        track_reference_key:
          type: string
          description: Unique key value for the financial track reference record.
        track_key:
          type: string
          description: The unique key identifying the referenced Financial Track aggregate
            (the actual journal entry).
        context:
          type: string
          description: "Context or domain of the financial tracking (e.g., 'GL', 'ERP')."
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financial track entry was generated.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: "Reference to a Financial Track Aggregate Root (e.g., a Journal\
        \ Entry)."
    FinancialTrackReferences:
      type: array
      items:
        $ref: "#/components/schemas/FinancialTrackReference"
    FinancialTransactionTypes:
      type: string
      description: types of financial transactions.
      enum:
      - ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - EQUITY
      - INVENTORY
      - INTANGIBLE_ASSET
      - PREPAID_EXPENSE
      - INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - SALES_DISCOUNT
      - RETURNS
      - CASH_INFLOW
      - CASH_OUTFLOW
      - BANK_CHARGE
      - LOAN_RECEIVABLE
      - LOAN_PAYABLE
      - INVESTMENT
      - DIVIDEND
      - INTEREST_INCOME
      - INTEREST_EXPENSE
      - OBLIGATION_NOTE
      - OBLIGATION_CREDIT
      - OBLIGATION_TAX
      - OBLIGATION_OTHER
      - TAX_PAYABLE
      - DEFERRED_REVENUE
      - ACCRUED_EXPENSE
      - PROVISION
      - DEBIT
      - CREDIT
      - CAPITALIZATION
      - AMORTIZATION
      - VARIANCE
      - INVOICE
      - RECEIPT
      - RECEIVABLE_RECEIPT
      - DISBURSEMENT
      - TRANSFER
      - SERVICE
      - FEE
      - REBATE
      - OTHER
      - CUSTOM
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        amount:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    GeneralLedgerReference:
      type: object
      properties:
        general_ledger_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        context:
          type: string
          description: Context or domain of the reference
        system_codes:
          $ref: "#/components/schemas/Codes"
        general_ledger_identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: External system reference
    GeographicBoundaryReference:
      type: object
      properties:
        geographic_boundary_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        geographic_boundary_reference_key:
          type: string
          description: Unique key value for the reference record.
        geographic_boundary_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
        context:
          type: string
          description: Context or domain of the payment schedule.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: Reference to a Payment Schedule Aggregate Root.
    GeographicBoundaryReferences:
      type: array
      items:
        $ref: "#/components/schemas/GeographicBoundaryReference"
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    IncentiveTypes:
      type: string
      description: types of incentives.
      enum:
      - DEALER
      - OEM
      - VENDOR
      - SUPPLIER
      - OTHER
    InvoiceItemStatusTypes:
      type: string
      description: types of invoice item status.
      enum:
      - DRAFT
      - ISSUED
      - PENDING_APPROVAL
      - PROCESSING_FULFILLMENT
      - BACKORDERED
      - PARTIALLY_SHIPPED
      - SHIPPED
      - DELIVERED
      - OPEN
      - PARTIALLY_PAID
      - OVERDUE
      - PAID
      - REFUNDED
      - ADJUSTED
      - APPROVED
      - DECLINED
      - DISPUTED
      - RETURNED
      - VOIDED
      - CANCELLED
      - CLOSED
      - SALES_HOLD
      - PAYMENT_HOLD
      - FINANCE_HOLD
      - CUSTOMER_HOLD
      - INTERNAL_HOLD
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the jurisdiction profile.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the jurisdiction
            profile.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "The date and time when this jurisdiction profile was last\
            \ synchronized from the source governance, legal, policy, or compliance\
            \ system."
          format: date-time
          example: 2026-07-24T14:55:09Z
        occurrence_date_time:
          type: string
          description: "The date and time when the jurisdiction profile was observed,\
            \ created, received, updated, or became effective."
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: nullable
    LedgerActionTypes:
      type: string
      description: types of ledger actions.
      enum:
      - DEBIT
      - CREDIT
      - TRANSFER
      - MEMO
      - REVERSAL
      - NONE
      - CUSTOM
      - OTHER
    LenderReference:
      type: object
      properties:
        lender_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the reference record.
        lender_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference record.
        lender_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Lender (Party) aggregate.
        context:
          type: string
          description: Context or domain of the reference.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the lender was associated with the order.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: Reference to a Lender (Party) Aggregate Root for financing details.
    LenderReferences:
      type: array
      items:
        $ref: "#/components/schemas/LenderReference"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Memo:
      type: array
      items:
        type: string
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        currency_code:
          type: string
          description: Three-letter ISO-4217 currency code.
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    OrderCategoryTypes:
      type: string
      description: types of order categorys.
      enum:
      - RETAIL
      - WHOLESALE
      - E_COMMERCE
      - COMMERCIAL
      - GOVERNMENT
      - EDUCATIONAL
      - CONTRACT
      - SUBSCRIPTION
      - DIRECT
      - FLEET
      - TRADE_IN
      - LEASE
      - CUSTOM_ORDER
      - STANDARD
      - OTHER
    OrderTypes:
      type: string
      description: types of orders.
      enum:
      - STANDARD
      - SALES
      - PURCHASE
      - RUSH
      - BACK_ORDER
      - SPECIAL
      - SUBSCRIPTION
      - SERVICE
      - MAINTENANCE
      - WARRANTY
      - SAMPLE
      - INTERNAL_TRANSFER
      - CONSIGNMENT
      - TRIAL
      - RENTAL
      - REPAIR
      - JOB
      - RETURN
    PartOrder:
      type: object
      properties:
        part_order_id:
          type: string
          description: Unique identifier for this specific Part Order.
          example: po_abc123xyz
        part_order_key:
          type: string
          description: "A unique key for the parts order, often used for external\
            \ systems integration."
          example: PARTORDER-2023-001-A
        part_order_status_type:
          $ref: "#/components/schemas/InvoiceItemStatusTypes"
        sales_pipeline_stage_type:
          $ref: "#/components/schemas/SalesPipelineStageTypes"
        sales_pipeline_state_code:
          type: string
          description: Custom state code within the current sales pipeline stage.
          example: S1-PENDING
        priority:
          type: string
          description: The priority assigned to this order.
          example: HIGH
        locale:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          example: en_US
        requested_delivery_date:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          format: date
        scheduled_ship_date:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          format: date
        actor_id:
          type: string
          description: The unique ID of the actor who performed the event.
        location_code:
          type: string
          description: The code of the inventory location or branch fulfilling this
            order.
          example: WH001
        currency:
          type: string
          description: "The currency code for the prices within this order (e.g.,\
            \ 'USD', 'EUR')."
          example: USD
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        create_date_time:
          type: string
          description: The date and time when the Part Order was created.
          format: date-time
          example: 2026-07-24T14:55:09Z
        last_event_date_time:
          type: string
          description: The date and time of the last significant event on the Part
            Order.
          format: date-time
          example: 2026-07-24T14:55:09Z
        total_quantity:
          type: string
          description: The sum of all part quantities across all line items in the
            order.
          example: "10"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        part_description:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TextualDetail"
        part_order_items:
          $ref: "#/components/schemas/PartOrderItems"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        trade_ins:
          $ref: "#/components/schemas/PartReferences"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        customer_orders:
          $ref: "#/components/schemas/CustomerOrderReferences"
        sales_orders:
          $ref: "#/components/schemas/SalesProfileReferences"
        lenders:
          $ref: "#/components/schemas/LenderReferences"
        staff_assignments:
          $ref: "#/components/schemas/StaffAssignmentReferences"
        sales_profile:
          $ref: "#/components/schemas/SalesProfileReferences"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        payment_terms:
          $ref: "#/components/schemas/PaymentTermReferences"
        payment_schedules:
          $ref: "#/components/schemas/PaymentScheduleReferences"
      description: The Aggregate Root for a Parts Order.
    PartOrderCreate:
      required:
      - part_order_key
      type: object
      description: PartOrder Create for Post
      allOf:
      - $ref: "#/components/schemas/PartOrder"
    PartOrderItem:
      type: object
      properties:
        part_order_item_id:
          type: string
          description: Unique identifier for this specific parts order line item.
          example: poi_abc123xyz
        part_order_item_key:
          type: string
          description: "A unique key for the parts order line item, often used for\
            \ external systems integration."
          example: PARTORDERITEM-2023-001-A
        line_number:
          type: string
          description: "A sequential, numerical identifier assigned to this entry\
            \ within the part order."
          example: "1"
        part_order_id:
          type: string
          description: The unique identifier of the parent PartOrder to which this
            line item belongs.
          example: po_789def456
        priority:
          type: string
          description: The priority assigned to this line item.
          example: HIGH
        currency:
          type: string
          description: The currency code for the prices.
          example: USD
        locale:
          type: string
          description: The locale code relevant to this order item.
          example: en_US
        location_code:
          type: string
          description: The code of the inventory location or branch.
          example: WH001
        total_quantity:
          type: string
          description: The quantity of this specific part in the line item.
          example: "5"
        item_date_time:
          type: string
          description: The date and time when this order item was added or last updated.
          format: date-time
          example: 2026-07-24T14:55:09Z
        description:
          type: string
          description: A detailed description of the part included in this line item.
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        unit_price:
          $ref: "#/components/schemas/Price"
        total_price:
          $ref: "#/components/schemas/Price"
        final_price:
          $ref: "#/components/schemas/Price"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        part_reference:
          $ref: "#/components/schemas/PartReference"
        trade_in_references:
          $ref: "#/components/schemas/PartReferences"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        staff_assignments:
          $ref: "#/components/schemas/StaffAssignmentReferences"
        payment_terms:
          $ref: "#/components/schemas/PaymentTermReferences"
        lenders:
          $ref: "#/components/schemas/LenderReferences"
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        shipment_references:
          $ref: "#/components/schemas/ShipmentReferences"
        part_order_status_type:
          $ref: "#/components/schemas/InvoiceItemStatusTypes"
        order_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderTypes"
        financial_events:
          $ref: "#/components/schemas/FinancialEvents"
        financial_tracks:
          $ref: "#/components/schemas/FinancialTrackReferences"
      description: not nullable
    PartOrderItems:
      type: array
      items:
        $ref: "#/components/schemas/PartOrderItem"
    PartOrderUpdate:
      type: object
      properties:
        requested_delivery_date:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          format: date
        scheduled_ship_date:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          format: date
        sales_pipeline_state_code:
          type: string
          description: Custom state code within the current sales pipeline stage.
          example: S1-PENDING
        part_description:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TextualDetail"
        sales_profile:
          $ref: "#/components/schemas/SalesProfileReferences"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        locale:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          example: en_US
        payment_terms:
          $ref: "#/components/schemas/PaymentTermReferences"
        payment_schedules:
          $ref: "#/components/schemas/PaymentScheduleReferences"
        create_date_time:
          type: string
          description: The date and time when the Part Order was created.
          format: date-time
          example: 2026-07-24T14:55:09Z
        location_code:
          type: string
          description: The code of the inventory location or branch fulfilling this
            order.
          example: WH001
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        part_order_items:
          $ref: "#/components/schemas/PartOrderItems"
        total_quantity:
          type: string
          description: The sum of all part quantities across all line items in the
            order.
          example: "10"
        currency:
          type: string
          description: "The currency code for the prices within this order (e.g.,\
            \ 'USD', 'EUR')."
          example: USD
        sales_orders:
          $ref: "#/components/schemas/SalesProfileReferences"
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        lenders:
          $ref: "#/components/schemas/LenderReferences"
        sales_pipeline_stage_type:
          $ref: "#/components/schemas/SalesPipelineStageTypes"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        last_event_date_time:
          type: string
          description: The date and time of the last significant event on the Part
            Order.
          format: date-time
          example: 2026-07-24T14:55:09Z
        staff_assignments:
          $ref: "#/components/schemas/StaffAssignmentReferences"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        priority:
          type: string
          description: The priority assigned to this order.
          example: HIGH
        part_order_status_type:
          $ref: "#/components/schemas/InvoiceItemStatusTypes"
        customer_orders:
          $ref: "#/components/schemas/CustomerOrderReferences"
        trade_ins:
          $ref: "#/components/schemas/PartReferences"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
      description: PartOrder Update for Patch and Put
    PartReference:
      type: object
      properties:
        part_reference_id:
          type: string
          description: Unique identifier value
        part_reference_key:
          type: string
          description: Unique identifier value
        name:
          type: string
          description: Product Name.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_key:
          type: string
          description: Unique identifier value
        part_master_key:
          type: string
          description: Unique identifier value
        manufacturer:
          type: string
          description: Context or domain of the identifier
        context:
          type: string
          description: Context or domain of the identifier
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:55:09Z
        unit_of_measure:
          $ref: "#/components/schemas/UnitOfMeasure"
      description: External system identifier
    PartReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartReference"
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        party_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
        primary_role_name:
          maxLength: 80
          minLength: 1
          type: string
          description: The principal functional role or stakeholder classification
            assigned to the party within this domain interaction.
          example: DEALER_OPERATOR
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-24T14:55:09Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - WARRANTY_PROVIDER
      - INSURANCE_PROVIDER
      - SUBLET_PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - SCHEDULER
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - PRIMARY_TECHNICIAN
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - FLEET_MANAGER
      - TRANSPORT_PROVIDER
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - PRIMARY_CUSTOMER
      - PRIMARY_DRIVER
      - PRIMARY_OWNER
      - VEHICLE_OWNER
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - PRIMARY_CONTACT
      - APPROVER
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
      - SHIP_TO
      - SOLD_TO
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentMethodTypes:
      type: string
      description: types of payment methods.
      enum:
      - CASH
      - CHECK
      - MONEY_ORDER
      - CASH_ON_DELIVERY
      - CREDIT_CARD
      - DEBIT_CARD
      - GIFT_CARD
      - EFT
      - ONLINE_BANK_TRANSFER
      - MOBILE_WALLET
      - CRYPTOCURRENCY
      - ONLINE_PAYMENT_PLATFORM
      - PAYROLL_DEDUCTION
      - FINANCE
      - LEASE
      - RENTAL
      - TERMS
      - DUE_ON_RECEIPT
      - TRADE_IN
      - REWARD_POINTS
      - STORE_CREDIT
      - EXCHANGE
      - NOT_APPLICABLE
      - ACH
      - WIRE_TRANSFER
      - DIGITAL_WALLET
      - FINANCING
      - INTERNAL_CREDIT
      - UNKNOWN
      - OTHER
    PaymentScheduleReference:
      type: object
      properties:
        payment_schedule_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        payment_schedule_reference_key:
          type: string
          description: Unique identifier value for the reference record.
        payment_schedule_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
        payment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        context:
          type: string
          description: Context or domain of the payment schedule.
        total_payments:
          type: integer
          description: The total number of payments in this schedule.
          format: int32
          example: 60
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-07-24T14:55:09Z
        payment_frequency:
          $ref: "#/components/schemas/DurationIntervalTypes"
        payment_amount:
          type: string
          description: The price of all products and services before tax.
        annual_percentage_rate:
          type: string
          description: Context or domain of the payment schedule.
      description: Reference to a Payment Schedule Aggregate Root.
    PaymentScheduleReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentScheduleReference"
    PaymentTermReference:
      type: object
      properties:
        term_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        term_reference_key:
          type: string
          description: Unique key value for the reference record.
        term_key:
          type: string
          description: The unique key identifying the referenced Payment Term aggregate.
        context:
          type: string
          description: Context or domain of the payment term.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the terms were applied to the order.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: "Reference to a Payment Term Aggregate Root (e.g., Net 30)."
    PaymentTermReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentTermReference"
    PaymentTransactionStatusTypes:
      type: string
      description: types of payment transaction status.
      enum:
      - NONE
      - EXPIRED
      - CAPTURED
      - CONFIRMATION
      - VOID
      - APPROVE
      - REFUNDED
      - PARTIALLY_REFUNDED
      - AUTHORIZE
      - PENDING_MERCHANT
      - SUSPENDED
      - OPEN
      - PEND
      - PROCESS
      - DECLINE
      - DUE
      - INCURRED
      - CUSTOM_CODE
      - USER_HOLD
      - ADMIN_HOLD
      - ACTIVATED
      - DEACTIVATE
      - CANCEL
      - CONFIRM
      - CLOSE
      - TRIAL
      - SUBSCRIPTION
      - OVERRIDE
      - UPGRADE
      - HOLD_ON_RENEWAL
      - HOLD_ON_DATE
      - PAYMENT
      - DOWNGRADE
    PaymentTypes:
      type: string
      description: types of payments.
      enum:
      - OUTRIGHT_PURCHASE
      - FINANCED_PURCHASE
      - SUBSCRIPTION
      - DEPOSIT
      - PROGRESS_PAYMENT
      - SCHEDULED_PAYMENT
      - CONSUMPTION_BASED
      - CUSTOM_AGREEMENT
      - CASH
      - BALLON
      - LEASE
      - LEASE_NO_BUYOUT
      - LEASE_BUYOUT
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
        person_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        person_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
      description: a Name for a person
    Price:
      type: object
      properties:
        price_id:
          type: string
          description: Unique system identifier for the price record.
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        display_amount:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        amount:
          $ref: "#/components/schemas/Money"
        tax_amount:
          $ref: "#/components/schemas/Money"
        taxable_amount:
          $ref: "#/components/schemas/Money"
        non_taxable_amount:
          $ref: "#/components/schemas/Money"
        total_amount:
          $ref: "#/components/schemas/Money"
        total_cost_amount:
          $ref: "#/components/schemas/Money"
        unit_cost_amount:
          $ref: "#/components/schemas/Money"
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PricePlanReference:
      type: object
      properties:
        price_plan_reference_id:
          type: string
          description: Unique identifier value
        price_plan_reference_key:
          type: string
          description: Unique identifier value
        price_plan_key:
          type: string
          description: Unique identifier value
        price_levels:
          $ref: "#/components/schemas/Codes"
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:55:09Z
        geographic_boundaries:
          $ref: "#/components/schemas/GeographicBoundaryReferences"
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
        price_types:
          $ref: "#/components/schemas/PriceTypes"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        pricing_version:
          type: string
          description: Version of the Price
        pricing_reason:
          type: string
          description: Version of the Reason
      description: External system identifier
    PricePlanReferences:
      type: array
      items:
        $ref: "#/components/schemas/PricePlanReference"
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - INVOICE
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - TOTAL_ACCESSORY
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - BASE_INVOICE_AMOUNT
      - DESTINATION_CHARGE
      - ADVERTISING_ASSESSMENT
      - HOLDBACK_AMOUNT
      - WDA_AMOUNT
      - TDA_AMOUNT
      - FLOORPLAN_ASSISTANCE_AMOUNT
      - DEALER_CASH_AMOUNT
      - REGIONAL_ADJUSTMENT_AMOUNT
      - PORT_INSTALLED_OPTION_AMOUNT
      - FACTORY_OPTION_AMOUNT
      - DEALER_INSTALLED_OPTION_AMOUNT
      - FREIGHT_CHARGE_AMOUNT
      - FUEL_CHARGE_AMOUNT
      - PACKAGING_OPTION_AMOUNT
      - OEM_INCENTIVE_AMOUNT
      - DEALER_NET_AMOUNT
      - LANDED_COST_AMOUNT
      - OTHER
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    ProductPriceItemTypes:
      type: string
      description: types of product price items.
      enum:
      - SUBTOTAL
      - TOTAL_DISCOUNTS
      - TOTAL_REBATES
      - TOTAL_CREDITS
      - TOTAL_REWARDS
      - TOTAL_FEES
      - TOTAL_TAXES
      - TOTAL_FREIGHT
      - TOTAL_SHIPPING
      - GRAND_TOTAL
      - PRODUCT
      - SERVICE
      - FEE
      - DISCOUNT
      - REBATE
      - CREDIT
      - REWARD
      - TAX
      - OTHER
      - SHIPPING_AND_HANDLING
      - FREIGHT
      - SERVICE_CHARGE
      - PACKAGING
      - SURCHARGE
      - DEPOSIT_PAID
      - UNIT
      - NET
      - ITEMS
      - ORDERED
      - INVOICED
      - PAID
      - OUTSTANDING
      - TOTAL_OPTION_MSRP
      - TOTAL_DEALER_OPTION_COST
      - FUEL
      - FREIGHT_CHARGE
      - PPO_HOLD_BACK
      - TOTAL
    ProductStateTypes:
      type: string
      description: types of product states.
      enum:
      - NEW
      - USED
      - REFURBISHED
      - CERTIFIED
      - DEMO
      - RENTAL
      - IN_TRANSIT
      - DISCONTINUED
      - ARCHIVED
      - CUSTOMER_OWNED
      - PARTNER_OWNED
      - THIRD_PARTY_OWNED
      - COMPANY_OWNED
      - UNKNOWN
    ProductTypes:
      type: string
      description: types of products.
      enum:
      - VEHICLE
      - INFORMATION
      - DURABLE_GOODS
      - SOFTWARE
      - APP
      - INSURANCE
      - FINANCE
      - SERVICE
      - PART
      - ACCESSORY
      - F_N_I_PRODUCT
      - SERVICE_PACKAGE
      - DEALER_PRODUCT
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - OTHER
    RebateReference:
      type: object
      properties:
        rebate_reference_id:
          type: string
          description: Unique identifier value
        rebate_reference_key:
          type: string
          description: Unique identifier value
        rebate_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:55:09Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
        rebate_name:
          type: string
          description: The name of the rebate for search result display.
        rebate_price:
          $ref: "#/components/schemas/Price"
        capitalized_indicator:
          type: boolean
          description: Indicates if the rebate is capitalized in lease deals.
          example: false
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        location_code:
          type: string
          description: Regional applicability code for the rebate.
        incentive_type:
          $ref: "#/components/schemas/IncentiveTypes"
        rebate_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        rebate_href:
          type: string
          description: Hyperlink to the full Rebate resource.
          format: href
      description: External system identifier
    RebateReferences:
      type: array
      items:
        $ref: "#/components/schemas/RebateReference"
    ResourceTypes:
      type: string
      description: types of resources.
      enum:
      - SYSTEM
      - WORKFLOW
      - ACTIVITY
      - FUNCTION
      - PROCESS
      - INCIDENT
      - PARTY
      - CUSTOMER
      - APPLICANT
      - VENDOR
      - DEALER_STAFF
      - DRIVER
      - ADDRESS
      - BILL_ADDRESS
      - BILL_CONTACT
      - COMM_CHANNEL
      - ACCOUNT
      - VEHICLE
      - TRADE_IN
      - PRODUCT
      - MANUFACTURER
      - LEAD
      - OPPORTUNITY
      - DEAL
      - FINANCE
      - INVOICE
      - LINEITEM
      - EXPENSE
      - DISCOUNT
      - TAX
      - FEE
      - INCENTIVE
      - DEALERSHIP
      - PART
      - ACCESSORIES
      - PURCHASE_ORDER
      - VEHICLE_OPTION
      - RENTAL
      - SUBSCRIPTION
      - INSURANCE
      - WARRANTY
      - SERVICE
      - VEHICLE_INVOICE
      - PART_INVOICE
      - SERVICE_INVOICE
      - APPOINTMENT
      - OTHER
    RewardReference:
      type: object
      properties:
        reward_reference_id:
          type: string
          description: Unique identifier value
        reward_reference_key:
          type: string
          description: Unique identifier value
        reward_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:55:09Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
      description: External system identifier
    RewardReferences:
      type: array
      items:
        $ref: "#/components/schemas/RewardReference"
    RoleTypes:
      type: string
      description: types of roles.
      enum:
      - GEN_MGR
      - CLOSING_MGR
      - FI_MGR
      - SALES_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - FINANCE
      - CONCIERGE_STAFF
      - CONCIERGE_MGR
      - VALET
      - VALET_OPERATOR
      - SERVICE_MGR
      - SERVICE_TECH
      - STAFF
      - SPECIALIST
      - ADVISOR
      - DISPATCHER
      - PRIMARY_TECHNICIAN
      - HELPER_TECHNICIAN
      - SERVICE_ADVISOR
      - VALET_DRIVER
      - MOBILE_DISPATCHER
      - QUALITY_CONTROL
      - INSPECTOR
      - TECHNICIAN
      - MOBILE_SERVICE_VAN
      - TOW_TRUCK
      - AUTONOMOUS_SYSTEM
      - SUBLET_VENDOR
    SalesPipelineStageTypes:
      type: string
      description: types of sales pipeline stages.
      enum:
      - PROSPECT
      - INITIATE
      - CONTACT
      - QUALIFY
      - QUALIFIED
      - DISCOVERY
      - SOLUTION_PRESENTATION
      - PROPOSAL_BUILD
      - CUSTOMER_PROPOSAL
      - SALES_QUOTE
      - NEGOTIATION
      - CONTRACT_SENT
      - APPOINTMENT
      - PENDING_COMMITMENT
      - BOOK
      - DELIVERY
      - CLOSE_WON
      - CLOSE_LOST
      - POST
      - FINAL
      - ONBOARDING
      - IMPLEMENTATION
      - POST_SALE_FOLLOW_UP
    SalesProfileReference:
      type: object
      properties:
        profile_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the reference record.
        profile_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference record.
        profile_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Sales Profile aggregate.
        context:
          type: string
          description: Context or domain of the profile.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the profile was applied to the order.
          format: date-time
          example: 2026-07-24T14:55:09Z
      description: Reference to a Sales Profile or Strategy Aggregate Root.
    SalesProfileReferences:
      type: array
      items:
        $ref: "#/components/schemas/SalesProfileReference"
    ServiceJobTypes:
      type: string
      description: types of service jobs.
      enum:
      - SERVICE
      - WARRANTY
      - SALES
      - MAINTENANCE
      - ACCESSORIES
      - PARTS
      - F_AND_I
      - TRADE_IN
      - EVALUATION
      - RECALL
      - LABOR
      - REPAIR_ORDER
      - INSTALLATION
      - PDI_INSPECTION
      - BODY_SHOP
      - FLEET
      - MOBILE
      - LOGISTICS
      - QUICK_LUBE
      - CLOUD_ASSISTED_DIAGNOSTIC
      - FIELD_SERVICE_ACTION
      - TECHNICAL_SERVICE_BULLETIN
    ServiceLevelTypes:
      type: string
      description: types of service levels.
      enum:
      - GROUND
      - TWO_DAY_AIR
      - OVERNIGHT
      - SAME_DAY
      - LOCAL_DELIVERY
      - FREIGHT
      - PICKUP
    ShipmentReference:
      type: object
      properties:
        shipment_reference_id:
          type: string
          description: Internal unique identifier for the shipment reference record.
          example: shp-ref-55092
        shipment_reference_key:
          type: string
          description: Natural business key for the shipment reference.
          example: LOGISTICS_ESTIMATE_2026_001
        shipment_key:
          type: string
          description: Key for the shipment
          example: OEM_LOGISTICS
        tracking_number:
          $ref: "#/components/schemas/ShipmentTrackingNumber"
        context:
          type: string
          description: "The domain or carrier context of the shipment (e.g., 'FEDEX',\
            \ 'CASSENS', 'OEM_LOGISTICS')."
          example: OEM_LOGISTICS
        system_codes:
          $ref: "#/components/schemas/Codes"
        carrier_party:
          $ref: "#/components/schemas/CarrierParty"
        occurrence_date_time:
          type: string
          description: The timestamp when the shipment was initiated or the record
            was created.
          format: date-time
          example: 2026-07-24T14:55:09Z
        unit_of_measures:
          $ref: "#/components/schemas/UnitOfMeasures"
        estimated_delivery_period:
          $ref: "#/components/schemas/DeliveryWindow"
        shipment_state_type:
          $ref: "#/components/schemas/ShipmentStateTypes"
        carrier_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The display name of the carrier associated with the shipment
            reference.
          example: UPS
        carrier_tracking_url:
          maxLength: 2000
          minLength: 1
          type: string
          description: The carrier-provided URL used to track the shipment.
          example: https://carrier.example.com/track/TRK123456789
        ship_from_party:
          $ref: "#/components/schemas/PartyReference"
        ship_to_party:
          $ref: "#/components/schemas/PartyReference"
        service_level_type:
          $ref: "#/components/schemas/ServiceLevelTypes"
      description: Reference details for the logistics and shipment of a vehicle during
        the RDR process.
    ShipmentReferences:
      type: array
      items:
        $ref: "#/components/schemas/ShipmentReference"
    ShipmentStateTypes:
      type: string
      description: types of shipment states.
      enum:
      - OPEN
      - ACTIVE
      - TRACKED
      - DELIVERED
      - RETURNED_TO_WAREHOUSE
      - LOST_IN_TRANSIT
    ShipmentTrackingNumber:
      type: string
      description: The external tracking number.
      example: TRK123456789
    SkillCategoryTypes:
      type: string
      description: types of skill categorys.
      enum:
      - MECHANICAL
      - ELECTRICAL_EV
      - AUTONOMOUS_SOFTWARE
      - FLEET_LOGISTICS
      - BODY_STRUCTURAL
    StaffAssignmentReference:
      type: object
      properties:
        staff_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the reference record.
        staff_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference record.
        staff_key:
          maxLength: 50
          minLength: 5
          type: string
[...]
