openapi: 3.0.1
info:
  title: Automotive Retail Systems API - PartOrder
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: DiscountMetricValues
  description: Tag Description DiscountMetricValues
- name: Health
  description: Tag Description Health
- name: PartOrderItems
  description: Tag Description PartOrderItems
- name: PartOrders
  description: Tag Description PartOrders
- name: StaffSkills
  description: Tag Description StaffSkills
paths:
  /part-orders:
    get:
      tags:
      - PartOrders
      summary: Returns a paginated list of part order
      description: a list of PartOrder
      operationId: listPartOrders
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PartOrderCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    post:
      tags:
      - PartOrders
      summary: create part order
      description: create PartOrder
      operationId: createPartOrder
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartOrderCreate"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/PartOrderCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /part-orders/{part-order-key}:
    get:
      tags:
      - PartOrders
      summary: Retrieve a single item scoped by a key PartOrder entities.
      description: Retrieve a single item scoped by a key PartOrder entities.
      operationId: getPartOrderByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PartOrderKey"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PartOrderSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    put:
      tags:
      - PartOrders
      summary: Replace values in a single item scoped by a key PartOrder entities.
      description: Replace values in a single item scoped by a key PartOrder entities.
      operationId: replacePartOrderByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PartOrderKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartOrderUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/PartOrderUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    delete:
      tags:
      - PartOrders
      summary: Delete a single item scoped by a key PartOrder
      description: delete a PartOrder
      operationId: deletePartOrder
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/ReasonQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PartOrderKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PartOrderSingleResponse"
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    patch:
      tags:
      - PartOrders
      summary: Update a single item scoped by a key PartOrder
      description: update a single item
      operationId: updatePartOrderByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PartOrderKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/PartOrderUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/PartOrderUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /part-orders/{part-order-key}/staff-skills:
    get:
      tags:
      - StaffSkills
      summary: Returns a paginated list of staff skill
      description: a list of StaffSkill
      operationId: listStaffSkillsByPartOrderKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/StaffSkillCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/staff-skills/{staff-skill-key}:
    get:
      tags:
      - StaffSkills
      summary: Retrieve a single item scoped by a key StaffSkill entities.
      description: Retrieve a single item scoped by a key StaffSkill entities.
      operationId: getStaffSkillByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/StaffSkillKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/StaffSkillSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/staff-assignment-references:
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/staff-assignment-references/{staff-assignment-reference-key}:
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/part-order-items:
    get:
      tags:
      - PartOrderItems
      summary: Returns a paginated list of part order item
      description: a list of PartOrderItem
      operationId: listPartOrderItemsByPartOrderKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PartOrderItemCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/part-order-items/{part-order-item-key}:
    get:
      tags:
      - PartOrderItems
      summary: Retrieve a single item scoped by a key PartOrderItem entities.
      description: Retrieve a single item scoped by a key PartOrderItem entities.
      operationId: getPartOrderItemByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PartOrderItemKey"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PartOrderItemSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/sales-profile-references:
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/sales-profile-references/{sales-profile-reference-key}:
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/customer-order-references:
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/customer-order-references/{customer-order-reference-key}:
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/discount-metric-values:
    get:
      tags:
      - DiscountMetricValues
      summary: Returns a paginated list of discount metric value
      description: a list of DiscountMetricValue
      operationId: listDiscountMetricValuesByPartOrderKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/DiscountMetricValueCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/discount-metric-values/{discount-metric-value-key}:
    get:
      tags:
      - DiscountMetricValues
      summary: Retrieve a single item scoped by a key DiscountMetricValue entities.
      description: Retrieve a single item scoped by a key DiscountMetricValue entities.
      operationId: getDiscountMetricValueByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/DiscountMetricValueKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/DiscountMetricValueSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/lender-references:
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/lender-references/{lender-reference-key}:
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/financial-track-references:
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-orders/{part-order-key}/financial-track-references/{financial-track-reference-key}:
    parameters:
    - $ref: "#/components/parameters/PartOrderKey"
  /part-order/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the PartOrder root node.
      operationId: healthPartOrder
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
          example: "840277005708722176"
        address_reference_id:
          type: string
          description: The unique value of the address reference.
          example: "840277005708722177"
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: address_types list
          example:
          - DELIVERY
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
          example: 123 Main St
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Suite 400
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Building A
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Mail Stop 22
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: "Attention: Accounts Payable"
        city:
          type: string
          description: Name of the city.
          example: Atlanta
        country_code:
          type: string
          description: Full name of the country.
          example: US
        district:
          type: string
          description: Name of the district.
          example: North District
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
          example: Work Email
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
          example: "30303"
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
          example: GA
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      example: BILLING
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:19:01Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
          example: "840277005708722178"
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
          example: "840277005708722179"
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
          example: "840277005708722180"
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
          example: user@example.com
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
          example: "{country_code=+1}"
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
          example: Work Email
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      example: PHONE
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277005708722181"
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277005708722182"
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277005708722183"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:01Z
      description: External system identifier
    CreditReference:
      type: object
      properties:
        credit_reference_id:
          type: string
          description: Unique identifier value
          example: "840277005708722184"
        credit_reference_key:
          type: string
          description: Unique identifier value
          example: "840277005708722185"
        credit_key:
          type: string
          description: Unique identifier value
          example: "840277005708722186"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:01Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
      description: External system identifier
    CreditReferences:
      type: array
      items:
        $ref: "#/components/schemas/CreditReference"
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:19:01Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    CustomerOrderReference:
      type: object
      properties:
        order_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the customer order reference record.
          example: "840277005708722187"
        order_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the customer order reference record.
          example: "840277005708722188"
        customer_order_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Customer Order aggregate.
          example: "840277005708722189"
        context:
          type: string
          description: "Context or domain of the customer order reference (e.g., 'ERP',\
            \ 'E-COMMERCE')."
          example: FINANCE
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the customer order was linked to this part
            order.
          format: date-time
          example: 2026-05-07T17:19:01Z
      description: Reference to a Customer Order Aggregate Root related to this Part
        Order.
    CustomerOrderReferences:
      type: array
      items:
        $ref: "#/components/schemas/CustomerOrderReference"
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      example: SUN
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DiscountMetricValue:
      type: object
      properties:
        uom:
          $ref: "#/components/schemas/UnitOfMeasureTypes"
        value:
          type: string
          description: The numeric value of the metric.
          example: "5551235545"
        locales:
          $ref: "#/components/schemas/Codes"
        metric_value_key:
          type: string
          description: Unique identifier for the metric value.
          example: METRIC_KEY_ABC
      description: value price with unit of measure
    DiscountMetricValues:
      type: array
      items:
        $ref: "#/components/schemas/DiscountMetricValue"
    DiscountReference:
      type: object
      properties:
        discount_reference_id:
          type: string
          description: Unique identifier value
          example: "840277005708722190"
        discount_reference_key:
          type: string
          description: Unique identifier value
          example: "840277005708722191"
        discount_key:
          type: string
          description: Unique identifier value
          example: "840277005708722192"
        unit_count:
          type: string
          description: Unique identifier value
          example: "1"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:01Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
        discount_plan_name:
          type: string
          description: The display name of the discount for search results.
          example: Loyalty Rebate
        discount_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        discount_href:
          type: string
          description: Hyperlink to the full Discount entity for deep-linking.
          format: href
          example: /discounts/123
        discount_metric_values:
          $ref: "#/components/schemas/DiscountMetricValues"
        discount_price:
          $ref: "#/components/schemas/Price"
        capitalized_indicator:
          type: boolean
          description: Indicates if the discount is capitalized (crucial for Lease
            calculations).
          example: true
        purchase_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: purchase_types list
          example:
          - LEASE
          items:
            $ref: "#/components/schemas/OrderCategoryTypes"
        product_state_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: product_state_types list
          example:
          - CERTIFIED
          items:
            $ref: "#/components/schemas/ProductStateTypes"
        location_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    DiscountReferences:
      type: array
      items:
        $ref: "#/components/schemas/DiscountReference"
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      example: ONE_TIME
      enum:
      - ONE_TIME
      - RECUR
      - MINUTES
      - HOURLY
      - DAILY
      - WEEKLY
      - BI_WEEKLY
      - SEMI_MONTHLY
      - MONTHLY
      - QUARTERLY
      - SEMI_YEAR
      - YEARLY
      - MULTI_YEAR
      - LIFETIME
      - CUSTOM
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      example: MINUTES
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-07T17:19:01Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-07T17:19:01Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: A unique identifier for this specific request.
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: Field-level validation errors or granular diagnostic information.
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            type: object
            properties:
              field:
                type: string
                description: The JSON path or field name that caused the error.
                example: payrollId
              issue:
                type: string
                description: The specific validation rule that failed.
                example: must be unique
              rejected_value:
                type: string
                description: The value that was sent and rejected (only if non-sensitive).
                example: "12345"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    ExitConsiderationTypes:
      type: string
      description: types of exit considerations.
      example: BUYOUT_ALLOWED
      enum:
      - BUYOUT_ALLOWED
      - RETURN_NOT_ALLOWED
      - RETURN_ALLOWED
      - BUYOUT_NOT_ALLOWED
    FeeReference:
      type: object
      properties:
        fee_reference_id:
          type: string
          description: Unique identifier value
          example: "840277005708722193"
        fee_reference_key:
          type: string
          description: Unique identifier value
          example: "840277005708722194"
        fee_key:
          type: string
          description: Unique identifier value
          example: "840277005708722195"
        unit_count:
          type: string
          description: Unique identifier value
          example: "91"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        system_codes:
          $ref: "#/components/schemas/Codes"
        fee:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:01Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
      description: External system identifier
    FeeReferences:
      type: array
      items:
        $ref: "#/components/schemas/FeeReference"
    FinancialCategoryReference:
      type: object
      properties:
        category_reference_id:
          type: string
          description: Unique identifier value for the financial category reference
            record.
          example: "840277005708722196"
        category_reference_key:
          type: string
          description: Unique key value for the financial category reference record.
          example: "840277005708722197"
        category_key:
          type: string
          description: The unique key identifying the referenced Financial Category
            aggregate.
          example: "840277005708722198"
        context:
          type: string
          description: "Context or domain of the financial category (e.g., 'INCOME',\
            \ 'BALANCE_SHEET')."
          example: FINANCE
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financial category was assigned or referenced.
          format: date-time
          example: 2026-05-07T17:19:01Z
      description: "Reference to a Financial Category Aggregate Root (e.g., Revenue,\
        \ Expense, Asset)."
    FinancialCategoryReferences:
      type: array
      items:
        $ref: "#/components/schemas/FinancialCategoryReference"
    FinancialEvent:
      type: object
      properties:
        financial_event_id:
          type: string
          description: System-generated ID for the financial event.
          example: FE-998877
        financial_event_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        payment_provider:
          type: string
          description: The payment provider handling this transaction.
          example: Stripe
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        from_voided_apcheck_indicator:
          type: boolean
          description: Indicates whether this event originated from a voided accounts
            payable check.
          example: false
        confirmation_code:
          type: string
          description: Confirmation code for the financial transaction.
          example: CNF-987654
        forecast_indicator:
          type: boolean
          description: Confirmation code for the financial transaction.
          example: false
        payment_method_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        payment_methods_href:
          type: string
          description: Hyperlink reference to payment method details.
          format: href
          example: https://api.example.com/payment-methods/pm_123
        payment_method_key:
          type: string
          description: Unique key for the specific payment method used.
          example: pm_12345
        capability_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time when the financial event occurred.
          format: date-time
          example: 2026-05-07T17:19:01Z
        post_date:
          type: string
          description: The posting date of the financial transaction.
          format: date
          example: 2026-04-11
        transaction_date:
          type: string
          description: The date the transaction was executed.
          format: date
          example: 2026-04-21
        batch_number:
          type: string
          description: The batch number associated with this transaction.
          example: BATCH-2025-001
        previous_event_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: previous_event_types list
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            $ref: "#/components/schemas/PaymentTransactionStatusTypes"
        staff_id:
          type: string
          description: Identifier for the staff member who processed the transaction.
          example: staff_001
        provider_transaction_id:
          type: string
          description: Unique transaction ID from the payment provider.
          example: txn_87654321
        event_description:
          $ref: "#/components/schemas/TextualDetail"
        reason_codes:
          $ref: "#/components/schemas/Codes"
        financial_event_type:
          $ref: "#/components/schemas/FinancialEventTypes"
        resource_type:
          $ref: "#/components/schemas/ResourceTypes"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        resource_keys:
          $ref: "#/components/schemas/Codes"
        transaction_hash:
          type: string
          description: Unique cryptographic hash of the transaction.
          example: abc123def456
        tracking_ref:
          type: string
          description: Tracking reference for the transaction.
          example: track_98765
        transaction_ref:
          type: string
          description: Internal reference for the transaction.
          example: txn_ref_12345
        event_fee:
          type: string
          description: Fee amount associated with the financial event.
          example: "5.00"
        amount:
          $ref: "#/components/schemas/Money"
        deposit_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        deposit_id:
          type: string
          description: Unique identifier for the deposit.
          example: dep_123456
        deposit_addr:
          type: string
          description: The deposit address for cryptocurrency or other digital asset
            transactions.
          example: 1A2b3C4d5E6f...
        seed_phrase:
          type: string
          description: The seed phrase associated with a wallet (if applicable).
          example: correct horse battery staple
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        actor_id:
          type: string
          description: Identifier of the actor who initiated or is responsible for
            the financial event.
          example: actor_123
        financial_categories:
          $ref: "#/components/schemas/FinancialCategoryReferences"
      description: Payment details for this product.
    FinancialEventTypes:
      type: string
      description: types of financial events.
      example: PAYMENT_STATUS_CHANGE
      enum:
      - PAYMENT_STATUS_CHANGE
      - REFUND_STATUS_CHANGE
      - RECURRING_PAYMENT_STATUS_CHANGE
      - PAYMENT_UPDATE
      - VOID
      - PAYMENT_CREATE
    FinancialEvents:
      type: array
      items:
        $ref: "#/components/schemas/FinancialEvent"
    FinancialSplit:
      type: object
      properties:
        financial_split_id:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        financial_split_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        reference_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price_name:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price_description:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price:
          $ref: "#/components/schemas/Price"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        financial_categories:
          $ref: "#/components/schemas/FinancialCategoryReferences"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        ledger_types:
          $ref: "#/components/schemas/FinancialTransactionTypes"
        price_type:
          $ref: "#/components/schemas/ProductPriceItemTypes"
        tax_splits:
          $ref: "#/components/schemas/TaxSplits"
        reward_references:
          $ref: "#/components/schemas/RewardReferences"
        credit_references:
          $ref: "#/components/schemas/CreditReferences"
        rebate_references:
          $ref: "#/components/schemas/RebateReferences"
        discount_references:
          $ref: "#/components/schemas/DiscountReferences"
        fee_references:
          $ref: "#/components/schemas/FeeReferences"
        parties:
          $ref: "#/components/schemas/PartyReferences"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: Payment details for this product.
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the reference record.
          example: "840277005708722199"
        financial_split_reference_key:
          type: string
          description: Unique key value for the reference record.
          example: "840277005708722200"
        financial_split_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Payment FinancialSplit
            aggregate.
          example: "840277005708722201"
        context:
          type: string
          description: Context or domain of the payment financialSplit.
          example: FINANCE
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        total:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associated with the
            order.
          format: date-time
          example: 2026-05-07T17:19:01Z
      description: Reference to a Payment FinancialSplit Aggregate Root.
    FinancialSplits:
      type: array
      items:
        $ref: "#/components/schemas/FinancialSplit"
    FinancialTrackReference:
      type: object
      properties:
        track_reference_id:
          type: string
          description: Unique identifier value for the financial track reference record.
          example: "840277005708722202"
        track_reference_key:
          type: string
          description: Unique key value for the financial track reference record.
          example: "840277005708722203"
        track_key:
          type: string
          description: The unique key identifying the referenced Financial Track aggregate
            (the actual journal entry).
          example: "840277005708722204"
        context:
          type: string
          description: "Context or domain of the financial tracking (e.g., 'GL', 'ERP')."
          example: FINANCE
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financial track entry was generated.
          format: date-time
          example: 2026-05-07T17:19:01Z
      description: "Reference to a Financial Track Aggregate Root (e.g., a Journal\
        \ Entry)."
    FinancialTrackReferences:
      type: array
      items:
        $ref: "#/components/schemas/FinancialTrackReference"
    FinancialTransactionTypes:
      type: string
      description: types of financial transactions.
      example: ASSETS
      enum:
      - ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - EQUITY
      - INVENTORY
      - INTANGIBLE_ASSET
      - PREPAID_EXPENSE
      - INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - SALES_DISCOUNT
      - RETURNS
      - CASH_INFLOW
      - CASH_OUTFLOW
      - BANK_CHARGE
      - LOAN_RECEIVABLE
      - LOAN_PAYABLE
      - INVESTMENT
      - DIVIDEND
      - INTEREST_INCOME
      - INTEREST_EXPENSE
      - OBLIGATION_NOTE
      - OBLIGATION_CREDIT
      - OBLIGATION_TAX
      - OBLIGATION_OTHER
      - TAX_PAYABLE
      - DEFERRED_REVENUE
      - ACCRUED_EXPENSE
      - PROVISION
      - DEBIT
      - CREDIT
      - CAPITALIZATION
      - AMORTIZATION
      - VARIANCE
      - INVOICE
      - RECEIPT
      - RECEIVABLE_RECEIPT
      - DISBURSEMENT
      - TRANSFER
      - SERVICE
      - FEE
      - REBATE
      - OTHER
      - CUSTOM
    GeographicBoundaryReference:
      type: object
      properties:
        geographic_boundary_reference_id:
          type: string
          description: Unique identifier value for the reference record.
          example: "840277005708722205"
        geographic_boundary_reference_key:
          type: string
          description: Unique key value for the reference record.
          example: "840277005708722206"
        geographic_boundary_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
          example: "840277005708722207"
        context:
          type: string
          description: Context or domain of the payment schedule.
          example: FINANCE
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-05-07T17:19:01Z
      description: Reference to a Payment Schedule Aggregate Root.
    GeographicBoundaryReferences:
      type: array
      items:
        $ref: "#/components/schemas/GeographicBoundaryReference"
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          description: Current health status of the service.
          example: UP
        version:
          type: string
          description: Version of the deployed service.
          example: 2.0.0
      description: Standard health check response body
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277005708722208"
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
          example: "840277005708722209"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        value:
          type: string
          description: The monetary or hours-based value of the event.
          example: user@example.com
        detail:
          type: string
          description: The monetary or hours-based value of the event.
          example: Primary identifier
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
          example: identifier_type value
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    IncentiveTypes:
      type: string
      description: types of incentives.
      example: DEALER
      enum:
      - DEALER
      - OEM
      - VENDOR
      - SUPPLIER
      - OTHER
    LedgerActionTypes:
      type: string
      description: types of ledger actions.
      example: DEBIT
      enum:
      - DEBIT
      - CREDIT
      - TRANSFER
      - CUSTOM
      - OTHER
    LenderReference:
      type: object
      properties:
        lender_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the reference record.
          example: "840277005708722210"
        lender_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference record.
          example: "840277005708722211"
        lender_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Lender (Party) aggregate.
          example: "840277005708722212"
        context:
          type: string
          description: Context or domain of the reference.
          example: FINANCE
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the lender was associated with the order.
          format: date-time
          example: 2026-05-07T17:19:01Z
      description: Reference to a Lender (Party) Aggregate Root for financing details.
    LenderReferences:
      type: array
      items:
        $ref: "#/components/schemas/LenderReference"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
          example: "840277005708722213"
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
          example: English (US)
        description:
          type: string
          description: A detailed description of the alert message.
          example: Vehicle engine component.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
          example: en
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: US
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
          example: $
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
          example: America/New_York
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
          example: "###,###.##"
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: not nullable
    Memo:
      type: array
      items:
        type: string
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        vin:
          $ref: "#/components/schemas/Vin"
        currency_code:
          type: string
          description: money.currency.code.desc
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        value:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    OrderCategoryTypes:
      type: string
      description: types of order categorys.
      example: RETAIL
      enum:
      - RETAIL
      - WHOLESALE
      - E_COMMERCE
      - COMMERCIAL
      - GOVERNMENT
      - EDUCATIONAL
      - CONTRACT
      - SUBSCRIPTION
      - DIRECT
      - FLEET
      - TRADE_IN
      - LEASE
      - CUSTOM_ORDER
      - STANDARD
      - OTHER
    OrderTypes:
      type: string
      description: types of orders.
      example: STANDARD
      enum:
      - STANDARD
      - SALES
      - PURCHASE
      - RUSH
      - BACK_ORDER
      - SPECIAL
      - SUBSCRIPTION
      - SERVICE
      - MAINTENANCE
      - WARRANTY
      - SAMPLE
      - INTERNAL_TRANSFER
      - CONSIGNMENT
      - TRIAL
      - RENTAL
      - REPAIR
      - JOB
      - RETURN
    PartInvoiceStatusTypes:
      type: string
      description: types of part invoice status.
      example: DRAFT
      enum:
      - DRAFT
      - ISSUED
      - PENDING_APPROVAL
      - PROCESSING_FULFILLMENT
      - BACKORDERED
      - PARTIALLY_SHIPPED
      - SHIPPED
      - DELIVERED
      - OPEN
      - PARTIALLY_PAID
      - OVERDUE
      - PAID
      - REFUNDED
      - ADJUSTED
      - APPROVED
      - DECLINED
      - DISPUTED
      - RETURNED
      - VOIDED
      - CANCELLED
      - CLOSED
      - SALES_HOLD
      - PAYMENT_HOLD
      - FINANCE_HOLD
      - CUSTOMER_HOLD
      - INTERNAL_HOLD
    PartOrder:
      type: object
      properties:
        part_order_id:
          type: string
          description: Unique identifier for this specific Part Order.
          example: po_abc123xyz
        part_order_key:
          type: string
          description: "A unique key for the parts order, often used for external\
            \ systems integration."
          example: PARTORDER-2023-001-A
        part_order_status_type:
          $ref: "#/components/schemas/PartInvoiceStatusTypes"
        sales_pipeline_stage_type:
          $ref: "#/components/schemas/SalesPipelineStageTypes"
        sales_pipeline_state_code:
          type: string
          description: Custom state code within the current sales pipeline stage.
          example: S1-PENDING
        priority:
          type: string
          description: The priority assigned to this order.
          example: HIGH
        locale:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          example: en_US
        requested_delivery_date:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          format: date
          example: 2026-04-18
        scheduled_ship_date:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          format: date
          example: 2026-04-08
        actor_id:
          type: string
          description: The unique ID of the actor who performed the event.
          example: "840277005708722214"
        location_code:
          type: string
          description: The code of the inventory location or branch fulfilling this
            order.
          example: WH001
        currency:
          type: string
          description: "The currency code for the prices within this order (e.g.,\
            \ 'USD', 'EUR')."
          example: USD
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        create_date_time:
          type: string
          description: The date and time when the Part Order was created.
          format: date-time
          example: 2026-05-07T17:19:01Z
        last_event_date_time:
          type: string
          description: The date and time of the last significant event on the Part
            Order.
          format: date-time
          example: 2026-05-07T17:19:01Z
        total_quantity:
          type: string
          description: The sum of all part quantities across all line items in the
            order.
          example: "10"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        part_description:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: "Detailed description of the part being ordered, including\
            \ type and key characteristics."
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            $ref: "#/components/schemas/TextualDetail"
        part_order_items:
          $ref: "#/components/schemas/PartOrderItems"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        trade_ins:
          $ref: "#/components/schemas/PartReferences"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        customer_orders:
          $ref: "#/components/schemas/CustomerOrderReferences"
        sales_orders:
          $ref: "#/components/schemas/SalesProfileReferences"
        lenders:
          $ref: "#/components/schemas/LenderReferences"
        staff_assignments:
          $ref: "#/components/schemas/StaffAssignmentReferences"
        sales_profile:
          $ref: "#/components/schemas/SalesProfileReferences"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: payment_types list
          example:
          - FINANCED_PURCHASE
          items:
            $ref: "#/components/schemas/PaymentTypes"
        payment_terms:
          $ref: "#/components/schemas/PaymentTermReferences"
        payment_schedules:
          $ref: "#/components/schemas/PaymentScheduleReferences"
      description: The Aggregate Root for a Parts Order.
    PartOrderCreate:
      required:
      - part_order_key
      type: object
      description: PartOrder Create for Post
      allOf:
      - $ref: "#/components/schemas/PartOrder"
    PartOrderItem:
      type: object
      properties:
        part_order_item_id:
          type: string
          description: Unique identifier for this specific parts order line item.
          example: poi_abc123xyz
        part_order_item_key:
          type: string
          description: "A unique key for the parts order line item, often used for\
            \ external systems integration."
          example: PARTORDERITEM-2023-001-A
        line_number:
          type: string
          description: "A sequential, numerical identifier assigned to this entry\
            \ within the part order."
          example: "1"
        part_order_id:
          type: string
          description: The unique identifier of the parent PartOrder to which this
            line item belongs.
          example: po_789def456
        priority:
          type: string
          description: The priority assigned to this line item.
          example: HIGH
        currency:
          type: string
          description: The currency code for the prices.
          example: USD
        locale:
          type: string
          description: The locale code relevant to this order item.
          example: en_US
        location_code:
          type: string
          description: The code of the inventory location or branch.
          example: WH001
        total_quantity:
          type: string
          description: The quantity of this specific part in the line item.
          example: "5"
        item_date_time:
          type: string
          description: The date and time when this order item was added or last updated.
          format: date-time
          example: 2026-05-07T17:19:01Z
        description:
          type: string
          description: A detailed description of the part included in this line item.
          example: Vehicle engine component.
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        unit_price:
          $ref: "#/components/schemas/Price"
        total_price:
          $ref: "#/components/schemas/Price"
        final_price:
          $ref: "#/components/schemas/Price"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        part_reference:
          $ref: "#/components/schemas/PartReference"
        trade_in_references:
          $ref: "#/components/schemas/PartReferences"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        staff_assignments:
          $ref: "#/components/schemas/StaffAssignmentReferences"
        payment_terms:
          $ref: "#/components/schemas/PaymentTermReferences"
        lenders:
          $ref: "#/components/schemas/LenderReferences"
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        shipment_references:
          $ref: "#/components/schemas/ShipmentReferences"
        part_order_status_type:
          $ref: "#/components/schemas/PartInvoiceStatusTypes"
        order_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: order_types list
          example:
          - INTERNAL_TRANSFER
          items:
            $ref: "#/components/schemas/OrderTypes"
        financial_events:
          $ref: "#/components/schemas/FinancialEvents"
        financial_tracks:
          $ref: "#/components/schemas/FinancialTrackReferences"
      description: not nullable
    PartOrderItems:
      type: array
      items:
        $ref: "#/components/schemas/PartOrderItem"
    PartOrderUpdate:
      type: object
      properties:
        requested_delivery_date:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          format: date
          example: 2026-05-03
        scheduled_ship_date:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          format: date
          example: 2026-04-23
        sales_pipeline_state_code:
          type: string
          description: Custom state code within the current sales pipeline stage.
          example: S1-PENDING
        part_description:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: "Updated description of the part being ordered, reflecting\
            \ any modifications or clarifications."
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            $ref: "#/components/schemas/TextualDetail"
        sales_profile:
          $ref: "#/components/schemas/SalesProfileReferences"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: payment_types list
          example:
          - SUBSCRIPTION
          items:
            $ref: "#/components/schemas/PaymentTypes"
        locale:
          type: string
          description: "The locale code relevant to this order, influencing formatting\
            \ or language (e.g., 'en_US')."
          example: en_US
        payment_terms:
          $ref: "#/components/schemas/PaymentTermReferences"
        payment_schedules:
          $ref: "#/components/schemas/PaymentScheduleReferences"
        create_date_time:
          type: string
          description: The date and time when the Part Order was created.
          format: date-time
          example: 2026-05-07T17:19:01Z
        location_code:
          type: string
          description: The code of the inventory location or branch fulfilling this
            order.
          example: WH001
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        part_order_items:
          $ref: "#/components/schemas/PartOrderItems"
        total_quantity:
          type: string
          description: The sum of all part quantities across all line items in the
            order.
          example: "10"
        currency:
          type: string
          description: "The currency code for the prices within this order (e.g.,\
            \ 'USD', 'EUR')."
          example: USD
        sales_orders:
          $ref: "#/components/schemas/SalesProfileReferences"
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        lenders:
          $ref: "#/components/schemas/LenderReferences"
        sales_pipeline_stage_type:
          $ref: "#/components/schemas/SalesPipelineStageTypes"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        last_event_date_time:
          type: string
          description: The date and time of the last significant event on the Part
            Order.
          format: date-time
          example: 2026-05-07T17:19:01Z
        staff_assignments:
          $ref: "#/components/schemas/StaffAssignmentReferences"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        priority:
          type: string
          description: The priority assigned to this order.
          example: HIGH
        part_order_status_type:
          $ref: "#/components/schemas/PartInvoiceStatusTypes"
        customer_orders:
          $ref: "#/components/schemas/CustomerOrderReferences"
        trade_ins:
          $ref: "#/components/schemas/PartReferences"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
      description: PartOrder Update for Patch and Put
    PartReference:
      type: object
      properties:
        part_reference_id:
          type: string
          description: Unique identifier value
          example: "840277005708722215"
        part_reference_key:
          type: string
          description: Unique identifier value
          example: "840277005712916480"
        name:
          type: string
          description: Product Name.
          example: Vehicle Image Side View
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_key:
          type: string
          description: Unique identifier value
          example: "840277005712916481"
        part_master_key:
          type: string
          description: Unique identifier value
          example: "840277005712916482"
        manufacturer:
          type: string
          description: Context or domain of the identifier
          example: Toyota
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: product_types list
          example:
          - OTHER
          items:
            $ref: "#/components/schemas/ProductTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:01Z
        unit_of_measure:
          $ref: "#/components/schemas/UnitOfMeasure"
      description: External system identifier
    PartReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartReference"
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: party_relationship_types list
          example:
          - FI_MGR
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-05-07T17:19:01Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      example: CORPORATION
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      example: DEALER
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayTypes:
      type: string
      description: types of pays.
      example: CUSTOMER_PAY
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentMethodTypes:
[...]
