openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Budget
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AccountingPeriod:
      type: object
      properties:
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        period_desc:
          type: string
          description: Detailed narrative description of the period's scope.
          example: Third Quarter Fiscal Year 2026 - North American Operations
        accounting_period_id:
          type: string
          description: System-level unique identifier for the period record.
          example: ap-2026-07-v1
        accounting_period_key:
          type: string
          description: Business-logical key following the chronological YYYYMM format.
          example: "202607"
        period_name:
          type: string
          description: Short-hand display name for the period.
          example: July 2026
        start_date:
          type: string
          description: The inclusive start date of the period in ISO-8601 format.
          format: date
        end_date:
          type: string
          description: The inclusive end date of the period in ISO-8601 format.
          format: date
        accounting_period_status_type:
          $ref: "#/components/schemas/AccountingPeriodStatusTypes"
        fiscal_year:
          type: integer
          description: The 4-digit fiscal year designation.
          format: int32
          example: 2026
      description: "Defines a fiscal period, including its unique identifiers, start\
        \ and end dates, and current status."
    AccountingPeriodStatusTypes:
      type: string
      description: types of accounting period status.
      enum:
      - FUTURE
      - OPEN
      - ADJUSTMENT
      - PENDING_CLOSURE
      - CLOSED
      - LOCKED
      - OTHER
    Budget:
      type: object
      properties:
        budget_key:
          type: string
          description: "Unique business-logical key for the Budget, often used for\
            \ cross-system integration."
          example: BGT-2026-OP-ATL-01
        budget_id:
          type: string
          description: System-generated unique identifier for the Budget record.
          example: bgt-7721-q8x
        name:
          type: string
          description: Formal name of the budget plan.
          example: 2026 Q1 Regional Operating Budget
        accounting_period:
          $ref: "#/components/schemas/AccountingPeriod"
        status:
          $ref: "#/components/schemas/BudgetStatusTypes"
        approval_date:
          type: string
          description: The timestamp indicating when the budget was formally authorized.
          format: date
        budget_items:
          $ref: "#/components/schemas/BudgetItems"
      description: Represents an approved financial budget for a specific accounting
        period.
    BudgetCreate:
      required:
      - budget_key
      type: object
      description: Budget Create for Post
      allOf:
      - $ref: "#/components/schemas/Budget"
    BudgetItem:
      type: object
      properties:
        budget_item_key:
          type: string
          description: "Unique business-logical key for the budget line item, often\
            \ used to map to external ERP lines."
          example: BGT-ITEM-2026-MKTG-001
        budget_item_id:
          type: string
          description: System-generated unique identifier for the specific budget
            line record.
          example: bitm-4421-k9p
        general_ledger_account:
          $ref: "#/components/schemas/GeneralLedgerReference"
        control_account:
          $ref: "#/components/schemas/ControlAccountReference"
        financial_category:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        budgeted_amount:
          $ref: "#/components/schemas/Money"
      description: "Represents a single line item within a financial budget, detailing\
        \ the forecasted expenditure or revenue."
    BudgetItems:
      type: array
      items:
        $ref: "#/components/schemas/BudgetItem"
    BudgetStatusTypes:
      type: string
      description: types of budget status.
      enum:
      - DRAFT
      - SUBMITTED
      - PENDING_APPROVAL
      - APPROVED
      - ACTIVE
      - REJECTED
      - REVISED
      - CLOSED
      - VOIDED
      - EXPIRED
      - OTHER
    BudgetUpdate:
      type: object
      properties:
        approval_date:
          type: string
          description: The timestamp indicating when the budget was formally authorized.
          format: date
        budget_items:
          $ref: "#/components/schemas/BudgetItems"
        name:
          type: string
          description: Formal name of the budget plan.
          example: 2026 Q1 Regional Operating Budget
        accounting_period:
          $ref: "#/components/schemas/AccountingPeriod"
        status:
          $ref: "#/components/schemas/BudgetStatusTypes"
      description: Budget Update for Patch and Put
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:17:41Z
      description: External system identifier
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:17:41Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
    GeneralLedgerReference:
      type: object
      properties:
        general_ledger_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        context:
          type: string
          description: Context or domain of the reference
        system_codes:
          $ref: "#/components/schemas/Codes"
        general_ledger_identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:17:41Z
      description: External system reference
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        vin:
          $ref: "#/components/schemas/Vin"
        currency_code:
          type: string
          description: money.currency.code.desc
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        value:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    Vin:
      type: string
      description: Three-letter ISO-4217 currency code.
      example: USD
