openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths:
  /geographic-boundaries:
    get:
      tags:
      - GeographicBoundary
      summary: Retrieve a list of GeographicBoundary entities.
      operationId: listGeographicBoundary
      parameters:
      - name: sort
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/GeographicBoundary"
                  has_more:
                    type: boolean
    post:
      tags:
      - GeographicBoundary
      summary: Retrieve a list  of entities.
      operationId: createGeographicBoundary
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeographicBoundaryCreate"
      responses:
        "201":
          description: Created
          headers:
            Location:
              schema:
                type: string
                example: /geographic-boundaries/KEY78R
  /geographic-boundaries/{geographic-boundary-key}:
    get:
      tags:
      - GeographicBoundary
      operationId: getGeographicBoundaryById
      responses:
        "200":
          description: get GeographicBoundary By Id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeographicBoundaryResponse"
    put:
      tags:
      - GeographicBoundary
      operationId: replaceGeographicBoundary
      responses:
        "200":
          description: Replaced
    delete:
      tags:
      - GeographicBoundary
      operationId: deleteGeographicBoundaryEntity
      responses:
        "204":
          description: Deleted
    patch:
      tags:
      - GeographicBoundary
      operationId: updatePartialGeographicBoundary
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/GeographicBoundaryUpdate"
      responses:
        "200":
          description: Updated
    parameters:
    - name: geographic-boundary-key
      in: path
      description: The unique identifier for the specific GeographicBoundary
      required: true
      schema:
        type: string
        example: KEY78B
components:
  schemas: {}
