openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    GeographicBoundary:
      type: object
      properties:
        geographic_boundary_id:
          type: string
          description: Unique identifier for the geographic boundary record.
          example: gb-7721-x88
        geographic_boundary_key:
          type: string
          description: Unique business key used for referencing the boundary across
            systems.
          example: GEO-ATL-METRO-001
        geographic_type:
          $ref: "#/components/schemas/LocationTypes"
        distance_max:
          type: string
          description: Upper bound distance constraint for radial searches.
          example: "50.0"
        distance_min:
          type: string
          description: Lower bound distance constraint for radial searches.
          example: "0.0"
        distance_type:
          $ref: "#/components/schemas/UnitOfMeasureTypes"
        name:
          type: string
          description: The common display name for the boundary.
          example: Alpharetta Service Area
        vertices:
          type: string
          description: "Comma-separated string of coordinate pairs (lat,long) defining\
            \ a boundary polygon."
          example: "34.07,-84.29, 34.08,-84.30, 34.07,-84.31"
        description:
          type: string
          description: Detailed narrative of the boundary's purpose or coverage.
          example: Primary sales territory for North Georgia.
        center_latitude:
          type: string
          description: Latitude of the boundary's centroid.
          example: "34.0754"
        center_longitude:
          type: string
          description: Longitude of the boundary's centroid.
          example: "-84.2941"
      description: nullable
    LocationTypes:
      type: string
      description: types of locations.
      enum:
      - BOROUGH
      - PARISH
      - REGION
      - BOUNDARY
      - PROVINCE
      - VILLAGE
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - TELEMATICS
      - ADDRESS
      - NO_PREFERENCE
      - GPS
      - WAREHOUSE
      - DISTRICT
    UnitOfMeasureTypes:
      type: string
      description: types of unit of measures.
      enum:
      - MILES
      - KM
      - GALLON
      - LITER
      - METER
      - QUARTER
      - OZ
      - LB
      - DATE_TIME
      - DATE
      - KG
      - DURATION
      - CURRENCY
      - POINTS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - OCCURRENCE
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - BYTES
      - CUSTOM
      - UNLIMITED
      - NONE
      - PERCENT
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - DISTRICT
      - NA
      - UNIT
      - WATT
      - ITEM
      - NET
      - GROSS
      - MINIMUM
      - MAXIMUM
      - OTHER
