openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Party
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    Address:
      type: object
      properties:
        address_locales:
          $ref: "#/components/schemas/AddressLocales"
        priority:
          maxLength: 10
          minLength: 1
          type: string
          description: "Priority indicator for address usage (e.g., billing, shipping)."
          example: "1"
        city_code:
          maxLength: 20
          minLength: 1
          type: string
          description: Standardized city code.
        address_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business key for the address.
        address_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier for the address record.
        address_input:
          maxLength: 255
          minLength: 1
          type: string
          description: Raw input provided for address processing or validation.
        address_line1:
          maxLength: 100
          minLength: 1
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          maxLength: 100
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line4:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line5:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        city:
          maxLength: 100
          minLength: 1
          type: string
          description: Name of the city.
        city_subdivision:
          maxLength: 100
          type: string
          description: "Subdivision within the city (e.g., neighborhood, district)."
        country:
          maxLength: 100
          minLength: 2
          type: string
          description: Full name of the country.
        country_code:
          maxLength: 2
          minLength: 2
          type: string
          description: ISO 3166-1 Alpha-2 country code.
        county:
          maxLength: 100
          type: string
          description: Name of the county.
        county_code:
          maxLength: 20
          type: string
          description: Standardized code for the county.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        position:
          $ref: "#/components/schemas/Position"
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        postal_code_ext:
          maxLength: 10
          type: string
          description: "Extended postal code (e.g., ZIP+4)."
        preferred_indicator:
          type: boolean
          description: Flag indicating if this address is the preferred address.
          example: false
        region:
          maxLength: 50
          type: string
          description: "Administrative region (e.g., province, state)."
        state:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: Address represents a physical or mailing location associated with
        a party or warehouse.
    AddressLocale:
      type: object
      properties:
        address_locale_key:
          type: string
          description: Business key for the address locale.
        address_locale_id:
          type: string
          description: Unique identifier for the address locale.
        region_code:
          type: string
          description: Code representing the region for the locale.
        region_name:
          type: string
          description: Name of the region for the locale.
        region_aliases:
          $ref: "#/components/schemas/Codes"
        location_type:
          $ref: "#/components/schemas/LocationTypes"
      description: External system address locale including region and location type.
    AddressLocales:
      type: array
      items:
        $ref: "#/components/schemas/AddressLocale"
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    Addresses:
      type: array
      items:
        $ref: "#/components/schemas/Address"
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:19:48Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BusinessTypes:
      type: string
      description: types of business.
      enum:
      - INDIVIDUAL
      - CORPORATION
      - PARTNERSHIP
      - AGENT
      - OTHER
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ContactMethod:
      type: object
      properties:
        contact_method_id:
          type: string
          description: Unique identifier for the contact method.
          example: cm_78910
        contact_method_key:
          type: string
          description: Business key or code for the contact method.
          example: PRIMARY_EMAIL
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        addresses:
          $ref: "#/components/schemas/Addresses"
      description: Contact Method details including communication channels and addresses.
    ContactMethods:
      type: array
      items:
        $ref: "#/components/schemas/ContactMethod"
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:48Z
      description: External system identifier
    ControlAccountReferences:
      type: array
      items:
        $ref: "#/components/schemas/ControlAccountReference"
    CountryCode:
      type: string
      description: The ISO 3116-1 alpha-2 country code of the issuing jurisdiction.
      example: US
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:19:48Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DepartmentReference:
      type: object
      properties:
        department_reference_id:
          type: string
          description: Unique identifier value
        department_reference_key:
          type: string
          description: Unique identifier value
        department_key:
          type: string
          description: Unique identifier value
        department_type:
          $ref: "#/components/schemas/DepartmentTypes"
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        department:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:48Z
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
      description: External system identifier
    DepartmentTypes:
      type: string
      description: types of departments.
      enum:
      - REGULAR_INSPECTION
      - PDI_INSPECTION
      - QUICK_LUBE
      - ACCESSORY_INSTALL
      - FIELD_ACTION
      - SALES
      - SERVICE
      - FLEET
      - F_I
      - USED_VEHICLES
      - BODY_SHOP
    Discount:
      type: object
      properties:
        discount_id:
          type: string
          description: The unique identifier of the discount.
          example: DISC12345
        discount_key:
          type: string
          description: Unique identifier for the discount key.
          example: DISCOUNT_KEY_123
        discount_plan_name:
          type: string
          description: The name of the discount plan.
          example: Summer Sale Discount
        capitalized_indicator:
          type: boolean
          description: Indicates if the discount is capitalized.
          example: true
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        discount_codes:
          $ref: "#/components/schemas/Codes"
        promo_codes:
          $ref: "#/components/schemas/Codes"
        discount_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        discount_href:
          type: string
          description: Hyperlink to the discount resource.
          format: href
          example: /discounts/123
        discount_percent_value:
          type: string
          description: The percentage value of the discount.
          example: "10.5"
        discount_price:
          $ref: "#/components/schemas/Price"
        discount_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/DiscountTypes"
        due_on_type:
          $ref: "#/components/schemas/DueOnTypes"
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        location_codes:
          $ref: "#/components/schemas/Codes"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        purchase_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderCategoryTypes"
        tax_groups:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        taxability_indicator:
          type: boolean
          description: Indicates if the discount is taxable.
          example: true
        validation_type:
          $ref: "#/components/schemas/ValidationTypes"
        product_state_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductStateTypes"
        textual_details:
          $ref: "#/components/schemas/TextualDetails"
        product_view_type:
          $ref: "#/components/schemas/ProductViewTypes"
        discount_metric_values:
          $ref: "#/components/schemas/DiscountMetricValues"
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
      description: A discount is a cut in price that comes directly out of the dealer's
        pocket and is not reimbursed by the manufacturer
    DiscountMetricValue:
      type: object
      properties:
        uom:
          $ref: "#/components/schemas/UnitOfMeasureTypes"
        value:
          type: string
          description: The numeric value of the metric.
          example: "5551235545"
        locales:
          $ref: "#/components/schemas/Codes"
        metric_value_key:
          type: string
          description: Unique identifier for the metric value.
          example: METRIC_KEY_ABC
      description: value price with unit of measure
    DiscountMetricValues:
      type: array
      items:
        $ref: "#/components/schemas/DiscountMetricValue"
    DiscountPolicy:
      type: object
      properties:
        policy_key:
          type: string
          description: Unique identifier for the discount policy.
          example: DISC-VOL-TIRE-001
        policy_id:
          type: string
          description: Unique identifier for the discount policy.
          example: DISC-VOL-TIRE-001
        policy_name:
          type: string
          description: "Name of the discount policy (e.g., 'Volume Tier 1', 'Early\
            \ Payment')."
          example: Volume Tier 1
        discounts:
          $ref: "#/components/schemas/Discounts"
        effective_start_date:
          type: string
          description: Date when this discount policy becomes effective.
          format: date
        effective_end_date:
          type: string
          description: Date when this discount policy expires.
          format: date
      description: Defines a standard discount policy offered by an organization.
    DiscountTypes:
      type: string
      description: types of discounts.
      enum:
      - PERCENTAGE
      - AMOUNT
      - FLAT_RATE
      - CASH_BACK_REBATES
      - CASH
      - BULK
      - COUPON
      - FINANCE
      - LEASE
      - LOYALTY
      - BONUS_CASH
      - SERVICE
      - FEE
      - INSTALLATION
      - OPTION
      - PACKAGE
      - ACCESSORY
      - REWARDS
      - ADD_ON
      - SALES
      - TRADE
      - STUDENT
      - EDUCATOR
      - MILITARY
      - EMPLOYER
      - OEM
      - COMPETITOR
      - PAY_UPFRONT
      - OEM_CLUBS
      - CREDIT_UNION
      - NEGOTIATE
      - ORGANIZATION
      - OTHER
    Discounts:
      type: array
      items:
        $ref: "#/components/schemas/Discount"
    DueOnTypes:
      type: string
      description: types of due ons.
      enum:
      - SIGNING
      - SALE
      - DAY_OF_MONTH
      - CUT_OFF
      - CLOSE
      - INCEPTION
      - DELIVERY
      - IMMEDIATE
      - PROMPT
      - SCHEDULE
      - TRIAL_COMPLETE
      - TRIAL_START
      - RECUR
      - NONE
      - HOLD
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-07T17:19:48Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-07T17:19:48Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Garage:
      type: object
      properties:
        garage_id:
          type: string
          description: The synthetic identifier for the garage.
        garage_key:
          type: string
          description: "The natural, immutable identifier for the garage."
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        garage_items:
          $ref: "#/components/schemas/GarageItems"
      description: Address
    GarageItem:
      type: object
      properties:
        garage_item_id:
          type: string
          description: A unique identifier for the garage item.
        garage_item_key:
          type: string
          description: A unique key for the garage item.
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        primary_driver_indicator:
          type: boolean
          description: Indicates whether this vehicle is primarily driven by a main
            driver.
          example: false
        ownership_dates:
          $ref: "#/components/schemas/EffectivePeriod"
        owners:
          $ref: "#/components/schemas/PartyReferences"
        drivers:
          $ref: "#/components/schemas/PartyReferences"
      description: Represents a vehicle and its associated information within a customer's
        garage.
    GarageItems:
      type: array
      items:
        $ref: "#/components/schemas/GarageItem"
    GenderTypes:
      type: string
      description: types of genders.
      enum:
      - MALE
      - FEMALE
      - UNKNOWN
      - TRANS_MALE
      - TRANS_FEMALE
      - NA
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    List:
      type: array
      items:
        $ref: "#/components/schemas/RoleTypes"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: not nullable
    LocationTypes:
      type: string
      description: types of locations.
      enum:
      - BOROUGH
      - PARISH
      - REGION
      - BOUNDARY
      - PROVINCE
      - VILLAGE
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - TELEMATICS
      - ADDRESS
      - NO_PREFERENCE
      - GPS
      - WAREHOUSE
      - DISTRICT
    MaritalStatusTypes:
      type: string
      description: types of marital status.
      enum:
      - SINGLE
      - MARRIED
      - COMMON_LAW
      - SEPARATED
      - DIVORCED
      - WIDOWED
      - ANNULLED
      - OTHER
      - UNKNOWN
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    ModelYear:
      type: string
      description: The 4-digit model year of the vehicle.
      example: "2024"
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        vin:
          $ref: "#/components/schemas/Vin"
        currency_code:
          type: string
          description: money.currency.code.desc
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        value:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - OTHER
    OperatingStatusTypes:
      type: string
      description: types of operating status.
      enum:
      - ACTIVE
      - OPERATIONAL
      - ONLINE
      - BETA
      - TRIAL
      - CLOSED
      - INACTIVE
      - DORMANT
      - SUSPENDED
      - DECOMMISSIONED
      - TERMINATED
      - ARCHIVED
      - PENDING
      - UNDER_REVIEW
      - PROPOSED
      - DRAFT
      - HOLD
      - ERROR
      - FAILURE
      - UNKNOWN
      - OTHER
    OrderCategoryTypes:
      type: string
      description: types of order categorys.
      enum:
      - RETAIL
      - WHOLESALE
      - E_COMMERCE
      - COMMERCIAL
      - GOVERNMENT
      - EDUCATIONAL
      - CONTRACT
      - SUBSCRIPTION
      - DIRECT
      - FLEET
      - TRADE_IN
      - LEASE
      - CUSTOM_ORDER
      - STANDARD
      - OTHER
    OrgName:
      type: object
      properties:
        org_name_key:
          type: string
          description: A unique key for the organization's name.
        alias:
          type: string
          description: An alternative or shorter name for the organization.
        identifiers_href:
          type: string
          description: A hyperlink to a resource containing the organization's identifiers.
          format: href
        org_name_id:
          type: string
          description: A unique ID for the organization's name.
        organization_contact:
          type: string
          description: Contact information associated with the organization's name.
        organization_name:
          type: string
          description: The official legal name of the organization.
        party_key:
          type: string
          description: The unique key of the party associated with this organization.
        preferred_name:
          type: string
          description: "A preferred or common name for the organization, if different\
            \ from the official name."
      description: a Name for an organization
    OrgProfile:
      type: object
      properties:
        org_profile_key:
          type: string
          description: A unique key for the organization profile.
        org_profile_id:
          type: string
          description: The unique ID for the organization profile.
        alias:
          type: string
          description: An alias or common name for the organization.
        annual_revenue:
          type: string
          description: The organization's annual revenue.
        business_type:
          $ref: "#/components/schemas/BusinessTypes"
        currency:
          type: string
          description: The currency of the annual revenue.
        date_established:
          type: string
          description: The date the organization was established.
        dba:
          $ref: "#/components/schemas/Codes"
        domestic_duns:
          $ref: "#/components/schemas/Codes"
        employee_count:
          type: string
          description: The number of employees in the organization.
        expertise:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        global_duns:
          type: string
          description: The global D&B D-U-N-S number.
        investors:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        legal_status:
          type: string
          description: The legal status of the organization.
        line_of_businesses:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        locale:
          $ref: "#/components/schemas/Locale"
        national_tax_identifier:
          type: string
          description: "The organization's national tax identification number (e.g.,\
            \ EIN for US entities), crucial for 1099 reporting for suppliers."
        tax_exempt_indicator:
          type: boolean
          description: "Indicates if the organization is exempt from certain taxes\
            \ (e.g., sales tax)."
          example: false
        legal_name_for_tax_purposes:
          type: string
          description: "The organization's full legal name used for tax reporting\
            \ (e.g., W9/1099)."
          example: Supplier Inc. (Legal Entity)
        w9on_file_indicator:
          type: boolean
          description: Indicates if a valid W-9 form (or equivalent tax form) is on
            file for this supplier.
          example: true
        reportable1099indicator:
          type: boolean
          description: Indicates if payments to this supplier are typically 1099 reportable.
          example: true
        payment_method_references:
          $ref: "#/components/schemas/PaymentMethodReferences"
        standard_payment_terms:
          $ref: "#/components/schemas/PaymentTermReferences"
        standard_discount_policies:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/DiscountPolicy"
        control_accounts:
          $ref: "#/components/schemas/ControlAccountReferences"
        operating_regions:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        operating_status_type:
          $ref: "#/components/schemas/OperatingStatusTypes"
        org_contact_method:
          type: string
          description: The primary contact method for the organization.
        org_name:
          $ref: "#/components/schemas/OrgName"
        inception_date:
          type: string
          description: The full name of the organization.
          format: date
        parent_duns:
          type: string
          description: The D&B D-U-N-S number of the parent company.
        parent_org_id:
          type: string
          description: The ID of the parent organization.
        org_contact_name:
          $ref: "#/components/schemas/PersonNames"
        part_identifier_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartIdentifierTypes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        staff:
          $ref: "#/components/schemas/Staff"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
      description: profile of an entity recognized as an organization
    OrgProfiles:
      type: array
      items:
        $ref: "#/components/schemas/OrgProfile"
    PartIdentifierTypes:
      type: string
      description: types of part identifiers.
      enum:
      - VIN
      - SKU
      - UPCA
      - UPCE
      - ISBN
      - MPN
      - CONFIG_CODE
      - MFR_CODE
      - ALT_CODE
      - STOCK_NBR
      - UNIV_CODE
      - PRODUCT_CODE
      - CATALOG_CODE
      - NAME
      - NUMBER
      - PREFIX
      - COUNTRY_OF_ORIGIN_CODE
      - MODEL_CODE
      - MAKE_CODE
      - YEAR_CODE
      - MARKET_DIVISION_CODE
      - TRIM_CODE
      - STYLE_CODE
      - SUB_MODEL_CODE
      - ENGINE_CODE
      - TRANSMISSION_CODE
      - DRAWING_NUMBER
      - OTHER
    Party:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or short name for the party.
          example: Acme Co.
        comments:
          type: string
          description: Additional notes or comments about the party.
          example: Preferred contact in the mornings.
        contact_methods:
          $ref: "#/components/schemas/ContactMethods"
        contact_methods_href:
          type: string
          description: Hyperlink reference to the party's contact methods resource.
          format: href
          example: https://api.example.com/parties/123/contact-methods
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code of the party.
          example: US
        full_name:
          type: string
          description: Full legal name of the party.
          example: Acme Corporation
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        identifiers_href:
          type: string
          description: Hyperlink reference to the party's identifiers resource.
          format: href
          example: https://api.example.com/parties/123/identifiers
        language_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
        org_profiles_href:
          type: string
          description: Hyperlink reference to the organization's profile resource.
          format: href
          example: https://api.example.com/organizations/456/profile
        party_status_type:
          $ref: "#/components/schemas/PartyStatusTypes"
        party_key:
          type: string
          description: Unique system-generated key for the party.
          example: PARTY-0001
        party_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyTypes"
        preferred_language_code:
          type: string
          description: Preferred ISO 639-1 language code for communication.
          example: en
        preferred_name:
          type: string
          description: Preferred display name for the party.
          example: Acme
        privacies_href:
          type: string
          description: Hyperlink reference to the party's privacy settings resource.
          format: href
          example: https://api.example.com/parties/123/privacy
        special_remarks_description:
          type: string
          description: Special remarks or additional descriptive notes for the party.
          example: High-priority customer.
        party_id:
          type: string
          description: Unique identifier for the party.
          example: PTY-1001
        persons:
          $ref: "#/components/schemas/Persons"
        org_profiles:
          $ref: "#/components/schemas/OrgProfiles"
        party_service_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyServiceTypes"
        garage:
          $ref: "#/components/schemas/Garage"
      description: "Represents a base party, which can be a person or an organization\
        \ involved in appointments or related transactions."
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-05-07T17:19:48Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyServiceTypes:
      type: string
      description: types of party services.
      enum:
      - DMS_VENDOR
      - WEBSITE_VENDOR
      - CRM_VENDOR
      - MARKETING_VENDOR
      - PARTS_VENDOR
      - TIRE_VENDOR
      - REPAIR_VENDOR
      - BODY_SHOP_VENDOR
      - FINANCE_VENDOR
      - INSURANCE_VENDOR
      - SERVICE_CONTRACT_VENDOR
      - REBATE_VENDOR
      - FEE_VENDOR
      - TAX_VENDOR
      - TITLE_AND_REGISTRATION_VENDOR
      - IT_VENDOR
      - PRODUCT_VENDOR
      - FLEET_SERVICES
      - UNKNOWN
    PartyStatusTypes:
      type: string
      description: types of party status.
      enum:
      - DRAFT
      - PENDING_VERIFICATION
      - ACTIVE
      - INACTIVE
      - DECEASED_DISSOLVED
      - MERGED
      - ARCHIVED
      - PURGED
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentMethodReference:
      type: object
      properties:
        payment_method_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the reference record.
        payment_method_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference record.
        payment_method_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced PaymentMethod (Party)
            aggregate.
        context:
          type: string
          description: Context or domain of the reference.
        payment_method_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        processor_options:
          $ref: "#/components/schemas/Identifiers"
        snapshot_details:
          $ref: "#/components/schemas/Identifiers"
        occurrence_date_time:
          type: string
          description: The date and time the paymentMethod was associated with the
            order.
          format: date-time
          example: 2026-05-07T17:19:48Z
      description: Reference to a PaymentMethod (Party) Aggregate Root for financing
        details.
    PaymentMethodReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentMethodReference"
    PaymentMethodTypes:
      type: string
      description: types of payment methods.
      enum:
      - CASH
      - CHECK
      - MONEY_ORDER
      - CASH_ON_DELIVERY
      - CREDIT_CARD
      - DEBIT_CARD
      - GIFT_CARD
      - EFT
      - ONLINE_BANK_TRANSFER
      - MOBILE_WALLET
      - CRYPTOCURRENCY
      - ONLINE_PAYMENT_PLATFORM
      - PAYROLL_DEDUCTION
      - FINANCE
      - LEASE
      - RENTAL
      - TERMS
      - DUE_ON_RECEIPT
      - TRADE_IN
      - REWARD_POINTS
      - STORE_CREDIT
      - EXCHANGE
      - OTHER
      - NOT_APPLICABLE
    PaymentTermReference:
      type: object
      properties:
        term_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        term_reference_key:
          type: string
          description: Unique key value for the reference record.
        term_key:
          type: string
          description: The unique key identifying the referenced Payment Term aggregate.
        context:
          type: string
          description: Context or domain of the payment term.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the terms were applied to the order.
          format: date-time
          example: 2026-05-07T17:19:48Z
      description: "Reference to a Payment Term Aggregate Root (e.g., Net 30)."
    PaymentTermReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentTermReference"
    PaymentTypes:
      type: string
      description: types of payments.
      enum:
      - OUTRIGHT_PURCHASE
      - FINANCED_PURCHASE
      - SUBSCRIPTION
      - DEPOSIT
      - PROGRESS_PAYMENT
      - SCHEDULED_PAYMENT
      - CONSUMPTION_BASED
      - CUSTOM_AGREEMENT
      - CASH
      - BALLON
      - LEASE
      - LEASE_NO_BUYOUT
      - LEASE_BUYOUT
    PayrollCycleFrequencyTypes:
      type: string
      description: types of payroll cycle frequencys.
      enum:
      - ANNUAL
      - SEMI_ANNUAL
      - QUARTERLY
      - BI_MONTHLY
      - MONTHLY
      - SEMI_MONTHLY
      - BI_WEEKLY
      - WEEKLY
      - DAILY
      - OFF_CYCLE
      - ON_DEMAND
    PayrollRate:
      type: object
      properties:
        payroll_rate_id:
          type: string
          description: A unique identifier for the payroll rate.
        payroll_rate_key:
          type: string
          description: A unique identifier for the payroll rate.
        staff_member_key:
          type: string
          description: Business key or code for the staff member.
          example: EMPLOYEE_001
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        payroll_cycle_type:
          $ref: "#/components/schemas/PayrollCycleFrequencyTypes"
        amount:
          $ref: "#/components/schemas/Money"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        occurrence_date_time:
          type: string
          description: The date and time the rate occurred.
          format: date-time
          example: 2026-05-07T17:19:48Z
        textual_details:
          $ref: "#/components/schemas/TextualDetails"
        staff_pay_type:
          $ref: "#/components/schemas/StaffPayTypes"
      description: "Represents a single rate that affects a staff member's payroll,\
        \ such as hours worked or a bonus."
    PayrollRates:
      type: array
      items:
        $ref: "#/components/schemas/PayrollRate"
    Person:
      type: object
      properties:
        person_id:
          type: string
          description: Unique person identifier.
        person_key:
          type: string
          description: Business key for the person.
          example: PER-12345
        addresses:
          $ref: "#/components/schemas/Addresses"
        age:
          maximum: 130
          minimum: 0
          type: integer
          description: Age of the person in years.
          format: int32
          example: 35
        birth_date:
          type: string
          description: Birth date of the person.
          format: date
        comments:
          type: string
          description: Additional comments about the person.
          example: No known allergies.
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: US
        gender_type:
          $ref: "#/components/schemas/GenderTypes"
        birth_country:
          type: string
          description: ISO 3166-1 alpha-2 code for the country of birth.
          example: US
        citizenship_country:
          type: string
          description: ISO 3166-1 alpha-2 code for citizenship country.
          example: US
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        identifiers_href:
          type: string
          description: Link to identifiers resource.
          format: href
        language_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        marital_status_type:
          $ref: "#/components/schemas/MaritalStatusTypes"
        org_profiles_href:
          type: string
          description: Link to organizational profiles resource.
          format: href
        party_key:
          type: string
          description: Business key for the party.
          example: PTY-12345
        party_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyTypes"
        person_attributes:
          $ref: "#/components/schemas/MetricNameValues"
        preferred_language_code:
          type: string
          description: Preferred language code.
          example: en-US
        privacies:
          $ref: "#/components/schemas/PrivacyItems"
        privacies_href:
          type: string
          description: Link to privacy settings resource.
          format: href
        special_remarks_description:
          type: string
          description: Special remarks about the person.
        person_name:
          $ref: "#/components/schemas/PersonName"
      description: a Base Person or Organization
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PersonNames:
      type: array
      items:
        $ref: "#/components/schemas/PersonName"
    PersonReference:
      type: object
      properties:
        person_reference_id:
          type: string
          description: Unique identifier value
        person_reference_key:
          type: string
          description: Unique identifier value
        person_key:
          type: string
          description: Unique identifier value
        party_key:
          type: string
          description: Unique identifier value
        relationship_type:
          $ref: "#/components/schemas/PartyRelationshipTypes"
        context:
          type: string
          description: Context or domain of the identifier
        fullname:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:48Z
      description: External system identifier
    Persons:
      type: array
      items:
        $ref: "#/components/schemas/Person"
    PlateNumber:
      type: string
      description: The alphanumeric string displayed on the vehicle license plate.
      example: ABC1234
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          maxLength: 20
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    Price:
      type: object
      properties:
        display_value:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        locale:
          type: string
          description: Locale used for formatting display value.
        value:
          type: string
          description: The numeric value of the price (before tax/cost breakdowns).
        tax_value:
          type: string
          description: The calculated amount of tax applied to the price.
        taxable_amount:
          type: string
          description: The portion of the price subject to tax.
        non_taxable_amount:
          type: string
          description: The portion of the price not subject to tax.
        total_amount:
          type: string
          description: The total final price including all components and tax.
        total_cost_amount:
          type: string
          description: The total cost to the provider/seller.
        unit_cost_amount:
          type: string
          description: The unit cost to the provider/seller.
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        price_id:
          type: string
          description: Unique system identifier for the price record.
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - OTHER
    PrivacyContextTypes:
      type: string
      description: types of privacy contexts.
      enum:
      - GIVE_CONSENT
      - INFORMED_OF_COLLECTION
      - GET_BREACH_NOTIFICATION
      - ACCESS_DATA
      - RECTIFICATION_OF_DATA
      - ERASURE_OF_DATA
      - RESTRICT_PROCESSING
      - DATA_PORTABILITY
      - OBJECT_TO_PROCESSING
      - OTHER
    PrivacyEvent:
      type: object
      properties:
        privacy_event_id:
          type: string
          description: A unique identifier for the privacy event.
        privacy_event_key:
          type: string
          description: A unique identifier for the privacy event.
        legal_basis_type:
          $ref: "#/components/schemas/PrivacyLegalBasisTypes"
        privacy_context_type:
          $ref: "#/components/schemas/PrivacyContextTypes"
        privacy_state_type:
          $ref: "#/components/schemas/PrivacyStateTypes"
        value:
          type: string
          description: The monetary or hours-based value of the event.
        event_reference:
          type: string
          description: Event Reference for this event
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:48Z
      description: "Represents a single event that affects a staff member's privacy,\
        \ such as hours worked or a bonus."
    PrivacyEvents:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyEvent"
    PrivacyItem:
      type: object
      properties:
        privacy_id:
          type: string
          description: A unique key for the privacy record.
        privacy_key:
          type: string
          description: A unique key for the privacy record.
        privacy_event:
          $ref: "#/components/schemas/PrivacyEvents"
        privacy_type:
          $ref: "#/components/schemas/PrivacyTypes"
        encrypted_value:
          type: string
          description: The encrypted value of the sensitive information.
        hash_value:
          type: string
          description: "A one-way hash of the sensitive information, used for lookups\
            \ without decryption."
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        last_updated_date_time:
          type: string
          description: The date and time when the privacy record was last updated.
          format: date-time
          example: 2026-05-07T17:19:48Z
      description: Represents a single piece of sensitive or personally identifiable
        information (PII) with its associated privacy controls.
    PrivacyItems:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyItem"
    PrivacyLegalBasisTypes:
      type: string
      description: types of privacy legal basis.
      enum:
      - CONSENT
      - CONTRACT
      - LEGAL_OBLIGATION
      - VITAL_INTERESTS
      - PUBLIC_TASK
      - LEGITIMATE_INTERESTS
      - UNKNOWN
    PrivacyStateTypes:
      type: string
      description: types of privacy states.
      enum:
      - PENDING
      - ACTIVE_REVIEW
      - PENDING_RESOLUTION
      - RESOLVED
      - GIVEN
      - REVOKED
      - IN_COMPLIANCE
      - OUT_OF_COMPLIANCE
      - NOT_APPLICABLE
      - OTHER
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - GENERAL_BIO
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - UNKNOWN
    ProductModel:
      type: object
      properties:
        product_model_key:
          type: string
          description: A unique key for the vehicle identifier.
        product_model_id:
          type: string
          description: The unique ID for the vehicle identifier.
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        brands:
          $ref: "#/components/schemas/Codes"
        trims:
          $ref: "#/components/schemas/Codes"
        marketing_names:
          $ref: "#/components/schemas/Codes"
        oem_names:
          $ref: "#/components/schemas/Codes"
        oem_codes:
          $ref: "#/components/schemas/Codes"
        model_codes:
          $ref: "#/components/schemas/Codes"
        phase_code:
          type: string
          description: The phase code.
        nicknames:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
      description: Vehicle Identifier
    ProductStateTypes:
      type: string
      description: types of product states.
      enum:
      - NEW
      - USED
      - REFURBISHED
      - CERTIFIED
      - DEMO
      - RENTAL
      - IN_TRANSIT
      - DISCONTINUED
      - ARCHIVED
      - CUSTOMER_OWNED
      - PARTNER_OWNED
      - THIRD_PARTY_OWNED
      - COMPANY_OWNED
      - UNKNOWN
    ProductViewTypes:
      type: string
      description: types of product views.
      enum:
      - TEMPLATE
      - INSTANCE
      - RECURRING
      - ONE_TIME
      - PROMOTIONAL
      - CONTRACTUAL
    RoleTypes:
      type: string
      description: types of roles.
      enum:
      - GEN_MGR
      - CLOSING_MGR
      - FI_MGR
      - SALES_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - FINANCE
      - CONCIERGE_STAFF
      - CONCIERGE_MGR
      - VALET
      - VALET_OPERATOR
      - SERVICE_MGR
      - SERVICE_TECH
      - STAFF
      - SPECIALIST
      - ADVISOR
      - DISPATCHER
      - PRIMARY_TECHNICIAN
      - HELPER_TECHNICIAN
      - SERVICE_ADVISOR
      - VALET_DRIVER
      - MOBILE_DISPATCHER
      - QUALITY_CONTROL
      - INSPECTOR
      - TECHNICIAN
      - MOBILE_SERVICE_VAN
      - TOW_TRUCK
      - AUTONOMOUS_SYSTEM
      - SUBLET_VENDOR
    SkillCategoryTypes:
      type: string
      description: types of skill categorys.
      enum:
      - MECHANICAL
      - ELECTRICAL_EV
      - AUTONOMOUS_SOFTWARE
      - FLEET_LOGISTICS
      - BODY_STRUCTURAL
    Staff:
      type: array
      items:
        $ref: "#/components/schemas/StaffMember"
    StaffAffinity:
      type: object
      properties:
        staff_affinity_id:
          type: string
          description: Unique identifier for the staff member affinity.
          example: sm_123456
        staff_affinity_key:
          type: string
          description: Unique identifier for the staff member affinity.
          example: sm_123456
        staff_member_key:
          type: string
          description: Business key or code for the staff member.
          example: EMPLOYEE_001
        party_key:
          type: string
          description: Party key linking to person or organization.
          example: party_67890
        status:
          type: string
          description: "confirmed, tentative, cancelled"
        communication_styles:
          $ref: "#/components/schemas/Codes"
        product_affinities:
          $ref: "#/components/schemas/Codes"
        languages_spoken:
          $ref: "#/components/schemas/Codes"
        years_in_industry:
          type: string
          description: "10"
        staff_performance_metrics:
          $ref: "#/components/schemas/Identifiers"
        last_assignment_at:
          type: string
          description: Timestamp of the last job assigned to this person.
          format: date-time
          example: 2026-05-07T17:19:48Z
        lead_score_threshold:
          type: string
          description: "Minimum lead quality score required for this staff member\
            \ (e.g., Seniors get high-value leads)."
        is_eligible_for_assignment:
          type: boolean
          description: "Minimum lead quality score required for this staff member\
            \ (e.g., Seniors get high-value leads)."
          example: false
        availablity:
          $ref: "#/components/schemas/TimeSlots"
        unavailablity:
          $ref: "#/components/schemas/TimeSlots"
      description: Dealership Staff Member
    StaffCertification:
      type: object
      properties:
        staff_certification_id:
          type: string
          description: Identifier of Staff Certification
          example: ABC123
        staff_certification_key:
          type: string
          description: Name of the certification.
          example: Key123
        certification_name:
          type: string
          description: Name of the certification.
          example: ASE Master Technician
        issuing_body:
          type: string
          description: Organization that issued the certification.
          example: National Institute for Automotive Service Excellence
        certification_number:
          type: string
          description: The unique number assigned to the certification.
          example: CERT-998877
        issue_date:
          type: string
          description: The date the certification was awarded.
          format: date
        expiration_date:
          type: string
          description: The date the certification expires.
          format: date
        status:
          type: string
          description: Current status of the certification.
          example: Active
      description: Staff Certification Details
    StaffCertifications:
      type: array
      items:
        $ref: "#/components/schemas/StaffCertification"
    StaffMember:
      type: object
      properties:
        staff_member_id:
          type: string
          description: Unique identifier for the staff member.
          example: sm_123456
        staff_member_key:
          type: string
          description: Business key or code for the staff member.
          example: EMPLOYEE_001
        employee_key:
          type: string
          description: Employee key associated with the staff member.
          example: E12345
        party_key:
          type: string
          description: Party key linking to person or organization.
          example: party_67890
        person_reference:
          $ref: "#/components/schemas/PersonReference"
        skills:
          $ref: "#/components/schemas/StaffSkills"
        specialties:
          $ref: "#/components/schemas/Codes"
        certifications:
          $ref: "#/components/schemas/StaffCertifications"
        email:
          type: string
          description: Primary email address of the staff member.
          example: jane.doe@example.com
        state_license_number:
          type: string
          description: State license number if applicable.
          example: SLN-987654
        active_indicator:
          type: boolean
          description: Indicates if the staff member is currently active.
          example: true
        job_title:
          type: string
          description: Job title of the staff member.
          example: Sales Manager
        department_name:
          type: string
          description: Name of the department the staff member belongs to.
          example: Sales
        department_reference:
          $ref: "#/components/schemas/DepartmentReference"
        team_id:
          $ref: "#/components/schemas/Teams"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        contact_methods_href:
          type: string
          description: Reference URL to the contact methods for the staff member.
          format: href
          example: /staff/123/contactMethods
        comments:
          type: string
          description: Additional comments about the staff member.
          example: Key sales staff member with 5 years experience.
        role_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/RoleTypes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        profile_href:
          type: string
          description: URL reference to the staff member's profile.
          format: href
          example: /profiles/staff_12345
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        payroll_rates:
          $ref: "#/components/schemas/PayrollRates"
        privacy_items:
          $ref: "#/components/schemas/PrivacyItems"
        staff_affinity:
          $ref: "#/components/schemas/StaffAffinity"
        teams:
          $ref: "#/components/schemas/Teams"
      description: Dealership Staff Member
    StaffPayTypes:
      type: string
      description: types of staff pays.
      enum:
      - HOURLY
      - SALARIED
      - COMMISSION
      - CONTRACTOR
      - SICK
      - VACATION
      - OVERTIME
      - TECHNICIAN_HOURS
      - BONUS
      - ADJUSTMENT
      - REGULAR
      - OTHER
    StaffSkill:
      type: object
      properties:
        staff_skill_id:
          type: string
          description: Unique identifier for the staff skill.
          example: sm_123456
        staff_skill_key:
          type: string
          description: Business key or code for the staff skill.
          example: EMPLOYEE_001
        staff_skill_code:
          type: string
          description: Staff Skill Code
          example: EV_CERT_LVL3
        staff_skill_name:
          type: string
          description: Staff Skill Code
          example: EV Certification Level 3
        staff_skill_description:
          type: string
          description: Staff Skill Code
          example: EV Certification Level 3
        proficiency_level:
          type: string
          description: "Level of expertise (e.g., Beginner, Intermediate, Expert,\
            \ or 1-5 scale)."
          example: Expert
        skill_category_type:
          $ref: "#/components/schemas/SkillCategoryTypes"
        years_experience:
          type: string
          description: Number of years practicing this skill.
          example: "8"
      description: Dealership Staff Skill
    StaffSkills:
      type: array
      items:
        $ref: "#/components/schemas/StaffSkill"
    Team:
      type: object
      properties:
        team_key:
          type: string
          description: The unique key identifying the team aggregate root.
        team_id:
          type: string
          description: The unique identifier for the team.
        team_name:
          type: string
          description: The human-readable name of the team.
        department_key:
          type: string
          description: The unique key for the department this team belongs to.
        department:
          $ref: "#/components/schemas/DepartmentReference"
        members:
          $ref: "#/components/schemas/PartyReferences"
      description: Represents an organizational group or functional unit within the
        AI-SAGE framework.
    Teams:
      type: array
      items:
        $ref: "#/components/schemas/Team"
    TextualDetail:
      type: object
      properties:
        textual_detail_key:
          type: string
          description: Natural key or business-friendly key for textual detail.
        textual_detail_id:
          type: string
          description: Unique identifier for textual detail.
        comments:
          $ref: "#/components/schemas/Memo"
        locale_codes:
          $ref: "#/components/schemas/Codes"
        notes:
          $ref: "#/components/schemas/Memo"
        short_description:
          type: string
          description: Short description for the detail.
        description:
          type: string
          description: Full description in memo format.
        text_key:
          type: string
          description: Key reference for reusable text blocks.
        name:
          type: string
          description: Name or title of the textual detail.
        value:
          type: string
          description: Value associated with the textual detail.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        groups:
          $ref: "#/components/schemas/Codes"
        label:
          type: string
          description: Label for UI representation.
        alt_text:
          type: string
          description: Alternative text for accessibility or image descriptions.
        textual_detail_code:
          type: string
          description: Code identifier for textual detail reference.
        tags:
          $ref: "#/components/schemas/Codes"
        uom_display:
          type: string
          description: Unit of Measure display value.
        uom_code:
          type: string
          description: "Unit of Measure code (e.g., EA, PR)."
      description: not nullable
    TextualDetails:
      type: array
      items:
        $ref: "#/components/schemas/TextualDetail"
    TimeSlot:
      type: object
      properties:
        time_slot_id:
          type: string
          description: Technical unique identifier (GUID) for the time slot record.
          example: b2d3e4f5-a6b7-c8d9-e0f1-a2b3c4d5e6f7
        time_slot_key:
          type: string
          description: Natural business key for the time slot within its specific
            context.
          example: TS-MON-MORNING-SHIFT
        time_slot_source:
          type: string
          description: The originating system or calendar providing this availability
            data.
          example: GOOGLE_CALENDAR
        start_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        start_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local start time in 24-hour ISO 8601 format.
          format: date-time
        end_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        end_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local end time in 24-hour ISO 8601 format.
          format: date-time
        recurring_indicator:
          type: boolean
          description: Indicates if this time slot is part of a repeating pattern.
          example: true
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        week_of_date:
          $ref: "#/components/schemas/Codes"
      description: "Defines a specific window of time, often within a recurring schedule,\
        \ used for service availability or appointment booking."
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - UNKNOWN
    UnitId:
      type: string
      description: A unique sequence number or business identifier provided by TMS.
      example: "129375127"
    UnitOfMeasureTypes:
      type: string
      description: types of unit of measures.
      enum:
      - MILES
      - KM
      - GALLON
      - LITER
      - METER
      - QUARTER
      - OZ
      - LB
      - DATE_TIME
      - DATE
      - KG
      - DURATION
      - CURRENCY
      - POINTS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - OCCURRENCE
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - BYTES
      - CUSTOM
      - UNLIMITED
      - NONE
      - PERCENT
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - DISTRICT
      - NA
      - UNIT
      - WATT
      - ITEM
      - NET
      - GROSS
      - MINIMUM
      - MAXIMUM
      - OTHER
    VIN:
      maxLength: 17
      minLength: 17
      pattern: "^[0-9A-HJ-NPR-Z]+$"
      type: string
      description: The 17-character Vehicle Identification Number.
      example: 5TFHY5F13KX799310
    ValidationTypes:
      type: string
      description: types of validations.
      enum:
      - OVERRIDE
      - NONE
      - MINIMUM
      - LOOSE
      - STANDARD
      - STRICT
      - EXTENSIVE
      - TRUSTED
      - COMPLIANCE
      - CUSTOM
      - UNKNOWN
    VehicleIdentifier:
      type: object
      properties:
        vehicle_identifier_key:
          type: string
          description: A unique natural business key for the vehicle identifier record.
          example: VID-KEY-992831
        vehicle_identifier_id:
          type: string
          description: The unique technical GUID/ID for the vehicle identifier.
          example: 550e8400-e29b-41d4-a716-446655440000
        odometer:
          $ref: "#/components/schemas/MetricValue"
        vehicle_key:
          type: string
          description: The unique business key of the associated vehicle entity.
          example: VEH-TOY-TUNDRA-2024
        unit_id:
          $ref: "#/components/schemas/UnitId"
        stock_number:
          type: string
          description: The dealer's internal stock or inventory number.
          example: STK100293
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        license:
          $ref: "#/components/schemas/VehicleLicense"
        make:
          type: string
          description: The manufacturer or make of the vehicle.
          example: Toyota
        model:
          type: string
          description: The specific model name.
          example: Tundra
        brand:
          type: string
          description: The consumer-facing brand name.
          example: TRD Pro
        trim:
          type: string
          description: The specific trim level or package.
          example: Limited
        oem_model_code:
          type: string
          description: The manufacturer's specific internal model code.
          example: 8442A
        oem_name:
          type: string
          description: Full name of the Original Equipment Manufacturer.
          example: Toyota Motor Corporation
        oem_code:
          type: string
          description: The short code representing the OEM.
          example: TMS
        model_code:
          type: string
          description: The standardized model code used within the bounded context.
          example: TUN
        model_description:
          type: string
          description: A verbose description of the vehicle model.
          example: 4WD CrewMax 5.5' Bed
        model_year:
          $ref: "#/components/schemas/ModelYear"
        vin:
          $ref: "#/components/schemas/VIN"
        nicknames:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
        model_detail:
          $ref: "#/components/schemas/ProductModel"
      description: Vehicle Identifier following STAR standards for cross-context vehicle
        tracking.
    VehicleLicense:
      type: object
      properties:
        vehicle_license_key:
          type: string
          description: The unique business key for the vehicle license record.
          example: LIC-GA-77291-B
        plate_number:
          $ref: "#/components/schemas/PlateNumber"
        jurisdiction_name:
          type: string
          description: "The state, province, or territory that issued the license\
            \ plate."
          example: Georgia
        country_code:
          $ref: "#/components/schemas/CountryCode"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: "Represents the legal registration and license information for\
        \ a vehicle, including plate details and issuing jurisdiction."
    Vin:
      type: string
      description: Three-letter ISO-4217 currency code.
      example: USD
