openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Payment
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:18:14Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        vin:
          $ref: "#/components/schemas/Vin"
        currency_code:
          type: string
          description: money.currency.code.desc
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        value:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    Payment:
      type: object
      properties:
        payment_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the reference record.
        payment_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference record.
        payment_transactions:
          $ref: "#/components/schemas/PaymentTransactions"
        target_amount:
          $ref: "#/components/schemas/Money"
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        context:
          type: string
          description: Context or domain of the reference.
        occurrence_date_time:
          type: string
          description: The date and time the payment was associated with the order.
          format: date-time
          example: 2026-05-07T17:18:14Z
      description: Reference to a PaymentMethod (Party) Aggregate Root for financing
        details.
    PaymentAmountTypes:
      type: string
      description: types of payment amounts.
      enum:
      - PARTIAL_REFUND
      - TOTAL_REFUND
      - TOTAL_INTEREST
      - TOTAL_PAYMENT
      - TOTAL_PRINCIPAL
      - TOTAL_FINANCED
      - DOWN_PAYMENT
      - TRADE_IN_ALLOWANCE
      - CREDIT_CARD_PAYMENT
      - CASH_PAYMENT
      - CHECK_PAYMENT
      - EFT_PAYMENT
      - PAYMENT_EVENT
      - SCHEDULED_PAYMENT_EVENT
      - BASE_PAYMENT_EVENT
      - DESIRED_PAYMENT
      - ADMIN_FEE
      - GOVERNMENT_FEE
      - SERVICE_FEE
      - LATE_FEE
      - PAYROLL
      - OTHER
    PaymentCreate:
      required:
      - payment_key
      type: object
      description: Payment Create for Post
      allOf:
      - $ref: "#/components/schemas/Payment"
    PaymentMethodReference:
      type: object
      properties:
        payment_method_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the reference record.
        payment_method_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference record.
        payment_method_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced PaymentMethod (Party)
            aggregate.
        context:
          type: string
          description: Context or domain of the reference.
        payment_method_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        processor_options:
          $ref: "#/components/schemas/Identifiers"
        snapshot_details:
          $ref: "#/components/schemas/Identifiers"
        occurrence_date_time:
          type: string
          description: The date and time the paymentMethod was associated with the
            order.
          format: date-time
          example: 2026-05-07T17:18:14Z
      description: Reference to a PaymentMethod (Party) Aggregate Root for financing
        details.
    PaymentMethodTypes:
      type: string
      description: types of payment methods.
      enum:
      - CASH
      - CHECK
      - MONEY_ORDER
      - CASH_ON_DELIVERY
      - CREDIT_CARD
      - DEBIT_CARD
      - GIFT_CARD
      - EFT
      - ONLINE_BANK_TRANSFER
      - MOBILE_WALLET
      - CRYPTOCURRENCY
      - ONLINE_PAYMENT_PLATFORM
      - PAYROLL_DEDUCTION
      - FINANCE
      - LEASE
      - RENTAL
      - TERMS
      - DUE_ON_RECEIPT
      - TRADE_IN
      - REWARD_POINTS
      - STORE_CREDIT
      - EXCHANGE
      - OTHER
      - NOT_APPLICABLE
    PaymentStatusTypes:
      type: string
      description: types of payment status.
      enum:
      - CREATED
      - SCHEDULED
      - SUBMITTED
      - FRAUD_REVIEW
      - PROCESSING
      - SUCCEEDED
      - CLEARED
      - COMPLETED
      - PAID
      - REFUNDED
      - VOIDED
      - CANCELLED
      - REJECTED
      - DENIED
      - FAILED
      - EXPIRED
      - DEFERRED
      - RETURNED
      - INACTIVE
    PaymentTransaction:
      type: object
      properties:
        payment_amount_key:
          type: string
          description: A unique key for the payment amount.
        payment_amount_id:
          type: string
          description: A unique key for the payment amount.
        payment_amount_type:
          $ref: "#/components/schemas/PaymentAmountTypes"
        payment_method_reference:
          $ref: "#/components/schemas/PaymentMethodReference"
        amount:
          $ref: "#/components/schemas/Money"
        payment_transaction_status_type:
          $ref: "#/components/schemas/PaymentTransactionStatusTypes"
      description: Represents the type and value of a payment amount.
    PaymentTransactionStatusTypes:
      type: string
      description: types of payment transaction status.
      enum:
      - NONE
      - EXPIRED
      - CAPTURED
      - CONFIRMATION
      - VOID
      - APPROVE
      - REFUNDED
      - PARTIALLY_REFUNDED
      - AUTHORIZE
      - PENDING_MERCHANT
      - SUSPENDED
      - OPEN
      - PEND
      - PROCESS
      - DECLINE
      - DUE
      - INCURRED
      - CUSTOM_CODE
      - USER_HOLD
      - ADMIN_HOLD
      - ACTIVATED
      - DEACTIVATE
      - CANCEL
      - CONFIRM
      - CLOSE
      - TRIAL
      - SUBSCRIPTION
      - OVERRIDE
      - UPGRADE
      - HOLD_ON_RENEWAL
      - HOLD_ON_DATE
      - PAYMENT
      - DOWNGRADE
    PaymentTransactions:
      type: array
      items:
        $ref: "#/components/schemas/PaymentTransaction"
    PaymentUpdate:
      type: object
      properties:
        target_amount:
          $ref: "#/components/schemas/Money"
        context:
          type: string
          description: Context or domain of the reference.
        occurrence_date_time:
          type: string
          description: The date and time the payment was associated with the order.
          format: date-time
          example: 2026-05-07T17:18:14Z
        payment_transactions:
          $ref: "#/components/schemas/PaymentTransactions"
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
      description: Payment Update for Patch and Put
    Vin:
      type: string
      description: Three-letter ISO-4217 currency code.
      example: USD
