openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths:
  /payments:
    get:
      tags:
      - Payment
      summary: Retrieve a list of Payment entities.
      operationId: listPayment
      parameters:
      - name: sort
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Payment"
                  has_more:
                    type: boolean
    post:
      tags:
      - Payment
      summary: Retrieve a list  of entities.
      operationId: createPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentCreate"
      responses:
        "201":
          description: Created
          headers:
            Location:
              schema:
                type: string
                example: /payments/KEY78Z
  /payments/{payment-key}:
    get:
      tags:
      - Payment
      operationId: getPaymentById
      responses:
        "200":
          description: get Payment By Id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
    put:
      tags:
      - Payment
      operationId: replacePayment
      responses:
        "200":
          description: Replaced
    delete:
      tags:
      - Payment
      operationId: deletePaymentEntity
      responses:
        "204":
          description: Deleted
    patch:
      tags:
      - Payment
      operationId: updatePartialPayment
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/PaymentUpdate"
      responses:
        "200":
          description: Updated
    parameters:
    - name: payment-key
      in: path
      description: The unique identifier for the specific Payment
      required: true
      schema:
        type: string
        example: KEY78w
  /payments/{payment-key}/payment-transactions:
    get:
      tags:
      - PaymentTransaction
      summary: Retrieve a list scoped by payment-key
      operationId: listPaymentTransactionByPayment-key
      parameters:
      - name: sort
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PaymentTransaction"
                  has_more:
                    type: boolean
    post:
      tags:
      - PaymentTransaction
      summary: Retrieve a list  of entities.
      operationId: createPaymentTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentTransactionCreate"
      responses:
        "201":
          description: Created
          headers:
            Location:
              schema:
                type: string
                example: "/payments/{payment-key}/payment-transactions/KEY78n"
    parameters:
    - name: payment-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /payments/{payment-key}/payment-transactions/{payment-transaction-key}:
    get:
      tags:
      - PaymentTransaction
      operationId: getPaymentTransactionById
      responses:
        "200":
          description: get PaymentTransaction By Id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentTransaction"
    put:
      tags:
      - PaymentTransaction
      operationId: replacePaymentTransaction
      responses:
        "200":
          description: Replaced
    delete:
      tags:
      - PaymentTransaction
      operationId: deletePaymentTransactionEntity
      responses:
        "204":
          description: Deleted
    patch:
      tags:
      - PaymentTransaction
      operationId: updatePartialPaymentTransaction
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/PaymentTransactionUpdate"
      responses:
        "200":
          description: Updated
    parameters:
    - name: payment-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: payment-transaction-key
      in: path
      description: The unique identifier for the specific PaymentTransaction
      required: true
      schema:
        type: string
        example: KEY78F
components:
  schemas: {}
