openapi: 3.0.1
info:
  title: Automotive Retail Systems API - MultiPointInspection
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-24T14:57:03Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    Address:
      type: object
      properties:
        address_locales:
          $ref: "#/components/schemas/AddressLocales"
        priority:
          maxLength: 10
          minLength: 1
          type: string
          description: "Priority indicator for address usage (e.g., billing, shipping)."
          example: "1"
        city_code:
          maxLength: 20
          minLength: 1
          type: string
          description: Standardized city code.
        address_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business key for the address.
        address_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier for the address record.
        address_input:
          maxLength: 255
          minLength: 1
          type: string
          description: Raw input provided for address processing or validation.
        address_line1:
          maxLength: 100
          minLength: 1
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          maxLength: 100
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line4:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line5:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        city:
          maxLength: 100
          minLength: 1
          type: string
          description: Name of the city.
        city_subdivision:
          maxLength: 100
          type: string
          description: "Subdivision within the city (e.g., neighborhood, district)."
        country:
          maxLength: 100
          minLength: 2
          type: string
          description: Full name of the country.
        country_code:
          maxLength: 2
          minLength: 2
          type: string
          description: ISO 3166-1 Alpha-2 country code.
        county:
          maxLength: 100
          type: string
          description: Name of the county.
          example: Dade
        county_code:
          maxLength: 20
          type: string
          description: Standardized code for the county.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        position:
          $ref: "#/components/schemas/Position"
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        postal_code_ext:
          maxLength: 10
          type: string
          description: "Extended postal code (e.g., ZIP+4)."
        preferred_indicator:
          type: boolean
          description: Flag indicating if this address is the preferred address.
          example: false
        region:
          maxLength: 50
          type: string
          description: "Administrative region (e.g., province, state)."
        state:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: Address represents a physical or mailing location associated with
        a party or warehouse.
    AddressLocale:
      type: object
      properties:
        address_locale_key:
          type: string
          description: Business key for the address locale.
        address_locale_id:
          type: string
          description: Unique identifier for the address locale.
        region_code:
          type: string
          description: Code representing the region for the locale.
        region_name:
          type: string
          description: Name of the region for the locale.
        region_aliases:
          $ref: "#/components/schemas/Codes"
        location_type:
          $ref: "#/components/schemas/LocationTypes"
      description: External system address locale including region and location type.
    AddressLocales:
      type: array
      items:
        $ref: "#/components/schemas/AddressLocale"
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    Addresses:
      type: array
      items:
        $ref: "#/components/schemas/Address"
    AppointmentReference:
      type: object
      properties:
        appointment_reference_key:
          type: string
          description: A unique key for the appointment reference.
        appointment_key:
          type: string
          description: A unique key for the appointment record.
        appointment_reference_value:
          type: string
          description: The unique value of the appointment reference.
        appointment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AppointmentTypes"
        appointment_source_code:
          type: string
          description: The source code for the appointment.
        description:
          type: string
          description: Optional description for the part identifier
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        appointment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        appointment_status_type:
          $ref: "#/components/schemas/AppointmentStatusTypes"
        appointment_type:
          $ref: "#/components/schemas/AppointmentTypes"
        occurrence_date_time:
          type: string
          description: The date and time the appointment occurred.
          format: date-time
          example: 2026-07-24T14:57:03Z
      description: nullable
    AppointmentReferences:
      type: array
      items:
        $ref: "#/components/schemas/AppointmentReference"
    AppointmentStatusTypes:
      type: string
      description: types of appointment status.
      enum:
      - INITIATED
      - TENTATIVE
      - CONFIRMATION_PENDING
      - CONFIRMED
      - ALTERNATE_PROPOSED
      - ALTERNATE_ACCEPTED
      - ALTERNATE_DECLINED
      - REMINDER_PENDING
      - REMINDER_SENT
      - REMINDER_ACKNOWLEDGED
      - CHECK_IN_PENDING
      - ARRIVED
      - CHECKED_IN
      - READY
      - GRACE_PERIOD
      - LATE_ARRIVAL
      - IN_PROGRESS
      - ON_HOLD
      - PARTIALLY_FULFILLED
      - FULFILLED
      - FOLLOW_UP_REQUIRED
      - CLOSED
      - NO_SHOW
      - NO_SHOW_REVIEW
      - NO_SHOW_CONFIRMED
      - NO_SHOW_RECOVERED
      - RESCHEDULE_INITIATED
      - RESCHEDULE_ACKNOWLEDGED
      - RESCHEDULE_PROCESSING
      - RESCHEDULE_PROPOSED
      - RESCHEDULE_PENDING_AGREEMENT
      - RESCHEDULE_AGREED
      - RESCHEDULE_COMPLETED
      - RESCHEDULE_DECLINED
      - CANCELLATION_REQUESTED
      - CANCELLATION_ACKNOWLEDGED
      - CANCELLATION_PROCESSING
      - CANCELLATION_DECLINED
      - CANCELLED
      - EXPIRED
      - DECLINED
      - REJECTED
      - FAILED
      - UNKNOWN
    AppointmentTypes:
      type: string
      description: types of appointments.
      enum:
      - SALES
      - F_AND_I
      - TRADE_EVALUATION
      - TEST_DRIVE
      - DELIVERY
      - VEHICLE_SALE
      - SERVICE
      - SCHEDULED_SERVICE
      - WARRANTY_REPAIR
      - WARRANTY
      - EXTENDED_SERVICE
      - RECALL_REMEDIAL
      - RECALL
      - FSA
      - CAMPAIGN
      - DIAGNOSTIC_ESTIMATE
      - PRE_DELIVERY_INSPECTION
      - UPFIT_CUSTOMIZATION
      - FLEET_COMMISSIONING
      - DECOMMISSIONING
      - VALET_COLLECTION
      - VEHICLE_PICKUP
      - ROADSIDE_ASSISTANCE
      - TOWING
      - RECOVERY
      - BODY_SHOP
      - QUICKLANE
      - GOVT
      - CUSTOMER
      - INTERNAL
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-07-24T14:57:03Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BillOfMaterialReference:
      type: object
      properties:
        bill_of_material_reference_id:
          type: string
          description: Unique identifier value
        bill_of_material_reference_key:
          type: string
          description: Unique identifier value
        bill_of_material_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:57:03Z
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
        part_identifier_reference:
          $ref: "#/components/schemas/PartIdentifierReference"
        package_indicator:
          type: boolean
          description: Indicates whether the labor operation is a package.
          example: false
      description: External system identifier
    BillOfMaterialReferences:
      type: array
      items:
        $ref: "#/components/schemas/BillOfMaterialReference"
    BusinessContext:
      type: object
      properties:
        intent_code:
          type: string
          description: "The unique identifier code for the strategic intent (e.g.,\
            \ IMPROVE_NET_OPERATING_VALUE)."
        business_action_code:
          type: string
          description: "The unique identifier code for the specific business action\
            \ (e.g., MINIMIZE_HOLDING_COSTS)."
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
      description: "Represents the strategic lineage, intention, and operational state\
        \ accompanying an execution vector or streaming lifecycle event."
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ColorSummaries:
      type: array
      items:
        $ref: "#/components/schemas/ColorSummary"
    ColorSummary:
      type: object
      properties:
        color_summary_id:
          type: string
          description: A unique id for the color detail.
        color_summary_key:
          type: string
          description: A unique key for the color detail.
        dealer_color:
          type: string
          description: The color as designated by the dealer.
        desc_color:
          type: string
          description: A descriptive name for the color.
        color_code:
          type: string
          description: The technical code of the color
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM) name or code.
        marketing_name:
          type: string
          description: The Marketing Name of the color
        item_name:
          type: string
          description: The Marketing Name of the color
      description: "Summarys for a specific color, including dealer and OEM codes."
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    ConnectedVehicleStatusTypes:
      type: string
      description: types of connected vehicle status.
      enum:
      - CONNECTING
      - ONLINE
      - SLEEPING
      - OFFLINE
      - DISCONNECTED
      - SUSPENDED
      - DECOMMISSIONED
      - OPTED_OUT
      - PAIRING
      - DEGRADED
      - UNSUPPORTED
      - UNKNOWN
      - OTHER
    ControlAccount:
      type: object
      properties:
        control_account_id:
          type: string
          description: Unique identifier for the control account.
        control_account_key:
          type: string
          description: Business key for the control account.
        account_number:
          type: string
          description: Business key for the control account.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        control_account_desc:
          type: string
          description: Description of the control account.
        control_account_name:
          type: string
          description: Display name of the control account.
        control_account_type:
          $ref: "#/components/schemas/ControlAccountTypes"
        control_type_id:
          type: string
          description: Identifier for the control type of the account.
        bank_account_id:
          type: string
          description: Associated bank account identifier.
        is_counted:
          type: boolean
          description: "Indicates if the account is a counted account (e.g., for inventory)."
          example: false
        prefix:
          type: string
          description: The prefix of the account number.
        control_account_role_type:
          $ref: "#/components/schemas/ControlAccountRoleTypes"
        control_account_status_types:
          $ref: "#/components/schemas/ControlAccountStatusTypes"
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        total_debit_balance:
          $ref: "#/components/schemas/Money"
        total_credit_balance:
          $ref: "#/components/schemas/Money"
        net_balance:
          $ref: "#/components/schemas/Money"
        last_reconciliation_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:57:03Z
        subsidiary_ledger_type:
          $ref: "#/components/schemas/SubsidiaryLedgerTypes"
      description: "Journal entry for general ledger, capturing control account details\
        \ including identifiers, type, and descriptive fields."
    ControlAccountRoleTypes:
      type: string
      description: types of control account roles.
      enum:
      - MASTER
      - SUB
      - SPLIT
      - STANDARD
      - OTHER
    ControlAccountStatusTypes:
      type: string
      description: types of control account status.
      enum:
      - INITIALIZE
      - CREATED
      - ACTIVATE
      - ACTIVE
      - SUSPEND_FOR_REVIEW
      - REACTIVATE
      - SUSPENDED
      - PERMANENTLY_CLOSED
      - RETIRE
      - TERMINATED
    ControlAccountTypes:
      type: string
      description: types of control accounts.
      enum:
      - ASSETS
      - FIXED_ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - LONG_TERM_LIABILITY
      - EQUITY
      - CLEARING
      - PROVISION
      - ROUNDING
      - REVENUE
      - OTHER_INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - TAX
      - DISCOUNT
      - REBATE
      - FEE
      - SERVICE
      - CREDIT
      - OTHER
      - DEALER
      - VEHICLE
      - ACCESSORIES
      - OPTION
      - CUSTOMER
      - VENDOR
      - EMPLOYEE
      - PRODUCT
      - REPAIR_ORDER
      - PARTS_SALES_ORDER
      - PACKAGE
      - REFERENCE
    ControlAccounts:
      type: array
      items:
        $ref: "#/components/schemas/ControlAccount"
    CorrelationId:
      pattern: "^[a-zA-Z0-9-]+$"
      type: string
      description: The correlation ID or workflow execution identifier for cross-system
        distributed tracing.
      example: exec-uuid-99283-7716
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-07-24T14:57:03Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    Customer:
      type: object
      properties:
        customer_key:
          type: string
          description: The unique key for the customer record.
        customer_id:
          type: string
          description: The unique ID for the customer.
        universal_id:
          type: string
          description: The universal ID for the customer.
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        preferred_language_code:
          type: string
          description: The customer's preferred language code.
        language_codes:
          $ref: "#/components/schemas/Codes"
        occupations:
          $ref: "#/components/schemas/Codes"
        first_time_buyer_indicator:
          type: boolean
          description: A boolean indicator for whether the customer is a first-time
            buyer.
          example: false
        identifiers:
          $ref: "#/components/schemas/Identifiers"
      description: "Represents a customer, which can be a person or an organization.\
        \ This class includes core personal information, contact methods, financial\
        \ profiles, and related resources."
    CustomerInteractionTypes:
      type: string
      description: types of customer interactions.
      enum:
      - EMAIL_RECEIVED_FROM_CUSTOMER
      - EMAIL_SENT_TO_CUSTOMER
      - PHONE_CALL_FROM_CUSTOMER
      - PHONE_CALL_MADE_TO_CUSTOMER
      - TEXT_RECEIVED_FROM_CUSTOMER
      - TEXT_SENT_TO_CUSTOMER
      - EMAIL_BOUNCED
      - CUSTOMER_UNSUBSCRIBED
      - LEAD_RECEIVED
      - LEAD_IN_PROGRESS
      - LEAD_QUALIFIED
      - LEAD_LOST_SALE
      - LEAD_DUPLICATED
      - LEAD_DELETED
      - LEAD_MERGED
      - LEAD_REACTIVATED
      - APPOINTMENT_SCHEDULED
      - APPOINTMENT_IN_PROGRESS
      - APPOINTMENT_COMPLETED
      - APPOINTMENT_NOT_COMPLETED
      - APPOINTMENT_CANCELLED
      - APPOINTMENT_NO_SHOW
      - SERVICE_IN_PROGRESS
      - SERVICE_COMPLETED
      - APPOINTMENT_SHOW
      - APPOINTMENT_RESCHEDULED
      - APPOINTMENT_REQUESTED
      - APPOINTMENT_NOT_REQUESTED
      - OUTBOUND_CONTACT
      - REPAIR_ORDER
      - CONSULTATION
      - NOTES_ADDED
      - EMAIL_BROADCAST_SENT
    Customers:
      type: array
      items:
        $ref: "#/components/schemas/Customer"
    DailyHour:
      type: object
      properties:
        daily_hour_key:
          type: string
          description: A unique key for the daily hour record
        start_day:
          type: string
          description: The starting day of the week for the hours
        end_day:
          type: string
          description: The ending day of the week for the hours
        opening_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        closing_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        week_starting_date:
          type: string
          description: The starting date of the week
          format: date
        week_ending_date:
          type: string
          description: The ending date of the week
          format: date
      description: Daily Hours that the department is open
    DailyHours:
      type: array
      items:
        $ref: "#/components/schemas/DailyHour"
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    Department:
      type: object
      properties:
        department_key:
          type: string
          description: A unique key for the department.
        department_id:
          type: string
          description: The unique ID for the department.
        department_codes:
          $ref: "#/components/schemas/Codes"
        department_name:
          type: string
          description: The name of the department.
        department_function:
          $ref: "#/components/schemas/Codes"
        department_contact:
          type: string
          description: The contact name for the department.
        comments:
          type: string
          description: General comments about the department.
        special_remarks_description:
          type: string
          description: A description of special remarks about the department.
        contact_methods_href:
          type: string
          description: A hyperlink to the department's contact methods.
          format: href
        departments_href:
          type: string
          description: A hyperlink to related departments.
          format: href
        daily_hours:
          $ref: "#/components/schemas/DailyHours"
        links:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Link"
        department_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/DepartmentTypes"
        control_accounts:
          $ref: "#/components/schemas/ControlAccounts"
      description: Dealership Department
    DepartmentReference:
      type: object
      properties:
        department_reference_id:
          type: string
          description: Unique identifier value
        department_reference_key:
          type: string
          description: Unique identifier value
        department_key:
          type: string
          description: Unique identifier value
        department_name:
          type: string
          description: The name of the department.
        department_type:
          $ref: "#/components/schemas/DepartmentTypes"
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        department:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:57:03Z
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
      description: External system identifier
    DepartmentTypes:
      type: string
      description: types of departments.
      enum:
      - SALES
      - USED_VEHICLES
      - F_I
      - QUICK_LUBE
      - REGULAR_INSPECTION
      - TIRE_CENTER
      - SERVICE
      - FIELD_ACTION
      - BODY_SHOP
      - ACCESSORY_INSTALL
      - ADAS_CALIBRATION
      - PDI_INSPECTION
      - RECON_DETAIL
      - PARTS
      - FLEET
      - FLEET_OPS
      - SUBLET
      - OTHER
    DeviceTypes:
      type: string
      description: types of devices.
      enum:
      - MOBILE
      - TABLET
      - DESKTOP
      - SMART_TV
      - OTHER
    Diagnostic:
      type: object
      properties:
        diagnostic_key:
          type: string
          description: A unique key for the diagnostic record.
        diagnostic_id:
          type: string
          description: The unique ID for the diagnostic report.
        diagnostic_indicators:
          $ref: "#/components/schemas/Codes"
        diagnostic_codes:
          $ref: "#/components/schemas/Codes"
        labor_operation_references:
          $ref: "#/components/schemas/LaborOperationReferences"
        narratives:
          $ref: "#/components/schemas/Narratives"
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        invoice_identifier:
          type: string
          description: The invoice identifier associated with the diagnostic.
      description: A diagnostic report for a vehicle or product.
    Diagnostics:
      type: array
      items:
        $ref: "#/components/schemas/Diagnostic"
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-07-24T14:57:03Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-07-24T14:57:03Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    EffortSplitReference:
      type: object
      properties:
        customer_effort_hours:
          $ref: "#/components/schemas/TimeMeasure"
        warranty_effort_hours:
          $ref: "#/components/schemas/TimeMeasure"
        internal_effort_hours:
          $ref: "#/components/schemas/TimeMeasure"
        split_type_codes:
          $ref: "#/components/schemas/Codes"
      description: effort.split.reference.desc
    EffortSplitReferences:
      type: array
      items:
        $ref: "#/components/schemas/EffortSplitReference"
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: A unique key for the eventMessage record.
        event_message_id:
          type: string
          description: The unique ID for the eventMessage.
        event_actor_key:
          type: string
          description: The ID of the actor for the event.
        event_actor_name:
          type: string
          description: The name of the actor for the event.
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-07-24T14:57:03Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belongs.
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
        event_message_code:
          type: string
          description: The code for the eventMessage.
        event_message_value:
          type: string
          description: The value of the eventMessage.
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessage is internal.
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      enum:
      - INSTRUCTION
      - REASONING
      - RESPONSE
      - TOOL_CALL
      - TOOL_OUTPUT
      - ACTION_CONFIRMATION
      - COMPENSATION
      - RETRY_SIGNAL
      - ERROR_REPORT
      - DELEGATION
      - BROADCAST
      - CRITIQUE
      - LOGGING
      - AUDIT
      - HEARTBEAT
      - UNKNOWN
    EventMessages:
      type: array
      items:
        $ref: "#/components/schemas/EventMessage"
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
      - VEHICLE_INVOICE
      - PARTS_INVOICE
      - SERVICE_INVOICE
      - PAYMENT
      - DEPOSIT
      - REFUND
      - FEE
      - CREDIT
      - ADJUSTMENT
      - WRITE_OFF
      - CHARGEBACK
      - JOURNAL_ENTRY
      - FINANCE_CONTRACT
    FinancialEventSnapshot:
      type: object
      properties:
        financial_event_snapshot_key:
          type: string
          description: The unique ID for this generated snapshot instance.
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        general_ledger_reference:
          $ref: "#/components/schemas/GeneralLedgerReference"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        unit_cost:
          $ref: "#/components/schemas/GeneralAmount"
      description: "A real-time aggregated financial report (P&L, Balance Sheet, or\
        \ Trial Balance) generated as a view model for dashboards."
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        financial_split_reference_key:
          type: string
          description: Unique key value for the reference record.
        financial_split_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Payment FinancialSplit
            aggregate.
        context:
          type: string
          description: Context or domain of the payment financialSplit.
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        total:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associated with the
            order.
          format: date-time
          example: 2026-07-24T14:57:03Z
      description: Reference to a Payment FinancialSplit Aggregate Root.
    FinancialSplitReferences:
      type: array
      items:
        $ref: "#/components/schemas/FinancialSplitReference"
    FuelSummary:
      type: object
      properties:
        code:
          type: string
          description: The OEM or catalog fuel identifier code.
          example: "6"
        name:
          type: string
          description: The descriptive name of the fuel configuration.
          example: ICE
      description: A lightweight summary of the vehicle's fuel configuration.
    GenderTypes:
      type: string
      description: types of genders.
      enum:
      - MALE
      - FEMALE
      - UNKNOWN
      - TRANS_MALE
      - TRANS_FEMALE
      - NA
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        amount:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    GeneralLedgerReference:
      type: object
      properties:
        general_ledger_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        context:
          type: string
          description: Context or domain of the reference
        system_codes:
          $ref: "#/components/schemas/Codes"
        general_ledger_identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:57:03Z
      description: External system reference
    GeographicBoundary:
      type: object
      properties:
        geographic_boundary_id:
          type: string
          description: Unique identifier for the geographic boundary record.
          example: gb-7721-x88
        geographic_boundary_key:
          type: string
          description: Unique business key used for referencing the boundary across
            systems.
          example: GEO-ATL-METRO-001
        geographic_codes:
          $ref: "#/components/schemas/Codes"
        locales:
          $ref: "#/components/schemas/Codes"
        geographic_type:
          $ref: "#/components/schemas/LocationTypes"
        geographic_values:
          $ref: "#/components/schemas/Codes"
        distance_max:
          type: string
          description: Upper bound distance constraint for radial searches.
          example: "50.0"
        distance_min:
          type: string
          description: Lower bound distance constraint for radial searches.
          example: "0.0"
        distance_type:
          $ref: "#/components/schemas/UnitOfMeasureTypes"
        name:
          type: string
          description: The common display name for the boundary.
          example: Alpharetta Service Area
        vertices:
          type: string
          description: "Comma-separated string of coordinate pairs (lat,long) defining\
            \ a boundary polygon."
          example: "34.07,-84.29, 34.08,-84.30, 34.07,-84.31"
        description:
          type: string
          description: Detailed narrative of the boundary's purpose or coverage.
          example: Primary sales territory for North Georgia.
        center_latitude:
          type: string
          description: Latitude of the boundary's centroid.
          example: "34.0754"
        center_longitude:
          type: string
          description: Longitude of the boundary's centroid.
          example: "-84.2941"
      description: nullable
    GeographicBoundaryReference:
      type: object
      properties:
        geographic_boundary_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        geographic_boundary_reference_key:
          type: string
          description: Unique key value for the reference record.
        geographic_boundary_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
        context:
          type: string
          description: Context or domain of the payment schedule.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-07-24T14:57:03Z
      description: Reference to a Payment Schedule Aggregate Root.
    GeographicBoundaryReferences:
      type: array
      items:
        $ref: "#/components/schemas/GeographicBoundaryReference"
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Inspection:
      type: object
      properties:
        inspection_key:
          type: string
          description: A unique key for the inspection record.
        inspection_id:
          type: string
          description: The unique ID for the inspection report.
        part_inspected:
          type: string
          description: The name of the actor for the event.
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-07-24T14:57:03Z
        inspection_category:
          type: string
          description: The unique ID for the inspection report.
        inspection_recommendation:
          type: string
          description: The unique ID for the inspection report.
        inspection_category_code:
          type: string
          description: A description for the inspectionCategory.
        inspection_notes:
          $ref: "#/components/schemas/Narratives"
        inspection_code:
          type: string
          description: A description for the inspection.
        inspection_part_desc:
          type: string
          description: A description for the inspection.
        value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        medias:
          $ref: "#/components/schemas/Medias"
      description: A inspection report for a vehicle or product.
    Inspections:
      type: array
      items:
        $ref: "#/components/schemas/Inspection"
    InvoiceReference:
      type: object
      properties:
        invoice_reference_id:
          type: string
          description: Unique identifier value for the invoice reference record.
        invoice_reference_key:
          type: string
          description: Unique key value for the invoice reference record.
        invoice_key:
          type: string
          description: The unique key identifying the referenced Invoice aggregate.
        context:
          type: string
          description: "Context or domain of the invoice (e.g., 'ACCOUNTS_PAYABLE',\
            \ 'SALES_INVOICE')."
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the invoice was created or linked to this
            record.
          format: date-time
          example: 2026-07-24T14:57:03Z
        invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
      description: "Reference to an Invoice Aggregate Root, representing a financial\
        \ obligation."
    InvoiceReferences:
      type: array
      items:
        $ref: "#/components/schemas/InvoiceReference"
    InvoiceTypes:
      type: string
      description: types of invoices.
      enum:
      - INVOICE
      - SERVICE_INVOICE
      - PART_INVOICE
      - LOAN
      - STANDARD
      - ORIGINAL
      - ADJUSTED
      - CREDIT_MEMO
      - DEBIT_MEMO
      - PRO_FORMA
      - COMMERCIAL
      - VEHICLE_SALE
      - VEHICLE_INVOICE
      - SERVICE
      - PARTS
      - LEASE
      - FINANCE_CHARGE
      - WARRANTY_CLAIM
      - INSURANCE_CLAIM
      - STATEMENT
      - ADVANCE
      - FINAL
      - REPAIR
      - FUEL
      - RENTAL
      - SUBSCRIPTION
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the jurisdiction profile.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the jurisdiction
            profile.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "The date and time when this jurisdiction profile was last\
            \ synchronized from the source governance, legal, policy, or compliance\
            \ system."
          format: date-time
          example: 2026-07-24T14:57:03Z
        occurrence_date_time:
          type: string
          description: "The date and time when the jurisdiction profile was observed,\
            \ created, received, updated, or became effective."
          format: date-time
          example: 2026-07-24T14:57:03Z
      description: nullable
    LaborLocationTypes:
      type: string
      description: types of labor locations.
      enum:
      - DEALERSHIP_FACILITY
      - MOBILE_UNIT
      - FLEET_SITE
      - CUSTOMER_RESIDENCE
      - THIRD_PARTY_FACILITY
      - IN_TRANSIT
    LaborOperation:
      type: object
      properties:
        labor_operation_key:
          type: string
          description: The unique key for the labor operation.
        labor_operation_id:
          type: string
          description: The unique ID for the labor operation.
        standard_repair_sec:
          type: integer
          description: The number of seconds the standard repair takes.
          format: int64
        labor_operation_codes:
          $ref: "#/components/schemas/Codes"
        labor_operation_description:
          type: string
          description: The description of the labor operation.
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
        bill_of_material_references:
          $ref: "#/components/schemas/BillOfMaterialReferences"
        amount:
          $ref: "#/components/schemas/Money"
        flat_rate_units:
          type: string
          description: The labor units billed. Kept as String to avoid translation
            loss with legacy systems.
        labor_operation_name:
          type: string
          description: Labor Operation Name
        labor_operation_type:
          $ref: "#/components/schemas/LaborOperationTypes"
        labor_operation_status_type:
          $ref: "#/components/schemas/LaborOperationStatusTypes"
        origin_type:
          $ref: "#/components/schemas/PayeeTypes"
        labor_location_type:
          $ref: "#/components/schemas/LaborLocationTypes"
        assigned_resources:
          $ref: "#/components/schemas/LaborResources"
        staff_assignments:
          $ref: "#/components/schemas/StaffAssignmentReferences"
        parent_reference_id:
          type: string
          description: The ID of the Sales Order or Repair Order this labor belongs
            to.
        department_context:
          $ref: "#/components/schemas/ServiceJobTypes"
        customers:
          $ref: "#/components/schemas/Customers"
        service_catalog_references:
          $ref: "#/components/schemas/ServiceCatalogReferences"
        labor_operation_events:
          $ref: "#/components/schemas/LaborOperationEvents"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        complaint_text:
          $ref: "#/components/schemas/TextualDetails"
        legacy_tech_id:
          type: string
          description: "The legacy ID of the technician (e.g., '101')."
        financial_summary:
          $ref: "#/components/schemas/RepairFinancialSummary"
        inspections:
          $ref: "#/components/schemas/Inspections"
        attached_medias:
          $ref: "#/components/schemas/MediaReferences"
        workshop_code:
          type: string
          description: "The standardized classification code designating the high-level\
            \ workshop type (e.g., B for Body Shop, M for Main Line)."
        dealer_workshop_code:
          type: string
          description: "The internal, dealer-defined unique code identifier for the\
            \ specific physical workshop location within the DMS."
          example: BOBDYB
        dealer_workshop_name:
          type: string
          description: The human-readable name of the specific dealership workshop
            area where the operation takes place.
          example: Body Shop Back Lot
        labor_operation_status_desc:
          type: string
          description: laborOperationStatusDesc
          example: laborOperationStatusDesc
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        service_activities:
          $ref: "#/components/schemas/ServiceActivities"
        service_line_items:
          $ref: "#/components/schemas/ServiceLineItems"
        sequential_line_identifier:
          maxLength: 10
          minLength: 1
          type: string
          description: "The sequential line identifier for this labor operation on\
            \ the service order (e.g., 'A', 'B', 'C' or '1', '2', '3')."
          example: A
        labor_operation_priority_type:
          $ref: "#/components/schemas/LaborOperationPriorityTypes"
        services:
          $ref: "#/components/schemas/ServiceReferences"
        repair_effort_summary:
          $ref: "#/components/schemas/RepairEffortSummary"
      description: "Represents a labor operation, including its unique identifiers,\
        \ codes, and description."
    LaborOperationEvent:
      type: object
      properties:
        labor_operation_event_id:
          type: string
          description: Unique identifier for the labor operation event record.
        labor_operation_event_key:
          type: string
          description: Unique key identifying the labor operation event aggregate
            root.
        occurrence_timestamp:
          type: string
          description: The precise date and time the event occurred.
          format: date-time
          example: 2026-07-24T14:57:03Z
        previous_status_type:
          $ref: "#/components/schemas/LaborOperationStatusTypes"
        new_status_type:
          $ref: "#/components/schemas/LaborOperationStatusTypes"
        actor_key:
          type: string
          description: The unique key of the Staff (Technician) or System (AI Agent)
            that triggered this event.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_note:
          type: string
          description: Narrative or system-generated notes regarding the transition.
        location_context:
          type: string
          description: "GPS coordinates, Geofence ID, or Bay ID providing spatial\
            \ context for the event."
        business_context:
          $ref: "#/components/schemas/BusinessContext"
        financial_event_snapshot:
          $ref: "#/components/schemas/FinancialEventSnapshot"
      description: Represents a point-in-time state change or significant occurrence
        within a Labor Operation's lifecycle.
    LaborOperationEvents:
      type: array
      items:
        $ref: "#/components/schemas/LaborOperationEvent"
    LaborOperationPriorityTypes:
      type: string
      description: types of labor operation prioritys.
      enum:
      - PRIMARY_CONCERN
      - SAFETY_CRITICAL
      - ROUTINE_MAINTENANCE
      - RECOMMENDED_ADD_ON
      - OPTIONAL_DESIRED
    LaborOperationReference:
      type: object
      properties:
        labor_operation_reference_key:
          type: string
          description: The unique key for the labor operation.
        labor_operation_reference_id:
          type: string
          description: The unique ID for the labor operation.
        sequential_line_identifier:
          maxLength: 10
          minLength: 1
          type: string
          description: "The sequential line identifier for this labor operation on\
            \ the service order (e.g., 'A', 'B', 'C')."
          example: A
        labor_operation_name:
          type: string
          description: Labor Operation Name
        labor_operation_type:
          $ref: "#/components/schemas/LaborOperationTypes"
        labor_operation_status_type:
          $ref: "#/components/schemas/LaborOperationStatusTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        flat_rate_units:
          type: string
          description: The labor units billed.
        standard_repair_sec:
          type: integer
          description: The number of seconds the standard repair takes.
          format: int64
        resolved_amount:
          $ref: "#/components/schemas/Money"
      description: "Represents a labor operation, including its unique identifiers,\
        \ codes, and description."
    LaborOperationReferences:
      type: array
      items:
        $ref: "#/components/schemas/LaborOperationReference"
    LaborOperationStatusTypes:
      type: string
      description: types of labor operation status.
      enum:
      - SCHEDULED
      - DISPATCHED
      - EN_ROUTE
      - ON_SITE
      - IN_TRANSIT
      - ARRIVED
      - ONBOARDING
      - ONBOARDED
      - STAGED
      - PENDING
      - IN_PROGRESS
      - ON_HOLD
      - COMPLETED
      - READY_FOR_PICKUP
      - PENDING_PAYMENT
      - OFFBOARDED
      - DEPARTED
      - CANCELLED
      - DEFERRED
      - DECLINED
    LaborOperationTypes:
      type: string
      description: types of labor operations.
      enum:
      - MAINTENANCE
      - REPAIR
      - DIAGNOSTIC
      - RECALL
      - WARRANTY
      - INTERNAL
      - ACCESSORY_INSTALL
      - TRANSPORT
      - MOBILE_SERVICE
      - REMOTE_DIAGNOSTIC
      - INSPECTION
      - BODY_SHOP
    LaborOperations:
      type: array
      items:
        $ref: "#/components/schemas/LaborOperation"
    LaborResource:
      type: object
      properties:
        labor_resource_key:
          type: string
          description: The unique key for the labor resource.
        labor_resource_id:
          type: string
          description: The unique ID for the labor resource.
        resources:
          $ref: "#/components/schemas/PartIdentifiers"
        resource_type:
          $ref: "#/components/schemas/LaborResourceTypes"
      description: Details of the resource assigned to the labor operation.
    LaborResourceTypes:
      type: string
      description: types of labor resources.
      enum:
      - PART
      - MOBILE_UNIT
      - TOW_TRUCK
      - AUTONOMOUS_VEHICLE
      - SHOP_EQUIPMENT
      - SOFTWARE_PACKAGE
    LaborResources:
      type: array
      items:
        $ref: "#/components/schemas/LaborResource"
    LifecyclePulse:
      type: object
      properties:
        lifecycle_pulse_id:
          type: string
          description: The internal unique identifier for this specific pulse record.
          example: pls-992837-abc
        lifecycle_pulse_key:
          type: string
          description: "A natural business key for the pulse, typically formatted\
            \ as EVENT_NAME-TIMESTAMP."
          example: RDR_TRANSMITTED_20260318_143005
        lifecycle_pulse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/LifecyclePulseTypes"
        occurred_at:
          type: string
          description: The high-precision timestamp when the event actually occurred
            in the source system.
          format: date-time
          example: 2026-07-24T14:57:03Z
        actor:
          $ref: "#/components/schemas/ActorReference"
        execution_id:
          $ref: "#/components/schemas/CorrelationId"
        pulse_detail:
          type: string
          description: pulse detail
          example: "Updated: Assigned to Ocean Trader V22 for transit."
        traceability:
          $ref: "#/components/schemas/EventMessages"
      description: Represents an immutable audit event or 'pulse' in the record lifecycle.
    LifecyclePulseTypes:
      type: string
      description: types of lifecycle pulses.
      enum:
      - STARTED
      - CREATED
      - UPDATED
      - PROCESSED
      - TRANSMITTED
      - ACKNOWLEDGED
      - REJECTED
      - ARCHIVED
      - VOIDED
    LifecyclePulses:
      type: array
      items:
        $ref: "#/components/schemas/LifecyclePulse"
    LifecycleStatusTypes:
      type: string
      description: types of lifecycle status.
      enum:
      - PENDING
      - ACTIVE
      - INACTIVE
      - SUSPENDED
      - EXPIRED
      - CANCELLED
      - SUPERSEDED
      - TERMINATED
      - COMPLETED
      - UNKNOWN
      - OTHER
    Link:
      type: object
      properties:
        link_key:
          type: string
          description: The unique key for the link.
        href:
          type: string
          description: The URL of the related resource.
        method:
          type: string
          description: "The HTTP method to be used to access the link (e.g., GET,\
            \ POST)."
        rel:
          type: string
          description: "The link relation, which describes the relationship between\
            \ the current resource and the linked resource."
        title:
          type: string
          description: A human-readable title for the link.
      description: "Represents a Hypermedia as the Engine of Application State (HATEOS)\
        \ link, providing information on how to interact with a related resource."
    List:
      type: array
      items:
        $ref: "#/components/schemas/DepartmentTypes"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    LocationTypes:
      type: string
      description: types of locations.
      enum:
      - BOROUGH
      - PARISH
      - REGION
      - BOUNDARY
      - PROVINCE
      - VILLAGE
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - TELEMATICS
      - ADDRESS
      - NO_PREFERENCE
      - GPS
      - WAREHOUSE
      - DISTRICT
    Manifest:
      type: object
      properties:
        manifest_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The internal unique identifier for the manifest instance.
          example: man-55283-abc
        manifest_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The business key identifying the specific manifest configuration.
          example: RDR_US_RETAIL_v2
        context:
          type: string
          description: "The business domain or OEM context for this manifest (e.g.,\
            \ 'SALES', 'LOGISTICS', 'WARRANTY')."
          example: VEHICLE_DELIVERY
        schema:
          $ref: "#/components/schemas/SchemaUri"
        definitions:
          $ref: "#/components/schemas/ManifestItems"
        lifecycle_pulses:
          $ref: "#/components/schemas/LifecyclePulses"
        manifest_type:
          type: string
          description: "The classification of manifest (e.g., 'VALIDATION_RULES',\
            \ 'DATA_MAPPING', 'TRANSFORMATION')."
          example: VALIDATION_RULES
        version:
          $ref: "#/components/schemas/SemanticVersion"
      description: External system manifest defining the structural rules and metadata
        for a transaction.
    ManifestItem:
      type: object
      properties:
        manifest_item_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique manifestItem value
        manifest_item_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the manifestItem
        context:
          type: string
          description: Context or domain of the manifestItem
        id:
          type: string
          description: Context or domain of the manifestItem
        value:
          type: string
          description: The monetary or hours-based value of the event.
        description:
          type: string
          description: The monetary or hours-based value of the event.
      description: not nullable
    ManifestItems:
      type: array
      items:
        $ref: "#/components/schemas/ManifestItem"
    Manifests:
      type: array
      items:
        $ref: "#/components/schemas/Manifest"
    MaritalStatusTypes:
      type: string
      description: types of marital status.
      enum:
      - SINGLE
      - MARRIED
      - COMMON_LAW
      - SEPARATED
      - DIVORCED
      - WIDOWED
      - ANNULLED
      - OTHER
      - UNKNOWN
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Media:
      type: object
      properties:
        media_key:
          type: string
          description: A unique key for the media item.
        media_id:
          type: string
          description: The unique ID for the media item.
        authors:
          $ref: "#/components/schemas/PartyReferences"
        occurrence_date_time:
          type: string
          description: The date and time the media was created or captured.
          format: date-time
          example: 2026-07-24T14:57:03Z
        name:
          type: string
          description: A hyperlink to the media's content.
        media_format_type:
          $ref: "#/components/schemas/MediaFormatTypes"
        media_href:
          type: string
          description: A hyperlink to the media resource.
          format: href
        media_type:
          $ref: "#/components/schemas/MediaTypes"
        media_status_type:
          $ref: "#/components/schemas/MediaStatusTypes"
        media_delivery_method_type:
          $ref: "#/components/schemas/MediaDeliveryMethodTypes"
        media_usage_type:
          $ref: "#/components/schemas/MediaUsageTypes"
        media_visibility:
          $ref: "#/components/schemas/MediaVisibility"
        media_version:
          type: string
          description: The version of the media.
        quality:
          type: string
          description: A numeric value representing the quality of the media.
        resource_group:
          $ref: "#/components/schemas/ResourceGroup"
        signature:
          type: string
          description: A unique signature or hash of the media content.
        textual_details:
          $ref: "#/components/schemas/TextualDetails"
        raw_content:
          type: string
          description: "A collection of textual details, such as titles and descriptions,\
            \ for the media."
        media_source:
          type: string
          description: The source of the media.
        media_description:
          type: string
          description: The source of the media.
        categories:
          $ref: "#/components/schemas/Codes"
        dpi:
          type: string
          description: "The dots per inch (DPI) for the media, if applicable."
        w_pixel:
          type: string
          description: The width of the media in pixels.
        h_pixel:
          type: string
          description: The height of the media in pixels.
        media_resolution:
          type: string
          description: "The display resolution of the media (e.g., 480p, 720p, 1080p)."
        media_duration_seconds:
          type: string
          description: The total duration of the media file in seconds.
        media_sent_date_time:
          type: string
          description: The ISO 8601 date and time when the media was dispatched to
            the recipient.
          format: date-time
          example: 2026-07-24T14:57:03Z
        media_keys:
          $ref: "#/components/schemas/Codes"
        media_access_metrics:
          $ref: "#/components/schemas/MediaAccessMetrics"
      description: "Media item including video, images, and sound."
    MediaAccessMetric:
      type: object
      properties:
        media_access_id:
          type: string
          description: The unique ID for the media stream.
        media_access_key:
          type: string
          description: The unique key for the media stream record.
        media_key:
          type: string
          description: The unique ID for the parent media asset.
        first_viewed_at:
          type: string
          description: ISO 8601 timestamp of the first access.
        completed_at:
          type: string
          description: ISO 8601 timestamp when the user finished the media.
        view_count:
          type: string
          description: Total number of engagement events.
        watch_time_seconds:
          type: string
          description: The cumulative time in seconds the user spent viewing the media.
        completion_percentage:
          type: string
          description: The furthest point reached in the media as a percentage (0-100).
        last_viewed_date_time:
          type: string
          description: The ISO 8601 date and time of the most recent access.
          format: date-time
        device_type:
          $ref: "#/components/schemas/DeviceTypes"
        user_agent:
          type: string
          description: The browser user agent string from the most recent view.
        buffer_count:
          type: string
          description: The number of times the media playback was interrupted by buffering.
        load_time_ms:
          type: string
          description: The time in milliseconds it took for the media to begin playback
            after the request.
      description: "Represents a media stream, such as a video or audio file."
    MediaAccessMetrics:
      type: array
      items:
        $ref: "#/components/schemas/MediaAccessMetric"
    MediaDeliveryMethodTypes:
      type: string
      description: types of media delivery methods.
      enum:
      - MMS
      - SMS
      - EMAIL
      - PUSH_NOTIFICATION
      - WHATSAPP
      - IN_APP
      - WEB_PORTAL
    MediaFormatTypes:
      type: string
      description: types of media formats.
      enum:
      - PDF
      - DOC
      - DOCX
      - XLS
      - XLSX
      - PPT
      - PPTX
      - AIFF
      - BMP
      - JPG
      - PNG
      - GIF
      - ICO
      - AVI
      - MPG
      - MP4
      - WMV
      - MOV
      - FLV
      - SWF
      - MKV
      - OCTET
      - GZ
      - BZ2
      - ZIP
      - RAR
      - ODT
      - MOBI
      - HTML
      - EPUB
      - SVG
      - FLAC
      - WAV
      - JSON
      - YAML
      - CSV
      - CONTAINER
      - OTHER
    MediaPrivacyTypes:
      type: string
      description: types of media privacys.
      enum:
      - PUBLIC
      - AUTHORIZED
      - PRIVATE
      - SCHEDULED
      - UNLISTED
      - ARCHIVED
      - DRAFT
    MediaReference:
      type: object
      properties:
        media_key:
          type: string
          description: The unique persistent key identifier for the media item.
        media_id:
          type: string
          description: The logical business identifier assigned to the media item.
        name:
          type: string
          description: The descriptive name or filename of the media item.
        media_type:
          $ref: "#/components/schemas/MediaTypes"
        media_format_type:
          $ref: "#/components/schemas/MediaFormatTypes"
        media_visibility:
          $ref: "#/components/schemas/MediaVisibility"
        signature:
          type: string
          description: The unique checksum hash validating the raw media file's structural
            integrity.
        media_href:
          type: string
          description: The direct hypermedia link pointing to the downstream physical
            binary or target REST resource.
          format: href
        capture_stage_type:
          type: string
          description: "The operational service phase or workflow event during which\
            \ the media was captured (e.g., VEHICLE_ARRIVAL, INITIAL_INSPECTION, TECHNICIAN_INSPECTION,\
            \ SERVICE_COMPLETED, FINAL_INSPECTION, POLICE_INCIDENT, OTHER)."
          example: INITIAL_INSPECTION
      description: media.reference.desc
    MediaReferences:
      type: array
      items:
        $ref: "#/components/schemas/MediaReference"
    MediaStatusTypes:
      type: string
      description: types of media status.
      enum:
      - PENDING
      - READY
      - SENT
      - DELIVERED
      - FAILED
      - UNREAD
      - READ
      - VIEWED
      - EXPIRED
    MediaTypes:
      type: string
      description: types of medias.
      enum:
      - OCTET
      - TEXT
      - HTML
      - CSS
      - JAVASCRIPT
      - JSON
      - XML
      - IMAGE
      - GIF
      - SVG
      - JPEG
      - PNG
      - AUDIO
      - MP3
      - WAV
      - VIDEO
      - MP4
      - MPEG
      - QUICKTIME
      - STREAM
      - APPLICATION
      - ARCHIVE
      - EXECUTABLE
      - DOCUMENT
      - PDF
      - MODEL
      - FONT
      - FILE
    MediaUsageTypes:
      type: string
      description: types of media usages.
      enum:
      - THUMBNAIL
      - PREVIEW
      - STANDARD
      - HIGH_QUALITY
      - LOW_QUALITY
      - ORIGINAL
      - HERO
      - BANNER
      - AVATAR
      - GALLERY
      - READ
      - OTHER
    MediaVisibility:
      type: object
      properties:
        media_visibility_key:
          type: string
          description: The unique key for the media visibility record.
        visibility_key:
          type: string
          description: The unique key for visibility.
        media_privacy_type:
          $ref: "#/components/schemas/MediaPrivacyTypes"
        externally_hosted_indicator:
          type: boolean
          description: A boolean indicator for whether the media is hosted externally.
          example: false
      description: "Represents the visibility and hosting details for media, such\
        \ as privacy settings and scheduling."
    Medias:
      type: array
      items:
        $ref: "#/components/schemas/Media"
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        currency_code:
          type: string
          description: Three-letter ISO-4217 currency code.
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    MultiPointInspection:
      type: object
      properties:
        multi_point_inspection_key:
          type: string
          description: The unique key for the repair order.
        multi_point_inspection_id:
          type: string
          description: The unique ID for the repair order.
        repair_order_key:
          type: string
          description: The unique key for the repair order.
        locale:
          $ref: "#/components/schemas/Locale"
        appointment_references:
          $ref: "#/components/schemas/AppointmentReferences"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        promise_complete_date:
          type: string
          description: The date the service is promised to be completed.
          format: date
        status_code_date_time:
          type: string
          description: The date and time of the last status code update.
          format: date-time
          example: 2026-07-24T14:57:03Z
        multi_point_inspection_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        odometer_at_service_start:
          $ref: "#/components/schemas/MetricValue"
        medias:
          $ref: "#/components/schemas/MediaReferences"
        multi_point_inspection_status_code:
          type: string
          description: The status code of the repair order.
        repair_status_type:
          $ref: "#/components/schemas/RepairStatusTypes"
        service_type_codes:
          $ref: "#/components/schemas/Codes"
        labor_operations:
          $ref: "#/components/schemas/LaborOperations"
        service_dealer_name:
          type: string
          description: The name of the service dealer.
        general_notes:
          $ref: "#/components/schemas/Memo"
        internal_notes:
          $ref: "#/components/schemas/Memo"
        vss_manifests:
          $ref: "#/components/schemas/Manifests"
      description: "Represents a repair order for a vehicle, including service details,\
        \ pricing, and status."
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          $ref: "#/components/schemas/Memo"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-07-24T14:57:03Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
      - WARRANTY_APPROVAL
      - WARRANTY_DENIAL
      - WARRANTY_APPEAL
      - CLAIM
      - FLEET
      - TELEMETRY
      - COMPLIANCE
      - AUDIT
      - SECURITY
      - TRANSPORT
      - DELIVERY
      - INVENTORY
      - SALES
      - FINANCIAL
      - SERVICE_PLAN
      - VEHICLE_LIFECYCLE
      - OWNERSHIP
      - INSURANCE
      - LOGISTICS
      - QUALITY
      - RISK
      - CONSEQUENCE
      - AI_RECOMMENDATION
      - DECISION
      - BUSINESS_RULE
      - INTENT
      - CAPABILITY
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    Narratives:
      type: array
      items:
        $ref: "#/components/schemas/Narrative"
    PartIdentifier:
      type: object
      properties:
        part_identifier_key:
          type: string
          description: Unique key identifying the part identifier
        part_identifier_id:
          type: string
          description: Unique identifier ID for the part identifier
        part_source:
          type: string
          description: Unique identifier ID for the source of the part
        part_identifier_type:
          $ref: "#/components/schemas/PartIdentifierTypes"
        part_identifier_value:
          type: string
          description: Value of the part identifier
        description:
          type: string
          description: Optional description for the part identifier
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_names:
          $ref: "#/components/schemas/PartNames"
        part_status_type:
          $ref: "#/components/schemas/PartStatusTypes"
      description: nullable
    PartIdentifierReference:
      type: object
      properties:
        part_identifier_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable enterprise technical ledger surrogate key for
            this snapshot instance.
          example: PIRK-77119933
        part_identifier_reference_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The business or event payload instance identifier for this
            reference metadata mapping.
          example: PART-REF-01
        part_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The raw catalog part number text explicitly captured during
            the fulfillment or scan transaction.
          example: 68218055AB
        manufacturer_brand_code:
          maxLength: 40
          minLength: 1
          type: string
          description: "The originating OEM, supplier, or aftermarket manufacturer\
            \ brand shorthand code to ensure isolation."
          example: MOPAR
        description_snapshot:
          maxLength: 255
          minLength: 1
          type: string
          description: The point-in-time descriptive text captured from the master
            part catalog for local physical document output mapping.
          example: FENDER-FRONT RIGHT
        item_classification_type:
          $ref: "#/components/schemas/PartInvoiceItemTypes"
        part_master_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The target persistent master catalog surrogate key pointing
            to the full Part aggregate root.
          example: PART-KEY-992211A
        part_identifier_type:
          $ref: "#/components/schemas/PartIdentifierTypes"
        unit_of_measure_code:
          maxLength: 10
          minLength: 1
          type: string
          description: "The standard unit of measure representation (e.g., EA, QT,\
            \ GL) of the referenced catalog item."
          example: EA
        superseded_by_part_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The replacement part number if the current reference part has
            been superseded by a newer engineering revision.
          example: 68218055AC
        core_charge_indicator:
          type: boolean
          description: "Denotes if this part reference implies a physical core return\
            \ obligation (e.g., batteries, engines, alternators)."
          example: false
      description: "An immutable, point-in-time reference snapshot of a physical part's\
        \ identity captured during a fulfillment lifecycle phase."
    PartIdentifierTypes:
      type: string
      description: types of part identifiers.
      enum:
      - VIN
      - SKU
      - UPCA
      - UPCE
      - ISBN
      - MPN
      - CONFIG_CODE
      - MFR_CODE
      - ALT_CODE
      - STOCK_NBR
      - UNIV_CODE
      - PRODUCT_CODE
      - CATALOG_CODE
      - NAME
      - NUMBER
      - PREFIX
      - COUNTRY_OF_ORIGIN_CODE
      - MODEL_CODE
      - MAKE_CODE
      - YEAR_CODE
      - MARKET_DIVISION_CODE
      - TRIM_CODE
      - STYLE_CODE
      - SUB_MODEL_CODE
      - ENGINE_CODE
      - TRANSMISSION_CODE
      - DRAWING_NUMBER
      - CAD_NUMBER
      - OTHER
    PartIdentifiers:
      type: array
      items:
        $ref: "#/components/schemas/PartIdentifier"
    PartInvoiceItemTypes:
      type: string
      description: types of part invoice items.
      enum:
      - STANDARD_CATALOG_PART
      - KIT
      - ASSEMBLY
      - COMPONENT
      - EXCHANGE_LINE
      - RETURN_LINE
      - OTHER
    PartName:
      type: object
      properties:
        part_name_id:
          type: string
          description: Unique identifier for the part name
        part_name_key:
          type: string
          description: Business key for the part name
        part_prefix:
          $ref: "#/components/schemas/Codes"
        part_suffix:
          $ref: "#/components/schemas/Codes"
        part_base:
          $ref: "#/components/schemas/Codes"
        description:
          type: string
          description: "the Human Friendly name (e.g., Radiator Support Bolt)"
        language:
          $ref: "#/components/schemas/Codes"
        locale:
          $ref: "#/components/schemas/Codes"
        alias:
          $ref: "#/components/schemas/Codes"
        long_name:
          $ref: "#/components/schemas/Codes"
        marketing_name:
          $ref: "#/components/schemas/Codes"
        part_name_type:
          $ref: "#/components/schemas/PartNameTypes"
        part_numbers:
          $ref: "#/components/schemas/Codes"
      description: nullable
    PartNameTypes:
      type: string
      description: types of part names.
      enum:
      - GENERIC
      - MANUFACTURING
      - MARKETING
      - CORE
      - REMANUFACTURING
      - OEM
      - AFTERMARKET
      - SUPERSEDING
      - SUPERSEDED
    PartNames:
      type: array
      items:
        $ref: "#/components/schemas/PartName"
    PartStatusTypes:
      type: string
      description: types of part status.
      enum:
      - RECEIVE
      - INSPECT_INBOUND
      - DOCUMENT_RECEIPT
      - PUTAWAY
      - QUARANTINE_INBOUND
      - PICK
      - PACK
      - STAGE_SHIPMENT
      - LOAD_SHIPMENT
      - SHIP
      - DOCUMENT_SHIPMENT
      - SCRAP_DISPOSE
      - DISASSEMBLE
      - RETURN_RECEIVE
      - RETURN_INSPECT
      - RETURN_PUTAWAY
      - REFURBISH_REPAIR
      - RETURN_TO_BIN
      - DEFECTIVE_REMOVAL
      - ALLOCATE_TO_JOB
      - PICK_FOR_LABOR
      - STAGE_FOR_SERVICE
      - ISSUE_TO_TECH
      - INSTALLED
      - CORE_PENDING
      - CORE_RECEIVED
      - CROSS_DOCK
      - LABEL_TAG
      - KIT_ASSEMBLE
      - VALUE_ADDED_SERVICE
      - SUPERSEDE
      - SUPERSEDED
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
[...]
