openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_value:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AppointmentReference:
      type: object
      properties:
        appointment_reference_key:
          type: string
          description: A unique key for the appointment reference.
        appointment_key:
          type: string
          description: A unique key for the appointment record.
        appointment_reference_value:
          type: string
          description: The unique value of the appointment reference.
        appointment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AppointmentTypes"
        appointment_source_code:
          type: string
          description: The source code for the appointment.
        description:
          type: string
          description: Optional description for the part identifier
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        appointment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        appointment_status_type:
          $ref: "#/components/schemas/AppointmentStatusTypes"
        appointment_type:
          $ref: "#/components/schemas/AppointmentTypes"
        occurrence_date_time:
          type: string
          description: The date and time the appointment occurred.
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: nullable
    AppointmentReferenceCreate:
      required:
      - appointment_reference_key
      type: object
      description: AppointmentReference Create for Post
      allOf:
      - $ref: "#/components/schemas/AppointmentReference"
    AppointmentReferenceUpdate:
      type: object
      properties:
        appointment_reference_value:
          type: string
          description: The unique value of the appointment reference.
        appointment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AppointmentTypes"
        appointment_status_type:
          $ref: "#/components/schemas/AppointmentStatusTypes"
        appointment_type:
          $ref: "#/components/schemas/AppointmentTypes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        description:
          type: string
          description: Optional description for the part identifier
        appointment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        occurrence_date_time:
          type: string
          description: The date and time the appointment occurred.
          format: date-time
          example: 2026-04-13T15:03:05Z
        appointment_source_code:
          type: string
          description: The source code for the appointment.
      description: AppointmentReference Update for Patch and Put
    AppointmentReferences:
      type: array
      items:
        $ref: "#/components/schemas/AppointmentReference"
    AppointmentStatusTypes:
      type: string
      description: types of appointment status.
      enum:
      - WAIT_LIST
      - TENTATIVE
      - AVAILABLE
      - SELECTED
      - RESERVED
      - PREFERRED
      - CONFIRMED
      - ARRIVED
      - FULFILLED
      - ALTERNATE
      - NO_SHOW
      - CANCELLED
    AppointmentTypes:
      type: string
      description: types of appointments.
      enum:
      - SALES
      - F_AND_I
      - TRADE_EVALUATION
      - TEST_DRIVE
      - DELIVERY
      - SERVICE
      - WARRANTY_REPAIR
      - VEHICLE_PICKUP
    Authorization:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-04-13T15:03:05Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_key:
          type: string
          description: Business key uniquely identifying the authorization
      description: Establish authorization level
    AuthorizationCreate:
      required:
      - authorization_key
      type: object
      description: Authorization Create for Post
      allOf:
      - $ref: "#/components/schemas/Authorization"
    AuthorizationUpdate:
      type: object
      properties:
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: Authorization Update for Patch and Put
    Authorizations:
      type: array
      items:
        $ref: "#/components/schemas/Authorization"
    BillOfMaterialReference:
      type: object
      properties:
        bill_of_material_reference_id:
          type: string
          description: Unique identifier value
        bill_of_material_reference_key:
          type: string
          description: Unique identifier value
        bill_of_material_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-04-13T15:03:05Z
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
      description: External system identifier
    BillOfMaterialReferenceCreate:
      required:
      - bill_of_material_reference_key
      type: object
      description: BillOfMaterialReference Create for Post
      allOf:
      - $ref: "#/components/schemas/BillOfMaterialReference"
    BillOfMaterialReferenceUpdate:
      type: object
      properties:
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        context:
          type: string
          description: Context or domain of the identifier
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-04-13T15:03:05Z
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
      description: BillOfMaterialReference Update for Patch and Put
    BillOfMaterialReferences:
      type: array
      items:
        $ref: "#/components/schemas/BillOfMaterialReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeSlot"
        authorizations:
          $ref: "#/components/schemas/Authorizations"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelCreate:
      required:
      - communication_channel_key
      type: object
      description: CommunicationChannel Create for Post
      allOf:
      - $ref: "#/components/schemas/CommunicationChannel"
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannelUpdate:
      type: object
      properties:
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        preferences:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeSlot"
        authorizations:
          $ref: "#/components/schemas/Authorizations"
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
      description: CommunicationChannel Update for Patch and Put
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CorrelationId:
      pattern: "^[a-zA-Z0-9-]+$"
      type: string
      description: The correlation ID or workflow execution identifier for cross-system
        distributed tracing.
      example: exec-uuid-99283-7716
    CorrelationIdCreate:
      required:
      - correlation_id_key
      type: string
      description: CorrelationId Create for Post
      allOf:
      - $ref: "#/components/schemas/CorrelationId"
    CorrelationIdUpdate:
      type: string
      description: CorrelationId Update for Patch and Put
    CountryCode:
      type: string
      description: The ISO 3116-1 alpha-2 country code of the issuing jurisdiction.
      example: US
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeviceTypes:
      type: string
      description: types of devices.
      enum:
      - MOBILE
      - TABLET
      - DESKTOP
      - SMART_TV
      - OTHER
    DurationUOMTypes:
      type: string
      description: types of duration u o ms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-04-13T15:03:05Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-04-13T15:03:05Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
        timeslot:
          $ref: "#/components/schemas/TimeSlot"
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: A unique key for the eventMessage record.
        event_message_id:
          type: string
          description: The unique ID for the eventMessage.
        event_actor_key:
          type: string
          description: The ID of the actor for the event.
        event_actor_name:
          type: string
          description: The name of the actor for the event.
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-04-13T15:03:05Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belongs.
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
        event_message_code:
          type: string
          description: The code for the eventMessage.
        event_message_value:
          type: string
          description: The value of the eventMessage.
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessage is internal.
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      enum:
      - INSTRUCTION
      - REASONING
      - RESPONSE
      - TOOL_CALL
      - TOOL_OUTPUT
      - ACTION_CONFIRMATION
      - COMPENSATION
      - RETRY_SIGNAL
      - ERROR_REPORT
      - DELEGATION
      - BROADCAST
      - CRITIQUE
      - LOGGING
      - AUDIT
      - HEARTBEAT
      - UNKNOWN
    EventMessages:
      type: array
      items:
        $ref: "#/components/schemas/EventMessage"
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        financial_split_reference_key:
          type: string
          description: Unique key value for the reference record.
        financial_split_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Payment FinancialSplit
            aggregate.
        context:
          type: string
          description: Context or domain of the payment financialSplit.
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        total:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associated with the
            order.
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: Reference to a Payment FinancialSplit Aggregate Root.
    FinancialSplitReferenceCreate:
      required:
      - financial_split_reference_key
      type: object
      description: FinancialSplitReference Create for Post
      allOf:
      - $ref: "#/components/schemas/FinancialSplitReference"
    FinancialSplitReferenceUpdate:
      type: object
      properties:
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        total:
          $ref: "#/components/schemas/Identifier"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        context:
          type: string
          description: Context or domain of the payment financialSplit.
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associated with the
            order.
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: FinancialSplitReference Update for Patch and Put
    GeographicBoundaryReference:
      type: object
      properties:
        geographic_boundary_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        geographic_boundary_reference_key:
          type: string
          description: Unique key value for the reference record.
        geographic_boundary_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
        context:
          type: string
          description: Context or domain of the payment schedule.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: Reference to a Payment Schedule Aggregate Root.
    GeographicBoundaryReferenceCreate:
      required:
      - geographic_boundary_reference_key
      type: object
      description: GeographicBoundaryReference Create for Post
      allOf:
      - $ref: "#/components/schemas/GeographicBoundaryReference"
    GeographicBoundaryReferenceUpdate:
      type: object
      properties:
        identifier:
          $ref: "#/components/schemas/Identifier"
        context:
          type: string
          description: Context or domain of the payment schedule.
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: GeographicBoundaryReference Update for Patch and Put
    GeographicBoundaryReferences:
      type: array
      items:
        $ref: "#/components/schemas/GeographicBoundaryReference"
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Inspection:
      type: object
      properties:
        inspection_key:
          type: string
          description: A unique key for the inspection record.
        inspection_id:
          type: string
          description: The unique ID for the inspection report.
        part_inspected:
          type: string
          description: The name of the actor for the event.
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-04-13T15:03:05Z
        inspection_category:
          type: string
          description: The unique ID for the inspection report.
        inspection_recommendation:
          type: string
          description: The unique ID for the inspection report.
        inspection_category_code:
          type: string
          description: A description for the inspectionCategory.
        inspection_notes:
          type: string
          description: A description for the inspectionCategory.
        inspection_code:
          type: string
          description: A description for the inspection.
        inspection_part_desc:
          type: string
          description: A description for the inspection.
        value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        medias:
          $ref: "#/components/schemas/Medias"
      description: A inspection report for a vehicle or product.
    InspectionCreate:
      required:
      - inspection_key
      type: object
      description: Inspection Create for Post
      allOf:
      - $ref: "#/components/schemas/Inspection"
    InspectionUpdate:
      type: object
      properties:
        part_inspected:
          type: string
          description: The name of the actor for the event.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        medias:
          $ref: "#/components/schemas/Medias"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-04-13T15:03:05Z
        inspection_category_code:
          type: string
          description: A description for the inspectionCategory.
        inspection_part_desc:
          type: string
          description: A description for the inspection.
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        inspection_notes:
          type: string
          description: A description for the inspectionCategory.
        inspection_code:
          type: string
          description: A description for the inspection.
        inspection_recommendation:
          type: string
          description: The unique ID for the inspection report.
        inspection_category:
          type: string
          description: The unique ID for the inspection report.
        value:
          type: string
          description: The value of the narrative.
      description: Inspection Update for Patch and Put
    Inspections:
      type: array
      items:
        $ref: "#/components/schemas/Inspection"
    LaborLocationTypes:
      type: string
      description: types of labor locations.
      enum:
      - DEALERSHIP_FACILITY
      - MOBILE_UNIT
      - FLEET_SITE
      - CUSTOMER_RESIDENCE
      - THIRD_PARTY_FACILITY
      - IN_TRANSIT
    LaborOperation:
      type: object
      properties:
        labor_operation_key:
          type: string
          description: The unique key for the labor operation.
        labor_operation_id:
          type: string
          description: The unique ID for the labor operation.
        labor_operation_codes:
          $ref: "#/components/schemas/Codes"
        labor_operation_description:
          type: string
          description: The description of the labor operation.
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
        bill_of_material_references:
          $ref: "#/components/schemas/BillOfMaterialReferences"
        amount:
          $ref: "#/components/schemas/Money"
        flat_rate_units:
          type: string
          description: The labor units billed. Kept as String to avoid translation
            loss with legacy systems.
        name:
          type: string
          description: Product Name.
        description:
          type: string
          description: Product Description.
        labor_operation_type:
          $ref: "#/components/schemas/LaborOperationTypes"
        labor_operation_status:
          $ref: "#/components/schemas/LaborOperationStatusTypes"
        origin_type:
          $ref: "#/components/schemas/PayeeTypes"
        labor_location_type:
          $ref: "#/components/schemas/LaborLocationTypes"
        assigned_resources:
          $ref: "#/components/schemas/LaborResources"
        staff_assignments:
          $ref: "#/components/schemas/StaffAssignmentReferences"
        parent_reference_id:
          type: string
          description: The ID of the Sales Order or Repair Order this labor belongs
            to.
        department_context:
          $ref: "#/components/schemas/ServiceJobTypes"
        customers:
          $ref: "#/components/schemas/PartyReferences"
        service_catalog_references:
          $ref: "#/components/schemas/ServiceCatalogReferences"
        labor_operation_events:
          $ref: "#/components/schemas/LaborOperationEvents"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        complaint_text:
          $ref: "#/components/schemas/TextualDetails"
        legacy_tech_id:
          type: string
          description: "The legacy ID of the technician (e.g., '101')."
        resolved_amount:
          $ref: "#/components/schemas/Money"
        inspections:
          $ref: "#/components/schemas/Inspections"
      description: not nullable
    LaborOperationCreate:
      required:
      - labor_operation_key
      type: object
      description: LaborOperation Create for Post
      allOf:
      - $ref: "#/components/schemas/LaborOperation"
    LaborOperationEvent:
      type: object
      properties:
        labor_operation_event_id:
          type: string
          description: Unique identifier for the labor operation event record.
        labor_operation_event_key:
          type: string
          description: Unique key identifying the labor operation event aggregate
            root.
        occurrence_timestamp:
          type: string
          description: The precise date and time the event occurred.
          format: date-time
          example: 2026-04-13T15:03:05Z
        previous_status_type:
          $ref: "#/components/schemas/LaborOperationStatusTypes"
        new_status_type:
          $ref: "#/components/schemas/LaborOperationStatusTypes"
        actor_key:
          type: string
          description: The unique key of the Staff (Technician) or System (AI Agent)
            that triggered this event.
        event_note:
          type: string
          description: Narrative or system-generated notes regarding the transition.
        location_context:
          type: string
          description: "GPS coordinates, Geofence ID, or Bay ID providing spatial\
            \ context for the event."
      description: Represents a point-in-time state change or significant occurrence
        within a Labor Operation's lifecycle.
    LaborOperationEventCreate:
      required:
      - labor_operation_event_key
      type: object
      description: LaborOperationEvent Create for Post
      allOf:
      - $ref: "#/components/schemas/LaborOperationEvent"
    LaborOperationEventUpdate:
      type: object
      properties:
        occurrence_timestamp:
          type: string
          description: The precise date and time the event occurred.
          format: date-time
          example: 2026-04-13T15:03:05Z
        new_status_type:
          $ref: "#/components/schemas/LaborOperationStatusTypes"
        previous_status_type:
          $ref: "#/components/schemas/LaborOperationStatusTypes"
        location_context:
          type: string
          description: "GPS coordinates, Geofence ID, or Bay ID providing spatial\
            \ context for the event."
        event_note:
          type: string
          description: Narrative or system-generated notes regarding the transition.
      description: LaborOperationEvent Update for Patch and Put
    LaborOperationEvents:
      type: array
      items:
        $ref: "#/components/schemas/LaborOperationEvent"
    LaborOperationStatusTypes:
      type: string
      description: types of labor operation status.
      enum:
      - SCHEDULED
      - DISPATCHED
      - EN_ROUTE
      - ON_SITE
      - IN_TRANSIT
      - ARRIVED
      - ONBOARDING
      - ONBOARDED
      - STAGED
      - PENDING
      - IN_PROGRESS
      - ON_HOLD
      - COMPLETED
      - READY_FOR_PICKUP
      - PENDING_PAYMENT
      - OFFBOARDED
      - DEPARTED
      - CANCELLED
      - DEFERRED
      - DECLINED
    LaborOperationTypes:
      type: string
      description: types of labor operations.
      enum:
      - MAINTENANCE
      - REPAIR
      - DIAGNOSTIC
      - RECALL
      - WARRANTY
      - INTERNAL
      - ACCESSORY_INSTALL
      - TRANSPORT
      - MOBILE_SERVICE
      - REMOTE_DIAGNOSTIC
      - INSPECTION
      - BODY_SHOP
    LaborOperationUpdate:
      type: object
      properties:
        labor_operation_events:
          $ref: "#/components/schemas/LaborOperationEvents"
        amount:
          $ref: "#/components/schemas/Money"
        service_catalog_references:
          $ref: "#/components/schemas/ServiceCatalogReferences"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        staff_assignments:
          $ref: "#/components/schemas/StaffAssignmentReferences"
        description:
          type: string
          description: Product Description.
        assigned_resources:
          $ref: "#/components/schemas/LaborResources"
        inspections:
          $ref: "#/components/schemas/Inspections"
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        labor_operation_type:
          $ref: "#/components/schemas/LaborOperationTypes"
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
        origin_type:
          $ref: "#/components/schemas/PayeeTypes"
        labor_location_type:
          $ref: "#/components/schemas/LaborLocationTypes"
        bill_of_material_references:
          $ref: "#/components/schemas/BillOfMaterialReferences"
        department_context:
          $ref: "#/components/schemas/ServiceJobTypes"
        resolved_amount:
          $ref: "#/components/schemas/Money"
        flat_rate_units:
          type: string
          description: The labor units billed. Kept as String to avoid translation
            loss with legacy systems.
        name:
          type: string
          description: Product Name.
        labor_operation_codes:
          $ref: "#/components/schemas/Codes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        customers:
          $ref: "#/components/schemas/PartyReferences"
        labor_operation_description:
          type: string
          description: The description of the labor operation.
        complaint_text:
          $ref: "#/components/schemas/TextualDetails"
        labor_operation_status:
          $ref: "#/components/schemas/LaborOperationStatusTypes"
      description: LaborOperation Update for Patch and Put
    LaborOperations:
      type: array
      items:
        $ref: "#/components/schemas/LaborOperation"
    LaborResource:
      type: object
      properties:
        labor_resource_key:
          type: string
          description: The unique key for the labor resource.
        labor_resource_id:
          type: string
          description: The unique ID for the labor resource.
        resources:
          $ref: "#/components/schemas/PartIdentifiers"
        resource_type:
          $ref: "#/components/schemas/LaborResourceTypes"
      description: Details of the resource assigned to the labor operation.
    LaborResourceCreate:
      required:
      - labor_resource_key
      type: object
      description: LaborResource Create for Post
      allOf:
      - $ref: "#/components/schemas/LaborResource"
    LaborResourceTypes:
      type: string
      description: types of labor resources.
      enum:
      - PART
      - MOBILE_UNIT
      - TOW_TRUCK
      - AUTONOMOUS_VEHICLE
      - SHOP_EQUIPMENT
      - SOFTWARE_PACKAGE
    LaborResourceUpdate:
      type: object
      properties:
        resource_type:
          $ref: "#/components/schemas/LaborResourceTypes"
        resources:
          $ref: "#/components/schemas/PartIdentifiers"
      description: LaborResource Update for Patch and Put
    LaborResources:
      type: array
      items:
        $ref: "#/components/schemas/LaborResource"
    LifecyclePulse:
      type: object
      properties:
        lifecycle_pulse_id:
          type: string
          description: The internal unique identifier for this specific pulse record.
          example: pls-992837-abc
        lifecycle_pulse_key:
          type: string
          description: "A natural business key for the pulse, typically formatted\
            \ as EVENT_NAME-TIMESTAMP."
          example: RDR_TRANSMITTED_20260318_143005
        lifecycle_pulse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/LifecyclePulseTypes"
        occurred_at:
          type: string
          description: The high-precision timestamp when the event actually occurred
            in the source system.
          format: date-time
          example: 2026-04-13T15:03:05Z
        actor_name:
          type: string
          description: "The identity of the user, service, or system agent that triggered\
            \ the event."
          example: DMS_INTEGRATOR_SVC
        execution_id:
          $ref: "#/components/schemas/CorrelationId"
        pulse_detail:
          type: string
          description: pulse detail
          example: "Updated: Assigned to Ocean Trader V22 for transit."
        traceability:
          $ref: "#/components/schemas/EventMessages"
      description: Represents an immutable audit event or 'pulse' in the record lifecycle.
    LifecyclePulseTypes:
      type: string
      description: types of lifecycle pulses.
      enum:
      - STARTED
      - CREATED
      - UPDATED
      - PROCESSED
      - TRANSMITTED
      - ACKNOWLEDGED
      - REJECTED
      - ARCHIVED
      - VOIDED
    LifecyclePulses:
      type: array
      items:
        $ref: "#/components/schemas/LifecyclePulse"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          type: string
          description: The three-letter ISO 4217 currency code used for financial
            transactions.
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: "comprehensive locale configuration for currency, language, and\
        \ regional formatting."
    Manifest:
      type: object
      properties:
        manifest_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The internal unique identifier for the manifest instance.
          example: man-55283-abc
        manifest_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The business key identifying the specific manifest configuration.
          example: RDR_US_RETAIL_v2
        context:
          type: string
          description: "The business domain or OEM context for this manifest (e.g.,\
            \ 'SALES', 'LOGISTICS', 'WARRANTY')."
          example: VEHICLE_DELIVERY
        schema:
          $ref: "#/components/schemas/SchemaUri"
        definitions:
          $ref: "#/components/schemas/ManifestItems"
        lifecycle_pulses:
          $ref: "#/components/schemas/LifecyclePulses"
        manifest_type:
          type: string
          description: "The classification of manifest (e.g., 'VALIDATION_RULES',\
            \ 'DATA_MAPPING', 'TRANSFORMATION')."
          example: VALIDATION_RULES
        version:
          $ref: "#/components/schemas/SemanticVersion"
      description: External system manifest defining the structural rules and metadata
        for a transaction.
    ManifestItem:
      type: object
      properties:
        manifest_item_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique manifestItem value
        manifest_item_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the manifestItem
        context:
          type: string
          description: Context or domain of the manifestItem
        id:
          type: string
          description: Context or domain of the manifestItem
        value:
          type: string
          description: The monetary or hours-based value of the event.
        description:
          type: string
          description: The monetary or hours-based value of the event.
      description: not nullable
    ManifestItemCreate:
      required:
      - manifest_item_key
      type: object
      description: ManifestItem Create for Post
      allOf:
      - $ref: "#/components/schemas/ManifestItem"
    ManifestItemUpdate:
      type: object
      properties:
        context:
          type: string
          description: Context or domain of the manifestItem
        description:
          type: string
          description: The monetary or hours-based value of the event.
        id:
          type: string
          description: Context or domain of the manifestItem
        value:
          type: string
          description: The monetary or hours-based value of the event.
      description: ManifestItem Update for Patch and Put
    ManifestItems:
      type: array
      items:
        $ref: "#/components/schemas/ManifestItem"
    Manifests:
      type: array
      items:
        $ref: "#/components/schemas/Manifest"
    Media:
      type: object
      properties:
        media_key:
          type: string
          description: A unique key for the media item.
        media_id:
          type: string
          description: The unique ID for the media item.
        authors:
          $ref: "#/components/schemas/PartyReferences"
        occurrence_date_time:
          type: string
          description: The date and time the media was created or captured.
          format: date-time
          example: 2026-04-13T15:03:05Z
        name:
          type: string
          description: A hyperlink to the media's content.
        media_format_type:
          $ref: "#/components/schemas/MediaFormatTypes"
        media_href:
          type: string
          description: A hyperlink to the media resource.
          format: href
        media_type:
          $ref: "#/components/schemas/MediaTypes"
        media_status_type:
          $ref: "#/components/schemas/MediaTypes"
        media_delivery_method_type:
          $ref: "#/components/schemas/MediaDeliveryMethodTypes"
        media_usage_type:
          $ref: "#/components/schemas/MediaUsageTypes"
        media_version:
          type: string
          description: The version of the media.
        quality:
          type: string
          description: A numeric value representing the quality of the media.
        media_source:
          type: string
          description: The source of the media.
        media_description:
          type: string
          description: The source of the media.
        categories:
          $ref: "#/components/schemas/Codes"
        dpi:
          type: string
          description: "The dots per inch (DPI) for the media, if applicable."
        w_pixel:
          type: string
          description: The width of the media in pixels.
        h_pixel:
          type: string
          description: The height of the media in pixels.
        media_resolution:
          type: string
          description: "The display resolution of the media (e.g., 480p, 720p, 1080p)."
        media_duration_seconds:
          type: string
          description: The total duration of the media file in seconds.
        media_sent_date_time:
          type: string
          description: The ISO 8601 date and time when the media was dispatched to
            the recipient.
          format: date-time
          example: 2026-04-13T15:03:05Z
        media_keys:
          $ref: "#/components/schemas/Codes"
        media_access_metrics:
          $ref: "#/components/schemas/MediaAccessMetrics"
      description: "Media item including video, images, and sound."
    MediaAccessMetric:
      type: object
      properties:
        media_access_id:
          type: string
          description: The unique ID for the media stream.
        media_access_key:
          type: string
          description: The unique key for the media stream record.
        media_key:
          type: string
          description: The unique ID for the parent media asset.
        first_viewed_at:
          type: string
          description: ISO 8601 timestamp of the first access.
        completed_at:
          type: string
          description: ISO 8601 timestamp when the user finished the media.
        view_count:
          type: string
          description: Total number of engagement events.
        watch_time_seconds:
          type: string
          description: The cumulative time in seconds the user spent viewing the media.
        completion_percentage:
          type: string
          description: The furthest point reached in the media as a percentage (0-100).
        last_viewed_date_time:
          type: string
          description: The ISO 8601 date and time of the most recent access.
          format: date-time
        device_type:
          $ref: "#/components/schemas/DeviceTypes"
        user_agent:
          type: string
          description: The browser user agent string from the most recent view.
        buffer_count:
          type: string
          description: The number of times the media playback was interrupted by buffering.
        load_time_ms:
          type: string
          description: The time in milliseconds it took for the media to begin playback
            after the request.
      description: "Represents a media stream, such as a video or audio file."
    MediaAccessMetricCreate:
      required:
      - media_access_metric_key
      type: object
      description: MediaAccessMetric Create for Post
      allOf:
      - $ref: "#/components/schemas/MediaAccessMetric"
    MediaAccessMetricUpdate:
      type: object
      properties:
        completed_at:
          type: string
          description: ISO 8601 timestamp when the user finished the media.
        completion_percentage:
          type: string
          description: The furthest point reached in the media as a percentage (0-100).
        load_time_ms:
          type: string
          description: The time in milliseconds it took for the media to begin playback
            after the request.
        first_viewed_at:
          type: string
          description: ISO 8601 timestamp of the first access.
        watch_time_seconds:
          type: string
          description: The cumulative time in seconds the user spent viewing the media.
        device_type:
          $ref: "#/components/schemas/DeviceTypes"
        view_count:
          type: string
          description: Total number of engagement events.
        last_viewed_date_time:
          type: string
          description: The ISO 8601 date and time of the most recent access.
          format: date-time
        user_agent:
          type: string
          description: The browser user agent string from the most recent view.
        buffer_count:
          type: string
          description: The number of times the media playback was interrupted by buffering.
      description: MediaAccessMetric Update for Patch and Put
    MediaAccessMetrics:
      type: array
      items:
        $ref: "#/components/schemas/MediaAccessMetric"
    MediaCreate:
      required:
      - media_key
      type: object
      description: Media Create for Post
      allOf:
      - $ref: "#/components/schemas/Media"
    MediaDeliveryMethodTypes:
      type: string
      description: types of media delivery methods.
      enum:
      - MMS
      - SMS
      - EMAIL
      - PUSH_NOTIFICATION
      - WHATSAPP
      - IN_APP
      - WEB_PORTAL
    MediaFormatTypes:
      type: string
      description: types of media formats.
      enum:
      - PDF
      - DOC
      - DOCX
      - XLS
      - XLSX
      - PPT
      - PPTX
      - AIFF
      - BMP
      - JPG
      - PNG
      - GIF
      - ICO
      - AVI
      - MPG
      - MP4
      - WMV
      - MOV
      - FLV
      - SWF
      - MKV
      - OCTET
      - GZ
      - BZ2
      - ZIP
      - RAR
      - ODT
      - MOBI
      - HTML
      - EPUB
      - SVG
      - FLAC
      - WAV
      - CONTAINER
      - OTHER
    MediaTypes:
      type: string
      description: types of medias.
      enum:
      - OCTET
      - TEXT
      - HTML
      - CSS
      - JAVASCRIPT
      - JSON
      - XML
      - IMAGE
      - GIF
      - SVG
      - JPEG
      - PNG
      - AUDIO
      - MP3
      - WAV
      - VIDEO
      - MP4
      - MPEG
      - QUICKTIME
      - STREAM
      - APPLICATION
      - ARCHIVE
      - EXECUTABLE
      - DOCUMENT
      - PDF
      - MODEL
      - FONT
    MediaUpdate:
      type: object
      properties:
        media_access_metrics:
          $ref: "#/components/schemas/MediaAccessMetrics"
        w_pixel:
          type: string
          description: The width of the media in pixels.
        media_delivery_method_type:
          $ref: "#/components/schemas/MediaDeliveryMethodTypes"
        media_source:
          type: string
          description: The source of the media.
        media_format_type:
          $ref: "#/components/schemas/MediaFormatTypes"
        media_duration_seconds:
          type: string
          description: The total duration of the media file in seconds.
        media_status_type:
          $ref: "#/components/schemas/MediaTypes"
        quality:
          type: string
          description: A numeric value representing the quality of the media.
        h_pixel:
          type: string
          description: The height of the media in pixels.
        media_usage_type:
          $ref: "#/components/schemas/MediaUsageTypes"
        media_keys:
          $ref: "#/components/schemas/Codes"
        media_type:
          $ref: "#/components/schemas/MediaTypes"
        media_version:
          type: string
          description: The version of the media.
        media_description:
          type: string
          description: The source of the media.
        name:
          type: string
          description: A hyperlink to the media's content.
        categories:
          $ref: "#/components/schemas/Codes"
        media_resolution:
          type: string
          description: "The display resolution of the media (e.g., 480p, 720p, 1080p)."
        media_href:
          type: string
          description: A hyperlink to the media resource.
          format: href
        dpi:
          type: string
          description: "The dots per inch (DPI) for the media, if applicable."
        occurrence_date_time:
          type: string
          description: The date and time the media was created or captured.
          format: date-time
          example: 2026-04-13T15:03:05Z
        media_sent_date_time:
          type: string
          description: The ISO 8601 date and time when the media was dispatched to
            the recipient.
          format: date-time
          example: 2026-04-13T15:03:05Z
        authors:
          $ref: "#/components/schemas/PartyReferences"
      description: Media Update for Patch and Put
    MediaUsageTypes:
      type: string
      description: types of media usages.
      enum:
      - THUMBNAIL
      - PREVIEW
      - STANDARD
      - HIGH_QUALITY
      - LOW_QUALITY
      - ORIGINAL
      - HERO
      - BANNER
      - AVATAR
      - GALLERY
      - READ
      - OTHER
    Medias:
      type: array
      items:
        $ref: "#/components/schemas/Media"
    Memo:
      type: array
      items:
        type: string
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    ModelYear:
      type: string
      description: The 4-digit model year of the vehicle.
      example: "2024"
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        currency_code:
          type: string
          description: Three-letter ISO-4217 currency code.
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        value:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    MultiPointInspection:
      type: object
      properties:
        multi_point_inspection_key:
          type: string
          description: The unique key for the repair order.
        multi_point_inspection_id:
          type: string
          description: The unique ID for the repair order.
        repair_order_key:
          type: string
          description: The unique key for the repair order.
        locale:
          $ref: "#/components/schemas/Locale"
        appointment_references:
          $ref: "#/components/schemas/AppointmentReferences"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        promise_complete_date:
          type: string
          description: The date the service is promised to be completed.
          format: date
        status_code_date_time:
          type: string
          description: The date and time of the last status code update.
          format: date-time
          example: 2026-04-13T15:03:05Z
        multi_point_inspection_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        odometer_at_service_start:
          $ref: "#/components/schemas/MetricValue"
        medias:
          $ref: "#/components/schemas/Medias"
        multi_point_inspection_status_code:
          type: string
          description: The status code of the repair order.
        repair_status_type:
          $ref: "#/components/schemas/RepairStatusTypes"
        service_type_codes:
          $ref: "#/components/schemas/Codes"
        labor_operations:
          $ref: "#/components/schemas/LaborOperations"
        service_dealer_name:
          type: string
          description: The name of the service dealer.
        general_notes:
          $ref: "#/components/schemas/Memo"
        internal_notes:
          $ref: "#/components/schemas/Memo"
        vss_manifests:
          $ref: "#/components/schemas/Manifests"
      description: "Represents a repair order for a vehicle, including service details,\
        \ pricing, and status."
    MultiPointInspectionCreate:
      required:
      - multi_point_inspection_key
      type: object
      description: MultiPointInspection Create for Post
      allOf:
      - $ref: "#/components/schemas/MultiPointInspection"
    MultiPointInspectionUpdate:
      type: object
      properties:
        service_dealer_name:
          type: string
          description: The name of the service dealer.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        labor_operations:
          $ref: "#/components/schemas/LaborOperations"
        multi_point_inspection_status_code:
          type: string
          description: The status code of the repair order.
        locale:
          $ref: "#/components/schemas/Locale"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        medias:
          $ref: "#/components/schemas/Medias"
        status_code_date_time:
          type: string
          description: The date and time of the last status code update.
          format: date-time
          example: 2026-04-13T15:03:05Z
        service_type_codes:
          $ref: "#/components/schemas/Codes"
        internal_notes:
          $ref: "#/components/schemas/Memo"
        odometer_at_service_start:
          $ref: "#/components/schemas/MetricValue"
        vss_manifests:
          $ref: "#/components/schemas/Manifests"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        promise_complete_date:
          type: string
          description: The date the service is promised to be completed.
          format: date
        repair_status_type:
          $ref: "#/components/schemas/RepairStatusTypes"
        appointment_references:
          $ref: "#/components/schemas/AppointmentReferences"
        multi_point_inspection_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        general_notes:
          $ref: "#/components/schemas/Memo"
      description: MultiPointInspection Update for Patch and Put
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - OTHER
    PartIdentifier:
      type: object
      properties:
        part_identifier_key:
          type: string
          description: Unique key identifying the part identifier
        part_identifier_id:
          type: string
          description: Unique identifier ID for the part identifier
        part_source:
          type: string
          description: Unique identifier ID for the source of the part
        part_identifier_type:
          $ref: "#/components/schemas/PartIdentifierTypes"
        part_identifier_value:
          type: string
          description: Value of the part identifier
        description:
          type: string
          description: Optional description for the part identifier
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_names:
          $ref: "#/components/schemas/PartNames"
        part_status_type:
          $ref: "#/components/schemas/PartStatusTypes"
      description: nullable
    PartIdentifierCreate:
      required:
      - part_identifier_key
      type: object
      description: PartIdentifier Create for Post
      allOf:
      - $ref: "#/components/schemas/PartIdentifier"
    PartIdentifierTypes:
      type: string
      description: types of part identifiers.
      enum:
      - VIN
      - SKU
      - UPCA
      - UPCE
      - ISBN
      - MPN
      - CONFIG_CODE
      - MFR_CODE
      - ALT_CODE
      - STOCK_NBR
      - UNIV_CODE
      - PRODUCT_CODE
      - CATALOG_CODE
      - NAME
      - NUMBER
      - PREFIX
      - COUNTRY_OF_ORIGIN_CODE
      - MODEL_CODE
      - MAKE_CODE
      - YEAR_CODE
      - MARKET_DIVISION_CODE
      - TRIM_CODE
      - STYLE_CODE
      - SUB_MODEL_CODE
      - ENGINE_CODE
      - TRANSMISSION_CODE
      - DRAWING_NUMBER
      - OTHER
    PartIdentifierUpdate:
      type: object
      properties:
        part_identifier_type:
          $ref: "#/components/schemas/PartIdentifierTypes"
        part_source:
          type: string
          description: Unique identifier ID for the source of the part
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_identifier_value:
          type: string
          description: Value of the part identifier
        description:
          type: string
          description: Optional description for the part identifier
        part_names:
          $ref: "#/components/schemas/PartNames"
        part_status_type:
          $ref: "#/components/schemas/PartStatusTypes"
      description: PartIdentifier Update for Patch and Put
    PartIdentifiers:
      type: array
      items:
        $ref: "#/components/schemas/PartIdentifier"
    PartName:
      type: object
      properties:
        part_name_id:
          type: string
          description: Unique identifier for the part name
        part_name_key:
          type: string
          description: Business key for the part name
        part_prefix:
          $ref: "#/components/schemas/Codes"
        part_suffix:
          $ref: "#/components/schemas/Codes"
        description:
          type: string
          description: Description of the part name
        language:
          $ref: "#/components/schemas/Codes"
        locale:
          $ref: "#/components/schemas/Codes"
        alias:
          $ref: "#/components/schemas/Codes"
        long_name:
          $ref: "#/components/schemas/Codes"
        marketing_name:
          $ref: "#/components/schemas/Codes"
        part_name_type:
          $ref: "#/components/schemas/PartNameTypes"
        part_number:
          $ref: "#/components/schemas/Codes"
      description: nullable
    PartNameCreate:
      required:
      - part_name_key
      type: object
      description: PartName Create for Post
      allOf:
      - $ref: "#/components/schemas/PartName"
    PartNameTypes:
      type: string
      description: types of part names.
      enum:
      - GENERIC
      - MANUFACTURING
      - MARKETING
      - CORE
      - REMANUFACTURING
      - OEM
      - AFTERMARKET
      - SUPERSEDING
      - SUPERSEDED
    PartNameUpdate:
      type: object
      properties:
        part_name_type:
          $ref: "#/components/schemas/PartNameTypes"
        part_prefix:
          $ref: "#/components/schemas/Codes"
        marketing_name:
          $ref: "#/components/schemas/Codes"
        description:
          type: string
          description: Description of the part name
        alias:
          $ref: "#/components/schemas/Codes"
        part_number:
          $ref: "#/components/schemas/Codes"
        language:
          $ref: "#/components/schemas/Codes"
        part_suffix:
          $ref: "#/components/schemas/Codes"
        locale:
          $ref: "#/components/schemas/Codes"
        long_name:
          $ref: "#/components/schemas/Codes"
      description: PartName Update for Patch and Put
    PartNames:
      type: array
      items:
        $ref: "#/components/schemas/PartName"
    PartStatusTypes:
      type: string
      description: types of part status.
      enum:
      - RECEIVE
      - INSPECT_INBOUND
      - DOCUMENT_RECEIPT
      - PUTAWAY
      - QUARANTINE_INBOUND
      - PICK
      - PACK
      - STAGE_SHIPMENT
      - LOAD_SHIPMENT
      - SHIP
      - DOCUMENT_SHIPMENT
      - SCRAP_DISPOSE
      - DISASSEMBLE
      - RETURN_RECEIVE
      - RETURN_INSPECT
      - RETURN_PUTAWAY
      - REFURBISH_REPAIR
      - RETURN_TO_BIN
      - DEFECTIVE_REMOVAL
      - ALLOCATE_TO_JOB
      - PICK_FOR_LABOR
      - STAGE_FOR_SERVICE
      - ISSUE_TO_TECH
      - INSTALLED
      - CORE_PENDING
      - CORE_RECEIVED
      - CROSS_DOCK
      - LABEL_TAG
      - KIT_ASSEMBLE
      - VALUE_ADDED_SERVICE
      - SUPERSEDE
      - SUPERSEDED
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        contact_name:
          $ref: "#/components/schemas/PersonName"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PayeeTypes:
      type: string
      description: types of payees.
      enum:
      - CUSTOMER
      - REPAIR_ORDER
      - WARRANTY_PROVIDER
      - INSURANCE_PROVIDER
      - SUBLET
      - SUPPLIER
      - DEALER
      - DEALER_GROUP
      - INTERNAL
      - LENDER
      - FINANCE_COMPANY
      - LESSOR
      - OEM
      - WHOLESALER
      - SELLER
      - BUYER
      - TRUSTEE
      - THIRD_PARTY_PROVIDER
      - GOVERNMENT_AGENCY
      - COMMUNITY
      - SPECIAL_USE
      - OTHER
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PlateNumber:
      type: string
      description: The alphanumeric string displayed on the vehicle license plate.
      example: ABC1234
    PricePlanReference:
      type: object
      properties:
        price_plan_reference_id:
          type: string
          description: Unique identifier value
        price_plan_reference_key:
          type: string
          description: Unique identifier value
        price_plan_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-04-13T15:03:05Z
        geographic_boundaries:
          $ref: "#/components/schemas/GeographicBoundaryReferences"
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
      description: External system identifier
    PricePlanReferences:
      type: array
      items:
        $ref: "#/components/schemas/PricePlanReference"
    ProductModel:
      type: object
      properties:
        product_model_key:
          type: string
          description: A unique key for the vehicle identifier.
        product_model_id:
          type: string
          description: The unique ID for the vehicle identifier.
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        brands:
          $ref: "#/components/schemas/Codes"
        trims:
          $ref: "#/components/schemas/Codes"
        marketing_names:
          $ref: "#/components/schemas/Codes"
        oem_names:
          $ref: "#/components/schemas/Codes"
        oem_codes:
          $ref: "#/components/schemas/Codes"
        model_codes:
          $ref: "#/components/schemas/Codes"
        phase_code:
          type: string
          description: The phase code.
        nicknames:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
      description: Vehicle Identifier
    ProductModelCreate:
      required:
      - product_model_key
      type: object
      description: ProductModel Create for Post
      allOf:
      - $ref: "#/components/schemas/ProductModel"
    ProductModelUpdate:
      type: object
      properties:
        phase_code:
          type: string
          description: The phase code.
        marketing_names:
          $ref: "#/components/schemas/Codes"
        oem_names:
          $ref: "#/components/schemas/Codes"
        brands:
          $ref: "#/components/schemas/Codes"
        oem_codes:
          $ref: "#/components/schemas/Codes"
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        trims:
          $ref: "#/components/schemas/Codes"
        nicknames:
          $ref: "#/components/schemas/Codes"
        model_codes:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
      description: ProductModel Update for Patch and Put
    RepairStatusTypes:
      type: string
      description: types of repair status.
      enum:
      - APPROVED
      - DECLINED
      - REJECTED
      - ACTIVE
      - INACTIVE
      - PENDING_APPROVAL
      - COMPLETED
      - CANCELLED
      - ABANDONED
      - INVALID
      - SALES_HOLD
      - PAYMENT_HOLD
      - FINANCE_HOLD
      - CUSTOMER_HOLD
    RoleTypes:
      type: string
      description: types of roles.
      enum:
      - GEN_MGR
      - CLOSING_MGR
      - FI_MGR
      - SALES_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - FINANCE
      - CONCIERGE_STAFF
      - CONCIERGE_MGR
      - VALET
      - VALET_OPERATOR
      - SERVICE_MGR
      - SERVICE_TECH
      - STAFF
      - SPECIALIST
      - ADVISOR
      - DISPATCHER
      - PRIMARY_TECHNICIAN
      - HELPER_TECHNICIAN
      - SERVICE_ADVISOR
      - VALET_DRIVER
      - MOBILE_DISPATCHER
      - QUALITY_CONTROL
      - INSPECTOR
      - TECHNICIAN
      - MOBILE_SERVICE_VAN
      - TOW_TRUCK
      - AUTONOMOUS_SYSTEM
      - SUBLET_VENDOR
    SchemaUri:
      type: string
      description: The URI or name of the JSON/XML schema defining the payload structure.
      example: https://starstandard.org/schemas/rdr/v2.1/retail.json
    SchemaUriCreate:
      required:
      - schema_uri_key
      type: string
      description: SchemaUri Create for Post
      allOf:
      - $ref: "#/components/schemas/SchemaUri"
    SchemaUriUpdate:
      type: string
      description: SchemaUri Update for Patch and Put
    SemanticVersion:
      pattern: ^\d+\.\d+\.\d+$
      type: string
      description: The specific semantic version of the manifest configuration.
      example: 2.1.4
    SemanticVersionCreate:
      required:
      - semantic_version_key
      type: string
      description: SemanticVersion Create for Post
      allOf:
      - $ref: "#/components/schemas/SemanticVersion"
    SemanticVersionUpdate:
      type: string
      description: SemanticVersion Update for Patch and Put
    ServiceCatalogReferences:
      type: object
      description: Service Catalog References
    ServiceCatalogReferencesCreate:
      required:
      - service_catalog_references_key
      type: object
      description: ServiceCatalogReferences Create for Post
      allOf:
      - $ref: "#/components/schemas/ServiceCatalogReferences"
    ServiceCatalogReferencesUpdate:
      type: object
      description: ServiceCatalogReferences Update for Patch and Put
    ServiceJobTypes:
      type: string
      description: types of service jobs.
      enum:
      - SERVICE
      - WARRANTY
      - SALES
      - MAINTENANCE
      - ACCESSORIES
      - PARTS
      - F_AND_I
      - TRADE_IN
      - EVALUATION
      - RECALL
      - LABOR
      - REPAIR_ORDER
      - INSTALLATION
      - PDI_INSPECTION
      - BODY_SHOP
      - FLEET
      - MOBILE
      - LOGISTICS
      - QUICK_LUBE
    SkillCategoryTypes:
      type: string
      description: types of skill categorys.
      enum:
      - MECHANICAL
      - ELECTRICAL_EV
      - AUTONOMOUS_SOFTWARE
      - FLEET_LOGISTICS
      - BODY_STRUCTURAL
    StaffAssignmentReference:
      type: object
      properties:
        staff_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the reference record.
        staff_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference record.
        staff_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Staff (Party) aggregate.
        service_job_type:
          $ref: "#/components/schemas/ServiceJobTypes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the staff member was assigned.
          format: date-time
          example: 2026-04-13T15:03:05Z
        role_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/RoleTypes"
        timeslots:
          $ref: "#/components/schemas/TimeSlots"
        skills:
          $ref: "#/components/schemas/StaffSkills"
      description: Reference to a Staff (Party) Aggregate Root and their role in the
        order.
    StaffAssignmentReferenceCreate:
      required:
      - staff_assignment_reference_key
      type: object
      description: StaffAssignmentReference Create for Post
      allOf:
      - $ref: "#/components/schemas/StaffAssignmentReference"
    StaffAssignmentReferenceUpdate:
      type: object
      properties:
        skills:
          $ref: "#/components/schemas/StaffSkills"
        identifier:
          $ref: "#/components/schemas/Identifier"
        role_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/RoleTypes"
        occurrence_date_time:
          type: string
          description: The date and time the staff member was assigned.
          format: date-time
          example: 2026-04-13T15:03:05Z
        timeslots:
          $ref: "#/components/schemas/TimeSlots"
        service_job_type:
          $ref: "#/components/schemas/ServiceJobTypes"
      description: StaffAssignmentReference Update for Patch and Put
    StaffAssignmentReferences:
      type: array
      items:
        $ref: "#/components/schemas/StaffAssignmentReference"
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - SERVICE_TECHNICIAN
      - TECHNICIAN
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SALES_PERSON
      - CUSTOMER_SERVICE
      - SALES_MANAGER
      - F_I_MANAGER
      - CLOSING_MANAGER
      - BUSINESS_MANAGER
      - RECEPTIONIST
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - DETAILER
      - DRIVER
      - APPRAISER
      - GENERAL_MANAGER
      - UNKNOWN
    StaffSkill:
      type: object
      properties:
        staff_skill_id:
          type: string
          description: Unique identifier for the staff skill.
          example: sm_123456
        staff_skill_key:
          type: string
          description: Business key or code for the staff skill.
          example: EMPLOYEE_001
        staff_skill_code:
          type: string
          description: Staff Skill Code
          example: EV_CERT_LVL3
        staff_skill_name:
          type: string
          description: Staff Skill Code
          example: EV Certification Level 3
        staff_skill_description:
          type: string
          description: Staff Skill Code
          example: EV Certification Level 3
        proficiency_level:
          type: string
          description: "Level of expertise (e.g., Beginner, Intermediate, Expert,\
            \ or 1-5 scale)."
          example: Expert
        skill_category_type:
          $ref: "#/components/schemas/SkillCategoryTypes"
        years_experience:
          type: string
          description: Number of years practicing this skill.
          example: "8"
      description: Dealership Staff Skill
    StaffSkillCreate:
      required:
      - staff_skill_key
      type: object
      description: StaffSkill Create for Post
      allOf:
      - $ref: "#/components/schemas/StaffSkill"
    StaffSkillUpdate:
      type: object
      properties:
        proficiency_level:
          type: string
          description: "Level of expertise (e.g., Beginner, Intermediate, Expert,\
            \ or 1-5 scale)."
          example: Expert
        years_experience:
          type: string
          description: Number of years practicing this skill.
          example: "8"
        skill_category_type:
          $ref: "#/components/schemas/SkillCategoryTypes"
        staff_skill_code:
          type: string
          description: Staff Skill Code
          example: EV_CERT_LVL3
        staff_skill_description:
          type: string
          description: Staff Skill Code
          example: EV Certification Level 3
        staff_skill_name:
          type: string
          description: Staff Skill Code
          example: EV Certification Level 3
      description: StaffSkill Update for Patch and Put
    StaffSkills:
      type: array
      items:
        $ref: "#/components/schemas/StaffSkill"
    TextualDetail:
      type: object
      properties:
        textual_detail_key:
          type: string
          description: Natural key or business-friendly key for textual detail.
        textual_detail_id:
          type: string
          description: Unique identifier for textual detail.
        comments:
          $ref: "#/components/schemas/Memo"
        locale_codes:
          $ref: "#/components/schemas/Codes"
        notes:
          $ref: "#/components/schemas/Memo"
        short_description:
          type: string
          description: Short description for the detail.
        description:
          type: string
          description: Full description in memo format.
        text_key:
          type: string
          description: Key reference for reusable text blocks.
        name:
          type: string
          description: Name or title of the textual detail.
        value:
          type: string
          description: Value associated with the textual detail.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        groups:
          $ref: "#/components/schemas/Codes"
        label:
          type: string
          description: Label for UI representation.
        alt_text:
          type: string
          description: Alternative text for accessibility or image descriptions.
        textual_detail_code:
          type: string
          description: Code identifier for textual detail reference.
        tags:
          $ref: "#/components/schemas/Codes"
        uom_display:
          type: string
          description: Unit of Measure display value.
        uom_code:
          type: string
          description: "Unit of Measure code (e.g., EA, PR)."
      description: not nullable
    TextualDetails:
      type: array
      items:
        $ref: "#/components/schemas/TextualDetail"
    TimeSlot:
      type: object
      properties:
        time_slot_id:
          type: string
          description: Technical unique identifier (GUID) for the time slot record.
          example: b2d3e4f5-a6b7-c8d9-e0f1-a2b3c4d5e6f7
        time_slot_key:
          type: string
          description: Natural business key for the time slot within its specific
            context.
          example: TS-MON-MORNING-SHIFT
        time_slot_source:
          type: string
          description: The originating system or calendar providing this availability
            data.
          example: GOOGLE_CALENDAR
        start_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        start_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local start time in 24-hour ISO 8601 format.
          format: date-time
        end_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        end_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local end time in 24-hour ISO 8601 format.
          format: date-time
        recurring_indicator:
          type: boolean
          description: Indicates if this time slot is part of a repeating pattern.
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          format: date
          items:
            type: string
      description: "Defines a specific window of time, often within a recurring schedule,\
        \ used for service availability or appointment booking."
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - UNKNOWN
    UnitId:
      type: string
      description: A unique sequence number or business identifier provided by TMS.
      example: "129375127"
    UnitIdCreate:
      required:
      - unit_id_key
      type: string
      description: UnitId Create for Post
      allOf:
      - $ref: "#/components/schemas/UnitId"
    UnitIdUpdate:
      type: string
      description: UnitId Update for Patch and Put
    VIN:
      maxLength: 17
      minLength: 17
      pattern: "^[0-9A-HJ-NPR-Z]+$"
      type: string
      description: The 17-character Vehicle Identification Number.
      example: 5TFHY5F13KX799310
    VehicleIdentifier:
      type: object
      properties:
        vehicle_identifier_key:
          type: string
          description: A unique natural business key for the vehicle identifier record.
          example: VID-KEY-992831
        vehicle_identifier_id:
          type: string
          description: The unique technical GUID/ID for the vehicle identifier.
          example: 550e8400-e29b-41d4-a716-446655440000
        odometer:
          $ref: "#/components/schemas/MetricValue"
        vehicle_key:
          type: string
          description: The unique business key of the associated vehicle entity.
          example: VEH-TOY-TUNDRA-2024
        unit_id:
          $ref: "#/components/schemas/UnitId"
        stock_number:
          type: string
          description: The dealer's internal stock or inventory number.
          example: STK100293
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        license:
          $ref: "#/components/schemas/VehicleLicense"
        make:
          type: string
          description: The manufacturer or make of the vehicle.
          example: Toyota
        model:
          type: string
          description: The specific model name.
          example: Tundra
        brand:
          type: string
          description: The consumer-facing brand name.
          example: TRD Pro
        trim:
          type: string
          description: The specific trim level or package.
          example: Limited
        oem_model_code:
          type: string
          description: The manufacturer's specific internal model code.
          example: 8442A
        oem_name:
          type: string
          description: Full name of the Original Equipment Manufacturer.
          example: Toyota Motor Corporation
        oem_code:
          type: string
          description: The short code representing the OEM.
          example: TMS
        model_code:
          type: string
          description: The standardized model code used within the bounded context.
          example: TUN
        model_description:
          type: string
          description: A verbose description of the vehicle model.
          example: 4WD CrewMax 5.5' Bed
        model_year:
          $ref: "#/components/schemas/ModelYear"
        vin:
          $ref: "#/components/schemas/VIN"
        nicknames:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        tags:
          $ref: "#/components/schemas/Codes"
        model_detail:
          $ref: "#/components/schemas/ProductModel"
      description: Vehicle Identifier following STAR standards for cross-context vehicle
        tracking.
    VehicleIdentifierCreate:
      required:
      - vehicle_identifier_key
      type: object
      description: VehicleIdentifier Create for Post
      allOf:
      - $ref: "#/components/schemas/VehicleIdentifier"
    VehicleIdentifierUpdate:
      type: object
      properties:
        odometer:
          $ref: "#/components/schemas/MetricValue"
        oem_model_code:
          type: string
          description: The manufacturer's specific internal model code.
          example: 8442A
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        model_year:
          $ref: "#/components/schemas/ModelYear"
        tags:
          $ref: "#/components/schemas/Codes"
        stock_number:
          type: string
          description: The dealer's internal stock or inventory number.
          example: STK100293
        license:
          $ref: "#/components/schemas/VehicleLicense"
        model_detail:
          $ref: "#/components/schemas/ProductModel"
        model_code:
          type: string
          description: The standardized model code used within the bounded context.
          example: TUN
        trim:
          type: string
          description: The specific trim level or package.
          example: Limited
        oem_code:
          type: string
          description: The short code representing the OEM.
          example: TMS
        oem_name:
          type: string
          description: Full name of the Original Equipment Manufacturer.
          example: Toyota Motor Corporation
        model_description:
          type: string
[...]
