openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: A standardized interface for Automotive Retail ...
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
paths:
  /multi-point-inspections:
    get:
      tags:
      - MultiPointInspections
      summary: Returns a paginated list of multi point inspection
      description: a list of MultiPointInspection
      operationId: listMultiPointInspections
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/MultiPointInspectionCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    post:
      tags:
      - MultiPointInspections
      summary: create multi point inspection
      description: create MultiPointInspection
      operationId: createMultiPointInspection
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MultiPointInspectionCreate"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/MultiPointInspectionCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /multi-point-inspections/{multi-point-inspection-key}:
    get:
      tags:
      - MultiPointInspections
      summary: Retrieve a single item scoped by a key MultiPoi...
      operationId: getMultiPointInspectionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: multi-point-inspection-key
        in: path
        description: The unique identifier for an MultiPointInspecti...
        required: true
        schema:
          type: string
          example: "831545032882524162"
      responses:
        "200":
          $ref: "#/components/responses/MultiPointInspectionSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    put:
      tags:
      - MultiPointInspections
      summary: Replace values in a single item scoped by a key...
      operationId: replaceMultiPointInspectionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - name: multi-point-inspection-key
        in: path
        description: The unique identifier for an MultiPointInspecti...
        required: true
        schema:
          type: string
          example: "831545032882524165"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MultiPointInspectionUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/MultiPointInspectionUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "500":
          $ref: "#/components/responses/ServerError"
    delete:
      tags:
      - MultiPointInspections
      description: delete a MultiPointInspection
      operationId: deleteMultiPointInspection
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - name: multi-point-inspection-key
        in: path
        description: The unique identifier for an MultiPointInspecti...
        required: true
        schema:
          type: string
          example: "831545032882524166"
      responses:
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
    patch:
      tags:
      - MultiPointInspections
      summary: Update a single item scoped by a key MultiPoint...
      description: update a single item
      operationId: updateMultiPointInspectionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - name: multi-point-inspection-key
        in: path
        description: The unique identifier for an MultiPointInspecti...
        required: true
        schema:
          type: string
          example: "831545032882524163"
      - name: multi-point-inspection-key
        in: path
        description: The unique identifier for an MultiPointInspecti...
        required: true
        schema:
          type: string
          example: "831545032882524164"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/MultiPointInspectionUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/MultiPointInspectionUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "500":
          $ref: "#/components/responses/ServerError"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the specific MultiPointInspections
      required: true
      schema:
        type: string
        example: "8315450328825241619"
  /multi-point-inspections/{multi-point-inspection-key}/staff-skills:
    get:
      tags:
      - StaffSkills
      summary: Returns a paginated list of staff skill
      description: a list of StaffSkill
      operationId: listStaffSkillsByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/StaffSkillCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/staff-skills/{staff-skill-key}:
    get:
      tags:
      - StaffSkills
      summary: Retrieve a single item scoped by a key StaffSki...
      operationId: getStaffSkillByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: staff-skill-key
        in: path
        description: The unique identifier for an StaffSkill entity.
        required: true
        schema:
          type: string
          example: "831545032886718465"
      responses:
        "200":
          $ref: "#/components/responses/StaffSkillSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: staff-skill-key
      in: path
      description: The unique identifier for the specific StaffSkills
      required: true
      schema:
        type: string
        example: 831545032886718464g
  /multi-point-inspections/{multi-point-inspection-key}/manifest-items:
    get:
      tags:
      - ManifestItems
      summary: Returns a paginated list of manifest item
      description: a list of ManifestItem
      operationId: listManifestItemsByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/ManifestItemCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/manifest-items/{manifest-item-key}:
    get:
      tags:
      - ManifestItems
      summary: Retrieve a single item scoped by a key Manifest...
      operationId: getManifestItemByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: manifest-item-key
        in: path
        description: The unique identifier for an ManifestItem entity.
        required: true
        schema:
          type: string
          example: "831545032886718467"
      responses:
        "200":
          $ref: "#/components/responses/ManifestItemSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: manifest-item-key
      in: path
      description: The unique identifier for the specific ManifestItems
      required: true
      schema:
        type: string
        example: 831545032886718466u
  /multi-point-inspections/{multi-point-inspection-key}/authorizations:
    get:
      tags:
      - Authorizations
      summary: Returns a paginated list of authorization
      description: a list of Authorization
      operationId: listAuthorizationsByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/AuthorizationCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/authorizations/{authorization-key}:
    get:
      tags:
      - Authorizations
      summary: Retrieve a single item scoped by a key Authoriz...
      operationId: getAuthorizationByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: authorization-key
        in: path
        description: The unique identifier for an Authorization entity.
        required: true
        schema:
          type: string
          example: "831545032886718469"
      responses:
        "200":
          $ref: "#/components/responses/AuthorizationSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: authorization-key
      in: path
      description: The unique identifier for the specific Authorizations
      required: true
      schema:
        type: string
        example: 831545032886718468K
  /multi-point-inspections/{multi-point-inspection-key}/staff-assignment-references:
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/staff-assignment-references/{staff-assignment-reference-key}:
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: staff-assignment-reference-key
      in: path
      description: The unique identifier for the specific StaffAssignmentReferences
      required: true
      schema:
        type: string
        example: 831545032886718470h
  /multi-point-inspections/{multi-point-inspection-key}/part-names:
    get:
      tags:
      - PartNames
      summary: Returns a paginated list of part name
      description: a list of PartName
      operationId: listPartNamesByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/PartNameCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/part-names/{part-name-key}:
    get:
      tags:
      - PartNames
      summary: Retrieve a single item scoped by a key PartName...
      operationId: getPartNameByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: part-name-key
        in: path
        description: The unique identifier for an PartName entity.
        required: true
        schema:
          type: string
          example: "831545032886718472"
      responses:
        "200":
          $ref: "#/components/responses/PartNameSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: part-name-key
      in: path
      description: The unique identifier for the specific PartNames
      required: true
      schema:
        type: string
        example: 831545032886718471u
  /multi-point-inspections/{multi-point-inspection-key}/geographic-boundary-references:
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/geographic-boundary-references/{geographic-boundary-reference-key}:
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: geographic-boundary-reference-key
      in: path
      description: The unique identifier for the specific GeographicBoundaryReferences
      required: true
      schema:
        type: string
        example: 831545032886718473v
  /multi-point-inspections/{multi-point-inspection-key}/part-identifiers:
    get:
      tags:
      - PartIdentifiers
      summary: Returns a paginated list of part identifier
      description: a list of PartIdentifier
      operationId: listPartIdentifiersByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/PartIdentifierCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/part-identifiers/{part-identifier-key}:
    get:
      tags:
      - PartIdentifiers
      summary: Retrieve a single item scoped by a key PartIden...
      operationId: getPartIdentifierByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: part-identifier-key
        in: path
        description: The unique identifier for an PartIdentifier ent...
        required: true
        schema:
          type: string
          example: "831545032895107073"
      responses:
        "200":
          $ref: "#/components/responses/PartIdentifierSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: part-identifier-key
      in: path
      description: The unique identifier for the specific PartIdentifiers
      required: true
      schema:
        type: string
        example: 831545032895107072n
  /multi-point-inspections/{multi-point-inspection-key}/labor-operations:
    get:
      tags:
      - LaborOperations
      summary: Returns a paginated list of labor operation
      description: a list of LaborOperation
      operationId: listLaborOperationsByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/LaborOperationCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/labor-operations/{labor-operation-key}:
    get:
      tags:
      - LaborOperations
      summary: Retrieve a single item scoped by a key LaborOpe...
      operationId: getLaborOperationByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: labor-operation-key
        in: path
        description: The unique identifier for an LaborOperation ent...
        required: true
        schema:
          type: string
          example: "831545032895107075"
      responses:
        "200":
          $ref: "#/components/responses/LaborOperationSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: labor-operation-key
      in: path
      description: The unique identifier for the specific LaborOperations
      required: true
      schema:
        type: string
        example: "8315450328951070742"
  /multi-point-inspections/{multi-point-inspection-key}/product-models:
    get:
      tags:
      - ProductModels
      summary: Returns a paginated list of product model
      description: a list of ProductModel
      operationId: listProductModelsByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/ProductModelCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/product-models/{product-model-key}:
    get:
      tags:
      - ProductModels
      summary: Retrieve a single item scoped by a key ProductM...
      operationId: getProductModelByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: product-model-key
        in: path
        description: The unique identifier for an ProductModel entity.
        required: true
        schema:
          type: string
          example: "831545032895107077"
      responses:
        "200":
          $ref: "#/components/responses/ProductModelSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: product-model-key
      in: path
      description: The unique identifier for the specific ProductModels
      required: true
      schema:
        type: string
        example: 831545032895107076A
  /multi-point-inspections/{multi-point-inspection-key}/vehicle-licenses:
    get:
      tags:
      - VehicleLicenses
      summary: Returns a paginated list of vehicle license
      description: a list of VehicleLicense
      operationId: listVehicleLicensesByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleLicenseCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/vehicle-licenses/{vehicle-license-key}:
    get:
      tags:
      - VehicleLicenses
      summary: Retrieve a single item scoped by a key VehicleL...
      operationId: getVehicleLicenseByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: vehicle-license-key
        in: path
        description: The unique identifier for an VehicleLicense ent...
        required: true
        schema:
          type: string
          example: "831545032895107079"
      responses:
        "200":
          $ref: "#/components/responses/VehicleLicenseSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: vehicle-license-key
      in: path
      description: The unique identifier for the specific VehicleLicenses
      required: true
      schema:
        type: string
        example: 831545032895107078u
  /multi-point-inspections/{multi-point-inspection-key}/labor-operation-events:
    get:
      tags:
      - LaborOperationEvents
      summary: Returns a paginated list of labor operation event
      description: a list of LaborOperationEvent
      operationId: listLaborOperationEventsByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/LaborOperationEventCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/labor-operation-events/{labor-operation-event-key}:
    get:
      tags:
      - LaborOperationEvents
      summary: Retrieve a single item scoped by a key LaborOpe...
      operationId: getLaborOperationEventByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: labor-operation-event-key
        in: path
        description: The unique identifier for an LaborOperationEven...
        required: true
        schema:
          type: string
          example: "831545032899301377"
      responses:
        "200":
          $ref: "#/components/responses/LaborOperationEventSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: labor-operation-event-key
      in: path
      description: The unique identifier for the specific LaborOperationEvents
      required: true
      schema:
        type: string
        example: 831545032899301376V
  /multi-point-inspections/{multi-point-inspection-key}/labor-resources:
    get:
      tags:
      - LaborResources
      summary: Returns a paginated list of labor resource
      description: a list of LaborResource
      operationId: listLaborResourcesByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/LaborResourceCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/labor-resources/{labor-resource-key}:
    get:
      tags:
      - LaborResources
      summary: Retrieve a single item scoped by a key LaborRes...
      operationId: getLaborResourceByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: labor-resource-key
        in: path
        description: The unique identifier for an LaborResource entity.
        required: true
        schema:
          type: string
          example: "831545032899301379"
      responses:
        "200":
          $ref: "#/components/responses/LaborResourceSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: labor-resource-key
      in: path
      description: The unique identifier for the specific LaborResources
      required: true
      schema:
        type: string
        example: 831545032899301378N
  /multi-point-inspections/{multi-point-inspection-key}/medias:
    get:
      tags:
      - Medias
      summary: Returns a paginated list of media
      description: a list of Media
      operationId: listMediasByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/MediaCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/medias/{media-key}:
    get:
      tags:
      - Medias
      summary: Retrieve a single item scoped by a key Media en...
      operationId: getMediaByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: media-key
        in: path
        description: The unique identifier for an Media entity.
        required: true
        schema:
          type: string
          example: "831545032899301381"
      responses:
        "200":
          $ref: "#/components/responses/MediaSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: media-key
      in: path
      description: The unique identifier for the specific Medias
      required: true
      schema:
        type: string
        example: "8315450328993013809"
  /multi-point-inspections/{multi-point-inspection-key}/inspections:
    get:
      tags:
      - Inspections
      summary: Returns a paginated list of inspection
      description: a list of Inspection
      operationId: listInspectionsByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/InspectionCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/inspections/{inspection-key}:
    get:
      tags:
      - Inspections
      summary: Retrieve a single item scoped by a key Inspecti...
      operationId: getInspectionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: inspection-key
        in: path
        description: The unique identifier for an Inspection entity.
        required: true
        schema:
          type: string
          example: "831545032899301383"
      responses:
        "200":
          $ref: "#/components/responses/InspectionSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: inspection-key
      in: path
      description: The unique identifier for the specific Inspections
      required: true
      schema:
        type: string
        example: 831545032899301382q
  /multi-point-inspections/{multi-point-inspection-key}/communication-channels:
    get:
      tags:
      - CommunicationChannels
      summary: Returns a paginated list of communication channel
      description: a list of CommunicationChannel
      operationId: listCommunicationChannelsByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/CommunicationChannelCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/communication-channels/{communication-channel-key}:
    get:
      tags:
      - CommunicationChannels
      summary: Retrieve a single item scoped by a key Communic...
      operationId: getCommunicationChannelByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: communication-channel-key
        in: path
        description: The unique identifier for an CommunicationChann...
        required: true
        schema:
          type: string
          example: "831545032899301385"
      responses:
        "200":
          $ref: "#/components/responses/CommunicationChannelSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: communication-channel-key
      in: path
      description: The unique identifier for the specific CommunicationChannels
      required: true
      schema:
        type: string
        example: 831545032899301384k
  /multi-point-inspections/{multi-point-inspection-key}/media-access-metrics:
    get:
      tags:
      - MediaAccessMetrics
      summary: Returns a paginated list of media access metric
      description: a list of MediaAccessMetric
      operationId: listMediaAccessMetricsByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/MediaAccessMetricCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/media-access-metrics/{media-access-metric-key}:
    get:
      tags:
      - MediaAccessMetrics
      summary: Retrieve a single item scoped by a key MediaAcc...
      operationId: getMediaAccessMetricByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: media-access-metric-key
        in: path
        description: The unique identifier for an MediaAccessMetric ...
        required: true
        schema:
          type: string
          example: "831545032899301387"
      responses:
        "200":
          $ref: "#/components/responses/MediaAccessMetricSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: media-access-metric-key
      in: path
      description: The unique identifier for the specific MediaAccessMetrics
      required: true
      schema:
        type: string
        example: 831545032899301386R
  /multi-point-inspections/{multi-point-inspection-key}/bill-of-material-references:
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/bill-of-material-references/{bill-of-material-reference-key}:
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: bill-of-material-reference-key
      in: path
      description: The unique identifier for the specific BillOfMaterialReferences
      required: true
      schema:
        type: string
        example: 831545032899301388i
  /multi-point-inspections/{multi-point-inspection-key}/appointment-references:
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/appointment-references/{appointment-reference-key}:
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: appointment-reference-key
      in: path
      description: The unique identifier for the specific AppointmentReferences
      required: true
      schema:
        type: string
        example: "8315450328993013896"
  /multi-point-inspections/{multi-point-inspection-key}/financial-split-references:
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/financial-split-references/{financial-split-reference-key}:
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: financial-split-reference-key
      in: path
      description: The unique identifier for the specific FinancialSplitReferences
      required: true
      schema:
        type: string
        example: 831545032899301390S
  /multi-point-inspections/{multi-point-inspection-key}/vehicle-identifiers:
    get:
      tags:
      - VehicleIdentifiers
      summary: Returns a paginated list of vehicle identifier
      description: a list of VehicleIdentifier
      operationId: listVehicleIdentifiersByMulti-point-inspection-key
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleIdentifierCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
  /multi-point-inspections/{multi-point-inspection-key}/vehicle-identifiers/{vehicle-identifier-key}:
    get:
      tags:
      - VehicleIdentifiers
      summary: Retrieve a single item scoped by a key VehicleI...
      operationId: getVehicleIdentifierByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - name: vehicle-identifier-key
        in: path
        description: The unique identifier for an VehicleIdentifier ...
        required: true
        schema:
          type: string
          example: "831545032899301392"
      responses:
        "200":
          $ref: "#/components/responses/VehicleIdentifierSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    parameters:
    - name: multi-point-inspection-key
      in: path
      description: The unique identifier for the parent resource.
      required: true
      schema:
        type: string
    - name: vehicle-identifier-key
      in: path
      description: The unique identifier for the specific VehicleIdentifiers
      required: true
      schema:
        type: string
        example: 831545032899301391x
  /multi-point-inspection/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the MultiPointInspection root node.
      operationId: healthMultiPointInspection
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_value:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique..."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AppointmentReference:
      type: object
      properties:
        appointment_reference_key:
          type: string
          description: A unique key for the appointment reference.
        appointment_key:
          type: string
          description: A unique key for the appointment record.
        appointment_reference_value:
          type: string
          description: The unique value of the appointment reference.
        appointment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AppointmentTypes"
        appointment_source_code:
          type: string
          description: The source code for the appointment.
        description:
          type: string
          description: Optional description for the part identifier
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        appointment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        appointment_status_type:
          $ref: "#/components/schemas/AppointmentStatusTypes"
        appointment_type:
          $ref: "#/components/schemas/AppointmentTypes"
        occurrence_date_time:
          type: string
          description: The date and time the appointment occurred.
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: nullable
    AppointmentReferenceCreate:
      required:
      - appointment_reference_key
      type: object
      description: AppointmentReference Create for Post
      allOf:
      - $ref: "#/components/schemas/AppointmentReference"
    AppointmentReferenceUpdate:
      type: object
      properties:
        appointment_reference_value:
          type: string
          description: The unique value of the appointment reference.
        appointment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AppointmentTypes"
        appointment_status_type:
          $ref: "#/components/schemas/AppointmentStatusTypes"
        appointment_type:
          $ref: "#/components/schemas/AppointmentTypes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        description:
          type: string
          description: Optional description for the part identifier
        appointment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        occurrence_date_time:
          type: string
          description: The date and time the appointment occurred.
          format: date-time
          example: 2026-04-13T15:03:05Z
        appointment_source_code:
          type: string
          description: The source code for the appointment.
      description: AppointmentReference Update for Patch and Put
    AppointmentReferences:
      type: array
      items:
        $ref: "#/components/schemas/AppointmentReference"
    AppointmentStatusTypes:
      type: string
      description: types of appointment status.
      enum:
      - WAIT_LIST
      - TENTATIVE
      - AVAILABLE
      - SELECTED
      - RESERVED
      - PREFERRED
      - CONFIRMED
      - ARRIVED
      - FULFILLED
      - ALTERNATE
      - NO_SHOW
      - CANCELLED
    AppointmentTypes:
      type: string
      description: types of appointments.
      enum:
      - SALES
      - F_AND_I
      - TRADE_EVALUATION
      - TEST_DRIVE
      - DELIVERY
      - SERVICE
      - WARRANTY_REPAIR
      - VEHICLE_PICKUP
    Authorization:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-04-13T15:03:05Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currentl...
          example: false
        authorization_key:
          type: string
          description: Business key uniquely identifying the authoriza...
      description: Establish authorization level
    AuthorizationCreate:
      required:
      - authorization_key
      type: object
      description: Authorization Create for Post
      allOf:
      - $ref: "#/components/schemas/Authorization"
    AuthorizationUpdate:
      type: object
      properties:
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currentl...
          example: false
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: Authorization Update for Patch and Put
    Authorizations:
      type: array
      items:
        $ref: "#/components/schemas/Authorization"
    BillOfMaterialReference:
      type: object
      properties:
        bill_of_material_reference_id:
          type: string
          description: Unique identifier value
        bill_of_material_reference_key:
          type: string
          description: Unique identifier value
        bill_of_material_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-04-13T15:03:05Z
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
      description: External system identifier
    BillOfMaterialReferenceCreate:
      required:
      - bill_of_material_reference_key
      type: object
      description: BillOfMaterialReference Create for Post
      allOf:
      - $ref: "#/components/schemas/BillOfMaterialReference"
    BillOfMaterialReferenceUpdate:
      type: object
      properties:
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        context:
          type: string
          description: Context or domain of the identifier
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-04-13T15:03:05Z
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
      description: BillOfMaterialReference Update for Patch and Put
    BillOfMaterialReferences:
      type: array
      items:
        $ref: "#/components/schemas/BillOfMaterialReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for...
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify ...
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by th...
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code r...
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel re...
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., a..."
        value_extension:
          type: string
          description: An optional extension for the communication cha...
        label:
          type: string
          description: "A label for the communication channel (e.g., 'H..."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the pref...
          example: false
        preferences:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeSlot"
        authorizations:
          $ref: "#/components/schemas/Authorizations"
      description: "Represents a communication channel, such as an ..."
    CommunicationChannelCreate:
      required:
      - communication_channel_key
      type: object
      description: CommunicationChannel Create for Post
      allOf:
      - $ref: "#/components/schemas/CommunicationChannel"
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannelUpdate:
      type: object
      properties:
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        preferences:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeSlot"
        authorizations:
          $ref: "#/components/schemas/Authorizations"
        label:
          type: string
          description: "A label for the communication channel (e.g., 'H..."
        locale:
          $ref: "#/components/schemas/Locale"
        value:
          type: string
          description: "The value of the communication channel (e.g., a..."
        value_extension:
          type: string
          description: An optional extension for the communication cha...
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the pref...
          example: false
      description: CommunicationChannel Update for Patch and Put
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CorrelationId:
      pattern: "^[a-zA-Z0-9-]+$"
      type: string
      description: The correlation ID or workflow execution identi...
      example: exec-uuid-99283-7716
    CorrelationIdCreate:
      required:
      - correlation_id_key
      type: string
      description: CorrelationId Create for Post
      allOf:
      - $ref: "#/components/schemas/CorrelationId"
    CorrelationIdUpdate:
      type: string
      description: CorrelationId Update for Patch and Put
    CountryCode:
      type: string
      description: The ISO 3116-1 alpha-2 country code of the issu...
      example: US
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency excha...
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific c...
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Ba...
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversio...
          example: CAD
        currency_exchange_desc:
          type: string
          description: Narrative title defining the rate's source (e.g...
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: The multiplier used to convert source to target...
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange r...
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: "CurrencyExchange that includes display value, c..."
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeviceTypes:
      type: string
      description: types of devices.
      enum:
      - MOBILE
      - TABLET
      - DESKTOP
      - SMART_TV
      - OTHER
    DurationUOMTypes:
      type: string
      description: types of duration u o ms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the eff...
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considere...
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid ..."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO ...
          format: date-time
          example: 2026-04-13T15:03:05Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completi...
          format: date-time
          example: 2026-04-13T15:03:05Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 ...
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for ...
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex r...
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on...
          example: true
        timeslot:
          $ref: "#/components/schemas/TimeSlot"
      description: Defines a temporal range and recurrence logic f...
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: A unique identifier for this specific request.
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: Field-level validation errors or granular diagnostic information.
          items:
            type: object
            properties:
              field:
                type: string
                description: The JSON path or field name that caused the error.
                example: payrollId
              issue:
                type: string
                description: The specific validation rule that failed.
                example: must be unique
              rejected_value:
                type: string
                description: The value that was sent and rejected (only if non-sensitive).
                example: "12345"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: A unique key for the eventMessage record.
        event_message_id:
          type: string
          description: The unique ID for the eventMessage.
        event_actor_key:
          type: string
          description: The ID of the actor for the event.
        event_actor_name:
          type: string
          description: The name of the actor for the event.
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-04-13T15:03:05Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belongs.
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
        event_message_code:
          type: string
          description: The code for the eventMessage.
        event_message_value:
          type: string
          description: The value of the eventMessage.
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessage is in...
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      enum:
      - INSTRUCTION
      - REASONING
      - RESPONSE
      - TOOL_CALL
      - TOOL_OUTPUT
      - ACTION_CONFIRMATION
      - COMPENSATION
      - RETRY_SIGNAL
      - ERROR_REPORT
      - DELEGATION
      - BROADCAST
      - CRITIQUE
      - LOGGING
      - AUDIT
      - HEARTBEAT
      - UNKNOWN
    EventMessages:
      type: array
      items:
        $ref: "#/components/schemas/EventMessage"
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        financial_split_reference_key:
          type: string
          description: Unique key value for the reference record.
        financial_split_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Payme...
        context:
          type: string
          description: Context or domain of the payment financialSplit.
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        total:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associ...
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: Reference to a Payment FinancialSplit Aggregate...
    FinancialSplitReferenceCreate:
      required:
      - financial_split_reference_key
      type: object
      description: FinancialSplitReference Create for Post
      allOf:
      - $ref: "#/components/schemas/FinancialSplitReference"
    FinancialSplitReferenceUpdate:
      type: object
      properties:
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        total:
          $ref: "#/components/schemas/Identifier"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        context:
          type: string
          description: Context or domain of the payment financialSplit.
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associ...
          format: date-time
          example: 2026-04-13T15:03:05Z
      description: FinancialSplitReference Update for Patch and Put
    GeographicBoundaryReference:
      type: object
      properties:
        geographic_boundary_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        geographic_boundary_reference_key:
          type: string
          description: Unique key value for the reference record.
        geographic_boundary_key:
          type: string
          description: The unique key identifying the referenced Payme...
        context:
          type: string
          description: Context or domain of the payment schedule.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
[...]
