openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Vehicle
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: ColorDetails
  description: Tag Description ColorDetails
- name: Efficiencies
  description: Tag Description Efficiencies
- name: GeneralAmounts
  description: Tag Description GeneralAmounts
- name: GeographicBoundaries
  description: Tag Description GeographicBoundaries
- name: Health
  description: Tag Description Health
- name: Insurances
  description: Tag Description Insurances
- name: InsuranceTerms
  description: Tag Description InsuranceTerms
- name: JurisdictionProfiles
  description: Tag Description JurisdictionProfiles
- name: Medias
  description: Tag Description Medias
- name: MediaVisibilities
  description: Tag Description MediaVisibilities
- name: OptionDescriptions
  description: Tag Description OptionDescriptions
- name: PolicyHolders
  description: Tag Description PolicyHolders
- name: Positions
  description: Tag Description Positions
- name: ProductSchedules
  description: Tag Description ProductSchedules
- name: ResourceGroups
  description: Tag Description ResourceGroups
- name: SafetyRatings
  description: Tag Description SafetyRatings
- name: ShipmentEvents
  description: Tag Description ShipmentEvents
- name: VehicleBuildProfiles
  description: Tag Description VehicleBuildProfiles
- name: VehicleEconomies
  description: Tag Description VehicleEconomies
- name: VehicleLicenses
  description: Tag Description VehicleLicenses
- name: VehicleLogisticsProfiles
  description: Tag Description VehicleLogisticsProfiles
- name: VehicleMedias
  description: Tag Description VehicleMedias
- name: VehicleOptions
  description: Tag Description VehicleOptions
- name: VehiclePriceSummaries
  description: Tag Description VehiclePriceSummaries
- name: Vehicles
  description: Tag Description Vehicles
- name: VehicleSpecifications
  description: Tag Description VehicleSpecifications
- name: Warranties
  description: Tag Description Warranties
- name: WarrantyCoverages
  description: Tag Description WarrantyCoverages
- name: WarrantyTerms
  description: Tag Description WarrantyTerms
paths:
  /vehicles:
    get:
      tags:
      - Vehicles
      summary: Returns a paginated list of vehicle
      description: a list of Vehicle
      operationId: listVehicles
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    post:
      tags:
      - Vehicles
      summary: create vehicle
      description: create Vehicle
      operationId: createVehicle
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VehicleCreate"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/VehicleCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /vehicles/{vehicle-key}:
    get:
      tags:
      - Vehicles
      summary: Retrieve a single item scoped by a key Vehicle entities.
      description: Retrieve a single item scoped by a key Vehicle entities.
      operationId: getVehicleByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/VehicleKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    put:
      tags:
      - Vehicles
      summary: Replace values in a single item scoped by a key Vehicle entities.
      description: Replace values in a single item scoped by a key Vehicle entities.
      operationId: replaceVehicleByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/VehicleKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VehicleUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/VehicleUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    delete:
      tags:
      - Vehicles
      summary: Delete a single item scoped by a key Vehicle
      description: delete a Vehicle
      operationId: deleteVehicle
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/ReasonQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/VehicleKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleSingleResponse"
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    patch:
      tags:
      - Vehicles
      summary: Update a single item scoped by a key Vehicle
      description: update a single item
      operationId: updateVehicleByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/VehicleKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/VehicleUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/VehicleUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /vehicles/{vehicle-key}/vehicle-logistics-profiles:
    get:
      tags:
      - VehicleLogisticsProfiles
      summary: Returns a paginated list of vehicle logistics profile
      description: a list of VehicleLogisticsProfile
      operationId: listVehicleLogisticsProfilesByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleLogisticsProfileCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-logistics-profiles/{vehicle-logistics-profile-key}:
    get:
      tags:
      - VehicleLogisticsProfiles
      summary: Retrieve a single item scoped by a key VehicleLogisticsProfile entities.
      description: Retrieve a single item scoped by a key VehicleLogisticsProfile
        entities.
      operationId: getVehicleLogisticsProfileByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/VehicleLogisticsProfileKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleLogisticsProfileSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-references:
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-references/{vehicle-reference-key}:
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/option-descriptions:
    get:
      tags:
      - OptionDescriptions
      summary: Returns a paginated list of option description
      description: a list of OptionDescription
      operationId: listOptionDescriptionsByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/OptionDescriptionCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/option-descriptions/{option-description-key}:
    get:
      tags:
      - OptionDescriptions
      summary: Retrieve a single item scoped by a key OptionDescription entities.
      description: Retrieve a single item scoped by a key OptionDescription entities.
      operationId: getOptionDescriptionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OptionDescriptionKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/OptionDescriptionSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/geographic-boundaries:
    get:
      tags:
      - GeographicBoundaries
      summary: Returns a paginated list of geographic boundary
      description: a list of GeographicBoundary
      operationId: listGeographicBoundariesByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/GeographicBoundaryCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/geographic-boundaries/{geographic-boundary-key}:
    get:
      tags:
      - GeographicBoundaries
      summary: Retrieve a single item scoped by a key GeographicBoundary entities.
      description: Retrieve a single item scoped by a key GeographicBoundary entities.
      operationId: getGeographicBoundaryByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/GeographicBoundaryKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/GeographicBoundarySingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-economies:
    get:
      tags:
      - VehicleEconomies
      summary: Returns a paginated list of vehicle economy
      description: a list of VehicleEconomy
      operationId: listVehicleEconomiesByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleEconomyCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-economies/{vehicle-economy-key}:
    get:
      tags:
      - VehicleEconomies
      summary: Retrieve a single item scoped by a key VehicleEconomy entities.
      description: Retrieve a single item scoped by a key VehicleEconomy entities.
      operationId: getVehicleEconomyByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/VehicleEconomyKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleEconomySingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-price-summaries:
    get:
      tags:
      - VehiclePriceSummaries
      summary: Returns a paginated list of vehicle price summary
      description: a list of VehiclePriceSummary
      operationId: listVehiclePriceSummariesByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehiclePriceSummaryCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-price-summaries/{vehicle-price-summary-key}:
    get:
      tags:
      - VehiclePriceSummaries
      summary: Retrieve a single item scoped by a key VehiclePriceSummary entities.
      description: Retrieve a single item scoped by a key VehiclePriceSummary entities.
      operationId: getVehiclePriceSummaryByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/VehiclePriceSummaryKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehiclePriceSummarySingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/media-visibilities:
    get:
      tags:
      - MediaVisibilities
      summary: Returns a paginated list of media visibility
      description: a list of MediaVisibility
      operationId: listMediaVisibilitiesByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/MediaVisibilityCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/media-visibilities/{media-visibility-key}:
    get:
      tags:
      - MediaVisibilities
      summary: Retrieve a single item scoped by a key MediaVisibility entities.
      description: Retrieve a single item scoped by a key MediaVisibility entities.
      operationId: getMediaVisibilityByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/MediaVisibilityKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/MediaVisibilitySingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-build-profiles:
    get:
      tags:
      - VehicleBuildProfiles
      summary: Returns a paginated list of vehicle build profile
      description: a list of VehicleBuildProfile
      operationId: listVehicleBuildProfilesByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleBuildProfileCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-build-profiles/{vehicle-build-profile-key}:
    get:
      tags:
      - VehicleBuildProfiles
      summary: Retrieve a single item scoped by a key VehicleBuildProfile entities.
      description: Retrieve a single item scoped by a key VehicleBuildProfile entities.
      operationId: getVehicleBuildProfileByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/VehicleBuildProfileKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleBuildProfileSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/warranty-coverages:
    get:
      tags:
      - WarrantyCoverages
      summary: Returns a paginated list of warranty coverage
      description: a list of WarrantyCoverage
      operationId: listWarrantyCoveragesByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/WarrantyCoverageCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/warranty-coverages/{warranty-coverage-key}:
    get:
      tags:
      - WarrantyCoverages
      summary: Retrieve a single item scoped by a key WarrantyCoverage entities.
      description: Retrieve a single item scoped by a key WarrantyCoverage entities.
      operationId: getWarrantyCoverageByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/WarrantyCoverageKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/WarrantyCoverageSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/policy-holders:
    get:
      tags:
      - PolicyHolders
      summary: Returns a paginated list of policy holder
      description: a list of PolicyHolder
      operationId: listPolicyHoldersByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PolicyHolderCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/policy-holders/{policy-holder-key}:
    get:
      tags:
      - PolicyHolders
      summary: Retrieve a single item scoped by a key PolicyHolder entities.
      description: Retrieve a single item scoped by a key PolicyHolder entities.
      operationId: getPolicyHolderByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PolicyHolderKey"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PolicyHolderSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/efficiencies:
    get:
      tags:
      - Efficiencies
      summary: Returns a paginated list of efficiency
      description: a list of Efficiency
      operationId: listEfficienciesByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/EfficiencyCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/efficiencies/{efficiency-key}:
    get:
      tags:
      - Efficiencies
      summary: Retrieve a single item scoped by a key Efficiency entities.
      description: Retrieve a single item scoped by a key Efficiency entities.
      operationId: getEfficiencyByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/EfficiencyKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/EfficiencySingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/insurance-terms:
    get:
      tags:
      - InsuranceTerms
      summary: Returns a paginated list of insurance term
      description: a list of InsuranceTerm
      operationId: listInsuranceTermsByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/InsuranceTermCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/insurance-terms/{insurance-term-key}:
    get:
      tags:
      - InsuranceTerms
      summary: Retrieve a single item scoped by a key InsuranceTerm entities.
      description: Retrieve a single item scoped by a key InsuranceTerm entities.
      operationId: getInsuranceTermByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/InsuranceTermKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/InsuranceTermSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-specifications:
    get:
      tags:
      - VehicleSpecifications
      summary: Returns a paginated list of vehicle specification
      description: a list of VehicleSpecification
      operationId: listVehicleSpecificationsByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleSpecificationCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-specifications/{vehicle-specification-key}:
    get:
      tags:
      - VehicleSpecifications
      summary: Retrieve a single item scoped by a key VehicleSpecification entities.
      description: Retrieve a single item scoped by a key VehicleSpecification entities.
      operationId: getVehicleSpecificationByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/VehicleSpecificationKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleSpecificationSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/resource-groups:
    get:
      tags:
      - ResourceGroups
      summary: Returns a paginated list of resource group
      description: a list of ResourceGroup
      operationId: listResourceGroupsByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ResourceGroupCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/resource-groups/{resource-group-key}:
    get:
      tags:
      - ResourceGroups
      summary: Retrieve a single item scoped by a key ResourceGroup entities.
      description: Retrieve a single item scoped by a key ResourceGroup entities.
      operationId: getResourceGroupByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ResourceGroupKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ResourceGroupSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/warranty-terms:
    get:
      tags:
      - WarrantyTerms
      summary: Returns a paginated list of warranty term
      description: a list of WarrantyTerm
      operationId: listWarrantyTermsByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/WarrantyTermCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/warranty-terms/{warranty-term-key}:
    get:
      tags:
      - WarrantyTerms
      summary: Retrieve a single item scoped by a key WarrantyTerm entities.
      description: Retrieve a single item scoped by a key WarrantyTerm entities.
      operationId: getWarrantyTermByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/WarrantyTermKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/WarrantyTermSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/warranties:
    get:
      tags:
      - Warranties
      summary: Returns a paginated list of warranty
      description: a list of Warranty
      operationId: listWarrantiesByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/WarrantyCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/warranties/{warranty-key}:
    get:
      tags:
      - Warranties
      summary: Retrieve a single item scoped by a key Warranty entities.
      description: Retrieve a single item scoped by a key Warranty entities.
      operationId: getWarrantyByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/WarrantyKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/WarrantySingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-licenses:
    get:
      tags:
      - VehicleLicenses
      summary: Returns a paginated list of vehicle license
      description: a list of VehicleLicense
      operationId: listVehicleLicensesByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleLicenseCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/vehicle-licenses/{vehicle-license-key}:
    get:
      tags:
      - VehicleLicenses
      summary: Retrieve a single item scoped by a key VehicleLicense entities.
      description: Retrieve a single item scoped by a key VehicleLicense entities.
      operationId: getVehicleLicenseByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/VehicleLicenseKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleLicenseSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/positions:
    get:
      tags:
      - Positions
      summary: Returns a paginated list of position
      description: a list of Position
      operationId: listPositionsByVehicleKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PositionCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - member-api-key: []
      - industry-oauth:
        - standard:read
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/VehicleKey"
  /vehicles/{vehicle-key}/positions/{position-key}:
    get:
      tags:
      - Positions
[...]
