openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Vehicle
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:20:25Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    CabTypes:
      type: string
      description: types of cabs.
      enum:
      - REGULAR
      - EXTENDED
      - CREW
      - MEGA
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ColorDetail:
      type: object
      properties:
        color_detail_id:
          type: string
          description: A unique id for the color detail.
        color_detail_key:
          type: string
          description: A unique key for the color detail.
        dealer_color:
          type: string
          description: The color as designated by the dealer.
        desc_color:
          type: string
          description: A descriptive name for the color.
        color_code:
          type: string
          description: The technical code of the color
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM) name or code.
        marketing_name:
          type: string
          description: The Marketing Name of the color
      description: "Details for a specific color, including dealer and OEM codes."
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ControlAccountTypes:
      type: string
      description: types of control accounts.
      enum:
      - ASSETS
      - FIXED_ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - LONG_TERM_LIABILITY
      - EQUITY
      - CLEARING
      - PROVISION
      - ROUNDING
      - REVENUE
      - OTHER_INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - TAX
      - DISCOUNT
      - REBATE
      - FEE
      - SERVICE
      - CREDIT
      - OTHER
      - DEALER
      - VEHICLE
      - ACCESSORIES
      - OPTION
      - CUSTOMER
      - VENDOR
      - EMPLOYEE
      - PRODUCT
      - REPAIR_ORDER
      - PARTS_SALES_ORDER
      - PACKAGE
      - REFERENCE
    CorrelationId:
      pattern: "^[a-zA-Z0-9-]+$"
      type: string
      description: The correlation ID or workflow execution identifier for cross-system
        distributed tracing.
      example: exec-uuid-99283-7716
    CountryCode:
      type: string
      description: The ISO 3116-1 alpha-2 country code of the issuing jurisdiction.
      example: US
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:20:25Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DealerCode:
      pattern: "^[A-Z0-9-]+$"
      type: string
      description: The OEM-assigned unique identifier for the selling/reporting dealer.
      example: DLR-12345
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-07T17:20:25Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-07T17:20:25Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Efficiency:
      type: object
      properties:
        efficiency_id:
          type: string
          description: A unique key for the efficiency record.
        efficiency_key:
          type: string
          description: A unique key for the efficiency record.
        city_efficiency:
          type: string
          description: The vehicle's fuel efficiency in a city driving environment.
        highway_efficiency:
          type: string
          description: The vehicle's fuel efficiency on a highway.
      description: Details regarding a vehicle's fuel efficiency.
    EngineTypes:
      type: string
      description: types of engines.
      enum:
      - ICE
      - THERMAL_INTERNAL
      - THERMAL_EXTERNAL
      - THERMAL_REACTION
      - ELECTRIC
      - PHYSICAL
      - HYBRID
      - OTHER
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: A unique key for the eventMessage record.
        event_message_id:
          type: string
          description: The unique ID for the eventMessage.
        event_actor_key:
          type: string
          description: The ID of the actor for the event.
        event_actor_name:
          type: string
          description: The name of the actor for the event.
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-05-07T17:20:25Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belongs.
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
        event_message_code:
          type: string
          description: The code for the eventMessage.
        event_message_value:
          type: string
          description: The value of the eventMessage.
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessage is internal.
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      enum:
      - INSTRUCTION
      - REASONING
      - RESPONSE
      - TOOL_CALL
      - TOOL_OUTPUT
      - ACTION_CONFIRMATION
      - COMPENSATION
      - RETRY_SIGNAL
      - ERROR_REPORT
      - DELEGATION
      - BROADCAST
      - CRITIQUE
      - LOGGING
      - AUDIT
      - HEARTBEAT
      - UNKNOWN
    EventMessages:
      type: array
      items:
        $ref: "#/components/schemas/EventMessage"
    Feature:
      type: object
      properties:
        feature_id:
          type: string
          description: Unique identifier for the  feature category.
          example: feat-cat-99821
        feature_key:
          type: string
          description: Natural business key for the feature category.
          example: INTERIOR_DIMENSIONS
        header:
          type: string
          description: The display header text for the feature group.
          example: "Interior dimensions, front/rear (in.)"
        description:
          type: string
          description: Brief description of the feature set.
          example: EFC Other than Std Feature Details
        feature_details:
          $ref: "#/components/schemas/FeatureItems"
      description: not nullable
    FeatureItem:
      type: object
      properties:
        feature_item_id:
          type: string
          description: Internal unique identifier for the item record.
        feature_item_key:
          type: string
          description: Internal unique identifier for the item record.
        name:
          type: string
          description: The name of the feature.
          example: Headroom
        value:
          type: string
          description: The value or description of the feature.
          example: 3.5L V6 DOHC
      description: Key value pair of feature's name and value.
    FeatureItems:
      type: array
      items:
        $ref: "#/components/schemas/FeatureItem"
    Features:
      type: array
      items:
        $ref: "#/components/schemas/Feature"
    FuelTypes:
      type: string
      description: types of fuels.
      enum:
      - GASOLINE
      - DIESEL
      - BIO_DIESEL
      - ETHANOL
      - ELECTRIC
      - HYDROGEN
      - NATURAL_GAS
      - PROPANE
      - METHANOL
      - DIESEL_OID_MDF
      - SOLAR_OIL_HSD
      - KEROSENE
      - AVIATION_TURBINE_AVTUR
      - AVIATION_GASOLINE_AVGAS
      - P_SERIES
      - OTHER
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Insurance:
      type: object
      properties:
        insurance_key:
          type: string
          description: A unique key for the insurance record.
        insurance_id:
          type: string
          description: The unique ID for the insurance record.
        insurance_type:
          $ref: "#/components/schemas/InsuranceTypes"
        insurance_company:
          $ref: "#/components/schemas/PartyReference"
        insurance_agent:
          $ref: "#/components/schemas/PartyReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        plan_codes:
          $ref: "#/components/schemas/Codes"
        plan_types:
          $ref: "#/components/schemas/Codes"
        agreement_number:
          type: string
          description: The insurance policy number.
        insurance_policy_number:
          type: string
          description: The insurance policy number.
        effective_date:
          type: string
          description: The effective date of the insurance policy.
          format: date
        expiration_date:
          type: string
          description: The expiration date of the insurance policy.
          format: date
        plan_coverage:
          $ref: "#/components/schemas/MetricValue"
        expiration_mileage:
          $ref: "#/components/schemas/MetricValue"
        insured_person_name:
          type: string
          description: The name of the insured person.
        description:
          type: string
          description: A general description of the insurance.
        confirmation_code:
          type: string
          description: The confirmation code for the policy.
        policy_holder:
          $ref: "#/components/schemas/PolicyHolder"
        insurance_terms:
          $ref: "#/components/schemas/InsuranceTerms"
        links:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Link"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
      description: nullable
    InsuranceTerm:
      type: object
      properties:
        insurance_term_key:
          type: string
          description: A unique key for the insurance term record.
        term_id:
          type: string
          description: The unique ID for the insurance term.
        term_name:
          type: string
          description: The name of the insurance term.
        term_desc:
          type: string
          description: A description of the insurance term.
        price:
          $ref: "#/components/schemas/Price"
      description: Current Insurance Term for a customer.
    InsuranceTerms:
      type: array
      items:
        $ref: "#/components/schemas/InsuranceTerm"
    InsuranceTypes:
      type: string
      description: types of insurances.
      enum:
      - HEALTH
      - AUTO
      - HOMEOWNERS
      - RENTERS
      - LIFE
      - DISABILITY
      - UMBRELLA
      - LONG_TERM_DISABILITY
      - TERM_LIFE
      - LONG_TERM_CARE
      - IDENTITY_THEFT_PROTECTION
      - PERSONAL
      - PROPERTY
      - MARINE
      - FIRE
      - LIABILITY
      - GUARANTEE
      - FLOOD
      - WIND
      - STORM
      - OTHER
      - PROFESSIONAL_LIABILITY
      - COMMERCIAL_AUTO
      - CYBER_LIABILITY
      - WORKERS_COMPENSATION
      - BUSINESS_INTERRUPTION
      - RENT_GUARANTEE
      - TITLE
      - PET
      - TRAVEL
      - EVENT
    Insurances:
      type: array
      items:
        $ref: "#/components/schemas/Insurance"
    InventoryStatusTypes:
      type: string
      description: types of inventory status.
      enum:
      - ON_ORDER
      - RECEIVED
      - PREPARATION
      - STOCKED_IN
      - AVAILABLE
      - RESERVED
      - PRE_SOLD
      - ON_HOLD
      - SALES_HOLD
      - SERVICE_HOLD
      - RECALL_HOLD
      - IN_TRANSIT
      - ON_DEALER_LOT
      - ON_CENTRAL_LOT
      - ASSIGNED_BY_MANUFACTURER
      - SOLD
      - WHOLESALE
      - DAMAGED
      - UNAVAILABLE
      - RETURNED
      - DISPOSAL
      - UNKNOWN
    LifecyclePulse:
      type: object
      properties:
        lifecycle_pulse_id:
          type: string
          description: The internal unique identifier for this specific pulse record.
          example: pls-992837-abc
        lifecycle_pulse_key:
          type: string
          description: "A natural business key for the pulse, typically formatted\
            \ as EVENT_NAME-TIMESTAMP."
          example: RDR_TRANSMITTED_20260318_143005
        lifecycle_pulse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/LifecyclePulseTypes"
        occurred_at:
          type: string
          description: The high-precision timestamp when the event actually occurred
            in the source system.
          format: date-time
          example: 2026-05-07T17:20:25Z
        actor_name:
          type: string
          description: "The identity of the user, service, or system agent that triggered\
            \ the event."
          example: DMS_INTEGRATOR_SVC
        execution_id:
          $ref: "#/components/schemas/CorrelationId"
        pulse_detail:
          type: string
          description: pulse detail
          example: "Updated: Assigned to Ocean Trader V22 for transit."
        traceability:
          $ref: "#/components/schemas/EventMessages"
      description: Represents an immutable audit event or 'pulse' in the record lifecycle.
    LifecyclePulseTypes:
      type: string
      description: types of lifecycle pulses.
      enum:
      - STARTED
      - CREATED
      - UPDATED
      - PROCESSED
      - TRANSMITTED
      - ACKNOWLEDGED
      - REJECTED
      - ARCHIVED
      - VOIDED
    LifecyclePulses:
      type: array
      items:
        $ref: "#/components/schemas/LifecyclePulse"
    Link:
      type: object
      properties:
        link_key:
          type: string
          description: The unique key for the link.
        href:
          type: string
          description: The URL of the related resource.
        method:
          type: string
          description: "The HTTP method to be used to access the link (e.g., GET,\
            \ POST)."
        rel:
          type: string
          description: "The link relation, which describes the relationship between\
            \ the current resource and the linked resource."
        title:
          type: string
          description: A human-readable title for the link.
      description: "Represents a Hypermedia as the Engine of Application State (HATEOS)\
        \ link, providing information on how to interact with a related resource."
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: not nullable
    Manifest:
      type: object
      properties:
        manifest_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The internal unique identifier for the manifest instance.
          example: man-55283-abc
        manifest_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The business key identifying the specific manifest configuration.
          example: RDR_US_RETAIL_v2
        context:
          type: string
          description: "The business domain or OEM context for this manifest (e.g.,\
            \ 'SALES', 'LOGISTICS', 'WARRANTY')."
          example: VEHICLE_DELIVERY
        schema:
          $ref: "#/components/schemas/SchemaUri"
        definitions:
          $ref: "#/components/schemas/ManifestItems"
        lifecycle_pulses:
          $ref: "#/components/schemas/LifecyclePulses"
        manifest_type:
          type: string
          description: "The classification of manifest (e.g., 'VALIDATION_RULES',\
            \ 'DATA_MAPPING', 'TRANSFORMATION')."
          example: VALIDATION_RULES
        version:
          $ref: "#/components/schemas/SemanticVersion"
      description: External system manifest defining the structural rules and metadata
        for a transaction.
    ManifestItem:
      type: object
      properties:
        manifest_item_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique manifestItem value
        manifest_item_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the manifestItem
        context:
          type: string
          description: Context or domain of the manifestItem
        id:
          type: string
          description: Context or domain of the manifestItem
        value:
          type: string
          description: The monetary or hours-based value of the event.
        description:
          type: string
          description: The monetary or hours-based value of the event.
      description: not nullable
    ManifestItems:
      type: array
      items:
        $ref: "#/components/schemas/ManifestItem"
    Manifests:
      type: array
      items:
        $ref: "#/components/schemas/Manifest"
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    MetricValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricValue"
    ModelYear:
      type: string
      description: The 4-digit model year of the vehicle.
      example: "2024"
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - OTHER
    Option:
      type: object
      properties:
        option_id:
          type: string
          description: The unique id for the  option record.
        option_key:
          type: string
          description: The unique key for the  option record.
        codes:
          $ref: "#/components/schemas/Codes"
        option_name:
          type: string
          description: The name of the option.
        option_long_name:
          type: string
          description: The long name of the option.
        manufacturer_name:
          type: string
          description: The manufacturer's name.
        short_description:
          type: string
          description: The short description of the option.
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductTypes"
        quantity:
          $ref: "#/components/schemas/MetricValue"
        option_type:
          $ref: "#/components/schemas/OptionTypes"
        option_installation_type:
          $ref: "#/components/schemas/OptionInstallationTypes"
        option_code:
          type: string
          description: The code for the option.
        option_categories:
          $ref: "#/components/schemas/Codes"
        option_groups:
          $ref: "#/components/schemas/Codes"
        option_descriptions:
          $ref: "#/components/schemas/OptionDescriptions"
      description: "Represents a specific option or feature of a , including its pricing,\
        \ type, and descriptive information."
    OptionDescription:
      type: object
      properties:
        option_description_key:
          type: string
          description: A unique key for the option description.
        option_description_id:
          type: string
          description: The unique ID for the option description.
        option_description_group:
          type: string
          description: The group or category this option belongs to.
        option_detail_descriptions:
          $ref: "#/components/schemas/Memo"
        option_description_label:
          type: string
          description: "A short, human-readable label for the option."
      description: A description of a vehicle option or feature.
    OptionDescriptions:
      type: array
      items:
        $ref: "#/components/schemas/OptionDescription"
    OptionInstallationTypes:
      type: string
      description: types of option installations.
      enum:
      - FACTORY_INSTALLED
      - PORT_INSTALLED
      - DEALER_INSTALLED
      - SOFTWARE_UPDATE
      - ACCESSORY_KIT
      - CUSTOM_FABRICATION
      - OWNER_INSTALLED
      - THIRD_PARTY_INSTALLED
      - UNKNOWN
      - OTHER
    OptionTypes:
      type: string
      description: types of options.
      enum:
      - PARTS
      - ACCESSORY
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - SOFTWARE
      - CERTIFICATION
      - APPEARANCE
      - INCENTIVE
      - COLOR
      - FABRIC
      - REBATE_INCENTIVE
      - PORT_INSTALLED
      - TELEMATICS
      - OTHER
    Options:
      type: array
      items:
        $ref: "#/components/schemas/Option"
    OrderCategoryTypes:
      type: string
      description: types of order categorys.
      enum:
      - RETAIL
      - WHOLESALE
      - E_COMMERCE
      - COMMERCIAL
      - GOVERNMENT
      - EDUCATIONAL
      - CONTRACT
      - SUBSCRIPTION
      - DIRECT
      - FLEET
      - TRADE_IN
      - LEASE
      - CUSTOM_ORDER
      - STANDARD
      - OTHER
    PartConditionTypes:
      type: string
      description: types of part conditions.
      enum:
      - NEW
      - NEW_OLD_STOCK
      - REMANUFACTURED
      - REBUILT
      - REFURBISHED
      - USED
      - SALVAGE
      - DAMAGED_MINOR
      - DAMAGED_COSMETIC
      - SCRAP
      - COLLECTIBLE
      - OTHER
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-05-07T17:20:25Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentTypes:
      type: string
      description: types of payments.
      enum:
      - OUTRIGHT_PURCHASE
      - FINANCED_PURCHASE
      - SUBSCRIPTION
      - DEPOSIT
      - PROGRESS_PAYMENT
      - SCHEDULED_PAYMENT
      - CONSUMPTION_BASED
      - CUSTOM_AGREEMENT
      - CASH
      - BALLON
      - LEASE
      - LEASE_NO_BUYOUT
      - LEASE_BUYOUT
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PlateNumber:
      type: string
      description: The alphanumeric string displayed on the vehicle license plate.
      example: ABC1234
    PolicyHolder:
      type: object
      properties:
        policy_holder_key:
          type: string
          description: A unique key for the policy holder.
          example: PH-9872314-A
        policy_holder_name:
          $ref: "#/components/schemas/PersonName"
        policy_holder_relationship:
          $ref: "#/components/schemas/PartyRelationshipTypes"
        special_remarks:
          type: string
          description: Any special remarks or notes about the policy holder.
          example: Secondary driver requires SR-22 filing.
        contact_method_key:
          type: string
          description: The Key to the full contact method details.
          example: CM-112024-B
        policy_number:
          type: string
          description: The unique identifier of the insurance policy.
          example: AIG-99823471-01
        carrier_name:
          type: string
          description: Name of the insurance company or carrier.
          example: State Farm
        vin:
          $ref: "#/components/schemas/VIN"
        effective_date:
          type: string
          description: Policy start date.
          format: date
        expiration_date:
          type: string
          description: Policy expiration date.
          format: date
      description: Current Insurance PolicyHolder for a customer.
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          maxLength: 20
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    Price:
      type: object
      properties:
        display_value:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        locale:
          type: string
          description: Locale used for formatting display value.
        value:
          type: string
          description: The numeric value of the price (before tax/cost breakdowns).
        tax_value:
          type: string
          description: The calculated amount of tax applied to the price.
        taxable_amount:
          type: string
          description: The portion of the price subject to tax.
        non_taxable_amount:
          type: string
          description: The portion of the price not subject to tax.
        total_amount:
          type: string
          description: The total final price including all components and tax.
        total_cost_amount:
          type: string
          description: The total cost to the provider/seller.
        unit_cost_amount:
          type: string
          description: The unit cost to the provider/seller.
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        price_id:
          type: string
          description: Unique system identifier for the price record.
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PriceSummary:
      type: object
      properties:
        price_summary_key:
          type: string
          description: The unique key for the payment summary record.
        price_summary_id:
          type: string
          description: The unique ID for the payment summary.
        source_key:
          type: string
          description: The unique key to the related invoice.
        source_type:
          $ref: "#/components/schemas/ResourceTypes"
        locale:
          $ref: "#/components/schemas/Locale"
        prices:
          $ref: "#/components/schemas/Prices"
        summary_memo:
          $ref: "#/components/schemas/Memo"
      description: Summarizes the financial totals and pricing components of a payment
        term.
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - OTHER
    Prices:
      type: array
      items:
        $ref: "#/components/schemas/Price"
    ProductModel:
      type: object
      properties:
        product_model_key:
          type: string
          description: A unique key for the vehicle identifier.
        product_model_id:
          type: string
          description: The unique ID for the vehicle identifier.
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        brands:
          $ref: "#/components/schemas/Codes"
        trims:
          $ref: "#/components/schemas/Codes"
        marketing_names:
          $ref: "#/components/schemas/Codes"
        oem_names:
          $ref: "#/components/schemas/Codes"
        oem_codes:
          $ref: "#/components/schemas/Codes"
        model_codes:
          $ref: "#/components/schemas/Codes"
        phase_code:
          type: string
          description: The phase code.
        nicknames:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
      description: Vehicle Identifier
    ProductStateTypes:
      type: string
      description: types of product states.
      enum:
      - NEW
      - USED
      - REFURBISHED
      - CERTIFIED
      - DEMO
      - RENTAL
      - IN_TRANSIT
      - DISCONTINUED
      - ARCHIVED
      - CUSTOMER_OWNED
      - PARTNER_OWNED
      - THIRD_PARTY_OWNED
      - COMPANY_OWNED
      - UNKNOWN
    ProductTypes:
      type: string
      description: types of products.
      enum:
      - VEHICLE
      - INFORMATION
      - DURABLE_GOODS
      - SOFTWARE
      - APP
      - INSURANCE
      - FINANCE
      - SERVICE
      - PART
      - ACCESSORY
      - F_N_I_PRODUCT
      - SERVICE_PACKAGE
      - DEALER_PRODUCT
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - OTHER
    ResourceTypes:
      type: string
      description: types of resources.
      enum:
      - SYSTEM
      - WORKFLOW
      - ACTIVITY
      - FUNCTION
      - PROCESS
      - INCIDENT
      - PARTY
      - CUSTOMER
      - APPLICANT
      - VENDOR
      - DEALER_STAFF
      - DRIVER
      - ADDRESS
      - BILL_ADDRESS
      - BILL_CONTACT
      - COMM_CHANNEL
      - ACCOUNT
      - VEHICLE
      - TRADE_IN
      - PRODUCT
      - MANUFACTURER
      - LEAD
      - OPPORTUNITY
      - DEAL
      - FINANCE
      - INVOICE
      - LINEITEM
      - EXPENSE
      - DISCOUNT
      - TAX
      - FEE
      - INCENTIVE
      - DEALERSHIP
      - PART
      - ACCESSORIES
      - PURCHASE_ORDER
      - VEHICLE_OPTION
      - RENTAL
      - SUBSCRIPTION
      - INSURANCE
      - WARRANTY
      - SERVICE
      - APPOINTMENT
      - OTHER
    SchemaUri:
      type: string
      description: The URI or name of the JSON/XML schema defining the payload structure.
      example: https://starstandard.org/schemas/rdr/v2.1/retail.json
    SemanticVersion:
      pattern: ^\d+\.\d+\.\d+$
      type: string
      description: The specific semantic version of the manifest configuration.
      example: 2.1.4
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - SERVICE_TECHNICIAN
      - TECHNICIAN
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SALES_PERSON
      - CUSTOMER_SERVICE
      - SALES_MANAGER
      - F_I_MANAGER
      - CLOSING_MANAGER
      - BUSINESS_MANAGER
      - RECEPTIONIST
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - DETAILER
      - DRIVER
      - APPRAISER
      - GENERAL_MANAGER
      - UNKNOWN
    TimeSlot:
      type: object
      properties:
        time_slot_id:
          type: string
          description: Technical unique identifier (GUID) for the time slot record.
          example: b2d3e4f5-a6b7-c8d9-e0f1-a2b3c4d5e6f7
        time_slot_key:
          type: string
          description: Natural business key for the time slot within its specific
            context.
          example: TS-MON-MORNING-SHIFT
        time_slot_source:
          type: string
          description: The originating system or calendar providing this availability
            data.
          example: GOOGLE_CALENDAR
        start_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        start_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local start time in 24-hour ISO 8601 format.
          format: date-time
        end_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        end_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local end time in 24-hour ISO 8601 format.
          format: date-time
        recurring_indicator:
          type: boolean
          description: Indicates if this time slot is part of a repeating pattern.
          example: true
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        week_of_date:
          $ref: "#/components/schemas/Codes"
      description: "Defines a specific window of time, often within a recurring schedule,\
        \ used for service availability or appointment booking."
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - UNKNOWN
    UnitId:
      type: string
      description: A unique sequence number or business identifier provided by TMS.
      example: "129375127"
    VIN:
      maxLength: 17
      minLength: 17
      pattern: "^[0-9A-HJ-NPR-Z]+$"
      type: string
      description: The 17-character Vehicle Identification Number.
      example: 5TFHY5F13KX799310
    Vehicle:
      type: object
      properties:
        vehicle_key:
          type: string
          description: Natural business key for the vehicle (often VIN or Stock No).
          example: VIN-5TFHY5F13KX799310
        vehicle_id:
          type: string
          description: Internal system GUID for the vehicle record.
          example: veh-88293-xyz
        odometer:
          $ref: "#/components/schemas/MetricValue"
        stock_number:
          type: string
          description: The dealer's internal stock or inventory number.
          example: STK100293
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        make:
          type: string
          description: The manufacturer or make of the vehicle.
          example: Toyota
        model:
          type: string
          description: The specific model name.
          example: Tundra
        brand:
          type: string
          description: The consumer-facing brand name.
          example: TRD Pro
        trim:
          type: string
          description: The specific trim level or package.
          example: Limited
        oem_model_code:
          type: string
          description: The manufacturer's specific internal model code.
          example: 8442A
        oem_name:
          type: string
          description: Full name of the Original Equipment Manufacturer.
          example: Toyota Motor Corporation
        oem_code:
          type: string
          description: The short code representing the OEM.
          example: TMS
        model_code:
          type: string
          description: The standardized model code used within the bounded context.
          example: TUN
        model_description:
          type: string
          description: A verbose description of the vehicle model.
          example: 4WD CrewMax 5.5' Bed
        model_year:
          $ref: "#/components/schemas/ModelYear"
        vin:
          $ref: "#/components/schemas/VIN"
        nicknames:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        tags:
          $ref: "#/components/schemas/Codes"
        seats:
          pattern: "^[0-9]+$"
          type: string
          description: Total passenger capacity.
          example: "5"
        condition_type:
          $ref: "#/components/schemas/PartConditionTypes"
        inventory_days:
          pattern: "^[0-9]+$"
          type: string
          description: Number of days the vehicle sat in dealer inventory.
          example: "12"
        campaign_codes:
          $ref: "#/components/schemas/Codes"
        position:
          $ref: "#/components/schemas/VehiclePosition"
        production_date:
          type: string
          description: The date the vehicle completed assembly (Birth Date).
          format: date
        stock_date_time:
          type: string
          description: The timestamp when the vehicle was officially 'Received' into
            dealer inventory (Floorplan Start).
          format: date-time
          example: 2026-05-07T17:20:25Z
        control_account_id:
          type: string
          description: The unique identifier for the internal floorplan or control
            account.
          example: ACC-99283-TR
        control_account_type:
          $ref: "#/components/schemas/ControlAccountTypes"
        axle_count:
          type: string
          description: The number of axles on the vehicle.
        backup_camera_indicator:
          type: boolean
          description: Indicates if the vehicle has a backup camera.
          example: false
        body_height:
          type: string
          description: The height of the vehicle's body.
        body_length:
          type: string
          description: The length of the vehicle's body.
        body_style:
          type: string
          description: The body style of the vehicle.
        body_width:
          type: string
          description: The width of the vehicle's body.
        box_type_description:
          type: string
          description: A description of the vehicle's box type.
        bulkhead:
          type: string
          description: A description of the vehicle's bulkhead.
        cab_type:
          $ref: "#/components/schemas/CabTypes"
        compartment_depth:
          type: string
          description: The depth of the vehicle's compartments.
        compartments:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        condition:
          type: string
          description: The condition of the vehicle.
        crane_indicator:
          type: boolean
          description: Indicates if the vehicle has a crane.
          example: false
        cylinder_count:
          type: string
          description: The number of cylinders in the engine.
        doors_count:
          type: string
          description: The number of doors on the vehicle.
        drive_train:
          type: string
          description: The type of drive train.
        energy_impact_score:
          type: string
          description: The energy impact score of the vehicle.
        engine_type_description:
          type: string
          description: A description of the engine type.
        engine_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/EngineTypes"
        exterior_color:
          $ref: "#/components/schemas/ColorDetail"
        exterior_lights_indicator:
          type: boolean
          description: Indicates if the vehicle has exterior lights.
          example: false
        floor_desc:
          type: string
          description: A description of the vehicle's floor.
        floor_desc_detail:
          type: string
          description: Detailed description of the vehicle's floor.
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        gross_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        gross_vehicle_weight_rating:
          $ref: "#/components/schemas/MetricValue"
        hitch_indicator:
          type: boolean
          description: Indicates if the vehicle has a hitch.
          example: false
        power_train:
          type: string
          description: The type of power train.
        horse_power:
          type: string
          description: The horsepower of the engine.
        inside_body_height:
          type: string
          description: The inside height of the vehicle's body.
        inside_body_width:
          type: string
          description: The inside width of the vehicle's body.
        inside_length:
          type: string
          description: The inside length of the vehicle's body.
        interior_color:
          $ref: "#/components/schemas/ColorDetail"
        ladder_rack_desc:
          type: string
          description: A description of the ladder rack.
        liftgate_indicator:
          type: boolean
          description: Indicates if the vehicle has a liftgate.
          example: false
        manufacturer_model_code:
          type: string
          description: The manufacturer's model code.
        manufacturer_name:
          type: string
          description: The name of the manufacturer.
        marketing_description:
          type: string
          description: A marketing description of the vehicle.
        merchandising_model_code:
          type: string
          description: The merchandising model code.
        seating_capacity:
          type: string
          description: The seating capacity of the vehicle.
        series_code:
          type: string
          description: The series code of the vehicle.
        side_height:
          type: string
          description: The side height of the vehicle.
        snowplow_indicator:
          type: boolean
          description: Indicates if the vehicle is equipped with a snowplow.
          example: false
        stake_pockets:
          type: string
          description: A description of the vehicle's stake pockets.
        torque:
          type: string
          description: The torque of the vehicle's engine.
        towing_capacity:
          $ref: "#/components/schemas/MetricValue"
        transmission:
          type: string
          description: The type of transmission.
        stock_image_url:
          type: string
          description: The URL of the stock image
        unladen_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        uplift_indicator:
          type: boolean
          description: Indicates if the vehicle has an uplift.
          example: false
        vehicle_body_style_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleBodyStyleTypes"
        vehicle_category_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleCategoryTypes"
        vehicle_class:
          type: string
          description: The class of the vehicle.
        vehicle_economies:
          $ref: "#/components/schemas/VehicleEconomies"
        vehicle_fuel_capacity:
          type: string
          description: The fuel capacity of the vehicle.
        vehicle_pto:
          type: string
          description: A description of the vehicle's power take-off (PTO).
        vehicle_rear_wheels:
          type: string
          description: A description of the vehicle's rear wheel configuration.
        vehicle_type_description:
          type: string
          description: A description of the vehicle's type.
        vehicle_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleResourceTypes"
        wheel_base:
          type: string
          description: The vehicle's wheelbase.
        compartment_door_desc:
          type: string
          description: A description of the compartment door.
        vehicle_configuration_codes:
          $ref: "#/components/schemas/VehicleConfigurationCodes"
        vehicle_components:
          $ref: "#/components/schemas/VehicleComponents"
        hardware_codes:
          $ref: "#/components/schemas/Codes"
        software_codes:
          $ref: "#/components/schemas/Codes"
        original_sold_date:
          type: string
          description: The very first date this vehicle was reported as sold (In-Service
            Date).
          format: date
        odometer_capture_date:
          type: string
          description: The timestamp when the current odometer reading was officially
            recorded.
          format: date
        warranties:
          $ref: "#/components/schemas/Warranties"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        dealer_code:
          $ref: "#/components/schemas/DealerCode"
        account_key:
          type: string
          description: Business-readable key for the associated financial account.
          example: CHASE-AUTO-001
        account_name:
          type: string
          description: The display name of the financial institution or corporate
            account.
          example: Chase Auto Finance
        inventory_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/InventoryStatusTypes"
        product_state_type:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductStateTypes"
        options:
          $ref: "#/components/schemas/Options"
        safety_ratings:
          $ref: "#/components/schemas/Options"
        features:
          $ref: "#/components/schemas/Features"
        comments:
          type: string
          description: General short-form internal comments about the vehicle.
          example: Minor scratch on rear bumper.
        vehicle_notes:
          type: string
          description: Long-form technical or historical notes regarding the vehicle
            unit.
        notes:
          $ref: "#/components/schemas/Memo"
        categories:
          $ref: "#/components/schemas/Codes"
        total_price:
          $ref: "#/components/schemas/VehiclePriceSummary"
        vehicle_price_detail:
          $ref: "#/components/schemas/VehiclePriceSummaries"
        vehicle_events:
          $ref: "#/components/schemas/VehicleEvents"
        search_category:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        insurances:
          $ref: "#/components/schemas/Insurances"
      description: "Comprehensive vehicle details including identifiers, configuration,\
        \ and status."
    VehicleBodyStyleTypes:
      type: string
      description: types of vehicle body styles.
      enum:
      - COUPE
      - SEDAN
      - SPORTS
      - WAGON
      - HATCHBACK
      - CONVERTIBLE
      - CROSSOVER
      - LUXURY
      - SUV
      - MINI_VAN
      - TRUCK
      - COMMERCIAL_VAN
      - PASSENGER_VAN
      - CARGO_VAN
      - VAN
      - BIKE
      - SERVICE
      - DUMP
      - CONTRACTOR
      - OTHER
      - UNKNOWN
    VehicleCategoryTypes:
      type: string
      description: types of vehicle categorys.
      enum:
      - SUPERCAR
      - SPORT
      - MUSCLE
      - SMALL
      - LARGE
      - COMMUTER
      - FAMILY
      - OFF_ROAD
      - CLASSIC
      - ELECTRIC
      - HYBRID
      - FUEL_EFFICIENT
      - LUXURY
      - OTHER
      - UNKNOWN
    VehicleComponent:
      type: object
      properties:
        vehicle_component_id:
          type: string
          description: A unique id for the color detail.
        vehicle_component_key:
          type: string
          description: A unique key for the color detail.
        vehicle_manifests:
          $ref: "#/components/schemas/Manifests"
        component_codes:
          $ref: "#/components/schemas/Codes"
        name:
          type: string
          description: The name of the component
        description:
          type: string
          description: description of the component
        metric_values:
          $ref: "#/components/schemas/MetricValues"
        component_type:
          $ref: "#/components/schemas/VehicleResourceTypes"
      description: nullable
    VehicleComponents:
      type: array
      items:
        $ref: "#/components/schemas/VehicleComponent"
    VehicleConfigurationCodes:
      type: array
      items:
        type: string
    VehicleCreate:
      required:
      - vehicle_key
      type: object
      description: Vehicle Create for Post
      allOf:
      - $ref: "#/components/schemas/Vehicle"
    VehicleEconomies:
      type: array
      items:
        $ref: "#/components/schemas/VehicleEconomy"
    VehicleEconomy:
      type: object
      properties:
        vehicle_economy_key:
          type: string
          description: A unique key for the vehicle economy record.
        economy:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        efficiency:
          $ref: "#/components/schemas/Efficiency"
        fuel_tank_capacity:
          $ref: "#/components/schemas/MetricValue"
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        range:
          $ref: "#/components/schemas/MetricValue"
      description: Details regarding the fuel economy and efficiency of a vehicle.
    VehicleEvent:
      type: object
      properties:
        vehicle_event_key:
          type: string
          description: The natural business key for the vehicle event record.
          example: EVENT-VIN123-2026-001
        vehicle_event_id:
          type: string
          description: The unique internal ID for the vehicle event.
          example: 7ca12345-e89b-12d3-a456-426614174000
        vehicle_event_type:
          $ref: "#/components/schemas/VehicleHistoryEventTypes"
        vehicle_event_codes:
          $ref: "#/components/schemas/Codes"
        event_source:
          type: string
          description: The originating source of the event data.
          example: DMS_NORTH_DEALER
        event_detail:
          type: string
          description: A detailed narrative or description of the event.
          example: Full 30k mile service including oil change and brake inspection.
        event_date_time:
          type: string
          description: The date and time when the event occurred.
          format: date-time
          example: 2026-05-07T17:20:25Z
        event_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        odometer:
          $ref: "#/components/schemas/MetricValue"
        position:
          $ref: "#/components/schemas/Position"
        position_desc:
          type: string
          description: A textual description of the location.
          example: "Main Street Toyota Service Center, Alpharetta, GA"
        event_sequence_num:
          type: integer
          description: The sequence number used to order multiple events occurring
            on the same day.
          format: int32
          example: 1
        event_org_code:
          type: string
          description: The unique code for the organization that performed the event.
          example: DLR-99210
        event_org_party_name:
          type: string
          description: The legal name of the party performing the event.
          example: Southeast Toyota Distributors
        identifiers:
          $ref: "#/components/schemas/Identifiers"
      description: "Represents a historical event related to a vehicle, such as a\
        \ maintenance record, a sale, or an accident."
    VehicleEvents:
      type: array
      items:
        $ref: "#/components/schemas/VehicleEvent"
    VehicleHistoryEventTypes:
      type: string
      description: types of vehicle history events.
      enum:
      - OWNER_HISTORY
      - NEW_TITLE
      - UPDATED_TITLE
      - CORRECTED_TITLE
      - LEMON_TITLE
      - SALE
      - PRODUCTION
      - PORT_ENTRY
      - MAJOR_ACCIDENT
      - MINOR_ACCIDENT
      - STRUCTURAL_DAMAGE
      - REPAIR_DAMAGE
      - TOTAL_LOSS
      - FLOOD_EVENT
      - AIRBAG_DEPLOY
      - MAINT_SERVICE
      - RECALL_SERVICE
      - REBUILD
      - PERSONAL_USE
      - RENTAL_USE
      - COMMERCIAL_USE
      - TAXI_USE
      - POLICE_USE
      - LEASE_USE
      - ODOMETER_CHECK
      - ODOMETER_ROLLBACK
      - OTHER
      - UNKNOWN
    VehicleIdentifier:
      type: object
      properties:
        vehicle_identifier_key:
          type: string
          description: A unique natural business key for the vehicle identifier record.
          example: VID-KEY-992831
        vehicle_identifier_id:
          type: string
          description: The unique technical GUID/ID for the vehicle identifier.
          example: 550e8400-e29b-41d4-a716-446655440000
        odometer:
          $ref: "#/components/schemas/MetricValue"
        vehicle_key:
          type: string
          description: The unique business key of the associated vehicle entity.
          example: VEH-TOY-TUNDRA-2024
        unit_id:
          $ref: "#/components/schemas/UnitId"
        stock_number:
          type: string
          description: The dealer's internal stock or inventory number.
          example: STK100293
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        license:
          $ref: "#/components/schemas/VehicleLicense"
        make:
          type: string
          description: The manufacturer or make of the vehicle.
          example: Toyota
        model:
          type: string
          description: The specific model name.
          example: Tundra
        brand:
          type: string
          description: The consumer-facing brand name.
          example: TRD Pro
        trim:
          type: string
          description: The specific trim level or package.
          example: Limited
        oem_model_code:
          type: string
          description: The manufacturer's specific internal model code.
          example: 8442A
        oem_name:
          type: string
          description: Full name of the Original Equipment Manufacturer.
          example: Toyota Motor Corporation
        oem_code:
          type: string
          description: The short code representing the OEM.
          example: TMS
        model_code:
          type: string
          description: The standardized model code used within the bounded context.
          example: TUN
        model_description:
          type: string
          description: A verbose description of the vehicle model.
          example: 4WD CrewMax 5.5' Bed
        model_year:
          $ref: "#/components/schemas/ModelYear"
        vin:
          $ref: "#/components/schemas/VIN"
        nicknames:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
        model_detail:
          $ref: "#/components/schemas/ProductModel"
      description: Vehicle Identifier following STAR standards for cross-context vehicle
        tracking.
    VehicleLicense:
      type: object
      properties:
        vehicle_license_key:
          type: string
          description: The unique business key for the vehicle license record.
          example: LIC-GA-77291-B
        plate_number:
          $ref: "#/components/schemas/PlateNumber"
        jurisdiction_name:
          type: string
          description: "The state, province, or territory that issued the license\
            \ plate."
          example: Georgia
        country_code:
          $ref: "#/components/schemas/CountryCode"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: "Represents the legal registration and license information for\
        \ a vehicle, including plate details and issuing jurisdiction."
    VehiclePosition:
      $ref: "#/components/schemas/Position"
    VehiclePriceSummaries:
      type: array
      items:
        $ref: "#/components/schemas/VehiclePriceSummary"
    VehiclePriceSummary:
      type: object
      properties:
        vehicle_price_summary_key:
          type: string
          description: The unique key for the vehicle price summary record.
        vehicle_price_summary_id:
          type: string
          description: The unique ID for the vehicle price summary.
        vehicle_price_name:
          type: string
          description: The name of the vehicle price.
        vehicle_price_criteria_name:
          type: string
          description: The name of the vehicle price criteria.
        price:
          $ref: "#/components/schemas/Price"
        price_code:
          type: string
          description: The code associated with the price.
        capitalized_indicator:
          type: boolean
          description: A boolean flag indicating if the price is capitalized.
          example: false
        taxable_indicator:
          type: boolean
          description: A boolean flag indicating if the price is taxable.
          example: false
        tax_separate_indicator:
          type: boolean
          description: A boolean flag indicating if tax is separate from the price.
          example: false
        payment_type:
          $ref: "#/components/schemas/PaymentTypes"
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        price_descriptions:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "Represents a summary of a vehicle's price, including core pricing\
        \ details, tax information, and other related indicators."
    VehicleResourceTypes:
      type: string
      description: types of vehicle resources.
      enum:
      - POWER_TRAIN
      - BODY
      - CHASSIS
      - NETWORK
      - TRANSMISSION
      - ELECTRICAL
      - BRAKES
      - ENGINE
      - STABILITY
      - DIAGNOSTIC
      - CHARGER
      - AIR_METERING
      - EMISSION
      - FUEL
      - AIR_EX
      - AIR_INT
      - AIR_FILTER
      - SPEED_CONTROL
      - IDLE_CONTROL
      - IGNITION
      - SYSTEM_SW
      - SYSTEM_HW
      - TIRE
      - OIL
      - BRAKE_PAD
      - BRAKE_FLUID
      - WASHER_FLUID
      - FLUID
      - AIRBAG
      - STARTER
      - LAMPS
      - MOTOR
      - BATTERY
      - LIGHTS
      - PLACARD
      - ODOMETER
      - SPEED
      - CHARGE
      - GEAR
      - IDLE
      - DOOR
      - PLUG
      - CHARGE_PRIORITY
      - CHARGE_POWER
      - RANGE
      - ENERGY
      - DRIVE_CYCLE
    VehicleUpdate:
      type: object
      properties:
        uplift_indicator:
          type: boolean
          description: Indicates if the vehicle has an uplift.
          example: false
        safety_ratings:
          $ref: "#/components/schemas/Options"
        trim:
          type: string
          description: The specific trim level or package.
          example: Limited
        options:
          $ref: "#/components/schemas/Options"
        side_height:
          type: string
          description: The side height of the vehicle.
        model:
          type: string
          description: The specific model name.
          example: Tundra
        vin:
          $ref: "#/components/schemas/VIN"
        brand:
          type: string
          description: The consumer-facing brand name.
          example: TRD Pro
        vehicle_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleResourceTypes"
        vehicle_configuration_codes:
          $ref: "#/components/schemas/VehicleConfigurationCodes"
        insurances:
          $ref: "#/components/schemas/Insurances"
        vehicle_fuel_capacity:
          type: string
          description: The fuel capacity of the vehicle.
        cab_type:
          $ref: "#/components/schemas/CabTypes"
        inventory_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/InventoryStatusTypes"
        hitch_indicator:
          type: boolean
          description: Indicates if the vehicle has a hitch.
          example: false
        hardware_codes:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
        body_length:
          type: string
          description: The length of the vehicle's body.
        stock_number:
          type: string
          description: The dealer's internal stock or inventory number.
          example: STK100293
        warranties:
          $ref: "#/components/schemas/Warranties"
        model_code:
          type: string
          description: The standardized model code used within the bounded context.
          example: TUN
        oem_code:
          type: string
          description: The short code representing the OEM.
          example: TMS
        search_category:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        vehicle_class:
          type: string
          description: The class of the vehicle.
        product_state_type:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductStateTypes"
        vehicle_type_description:
          type: string
          description: A description of the vehicle's type.
        backup_camera_indicator:
          type: boolean
          description: Indicates if the vehicle has a backup camera.
          example: false
        bulkhead:
          type: string
          description: A description of the vehicle's bulkhead.
        compartment_door_desc:
          type: string
          description: A description of the compartment door.
        stock_date_time:
          type: string
          description: The timestamp when the vehicle was officially 'Received' into
            dealer inventory (Floorplan Start).
          format: date-time
          example: 2026-05-07T17:20:25Z
        software_codes:
          $ref: "#/components/schemas/Codes"
        production_date:
          type: string
          description: The date the vehicle completed assembly (Birth Date).
          format: date
        torque:
          type: string
          description: The torque of the vehicle's engine.
        liftgate_indicator:
          type: boolean
          description: Indicates if the vehicle has a liftgate.
          example: false
        dealer_code:
          $ref: "#/components/schemas/DealerCode"
        body_height:
          type: string
          description: The height of the vehicle's body.
        towing_capacity:
          $ref: "#/components/schemas/MetricValue"
        account_name:
          type: string
          description: The display name of the financial institution or corporate
            account.
          example: Chase Auto Finance
        nicknames:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        categories:
          $ref: "#/components/schemas/Codes"
        energy_impact_score:
          type: string
          description: The energy impact score of the vehicle.
        drive_train:
          type: string
          description: The type of drive train.
        wheel_base:
          type: string
          description: The vehicle's wheelbase.
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        condition_type:
          $ref: "#/components/schemas/PartConditionTypes"
        compartments:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        floor_desc:
          type: string
          description: A description of the vehicle's floor.
        inside_body_height:
          type: string
          description: The inside height of the vehicle's body.
        seating_capacity:
          type: string
          description: The seating capacity of the vehicle.
        inside_length:
          type: string
          description: The inside length of the vehicle's body.
        compartment_depth:
          type: string
          description: The depth of the vehicle's compartments.
        engine_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/EngineTypes"
        campaign_codes:
          $ref: "#/components/schemas/Codes"
        inside_body_width:
          type: string
          description: The inside width of the vehicle's body.
        axle_count:
          type: string
          description: The number of axles on the vehicle.
        body_width:
          type: string
          description: The width of the vehicle's body.
        box_type_description:
          type: string
          description: A description of the vehicle's box type.
        notes:
          $ref: "#/components/schemas/Memo"
        gross_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        doors_count:
          type: string
          description: The number of doors on the vehicle.
        vehicle_rear_wheels:
          type: string
          description: A description of the vehicle's rear wheel configuration.
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        power_train:
          type: string
          description: The type of power train.
        vehicle_price_detail:
          $ref: "#/components/schemas/VehiclePriceSummaries"
        seats:
          pattern: "^[0-9]+$"
          type: string
          description: Total passenger capacity.
          example: "5"
        snowplow_indicator:
          type: boolean
          description: Indicates if the vehicle is equipped with a snowplow.
          example: false
        gross_vehicle_weight_rating:
          $ref: "#/components/schemas/MetricValue"
        features:
          $ref: "#/components/schemas/Features"
        horse_power:
          type: string
          description: The horsepower of the engine.
        transmission:
          type: string
          description: The type of transmission.
        oem_name:
          type: string
          description: Full name of the Original Equipment Manufacturer.
          example: Toyota Motor Corporation
        merchandising_model_code:
          type: string
          description: The merchandising model code.
        ladder_rack_desc:
          type: string
          description: A description of the ladder rack.
        exterior_lights_indicator:
          type: boolean
          description: Indicates if the vehicle has exterior lights.
          example: false
        unladen_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        odometer:
          $ref: "#/components/schemas/MetricValue"
        interior_color:
          $ref: "#/components/schemas/ColorDetail"
        inventory_days:
          pattern: "^[0-9]+$"
          type: string
          description: Number of days the vehicle sat in dealer inventory.
          example: "12"
        original_sold_date:
          type: string
          description: The very first date this vehicle was reported as sold (In-Service
            Date).
          format: date
        condition:
          type: string
          description: The condition of the vehicle.
        series_code:
          type: string
          description: The series code of the vehicle.
        cylinder_count:
          type: string
          description: The number of cylinders in the engine.
        stock_image_url:
          type: string
          description: The URL of the stock image
        position:
          $ref: "#/components/schemas/VehiclePosition"
        vehicle_category_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleCategoryTypes"
        engine_type_description:
          type: string
          description: A description of the engine type.
        vehicle_notes:
          type: string
          description: Long-form technical or historical notes regarding the vehicle
            unit.
        vehicle_pto:
          type: string
          description: A description of the vehicle's power take-off (PTO).
        vehicle_body_style_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleBodyStyleTypes"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        floor_desc_detail:
          type: string
          description: Detailed description of the vehicle's floor.
        vehicle_components:
          $ref: "#/components/schemas/VehicleComponents"
        stake_pockets:
          type: string
          description: A description of the vehicle's stake pockets.
        model_description:
          type: string
          description: A verbose description of the vehicle model.
          example: 4WD CrewMax 5.5' Bed
        control_account_type:
          $ref: "#/components/schemas/ControlAccountTypes"
        make:
          type: string
          description: The manufacturer or make of the vehicle.
          example: Toyota
        comments:
          type: string
          description: General short-form internal comments about the vehicle.
          example: Minor scratch on rear bumper.
        manufacturer_model_code:
          type: string
          description: The manufacturer's model code.
        total_price:
          $ref: "#/components/schemas/VehiclePriceSummary"
        oem_model_code:
          type: string
          description: The manufacturer's specific internal model code.
          example: 8442A
        model_year:
          $ref: "#/components/schemas/ModelYear"
        manufacturer_name:
          type: string
          description: The name of the manufacturer.
        body_style:
          type: string
          description: The body style of the vehicle.
        marketing_description:
          type: string
          description: A marketing description of the vehicle.
        vehicle_economies:
          $ref: "#/components/schemas/VehicleEconomies"
        exterior_color:
          $ref: "#/components/schemas/ColorDetail"
        vehicle_events:
          $ref: "#/components/schemas/VehicleEvents"
        crane_indicator:
          type: boolean
          description: Indicates if the vehicle has a crane.
          example: false
        odometer_capture_date:
          type: string
          description: The timestamp when the current odometer reading was officially
            recorded.
          format: date
      description: Vehicle Update for Patch and Put
    Warranties:
      type: array
      items:
        $ref: "#/components/schemas/Warranty"
    Warranty:
      type: object
      properties:
        warranty_id:
          type: string
          description: The unique ID for the warranty.
        warranty_key:
          type: string
          description: A unique key for the warranty.
        delayed_inspection_codes:
          $ref: "#/components/schemas/Codes"
        receipt_identifiers:
          $ref: "#/components/schemas/Codes"
        vehicle_arrival_date:
          type: string
          description: The date the vehicle arrived.
          format: date
        actual_odometer_end:
          $ref: "#/components/schemas/MetricValue"
        actual_odometer_start:
          $ref: "#/components/schemas/MetricValue"
        warranty_terms:
          $ref: "#/components/schemas/WarrantyTerms"
        warranty_coverages:
          $ref: "#/components/schemas/WarrantyCoverages"
        warranty_coverage_codes:
          $ref: "#/components/schemas/Codes"
        locale:
          type: string
          description: The locale for the warranty.
        currency:
          type: string
[...]
