openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Vehicle
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-26T13:26:46Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    CabTypes:
      type: string
      description: types of cabs.
      enum:
      - REGULAR
      - EXTENDED
      - CREW
      - MEGA
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ColorDetail:
      type: object
      properties:
        color_detail_id:
          type: string
          description: A unique id for the color detail.
        color_detail_key:
          type: string
          description: A unique key for the color detail.
        dealer_color:
          type: string
          description: The color as designated by the dealer.
        desc_color:
          type: string
          description: A descriptive name for the color.
        color_code:
          type: string
          description: The technical code of the color
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM) name or code.
        marketing_name:
          type: string
          description: The Marketing Name of the color
      description: "Details for a specific color, including dealer and OEM codes."
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ControlAccountTypes:
      type: string
      description: types of control accounts.
      enum:
      - ASSETS
      - FIXED_ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - LONG_TERM_LIABILITY
      - EQUITY
      - CLEARING
      - PROVISION
      - ROUNDING
      - REVENUE
      - OTHER_INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - TAX
      - DISCOUNT
      - REBATE
      - FEE
      - SERVICE
      - CREDIT
      - OTHER
      - DEALER
      - VEHICLE
      - ACCESSORIES
      - OPTION
      - CUSTOMER
      - VENDOR
      - EMPLOYEE
      - PRODUCT
      - REPAIR_ORDER
      - PARTS_SALES_ORDER
      - PACKAGE
      - REFERENCE
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-26T13:26:46Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeviceTypes:
      type: string
      description: types of devices.
      enum:
      - MOBILE
      - TABLET
      - DESKTOP
      - SMART_TV
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-26T13:26:46Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-26T13:26:46Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Efficiency:
      type: object
      properties:
        efficiency_id:
          type: string
          description: A unique key for the efficiency record.
        efficiency_key:
          type: string
          description: A unique key for the efficiency record.
        city_efficiency:
          type: string
          description: The vehicle's fuel efficiency in a city driving environment.
        highway_efficiency:
          type: string
          description: The vehicle's fuel efficiency on a highway.
      description: Details regarding a vehicle's fuel efficiency.
    EngineTypes:
      type: string
      description: types of engines.
      enum:
      - ICE
      - THERMAL_INTERNAL
      - THERMAL_EXTERNAL
      - THERMAL_REACTION
      - ELECTRIC
      - PHYSICAL
      - HYBRID
      - OTHER
    FuelTypes:
      type: string
      description: types of fuels.
      enum:
      - GASOLINE
      - DIESEL
      - BIO_DIESEL
      - ETHANOL
      - ELECTRIC
      - HYDROGEN
      - NATURAL_GAS
      - PROPANE
      - METHANOL
      - DIESEL_OID_MDF
      - SOLAR_OIL_HSD
      - KEROSENE
      - AVIATION_TURBINE_AVTUR
      - AVIATION_GASOLINE_AVGAS
      - P_SERIES
      - OTHER
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Insurance:
      type: object
      properties:
        insurance_key:
          type: string
          description: A unique key for the insurance record.
        insurance_id:
          type: string
          description: The unique ID for the insurance record.
        insurance_type:
          $ref: "#/components/schemas/InsuranceTypes"
        insurance_company:
          $ref: "#/components/schemas/PartyReference"
        insurance_agent:
          $ref: "#/components/schemas/PartyReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        plan_codes:
          $ref: "#/components/schemas/Codes"
        plan_types:
          $ref: "#/components/schemas/Codes"
        agreement_number:
          type: string
          description: The insurance policy number.
        insurance_policy_number:
          type: string
          description: The insurance policy number.
        effective_date:
          type: string
          description: The effective date of the insurance policy.
          format: date
        expiration_date:
          type: string
          description: The expiration date of the insurance policy.
          format: date
        plan_coverage:
          $ref: "#/components/schemas/MetricValue"
        expiration_mileage:
          $ref: "#/components/schemas/MetricValue"
        insured_person_name:
          type: string
          description: The name of the insured person.
        description:
          type: string
          description: A general description of the insurance.
        confirmation_code:
          type: string
          description: The confirmation code for the policy.
        policy_holder:
          $ref: "#/components/schemas/PolicyHolder"
        insurance_terms:
          $ref: "#/components/schemas/InsuranceTerms"
        links:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Link"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
      description: nullable
    InsuranceTerm:
      type: object
      properties:
        insurance_term_key:
          type: string
          description: A unique key for the insurance term record.
        term_id:
          type: string
          description: The unique ID for the insurance term.
        term_name:
          type: string
          description: The name of the insurance term.
        term_desc:
          type: string
          description: A description of the insurance term.
        price:
          $ref: "#/components/schemas/Price"
      description: Current Insurance Term for a customer.
    InsuranceTerms:
      type: array
      items:
        $ref: "#/components/schemas/InsuranceTerm"
    InsuranceTypes:
      type: string
      description: types of insurances.
      enum:
      - HEALTH
      - AUTO
      - HOMEOWNERS
      - RENTERS
      - LIFE
      - DISABILITY
      - UMBRELLA
      - LONG_TERM_DISABILITY
      - TERM_LIFE
      - LONG_TERM_CARE
      - IDENTITY_THEFT_PROTECTION
      - PERSONAL
      - PROPERTY
      - MARINE
      - FIRE
      - LIABILITY
      - GUARANTEE
      - FLOOD
      - WIND
      - STORM
      - OTHER
      - PROFESSIONAL_LIABILITY
      - COMMERCIAL_AUTO
      - CYBER_LIABILITY
      - WORKERS_COMPENSATION
      - BUSINESS_INTERRUPTION
      - RENT_GUARANTEE
      - TITLE
      - PET
      - TRAVEL
      - EVENT
    Insurances:
      type: array
      items:
        $ref: "#/components/schemas/Insurance"
    InventoryStatusTypes:
      type: string
      description: types of inventory status.
      enum:
      - ON_ORDER
      - RECEIVED
      - PREPARATION
      - STOCKED_IN
      - AVAILABLE
      - RESERVED
      - PRE_SOLD
      - ON_HOLD
      - SALES_HOLD
      - SERVICE_HOLD
      - RECALL_HOLD
      - IN_TRANSIT
      - ON_DEALER_LOT
      - ON_CENTRAL_LOT
      - ASSIGNED_BY_MANUFACTURER
      - SOLD
      - WHOLESALE
      - DAMAGED
      - UNAVAILABLE
      - RETURNED
      - DISPOSAL
      - UNKNOWN
    Link:
      type: object
      properties:
        link_key:
          type: string
          description: The unique key for the link.
        href:
          type: string
          description: The URL of the related resource.
        method:
          type: string
          description: "The HTTP method to be used to access the link (e.g., GET,\
            \ POST)."
        rel:
          type: string
          description: "The link relation, which describes the relationship between\
            \ the current resource and the linked resource."
        title:
          type: string
          description: A human-readable title for the link.
      description: "Represents a Hypermedia as the Engine of Application State (HATEOS)\
        \ link, providing information on how to interact with a related resource."
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: not nullable
    Media:
      type: object
      properties:
        media_key:
          type: string
          description: A unique key for the media item.
        media_id:
          type: string
          description: The unique ID for the media item.
        authors:
          $ref: "#/components/schemas/PartyReferences"
        occurrence_date_time:
          type: string
          description: The date and time the media was created or captured.
          format: date-time
          example: 2026-05-26T13:26:46Z
        name:
          type: string
          description: A hyperlink to the media's content.
        media_format_type:
          $ref: "#/components/schemas/MediaFormatTypes"
        media_href:
          type: string
          description: A hyperlink to the media resource.
          format: href
        media_type:
          $ref: "#/components/schemas/MediaTypes"
        media_status_type:
          $ref: "#/components/schemas/MediaTypes"
        media_delivery_method_type:
          $ref: "#/components/schemas/MediaDeliveryMethodTypes"
        media_usage_type:
          $ref: "#/components/schemas/MediaUsageTypes"
        media_version:
          type: string
          description: The version of the media.
        quality:
          type: string
          description: A numeric value representing the quality of the media.
        media_source:
          type: string
          description: The source of the media.
        media_description:
          type: string
          description: The source of the media.
        categories:
          $ref: "#/components/schemas/Codes"
        dpi:
          type: string
          description: "The dots per inch (DPI) for the media, if applicable."
        w_pixel:
          type: string
          description: The width of the media in pixels.
        h_pixel:
          type: string
          description: The height of the media in pixels.
        media_resolution:
          type: string
          description: "The display resolution of the media (e.g., 480p, 720p, 1080p)."
        media_duration_seconds:
          type: string
          description: The total duration of the media file in seconds.
        media_sent_date_time:
          type: string
          description: The ISO 8601 date and time when the media was dispatched to
            the recipient.
          format: date-time
          example: 2026-05-26T13:26:46Z
        media_keys:
          $ref: "#/components/schemas/Codes"
        media_access_metrics:
          $ref: "#/components/schemas/MediaAccessMetrics"
      description: "Media item including video, images, and sound."
    MediaAccessMetric:
      type: object
      properties:
        media_access_id:
          type: string
          description: The unique ID for the media stream.
        media_access_key:
          type: string
          description: The unique key for the media stream record.
        media_key:
          type: string
          description: The unique ID for the parent media asset.
        first_viewed_at:
          type: string
          description: ISO 8601 timestamp of the first access.
        completed_at:
          type: string
          description: ISO 8601 timestamp when the user finished the media.
        view_count:
          type: string
          description: Total number of engagement events.
        watch_time_seconds:
          type: string
          description: The cumulative time in seconds the user spent viewing the media.
        completion_percentage:
          type: string
          description: The furthest point reached in the media as a percentage (0-100).
        last_viewed_date_time:
          type: string
          description: The ISO 8601 date and time of the most recent access.
          format: date-time
        device_type:
          $ref: "#/components/schemas/DeviceTypes"
        user_agent:
          type: string
          description: The browser user agent string from the most recent view.
        buffer_count:
          type: string
          description: The number of times the media playback was interrupted by buffering.
        load_time_ms:
          type: string
          description: The time in milliseconds it took for the media to begin playback
            after the request.
      description: "Represents a media stream, such as a video or audio file."
    MediaAccessMetrics:
      type: array
      items:
        $ref: "#/components/schemas/MediaAccessMetric"
    MediaDeliveryMethodTypes:
      type: string
      description: types of media delivery methods.
      enum:
      - MMS
      - SMS
      - EMAIL
      - PUSH_NOTIFICATION
      - WHATSAPP
      - IN_APP
      - WEB_PORTAL
    MediaFormatTypes:
      type: string
      description: types of media formats.
      enum:
      - PDF
      - DOC
      - DOCX
      - XLS
      - XLSX
      - PPT
      - PPTX
      - AIFF
      - BMP
      - JPG
      - PNG
      - GIF
      - ICO
      - AVI
      - MPG
      - MP4
      - WMV
      - MOV
      - FLV
      - SWF
      - MKV
      - OCTET
      - GZ
      - BZ2
      - ZIP
      - RAR
      - ODT
      - MOBI
      - HTML
      - EPUB
      - SVG
      - FLAC
      - WAV
      - CONTAINER
      - OTHER
    MediaTypes:
      type: string
      description: types of medias.
      enum:
      - OCTET
      - TEXT
      - HTML
      - CSS
      - JAVASCRIPT
      - JSON
      - XML
      - IMAGE
      - GIF
      - SVG
      - JPEG
      - PNG
      - AUDIO
      - MP3
      - WAV
      - VIDEO
      - MP4
      - MPEG
      - QUICKTIME
      - STREAM
      - APPLICATION
      - ARCHIVE
      - EXECUTABLE
      - DOCUMENT
      - PDF
      - MODEL
      - FONT
    MediaUsageTypes:
      type: string
      description: types of media usages.
      enum:
      - THUMBNAIL
      - PREVIEW
      - STANDARD
      - HIGH_QUALITY
      - LOW_QUALITY
      - ORIGINAL
      - HERO
      - BANNER
      - AVATAR
      - GALLERY
      - READ
      - OTHER
    Medias:
      type: array
      items:
        $ref: "#/components/schemas/Media"
    Memo:
      type: array
      items:
        type: string
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - OTHER
    OptionDescription:
      type: object
      properties:
        option_description_key:
          type: string
          description: A unique key for the option description.
        option_description_id:
          type: string
          description: The unique ID for the option description.
        option_description_group:
          type: string
          description: The group or category this option belongs to.
        option_detail_descriptions:
          $ref: "#/components/schemas/Memo"
        option_description_label:
          type: string
          description: "A short, human-readable label for the option."
      description: A description of a vehicle option or feature.
    OptionInstallationTypes:
      type: string
      description: types of option installations.
      enum:
      - FACTORY_INSTALLED
      - PORT_INSTALLED
      - DEALER_INSTALLED
      - SOFTWARE_UPDATE
      - ACCESSORY_KIT
      - CUSTOM_FABRICATION
      - OWNER_INSTALLED
      - THIRD_PARTY_INSTALLED
      - UNKNOWN
      - OTHER
    OptionTypes:
      type: string
      description: types of options.
      enum:
      - PARTS
      - ACCESSORY
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - SOFTWARE
      - CERTIFICATION
      - APPEARANCE
      - INCENTIVE
      - COLOR
      - FABRIC
      - REBATE_INCENTIVE
      - PORT_INSTALLED
      - TELEMATICS
      - OTHER
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-05-26T13:26:46Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentTypes:
      type: string
      description: types of payments.
      enum:
      - OUTRIGHT_PURCHASE
      - FINANCED_PURCHASE
      - SUBSCRIPTION
      - DEPOSIT
      - PROGRESS_PAYMENT
      - SCHEDULED_PAYMENT
      - CONSUMPTION_BASED
      - CUSTOM_AGREEMENT
      - CASH
      - BALLON
      - LEASE
      - LEASE_NO_BUYOUT
      - LEASE_BUYOUT
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PolicyHolder:
      type: object
      properties:
        policy_holder_key:
          type: string
          description: A unique key for the policy holder.
          example: PH-9872314-A
        policy_holder_name:
          $ref: "#/components/schemas/PersonName"
        policy_holder_relationship:
          $ref: "#/components/schemas/PartyRelationshipTypes"
        special_remarks:
          type: string
          description: Any special remarks or notes about the policy holder.
          example: Secondary driver requires SR-22 filing.
        contact_method_key:
          type: string
          description: The Key to the full contact method details.
          example: CM-112024-B
        policy_number:
          type: string
          description: The unique identifier of the insurance policy.
          example: AIG-99823471-01
        carrier_name:
          type: string
          description: Name of the insurance company or carrier.
          example: State Farm
        vin:
          $ref: "#/components/schemas/VIN"
        effective_date:
          type: string
          description: Policy start date.
          format: date
        expiration_date:
          type: string
          description: Policy expiration date.
          format: date
      description: Current Insurance PolicyHolder for a customer.
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    Price:
      type: object
      properties:
        display_value:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        locale:
          type: string
          description: Locale used for formatting display value.
        value:
          type: string
          description: The numeric value of the price (before tax/cost breakdowns).
        tax_value:
          type: string
          description: The calculated amount of tax applied to the price.
        taxable_amount:
          type: string
          description: The portion of the price subject to tax.
        non_taxable_amount:
          type: string
          description: The portion of the price not subject to tax.
        total_amount:
          type: string
          description: The total final price including all components and tax.
        total_cost_amount:
          type: string
          description: The total cost to the provider/seller.
        unit_cost_amount:
          type: string
          description: The unit cost to the provider/seller.
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        price_id:
          type: string
          description: Unique system identifier for the price record.
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PriceSummary:
      type: object
      properties:
        price_summary_key:
          type: string
          description: The unique key for the payment summary record.
        price_summary_id:
          type: string
          description: The unique ID for the payment summary.
        source_key:
          type: string
          description: The unique key to the related invoice.
        source_type:
          $ref: "#/components/schemas/ResourceTypes"
        locale:
          $ref: "#/components/schemas/Locale"
        prices:
          $ref: "#/components/schemas/Prices"
        summary_memo:
          $ref: "#/components/schemas/Memo"
      description: Summarizes the financial totals and pricing components of a payment
        term.
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - OTHER
    Prices:
      type: array
      items:
        $ref: "#/components/schemas/Price"
    ProductStateTypes:
      type: string
      description: types of product states.
      enum:
      - NEW
      - USED
      - REFURBISHED
      - CERTIFIED
      - DEMO
      - RENTAL
      - IN_TRANSIT
      - DISCONTINUED
      - ARCHIVED
      - CUSTOMER_OWNED
      - PARTNER_OWNED
      - THIRD_PARTY_OWNED
      - COMPANY_OWNED
      - UNKNOWN
    PurchaseTypes:
      type: string
      description: types of purchases.
      enum:
      - RETAIL
      - DEMO
      - LEASE
      - WHOLESALE
      - STANDARD
      - CONTRACT
      - FLEET
      - COMMERCIAL
      - DIRECT
      - OTHER
    ResourceTypes:
      type: string
      description: types of resources.
      enum:
      - SYSTEM
      - WORKFLOW
      - ACTIVITY
      - FUNCTION
      - PROCESS
      - INCIDENT
      - PARTY
      - CUSTOMER
      - APPLICANT
      - VENDOR
      - DEALER_STAFF
      - DRIVER
      - ADDRESS
      - BILL_ADDRESS
      - BILL_CONTACT
      - COMM_CHANNEL
      - ACCOUNT
      - VEHICLE
      - TRADE_IN
      - PRODUCT
      - MANUFACTURER
      - LEAD
      - OPPORTUNITY
      - DEAL
      - FINANCE
      - INVOICE
      - LINEITEM
      - EXPENSE
      - DISCOUNT
      - TAX
      - FEE
      - INCENTIVE
      - DEALERSHIP
      - PART
      - ACCESSORIES
      - PURCHASE_ORDER
      - VEHICLE_OPTION
      - RENTAL
      - SUBSCRIPTION
      - INSURANCE
      - WARRANTY
      - SERVICE
      - APPOINTMENT
      - OTHER
    TimeSlot:
      type: object
      properties:
        time_slot_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key for the specific time slot instance.
          example: TS-KEY-99281A
        end_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        end_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        recurring_indicator:
          type: boolean
          description: Indicates whether the time slot repeats on a recurring cycle.
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        start_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        start_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        time_slot_id:
          maxLength: 36
          minLength: 1
          type: string
          description: The business identifier or code assigned to this generic time
            block configuration.
          example: MORNING_SHIFT_01
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          format: date
          items:
            type: string
      description: Range of time for the appointment
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
    VIN:
      type: string
      description: The 17-character Vehicle Identification Number covered by the policy.
      example: 1FA6P8CF0Hxxxxxxx
    Vehicle:
      type: object
      properties:
        vehicle_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key for the specific vehicle record instance.
          example: VEH-KEY-449102X
        axle_count:
          maxLength: 2
          minLength: 1
          type: string
          description: The total number of axles on the vehicle.
          example: "2"
        comments:
          maxLength: 2000
          minLength: 1
          type: string
          description: "General remarks regarding the vehicle condition, processing\
            \ status, or storage details."
          example: Vehicle requires a detailed detailing service before delivery.
        control_account_desc:
          maxLength: 255
          minLength: 1
          type: string
          description: Description of the primary operating control account utilized
            for inventory financing tracking.
          example: Primary operating account for dealership floorplan financing.
        control_account_id:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique corporate general ledger or control account reference
            ID.
          example: GL-ACC-400192
        control_account_type:
          $ref: "#/components/schemas/ControlAccountTypes"
        dealer_code:
          maxLength: 30
          minLength: 1
          type: string
          description: The specific franchise authorization identifier code assigned
            to the holding dealer.
          example: DL-99482-X
        delivered_date_time:
          type: string
          description: Timestamp when the vehicle was formally checked in or handed
            over to the buyer/dealer.
          format: date-time
          example: 2026-05-26T13:26:46Z
        delivery_method:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        inventory_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/InventoryStatusTypes"
        license:
          $ref: "#/components/schemas/VehicleLicense"
        odometer:
          $ref: "#/components/schemas/MetricValue"
        position:
          $ref: "#/components/schemas/Position"
        production_date:
          type: string
          description: The historical calendar date when assembly on the vehicle line
            was finalized.
          format: date
        search_category:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        stock_date_time:
          type: string
          description: The exact date and time when the entity officially entered
            dealership inventory accounting logs.
          format: date-time
          example: 2026-05-26T13:26:46Z
        stock_number:
          maxLength: 50
          minLength: 1
          type: string
          description: Internal dealership stock control or inventory lot track number.
          example: STK-2026-99A
        vehicle_configuration_codes:
          $ref: "#/components/schemas/VehicleConfigurationCodes"
        vehicle_id:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique physical/business identifier string mapped directly
            to the unit master records.
          example: VID-99388102A
        vehicle_medias:
          $ref: "#/components/schemas/VehicleMedias"
        vehicle_options:
          $ref: "#/components/schemas/VehicleOptions"
        vehicle_price_summary:
          $ref: "#/components/schemas/VehiclePriceSummary"
        vehicle_specification:
          $ref: "#/components/schemas/VehicleSpecification"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        vehicle_status_type:
          $ref: "#/components/schemas/VehicleStateTypes"
        vin:
          maxLength: 17
          minLength: 17
          type: string
          description: The standard 17-character legal international Vehicle Identification
            Number code identifier.
          example: 1HGCR2F8XHA000000
        insurances:
          $ref: "#/components/schemas/Insurances"
        notes:
          $ref: "#/components/schemas/Memo"
        medias:
          $ref: "#/components/schemas/Medias"
        categories:
          $ref: "#/components/schemas/Codes"
        delivery_date:
          type: string
          description: Calendar date representation tracking pure transport completion
            days.
          format: date
        original_sold_date:
          type: string
          description: The absolute calendar date when the item was first converted
            from fleet status to sold retail status.
          format: date
        odometer_capture_date:
          type: string
          description: The chronological point when the odometer distance readings
            were logged inside the system logs.
          format: date
        vehicle_events:
          $ref: "#/components/schemas/VehicleEvents"
        vehicle_notes:
          maxLength: 1500
          minLength: 1
          type: string
          description: Informal notation string capturing temporary handling instructions
            for lot management teams.
          example: Parked in staging lane B-4 until mechanical inspection clears.
        vehicle_price_summaries:
          $ref: "#/components/schemas/VehiclePriceSummaries"
        warranties:
          $ref: "#/components/schemas/Warranties"
        account_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key pointer linking this item to a specific
            corporate account node.
          example: ACC-KEY-0021A
        account_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The official corporate name of the commercial fleet entity
            holding financial titles.
          example: Northside Fleet Holdings
        condition:
          maxLength: 50
          minLength: 1
          type: string
          description: The overarching localized state assessment descriptive rating
            of the unit.
          example: Excellent
        inventory_days:
          maxLength: 4
          minLength: 1
          type: string
          description: The complete count of continuous days this item has been active
            inside operating inventory arrays.
          example: "45"
        backup_camera_indicator:
          type: boolean
          description: Indicates if the vehicle is configured with a rear safety camera
            system.
          example: true
        body_height:
          maxLength: 20
          minLength: 1
          type: string
          description: The external overall body structure height reading metric string
            description.
          example: 78 inches
        body_length:
          maxLength: 20
          minLength: 1
          type: string
          description: The external overall body structure length dimension string
            text.
          example: 210 inches
        body_style:
          maxLength: 100
          minLength: 1
          type: string
          description: The baseline layout style design of the chassis structure shell.
          example: Crew Cab Pickup
        body_width:
          maxLength: 20
          minLength: 1
          type: string
          description: The external overall shell width calculation metrics string
            notation.
          example: 80 inches
        box_type_description:
          maxLength: 150
          minLength: 1
          type: string
          description: Description capturing cargo container configurations or bed
            installations for commercial classification units.
          example: Refrigerated Van Box with Side Door
        bulkhead:
          maxLength: 100
          minLength: 1
          type: string
          description: The style structural configuration tracking definitions used
            on cargo boundary separations.
          example: Solid Steel with Window
        cab_type:
          $ref: "#/components/schemas/CabTypes"
        compartment_depth:
          maxLength: 20
          minLength: 1
          type: string
          description: Utility storage unit depth limits metrics format values.
          example: 24 inches
        compartments:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        crane_indicator:
          type: boolean
          description: Flags if an industrial loading crane apparatus mechanism is
            mounted onto the flatbed.
          example: false
        cylinder_count:
          maxLength: 2
          minLength: 1
          type: string
          description: The mechanical cylinder structural distribution setup array
            count value.
          example: "6"
        doors_count:
          maxLength: 2
          minLength: 1
          type: string
          description: The functional structural access passenger door quantity entry
            configuration numbers.
          example: "4"
        drive_train:
          maxLength: 20
          minLength: 1
          type: string
          description: Chassis mechanics wheel torque distribution grouping style
            setups.
          example: 4WD
        energy_impact_score:
          maxLength: 10
          minLength: 1
          type: string
          description: Environmental pollution factor efficiency metrics tracking
            measurements classification output.
          example: "1.2"
        engine_type_description:
          maxLength: 100
          minLength: 1
          type: string
          description: Text rendering specific complete engine parameters configurations
            blocks descriptions.
          example: 3.5L V6 DOHC 24V
        engine_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/EngineTypes"
        exterior_color:
          $ref: "#/components/schemas/ColorDetail"
        exterior_lights_indicator:
          type: boolean
          description: Flags if custom auxiliary lighting rigs are present on the
            commercial vehicle superstructure.
          example: true
        floor_desc:
          maxLength: 100
          minLength: 1
          type: string
          description: The foundational materials configuration setup tracking string
            on cargo flooring surfaces.
          example: Hardwood
        floor_desc_detail:
          maxLength: 255
          minLength: 1
          type: string
          description: Specific engineering descriptions applied around custom cargo
            lining protective flooring layers.
          example: Apong hardwood with steel overlay protective sheets
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        gross_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        gross_vehicle_weight_rating:
          $ref: "#/components/schemas/MetricValue"
        hitch_indicator:
          type: boolean
          description: Flags if rear frame mechanical towing hitch receiving ports
            are configured onto the truck bumper.
          example: true
        power_train:
          maxLength: 100
          minLength: 1
          type: string
          description: Generalized grouping categorization tracking total propulsion
            setups.
          example: Hybrid Synergy Drive
        horse_power:
          maxLength: 5
          minLength: 1
          type: string
          description: Mechanical peak performance horsepower metrics output tracking
            figures.
          example: "302"
        inside_body_height:
          maxLength: 20
          minLength: 1
          type: string
          description: Interior clear clearance height metrics on specialized trailer
            or cargo configurations.
          example: 72 inches
        inside_body_width:
          maxLength: 20
          minLength: 1
          type: string
          description: Interior clear clearance width metrics on cargo configurations
            panels surfaces.
          example: 76 inches
        inside_length:
          maxLength: 20
          minLength: 1
          type: string
          description: Interior clear layout length values on industrial dry-van cargo
            structures.
          example: 192 inches
        interior_color:
          $ref: "#/components/schemas/ColorDetail"
        ladder_rack_desc:
          maxLength: 150
          minLength: 1
          type: string
          description: Structural notes describing overhead utility rack assemblies
            added onto work van structures.
          example: Heavy-Duty Aluminum 3-Bar Roof Rack
        liftgate_indicator:
          type: boolean
          description: Flags if hydraulic motorized loading liftgate machinery blocks
            are operating on the vehicle tail section.
          example: true
        make:
          maxLength: 100
          minLength: 1
          type: string
          description: The registered automotive manufacturer brand name label.
          example: Toyota
        manufacturer_model_code:
          maxLength: 50
          minLength: 1
          type: string
          description: Internal manufacturing corporate engineering assembly code
            structures tracking parameters definitions.
          example: T-CAM-XLE-2026
        manufacturer_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The localized corporate name layout representing parent brand
            operators.
          example: Toyota Motor Corporation
        marketing_description:
          maxLength: 3000
          minLength: 1
          type: string
          description: Dealer showroom retail text layout strings used on marketing
            brochures listings updates.
          example: Experience refined performance with advanced standard safety options.
        merchandising_model_code:
          maxLength: 50
          minLength: 1
          type: string
          description: Public commercial ordering or vehicle catalog reference alphanumeric
            codes.
          example: M-28491A
        vehicle_specification_key:
          maxLength: 50
          minLength: 1
          type: string
          description: The relational database cross reference key linking back to
            technical model frameworks maps.
          example: SPEC-KEY-99381A
        model:
          maxLength: 100
          minLength: 1
          type: string
          description: The commercial product line model label designation matching
            manufacture series.
          example: Camry
        model_code:
          maxLength: 30
          minLength: 1
          type: string
          description: Standard short alphanumeric platform model code classification
            indicators.
          example: BK4AX
        model_description:
          maxLength: 255
          minLength: 1
          type: string
          description: Descriptive summary string mapping out explicit chassis build
            combinations details.
          example: XLE AWD 4-Door Sedan
        model_year:
          maxLength: 4
          minLength: 4
          type: string
          description: The formal designated calendar model year assigned to the assembly
            build platform framework.
          example: "2026"
        seating_capacity:
          maxLength: 2
          minLength: 1
          type: string
          description: The total max count of legal standard passenger seats configured
            on the platform.
          example: "5"
        series_code:
          maxLength: 30
          minLength: 1
          type: string
          description: Alphanumeric manufacturing identifier categorizing engineering
            product tier classifications lines.
          example: SER-A992
        side_height:
          maxLength: 20
          minLength: 1
          type: string
          description: The vertical wall panel depth height on open dump-truck beds
            or stake-bed trailers upfits.
          example: 14 inches
        snowplow_indicator:
          type: boolean
          description: Indicates whether the electrical and front chassis wire networks
            include pre-fitted plow mounts.
          example: false
        stake_pockets:
          maxLength: 100
          minLength: 1
          type: string
          description: Description capturing sizing arrays or structural specs on
            localized side-rail stake retention anchors.
          example: Standard 2x4 inch slots
        torque:
          maxLength: 30
          minLength: 1
          type: string
          description: The mechanical rotational peak torque measurements rating specification
            descriptions.
          example: 317 lb-ft @ 4000 RPM
        towing_capacity:
          $ref: "#/components/schemas/MetricValue"
        transmission:
          maxLength: 100
          minLength: 1
          type: string
          description: The gear layout automation category structure descriptions
            tracking metrics text.
          example: 8-Speed Automatic
        trim:
          maxLength: 50
          minLength: 1
          type: string
          description: The package marketing specification option tier tier labels
            level configurations tags.
          example: XLE
        unladen_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        uplift_indicator:
          type: boolean
          description: Flags if customization adjustments or specialized upfit changes
            were configured after structural factory assembly lines.
          example: true
        vehicle_body_style_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleBodyStyleTypes"
        vehicle_category_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleCategoryTypes"
        vehicle_class:
          maxLength: 50
          minLength: 1
          type: string
          description: Regulatory weight grouping class designations definitions.
          example: Class 3 Light Duty
        vehicle_economies:
          $ref: "#/components/schemas/VehicleEconomies"
        vehicle_fuel_capacity:
          maxLength: 20
          minLength: 1
          type: string
          description: The capacity volume data formatting tracking liquid or electrical
            charge max capacities.
          example: 15.8 gallons
        vehicle_pto:
          maxLength: 100
          minLength: 1
          type: string
          description: Power Take-Off utility transmission specifications text on
            mechanical crane integrations setups.
          example: Split-shaft PTO system connection ready
        vehicle_rear_wheels:
          maxLength: 50
          minLength: 1
          type: string
          description: Rear axle structural tire distribution design descriptions
            layouts tracking tags.
          example: Dual Rear Wheels (DRW)
        vehicle_type_description:
          maxLength: 100
          minLength: 1
          type: string
          description: Detailed category specifications notation details reflecting
            commercial layout alignments.
          example: Multi-Purpose Passenger Vehicle
        vehicle_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleTypes"
        wheel_base:
          maxLength: 20
          minLength: 1
          type: string
          description: The linear dimension measuring space boundaries between front
            axle lines and rear axle paths.
          example: 113 inches
        compartment_door_desc:
          maxLength: 150
          minLength: 1
          type: string
          description: The structural layout configurations descriptions documenting
            exterior service box tool doors styles setup operations.
          example: Roll-up anodized aluminum shutter doors
      description: Vehicle Detail Create Information
    VehicleBodyStyleTypes:
      type: string
      description: types of vehicle body styles.
      enum:
      - COUPE
      - SEDAN
      - SPORTS
      - WAGON
      - HATCHBACK
      - CONVERTIBLE
      - SUV
      - MINI_VAN
      - TRUCK
      - BIKE
      - COMMERCIAL_VAN
      - PASSENGER_VAN
      - CARGO_VAN
      - VAN
      - CROSSOVER
      - LUXURY
      - DIESEL
      - SERVICE
      - DUMP
      - CONTRACTOR
      - OTHER
    VehicleCategoryTypes:
      type: string
      description: types of vehicle categorys.
      enum:
      - SUPERCAR
      - SPORT
      - SMALL
      - OFF_ROAD
      - MUSCLE
      - LUXURY
      - LARGE
      - HYBRID
      - FUEL_EFFICIENT
      - FAMILY
      - ELECTRIC
      - COMMUTER
      - CLASSIC
      - AMERICAN
      - EUROPEAN
      - FOREIGN
      - OTHER
    VehicleConfigurationCodes:
      type: array
      items:
        type: string
    VehicleCreate:
      required:
      - vehicle_key
      type: object
      description: Vehicle Create for Post
      allOf:
      - $ref: "#/components/schemas/Vehicle"
    VehicleEconomies:
      type: array
      items:
        $ref: "#/components/schemas/VehicleEconomy"
    VehicleEconomy:
      type: object
      properties:
        vehicle_economy_key:
          type: string
          description: A unique identifier for the vehicle economy record.
        economy:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        efficiency:
          $ref: "#/components/schemas/Efficiency"
        fuel_tank_capacity:
          $ref: "#/components/schemas/MetricValue"
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        range:
          $ref: "#/components/schemas/MetricValue"
      description: economy of the vehicle
    VehicleEvent:
      type: object
      properties:
        vehicle_event_key:
          type: string
          description: A unique identifier for the vehicle event record.
        event_detail:
          type: string
          description: The details of the event.
        event_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        event_org_code:
          type: string
          description: The organizational code of the event.
        event_org_party_name:
          type: string
          description: The name of the organizational party of the event.
        event_sequence_num:
          type: string
          description: The sequence number of the event.
        event_source:
          type: string
          description: The source of the event.
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-26T13:26:46Z
        odometer:
          $ref: "#/components/schemas/MetricValue"
        position:
          $ref: "#/components/schemas/Position"
        vehicle_event_codes:
          $ref: "#/components/schemas/Codes"
        vehicle_event_id:
          type: string
          description: The primary ID of the vehicle event.
        vehicle_event_type:
          $ref: "#/components/schemas/VehicleEventTypes"
      description: Vehicle Event
    VehicleEventTypes:
      type: string
      description: types of vehicle events.
      enum:
      - OWNER_HISTORY
      - MAJOR_ACCIDENT
      - MINOR_ACCIDENT
      - REPAIR_DAMAGE
      - STRUCTURAL_DAMAGE
      - ODOMETER_CHECK
      - ODOMETER_ROLLBACK
      - LEASE_USE
      - NEW_TITLE
      - UPDATED_TITLE
      - CORRECTED_TITLE
      - TOTAL_LOSS
      - REBUILD
      - MAINT_SERVICE
      - RECALL_SERVICE
      - AIRBAG_DEPLOY
      - PERSONAL_USE
      - RENTAL_USE
      - COMMERCIAL_USE
      - TAXI_USE
      - POLICE_USE
      - FLOOD_EVENT
      - LEMON_TITLE
      - SALE
    VehicleEvents:
      type: array
      items:
        $ref: "#/components/schemas/VehicleEvent"
    VehicleIdentifier:
      type: object
      properties:
        vehicle_identifier_key:
          type: string
          description: A unique identifier for the vehicle identifier record.
        vehicle_identifier_id:
          type: string
          description: The primary ID of the vehicle identifier.
        odometer:
          $ref: "#/components/schemas/MetricValue"
        vehicle_id:
          type: string
          description: The ID of the vehicle.
        stock_number:
          type: string
          description: The stock number of the vehicle.
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        license:
          $ref: "#/components/schemas/VehicleLicense"
        vehicle:
          $ref: "#/components/schemas/Vehicle"
        vin:
          type: string
          description: The Vehicle Identification Number (VIN).
        nicknames:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        tags:
          $ref: "#/components/schemas/Codes"
      description: Vehicle Identifier
    VehicleLicense:
      type: object
      properties:
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        jurisdiction_name:
          type: string
          description: The name of the license jurisdiction.
        country_code:
          type: string
          description: The country code for the license.
        plate_number:
          type: string
          description: The license plate number.
        vehicle_license_key:
          type: string
          description: A unique identifier for the vehicle license record.
      description: License for vehicle
    VehicleMedia:
      type: object
      properties:
        vehicle_media_key:
          type: string
          description: A unique identifier for the vehicle media record.
        media_href:
          type: string
          description: A reference link to the media.
          format: href
        media_id:
          type: string
          description: The primary ID of the media.
        media_name:
          type: string
          description: The name of the media.
      description: Media for vehicle
    VehicleMedias:
      type: array
      items:
        $ref: "#/components/schemas/VehicleMedia"
    VehicleOption:
      type: object
      properties:
        vehicle_option_key:
          type: string
          description: A unique identifier for the vehicle option record.
        invoice_price:
          $ref: "#/components/schemas/Price"
        manufacturer_name:
          type: string
          description: The name of the manufacturer of the option.
        option_category:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        option_code:
          type: string
          description: The code for the option.
        option_descriptions:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OptionDescription"
        option_groups:
          $ref: "#/components/schemas/Codes"
        option_installation_type:
          $ref: "#/components/schemas/OptionInstallationTypes"
        option_name:
          type: string
          description: The name of the option.
        option_type:
          $ref: "#/components/schemas/OptionTypes"
        quantity:
          $ref: "#/components/schemas/MetricValue"
        retail_price:
          $ref: "#/components/schemas/Price"
        short_description:
          type: string
          description: A short description of the option.
      description: options and options of a vehicle
    VehicleOptions:
      type: array
      items:
        $ref: "#/components/schemas/VehicleOption"
    VehiclePriceSummaries:
      type: array
      items:
        $ref: "#/components/schemas/VehiclePriceSummary"
    VehiclePriceSummary:
      type: object
      properties:
        vehicle_price_summary_key:
          type: string
          description: A unique identifier for the vehicle price summary record.
        capitalized_indicator:
          type: boolean
          description: An indicator that determines if the price is capitalized.
          example: false
        payment_type:
          $ref: "#/components/schemas/PaymentTypes"
        price:
          $ref: "#/components/schemas/Price"
        price_code:
          type: string
          description: The code associated with the price.
        price_descriptions:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        purchase_type:
          $ref: "#/components/schemas/PurchaseTypes"
        tax_separate_indicator:
          type: boolean
          description: An indicator that shows if tax is separated from the price.
          example: false
        taxable_indicator:
          type: boolean
          description: An indicator that shows if the price is taxable.
          example: false
        vehicle_price_criteria_name:
          type: string
          description: The name of the criteria used for the vehicle price.
        vehicle_price_name:
          type: string
          description: The name of the vehicle price.
        vehicle_price_summary_id:
          type: string
          description: The primary ID of the vehicle price summary.
      description: vehicle price
    VehicleSpecification:
      type: object
      properties:
        axle_count:
          type: string
          description: The number of axles on the vehicle.
        backup_camera_indicator:
          type: boolean
          description: An indicator if the vehicle has a backup camera.
          example: false
        body_height:
          type: string
          description: The height of the vehicle body.
        body_length:
          type: string
          description: The length of the vehicle body.
        body_style:
          type: string
          description: The body style of the vehicle.
        body_width:
          type: string
          description: The width of the vehicle body.
        box_type_description:
          type: string
          description: A description of the box type.
        bulkhead:
          type: string
          description: The bulkhead of the vehicle.
        cab_type:
          $ref: "#/components/schemas/CabTypes"
        compartment_depth:
          type: string
          description: The depth of the vehicle's compartments.
        compartments:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        condition:
          type: string
          description: The condition of the vehicle.
        crane_indicator:
          type: boolean
          description: An indicator if the vehicle has a crane.
          example: false
        cylinder_count:
          type: string
          description: The number of cylinders in the engine.
        doors_count:
          type: string
          description: The number of doors on the vehicle.
        drive_train:
          type: string
          description: The drive train of the vehicle.
        energy_impact_score:
          type: string
          description: The energy impact score of the vehicle.
        engine_type_description:
          type: string
          description: A description of the engine type.
        engine_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/EngineTypes"
        exterior_color:
          $ref: "#/components/schemas/ColorDetail"
        exterior_lights_indicator:
          type: boolean
          description: An indicator if the vehicle has exterior lights.
          example: false
        floor_desc:
          type: string
          description: A description of the vehicle's floor.
        floor_desc_detail:
          type: string
          description: The details of the vehicle's floor description.
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        gross_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        gross_vehicle_weight_rating:
          $ref: "#/components/schemas/MetricValue"
        hitch_indicator:
          type: boolean
          description: An indicator if the vehicle has a hitch.
          example: false
        power_train:
          type: string
          description: The power train of the vehicle.
        horse_power:
          type: string
          description: The horse power of the engine.
        inside_body_height:
          type: string
          description: The inside height of the vehicle body.
        inside_body_width:
          type: string
          description: The inside width of the vehicle body.
        inside_length:
          type: string
          description: The inside length of the vehicle.
        interior_color:
          $ref: "#/components/schemas/ColorDetail"
        ladder_rack_desc:
          type: string
          description: A description of the ladder rack.
        liftgate_indicator:
          type: boolean
          description: An indicator if the vehicle has a liftgate.
          example: false
        make:
          type: string
          description: The make of the vehicle.
        manufacturer_model_code:
          type: string
          description: The manufacturer's model code.
        manufacturer_name:
          type: string
          description: The name of the manufacturer.
        marketing_description:
          type: string
          description: A marketing description of the vehicle.
        merchandising_model_code:
          type: string
          description: The merchandising model code.
        vehicle_specification_key:
          type: string
          description: A unique identifier for the vehicle specification record.
        model:
          type: string
          description: The model of the vehicle.
        model_code:
          type: string
          description: The model code of the vehicle.
        model_description:
          type: string
          description: A description of the vehicle model.
        model_year:
          type: string
          description: The model year of the vehicle.
        seating_capacity:
          type: string
          description: The seating capacity of the vehicle.
        series_code:
          type: string
          description: The series code of the vehicle.
        side_height:
          type: string
          description: The side height of the vehicle.
        snowplow_indicator:
          type: boolean
          description: An indicator if the vehicle has a snowplow.
          example: false
        stake_pockets:
          type: string
          description: A collection of stake pockets on the vehicle.
        torque:
          type: string
          description: The torque of the engine.
        towing_capacity:
          $ref: "#/components/schemas/MetricValue"
        transmission:
          type: string
          description: The transmission of the vehicle.
        trim:
          type: string
          description: The trim level of the vehicle.
        unladen_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        uplift_indicator:
          type: boolean
          description: An indicator if the vehicle has an uplift.
          example: false
        vehicle_body_style_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleBodyStyleTypes"
        vehicle_category_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleCategoryTypes"
        vehicle_class:
          type: string
          description: The class of the vehicle.
        vehicle_economies:
          $ref: "#/components/schemas/VehicleEconomies"
        vehicle_fuel_capacity:
          type: string
          description: The fuel capacity of the vehicle.
        vehicle_pto:
          type: string
          description: The Power Take-Off (PTO) of the vehicle.
        vehicle_rear_wheels:
          type: string
          description: The rear wheels of the vehicle.
        vehicle_type_description:
          type: string
          description: A description of the vehicle type.
        vehicle_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleTypes"
        wheel_base:
          type: string
          description: The wheel base of the vehicle.
        compartment_door_desc:
          type: string
          description: A description of the compartment door.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        categories:
          $ref: "#/components/schemas/Codes"
      description: "detail vehicle specification, descriptions, and attributes"
    VehicleStateTypes:
      type: string
      description: types of vehicle states.
      enum:
      - OK
      - WARNING
      - CRITICAL
      - LOW
      - "OFF"
      - HIGH
      - ACTIVE
      - "ON"
      - DEPLOYED
      - NONE
      - CRASH
      - TEST
    VehicleTypes:
      type: string
      description: types of vehicles.
      enum:
      - VEHICLE
      - CHASSIS
      - BODY
    VehicleUpdate:
      type: object
      properties:
        uplift_indicator:
          type: boolean
          description: Flags if customization adjustments or specialized upfit changes
            were configured after structural factory assembly lines.
          example: true
        vehicle_status_type:
          $ref: "#/components/schemas/VehicleStateTypes"
        trim:
          maxLength: 50
          minLength: 1
          type: string
          description: The package marketing specification option tier tier labels
            level configurations tags.
          example: XLE
        side_height:
          maxLength: 20
          minLength: 1
          type: string
          description: The vertical wall panel depth height on open dump-truck beds
            or stake-bed trailers upfits.
          example: 14 inches
        vin:
          maxLength: 17
          minLength: 17
          type: string
          description: The standard 17-character legal international Vehicle Identification
            Number code identifier.
          example: 1HGCR2F8XHA000000
        model:
          maxLength: 100
          minLength: 1
          type: string
          description: The commercial product line model label designation matching
            manufacture series.
          example: Camry
        vehicle_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleTypes"
        vehicle_configuration_codes:
          $ref: "#/components/schemas/VehicleConfigurationCodes"
        insurances:
          $ref: "#/components/schemas/Insurances"
        vehicle_price_summary:
          $ref: "#/components/schemas/VehiclePriceSummary"
        vehicle_fuel_capacity:
          maxLength: 20
          minLength: 1
          type: string
          description: The capacity volume data formatting tracking liquid or electrical
            charge max capacities.
          example: 15.8 gallons
        cab_type:
          $ref: "#/components/schemas/CabTypes"
        inventory_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/InventoryStatusTypes"
        hitch_indicator:
          type: boolean
          description: Flags if rear frame mechanical towing hitch receiving ports
            are configured onto the truck bumper.
          example: true
        body_length:
          maxLength: 20
          minLength: 1
          type: string
          description: The external overall body structure length dimension string
            text.
          example: 210 inches
        stock_number:
          maxLength: 50
          minLength: 1
          type: string
          description: Internal dealership stock control or inventory lot track number.
          example: STK-2026-99A
        warranties:
          $ref: "#/components/schemas/Warranties"
        model_code:
          maxLength: 30
          minLength: 1
          type: string
          description: Standard short alphanumeric platform model code classification
            indicators.
          example: BK4AX
        search_category:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        vehicle_class:
          maxLength: 50
          minLength: 1
          type: string
          description: Regulatory weight grouping class designations definitions.
          example: Class 3 Light Duty
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        vehicle_type_description:
          maxLength: 100
          minLength: 1
          type: string
          description: Detailed category specifications notation details reflecting
            commercial layout alignments.
          example: Multi-Purpose Passenger Vehicle
        backup_camera_indicator:
          type: boolean
          description: Indicates if the vehicle is configured with a rear safety camera
            system.
          example: true
        bulkhead:
          maxLength: 100
          minLength: 1
          type: string
          description: The style structural configuration tracking definitions used
            on cargo boundary separations.
          example: Solid Steel with Window
        compartment_door_desc:
          maxLength: 150
          minLength: 1
          type: string
          description: The structural layout configurations descriptions documenting
            exterior service box tool doors styles setup operations.
          example: Roll-up anodized aluminum shutter doors
        stock_date_time:
          type: string
          description: The exact date and time when the entity officially entered
            dealership inventory accounting logs.
          format: date-time
          example: 2026-05-26T13:26:46Z
        production_date:
          type: string
          description: The historical calendar date when assembly on the vehicle line
            was finalized.
          format: date
        torque:
          maxLength: 30
          minLength: 1
          type: string
          description: The mechanical rotational peak torque measurements rating specification
            descriptions.
          example: 317 lb-ft @ 4000 RPM
        liftgate_indicator:
          type: boolean
          description: Flags if hydraulic motorized loading liftgate machinery blocks
            are operating on the vehicle tail section.
          example: true
        dealer_code:
          maxLength: 30
          minLength: 1
          type: string
          description: The specific franchise authorization identifier code assigned
            to the holding dealer.
          example: DL-99482-X
        body_height:
          maxLength: 20
          minLength: 1
          type: string
          description: The external overall body structure height reading metric string
            description.
          example: 78 inches
        towing_capacity:
          $ref: "#/components/schemas/MetricValue"
        delivery_method:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        account_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The official corporate name of the commercial fleet entity
            holding financial titles.
          example: Northside Fleet Holdings
        vehicle_specification:
          $ref: "#/components/schemas/VehicleSpecification"
        categories:
          $ref: "#/components/schemas/Codes"
        energy_impact_score:
          maxLength: 10
          minLength: 1
          type: string
          description: Environmental pollution factor efficiency metrics tracking
            measurements classification output.
          example: "1.2"
        drive_train:
          maxLength: 20
          minLength: 1
          type: string
          description: Chassis mechanics wheel torque distribution grouping style
            setups.
          example: 4WD
        wheel_base:
          maxLength: 20
          minLength: 1
          type: string
          description: The linear dimension measuring space boundaries between front
            axle lines and rear axle paths.
          example: 113 inches
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        control_account_desc:
          maxLength: 255
          minLength: 1
          type: string
          description: Description of the primary operating control account utilized
            for inventory financing tracking.
          example: Primary operating account for dealership floorplan financing.
        compartments:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        floor_desc:
          maxLength: 100
          minLength: 1
          type: string
          description: The foundational materials configuration setup tracking string
            on cargo flooring surfaces.
          example: Hardwood
        inside_body_height:
          maxLength: 20
          minLength: 1
          type: string
          description: Interior clear clearance height metrics on specialized trailer
            or cargo configurations.
          example: 72 inches
        seating_capacity:
          maxLength: 2
          minLength: 1
          type: string
[...]
