openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Part
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:19:15Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:15Z
      description: External system identifier
    ControlAccountReferences:
      type: array
      items:
        $ref: "#/components/schemas/ControlAccountReference"
    CurrencyCode:
      type: string
      description: "ISO 4217 currency code, e.g., 'USD', 'EUR'."
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:19:15Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-07T17:19:15Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-07T17:19:15Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    List:
      type: array
      items:
        type: string
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: not nullable
    Part:
      type: object
      properties:
        part_id:
          type: string
          description: The unique identifier for the physical part instance.
          example: PART-1001-A
        part_key:
          type: string
          description: The unique external key or business identifier used in integrations.
          example: EXT-KEY-879234
        part_condition_grade_type:
          $ref: "#/components/schemas/PartConditionGradeTypes"
        part_condition_type:
          $ref: "#/components/schemas/PartConditionTypes"
        last_inventory_date:
          type: string
          description: The date when this part was last inventoried.
          format: date
        prices:
          $ref: "#/components/schemas/Prices"
        part_lifecycles:
          $ref: "#/components/schemas/PartLifecycles"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_identifiers:
          $ref: "#/components/schemas/PartIdentifiers"
        control_account_references:
          $ref: "#/components/schemas/ControlAccountReferences"
        part_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartStatusTypes"
        part_events:
          $ref: "#/components/schemas/PartEvents"
        part_locations:
          $ref: "#/components/schemas/PartLocations"
      description: Represents an individual catalog instance of a part. Used for serialized
        or lot-controlled inventory tracking.
    PartConditionGradeTypes:
      type: string
      description: types of part condition grades.
      enum:
      - EXCELLENT
      - LIKE_NEW
      - VERY_GOOD
      - GOOD
      - ACCEPTABLE
      - FAIR
      - POOR
      - DAMAGED
      - UNGRADED
      - OTHER
    PartConditionTypes:
      type: string
      description: types of part conditions.
      enum:
      - NEW
      - NEW_OLD_STOCK
      - REMANUFACTURED
      - REBUILT
      - REFURBISHED
      - USED
      - SALVAGE
      - DAMAGED_MINOR
      - DAMAGED_COSMETIC
      - SCRAP
      - COLLECTIBLE
      - OTHER
    PartEvent:
      type: object
      properties:
        part_event_key:
          type: string
          description: A unique key for the part event record.
        part_event_id:
          type: string
          description: The unique ID for the part event.
        occurrence_date_time:
          type: string
          description: The date and time of the event's occurrence.
          format: date-time
          example: 2026-05-07T17:19:15Z
        actor_id:
          type: string
          description: The ID of the actor involved in the event.
        actor_name:
          type: string
          description: The name of the actor.
        actor_href:
          type: string
          description: The href of the actor.
          format: href
        event_category:
          type: string
          description: The category of the event.
        event_label:
          type: string
          description: The label of the event.
        event_values:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        warehouse_keys:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        part_identifier:
          $ref: "#/components/schemas/PartIdentifiers"
        part_inventory_action_type:
          $ref: "#/components/schemas/PartInventoryOrderTypes"
        part_status_type:
          $ref: "#/components/schemas/PartStatusTypes"
        version:
          type: string
          description: "Semantic version of the part master record (e.g., '1.0', '1.1',\
            \ '2.0-beta')."
          example: "1.0"
        effective_date:
          type: string
          description: The date from which this version of the part master record
            becomes effective.
          format: date
      description: "An event related to a vehicle part, such as a transaction or inventory\
        \ action."
    PartEvents:
      type: array
      items:
        $ref: "#/components/schemas/PartEvent"
    PartIdentifier:
      type: object
      properties:
        part_identifier_key:
          type: string
          description: Unique key identifying the part identifier
        part_identifier_id:
          type: string
          description: Unique identifier ID for the part identifier
        part_source:
          type: string
          description: Unique identifier ID for the source of the part
        part_identifier_type:
          $ref: "#/components/schemas/PartIdentifierTypes"
        part_identifier_value:
          type: string
          description: Value of the part identifier
        description:
          type: string
          description: Optional description for the part identifier
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_names:
          $ref: "#/components/schemas/PartNames"
        part_status_type:
          $ref: "#/components/schemas/PartStatusTypes"
      description: nullable
    PartIdentifierTypes:
      type: string
      description: types of part identifiers.
      enum:
      - VIN
      - SKU
      - UPCA
      - UPCE
      - ISBN
      - MPN
      - CONFIG_CODE
      - MFR_CODE
      - ALT_CODE
      - STOCK_NBR
      - UNIV_CODE
      - PRODUCT_CODE
      - CATALOG_CODE
      - NAME
      - NUMBER
      - PREFIX
      - COUNTRY_OF_ORIGIN_CODE
      - MODEL_CODE
      - MAKE_CODE
      - YEAR_CODE
      - MARKET_DIVISION_CODE
      - TRIM_CODE
      - STYLE_CODE
      - SUB_MODEL_CODE
      - ENGINE_CODE
      - TRANSMISSION_CODE
      - DRAWING_NUMBER
      - OTHER
    PartIdentifiers:
      type: array
      items:
        $ref: "#/components/schemas/PartIdentifier"
    PartInventoryOrderTypes:
      type: string
      description: types of part inventory orders.
      enum:
      - LOCATE
      - RELOCATE
      - CYCLE_COUNT
      - STOCK_ROTATION
      - ALLOCATE_RESERVE
      - REPLENISH
      - CONSOLIDATE_INVENTORY
      - INBOUND
      - RECEIVING
      - STORAGE
      - WAREHOUSE_MANAGEMENT
      - ORDER_FULFILLMENT
      - OUTBOUND
      - REVERSE_LOGISTICS
      - RETURNS_ACTIONS
      - MAINTENANCE
      - DISPOSITION
      - INVENTORY_SNAPSHOT
      - PRE_ORDER
      - BACK_ORDERED
      - PENDING
      - PROCESSING
      - SHIPPED
      - DELIVERED
      - CANCELLED
      - RETURNED_ORDER
      - NO_LONGER_AVAILABLE
    PartLifecycle:
      type: object
      properties:
        part_lifecycle_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier ID for the part lifecycle
        part_lifecycle_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key for the part lifecycle
        is_superseded:
          type: boolean
          description: Indicator whether the part has been superseded
          example: false
        event_date:
          type: string
          description: The date on which this event occurred
          format: date
        reason:
          maxLength: 255
          type: string
          description: The reason for this part event occurred
        part_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartStatusTypes"
        super_sessions:
          $ref: "#/components/schemas/SuperSessions"
      description: "The Lifecycle of a Part, including its current status and details\
        \ related to supersession."
    PartLifecycles:
      type: array
      items:
        $ref: "#/components/schemas/PartLifecycle"
    PartLocation:
      type: object
      properties:
        part_location_id:
          type: string
          description: The warehouse where the part is located.
          example: "{\"warehouseId\":\"WH-A\",\"name\":\"Main Distribution Center\"\
            }"
        part_location_key:
          type: string
          description: The warehouse where the part is located.
          example: "{\"warehouseId\":\"WH-A\",\"name\":\"Main Distribution Center\"\
            }"
        part_storage_types:
          $ref: "#/components/schemas/PartStorageTypes"
        aisle:
          type: string
          description: The aisle number or code within the warehouse.
          example: A-05
        rack:
          type: string
          description: The rack number or identifier within the aisle.
          example: R-12
        shelf:
          type: string
          description: The shelf number or identifier on the rack.
          example: S-03
        bin:
          type: string
          description: The bin number or identifier on the shelf.
          example: BIN-01
        quantity:
          type: integer
          description: "The quantity of parts at this specific location. Optional,\
            \ primarily for non-serialized/lot-controlled parts sharing a location."
          format: int32
          example: 5
        warehouse_key:
          type: string
          description: The warehouse location currently storing the part.
          example: "{\"locationCode\":\"WH-02-BIN-A1\"}"
        description:
          type: string
          description: 'description '
      description: not nullable
    PartLocations:
      type: array
      items:
        $ref: "#/components/schemas/PartLocation"
    PartName:
      type: object
      properties:
        part_name_id:
          type: string
          description: Unique identifier for the part name
        part_name_key:
          type: string
          description: Business key for the part name
        part_prefix:
          $ref: "#/components/schemas/Codes"
        part_suffix:
          $ref: "#/components/schemas/Codes"
        description:
          type: string
          description: Description of the part name
        language:
          $ref: "#/components/schemas/Codes"
        locale:
          $ref: "#/components/schemas/Codes"
        alias:
          $ref: "#/components/schemas/Codes"
        long_name:
          $ref: "#/components/schemas/Codes"
        marketing_name:
          $ref: "#/components/schemas/Codes"
        part_name_type:
          $ref: "#/components/schemas/PartNameTypes"
        part_number:
          $ref: "#/components/schemas/Codes"
      description: nullable
    PartNameTypes:
      type: string
      description: types of part names.
      enum:
      - GENERIC
      - MANUFACTURING
      - MARKETING
      - CORE
      - REMANUFACTURING
      - OEM
      - AFTERMARKET
      - SUPERSEDING
      - SUPERSEDED
    PartNames:
      type: array
      items:
        $ref: "#/components/schemas/PartName"
    PartOrderConfigTypes:
      type: string
      description: types of part order configs.
      enum:
      - SINGLE
      - MULTIPLE_SPLIT
      - MULTIPLE_MERGE
      - VARIABLE_SPLIT
      - VARIABLE_MERGE
      - NOT_AVAILABLE
    PartStatusTypes:
      type: string
      description: types of part status.
      enum:
      - RECEIVE
      - INSPECT_INBOUND
      - DOCUMENT_RECEIPT
      - PUTAWAY
      - QUARANTINE_INBOUND
      - PICK
      - PACK
      - STAGE_SHIPMENT
      - LOAD_SHIPMENT
      - SHIP
      - DOCUMENT_SHIPMENT
      - SCRAP_DISPOSE
      - DISASSEMBLE
      - RETURN_RECEIVE
      - RETURN_INSPECT
      - RETURN_PUTAWAY
      - REFURBISH_REPAIR
      - RETURN_TO_BIN
      - DEFECTIVE_REMOVAL
      - ALLOCATE_TO_JOB
      - PICK_FOR_LABOR
      - STAGE_FOR_SERVICE
      - ISSUE_TO_TECH
      - INSTALLED
      - CORE_PENDING
      - CORE_RECEIVED
      - CROSS_DOCK
      - LABEL_TAG
      - KIT_ASSEMBLE
      - VALUE_ADDED_SERVICE
      - SUPERSEDE
      - SUPERSEDED
    PartStorageTypes:
      type: string
      description: types of part storages.
      enum:
      - PALLET
      - SHELF
      - BIN
      - RACK
      - FLOOR
      - CABINET
      - DRAWER
      - CONTAINER
      - CAGE
      - CUSTOM
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-05-07T17:19:15Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    Price:
      type: object
      properties:
        display_value:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        locale:
          type: string
          description: Locale used for formatting display value.
        value:
          type: string
          description: The numeric value of the price (before tax/cost breakdowns).
        tax_value:
          type: string
          description: The calculated amount of tax applied to the price.
        taxable_amount:
          type: string
          description: The portion of the price subject to tax.
        non_taxable_amount:
          type: string
          description: The portion of the price not subject to tax.
        total_amount:
          type: string
          description: The total final price including all components and tax.
        total_cost_amount:
          type: string
          description: The total cost to the provider/seller.
        unit_cost_amount:
          type: string
          description: The unit cost to the provider/seller.
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        price_id:
          type: string
          description: Unique system identifier for the price record.
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - OTHER
    Prices:
      type: array
      items:
        $ref: "#/components/schemas/Price"
    ProductConsumptionTypes:
      type: string
      description: types of product consumptions.
      enum:
      - USE_UP_STRATEGY
      - SCRAP_STRATEGY
      - PRE_PRODUCTION
    ProductPackageTypes:
      type: string
      description: types of product packages.
      enum:
      - SKU
      - COMPONENT
      - STANDALONE
      - ITEM
      - UNIT
      - OCCURRENCE
      - EACH
      - KIT
      - BUNDLE
      - GROUP
      - MIXED_BUNDLE
      - PURE_BUNDLE
      - SET
      - PACK
      - CASE
      - PALLET
      - SERVICE
      - SUBSCRIPTION
      - PRODUCT
    ProductStageTypes:
      type: string
      description: types of product stages.
      enum:
      - ACTIVE
      - DISCONTINUED
      - OBSOLETE
      - RECALLED
      - DAMAGED
      - DECOMMISSIONED
      - PENDING_APPROVAL
      - PRE_PRODUCTION
      - PENDING_OBSOLESCENCE
      - PROPOSED
      - PRE_RELEASE
      - SOURCING_CHALLENGE
      - UNDER_REVIEW
      - PHASED_OUT
      - PRELIMINARY_SUPERSESSION
      - FINAL_SUPERSESSION
    SuperSession:
      type: object
      properties:
        super_session_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier ID for the supersession event
        super_session_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key for the supersession event
        event_date:
          type: string
          description: The date on which this event occurred
          format: date
        prev_part_names:
          $ref: "#/components/schemas/PartNames"
        new_part_names:
          $ref: "#/components/schemas/PartNames"
        part_order_config_type:
          $ref: "#/components/schemas/PartOrderConfigTypes"
        quantity:
          type: string
          description: The quantity of the part affected by the supersession
        quantity_uom_type:
          $ref: "#/components/schemas/ProductPackageTypes"
        product_consumption_type:
          $ref: "#/components/schemas/ProductConsumptionTypes"
        product_stage_type:
          $ref: "#/components/schemas/ProductStageTypes"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        part_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartStatusTypes"
      description: "Represents a part supersession event, detailing the transition\
        \ from an old part to a new one."
    SuperSessions:
      type: array
      items:
        $ref: "#/components/schemas/SuperSession"
    TimeSlot:
      type: object
      properties:
        time_slot_id:
          type: string
          description: Technical unique identifier (GUID) for the time slot record.
          example: b2d3e4f5-a6b7-c8d9-e0f1-a2b3c4d5e6f7
        time_slot_key:
          type: string
          description: Natural business key for the time slot within its specific
            context.
          example: TS-MON-MORNING-SHIFT
        time_slot_source:
          type: string
          description: The originating system or calendar providing this availability
            data.
          example: GOOGLE_CALENDAR
        start_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        start_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local start time in 24-hour ISO 8601 format.
          format: date-time
        end_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        end_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local end time in 24-hour ISO 8601 format.
          format: date-time
        recurring_indicator:
          type: boolean
          description: Indicates if this time slot is part of a repeating pattern.
          example: true
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        week_of_date:
          $ref: "#/components/schemas/Codes"
      description: "Defines a specific window of time, often within a recurring schedule,\
        \ used for service availability or appointment booking."
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - UNKNOWN
