openapi: 3.0.1
info:
  title: Automotive Retail Systems API - PaymentMethod
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: Addresses
  description: Tag Description Addresses
- name: AddressLocales
  description: Tag Description AddressLocales
- name: BankBeneficiaries
  description: Tag Description BankBeneficiaries
- name: BankIntermediaries
  description: Tag Description BankIntermediaries
- name: CashPayments
  description: Tag Description CashPayments
- name: CheckPayments
  description: Tag Description CheckPayments
- name: CreditCards
  description: Tag Description CreditCards
- name: ElectronicPayments
  description: Tag Description ElectronicPayments
- name: Health
  description: Tag Description Health
- name: PaymentMethods
  description: Tag Description PaymentMethods
- name: PlatformPayments
  description: Tag Description PlatformPayments
- name: Positions
  description: Tag Description Positions
- name: RewardPayments
  description: Tag Description RewardPayments
paths:
  /payment-methods:
    get:
      tags:
      - PaymentMethods
      summary: Returns a paginated list of payment method
      description: a list of PaymentMethod
      operationId: listPaymentMethods
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PaymentMethodCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    post:
      tags:
      - PaymentMethods
      summary: create payment method
      description: create PaymentMethod
      operationId: createPaymentMethod
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethodCreate"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/PaymentMethodCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /payment-methods/{payment-method-key}:
    get:
      tags:
      - PaymentMethods
      summary: Retrieve a single item scoped by a key PaymentMethod entities.
      description: Retrieve a single item scoped by a key PaymentMethod entities.
      operationId: getPaymentMethodByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PaymentMethodKey"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PaymentMethodSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    put:
      tags:
      - PaymentMethods
      summary: Replace values in a single item scoped by a key PaymentMethod entities.
      description: Replace values in a single item scoped by a key PaymentMethod entities.
      operationId: replacePaymentMethodByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PaymentMethodKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethodUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/PaymentMethodUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    delete:
      tags:
      - PaymentMethods
      summary: Delete a single item scoped by a key PaymentMethod
      description: delete a PaymentMethod
      operationId: deletePaymentMethod
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/ReasonQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PaymentMethodKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PaymentMethodSingleResponse"
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    patch:
      tags:
      - PaymentMethods
      summary: Update a single item scoped by a key PaymentMethod
      description: update a single item
      operationId: updatePaymentMethodByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PaymentMethodKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/PaymentMethodUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/PaymentMethodUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /payment-methods/{payment-method-key}/reward-payments:
    get:
      tags:
      - RewardPayments
      summary: Returns a paginated list of reward payment
      description: a list of RewardPayment
      operationId: listRewardPaymentsByPaymentMethodKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/RewardPaymentCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/reward-payments/{reward-payment-key}:
    get:
      tags:
      - RewardPayments
      summary: Retrieve a single item scoped by a key RewardPayment entities.
      description: Retrieve a single item scoped by a key RewardPayment entities.
      operationId: getRewardPaymentByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/RewardPaymentKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/RewardPaymentSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/addresses:
    get:
      tags:
      - Addresses
      summary: Returns a paginated list of address
      description: a list of Address
      operationId: listAddressesByPaymentMethodKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/AddressCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/addresses/{address-key}:
    get:
      tags:
      - Addresses
      summary: Retrieve a single item scoped by a key Address entities.
      description: Retrieve a single item scoped by a key Address entities.
      operationId: getAddressByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AddressKey"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/AddressSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/positions:
    get:
      tags:
      - Positions
      summary: Returns a paginated list of position
      description: a list of Position
      operationId: listPositionsByPaymentMethodKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PositionCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/positions/{position-key}:
    get:
      tags:
      - Positions
      summary: Retrieve a single item scoped by a key Position entities.
      description: Retrieve a single item scoped by a key Position entities.
      operationId: getPositionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PositionKey"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PositionSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/cash-payments:
    get:
      tags:
      - CashPayments
      summary: Returns a paginated list of cash payment
      description: a list of CashPayment
      operationId: listCashPaymentsByPaymentMethodKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/CashPaymentCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/cash-payments/{cash-payment-key}:
    get:
      tags:
      - CashPayments
      summary: Retrieve a single item scoped by a key CashPayment entities.
      description: Retrieve a single item scoped by a key CashPayment entities.
      operationId: getCashPaymentByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CashPaymentKey"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/CashPaymentSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/bank-beneficiaries:
    get:
      tags:
      - BankBeneficiaries
      summary: Returns a paginated list of bank beneficiary
      description: a list of BankBeneficiary
      operationId: listBankBeneficiariesByPaymentMethodKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/BankBeneficiaryCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/bank-beneficiaries/{bank-beneficiary-key}:
    get:
      tags:
      - BankBeneficiaries
      summary: Retrieve a single item scoped by a key BankBeneficiary entities.
      description: Retrieve a single item scoped by a key BankBeneficiary entities.
      operationId: getBankBeneficiaryByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BankBeneficiaryKey"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/BankBeneficiarySingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/credit-cards:
    get:
      tags:
      - CreditCards
      summary: Returns a paginated list of credit card
      description: a list of CreditCard
      operationId: listCreditCardsByPaymentMethodKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/CreditCardCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/credit-cards/{credit-card-key}:
    get:
      tags:
      - CreditCards
      summary: Retrieve a single item scoped by a key CreditCard entities.
      description: Retrieve a single item scoped by a key CreditCard entities.
      operationId: getCreditCardByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreditCardKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/CreditCardSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/address-locales:
    get:
      tags:
      - AddressLocales
      summary: Returns a paginated list of address locale
      description: a list of AddressLocale
      operationId: listAddressLocalesByPaymentMethodKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/AddressLocaleCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/address-locales/{address-locale-key}:
    get:
      tags:
      - AddressLocales
      summary: Retrieve a single item scoped by a key AddressLocale entities.
      description: Retrieve a single item scoped by a key AddressLocale entities.
      operationId: getAddressLocaleByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AddressLocaleKey"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/AddressLocaleSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/bank-intermediaries:
    get:
      tags:
      - BankIntermediaries
      summary: Returns a paginated list of bank intermediary
      description: a list of BankIntermediary
      operationId: listBankIntermediariesByPaymentMethodKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/BankIntermediaryCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/bank-intermediaries/{bank-intermediary-key}:
    get:
      tags:
      - BankIntermediaries
      summary: Retrieve a single item scoped by a key BankIntermediary entities.
      description: Retrieve a single item scoped by a key BankIntermediary entities.
      operationId: getBankIntermediaryByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BankIntermediaryKey"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/BankIntermediarySingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/check-payments:
    get:
      tags:
      - CheckPayments
      summary: Returns a paginated list of check payment
      description: a list of CheckPayment
      operationId: listCheckPaymentsByPaymentMethodKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/CheckPaymentCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/check-payments/{check-payment-key}:
    get:
      tags:
      - CheckPayments
      summary: Retrieve a single item scoped by a key CheckPayment entities.
      description: Retrieve a single item scoped by a key CheckPayment entities.
      operationId: getCheckPaymentByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CheckPaymentKey"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/CheckPaymentSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/electronic-payments:
    get:
      tags:
      - ElectronicPayments
      summary: Returns a paginated list of electronic payment
      description: a list of ElectronicPayment
      operationId: listElectronicPaymentsByPaymentMethodKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ElectronicPaymentCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/electronic-payments/{electronic-payment-key}:
    get:
      tags:
      - ElectronicPayments
      summary: Retrieve a single item scoped by a key ElectronicPayment entities.
      description: Retrieve a single item scoped by a key ElectronicPayment entities.
      operationId: getElectronicPaymentByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/ElectronicPaymentKey"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ElectronicPaymentSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/platform-payments:
    get:
      tags:
      - PlatformPayments
      summary: Returns a paginated list of platform payment
      description: a list of PlatformPayment
      operationId: listPlatformPaymentsByPaymentMethodKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PlatformPaymentCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-methods/{payment-method-key}/platform-payments/{platform-payment-key}:
    get:
      tags:
      - PlatformPayments
      summary: Retrieve a single item scoped by a key PlatformPayment entities.
      description: Retrieve a single item scoped by a key PlatformPayment entities.
      operationId: getPlatformPaymentByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PlatformPaymentKey"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PlatformPaymentSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/PaymentMethodKey"
  /payment-method/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the PaymentMethod root node.
      operationId: healthPaymentMethod
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
components:
  schemas:
    Address:
      type: object
      properties:
        address_locales:
          $ref: "#/components/schemas/AddressLocales"
        priority:
          maxLength: 10
          minLength: 1
          type: string
          description: "Priority indicator for address usage (e.g., billing, shipping)."
          example: "1"
        city_code:
          maxLength: 20
          minLength: 1
          type: string
          description: Standardized city code.
          example: ATL
        address_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business key for the address.
          example: "840277003305385984"
        address_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier for the address record.
          example: "840277003305385985"
        address_input:
          maxLength: 255
          minLength: 1
          type: string
          description: Raw input provided for address processing or validation.
          example: "123 Main St, Atlanta, GA 30303"
        address_line1:
          maxLength: 100
          minLength: 1
          type: string
          description: "Primary address line (Street, PO Box, etc)."
          example: 123 Main St
        address_line2:
          maxLength: 100
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Suite 400
        address_line3:
          maxLength: 100
          type: string
          description: Additional address line information.
          example: Building A
        address_line4:
          maxLength: 100
          type: string
          description: Additional address line information.
          example: Mail Stop 22
        address_line5:
          maxLength: 100
          type: string
          description: Additional address line information.
          example: "Attention: Accounts Payable"
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: address_types list
          example:
          - AR_ADDRESS
          items:
            $ref: "#/components/schemas/AddressTypes"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        city:
          maxLength: 100
          minLength: 1
          type: string
          description: Name of the city.
          example: Atlanta
        city_subdivision:
          maxLength: 100
          type: string
          description: "Subdivision within the city (e.g., neighborhood, district)."
          example: Midtown
        country:
          maxLength: 100
          minLength: 2
          type: string
          description: Full name of the country.
          example: United States
        country_code:
          maxLength: 2
          minLength: 2
          type: string
          description: ISO 3166-1 Alpha-2 country code.
          example: US
        county:
          maxLength: 100
          type: string
          description: Name of the county.
          example: Fulton
        county_code:
          maxLength: 20
          type: string
          description: Standardized code for the county.
          example: "121"
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
          example: Work Email
        position:
          $ref: "#/components/schemas/Position"
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
          example: "30303"
        postal_code_ext:
          maxLength: 10
          type: string
          description: "Extended postal code (e.g., ZIP+4)."
          example: "1234"
        preferred_indicator:
          type: boolean
          description: Flag indicating if this address is the preferred address.
          example: false
        region:
          maxLength: 50
          type: string
          description: "Administrative region (e.g., province, state)."
          example: Southeast
        state:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
          example: GA
      description: Address represents a physical or mailing location associated with
        a party or warehouse.
    AddressLocale:
      type: object
      properties:
        address_locale_key:
          type: string
          description: Business key for the address locale.
          example: "840277003305385986"
        address_locale_id:
          type: string
          description: Unique identifier for the address locale.
          example: "840277003305385987"
        region_code:
          type: string
          description: Code representing the region for the locale.
          example: GA
        region_name:
          type: string
          description: Name of the region for the locale.
          example: Georgia
        region_aliases:
          $ref: "#/components/schemas/Codes"
        location_type:
          $ref: "#/components/schemas/LocationTypes"
      description: External system address locale including region and location type.
    AddressLocales:
      type: array
      items:
        $ref: "#/components/schemas/AddressLocale"
    AddressTypes:
      type: string
      description: types of address.
      example: BILLING
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:18:21Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
          example: "840277003305385988"
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BankAccountTypes:
      type: string
      description: types of bank accounts.
      example: CHECKING
      enum:
      - CHECKING
      - SAVING
      - MONEY_MARKET
      - CD
      - BROKERAGE
      - RETIREMENT
      - OTHER
    BankBeneficiary:
      type: object
      properties:
        bank_beneficiary_key:
          type: string
          description: A unique key for the bank beneficiary record.
          example: "840277003305385989"
        account_number:
          type: string
          description: The bank account number of the beneficiary.
          example: "59"
        address_desc:
          type: string
          description: A description of the beneficiary's address.
          example: "123 Peachtree Street NE, Atlanta, GA 30303"
        bank_account_type:
          $ref: "#/components/schemas/BankAccountTypes"
        bank_branch_address_desc:
          type: string
          description: A description of the bank branch address.
          example: "100 Bank Plaza, Atlanta, GA 30303"
        bank_country:
          type: string
          description: The country of the bank.
          example: US
        bank_name:
          type: string
          description: The name of the bank.
          example: Bank of America
        bank_swift_code:
          type: string
          description: The bank's SWIFT code.
          example: BOFAUS3N
        branch_number:
          type: string
          description: The bank branch number.
          example: "92"
        budget_code:
          type: string
          description: The budget code associated with the payment.
          example: BUD-2026-001
        contact_channel_desc:
          type: string
          description: A description of the contact channel for the beneficiary.
          example: Primary treasury contact email.
        electronic_payment_id:
          type: string
          description: The ID for the electronic payment.
          example: "840277003305385990"
        notes:
          $ref: "#/components/schemas/Memo"
        purpose_of_payment:
          type: string
          description: The purpose of the payment.
          example: Vendor invoice payment
        routing_number:
          type: string
          description: The bank's routing number.
          example: "86"
      description: Beneficiary for Bank Payment...
    BankIntermediary:
      type: object
      properties:
        bank_intermediary_key:
          type: string
          description: The unique key for the bank intermediary record.
          example: "840277003305385991"
        bank_intermediary_id:
          type: string
          description: The unique ID for the bank intermediary.
          example: "840277003305385992"
        financial_institution_name:
          type: string
          description: The name of the financial institution.
          example: Citibank N.A.
        financial_institution_address:
          type: string
          description: The address of the financial institution.
          example: "388 Greenwich Street, New York, NY 10013"
        account_number:
          type: string
          description: The account number at the intermediary bank.
          example: "74"
        bank_swift_code:
          type: string
          description: The SWIFT/BIC code of the bank.
          example: CITIUS33
        bank_identifier_code:
          type: string
          description: The Bank Identifier Code (BIC).
          example: "021000089"
        routing_number:
          type: string
          description: The routing number for the bank.
          example: "73"
        notes:
          $ref: "#/components/schemas/Memo"
      description: "Represents an intermediary bank for electronic payments, including\
        \ details for e-checks, wire transfers, and other electronic transactions."
    CashPayment:
      type: object
      properties:
        cash_payment_key:
          type: string
          description: The unique key for the cash payment record.
          example: "840277003305385993"
        cash_payment_id:
          type: string
          description: The unique ID for the cash payment.
          example: "840277003305385994"
        cash_from:
          type: string
          description: The origin of the cash payment.
          example: CUSTOMER
        cash_to:
          type: string
          description: The destination of the cash payment.
          example: DEALER
        cash_for:
          type: string
          description: A description of what the cash payment is for.
          example: SERVICE_REPAIR
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        preferred_indicator:
          type: boolean
          description: A boolean indicator for whether this is the preferred cash
            payment method.
          example: false
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        notes:
          $ref: "#/components/schemas/Memo"
      description: "Represents a cash payment, including details for e-cash, wire\
        \ transfers, and other electronic transactions."
    CashPayments:
      type: array
      items:
        $ref: "#/components/schemas/CashPayment"
    CheckPayment:
      type: object
      properties:
        check_payment_key:
          type: string
          description: A unique key for the check payment.
          example: "840277003305385995"
        check_payment_id:
          type: string
          description: The unique ID for the check payment.
          example: "840277003305385996"
        confirm_account_number:
          type: string
          description: The confirmed bank account number for the payment.
          example: "83"
        bank_beneficiary:
          $ref: "#/components/schemas/BankBeneficiary"
        billing_address:
          $ref: "#/components/schemas/Address"
        notes:
          $ref: "#/components/schemas/Memo"
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        preferred_indicator:
          type: boolean
          description: Indicates if this is the preferred payment method.
          example: false
      description: "Check payments including e-check, wiring, etc..."
    CheckPayments:
      type: array
      items:
        $ref: "#/components/schemas/CheckPayment"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CreditCard:
      type: object
      properties:
        credit_card_key:
          type: string
          description: The unique key for the credit card record.
          example: "840277003305385997"
        credit_card_id:
          type: string
          description: The unique ID of the credit card.
          example: "840277003305385998"
        card_number:
          type: string
          description: The full credit card number.
          example: "6"
        last_four:
          type: string
          description: The last four digits of the credit card number.
          example: "4242"
        finger_print:
          type: string
          description: A fingerprint or tokenized representation of the card.
          example: fp_8f3a2c91b7e64d10
        expiration_date:
          type: string
          description: The expiration date of the credit card.
          format: date
          example: 2026-05-06
        credit_card_type:
          $ref: "#/components/schemas/CreditCardTypes"
        network:
          type: string
          description: "The payment network of the credit card (e.g., Visa, Mastercard)."
          example: VISA
        funding_type:
          $ref: "#/components/schemas/FundingTypes"
        name_on_account:
          $ref: "#/components/schemas/PersonName"
        name_on_account_key:
          type: string
          description: The name of the person on the account.
          example: "840277003309580288"
        company_name_on_account:
          type: string
          description: The name of the company on the account.
          example: Global Auto Parts Inc.
        billing_address:
          $ref: "#/components/schemas/Address"
        billing_address_href:
          type: string
          description: The URI to the billing address resource.
          format: href
          example: https://api.example.com/resources/62801
        postal_code:
          type: string
          description: The postal code of the billing address.
          example: "30303"
        country_code:
          type: string
          description: The country code of the billing address.
          example: US
        credit_card_status_type:
          $ref: "#/components/schemas/CreditCardStatusTypes"
        preferred_indicator:
          type: boolean
          description: Indicates if this credit card is the preferred payment method.
          example: false
      description: Represents a credit card used for payments.
    CreditCardStatusTypes:
      type: string
      description: types of credit card status.
      example: ACTIVE
      enum:
      - ACTIVE
      - INACTIVE
      - VOID
      - EXPIRED
      - PENDING_ACTIVATION
      - OTHER
    CreditCardTypes:
      type: string
      description: types of credit cards.
      example: VISA
      enum:
      - VISA
      - MASTERCARD
      - AMERICAN_EXPRESS
      - DISCOVER
      - JCB
      - DINERS_CLUB
      - UNIONPAY
      - ELO
      - MAESTRO
      - SOLO
      - SWITCH
      - CARTE_BLANCHE
      - CORPORATE
      - PRIVATE
      - UNKNOWN
      - OTHER
    CreditCards:
      type: array
      items:
        $ref: "#/components/schemas/CreditCard"
    ElectronicPayment:
      type: object
      properties:
        electronic_payment_key:
          type: string
          description: A unique key for the electronic payment method.
          example: "840277003309580289"
        bank_beneficiary:
          $ref: "#/components/schemas/BankBeneficiary"
        bank_intermediary:
          $ref: "#/components/schemas/BankIntermediary"
        electronic_payment_id:
          type: string
          description: A unique ID for the electronic payment.
          example: "840277003309580290"
        notes:
          $ref: "#/components/schemas/Memo"
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        preferred_indicator:
          type: boolean
          description: Indicates whether this is the preferred electronic payment
            method.
          example: false
      description: "Electronic payments including e-check, wiring, etc..."
    ElectronicPayments:
      type: array
      items:
        $ref: "#/components/schemas/ElectronicPayment"
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: A unique identifier for this specific request.
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: Field-level validation errors or granular diagnostic information.
          example:
          - variance: 2000
            actual: 12000
            budget: 10000
            account: GL-1000
          - variance: -500
            actual: 4500
            budget: 5000
            account: GL-2000
          items:
            type: object
            properties:
              field:
                type: string
                description: The JSON path or field name that caused the error.
                example: payrollId
              issue:
                type: string
                description: The specific validation rule that failed.
                example: must be unique
              rejected_value:
                type: string
                description: The value that was sent and rejected (only if non-sensitive).
                example: "12345"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    FundingTypes:
      type: string
      description: types of fundings.
      example: DEBIT
      enum:
      - DEBIT
      - CREDIT
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          description: Current health status of the service.
          example: UP
        version:
          type: string
          description: Version of the deployed service.
          example: 2.0.0
      description: Standard health check response body
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          example: "840277003309580291"
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
          example: "840277003309580292"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        value:
          type: string
          description: The monetary or hours-based value of the event.
          example: user@example.com
        detail:
          type: string
          description: The monetary or hours-based value of the event.
          example: Primary identifier
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
          example: identifier_type value
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    LocationTypes:
      type: string
      description: types of locations.
      example: BOROUGH
      enum:
      - BOROUGH
      - PARISH
      - REGION
      - BOUNDARY
      - PROVINCE
      - VILLAGE
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - TELEMATICS
      - ADDRESS
      - NO_PREFERENCE
      - GPS
      - WAREHOUSE
      - DISTRICT
    Memo:
      type: array
      items:
        type: string
    PaymentMethod:
      type: object
      properties:
        default_indicator:
          type: boolean
          description: Indicates whether this is the default payment method.
          example: false
        payment_method_key:
          type: string
          description: A unique key for the payment method.
          example: "840277003309580293"
        payment_method_id:
          type: string
          description: The ID of the payment method.
          example: "840277003309580294"
        electronic_payments:
          $ref: "#/components/schemas/ElectronicPayments"
        credit_cards:
          $ref: "#/components/schemas/CreditCards"
        check_payments:
          $ref: "#/components/schemas/CheckPayments"
        reward_payments:
          $ref: "#/components/schemas/RewardPayments"
        cash_payments:
          $ref: "#/components/schemas/CashPayments"
        platform_payments:
          $ref: "#/components/schemas/PlatformPayments"
      description: " How you physically or electronically transfer the money. This\
        \ is what I initially listed: ACH, wire transfer, credit card, check, etc.\
        \ They are the tools used to execute a payment."
    PaymentMethodCreate:
      required:
      - payment_method_key
      type: object
      description: PaymentMethod Create for Post
      allOf:
      - $ref: "#/components/schemas/PaymentMethod"
    PaymentMethodUpdate:
      type: object
      properties:
        default_indicator:
          type: boolean
          description: Indicates whether this is the default payment method.
          example: false
        cash_payments:
          $ref: "#/components/schemas/CashPayments"
        credit_cards:
          $ref: "#/components/schemas/CreditCards"
        electronic_payments:
          $ref: "#/components/schemas/ElectronicPayments"
        reward_payments:
          $ref: "#/components/schemas/RewardPayments"
        check_payments:
          $ref: "#/components/schemas/CheckPayments"
        platform_payments:
          $ref: "#/components/schemas/PlatformPayments"
      description: PaymentMethod Update for Patch and Put
    PaymentStatusTypes:
      type: string
      description: types of payment status.
      example: CREATED
      enum:
      - CREATED
      - SCHEDULED
      - SUBMITTED
      - FRAUD_REVIEW
      - PROCESSING
      - SUCCEEDED
      - CLEARED
      - COMPLETED
      - PAID
      - REFUNDED
      - VOIDED
      - CANCELLED
      - REJECTED
      - DENIED
      - FAILED
      - EXPIRED
      - DEFERRED
      - RETURNED
      - INACTIVE
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
[...]
