openapi: 3.0.1
info:
  title: Automotive Retail Systems API - PaymentMethod
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    Address:
      type: object
      properties:
        address_locales:
          $ref: "#/components/schemas/AddressLocales"
        priority:
          maxLength: 10
          minLength: 1
          type: string
          description: "Priority indicator for address usage (e.g., billing, shipping)."
          example: "1"
        city_code:
          maxLength: 20
          minLength: 1
          type: string
          description: Standardized city code.
        address_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business key for the address.
        address_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier for the address record.
        address_input:
          maxLength: 255
          minLength: 1
          type: string
          description: Raw input provided for address processing or validation.
        address_line1:
          maxLength: 100
          minLength: 1
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          maxLength: 100
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line4:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line5:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        city:
          maxLength: 100
          minLength: 1
          type: string
          description: Name of the city.
        city_subdivision:
          maxLength: 100
          type: string
          description: "Subdivision within the city (e.g., neighborhood, district)."
        country:
          maxLength: 100
          minLength: 2
          type: string
          description: Full name of the country.
        country_code:
          maxLength: 2
          minLength: 2
          type: string
          description: ISO 3166-1 Alpha-2 country code.
        county:
          maxLength: 100
          type: string
          description: Name of the county.
        county_code:
          maxLength: 20
          type: string
          description: Standardized code for the county.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        position:
          $ref: "#/components/schemas/Position"
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        postal_code_ext:
          maxLength: 10
          type: string
          description: "Extended postal code (e.g., ZIP+4)."
        preferred_indicator:
          type: boolean
          description: Flag indicating if this address is the preferred address.
          example: false
        region:
          maxLength: 50
          type: string
          description: "Administrative region (e.g., province, state)."
        state:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: Address represents a physical or mailing location associated with
        a party or warehouse.
    AddressLocale:
      type: object
      properties:
        address_locale_key:
          type: string
          description: Business key for the address locale.
        address_locale_id:
          type: string
          description: Unique identifier for the address locale.
        region_code:
          type: string
          description: Code representing the region for the locale.
        region_name:
          type: string
          description: Name of the region for the locale.
        region_aliases:
          $ref: "#/components/schemas/Codes"
        location_type:
          $ref: "#/components/schemas/LocationTypes"
      description: External system address locale including region and location type.
    AddressLocales:
      type: array
      items:
        $ref: "#/components/schemas/AddressLocale"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:18:21Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BankAccountTypes:
      type: string
      description: types of bank accounts.
      enum:
      - CHECKING
      - SAVING
      - MONEY_MARKET
      - CD
      - BROKERAGE
      - RETIREMENT
      - OTHER
    BankBeneficiary:
      type: object
      properties:
        bank_beneficiary_key:
          type: string
          description: A unique key for the bank beneficiary record.
        account_number:
          type: string
          description: The bank account number of the beneficiary.
        address_desc:
          type: string
          description: A description of the beneficiary's address.
        bank_account_type:
          $ref: "#/components/schemas/BankAccountTypes"
        bank_branch_address_desc:
          type: string
          description: A description of the bank branch address.
        bank_country:
          type: string
          description: The country of the bank.
        bank_name:
          type: string
          description: The name of the bank.
        bank_swift_code:
          type: string
          description: The bank's SWIFT code.
        branch_number:
          type: string
          description: The bank branch number.
        budget_code:
          type: string
          description: The budget code associated with the payment.
        contact_channel_desc:
          type: string
          description: A description of the contact channel for the beneficiary.
        electronic_payment_id:
          type: string
          description: The ID for the electronic payment.
        notes:
          $ref: "#/components/schemas/Memo"
        purpose_of_payment:
          type: string
          description: The purpose of the payment.
        routing_number:
          type: string
          description: The bank's routing number.
      description: Beneficiary for Bank Payment...
    BankIntermediary:
      type: object
      properties:
        bank_intermediary_key:
          type: string
          description: The unique key for the bank intermediary record.
        bank_intermediary_id:
          type: string
          description: The unique ID for the bank intermediary.
        financial_institution_name:
          type: string
          description: The name of the financial institution.
        financial_institution_address:
          type: string
          description: The address of the financial institution.
        account_number:
          type: string
          description: The account number at the intermediary bank.
        bank_swift_code:
          type: string
          description: The SWIFT/BIC code of the bank.
        bank_identifier_code:
          type: string
          description: The Bank Identifier Code (BIC).
        routing_number:
          type: string
          description: The routing number for the bank.
        notes:
          $ref: "#/components/schemas/Memo"
      description: "Represents an intermediary bank for electronic payments, including\
        \ details for e-checks, wire transfers, and other electronic transactions."
    CashPayment:
      type: object
      properties:
        cash_payment_key:
          type: string
          description: The unique key for the cash payment record.
        cash_payment_id:
          type: string
          description: The unique ID for the cash payment.
        cash_from:
          type: string
          description: The origin of the cash payment.
        cash_to:
          type: string
          description: The destination of the cash payment.
        cash_for:
          type: string
          description: A description of what the cash payment is for.
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        preferred_indicator:
          type: boolean
          description: A boolean indicator for whether this is the preferred cash
            payment method.
          example: false
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        notes:
          $ref: "#/components/schemas/Memo"
      description: "Represents a cash payment, including details for e-cash, wire\
        \ transfers, and other electronic transactions."
    CashPayments:
      type: array
      items:
        $ref: "#/components/schemas/CashPayment"
    CheckPayment:
      type: object
      properties:
        check_payment_key:
          type: string
          description: A unique key for the check payment.
        check_payment_id:
          type: string
          description: The unique ID for the check payment.
        confirm_account_number:
          type: string
          description: The confirmed bank account number for the payment.
        bank_beneficiary:
          $ref: "#/components/schemas/BankBeneficiary"
        billing_address:
          $ref: "#/components/schemas/Address"
        notes:
          $ref: "#/components/schemas/Memo"
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        preferred_indicator:
          type: boolean
          description: Indicates if this is the preferred payment method.
          example: false
      description: "Check payments including e-check, wiring, etc..."
    CheckPayments:
      type: array
      items:
        $ref: "#/components/schemas/CheckPayment"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CreditCard:
      type: object
      properties:
        credit_card_key:
          type: string
          description: The unique key for the credit card record.
        credit_card_id:
          type: string
          description: The unique ID of the credit card.
        card_number:
          type: string
          description: The full credit card number.
        last_four:
          type: string
          description: The last four digits of the credit card number.
        finger_print:
          type: string
          description: A fingerprint or tokenized representation of the card.
        expiration_date:
          type: string
          description: The expiration date of the credit card.
          format: date
        credit_card_type:
          $ref: "#/components/schemas/CreditCardTypes"
        network:
          type: string
          description: "The payment network of the credit card (e.g., Visa, Mastercard)."
        funding_type:
          $ref: "#/components/schemas/FundingTypes"
        name_on_account:
          $ref: "#/components/schemas/PersonName"
        name_on_account_key:
          type: string
          description: The name of the person on the account.
        company_name_on_account:
          type: string
          description: The name of the company on the account.
        billing_address:
          $ref: "#/components/schemas/Address"
        billing_address_href:
          type: string
          description: The URI to the billing address resource.
          format: href
        postal_code:
          type: string
          description: The postal code of the billing address.
        country_code:
          type: string
          description: The country code of the billing address.
        credit_card_status_type:
          $ref: "#/components/schemas/CreditCardStatusTypes"
        preferred_indicator:
          type: boolean
          description: Indicates if this credit card is the preferred payment method.
          example: false
      description: Represents a credit card used for payments.
    CreditCardStatusTypes:
      type: string
      description: types of credit card status.
      enum:
      - ACTIVE
      - INACTIVE
      - VOID
      - EXPIRED
      - PENDING_ACTIVATION
      - OTHER
    CreditCardTypes:
      type: string
      description: types of credit cards.
      enum:
      - VISA
      - MASTERCARD
      - AMERICAN_EXPRESS
      - DISCOVER
      - JCB
      - DINERS_CLUB
      - UNIONPAY
      - ELO
      - MAESTRO
      - SOLO
      - SWITCH
      - CARTE_BLANCHE
      - CORPORATE
      - PRIVATE
      - UNKNOWN
      - OTHER
    CreditCards:
      type: array
      items:
        $ref: "#/components/schemas/CreditCard"
    ElectronicPayment:
      type: object
      properties:
        electronic_payment_key:
          type: string
          description: A unique key for the electronic payment method.
        bank_beneficiary:
          $ref: "#/components/schemas/BankBeneficiary"
        bank_intermediary:
          $ref: "#/components/schemas/BankIntermediary"
        electronic_payment_id:
          type: string
          description: A unique ID for the electronic payment.
        notes:
          $ref: "#/components/schemas/Memo"
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        preferred_indicator:
          type: boolean
          description: Indicates whether this is the preferred electronic payment
            method.
          example: false
      description: "Electronic payments including e-check, wiring, etc..."
    ElectronicPayments:
      type: array
      items:
        $ref: "#/components/schemas/ElectronicPayment"
    FundingTypes:
      type: string
      description: types of fundings.
      enum:
      - DEBIT
      - CREDIT
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    List:
      type: array
      items:
        type: string
    LocationTypes:
      type: string
      description: types of locations.
      enum:
      - BOROUGH
      - PARISH
      - REGION
      - BOUNDARY
      - PROVINCE
      - VILLAGE
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - TELEMATICS
      - ADDRESS
      - NO_PREFERENCE
      - GPS
      - WAREHOUSE
      - DISTRICT
    Memo:
      type: array
      items:
        type: string
    PaymentMethod:
      type: object
      properties:
        default_indicator:
          type: boolean
          description: Indicates whether this is the default payment method.
          example: false
        payment_method_key:
          type: string
          description: A unique key for the payment method.
        payment_method_id:
          type: string
          description: The ID of the payment method.
        electronic_payments:
          $ref: "#/components/schemas/ElectronicPayments"
        credit_cards:
          $ref: "#/components/schemas/CreditCards"
        check_payments:
          $ref: "#/components/schemas/CheckPayments"
        reward_payments:
          $ref: "#/components/schemas/RewardPayments"
        cash_payments:
          $ref: "#/components/schemas/CashPayments"
        platform_payments:
          $ref: "#/components/schemas/PlatformPayments"
      description: " How you physically or electronically transfer the money. This\
        \ is what I initially listed: ACH, wire transfer, credit card, check, etc.\
        \ They are the tools used to execute a payment."
    PaymentStatusTypes:
      type: string
      description: types of payment status.
      enum:
      - CREATED
      - SCHEDULED
      - SUBMITTED
      - FRAUD_REVIEW
      - PROCESSING
      - SUCCEEDED
      - CLEARED
      - COMPLETED
      - PAID
      - REFUNDED
      - VOIDED
      - CANCELLED
      - REJECTED
      - DENIED
      - FAILED
      - EXPIRED
      - DEFERRED
      - RETURNED
      - INACTIVE
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PlatformPayment:
      type: object
      properties:
        platform_payment_key:
          type: string
          description: A unique key for the platform payment.
        platform_payment_id:
          type: string
          description: The unique ID assigned to the payment by the platform.
        platform_name:
          type: string
          description: "The name of the platform used for the payment (e.g., 'Circle',\
            \ 'PayPal')."
        settlement_currency:
          type: string
          description: The currency in which the payment is settled.
        merchant_wallet_id:
          type: string
          description: The ID of the merchant's wallet on the payment platform.
        merchant_id:
          type: string
          description: The unique ID of the merchant within the platform.
        source_type:
          type: string
          description: "The type of payment source (e.g., 'credit_card', 'bank_account')."
        source_id:
          type: string
          description: The unique ID of the payment source within the platform.
        source_addr:
          type: string
          description: The address of the payment source.
        payment_method_key:
          type: string
          description: A reference key to the associated payment method.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
      description: "Information for payments made via a third-party platform (e.g.,\
        \ Circle, PayPal, Stripe)."
    PlatformPayments:
      type: array
      items:
        $ref: "#/components/schemas/PlatformPayment"
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          maxLength: 20
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    RewardEventTypes:
      type: string
      description: types of reward events.
      enum:
      - REDEEM
      - EARN
      - NONE
      - EXPIRE
      - TRANSFER_CREDIT
      - TRANSFER_DEBIT
      - BONUS
      - CREDIT
      - DEBIT
    RewardPayment:
      type: object
      properties:
        reward_payment_key:
          type: string
          description: The unique key for the reward payment record.
        reward_payment_id:
          type: string
          description: The unique ID for the reward payment.
        reward_key:
          type: string
          description: The unique key for the reward.
        reward_name:
          type: string
          description: The name of the reward.
        occurrence_date:
          type: string
          description: The date and time the reward payment occurred.
          format: date
        as_of_date:
          type: string
          description: The effective date of the reward.
          format: date
        expiration_date:
          type: string
          description: The expiration date of the reward.
          format: date
        currency_indicator:
          type: boolean
          description: A boolean indicator for whether the reward is in currency.
          example: false
        reward_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        reward_payment_description:
          $ref: "#/components/schemas/Memo"
        reward_event_type:
          $ref: "#/components/schemas/RewardEventTypes"
      description: "Represents information about a reward payment, including its details,\
        \ dates, and related metadata."
    RewardPayments:
      type: array
      items:
        $ref: "#/components/schemas/RewardPayment"
