openapi: 3.0.1
info:
  title: Automotive Retail Systems API - PartSearchCriteria
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AdvanceSearchTypes:
      type: string
      description: types of advance searchs.
      enum:
      - BARCODE_SCANNED_VALUE
      - PRODUCT_IMAGE_URL
      - NATURAL_LANGUAGE_QUERY
      - FREE_TEXT_SEARCH
      - WILDCARD_SEARCH_TERM
      - AI_INFERRED_KEYWORDS
      - SEARCH_INTENT_KEYWORDS
      - OCR_TEXT
    AdvanceSearchValue:
      type: object
      properties:
        advance_search_value_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier ID for the supersession event
        search_type:
          $ref: "#/components/schemas/AdvanceSearchTypes"
        value:
          type: string
          description: "The specific value associated with the search type (e.g.,\
            \ barcode string, image URL, natural language text)."
          example: "4006381333333"
      description: "Represents a single advanced search input, combining a specific\
        \ search type with its corresponding value."
    AdvanceSearchValues:
      type: array
      items:
        $ref: "#/components/schemas/AdvanceSearchValue"
    AdvancedSearchCriteria:
      type: object
      properties:
        advanced_search_criteria_id:
          type: string
          description: Unique identifier ID for the supersession event
        advanced_search_criteria_key:
          type: string
          description: Unique identifier ID for the supersession event
        custom_tags:
          $ref: "#/components/schemas/Identifiers"
        wildcard_search_term:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        fuzzy_search_enabled:
          type: boolean
          description: "If true, enables fuzzy matching for text-based searches."
          example: true
        part_master_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductStageTypes"
        include_assembly_components:
          type: boolean
          description: "If true, search results will include individual components\
            \ that make up an assembly."
          example: false
        image_search_confidence_threshold:
          type: string
          description: Minimum confidence score (0.0 to 1.0) for results from an AI-driven
            image search to be considered relevant. Applicable if PRODUCT_IMAGE_URL
            is one of the advanced search values.
          example: "0.75"
        exclude_keywords:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        advanced_search_values:
          $ref: "#/components/schemas/AdvanceSearchValues"
      description: Criteria for advanced and specialized search functionalities.
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:19:35Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-07T17:19:35Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-07T17:19:35Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    List:
      type: array
      items:
        $ref: "#/components/schemas/PartyRelationshipTypes"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: not nullable
    PartConditionGradeTypes:
      type: string
      description: types of part condition grades.
      enum:
      - EXCELLENT
      - LIKE_NEW
      - VERY_GOOD
      - GOOD
      - ACCEPTABLE
      - FAIR
      - POOR
      - DAMAGED
      - UNGRADED
      - OTHER
    PartConditionTypes:
      type: string
      description: types of part conditions.
      enum:
      - NEW
      - NEW_OLD_STOCK
      - REMANUFACTURED
      - REBUILT
      - REFURBISHED
      - USED
      - SALVAGE
      - DAMAGED_MINOR
      - DAMAGED_COSMETIC
      - SCRAP
      - COLLECTIBLE
      - OTHER
    PartIdentifier:
      type: object
      properties:
        part_identifier_key:
          type: string
          description: Unique key identifying the part identifier
        part_identifier_id:
          type: string
          description: Unique identifier ID for the part identifier
        part_source:
          type: string
          description: Unique identifier ID for the source of the part
        part_identifier_type:
          $ref: "#/components/schemas/PartIdentifierTypes"
        part_identifier_value:
          type: string
          description: Value of the part identifier
        description:
          type: string
          description: Optional description for the part identifier
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_names:
          $ref: "#/components/schemas/PartNames"
        part_status_type:
          $ref: "#/components/schemas/PartStatusTypes"
      description: nullable
    PartIdentifierTypes:
      type: string
      description: types of part identifiers.
      enum:
      - VIN
      - SKU
      - UPCA
      - UPCE
      - ISBN
      - MPN
      - CONFIG_CODE
      - MFR_CODE
      - ALT_CODE
      - STOCK_NBR
      - UNIV_CODE
      - PRODUCT_CODE
      - CATALOG_CODE
      - NAME
      - NUMBER
      - PREFIX
      - COUNTRY_OF_ORIGIN_CODE
      - MODEL_CODE
      - MAKE_CODE
      - YEAR_CODE
      - MARKET_DIVISION_CODE
      - TRIM_CODE
      - STYLE_CODE
      - SUB_MODEL_CODE
      - ENGINE_CODE
      - TRANSMISSION_CODE
      - DRAWING_NUMBER
      - OTHER
    PartIdentifiers:
      type: array
      items:
        $ref: "#/components/schemas/PartIdentifier"
    PartInventoryOrderTypes:
      type: string
      description: types of part inventory orders.
      enum:
      - LOCATE
      - RELOCATE
      - CYCLE_COUNT
      - STOCK_ROTATION
      - ALLOCATE_RESERVE
      - REPLENISH
      - CONSOLIDATE_INVENTORY
      - INBOUND
      - RECEIVING
      - STORAGE
      - WAREHOUSE_MANAGEMENT
      - ORDER_FULFILLMENT
      - OUTBOUND
      - REVERSE_LOGISTICS
      - RETURNS_ACTIONS
      - MAINTENANCE
      - DISPOSITION
      - INVENTORY_SNAPSHOT
      - PRE_ORDER
      - BACK_ORDERED
      - PENDING
      - PROCESSING
      - SHIPPED
      - DELIVERED
      - CANCELLED
      - RETURNED_ORDER
      - NO_LONGER_AVAILABLE
    PartLifecycle:
      type: object
      properties:
        part_lifecycle_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier ID for the part lifecycle
        part_lifecycle_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key for the part lifecycle
        is_superseded:
          type: boolean
          description: Indicator whether the part has been superseded
          example: false
        event_date:
          type: string
          description: The date on which this event occurred
          format: date
        reason:
          maxLength: 255
          type: string
          description: The reason for this part event occurred
        part_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartStatusTypes"
        super_sessions:
          $ref: "#/components/schemas/SuperSessions"
      description: "The Lifecycle of a Part, including its current status and details\
        \ related to supersession."
    PartLifecycles:
      type: array
      items:
        $ref: "#/components/schemas/PartLifecycle"
    PartLogisticsCriteria:
      type: object
      properties:
        part_logistics_criteria_id:
          type: string
          description: Maximum distance value from the origin to search for parts.
          example: "50.0"
        part_logistics_criteria_key:
          type: string
          description: Maximum distance value from the origin to search for parts.
          example: "50.0"
        warehouse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/WarehouseTypes"
        location_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        max_distance_uom:
          $ref: "#/components/schemas/UomLengthTypes"
        max_distance_value:
          type: string
          description: Maximum distance value from the origin to search for parts.
          example: "50.0"
        origin_latitude:
          type: number
          description: Latitude of the origin point for distance calculations.
          format: double
          example: 34.0522
        origin_longitude:
          type: number
          description: Longitude of the origin point for distance calculations.
          format: double
          example: -118.2437
        estimated_availability_date_range:
          $ref: "#/components/schemas/EffectivePeriod"
        shipping_method_type:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ShippingMethodTypes"
        requires_pickup:
          type: boolean
          description: "If true, only locations allowing customer pickup are considered."
          example: false
        warehouses:
          $ref: "#/components/schemas/Identifiers"
      description: Criteria for filtering by part availability and specific locations.
    PartName:
      type: object
      properties:
        part_name_id:
          type: string
          description: Unique identifier for the part name
        part_name_key:
          type: string
          description: Business key for the part name
        part_prefix:
          $ref: "#/components/schemas/Codes"
        part_suffix:
          $ref: "#/components/schemas/Codes"
        description:
          type: string
          description: Description of the part name
        language:
          $ref: "#/components/schemas/Codes"
        locale:
          $ref: "#/components/schemas/Codes"
        alias:
          $ref: "#/components/schemas/Codes"
        long_name:
          $ref: "#/components/schemas/Codes"
        marketing_name:
          $ref: "#/components/schemas/Codes"
        part_name_type:
          $ref: "#/components/schemas/PartNameTypes"
        part_number:
          $ref: "#/components/schemas/Codes"
      description: nullable
    PartNameTypes:
      type: string
      description: types of part names.
      enum:
      - GENERIC
      - MANUFACTURING
      - MARKETING
      - CORE
      - REMANUFACTURING
      - OEM
      - AFTERMARKET
      - SUPERSEDING
      - SUPERSEDED
    PartNames:
      type: array
      items:
        $ref: "#/components/schemas/PartName"
    PartOrderConfigTypes:
      type: string
      description: types of part order configs.
      enum:
      - SINGLE
      - MULTIPLE_SPLIT
      - MULTIPLE_MERGE
      - VARIABLE_SPLIT
      - VARIABLE_MERGE
      - NOT_AVAILABLE
    PartPriceCriteria:
      type: object
      properties:
        part_price_criteria_id:
          type: string
          description: "Descriptive name or keyword for the part (e.g., 'Brake Rotor',\
            \ 'Oil Filter')."
          example: Front Brake Rotor
        part_price_criteria_key:
          type: string
          description: "Descriptive name or keyword for the part (e.g., 'Brake Rotor',\
            \ 'Oil Filter')."
          example: Front Brake Rotor
        min_price:
          type: string
          description: Minimum price of the part.
          example: "10.00"
        max_price:
          type: string
          description: Maximum price of the part.
          example: "100.00"
        currency:
          type: string
          description: "Currency for price filtering (e.g., 'USD', 'EUR')."
          example: USD
        core_charge_applicable:
          type: boolean
          description: "If true, only parts with an applicable core charge are returned.\
            \ If false, parts without core charge."
          example: true
        warranty_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/WarrantyTypes"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
      description: Criteria for filtering by commercial terms and logistics details.
    PartSearchCriteria:
      type: object
      properties:
        part_search_criteria_id:
          type: string
          description: "Descriptive name or keyword for the part (e.g., 'Brake Rotor',\
            \ 'Oil Filter')."
          example: Front Brake Rotor
        part_search_criteria_key:
          type: string
          description: "Descriptive name or keyword for the part (e.g., 'Brake Rotor',\
            \ 'Oil Filter')."
          example: Front Brake Rotor
        part_identifiers:
          $ref: "#/components/schemas/PartIdentifiers"
        part_names:
          $ref: "#/components/schemas/PartNames"
        part_condition_type:
          $ref: "#/components/schemas/PartConditionTypes"
        part_condition_grade_type:
          $ref: "#/components/schemas/PartConditionGradeTypes"
        part_price_criteria:
          $ref: "#/components/schemas/PartPriceCriteria"
        part_specification_criterias:
          $ref: "#/components/schemas/PartSpecifications"
        part_logistics_criteria:
          $ref: "#/components/schemas/PartLogisticsCriteria"
        vendor_names:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        part_lifecycles:
          $ref: "#/components/schemas/PartLifecycles"
        part_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartStatusTypes"
        part_inventory_action_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartInventoryOrderTypes"
        part_master_action_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductStageTypes"
        advanced_search:
          $ref: "#/components/schemas/AdvancedSearchCriteria"
        warehouse_reference:
          $ref: "#/components/schemas/WarehouseReference"
      description: "Comprehensive criteria for searching parts across various domains,\
        \ including identification, logistics, specifications, pricing, and lifecycle."
    PartSpecification:
      type: object
      properties:
        part_specification_id:
          type: string
          description: Unique identifier ID for the supersession event
        part_specification_key:
          type: string
          description: Unique identifier ID for the supersession event
        part_name_type:
          $ref: "#/components/schemas/PartNameTypes"
        part_condition_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartConditionTypes"
        part_condition_grade_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartConditionGradeTypes"
        unit_of_measures:
          $ref: "#/components/schemas/UnitOfMeasures"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        minimum_order_quantity:
          minimum: 0
          type: integer
          description: Minimum quantity allowed per order.
          format: int32
          example: 10
        fixed_order_quantity:
          minimum: 0
          type: integer
          description: Fixed quantity required for ordering this part.
          format: int32
          example: 25
        package_quantity:
          minimum: 0
          type: integer
          description: Quantity of items per package unit.
          format: int32
          example: 50
        item_quantity:
          minimum: 0
          type: integer
          description: "Base item quantity if the part represents multiple items (e.g.,\
            \ 2 for a pair)."
          format: int32
          example: 1
        product_package_type:
          $ref: "#/components/schemas/ProductPackageTypes"
      description: Criteria for filtering by specific part attributes and technical
        specifications.
    PartSpecifications:
      type: array
      items:
        $ref: "#/components/schemas/PartSpecification"
    PartStatusTypes:
      type: string
      description: types of part status.
      enum:
      - RECEIVE
      - INSPECT_INBOUND
      - DOCUMENT_RECEIPT
      - PUTAWAY
      - QUARANTINE_INBOUND
      - PICK
      - PACK
      - STAGE_SHIPMENT
      - LOAD_SHIPMENT
      - SHIP
      - DOCUMENT_SHIPMENT
      - SCRAP_DISPOSE
      - DISASSEMBLE
      - RETURN_RECEIVE
      - RETURN_INSPECT
      - RETURN_PUTAWAY
      - REFURBISH_REPAIR
      - RETURN_TO_BIN
      - DEFECTIVE_REMOVAL
      - ALLOCATE_TO_JOB
      - PICK_FOR_LABOR
      - STAGE_FOR_SERVICE
      - ISSUE_TO_TECH
      - INSTALLED
      - CORE_PENDING
      - CORE_RECEIVED
      - CROSS_DOCK
      - LABEL_TAG
      - KIT_ASSEMBLE
      - VALUE_ADDED_SERVICE
      - SUPERSEDE
      - SUPERSEDED
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-05-07T17:19:35Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - OTHER
    ProductConsumptionTypes:
      type: string
      description: types of product consumptions.
      enum:
      - USE_UP_STRATEGY
      - SCRAP_STRATEGY
      - PRE_PRODUCTION
    ProductPackageTypes:
      type: string
      description: types of product packages.
      enum:
      - SKU
      - COMPONENT
      - STANDALONE
      - ITEM
      - UNIT
      - OCCURRENCE
      - EACH
      - KIT
      - BUNDLE
      - GROUP
      - MIXED_BUNDLE
      - PURE_BUNDLE
      - SET
      - PACK
      - CASE
      - PALLET
      - SERVICE
      - SUBSCRIPTION
      - PRODUCT
    ProductStageTypes:
      type: string
      description: types of product stages.
      enum:
      - ACTIVE
      - DISCONTINUED
      - OBSOLETE
      - RECALLED
      - DAMAGED
      - DECOMMISSIONED
      - PENDING_APPROVAL
      - PRE_PRODUCTION
      - PENDING_OBSOLESCENCE
      - PROPOSED
      - PRE_RELEASE
      - SOURCING_CHALLENGE
      - UNDER_REVIEW
      - PHASED_OUT
      - PRELIMINARY_SUPERSESSION
      - FINAL_SUPERSESSION
    ShippingMethodTypes:
      type: string
      description: types of shipping methods.
      enum:
      - OVERNIGHT
      - GROUND
      - LOCAL_DELIVERY
      - TWO_DAY_AIR
      - THREE_DAY_SELECT
      - EXPRESS
      - INTERNATIONAL_STANDARD
      - INTERNATIONAL_EXPEDITED
      - FREIGHT
      - DOWNLOAD
      - PALLET_DELIVERY
      - PICKUP
      - SAME_DAY
      - ECONOMY
      - HAZMAT
      - TEMPERATURE_CONTROLLED
      - FREE_SHIPPING
      - FLAT_RATE
      - TABLE_RATE
      - CURBSIDE_PICKUP
      - LOCKER_DELIVERY
      - ECO_FRIENDLY
      - HYBRID_SHIPPING
      - AIR_FREIGHT
      - OCEAN_FREIGHT
      - RAIL_FREIGHT
    SuperSession:
      type: object
      properties:
        super_session_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier ID for the supersession event
        super_session_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key for the supersession event
        event_date:
          type: string
          description: The date on which this event occurred
          format: date
        prev_part_names:
          $ref: "#/components/schemas/PartNames"
        new_part_names:
          $ref: "#/components/schemas/PartNames"
        part_order_config_type:
          $ref: "#/components/schemas/PartOrderConfigTypes"
        quantity:
          type: string
          description: The quantity of the part affected by the supersession
        quantity_uom_type:
          $ref: "#/components/schemas/ProductPackageTypes"
        product_consumption_type:
          $ref: "#/components/schemas/ProductConsumptionTypes"
        product_stage_type:
          $ref: "#/components/schemas/ProductStageTypes"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        part_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartStatusTypes"
      description: "Represents a part supersession event, detailing the transition\
        \ from an old part to a new one."
    SuperSessions:
      type: array
      items:
        $ref: "#/components/schemas/SuperSession"
    TimeSlot:
      type: object
      properties:
        time_slot_id:
          type: string
          description: Technical unique identifier (GUID) for the time slot record.
          example: b2d3e4f5-a6b7-c8d9-e0f1-a2b3c4d5e6f7
        time_slot_key:
          type: string
          description: Natural business key for the time slot within its specific
            context.
          example: TS-MON-MORNING-SHIFT
        time_slot_source:
          type: string
          description: The originating system or calendar providing this availability
            data.
          example: GOOGLE_CALENDAR
        start_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        start_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local start time in 24-hour ISO 8601 format.
          format: date-time
        end_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        end_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local end time in 24-hour ISO 8601 format.
          format: date-time
        recurring_indicator:
          type: boolean
          description: Indicates if this time slot is part of a repeating pattern.
          example: true
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        week_of_date:
          $ref: "#/components/schemas/Codes"
      description: "Defines a specific window of time, often within a recurring schedule,\
        \ used for service availability or appointment booking."
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - UNKNOWN
    UnitOfMeasure:
      type: object
      properties:
        unit_of_measure_key:
          type: string
          description: Unit of Measure Value
        unit_name:
          type: string
          description: Unit of Measure
        uom_value:
          maxLength: 100
          minLength: 1
          type: string
          description: Unit of Measure Value
        uom_quantity_category_type:
          $ref: "#/components/schemas/UomQuantityCategoryTypes"
      description: value price with unit of measure
    UnitOfMeasures:
      type: array
      items:
        $ref: "#/components/schemas/UnitOfMeasure"
    UomLengthTypes:
      type: string
      description: types of uom lengths.
      enum:
      - ANGSTROM
      - A
      - NANOMETER
      - NORMAL_METRIC
      - MICRON
      - MILLIMETER
      - CENTIMETER
      - DECIMETER
      - METER
      - KILOMETER
      - YOTTAMETER
      - MILLI_INCH
      - INCH
      - FEET
      - YARD
      - HAND
      - LINK
      - CHAIN
      - SPAN
      - CUBIT
      - VARA
      - FATHOM
      - ROD
      - PERCH
      - POLE
      - FURLONG
      - CABLE
      - NAUTICAL_MILE
      - LEAGUE
      - DEGREE
      - PIXEL
      - MILE
      - MILES
      - KM
      - METER_SYN
      - CM
      - MM
    UomQuantityCategoryTypes:
      type: string
      description: types of uom quantity categorys.
      enum:
      - COUNT
      - WEIGHT
      - VOLUME
      - TIME
      - NET_WEIGHT
      - NET_VOLUME
      - PACKAGE_QUANTITY
      - MIN_ORDER_QUANTITY
      - GROSS_WEIGHT
      - GROSS_VOLUME
      - SHIPPING_WEIGHT
      - DIMENSIONAL_WEIGHT
      - MATERIAL
      - ELECTRICAL_RATING
      - DEFAULT_LEAD_TIME
      - MAX_LEAD_TIME
      - DIMENSION_UNIT
      - MIN_LENGTH
      - MAX_LENGTH
      - MIN_WIDTH
      - MAX_WIDTH
      - MIN_HEIGHT
      - MAX_HEIGHT
      - MIN_WEIGHT
      - MAX_WEIGHT
      - MAX_ORDER_QUANTITY
      - MIN_ORDER_AVAILABLE
      - DIMENSIONS
      - SHIPPING_DIM_LENGTH
      - SHIPPING_DIM_WIDTH
      - SHIPPING_DIM_HEIGHT
      - SHIPPING_DIM_GROSS_WEIGHT
      - SHIPPING_DIM_NET_WEIGHT
      - SHELF_LIFE_HOURS
      - EXPIRATION_DATE
      - MIN_PAYMENT_PERCENT
      - MIN_PAYMENT_AMOUNT
    WarehouseReference:
      type: object
      properties:
        location_reference_id:
          type: string
          description: Unique identifier value for the location reference record.
        location_reference_key:
          type: string
          description: Unique key value for the location reference record.
        warehouse_key:
          type: string
          description: The unique key identifying the referenced Warehouse or Location
            aggregate.
        context:
          type: string
          description: "Context or type of the location (e.g., 'WAREHOUSE', 'DEALERSHIP_BIN',\
            \ 'RECEIVING_DOCK')."
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: "The date and time the item was associated with this location\
            \ (e.g., received at this location)."
          format: date-time
          example: 2026-05-07T17:19:35Z
      description: Reference to a Warehouse or Inventory Location Aggregate Root.
    WarehouseTypes:
      type: string
      description: types of warehouses.
      enum:
      - DEALERSHIP
      - OEM_WAREHOUSE
      - PARTS_SUPPLIER
      - REGIONAL_DISTRIBUTION_CENTER
      - NATIONAL_DISTRIBUTION_CENTER
      - RETURN_CORE_CENTER
      - IN_HOUSE_PARTS_STORAGE
      - DISTRIBUTOR
      - THIRD_PARTY_LOGISTICS
      - AFTERMARKET_SUPPLIER
      - BODY_SHOP_WAREHOUSE
      - TIRES_ONLY_DISTRIBUTION
      - ACCESSORY_WAREHOUSE
      - USED_PARTS_YARD
      - MOBILE_PARTS_UNIT
      - OTHER
    WarrantyTypes:
      type: string
      description: types of warrantys.
      enum:
      - MANUFACTURER
      - DEALER
      - EXTENDED
      - CERTIFIED_PRE_OWNED
      - POWERTRAIN
      - CORROSION
      - HYBRID_EV_COMPONENT
      - LIMITED
      - LIFETIME
      - NO_WARRANTY
      - OTHER
