openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_value:
          type: string
          description: The unique value of the address referenc...
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, et..."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
        code:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
        description:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication cha...
        communication_channel_id:
          type: string
          description: The unique ID for the communication chan...
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: The value of the communication channel (...
        value_extension:
          type: string
          description: An optional extension for the communicat...
        label:
          type: string
          description: A label for the communication channel (e...
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is t...
          example: false
        preferences:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeSlot"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelCreate:
      required:
      - communication_channel_key
      type: object
      description: CommunicationChannel Create for Post
      allOf:
      - $ref: "#/components/schemas/CommunicationChannel"
    CommunicationChannelTypes:
      type: string
      description: Defines the various types of communication chan...
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannelUpdate:
      type: object
      properties:
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        preferences:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeSlot"
        label:
          type: string
          description: A label for the communication channel (e...
        locale:
          $ref: "#/components/schemas/Locale"
        value:
          type: string
          description: The value of the communication channel (...
        value_extension:
          type: string
          description: An optional extension for the communicat...
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is t...
          example: false
      description: CommunicationChannel Update for Patch and Put
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-03-23T22:14:04Z
      description: External system identifier
    CreditReference:
      type: object
      properties:
        credit_reference_id:
          type: string
          description: Unique identifier value
        credit_reference_key:
          type: string
          description: Unique identifier value
        credit_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-03-23T22:14:04Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity ...
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity ...
          example: false
      description: External system identifier
    CreditReferences:
      type: array
      items:
        $ref: "#/components/schemas/CreditReference"
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currenc...
        currency_exchange_key:
          type: string
          description: Natural key or business identifier for t...
        source_currency:
          type: string
          description: Human-readable display value for the sou...
        target_currency:
          type: string
          description: Human-readable display value for the sou...
        currency_exchange_desc:
          type: string
          description: A descriptive title for the currencyExch...
        exchange_rate:
          type: string
          description: Human-readable display value for the sou...
        rate_date_time:
          type: string
          description: The date and time the rate was associate...
          format: date-time
          example: 2026-03-23T22:14:04Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DaysOfWeekTypes:
      type: string
      description: Status of the account
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DiscountMetricValue:
      type: object
      properties:
        uom:
          $ref: "#/components/schemas/UnitOfMeasureTypes"
        value:
          type: string
          description: The numeric value of the metric.
          example: "5551235545"
        locales:
          $ref: "#/components/schemas/Codes"
        metric_value_key:
          type: string
          description: Unique identifier for the metric value.
          example: METRIC_KEY_ABC
      description: value price with unit of measure
    DiscountMetricValueCreate:
      required:
      - discount_metric_value_key
      type: object
      description: DiscountMetricValue Create for Post
      allOf:
      - $ref: "#/components/schemas/DiscountMetricValue"
    DiscountMetricValueUpdate:
      type: object
      properties:
        uom:
          $ref: "#/components/schemas/UnitOfMeasureTypes"
        locales:
          $ref: "#/components/schemas/Codes"
        value:
          type: string
          description: The numeric value of the metric.
          example: "5551235545"
      description: DiscountMetricValue Update for Patch and Put
    DiscountMetricValues:
      type: array
      items:
        $ref: "#/components/schemas/DiscountMetricValue"
    DiscountReference:
      type: object
      properties:
        discount_reference_id:
          type: string
          description: Unique identifier value
        discount_reference_key:
          type: string
          description: Unique identifier value
        discount_key:
          type: string
          description: Unique identifier value
        unit_count:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-03-23T22:14:04Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity ...
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity ...
          example: false
        discount_plan_name:
          type: string
          description: The display name of the discount for sea...
          example: Loyalty Rebate
        discount_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        discount_href:
          type: string
          description: Hyperlink to the full Discount entity fo...
          format: href
          example: /discounts/123
        discount_metric_values:
          $ref: "#/components/schemas/DiscountMetricValues"
        discount_price:
          $ref: "#/components/schemas/Price"
        capitalized_indicator:
          type: boolean
          description: Indicates if the discount is capitalized...
          example: true
        purchase_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderCategoryTypes"
        product_state_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductStateTypes"
        location_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    DiscountReferences:
      type: array
      items:
        $ref: "#/components/schemas/DiscountReference"
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      enum:
      - ONE_TIME
      - RECUR
      - MINUTES
      - HOURLY
      - DAILY
      - WEEKLY
      - BI_WEEKLY
      - SEMI_MONTHLY
      - MONTHLY
      - QUARTERLY
      - SEMI_YEAR
      - YEARLY
      - MULTI_YEAR
      - LIFETIME
      - CUSTOM
      - OTHER
    DurationUOMTypes:
      type: string
      description: types of duration u o ms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying ...
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently co...
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only..."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period ...
          format: date-time
          example: 2026-03-23T22:14:04Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (c...
          format: date-time
          example: 2026-03-23T22:14:04Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in IS...
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use ...
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of co...
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats b...
          example: true
        timeslot:
          $ref: "#/components/schemas/TimeSlot"
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    ExitConsiderationTypes:
      type: string
      description: types of exit considerations.
      enum:
      - BUYOUT_ALLOWED
      - RETURN_NOT_ALLOWED
      - RETURN_ALLOWED
      - BUYOUT_NOT_ALLOWED
    FeeReference:
      type: object
      properties:
        fee_reference_id:
          type: string
          description: Unique identifier value
        fee_reference_key:
          type: string
          description: Unique identifier value
        fee_key:
          type: string
          description: Unique identifier value
        unit_count:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        fee:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-03-23T22:14:04Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity ...
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity ...
          example: false
      description: External system identifier
    FeeReferences:
      type: array
      items:
        $ref: "#/components/schemas/FeeReference"
    FinancialCategoryReference:
      type: object
      properties:
        category_reference_id:
          type: string
          description: Unique identifier value for the financia...
        category_reference_key:
          type: string
          description: Unique key value for the financial categ...
        category_key:
          type: string
          description: The unique key identifying the reference...
        context:
          type: string
          description: Context or domain of the financial categ...
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financial category...
          format: date-time
          example: 2026-03-23T22:14:04Z
      description: "Reference to a Financial Category Aggregate Root (e.g., Revenue,\
        \ Expense, Asset)."
    FinancialCategoryReferences:
      type: array
      items:
        $ref: "#/components/schemas/FinancialCategoryReference"
    FinancialEvent:
      type: object
      properties:
        financial_event_id:
          type: string
          description: System-generated ID for the financial ev...
          example: FE-998877
        financial_event_key:
          type: string
          description: Unique key identifying this financial ev...
          example: fe_123456
        payment_provider:
          type: string
          description: The payment provider handling this trans...
          example: Stripe
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        from_voided_apcheck_indicator:
          type: boolean
          description: Indicates whether this event originated ...
          example: false
        confirmation_code:
          type: string
          description: Confirmation code for the financial tran...
          example: CNF-987654
        forecast_indicator:
          type: boolean
          description: Confirmation code for the financial tran...
          example: false
        payment_method_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        payment_methods_href:
          type: string
          description: Hyperlink reference to payment method de...
          format: href
          example: https://api.example.com/payment-methods/pm_123
        payment_method_key:
          type: string
          description: Unique key for the specific payment meth...
          example: pm_12345
        capability_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time when the financial eve...
          format: date-time
          example: 2026-03-23T22:14:04Z
        post_date:
          type: string
          description: The posting date of the financial transa...
          format: date
        transaction_date:
          type: string
          description: The date the transaction was executed.
          format: date
        batch_number:
          type: string
          description: The batch number associated with this tr...
          example: BATCH-2025-001
        previous_event_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTransactionStatusTypes"
        staff_id:
          type: string
          description: Identifier for the staff member who proc...
          example: staff_001
        provider_transaction_id:
          type: string
          description: Unique transaction ID from the payment p...
          example: txn_87654321
        event_description:
          $ref: "#/components/schemas/TextualDetail"
        reason_codes:
          $ref: "#/components/schemas/Codes"
        financial_event_type:
          $ref: "#/components/schemas/FinancialEventTypes"
        resource_type:
          $ref: "#/components/schemas/ResourceTypes"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        resource_keys:
          $ref: "#/components/schemas/Codes"
        transaction_hash:
          type: string
          description: Unique cryptographic hash of the transac...
          example: abc123def456
        tracking_ref:
          type: string
          description: Tracking reference for the transaction.
          example: track_98765
        transaction_ref:
          type: string
          description: Internal reference for the transaction.
          example: txn_ref_12345
        event_fee:
          type: string
          description: Fee amount associated with the financial...
          example: "5.00"
        amount:
          $ref: "#/components/schemas/Money"
        deposit_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        deposit_id:
          type: string
          description: Unique identifier for the deposit.
          example: dep_123456
        deposit_addr:
          type: string
          description: The deposit address for cryptocurrency o...
          example: 1A2b3C4d5E6f...
        seed_phrase:
          type: string
          description: The seed phrase associated with a wallet...
          example: correct horse battery staple
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        actor_id:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        financial_categories:
          $ref: "#/components/schemas/FinancialCategoryReferences"
      description: Payment details for this product.
    FinancialEventTypes:
      type: string
      description: types of financial events.
      enum:
      - PAYMENT_STATUS_CHANGE
      - REFUND_STATUS_CHANGE
      - RECURRING_PAYMENT_STATUS_CHANGE
      - PAYMENT_UPDATE
      - VOID
      - PAYMENT_CREATE
    FinancialEvents:
      type: array
      items:
        $ref: "#/components/schemas/FinancialEvent"
    FinancialSplit:
      type: object
      properties:
        financial_split_id:
          type: string
          description: Unique key identifying this financial ev...
          example: fe_123456
        financial_split_key:
          type: string
          description: Unique key identifying this financial ev...
          example: fe_123456
        reference_key:
          type: string
          description: Unique key identifying this financial ev...
          example: fe_123456
        price_name:
          type: string
          description: Unique key identifying this financial ev...
          example: fe_123456
        price_description:
          type: string
          description: Unique key identifying this financial ev...
          example: fe_123456
        price:
          $ref: "#/components/schemas/Price"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        financial_categories:
          $ref: "#/components/schemas/FinancialCategoryReferences"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        ledger_types:
          $ref: "#/components/schemas/FinancialTransactionTypes"
        price_type:
          $ref: "#/components/schemas/ProductPriceItemTypes"
        tax_splits:
          $ref: "#/components/schemas/TaxSplits"
        reward_references:
          $ref: "#/components/schemas/RewardReferences"
        credit_references:
          $ref: "#/components/schemas/CreditReferences"
        rebate_references:
          $ref: "#/components/schemas/RebateReferences"
        discount_references:
          $ref: "#/components/schemas/DiscountReferences"
        fee_references:
          $ref: "#/components/schemas/FeeReferences"
        parties:
          $ref: "#/components/schemas/PartyReferences"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: Payment details for this product.
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the referenc...
        financial_split_reference_key:
          type: string
          description: Unique key value for the reference recor...
        financial_split_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the reference...
        context:
          type: string
          description: Context or domain of the payment financi...
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        total:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was...
          format: date-time
          example: 2026-03-23T22:14:04Z
      description: Reference to a Payment FinancialSplit Aggregate Root.
    FinancialSplitReferenceCreate:
      required:
      - financial_split_reference_key
      type: object
      description: FinancialSplitReference Create for Post
      allOf:
      - $ref: "#/components/schemas/FinancialSplitReference"
    FinancialSplitReferenceUpdate:
      type: object
      properties:
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        total:
          $ref: "#/components/schemas/Identifier"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        context:
          type: string
          description: Context or domain of the payment financi...
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was...
          format: date-time
          example: 2026-03-23T22:14:04Z
      description: FinancialSplitReference Update for Patch and Put
    FinancialSplits:
      type: array
      items:
        $ref: "#/components/schemas/FinancialSplit"
    FinancialTrack:
      type: object
      properties:
        financial_track_id:
          type: string
          description: Internal transaction reference for this ...
          example: txn_ref_12345
        financial_track_key:
          type: string
          description: Internal transaction reference for this ...
          example: txn_ref_12345
        reference_key:
          type: string
          description: Purchase order ID associated with this t...
          example: PO-2025-10045
        financial_event_keys:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: Timestamp of the last update for this tr...
          format: date-time
          example: 2026-03-23T22:14:04Z
        actor_id:
          type: string
          description: Identifier of the actor who updated or i...
          example: actor_123
        financial_splits:
          $ref: "#/components/schemas/FinancialSplits"
      description: Financial tracking details for a line item or purchase order.
    FinancialTracks:
      type: array
      items:
        $ref: "#/components/schemas/FinancialTrack"
    FinancialTransactionTypes:
      type: string
      description: types of financial transactions.
      enum:
      - ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - EQUITY
      - INVENTORY
      - INTANGIBLE_ASSET
      - PREPAID_EXPENSE
      - INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - SALES_DISCOUNT
      - RETURNS
      - CASH_INFLOW
      - CASH_OUTFLOW
      - BANK_CHARGE
      - LOAN_RECEIVABLE
      - LOAN_PAYABLE
      - INVESTMENT
      - DIVIDEND
      - INTEREST_INCOME
      - INTEREST_EXPENSE
      - OBLIGATION_NOTE
      - OBLIGATION_CREDIT
      - OBLIGATION_TAX
      - OBLIGATION_OTHER
      - TAX_PAYABLE
      - DEFERRED_REVENUE
      - ACCRUED_EXPENSE
      - PROVISION
      - DEBIT
      - CREDIT
      - CAPITALIZATION
      - AMORTIZATION
      - VARIANCE
      - INVOICE
      - RECEIPT
      - RECEIVABLE_RECEIPT
      - DISBURSEMENT
      - TRANSFER
      - SERVICE
      - FEE
      - REBATE
      - OTHER
      - CUSTOM
    GeographicBoundaryReference:
      type: object
      properties:
        geographic_boundary_reference_id:
          type: string
          description: Unique identifier value for the referenc...
        geographic_boundary_reference_key:
          type: string
          description: Unique key value for the reference recor...
        geographic_boundary_key:
          type: string
          description: The unique key identifying the reference...
        context:
          type: string
          description: Context or domain of the payment schedul...
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was assoc...
          format: date-time
          example: 2026-03-23T22:14:04Z
      description: Reference to a Payment Schedule Aggregate Root.
    GeographicBoundaryReferenceCreate:
      required:
      - geographic_boundary_reference_key
      type: object
      description: GeographicBoundaryReference Create for Post
      allOf:
      - $ref: "#/components/schemas/GeographicBoundaryReference"
    GeographicBoundaryReferenceUpdate:
      type: object
      properties:
        identifier:
          $ref: "#/components/schemas/Identifier"
        context:
          type: string
          description: Context or domain of the payment schedul...
        occurrence_date_time:
          type: string
          description: The date and time the schedule was assoc...
          format: date-time
          example: 2026-03-23T22:14:04Z
      description: GeographicBoundaryReference Update for Patch and Put
    GeographicBoundaryReferences:
      type: array
      items:
        $ref: "#/components/schemas/GeographicBoundaryReference"
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the...
        detail:
          type: string
          description: The monetary or hours-based value of the...
        identifier_type:
          type: string
          description: The monetary or hours-based value of the...
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    IncentiveTypes:
      type: string
      description: types of incentives.
      enum:
      - DEALER
      - OEM
      - VENDOR
      - SUPPLIER
      - OTHER
    Invoice:
      type: object
      properties:
        order_ref_id:
          type: string
          description: Identifier of the associated Purchase Or...
          example: PO-2025-00001
        invoice_id:
          type: string
          description: Unique identifier for this specific part...
          example: pii_abc123xyz
        invoice_key:
          type: string
          description: A unique key for the parts invoice line ...
          example: PARTINVITEM-2023-001-A
        invoice_number:
          type: string
          description: A unique key for the parts invoice line ...
          example: PARTINVITEM-2023-001-A
        subject:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        description:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        ref_code:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        payment_authorizations:
          $ref: "#/components/schemas/PaymentAuthorizations"
        vat_number:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        invoice_date_time:
          type: string
          description: The date and time when was created.
          format: date-time
          example: 2026-03-23T22:14:04Z
        due_date_time:
          type: string
          description: The date and time when was created.
          format: date-time
          example: 2026-03-23T22:14:04Z
        post_date_time:
          type: string
          description: The date and time when was posted.
          format: date-time
          example: 2026-03-23T22:14:04Z
        create_date_time:
          type: string
          description: The date and time when was posted.
          format: date-time
          example: 2026-03-23T22:14:04Z
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        invoice_status_type:
          $ref: "#/components/schemas/InvoiceStatusTypes"
        priority:
          type: string
          description: The priority assigned to this line item ...
          example: HIGH
        locale:
          $ref: "#/components/schemas/Locale"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        shipment_references:
          $ref: "#/components/schemas/ShipmentReferences"
        financial_events:
          $ref: "#/components/schemas/FinancialEvents"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        trade_ins:
          $ref: "#/components/schemas/PartReferences"
        version:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        actor_id:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
        purchase_stage_type:
          $ref: "#/components/schemas/OrderStageTypes"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        total_quantity:
          type: string
          description: The total quantity of this specific part...
          example: "5"
        legal_terms:
          type: string
          description: The total quantity of this specific part...
          example: "5"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        payment_terms:
          $ref: "#/components/schemas/PaymentTermReferences"
        payment_schedules:
          $ref: "#/components/schemas/PaymentScheduleReferences"
        payment_method_references:
          $ref: "#/components/schemas/PaymentMethodReferences"
        invoice_items:
          $ref: "#/components/schemas/InvoiceItems"
        status:
          type: string
          description: Unique key value for the reference recor...
      description: not nullable
    InvoiceCreate:
      required:
      - invoice_key
      type: object
      description: Invoice Create for Post
      allOf:
      - $ref: "#/components/schemas/Invoice"
    InvoiceItem:
      type: object
      properties:
        invoice_item_id:
          type: string
          description: Unique identifier for this specific part...
          example: pii_abc123xyz
        line_number:
          type: string
          description: "An Invoice Line Number is a sequential, ..."
          example: PARTINVITEM-2023-001-A
        invoice_item_key:
          type: string
          description: A unique key for the parts invoice line ...
          example: PARTINVITEM-2023-001-A
        invoice_id:
          type: string
          description: The unique identifier of the parent invo...
          example: inv_789def456
        priority:
          type: string
          description: The priority assigned to this line item ...
          example: HIGH
        currency:
          type: string
          description: The currency code for the prices within ...
          example: USD
        locale:
          type: string
          description: The locale code relevant to this invoice...
          example: en_US
        location_code:
          type: string
          description: The code of the inventory location or br...
          example: WH001
        total_quantity:
          type: string
          description: The total quantity of this specific part...
          example: "5"
        item_date_time:
          type: string
          description: The date and time when this invoice item...
          format: date-time
          example: 2026-03-23T22:14:04Z
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        description:
          type: string
          description: A detailed description of the part inclu...
          example: Engine oil filter for model XYZ-123.
        address_reference:
          $ref: "#/components/schemas/AddressReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        item:
          $ref: "#/components/schemas/PartReference"
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        trade_ins:
          $ref: "#/components/schemas/PartReferences"
        order_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderTypes"
        part_invoice_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartInvoiceStatusTypes"
        financial_events:
          $ref: "#/components/schemas/FinancialEvents"
        balance_amount:
          type: string
          description: The balance due.
        base_amount:
          type: string
          description: The price before tax.
        total_amount:
          type: string
          description: Total price that was paid (after deducin...
        part_references:
          $ref: "#/components/schemas/PartReferences"
        journal_entry_key:
          type: string
          description: A link to the corresponding financial jo...
        status:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference recor...
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        shipment_references:
          $ref: "#/components/schemas/ShipmentReferences"
        part_condition_grade_type:
          $ref: "#/components/schemas/PartConditionGradeTypes"
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        financial_tracks:
          $ref: "#/components/schemas/FinancialTracks"
      description: not nullable
    InvoiceItems:
      type: array
      items:
        $ref: "#/components/schemas/InvoiceItem"
    InvoiceStatusTypes:
      type: string
      description: types of invoice status.
      enum:
      - DRAFT
      - PENDING_APPROVAL
      - ISSUED
      - ACKNOWLEDGED
      - PROCESSING_FULFILLMENT
      - BACKORDERED
      - PARTIALLY_SHIPPED
      - SHIPPED
      - DELIVERED
      - OPEN
      - PARTIALLY_PAID
      - PENDING_PAYMENT
      - OVERDUE
      - PAID
      - SETTLED
      - CLOSED
      - VOIDED
      - CANCELLED
      - DISPUTED
      - ON_HOLD
      - ADJUSTED
      - REFUNDED
      - DECLINED
    InvoiceTypes:
      type: string
      description: types of invoices.
      enum:
      - INVOICE
      - SERVICE_INVOICE
      - PART_INVOICE
      - LOAN
      - STANDARD
      - CREDIT_MEMO
      - DEBIT_MEMO
      - PRO_FORMA
      - COMMERCIAL
      - VEHICLE_SALE
      - SERVICE
      - PARTS
      - LEASE
      - FINANCE_CHARGE
      - WARRANTY_CLAIM
      - INSURANCE_CLAIM
      - STATEMENT
      - ADVANCE
      - FINAL
      - REPAIR
      - FUEL
      - RENTAL
      - SUBSCRIPTION
    InvoiceUpdate:
      type: object
      properties:
        invoice_items:
          $ref: "#/components/schemas/InvoiceItems"
        subject:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        vat_number:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        description:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        ref_code:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        invoice_status_type:
          $ref: "#/components/schemas/InvoiceStatusTypes"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        locale:
          $ref: "#/components/schemas/Locale"
        payment_terms:
          $ref: "#/components/schemas/PaymentTermReferences"
        payment_schedules:
          $ref: "#/components/schemas/PaymentScheduleReferences"
        payment_authorizations:
          $ref: "#/components/schemas/PaymentAuthorizations"
        invoice_date_time:
          type: string
          description: The date and time when was created.
          format: date-time
          example: 2026-03-23T22:14:04Z
        create_date_time:
          type: string
          description: The date and time when was posted.
          format: date-time
          example: 2026-03-23T22:14:04Z
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        financial_events:
          $ref: "#/components/schemas/FinancialEvents"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        purchase_stage_type:
          $ref: "#/components/schemas/OrderStageTypes"
        total_quantity:
          type: string
          description: The total quantity of this specific part...
          example: "5"
        invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
        invoice_number:
          type: string
          description: A unique key for the parts invoice line ...
          example: PARTINVITEM-2023-001-A
        legal_terms:
          type: string
          description: The total quantity of this specific part...
          example: "5"
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        shipment_references:
          $ref: "#/components/schemas/ShipmentReferences"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        priority:
          type: string
          description: The priority assigned to this line item ...
          example: HIGH
        post_date_time:
          type: string
          description: The date and time when was posted.
          format: date-time
          example: 2026-03-23T22:14:04Z
        version:
          type: string
          description: Identifier of the actor who initiated or...
          example: actor_123
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        due_date_time:
          type: string
          description: The date and time when was created.
          format: date-time
          example: 2026-03-23T22:14:04Z
        trade_ins:
          $ref: "#/components/schemas/PartReferences"
        payment_method_references:
          $ref: "#/components/schemas/PaymentMethodReferences"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        status:
          type: string
          description: Unique key value for the reference recor...
      description: Invoice Update for Patch and Put
    LedgerActionTypes:
      type: string
      description: types of ledger actions.
      enum:
      - DEBIT
      - CREDIT
      - TRANSFER
      - CUSTOM
      - OTHER
    Locale:
      type: object
      properties:
        locale_id:
          type: string
          description: Unique internal identifier for the local...
        locale_key:
          type: string
          description: "A unique, human-readable string key used..."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Jav...
        description:
          type: string
          description: A detailed description of the alert mess...
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          type: string
          description: The three-letter ISO 4217 currency code ...
        currency_symbol:
          type: string
          description: The graphical symbol used for the curren...
        timezone:
          type: string
          description: The IANA Time Zone database ID for regio...
        number_format:
          type: string
          description: Regional pattern for decimal and thousan...
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        location_code:
          type: string
          description: The code of the inventory location or br...
          example: WH001
      description: not nullable
    Memo:
      type: array
      items:
        type: string
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: The unique key for the monetary value.
        money_id:
          type: string
          description: The unique ID for the monetary value.
        currency_code:
          type: string
          description: "ISO currency code, e.g., 'USD'."
        display_value:
          type: string
          description: The locale-specific display format for t...
        locale:
          type: string
          description: "The locale code (e.g., en-US, fr-FR)."
        value:
          type: string
          description: The monetary value.
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    OrderCategoryTypes:
      type: string
      description: types of order categorys.
      enum:
      - RETAIL
      - WHOLESALE
      - E_COMMERCE
      - COMMERCIAL
      - GOVERNMENT
      - EDUCATIONAL
      - CONTRACT
      - SUBSCRIPTION
      - DIRECT
      - FLEET
      - TRADE_IN
      - LEASE
      - CUSTOM_ORDER
      - STANDARD
      - OTHER
    OrderStageTypes:
      type: string
      description: types of order stages.
      enum:
      - CREATION
      - VALIDATION
      - APPROVAL
      - ISSUE
      - RECONCILIATION
      - FULFILLMENT
      - SHIPPING
      - PAYMENT
      - EXCEPTION
      - RESOLUTION
      - HOLD
      - CANCELLATION
      - PAID_COMPLETE
      - PAID_OPEN
      - COMPLETE
      - ARCHIVAL
    OrderTypes:
      type: string
      description: types of orders.
      enum:
      - STANDARD
      - SALES
      - PURCHASE
      - RUSH
      - BACK_ORDER
      - SPECIAL
      - SUBSCRIPTION
      - SERVICE
      - MAINTENANCE
      - WARRANTY
      - SAMPLE
      - INTERNAL_TRANSFER
      - CONSIGNMENT
      - TRIAL
      - RENTAL
      - REPAIR
      - JOB
      - RETURN
    PartConditionGradeTypes:
      type: string
      description: types of part condition grades.
      enum:
      - EXCELLENT
      - LIKE_NEW
      - VERY_GOOD
      - GOOD
      - ACCEPTABLE
      - FAIR
      - POOR
      - DAMAGED
      - UNGRADED
      - OTHER
    PartInvoiceStatusTypes:
      type: string
      description: types of part invoice status.
      enum:
      - DRAFT
      - ISSUED
      - PENDING_APPROVAL
      - PROCESSING_FULFILLMENT
      - BACKORDERED
      - PARTIALLY_SHIPPED
      - SHIPPED
      - DELIVERED
      - OPEN
      - PARTIALLY_PAID
      - OVERDUE
      - PAID
      - REFUNDED
      - ADJUSTED
      - APPROVED
      - DECLINED
      - DISPUTED
      - RETURNED
      - VOIDED
      - CANCELLED
      - CLOSED
      - SALES_HOLD
      - PAYMENT_HOLD
      - FINANCE_HOLD
      - CUSTOMER_HOLD
      - INTERNAL_HOLD
    PartReference:
      type: object
      properties:
        part_reference_id:
          type: string
          description: Unique identifier value
        part_reference_key:
          type: string
          description: Unique identifier value
        name:
          type: string
          description: Product Name.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_key:
          type: string
          description: Unique identifier value
        part_master_key:
          type: string
          description: Unique identifier value
        manufacturer:
          type: string
          description: Context or domain of the identifier
        context:
          type: string
          description: Context or domain of the identifier
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-03-23T22:14:04Z
        unit_of_measure:
          $ref: "#/components/schemas/UnitOfMeasure"
      description: External system identifier
    PartReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartReference"
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique identifier value
        party_reference_key:
          type: string
          description: Unique identifier value
        party_key:
          type: string
          description: Unique identifier value
        party_name:
          type: string
          description: Unique identifier value
        contact_name:
          $ref: "#/components/schemas/PersonName"
        locale:
          $ref: "#/components/schemas/Locale"
        authorization_code:
          type: string
          description: Context or domain of the identifier
        source_system_code:
          type: string
          description: Context or domain of the identifier
        context:
          type: string
          description: Context or domain of the identifier
        account_number:
          type: string
          description: Account Number
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        rule_codes:
          $ref: "#/components/schemas/Codes"
        party:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-03-23T22:14:04Z
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentAuthorization:
      type: object
      properties:
        payment_authorization_id:
          type: string
          description: Unique identifier value for the referenc...
        payment_authorization_key:
          type: string
          description: Unique identifier value for the referenc...
        auth_reasons:
          $ref: "#/components/schemas/Codes"
        auth_amount:
          $ref: "#/components/schemas/Money"
        address_verification:
          type: string
          description: Context or domain of the reference.
        context:
          type: string
          description: Context or domain of the reference.
        transaction_number:
          type: string
          description: Context or domain of the reference.
        auth_number:
          type: string
          description: Context or domain of the reference.
        auth_code:
          type: string
          description: Context or domain of the reference.
        auth_date_time:
          type: string
          description: The date and time the payment was associ...
          format: date-time
          example: 2026-03-23T22:14:04Z
      description: Reference to a PaymentMethod (Party) Aggregate Root for financing
        details.
    PaymentAuthorizations:
      type: array
      items:
        $ref: "#/components/schemas/PaymentAuthorization"
    PaymentMethodReference:
      type: object
      properties:
        payment_method_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the referenc...
        payment_method_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference recor...
        payment_method_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the reference...
        context:
          type: string
          description: Context or domain of the reference.
        payment_method_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        processor_options:
          $ref: "#/components/schemas/Identifier"
        snapshot_details:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the paymentMethod was ...
          format: date-time
          example: 2026-03-23T22:14:04Z
      description: Reference to a PaymentMethod (Party) Aggregate Root for financing
        details.
    PaymentMethodReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentMethodReference"
    PaymentMethodTypes:
      type: string
      description: types of payment methods.
      enum:
      - CASH
      - CHECK
      - MONEY_ORDER
      - CASH_ON_DELIVERY
      - CREDIT_CARD
      - DEBIT_CARD
      - GIFT_CARD
      - EFT
      - ONLINE_BANK_TRANSFER
      - MOBILE_WALLET
      - CRYPTOCURRENCY
      - ONLINE_PAYMENT_PLATFORM
      - PAYROLL_DEDUCTION
      - FINANCE
      - LEASE
      - RENTAL
      - TERMS
      - DUE_ON_RECEIPT
      - TRADE_IN
      - REWARD_POINTS
      - STORE_CREDIT
      - EXCHANGE
      - OTHER
      - NOT_APPLICABLE
    PaymentScheduleReference:
      type: object
      properties:
        payment_schedule_reference_id:
          type: string
          description: Unique identifier value for the referenc...
        payment_schedule_reference_key:
          type: string
          description: Unique identifier value for the referenc...
        payment_schedule_key:
          type: string
          description: The unique key identifying the reference...
        payment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        context:
          type: string
          description: Context or domain of the payment schedul...
        total_payments:
          type: integer
          description: The total number of payments in this sch...
          format: int32
          example: 60
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was assoc...
          format: date-time
          example: 2026-03-23T22:14:04Z
        payment_frequency:
          $ref: "#/components/schemas/DurationIntervalTypes"
        payment_amount:
          type: string
          description: The price of all products and services b...
        annual_percentage_rate:
          type: string
          description: Context or domain of the payment schedul...
      description: Reference to a Payment Schedule Aggregate Root.
    PaymentScheduleReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentScheduleReference"
    PaymentStatusTypes:
      type: string
      description: types of payment status.
      enum:
      - CREATED
      - SCHEDULED
      - SUBMITTED
      - FRAUD_REVIEW
      - PROCESSING
      - SUCCEEDED
      - CLEARED
      - COMPLETED
      - PAID
      - REFUNDED
      - VOIDED
      - CANCELLED
      - REJECTED
      - DENIED
      - FAILED
      - EXPIRED
      - DEFERRED
      - RETURNED
      - INACTIVE
    PaymentTermReference:
      type: object
      properties:
        term_reference_id:
          type: string
          description: Unique identifier value for the referenc...
        term_reference_key:
          type: string
          description: Unique key value for the reference recor...
        term_key:
          type: string
          description: The unique key identifying the reference...
        context:
          type: string
          description: Context or domain of the payment term.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the terms were applied...
          format: date-time
          example: 2026-03-23T22:14:04Z
      description: "Reference to a Payment Term Aggregate Root (e.g., Net 30)."
    PaymentTermReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentTermReference"
    PaymentTransactionStatusTypes:
      type: string
      description: types of payment transaction status.
      enum:
      - NONE
      - EXPIRED
      - CAPTURED
      - CONFIRMATION
      - VOID
      - APPROVE
      - REFUNDED
      - PARTIALLY_REFUNDED
      - AUTHORIZE
      - PENDING_MERCHANT
      - SUSPENDED
      - OPEN
      - PEND
      - PROCESS
      - DECLINE
      - DUE
      - INCURRED
      - CUSTOM_CODE
      - USER_HOLD
      - ADMIN_HOLD
      - ACTIVATED
      - DEACTIVATE
      - CANCEL
      - CONFIRM
      - CLOSE
      - TRIAL
      - SUBSCRIPTION
      - OVERRIDE
      - UPGRADE
      - HOLD_ON_RENEWAL
      - HOLD_ON_DATE
      - PAYMENT
      - DOWNGRADE
    PaymentTypes:
      type: string
      description: types of payments.
      enum:
      - OUTRIGHT_PURCHASE
      - FINANCED_PURCHASE
      - SUBSCRIPTION
      - DEPOSIT
      - PROGRESS_PAYMENT
      - SCHEDULED_PAYMENT
      - CONSUMPTION_BASED
      - CUSTOM_AGREEMENT
      - CASH
      - BALLON
      - LEASE
      - LEASE_NO_BUYOUT
      - LEASE_BUYOUT
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        preferred_name:
          type: string
          description: Preferred name used in informal situatio...
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr..."
          example: Dr.
        honorific_prefix:
          type: string
          description: Prefix title used before the person's na...
          example: Dr.
        honorific_suffix:
          type: string
          description: Suffix title used after the person's nam...
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated wit...
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family na...
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given nam...
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle na...
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    Price:
      type: object
      properties:
        display_value:
          type: string
          description: Human-readable display value for the pri...
        locale:
          type: string
          description: Locale used for formatting display value...
        value:
          type: string
          description: The numeric value of the price (before t...
        tax_value:
          type: string
          description: The calculated amount of tax applied to ...
        taxable_amount:
          type: string
          description: The portion of the price subject to tax.
        non_taxable_amount:
          type: string
          description: The portion of the price not subject to ...
        total_amount:
          type: string
          description: The total final price including all comp...
        total_cost_amount:
          type: string
          description: The total cost to the provider/seller.
        unit_cost_amount:
          type: string
          description: The unit cost to the provider/seller.
        price_description:
          type: string
          description: "A descriptive title for the price (e.g.,..."
        price_key:
          type: string
          description: Natural key or business identifier for t...
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the...
          example: false
        currency_code:
          type: string
          description: "ISO 4217 currency code, e.g., 'USD', 'EU..."
        price_id:
          type: string
          description: Unique system identifier for the price r...
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PricePlanReference:
      type: object
      properties:
        price_plan_reference_id:
          type: string
          description: Unique identifier value
        price_plan_reference_key:
          type: string
          description: Unique identifier value
        price_plan_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-03-23T22:14:04Z
        geographic_boundaries:
          $ref: "#/components/schemas/GeographicBoundaryReferences"
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
      description: External system identifier
    PricePlanReferences:
      type: array
      items:
        $ref: "#/components/schemas/PricePlanReference"
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - OTHER
    ProductPriceItemTypes:
      type: string
      description: types of product price items.
      enum:
      - SUBTOTAL
      - TOTAL_DISCOUNTS
      - TOTAL_TAXES
      - GRAND_TOTAL
      - TOTAL_CREDIT
      - TOTAL_REWARD
      - TOTAL_FEE
      - TOTAL_REBATE
      - TOTAL_SERVICE
      - TOTAL_FREIGHT
      - TOTAL_SHIPPING
      - TOTAL_TAX
      - PRODUCT
      - FEE
      - DISCOUNT
      - REBATE
      - CREDIT
      - REWARD
      - TAX
      - OTHER
      - SHIPPING_AND_HANDLING
      - FREIGHT
      - SERVICE_CHARGE
      - PACKAGING
      - SURCHARGE
      - DEPOSIT_PAID
      - ITEMS
      - UNIT
      - NET
      - ORDERED
      - INVOICED
      - PAID
      - OUTSTANDING
    ProductStateTypes:
      type: string
      description: types of product states.
      enum:
      - NEW
      - USED
      - REFURBISHED
      - CERTIFIED
      - DEMO
      - RENTAL
      - IN_TRANSIT
      - DISCONTINUED
      - ARCHIVED
      - CUSTOMER_OWNED
      - PARTNER_OWNED
      - THIRD_PARTY_OWNED
      - COMPANY_OWNED
      - UNKNOWN
    ProductTypes:
      type: string
      description: types of products.
      enum:
      - VEHICLE
      - INFORMATION
      - DURABLE_GOODS
      - SOFTWARE
      - APP
      - INSURANCE
      - FINANCE
      - SERVICE
      - PART
      - ACCESSORY
      - F_N_I_PRODUCT
      - SERVICE_PACKAGE
      - DEALER_PRODUCT
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - OTHER
    RebateReference:
      type: object
      properties:
        rebate_reference_id:
          type: string
          description: Unique identifier value
        rebate_reference_key:
          type: string
          description: Unique identifier value
        rebate_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-03-23T22:14:04Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity ...
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity ...
          example: false
        rebate_name:
          type: string
          description: The name of the rebate for search result...
        rebate_price:
          $ref: "#/components/schemas/Price"
        capitalized_indicator:
          type: boolean
          description: Indicates if the rebate is capitalized i...
          example: false
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        location_code:
          type: string
          description: Regional applicability code for the reba...
        incentive_type:
          $ref: "#/components/schemas/IncentiveTypes"
        rebate_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        rebate_href:
          type: string
          description: Hyperlink to the full Rebate resource.
          format: href
      description: External system identifier
    RebateReferences:
      type: array
      items:
        $ref: "#/components/schemas/RebateReference"
    ResourceTypes:
      type: string
      description: types of resources.
      enum:
      - SYSTEM
      - WORKFLOW
      - ACTIVITY
      - FUNCTION
      - PROCESS
      - INCIDENT
      - PARTY
      - CUSTOMER
      - APPLICANT
      - VENDOR
      - DEALER_STAFF
      - DRIVER
      - ADDRESS
      - BILL_ADDRESS
      - BILL_CONTACT
      - COMM_CHANNEL
      - ACCOUNT
      - VEHICLE
      - TRADE_IN
      - PRODUCT
      - MANUFACTURER
      - LEAD
      - OPPORTUNITY
      - DEAL
      - FINANCE
      - INVOICE
      - LINEITEM
      - EXPENSE
      - DISCOUNT
      - TAX
      - FEE
      - INCENTIVE
      - DEALERSHIP
      - PART
      - ACCESSORIES
      - PURCHASE_ORDER
      - VEHICLE_OPTION
      - RENTAL
      - SUBSCRIPTION
      - INSURANCE
      - WARRANTY
      - SERVICE
      - APPOINTMENT
      - OTHER
    RewardReference:
      type: object
      properties:
        reward_reference_id:
          type: string
          description: Unique identifier value
        reward_reference_key:
          type: string
          description: Unique identifier value
        reward_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-03-23T22:14:04Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity ...
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity ...
          example: false
      description: External system identifier
    RewardReferences:
      type: array
      items:
        $ref: "#/components/schemas/RewardReference"
    ShipmentReference:
      type: object
      properties:
        shipment_reference_id:
          type: string
          description: Internal unique identifier for the shipm...
          example: shp-ref-55092
        shipment_reference_key:
          type: string
          description: Natural business key for the shipment re...
          example: LOGISTICS_ESTIMATE_2026_001
        shipment_key:
          type: string
          description: Key for the shipment
          example: OEM_LOGISTICS
        tracking_number:
          $ref: "#/components/schemas/ShipmentTrackingNumber"
        context:
          type: string
          description: The domain or carrier context of the shi...
          example: OEM_LOGISTICS
        system_codes:
          $ref: "#/components/schemas/Codes"
        carrier_party:
          $ref: "#/components/schemas/CarrierParty"
        occurrence_date_time:
          type: string
          description: The timestamp when the shipment was init...
          format: date-time
          example: 2026-03-23T22:14:04Z
        unit_of_measures:
          $ref: "#/components/schemas/UnitOfMeasures"
        estimated_delivery:
          $ref: "#/components/schemas/DeliveryWindow"
      description: Reference details for the logistics and shipment of a vehicle during
        the RDR process.
    ShipmentReferences:
      type: array
      items:
        $ref: "#/components/schemas/ShipmentReference"
    ShipmentTrackingNumber:
      type: string
      description: The external tracking number.
      example: TRK123456789
    ShipmentTrackingNumberCreate:
      required:
      - shipment_tracking_number_key
      type: string
      description: ShipmentTrackingNumber Create for Post
      allOf:
      - $ref: "#/components/schemas/ShipmentTrackingNumber"
    ShipmentTrackingNumberUpdate:
      type: string
      description: ShipmentTrackingNumber Update for Patch and Put
    TaxSplit:
      type: object
      properties:
        tax_split_id:
          type: string
          description: Unique ID identifying this specific tax ...
          example: ts_789012
        tax_split_key:
          type: string
          description: Unique key identifying this specific tax...
          example: tsk_789012
        tax_code:
          type: string
          description: The specific code used by the jurisdicti...
          example: TX-A-45
        tax_rate:
          type: string
          description: The tax rate applied as a decimal percen...
          example: "0.0825"
        jurisdiction:
          type: string
          description: The tax jurisdiction or authority applyi...
          example: State of Texas
        tax_amount:
          $ref: "#/components/schemas/Price"
        tax_type:
          $ref: "#/components/schemas/TaxTypes"
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity ...
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity ...
          example: false
      description: Details of a single tax component applied to a financial split.
    TaxSplits:
      type: array
      items:
        $ref: "#/components/schemas/TaxSplit"
    TaxTypes:
      type: string
      description: types of taxs.
      enum:
      - TOTAL
      - SALES
      - USE
      - REGISTRATION
      - EXCISE
      - VALOREM
      - EMPLOYER
      - EMPLOYEE
      - OTHER
    TextualDetail:
      type: object
      properties:
        textual_detail_key:
          type: string
          description: Natural key or business-friendly key for...
        textual_detail_id:
          type: string
          description: Unique identifier for textual detail.
        comments:
          $ref: "#/components/schemas/Memo"
        locale_codes:
          $ref: "#/components/schemas/Codes"
        notes:
          $ref: "#/components/schemas/Memo"
        short_description:
          type: string
          description: Short description for the detail.
        description:
          type: string
          description: Full description in memo format.
        text_key:
          type: string
          description: Key reference for reusable text blocks.
        name:
          type: string
          description: Name or title of the textual detail.
        value:
          type: string
          description: Value associated with the textual detail...
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        groups:
          $ref: "#/components/schemas/Codes"
        label:
          type: string
          description: Label for UI representation.
        alt_text:
          type: string
          description: Alternative text for accessibility or im...
        textual_detail_code:
          type: string
          description: Code identifier for textual detail refer...
        tags:
          $ref: "#/components/schemas/Codes"
        uom_display:
          type: string
          description: Unit of Measure display value.
        uom_code:
          type: string
          description: "Unit of Measure code (e.g., EA, PR)."
      description: not nullable
    TimeSlot:
      type: object
      properties:
        time_slot_id:
          type: string
          description: Technical unique identifier (GUID) for t...
          example: b2d3e4f5-a6b7-c8d9-e0f1-a2b3c4d5e6f7
        time_slot_key:
          type: string
          description: Natural business key for the time slot w...
          example: TS-MON-MORNING-SHIFT
        time_slot_source:
          type: string
          description: The originating system or calendar provi...
          example: GOOGLE_CALENDAR
        start_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        start_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local start time in 24-hour ISO 8601...
          format: date-time
        end_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        end_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local end time in 24-hour ISO 8601 f...
          format: date-time
        recurring_indicator:
          type: boolean
          description: Indicates if this time slot is part of a...
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          format: date
          items:
            type: string
      description: "Defines a specific window of time, often within a recurring schedule,\
        \ used for service availability or appointment booking."
    TimeslotDirectiveTypes:
      type: string
      description: Represents the directive for a timeslot.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - UNKNOWN
    UOMQuantityCategoryTypes:
      type: string
      description: types of u o m quantity categorys.
      enum:
      - COUNT
      - WEIGHT
      - VOLUME
      - TIME
      - NET_WEIGHT
      - NET_VOLUME
      - PACKAGE_QUANTITY
      - MIN_ORDER_QUANTITY
      - GROSS_WEIGHT
      - GROSS_VOLUME
      - SHIPPING_WEIGHT
      - DIMENSIONAL_WEIGHT
      - MATERIAL
      - ELECTRICAL_RATING
      - DEFAULT_LEAD_TIME
      - MAX_LEAD_TIME
      - DIMENSION_UNIT
      - MIN_LENGTH
      - MAX_LENGTH
      - MIN_WIDTH
      - MAX_WIDTH
      - MIN_HEIGHT
      - MAX_HEIGHT
      - MIN_WEIGHT
      - MAX_WEIGHT
      - MAX_ORDER_QUANTITY
      - MIN_ORDER_AVAILABLE
      - DIMENSIONS
      - SHIPPING_DIM_LENGTH
      - SHIPPING_DIM_WIDTH
      - SHIPPING_DIM_HEIGHT
      - SHIPPING_DIM_GROSS_WEIGHT
      - SHIPPING_DIM_NET_WEIGHT
      - SHELF_LIFE_HOURS
      - EXPIRATION_DATE
      - MIN_PAYMENT_PERCENT
      - MIN_PAYMENT_AMOUNT
    UnitOfMeasure:
      type: object
      properties:
        unit_of_measure_key:
          type: string
          description: Unit of Measure Value
        unit_name:
          type: string
          description: Unit of Measure
        uom_value:
          maxLength: 100
          minLength: 1
          type: string
          description: Unit of Measure Value
        uom_quantity_category_type:
          $ref: "#/components/schemas/UOMQuantityCategoryTypes"
      description: value price with unit of measure
    UnitOfMeasureTypes:
      type: string
      description: Represents a comprehensive list of units of mea...
      enum:
      - MILES
      - KM
      - GALLON
      - LITER
      - METER
      - QUARTER
      - OZ
      - LB
      - DATE_TIME
      - DATE
      - KG
      - DURATION
      - CURRENCY
      - POINTS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - OCCURRENCE
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - BYTES
      - CUSTOM
      - UNLIMITED
      - NONE
      - PERCENT
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - DISTRICT
      - NA
      - UNIT
      - WATT
      - ITEM
      - NET
      - GROSS
      - MINIMUM
      - MAXIMUM
      - OTHER
    UnitOfMeasures:
      type: array
      items:
        $ref: "#/components/schemas/UnitOfMeasure"
