openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: A standardized interface for Automotive Retail ...
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.starstandard.org/v1/v1_0_0
    description: Production server
  - url: https://sandbox.starstandard.org/v1/v1_0_0
    description: Sandbox for testing
security:
  - industry-oauth:
      - standard:read
  - member-api-key: []
  - {}
tags:
  - name: Health
    description: Operations related to Health
  - name: RetailDeliveryReports
    description: Operations related to RetailDeliveryReports
paths:
  /retail-delivery-reports:
    get:
      tags:
        - RetailDeliveryReports
      summary: Returns a paginated list of retail delivery report
      description: a list of RetailDeliveryReport
      operationId: listRetailDeliveryReports
      parameters:
        - $ref: "#/components/parameters/EndDateQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/OffsetQuery"
        - $ref: "#/components/parameters/SortQuery"
        - $ref: "#/components/parameters/StartDateQuery"
        - $ref: "#/components/parameters/StatusQuery"
        - $ref: "#/components/parameters/UnitIdQuery"
        - $ref: "#/components/parameters/VINQuery"
        - $ref: "#/components/parameters/TransactionIdHeader"
        - $ref: "#/components/parameters/StandardsVersionHeader"
        - $ref: "#/components/parameters/CountryCodeHeader"
        - $ref: "#/components/parameters/LocaleHeader"
        - $ref: "#/components/parameters/BrandHeader"
        - $ref: "#/components/parameters/CreatorCodeHeader"
        - $ref: "#/components/parameters/DealerIdHeader"
        - $ref: "#/components/parameters/PreferHeader"
        - $ref: "#/components/parameters/RegionHeader"
        - $ref: "#/components/parameters/SourceSystemHeader"
        - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/RetailDeliveryReportCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
        - bearerAuth: []
    post:
      tags:
        - RetailDeliveryReports
      summary: create retail delivery report
      description: create RetailDeliveryReport
      operationId: createRetailDeliveryReport
      parameters:
        - $ref: "#/components/parameters/TransactionIdHeader"
        - $ref: "#/components/parameters/StandardsVersionHeader"
        - $ref: "#/components/parameters/CountryCodeHeader"
        - $ref: "#/components/parameters/LocaleHeader"
        - $ref: "#/components/parameters/BrandHeader"
        - $ref: "#/components/parameters/CreatorCodeHeader"
        - $ref: "#/components/parameters/DealerIdHeader"
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
        - $ref: "#/components/parameters/PreferHeader"
        - $ref: "#/components/parameters/RegionHeader"
        - $ref: "#/components/parameters/SourceSystemHeader"
        - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetailDeliveryReport"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/RetailDeliveryReportSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
      security:
        - bearerAuth: []
  /retail-delivery-reports/{retail-delivery-report-key}:
    get:
      tags:
        - RetailDeliveryReports
      summary: Retrieve a single item scoped by a key RetailDe...
      description: "Standard GET operation for /retail-delivery-reports/{retail-delivery-report-key}"
      operationId: getRetailDeliveryReportByKey
      parameters:
        - $ref: "#/components/parameters/TransactionIdHeader"
        - $ref: "#/components/parameters/StandardsVersionHeader"
        - $ref: "#/components/parameters/CountryCodeHeader"
        - $ref: "#/components/parameters/LocaleHeader"
        - $ref: "#/components/parameters/BrandHeader"
        - $ref: "#/components/parameters/CreatorCodeHeader"
        - $ref: "#/components/parameters/DealerIdHeader"
        - $ref: "#/components/parameters/PreferHeader"
        - $ref: "#/components/parameters/RegionHeader"
        - $ref: "#/components/parameters/SourceSystemHeader"
        - $ref: "#/components/parameters/SubscriberCodeHeader"
        - name: retail-delivery-report-key
          in: path
          description: The unique identifier for an RetailDeliveryRepo...
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: "827216080267517952"
      responses:
        "200":
          $ref: "#/components/responses/RetailDeliveryReportSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
        - bearerAuth: []
    parameters:
      - name: retail-delivery-report-key
        in: path
        description: The unique identifier for the specific RetailDeliveryReports
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: KEY78Z
  /retail-delivery-report/health:
    get:
      tags:
        - Health
      summary: Health Check
      description: Returns the health status of the RetailDeliveryReport root node.
      operationId: healthRetailDeliveryReport
      parameters:
        - $ref: "#/components/parameters/TransactionIdHeader"
        - $ref: "#/components/parameters/StandardsVersionHeader"
        - $ref: "#/components/parameters/CountryCodeHeader"
        - $ref: "#/components/parameters/LocaleHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /retail-delivery-reports/search:
    post:
      tags:
        - Search
      summary: search retail delivery report
      description: Execute a complex query using a criteria object.
      operationId: searchRetailDeliveryReport
      parameters:
        - $ref: "#/components/parameters/TransactionIdHeader"
        - $ref: "#/components/parameters/StandardsVersionHeader"
        - $ref: "#/components/parameters/CountryCodeHeader"
        - $ref: "#/components/parameters/LocaleHeader"
        - $ref: "#/components/parameters/BrandHeader"
        - $ref: "#/components/parameters/CreatorCodeHeader"
        - $ref: "#/components/parameters/DealerIdHeader"
        - $ref: "#/components/parameters/PreferHeader"
        - $ref: "#/components/parameters/RegionHeader"
        - $ref: "#/components/parameters/SourceSystemHeader"
        - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetailDeliveryReportCriteria"
      responses:
        "201":
          $ref: "#/components/responses/RetailDeliveryReportCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
      security:
        - bearerAuth: []
  /retail-delivery-report/{retail-delivery-report-key}/notifications:
    put:
      tags:
        - Lifecycle
      summary: Receive Status Notification
      description: Updates the workflow state of the RetailDeliveryReport aggregate
        root via a LifecycleStatusEvent.
      operationId: notifyRetailDeliveryReportStatusChange
      parameters:
        - $ref: "#/components/parameters/TransactionIdHeader"
        - $ref: "#/components/parameters/StandardsVersionHeader"
        - $ref: "#/components/parameters/CountryCodeHeader"
        - $ref: "#/components/parameters/LocaleHeader"
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
        - $ref: "#/components/parameters/IfMatchHeader"
        - $ref: "#/components/parameters/RetailDeliveryReportKeyParameter"
      requestBody:
        description: "The LifecycleStatusEvent payload containing transition data,\
          \ actor info, and reason codes."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LifecycleStatusEvent"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/LifecycleStatusEventResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "500":
          $ref: "#/components/responses/ServerError"
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
          example: ' 3f5527bf'
        address_reference_value:
          type: string
          description: The unique value of the address reference.
          example: ' bcb8980f'
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
          example: ' 33c194fe'
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: ' c8f795bf'
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: ' 7af57773'
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: ' a47f9b41'
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: ' 45e515c5'
        city:
          type: string
          description: Name of the city.
          example: ' a8118433'
        country_code:
          type: string
          description: Full name of the country.
          example: ' 2dc955e8'
        district:
          type: string
          description: Name of the district.
          example: ' 1b15e66f'
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
          example: ' 352f94aa'
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
          example: ' 4c7898d4'
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
          example: ' 807e5be5'
      description: "A reference to an address, including its unique..."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
        - BILLING
        - SHIPPING
        - MAILING
        - POSTAL
        - HOME
        - RESIDENCE
        - WORK
        - BUSINESS
        - LEGAL
        - SERVICE
        - DEALER
        - CONTRACT
        - AR_ADDRESS
        - RECIPIENT
        - DELIVERY
        - DESTINATION
        - ORIGINAL
        - CURRENT
        - PREVIOUS
        - TEMPORARY
        - VACATION
        - GARAGE
        - EMERGENCY
        - REBATE
        - SERVICE_CONTRACT
        - INSURANCE
        - PRODUCT
        - ARCHIVE
        - OTHER
    ApplicationStatusTypes:
      type: string
      description: types of application status.
      enum:
        - INITIATING
        - ACTIVE
        - SALES_HOLD
        - PAYMENT_HOLD
        - FINANCE_HOLD
        - CUSTOMER_HOLD
        - APPROVED
        - DECLINED
        - REJECT
        - CANCELLED
        - ABANDON
        - COMPLETE
        - INACTIVE
        - INVALID
        - CLOSE
    Authorization:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-04-01T16:21:22Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currentl...
          example: false
        authorization_key:
          type: string
          description: Business key uniquely identifying the authoriza...
          example: ' e76de1b0'
      description: Establish authorization level
    Authorizations:
      type: array
      items:
        $ref: "#/components/schemas/Authorization"
    CabTypes:
      type: string
      description: types of cabs.
      enum:
        - REGULAR
        - EXTENDED
        - CREW
        - MEGA
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
          readOnly: true
          example: ' d25aed47'
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
          example: ' a58ed430'
        code:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
          example: ' b7118f43'
        description:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
          example: ' c4db0157'
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ColorDetail:
      type: object
      properties:
        color_detail_id:
          type: string
          description: A unique id for the color detail.
          readOnly: true
          example: ' 19fac469'
        color_detail_key:
          type: string
          description: A unique key for the color detail.
          example: ' 65386f8f'
        dealer_color:
          type: string
          description: The color as designated by the dealer.
          example: ' 7a64406e'
        desc_color:
          type: string
          description: A descriptive name for the color.
          example: ' 6fee4e0c'
        color_code:
          type: string
          description: The technical code of the color
          example: ' bf0246fa'
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM) name ...
          example: ' 5882dda2'
        marketing_name:
          type: string
          description: The Marketing Name of the color
          example: ' b1f7b73d'
      description: "Details for a specific color, including dealer ..."
    Comments:
      type: array
      items:
        type: string
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel re...
          example: ' 4cb7dc8c'
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
          readOnly: true
          example: ' e23f424d'
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., a..."
          example: ' 5d1e16c8'
        value_extension:
          type: string
          description: An optional extension for the communication cha...
          example: ' f92f25e2'
        label:
          type: string
          description: "A label for the communication channel (e.g., 'H..."
          example: ' 24903575'
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the pref...
          example: false
        preferences:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/TimeSlot"
        authorizations:
          $ref: "#/components/schemas/Authorizations"
      description: "Represents a communication channel, such as an ..."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
        - PHONE
        - CELL
        - SMS
        - VOICE
        - VIDEO
        - EMAIL
        - APP
        - SOCIAL_MEDIA
        - URL
        - BROADCAST
        - DIRECT_MAIL
        - PDA
        - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ContractStatusTypes:
      type: string
      description: types of contract status.
      enum:
        - PENDING
        - APPROVED
        - CONDITIONAL
        - BOOKED
        - DECLINED
        - OTHER
    ContractTypes:
      type: string
      description: types of contracts.
      enum:
        - WARRANTY
        - SERVICE
        - EXTENDED_WARRANTY
        - MAINTENANCE
        - FINANCE
        - PROTECTION
        - OTHER
    ControlAccountTypes:
      type: string
      description: types of control accounts.
      enum:
        - ASSETS
        - FIXED_ASSETS
        - CONTRA_ASSET
        - LIABILITY
        - LONG_TERM_LIABILITY
        - EQUITY
        - CLEARING
        - PROVISION
        - ROUNDING
        - REVENUE
        - OTHER_INCOME
        - COGS
        - EXPENSE
        - DEPRECIATION
        - TAX
        - DISCOUNT
        - REBATE
        - FEE
        - SERVICE
        - CREDIT
        - OTHER
        - DEALER
        - VEHICLE
        - ACCESSORIES
        - OPTION
        - CUSTOMER
        - VENDOR
        - EMPLOYEE
        - PRODUCT
        - REPAIR_ORDER
        - PARTS_SALES_ORDER
        - PACKAGE
        - REFERENCE
    CorrelationId:
      pattern: "^[a-zA-Z0-9-]+$"
      type: string
      description: The correlation ID or workflow execution identi...
      example: exec-uuid-99283-7716
    CountryCode:
      type: string
      description: The ISO 3116-1 alpha-2 country code of the issu...
      example: US
    CreditApplicationReference:
      type: object
      properties:
        credit_application_reference_id:
          type: string
          description: Unique identifier value
          readOnly: true
          example: ' def135e1'
        credit_application_reference_key:
          type: string
          description: Unique identifier value
          example: ' 714085ef'
        credit_application_key:
          type: string
          description: Unique identifier value
          example: ' 41c0097b'
        credit_parties:
          $ref: "#/components/schemas/PartyReferences"
        locale:
          $ref: "#/components/schemas/Locale"
        occurrence_date_time:
          type: string
          description: The date and time the financialForecast was ass...
          format: date-time
          example: 2026-04-01T16:21:22Z
        credit_application_name:
          type: string
          description: The name of the credit application.
          example: ' 56c7a295'
        credit_application_date:
          type: string
          description: The date and time the financialForecast was ass...
          format: date
          example: 2026-01-14
        confirmation_code:
          type: string
          description: The confirmation code for the credit application.
          example: ' 2149889a'
        application_status_type:
          $ref: "#/components/schemas/ApplicationStatusTypes"
        credit_application_events:
          $ref: "#/components/schemas/LifecycleEvents"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
      description: External system identifier
    CreditContractIncludedIndicator:
      type: boolean
      description: Indicates if a formal credit contract or retail...
      example: true
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currencyExchan...
          readOnly: true
          example: ' 964723b9'
        currency_exchange_key:
          type: string
          description: Natural key or business identifier for the curr...
          example: ' d801f78b'
        source_currency:
          type: string
          description: Human-readable display value for the source Cur...
          example: ' 0be05e76'
        target_currency:
          type: string
          description: Human-readable display value for the source Cur...
          example: ' 7b3949b3'
        currency_exchange_desc:
          type: string
          description: A descriptive title for the currencyExchange (e...
          example: ' 7a2d02ab'
        exchange_rate:
          type: string
          description: Human-readable display value for the source Cur...
          example: ' 0942b2c8'
        rate_date_time:
          type: string
          description: The date and time the rate was associated with ...
          format: date-time
          example: 2026-04-01T16:21:22Z
      description: "CurrencyExchange that includes display value, c..."
    DaysOfWeekTypes:
      type: string
      description: Status of the account
      enum:
        - SUN
        - MON
        - TUES
        - WED
        - THURS
        - FRI
        - SAT
    DealStatusTypes:
      type: string
      description: types of deal status.
      enum:
        - IN_PROGRESS
        - ABANDONED
        - ACCEPTED
        - POSTED
        - FUNDED
        - REVERSED
    DealerCode:
      pattern: "^[A-Z0-9-]+$"
      type: string
      description: The OEM-assigned unique identifier for the sell...
      example: DLR-12345
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      enum:
        - ONE_TIME
        - RECUR
        - MINUTES
        - HOURLY
        - DAILY
        - WEEKLY
        - BI_WEEKLY
        - SEMI_MONTHLY
        - MONTHLY
        - QUARTERLY
        - SEMI_YEAR
        - YEARLY
        - MULTI_YEAR
        - LIFETIME
        - CUSTOM
        - OTHER
    DurationUOMTypes:
      type: string
      description: types of duration u o ms.
      enum:
        - MINUTES
        - HOURS
        - DAYS
        - DAY_OF_MONTH
        - WEEKS
        - BI_WEEKS
        - SEMI_MONTHS
        - MONTHS
        - QUARTERS
        - SEMI_YEARS
        - YEARS
        - MULTI_YEARS
        - CUSTOM
        - OCCURRENCE
        - UNLIMITED
        - NONE
        - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the eff...
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considere...
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid ..."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO ...
          format: date-time
          example: 2026-04-01T16:21:22Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completi...
          format: date-time
          example: 2026-04-01T16:21:22Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 ...
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for ...
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex r...
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on...
          example: true
        timeslot:
          $ref: "#/components/schemas/TimeSlot"
      description: Defines a temporal range and recurrence logic f...
    EngineTypes:
      type: string
      description: types of engines.
      enum:
        - ICE
        - THERMAL_INTERNAL
        - THERMAL_EXTERNAL
        - THERMAL_REACTION
        - ELECTRIC
        - PHYSICAL
        - HYBRID
        - OTHER
    ErrorDetail:
      required:
        - category
        - code
        - message
        - timestamp
        - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
            - VALIDATION
            - AUTHENTICATION
            - AUTHORIZATION
            - INFRASTRUCTURE
            - BUSINESS_LOGIC
            - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: A unique identifier for this specific request.
          readOnly: true
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: list of array
          example: "[]"
          items:
            type: object
            properties:
              field:
                type: string
                description: The JSON path or field name that caused the error.
                example: payrollId
              issue:
                type: string
                description: The specific validation rule that failed.
                example: must be unique
              rejected_value:
                type: string
                description: The value that was sent and rejected (only if non-sensitive).
                example: "12345"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: A unique key for the eventMessage record.
          example: ' ea404c5c'
        event_message_id:
          type: string
          description: The unique ID for the eventMessage.
          readOnly: true
          example: ' 6d5014f8'
        event_actor_key:
          type: string
          description: The ID of the actor for the event.
          example: ' cf0225af'
        event_actor_name:
          type: string
          description: The name of the actor for the event.
          example: ' cf057613'
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-04-01T16:21:22Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belongs.
          example: ' 9d492415'
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
          example: ' dbc92483'
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
          example: ' f7fd648c'
        event_message_code:
          type: string
          description: The code for the eventMessage.
          example: ' 5f8a1bda'
        event_message_value:
          type: string
          description: The value of the eventMessage.
          example: ' 8db27c96'
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessage is in...
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      enum:
        - INSTRUCTION
        - REASONING
        - RESPONSE
        - TOOL_CALL
        - TOOL_OUTPUT
        - ACTION_CONFIRMATION
        - COMPENSATION
        - RETRY_SIGNAL
        - ERROR_REPORT
        - DELEGATION
        - BROADCAST
        - CRITIQUE
        - LOGGING
        - AUDIT
        - HEARTBEAT
        - UNKNOWN
    EventMessages:
      type: array
      items:
        $ref: "#/components/schemas/EventMessage"
    Feature:
      type: object
      properties:
        feature_id:
          type: string
          description: Unique identifier for the  feature category.
          readOnly: true
          example: feat-cat-99821
        feature_key:
          type: string
          description: Natural business key for the feature category.
          example: INTERIOR_DIMENSIONS
        header:
          type: string
          description: The display header text for the feature group.
          example: "Interior dimensions, front/rear (in.)"
        description:
          type: string
          description: Brief description of the feature set.
          example: EFC Other than Std Feature Details
        feature_details:
          $ref: "#/components/schemas/FeatureItems"
      description: not nullable
    FeatureItem:
      type: object
      properties:
        feature_item_id:
          type: string
          description: Internal unique identifier for the item record.
          readOnly: true
          example: ' c72a378c'
        feature_item_key:
          type: string
          description: Internal unique identifier for the item record.
          example: ' 3601effc'
        name:
          type: string
          description: The name of the feature.
          example: Headroom
        value:
          type: string
          description: The value or description of the feature.
          example: 3.5L V6 DOHC
      description: Key value pair of feature's name and value.
    FeatureItems:
      type: array
      items:
        $ref: "#/components/schemas/FeatureItem"
    Features:
      type: array
      items:
        $ref: "#/components/schemas/Feature"
    FuelTypes:
      type: string
      description: types of fuels.
      enum:
        - GASOLINE
        - DIESEL
        - BIO_DIESEL
        - ETHANOL
        - ELECTRIC
        - HYDROGEN
        - NATURAL_GAS
        - PROPANE
        - METHANOL
        - DIESEL_OID_MDF
        - SOLAR_OIL_HSD
        - KEROSENE
        - AVIATION_TURBINE_AVTUR
        - AVIATION_GASOLINE_AVGAS
        - P_SERIES
        - OTHER
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          example: UP
        version:
          type: string
          example: 2.0.0
      description: Standard health check response body
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
          readOnly: true
          example: ' 03295677'
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
          readOnly: true
          example: ' 2a136351'
        context:
          type: string
          description: Context or domain of the identifier
          example: ' 8681f977'
        value:
          type: string
          description: The monetary or hours-based value of the event.
          example: ' a020b053'
        detail:
          type: string
          description: The monetary or hours-based value of the event.
          example: ' 497e97d3'
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
          readOnly: true
          example: ' 3cc70b7a'
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Insurance:
      type: object
      properties:
        insurance_key:
          type: string
          description: A unique key for the insurance record.
          example: ' e401f9ea'
        insurance_id:
          type: string
          description: The unique ID for the insurance record.
          readOnly: true
          example: ' 8917a4d8'
        insurance_type:
          $ref: "#/components/schemas/InsuranceTypes"
        insurance_company:
          $ref: "#/components/schemas/PartyReference"
        insurance_agent:
          $ref: "#/components/schemas/PartyReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        plan_codes:
          $ref: "#/components/schemas/Codes"
        plan_types:
          $ref: "#/components/schemas/Codes"
        agreement_number:
          type: string
          description: The insurance policy number.
          example: ' 21187ba2'
        insurance_policy_number:
          type: string
          description: The insurance policy number.
          example: ' 93a9702b'
        effective_date:
          type: string
          description: The effective date of the insurance policy.
          format: date
          example: 2026-01-14
        expiration_date:
          type: string
          description: The expiration date of the insurance policy.
          format: date
          example: 2026-01-14
        plan_coverage:
          $ref: "#/components/schemas/MetricValue"
        expiration_mileage:
          $ref: "#/components/schemas/MetricValue"
        insured_person_name:
          type: string
          description: The name of the insured person.
          example: ' 73e20f39'
        description:
          type: string
          description: A general description of the insurance.
          example: ' be64fd10'
        confirmation_code:
          type: string
          description: The confirmation code for the policy.
          example: ' 7a7b42ad'
        policy_holder:
          $ref: "#/components/schemas/PolicyHolder"
        insurance_terms:
          $ref: "#/components/schemas/InsuranceTerms"
        links:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/Link"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
      description: nullable
    InsuranceTerm:
      type: object
      properties:
        insurance_term_key:
          type: string
          description: A unique key for the insurance term record.
          example: ' b5c87636'
        term_id:
          type: string
          description: The unique ID for the insurance term.
          readOnly: true
          example: ' e7b1afb9'
        term_name:
          type: string
          description: The name of the insurance term.
          example: ' f72af074'
        term_desc:
          type: string
          description: A description of the insurance term.
          example: ' 7d02017e'
        price:
          $ref: "#/components/schemas/Price"
      description: Current Insurance Term for a customer.
    InsuranceTerms:
      type: array
      items:
        $ref: "#/components/schemas/InsuranceTerm"
    InsuranceTypes:
      type: string
      description: types of insurances.
      enum:
        - HEALTH
        - AUTO
        - HOMEOWNERS
        - RENTERS
        - LIFE
        - DISABILITY
        - UMBRELLA
        - LONG_TERM_DISABILITY
        - TERM_LIFE
        - LONG_TERM_CARE
        - IDENTITY_THEFT_PROTECTION
        - PERSONAL
        - PROPERTY
        - MARINE
        - FIRE
        - LIABILITY
        - GUARANTEE
        - FLOOD
        - WIND
        - STORM
        - OTHER
        - PROFESSIONAL_LIABILITY
        - COMMERCIAL_AUTO
        - CYBER_LIABILITY
        - WORKERS_COMPENSATION
        - BUSINESS_INTERRUPTION
        - RENT_GUARANTEE
        - TITLE
        - PET
        - TRAVEL
        - EVENT
    Insurances:
      type: array
      items:
        $ref: "#/components/schemas/Insurance"
    InventoryStatusTypes:
      type: string
      description: types of inventory status.
      enum:
        - ON_ORDER
        - RECEIVED
        - PREPARATION
        - STOCKED_IN
        - AVAILABLE
        - RESERVED
        - PRE_SOLD
        - ON_HOLD
        - SALES_HOLD
        - SERVICE_HOLD
        - RECALL_HOLD
        - IN_TRANSIT
        - ON_DEALER_LOT
        - ON_CENTRAL_LOT
        - ASSIGNED_BY_MANUFACTURER
        - SOLD
        - WHOLESALE
        - DAMAGED
        - UNAVAILABLE
        - RETURNED
        - DISPOSAL
        - UNKNOWN
    LeadStatusTypes:
      type: string
      description: types of lead status.
      enum:
        - NEW
        - UNQUALIFIED
        - CONTACTED
        - IN_PROGRESS
        - FOLLOW_UP_SCHEDULED
        - DEMO_GIVEN
        - PROPOSAL_SENT
        - VERBAL_COMMITMENT
        - NEGOTIATION
        - CONTRACT_SENT
        - WON
        - LOST
        - DISQUALIFIED
    LeaseTerm:
      type: object
      properties:
        lease_term_id:
          type: string
          description: Internal unique identifier for the lease term r...
          readOnly: true
          example: lt-99283-x
        lease_term_key:
          type: string
          description: "Natural business key for the lease (e.g., LSE-V..."
          example: LSE-5TFHY5F-2026
        term_months:
          maximum: 120
          minimum: 1
          type: integer
          description: Duration of the lease in months.
          format: int32
          example: 36
        money_factor:
          $ref: "#/components/schemas/MoneyFactor"
        residual_value:
          $ref: "#/components/schemas/Price"
        mileage_allowance:
          $ref: "#/components/schemas/MileageAllowance"
        gross_capitalized_cost:
          $ref: "#/components/schemas/Price"
        term_manifests:
          $ref: "#/components/schemas/Manifests"
      description: Lease Terms and Financial Details for vehicle d...
    LifecycleEvent:
      type: object
      properties:
        lifecycle_event_id:
          type: string
          description: The unique ID for the lifecycle event.
          readOnly: true
          example: EVT-99887766
        lifecycle_event_key:
          type: string
          description: The unique external key or business identifier ...
          example: LIFECYCLE-879234
        actor_href:
          type: string
          description: The href of the actor who initiated the event.
          format: href
          example: ' c97ad471'
        actor_id:
          type: string
          description: The unique identifier of the actor who initiate...
          readOnly: true
          example: USR-24681357
        actor_name:
          type: string
          description: The name of the actor who initiated the event.
          example: John Doe
        lifecycle_event_type:
          $ref: "#/components/schemas/LifecycleEventTypes"
        occurrence_date:
          type: string
          description: The date and time the event occurred.
          format: date
          example: 2026-01-14
        resource_href:
          type: string
          description: The href of the resource associated with the ev...
          format: href
          example: ' d4dab4eb'
        resource_identifier:
          type: string
          description: The unique identifier of the resource associate...
          readOnly: true
          example: RSC-88776655
        detail_name:
          type: string
          description: The name of the event detail.
          example: Order ID
        detail_desc:
          type: string
          description: A description of the event detail.
          example: The unique ID of the order being processed.
        detail_value:
          type: string
          description: The value of the event detail.
          example: ORD-44556677
        detail_key:
          type: string
          description: The unique key for the event detail.
          example: ORDER_ID
        detail_code:
          type: string
          description: The code for the event detail.
          example: ORDER_STATUS_CHANGED
        resource_types:
          $ref: "#/components/schemas/ResourceTypes"
      description: Lifecycle Event
    LifecycleEventTypes:
      type: string
      description: types of lifecycle events.
      enum:
        - CREATED
        - UPDATED
        - DELETE_HARD
        - DELETE_SOFT
        - ACCESS_ALLOWED
        - ACCESS_DENIED
        - SUBMITTED
        - CLOSED
        - CANCELLED
        - DEAD
        - INITIALIZED
        - INITIALIZING
        - PROCESSING
        - PROCESSED
        - FAILED
        - VALIDATED
        - QUALIFIED
        - STEP_TRANSITION
        - STATUS_CHANGE
        - QUEUED
        - ACKNOWLEDGMENT
        - REJECTED
        - UNQUALIFIED
        - INCOMPLETE
    LifecycleEvents:
      type: array
      items:
        $ref: "#/components/schemas/LifecycleEvent"
    LifecyclePulse:
      type: object
      properties:
        lifecycle_pulse_id:
          type: string
          description: The internal unique identifier for this specifi...
          readOnly: true
          example: pls-992837-abc
        lifecycle_pulse_key:
          type: string
          description: "A natural business key for the pulse, typically..."
          example: RDR_TRANSMITTED_20260318_143005
        lifecycle_pulse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/LifecyclePulseTypes"
        occurred_at:
          type: string
          description: The high-precision timestamp when the event act...
          format: date-time
          example: 2026-04-01T16:21:22Z
        actor_name:
          type: string
          description: "The identity of the user, service, or system ag..."
          example: DMS_INTEGRATOR_SVC
        execution_id:
          $ref: "#/components/schemas/CorrelationId"
        pulse_detail:
          type: string
          description: pulse detail
          example: "Updated: Assigned to Ocean Trader V22 for transit."
        traceability:
          $ref: "#/components/schemas/EventMessages"
      description: Represents an immutable audit event or 'pulse' ...
    LifecyclePulseTypes:
      type: string
      description: types of lifecycle pulses.
      enum:
        - STARTED
        - CREATED
        - UPDATED
        - PROCESSED
        - TRANSMITTED
        - ACKNOWLEDGED
        - REJECTED
        - ARCHIVED
        - VOIDED
    LifecyclePulses:
      type: array
      items:
        $ref: "#/components/schemas/LifecyclePulse"
    Link:
      type: object
      properties:
        link_key:
          type: string
          description: The unique key for the link.
          example: ' 1f8e50e9'
        href:
          type: string
          description: The URL of the related resource.
          example: ' 465b028d'
        method:
          type: string
          description: The HTTP method to be used to access the link (...
          example: ' 517c176c'
        rel:
          type: string
          description: "The link relation, which describes the relation..."
          example: ' d30c2a71'
        title:
          type: string
          description: A human-readable title for the link.
          example: ' 67c42625'
      description: Represents a Hypermedia as the Engine of Applic...
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for co..."
          example: ' 9e79bdb0'
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
          example: ' 0245ee4c'
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: ' d5ecc288'
        currency_code:
          type: string
          description: The three-letter ISO 4217 currency code used fo...
          example: ' 72c98b4a'
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
          example: ' 36f4af56'
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional tim...
          example: ' b8c4fc6e'
        location_code:
          type: string
          description: The code of the inventory location or branch fr...
          example: WH001
      description: comprehensive locale configuration for currency...
    Manifest:
      type: object
      properties:
        manifest_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The internal unique identifier for the manifest...
          readOnly: true
          example: man-55283-abc
        manifest_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The business key identifying the specific manif...
          example: RDR_US_RETAIL_v2
        context:
          type: string
          description: The business domain or OEM context for this man...
          example: VEHICLE_DELIVERY
        schema:
          $ref: "#/components/schemas/SchemaUri"
        definitions:
          $ref: "#/components/schemas/ManifestItems"
        lifecycle_pulses:
          $ref: "#/components/schemas/LifecyclePulses"
        manifest_type:
          type: string
          description: "The classification of manifest (e.g., 'VALIDATI..."
          example: VALIDATION_RULES
        version:
          $ref: "#/components/schemas/SemanticVersion"
      description: External system manifest defining the structura...
    ManifestItem:
      type: object
      properties:
        manifest_item_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique manifestItem value
          readOnly: true
          example: ' 21ac5704'
        manifest_item_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the manifestItem
          example: ' a5b1329a'
        context:
          type: string
          description: Context or domain of the manifestItem
          example: ' 704c7873'
        id:
          type: string
          description: Context or domain of the manifestItem
          readOnly: true
          example: ' b4042387'
        value:
          type: string
          description: The monetary or hours-based value of the event.
          example: ' f84c8dd3'
        description:
          type: string
          description: The monetary or hours-based value of the event.
          example: ' d6dc9485'
      description: not nullable
    ManifestItems:
      type: array
      items:
        $ref: "#/components/schemas/ManifestItem"
    Manifests:
      type: array
      items:
        $ref: "#/components/schemas/Manifest"
    Memo:
      type: array
      items:
        type: string
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric ...
          readOnly: true
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amoun..."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: Represents a quantitative measurement including...
    MileageAllowance:
      $ref: "#/components/schemas/UOMLengthTypes"
    ModelYear:
      type: string
      description: The 4-digit model year of the vehicle.
      example: "2024"
    MoneyFactor:
      pattern: "^0\\.[0-9]{5,8}$"
      type: string
      description: The lease factor used to calculate the finance ...
      example: "0.00125"
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
        - BAR
        - KPA
        - PSI
        - OZ
        - LB
        - KG
        - GRAMS
        - TONS
        - LITER
        - GALLON
        - FLUID_OUNCE
        - CUBIC_METER
        - KM
        - MILES
        - MI
        - INCH
        - FEET
        - YARD
        - FATHOM
        - NAUTICAL
        - METER
        - CENTIMETER
        - MILLIMETER
        - DURATION
        - SECONDS
        - MINUTES
        - HOURS
        - DAYS
        - WEEKS
        - DAY_OF_MONTH
        - BI_WEEKS
        - SEMI_MONTHS
        - MONTHS
        - QUARTERS
        - SEMI_YEARS
        - YEARS
        - MULTI_YEARS
        - DATE_TIME
        - DATE
        - TIME
        - CELSIUS
        - FAHRENHEIT
        - KELVIN
        - RANKINE
        - VOLT
        - AMPERE
        - OHM
        - WATT
        - KILOWATT_HOUR
        - HP
        - RPM
        - G_FORCE
        - DEGREES
        - OCCURRENCE
        - GROUP
        - CODE
        - CURRENCY
        - POINTS
        - CUSTOM
        - UNLIMITED
        - NONE
        - LABEL
        - PERCENT
        - DESC
        - TEXT
        - KEY
        - PROTECTED_TEXT
        - BINARY
        - STRING
        - NUMBER
        - INTEGER
        - BOOLEAN
        - ARRAY
        - OBJECT
        - FLOAT
        - DOUBLE
        - INT32
        - INT64
        - OTHER
    OemRdrStatusTypes:
      type: string
      description: types of oem rdr status.
      enum:
        - OPEN
        - LOCKED
        - NEW_INTERFACE
        - TRANSMITTED
        - APPROVED
        - REJECTED
        - CANCELLED
    Option:
      type: object
      properties:
        option_id:
          type: string
          description: The unique id for the  option record.
          readOnly: true
          example: ' 94a75193'
        option_key:
          type: string
          description: The unique key for the  option record.
          example: ' 44193be4'
        codes:
          $ref: "#/components/schemas/Codes"
        option_name:
          type: string
          description: The name of the option.
          example: ' 80bffab4'
        option_long_name:
          type: string
          description: The long name of the option.
          example: ' 8a58f3eb'
        manufacturer_name:
          type: string
          description: The manufacturer's name.
          example: ' 436484ae'
        short_description:
          type: string
          description: The short description of the option.
          example: ' bf71b477'
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/ProductTypes"
        quantity:
          $ref: "#/components/schemas/MetricValue"
        option_type:
          $ref: "#/components/schemas/OptionTypes"
        option_installation_type:
          $ref: "#/components/schemas/OptionInstallationTypes"
        option_code:
          type: string
          description: The code for the option.
          example: ' 559f7386'
        option_categories:
          $ref: "#/components/schemas/Codes"
        option_groups:
          $ref: "#/components/schemas/Codes"
        option_descriptions:
          $ref: "#/components/schemas/OptionDescriptions"
      description: "Represents a specific option or feature of a , ..."
    OptionDescription:
      type: object
      properties:
        option_description_key:
          type: string
          description: A unique key for the option description.
          example: ' 88960c9a'
        option_description_id:
          type: string
          description: The unique ID for the option description.
          readOnly: true
          example: ' 5bcab41d'
        option_description_group:
          type: string
          description: The group or category this option belongs to.
          example: ' 3342cbb3'
        option_detail_descriptions:
          $ref: "#/components/schemas/Memo"
        option_description_label:
          type: string
          description: "A short, human-readable label for the option."
          example: ' 111290ea'
      description: A description of a vehicle option or feature.
    OptionDescriptions:
      type: array
      items:
        $ref: "#/components/schemas/OptionDescription"
    OptionInstallationTypes:
      type: string
      description: types of option installations.
      enum:
        - FACTORY_INSTALLED
        - PORT_INSTALLED
        - DEALER_INSTALLED
        - SOFTWARE_UPDATE
        - ACCESSORY_KIT
        - CUSTOM_FABRICATION
        - OWNER_INSTALLED
        - THIRD_PARTY_INSTALLED
        - UNKNOWN
        - OTHER
    OptionTypes:
      type: string
      description: types of options.
      enum:
        - PARTS
        - ACCESSORY
        - EQUIPMENT
        - PACKAGE_GOODS
        - SERVICE_PLAN
        - WARRANTY_PLAN
        - SUBSCRIPTION
        - SOFTWARE
        - CERTIFICATION
        - APPEARANCE
        - INCENTIVE
        - COLOR
        - FABRIC
        - REBATE_INCENTIVE
        - PORT_INSTALLED
        - TELEMATICS
        - OTHER
    Options:
      type: array
      items:
        $ref: "#/components/schemas/Option"
    PartConditionTypes:
      type: string
      description: types of part conditions.
      enum:
        - NEW
        - NEW_OLD_STOCK
        - REMANUFACTURED
        - REBUILT
        - REFURBISHED
        - USED
        - SALVAGE
        - DAMAGED_MINOR
        - DAMAGED_COSMETIC
        - SCRAP
        - COLLECTIBLE
        - OTHER
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique identifier value
          readOnly: true
          example: ' b1f1791a'
        party_reference_key:
          type: string
          description: Unique identifier value
          example: ' 364ba895'
        party_key:
          type: string
          description: Unique identifier value
          example: ' b11951db'
        party_name:
          type: string
          description: Unique identifier value
          example: ' 77c7fa6e'
        contact_name:
          $ref: "#/components/schemas/PersonName"
        locale:
          $ref: "#/components/schemas/Locale"
        authorization_code:
          type: string
          description: Context or domain of the identifier
          example: ' 76e9cf1f'
        source_system_code:
          type: string
          description: Context or domain of the identifier
          example: ' 993c9ec1'
        context:
          type: string
          description: Context or domain of the identifier
          example: ' ed198e8b'
        account_number:
          type: string
          description: Account Number
          example: ' ea7c64f4'
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        rule_codes:
          $ref: "#/components/schemas/Codes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-04-01T16:21:22Z
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
        - CORPORATION
        - GROUP
        - STORE
        - BRANCH
        - DEPARTMENT
        - SECTION
        - TEAM
        - DEALERSHIP
        - THIRD_PARTY
        - VENDOR
        - MERCHANT
        - SUPPLIER
        - PARTNER_ORGANIZATION
        - AFFILIATE
        - DISTRIBUTOR
        - MANUFACTURER
        - SERVICE_PROVIDER
        - EMPLOYER
        - INTERNAL_ORGANIZATION
        - COST_CENTER
        - FREIGHT_FORWARDER
        - BUYER
        - REGULATOR
        - GOVERNMENT_AGENCY
        - NON_PROFIT
        - FRANCHISE
        - SUBSIDIARY
        - DIVISION
        - JOINT_VENTURE
        - AUDITOR
        - ACTOR
        - OEM
        - PRIMARY_OEM
        - DRIVER
        - LIEN_HOLDER
        - PROVIDER
        - ACCOUNTABLE
        - RESPONSIBLE
        - CONSULT
        - NOTIFY
        - EXECUTE
        - PART_OF
        - MEMBERSHIP
        - COMPOSED_IN
        - GEN_MGR
        - SALES_MGR
        - CLOSING_MGR
        - FI_MGR
        - CONCIERGE_MGR
        - SERVICE_MGR
        - SALES_ASSOC
        - BUSINESS_DEVELOPMENT
        - SPECIALIST
        - ADVISOR
        - SERVICE_TECH
        - CONCIERGE_STAFF
        - VALET
        - STAFF
        - FINANCE
        - PASSENGER
        - CUSTOMER
        - CO_SIGNER
        - SPOUSE
        - PARENT
        - CHILD
        - SIBLING
        - LEGAL_GUARDIAN
        - DEPENDENT
        - EMERGENCY_CONTACT
        - FAMILY_MEMBER
        - FRIEND
        - ACQUAINTANCE
        - ASSOCIATE
        - EX_SPOUSE
        - PROFESSIONAL_CONTACT
        - MANAGER
        - CO_WORKER
        - FINANCIAL_ADVISOR
        - SELF
        - ROMANTIC_PARTNER
        - OTHER_FAMILY
        - CAREGIVER
        - MENTOR
        - MENTEE
        - HEIR
        - TRUSTEE_PERSON
        - REFERENCE_PERSONAL
        - REFERENCE_PROFESSIONAL
        - APPLICANT
        - CO_APPLICANT
        - AGENT
        - BENEFICIARY
        - GUARANTOR
        - EMPLOYEE
        - CONTRACTOR
        - OWNER
        - BUSINESS_PARTNER
        - SERVICE_CONSUMER
        - POLITICAL_AFFILIATE
        - ADVISOR_CONSULTANT
        - PROXY
        - SHAREHOLDER
        - INVESTOR
        - CUSTODIAN
        - SOLD_TO
        - SHIP_TO
        - PAYER
        - PAYEE
        - GIFT_TO
        - LOAN_PROVIDER
        - CREDIT_CARD_PROVIDER
        - LESSEE
        - LESSOR
        - INSURED
        - INSURER
        - UNDERWRITER
        - RECIPIENT
        - TRANSACTION_FROM
        - TRANSACTION_TO
        - REMOVE
        - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
        - DEALER
        - EMPLOYEE
        - CUSTOMER
        - ORGANIZATION
        - VENDOR
        - SUPPLIER
        - PUBLIC
        - TAX
        - SERVICE
        - PROSPECT
        - PARTNER
        - CONTRACTOR
        - DEVICE
        - FLEET
        - DRIVER
        - FINANCE
        - GOVERNMENT
        - PERSON
        - GROUP
        - RENTAL
        - RESALE
    PayTypes:
      type: string
      description: types of pays.
      enum:
        - CUSTOMER_PAY
        - WARRANTY
        - INTERNAL
        - SUBLET
        - MANUFACTURER
        - DEALER
    PaymentScheduleReference:
      type: object
      properties:
        payment_schedule_reference_id:
          type: string
          description: Unique identifier value for the reference record.
          readOnly: true
          example: ' a13cc1eb'
        payment_schedule_reference_key:
          type: string
          description: Unique identifier value for the reference record.
          example: ' 39280277'
        payment_schedule_key:
          type: string
          description: The unique key identifying the referenced Payme...
          example: ' 9d608030'
        payment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        context:
          type: string
          description: Context or domain of the payment schedule.
          example: ' 72fc03f5'
        total_payments:
          type: integer
          description: The total number of payments in this schedule.
          format: int32
          example: 60
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated w...
          format: date-time
          example: 2026-04-01T16:21:22Z
        payment_frequency:
          $ref: "#/components/schemas/DurationIntervalTypes"
        payment_amount:
          type: string
          description: The price of all products and services before tax.
          example: ' ca11d620'
        annual_percentage_rate:
          type: string
          description: Context or domain of the payment schedule.
          example: ' 2a84237f'
      description: Reference to a Payment Schedule Aggregate Root.
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          readOnly: true
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          readOnly: true
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          readOnly: true
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: Prefix title used before the person's name (e.g...
          example: Dr.
        honorific_suffix:
          type: string
          description: Suffix title used after the person's name (e.g....
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the p...
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          readOnly: true
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PlateNumber:
      type: string
      description: The alphanumeric string displayed on the vehicl...
      example: ABC1234
    PolicyHolder:
      type: object
      properties:
        policy_holder_key:
          type: string
          description: A unique key for the policy holder.
          example: ' b612edf9'
        policy_holder_name:
          type: string
          description: The full name of the policy holder.
          example: ' b17805fb'
        policy_holder_relationship:
          type: string
          description: The relationship of the policy holder to the cu...
          example: ' e15e60a5'
        special_remarks:
          type: string
          description: Any special remarks or notes about the policy h...
          example: ' 66996c08'
        contact_method_href:
          type: string
          description: A hyperlink to the full contact method details.
          format: href
          example: ' fd4a528f'
      description: Current Insurance PolicyHolder for a customer.
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          readOnly: true
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          maxLength: 20
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
          example: ' 3476118e'
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            type: string
      description: "position meta-data that includes postal code, a..."
    Price:
      type: object
      properties:
        display_value:
          type: string
          description: "Human-readable display value for the price, inc..."
          example: ' 4f32fefc'
        locale:
          type: string
          description: Locale used for formatting display value.
          example: ' a2241300'
        value:
          type: string
          description: The numeric value of the price (before tax/cost...
          example: ' 05660576'
        tax_value:
          type: string
          description: The calculated amount of tax applied to the price.
          example: ' 532d24bd'
        taxable_amount:
          type: string
          description: The portion of the price subject to tax.
          example: ' b97723a2'
        non_taxable_amount:
          type: string
          description: The portion of the price not subject to tax.
          example: ' 8913bdec'
        total_amount:
          type: string
          description: The total final price including all components ...
          example: ' d4dae4af'
        total_cost_amount:
          type: string
          description: The total cost to the provider/seller.
          example: ' 3226b1fe'
        unit_cost_amount:
          type: string
          description: The unit cost to the provider/seller.
          example: ' cf82352c'
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP'..."
          example: ' 5774ccdc'
        price_key:
          type: string
          description: Natural key or business identifier for the pric...
          example: ' 6187cd95'
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base p...
          example: false
        currency_code:
          type: string
          description: "ISO 4217 currency code, e.g., 'USD', 'EUR'."
          example: ' f69b11a7'
        price_id:
          type: string
          description: Unique system identifier for the price record.
          readOnly: true
          example: ' 46ea0664'
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Price that includes display value, currency, lo..."
    PriceSummary:
      type: object
      properties:
        price_summary_key:
          type: string
          description: The unique key for the payment summary record.
          example: ' 51d7f14a'
        price_summary_id:
          type: string
          description: The unique ID for the payment summary.
          readOnly: true
          example: ' 3d8a195a'
        source_key:
          type: string
          description: The unique key to the related invoice.
          example: ' 896346b7'
        source_type:
          $ref: "#/components/schemas/ResourceTypes"
        locale:
          $ref: "#/components/schemas/Locale"
        prices:
          $ref: "#/components/schemas/Prices"
        summary_memo:
          $ref: "#/components/schemas/Memo"
      description: Summarizes the financial totals and pricing com...
    PriceTypes:
      type: string
      description: types of prices.
      enum:
        - METERED
        - SEAT
        - FLAT
        - ITEMIZED
        - BUNDLE
        - QUANTITY
        - PER_UNIT
        - PERCENT
        - VOLUME
        - USAGE
        - STAIR_STEP
        - SUBSCRIPTION
        - CUSTOM
        - STANDARD
        - LICENSED
        - TIER_VOLUME
        - TIER_GRADUATED
        - ACTUAL
        - LIST
        - RETAIL
        - MSRP
        - WHOLESALE
        - DEALER_COST
        - TOTAL_DEALER_COST
        - TOTAL_DEALER_OPTION_COST
        - TOTAL_DEALER_OPTION_SELLING_PRICE
        - RECONDITIONING_COST
        - RESIDUAL_VALUE
        - TDA
        - FUEL
        - TOTAL_HOLD_BACK
        - PPO_HOLD_BACK
        - WRF
        - TRADE
        - CORE
        - LANDED
        - FREIGHT_CHARGE
        - MONEY
        - INTERNET
        - BALANCE
        - BASE
        - BASE_MSRP
        - TOTAL_MSRP
        - TOTAL_OPTION_MSRP
        - PRODUCT_TOTAL
        - FINANCE_TOTAL
        - APPLIED_REWARD_TOTAL
        - UPFRONT_PAYMENT_TOTAL
        - REMOVED_EQUIPT_TOTAL
        - ADJUSTED_MSRP
        - GROSS_SALE
        - NET_SALE
        - NET_SALE_REDUCTION_PRICE
        - DISCOUNT_TOTAL
        - DISCOUNT_PACKAGES_TOTAL
        - CREDIT_TOTAL
        - FEE_TOTAL
        - REBATE_TOTAL
        - TAX_TOTAL
        - TRADE_IN_TOTAL
        - TRADE_IN_EQUITY_TOTAL
        - PROMOTIONAL
        - DISCOUNT
        - CONTRACT
        - SALE
        - PREMIUM_TOTAL
        - DISABILITY_PREMIUM_TOTAL
        - TAXABLE
        - NONTAXABLE
        - TOTAL
        - UNIT
        - TOTAL_COST
        - UNIT_COST
        - TAX
        - ESTIMATED
        - NET
        - PURCHASE
        - CUSTOMER
        - AFFILIATE
        - ONLINE
        - STORE
        - REGION
        - LOCATION
        - OTHER
    Prices:
      type: array
      items:
        $ref: "#/components/schemas/Price"
    ProblemDetail:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. Provides
            human-readable documentation for the error.
          format: uri
          example: https://api.yourdomain.com/errors/validation-failed
        title:
          type: string
          description: "A short, human-readable summary of the problem type. It should\
            \ not change from occurrence to occurrence."
          example: Intent Validation Failed
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          format: int32
          example: 422
        detail:
          type: string
          description: "A human-readable explanation specific to this occurrence of\
            \ the problem, providing context on the failure."
          example: The export request could not be processed due to business constraints.
        instance:
          type: string
          description: "A URI reference that identifies the specific occurrence of\
            \ the problem (e.g., the specific resource path)."
          format: uri
          example: https://api.yourdomain.com/money/exports
        intent:
          type: string
          description: The specific agentic or business intent that was being processed
            when the error occurred.
          example: InitiateMoneyExport
        error_code:
          type: string
          description: "A stable, machine-readable string code for the error."
          example: INSUFFICIENT_FUNDS_FOR_EXPORT
        pointer:
          type: string
          description: A JSON Pointer to the field in the request body that caused
            the violation.
          example: "#/plate_number"
        violations:
          type: array
          description: list of array
          example: "[]"
          items:
            type: object
            properties:
              pointer:
                type: string
                description: A JSON Pointer (RFC 6901) referencing the specific field
                  in the request body that caused the violation.
                example: "#/vehicle_license/plate_number"
              code:
                type: string
                description: "A stable, machine-readable string identifying the specific\
                  \ validation rule that was breached."
                example: PATTERN_MISMATCH
              message:
                type: string
                description: "A localized, human-readable description of the validation\
                  \ error."
                example: The plate number must be alphanumeric and between 1 and 20
                  characters.
              severity:
                type: string
                description: The impact level of this violation. ERROR blocks execution;
                  WARNING is advisory.
                example: ERROR
                enum:
                  - ERROR
                  - WARNING
                  - INFO
              metadata:
                type: object
                additionalProperties:
                  type: string
                description: "Contextual key-value pairs to help the agent resolve\
                  \ the error (e.g., actual vs. expected limits)."
                example:
                  regex: "^[A-Z0-9]{1,20}$"
              rule:
                type: string
                example: INSUFFICIENT_FUNDS
              path:
                type: string
                example: date_range.start
            description: "An individual validation failure within a request, providing\
              \ a direct map to the offending field."
      description: "A standardized error response based on RFC 7807, extended with\
        \ domain-specific intent and validation violations."
    ProductContract:
      type: object
      properties:
        product_contract_id:
          type: string
          description: Unique identifier for the product contract record.
          readOnly: true
          example: 550e8400-e29b-41d4-a716-446655440000
        product_contract_key:
          type: string
          description: Natural business key for the product contract.
          example: TFS-GAP-2026-001
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        contract_number:
          type: string
          description: The assigned contract reference number (Legacy ...
          example: "0060003675"
        execution_date:
          type: string
          description: The date and time the contract was executed.
          format: date
          example: 2026-01-14
        expiration_date:
          type: string
          description: The date the contract is set to expire.
          format: date
          example: 2026-01-14
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        expiration_distance:
          $ref: "#/components/schemas/MetricValue"
        term_units:
          $ref: "#/components/schemas/NarrativeUomTypes"
        term_value:
          type: string
          description: The numeric duration of the contract term.
          example: "36"
        quantity:
          type: string
          description: The quantity of items covered by the contract.
          example: "1"
        capitalization_indicator:
          type: boolean
          description: Indicates if the contract amount is capitalized.
          example: true
        financed_indicator:
          type: boolean
          description: Indicates if the contract is financed.
          example: true
        taxability_indicator:
          type: boolean
          description: Indicates if the contract is taxable.
          example: false
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        codes:
          $ref: "#/components/schemas/Codes"
        contract_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/ContractTypes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        contract_status_type:
          $ref: "#/components/schemas/ContractStatusTypes"
        payment_schedule_reference:
          $ref: "#/components/schemas/PaymentScheduleReference"
      description: Contract details for this product
    ProductContracts:
      type: array
      items:
        $ref: "#/components/schemas/ProductContract"
    ProductStateTypes:
      type: string
      description: types of product states.
      enum:
        - NEW
        - USED
        - REFURBISHED
        - CERTIFIED
        - DEMO
        - RENTAL
        - IN_TRANSIT
        - DISCONTINUED
        - ARCHIVED
        - CUSTOMER_OWNED
        - PARTNER_OWNED
        - THIRD_PARTY_OWNED
        - COMPANY_OWNED
        - UNKNOWN
    ProductTypes:
      type: string
      description: types of products.
      enum:
        - VEHICLE
        - INFORMATION
        - DURABLE_GOODS
        - SOFTWARE
        - APP
        - INSURANCE
        - FINANCE
        - SERVICE
        - PART
        - ACCESSORY
        - F_N_I_PRODUCT
        - SERVICE_PACKAGE
        - DEALER_PRODUCT
        - EQUIPMENT
        - PACKAGE_GOODS
        - SERVICE_PLAN
        - WARRANTY_PLAN
        - SUBSCRIPTION
        - OTHER
    ProtectionProducts:
      $ref: "#/components/schemas/ProductContracts"
    PurchaseTypes:
      type: string
      description: types of purchases.
      enum:
        - RETAIL
        - DEMO
        - LEASE
        - WHOLESALE
        - STANDARD
        - CONTRACT
        - FLEET
        - COMMERCIAL
        - DIRECT
        - OTHER
    ResourceTypes:
      type: string
      description: types of resources.
      enum:
        - SYSTEM
        - WORKFLOW
        - ACTIVITY
        - FUNCTION
        - PROCESS
        - INCIDENT
        - PARTY
        - CUSTOMER
        - APPLICANT
        - VENDOR
        - DEALER_STAFF
        - DRIVER
        - ADDRESS
        - BILL_ADDRESS
        - BILL_CONTACT
        - COMM_CHANNEL
        - ACCOUNT
        - VEHICLE
        - TRADE_IN
        - PRODUCT
        - MANUFACTURER
        - LEAD
        - OPPORTUNITY
        - DEAL
        - FINANCE
        - INVOICE
        - LINEITEM
        - EXPENSE
        - DISCOUNT
        - TAX
        - FEE
        - INCENTIVE
        - DEALERSHIP
        - PART
        - ACCESSORIES
        - PURCHASE_ORDER
        - VEHICLE_OPTION
        - RENTAL
        - SUBSCRIPTION
        - INSURANCE
        - WARRANTY
        - SERVICE
        - APPOINTMENT
        - OTHER
    RetailDeliveryReport:
      type: object
      properties:
        retail_delivery_report_id:
          type: string
          description: The internal unique identifier for the RDR record.
          readOnly: true
          example: rdr-77283-x99
        retail_delivery_report_key:
          type: string
          description: "Natural business key for the RDR, often formatt..."
          example: DLR123-20260318-5TFHY5F
        rdr_source:
          type: string
          description: The source of the RDR
          example: DealerDaily
        manifests:
          $ref: "#/components/schemas/Manifests"
        locale:
          $ref: "#/components/schemas/Locale"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        event_messages:
          $ref: "#/components/schemas/EventMessages"
        occurrence_date_time:
          type: string
          description: The exact date and time the delivery event was ...
          format: date-time
          example: 2026-04-01T16:21:22Z
        dealer_comments:
          $ref: "#/components/schemas/Comments"
        customer_comments:
          $ref: "#/components/schemas/Comments"
        oem_rdr_status_type:
          $ref: "#/components/schemas/OemRdrStatusTypes"
        odometer_at_sale:
          $ref: "#/components/schemas/MetricValue"
        rdr_codes:
          $ref: "#/components/schemas/Codes"
        sales_code:
          $ref: "#/components/schemas/Identifier"
        warranty_codes:
          $ref: "#/components/schemas/Identifiers"
        transmitted_sales_code:
          $ref: "#/components/schemas/Identifier"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        purchase_type:
          $ref: "#/components/schemas/PurchaseTypes"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        narratives:
          $ref: "#/components/schemas/Memo"
        sale_date:
          type: string
          description: The effective date the sale contract was signed.
          format: date
          example: 2026-01-14
        sales_transaction_number:
          type: string
          description: The dealer-assigned transaction or deal jacket ...
          example: TXN-882931-A
        delivery_estimate:
          $ref: "#/components/schemas/ShipmentReference"
        lease_term:
          $ref: "#/components/schemas/LeaseTerm"
        credit_application_reference:
          $ref: "#/components/schemas/CreditApplicationReference"
        vehicle:
          $ref: "#/components/schemas/Vehicle"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        product_contracts:
          $ref: "#/components/schemas/ProtectionProducts"
        credit_contract_included_indicator:
          $ref: "#/components/schemas/CreditContractIncludedIndicator"
        retail_delivery_report_criteria:
          $ref: "#/components/schemas/RetailDeliveryReportCriteria"
      description: Represents the Retail Delivery Report (RDR) doc...
    RetailDeliveryReportCriteria:
      type: object
      properties:
        retail_delivery_report_criteria_id:
          type: string
          description: The internal unique identifier for the RDR record.
          readOnly: true
          example: rdr-77283-x99
        retail_delivery_report_criteria_key:
          type: string
          description: "Natural business key for the RDR, often formatt..."
          example: DLR123-20260318-5TFHY5F
        rdr_source:
          type: string
          description: The source of the RDR
          example: DealerDaily
        locale:
          $ref: "#/components/schemas/Locale"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        oem_rdr_status_type:
          $ref: "#/components/schemas/OemRdrStatusTypes"
        lead_status_type:
          $ref: "#/components/schemas/LeadStatusTypes"
        deal_status_type:
          $ref: "#/components/schemas/DealStatusTypes"
        rdr_codes:
          $ref: "#/components/schemas/Codes"
        sales_code:
          $ref: "#/components/schemas/Identifier"
        warranty_codes:
          $ref: "#/components/schemas/Identifiers"
        transmitted_sales_code:
          $ref: "#/components/schemas/Identifier"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        purchase_type:
          $ref: "#/components/schemas/PurchaseTypes"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        sale_date:
          type: string
          description: The effective date the sale contract was signed.
          format: date
          example: 2026-01-14
        sales_transaction_number:
          type: string
          description: The dealer-assigned transaction or deal jacket ...
          example: TXN-882931-A
        credit_application_reference:
          $ref: "#/components/schemas/CreditApplicationReference"
      description: Represents the Retail Delivery Report (RDR) doc...
    SchemaUri:
      type: string
      description: The URI or name of the JSON/XML schema defining...
      example: https://starstandard.org/schemas/rdr/v2.1/retail.json
    SemanticVersion:
      pattern: ^\d+\.\d+\.\d+$
      type: string
      description: The specific semantic version of the manifest c...
      example: 2.1.4
    ShipmentReference:
      type: object
      properties:
        shipment_reference_id:
          type: string
          description: Internal unique identifier for the shipment ref...
          readOnly: true
          example: shp-ref-55092
        shipment_reference_key:
          type: string
          description: Natural business key for the shipment reference.
          example: LOGISTICS_ESTIMATE_2026_001
        shipment_key:
          type: string
          description: Key for the shipment
          example: OEM_LOGISTICS
        tracking_number:
          $ref: "#/components/schemas/ShipmentTrackingNumber"
        context:
          type: string
          description: The domain or carrier context of the shipment (...
          example: OEM_LOGISTICS
        system_codes:
          $ref: "#/components/schemas/Codes"
        carrier_party:
          $ref: "#/components/schemas/CarrierParty"
        occurrence_date_time:
          type: string
          description: The timestamp when the shipment was initiated o...
          format: date-time
          example: 2026-04-01T16:21:22Z
        unit_of_measures:
          $ref: "#/components/schemas/UnitOfMeasures"
        estimated_delivery:
          $ref: "#/components/schemas/DeliveryWindow"
      description: Reference details for the logistics and shipmen...
    ShipmentTrackingNumber:
      type: string
      description: The external tracking number.
      example: TRK123456789
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
        - SERVICE_TECHNICIAN
        - TECHNICIAN
        - SERVICE_MANAGER
        - SERVICE_ADVISOR
        - SALES_PERSON
        - CUSTOMER_SERVICE
        - SALES_MANAGER
        - F_I_MANAGER
        - CLOSING_MANAGER
        - BUSINESS_MANAGER
        - RECEPTIONIST
        - PARTS_MANAGER
        - PARTS_ADVISOR
        - DETAILER
        - DRIVER
        - APPRAISER
        - GENERAL_MANAGER
        - UNKNOWN
    TimeSlot:
      type: object
      properties:
        time_slot_id:
          type: string
          description: Technical unique identifier (GUID) for the time...
          readOnly: true
          example: b2d3e4f5-a6b7-c8d9-e0f1-a2b3c4d5e6f7
        time_slot_key:
          type: string
          description: Natural business key for the time slot within i...
          example: TS-MON-MORNING-SHIFT
        time_slot_source:
          type: string
          description: The originating system or calendar providing th...
          example: GOOGLE_CALENDAR
        start_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        start_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local start time in 24-hour ISO 8601 format.
          format: date-time
          example: 2026-01-14T12:00:00Z
        end_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        end_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local end time in 24-hour ISO 8601 format.
          format: date-time
          example: 2026-01-14T12:00:00Z
        recurring_indicator:
          type: boolean
          description: Indicates if this time slot is part of a repeat...
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          format: date
          example: "[]"
          items:
            type: string
      description: "Defines a specific window of time, often within..."
    TimeslotDirectiveTypes:
      type: string
      description: Represents the directive for a timeslot.
      enum:
        - AFTER
        - ANYTIME
        - BEFORE
        - BETWEEN
        - BLOCK
        - UNKNOWN
    UOMLengthTypes:
      type: string
      description: types of u o m lengths.
      enum:
        - ANGSTROM
        - A
        - NANOMETER
        - NORMAL_METRIC
        - MICRON
        - MILLIMETER
        - CENTIMETER
        - DECIMETER
        - METER
        - KILOMETER
        - YOTTAMETER
        - MILLI_INCH
        - INCH
        - FEET
        - YARD
        - HAND
        - LINK
        - CHAIN
        - SPAN
        - CUBIT
        - VARA
        - FATHOM
        - ROD
        - PERCH
        - POLE
        - FURLONG
        - CABLE
        - NAUTICAL_MILE
        - LEAGUE
        - DEGREE
        - PIXEL
        - MILE
        - MILES
        - KM
        - METER_SYN
        - CM
        - MM
    UOMQuantityCategoryTypes:
      type: string
      description: types of u o m quantity categorys.
      enum:
        - COUNT
        - WEIGHT
        - VOLUME
        - TIME
        - NET_WEIGHT
        - NET_VOLUME
        - PACKAGE_QUANTITY
        - MIN_ORDER_QUANTITY
        - GROSS_WEIGHT
        - GROSS_VOLUME
        - SHIPPING_WEIGHT
        - DIMENSIONAL_WEIGHT
        - MATERIAL
        - ELECTRICAL_RATING
        - DEFAULT_LEAD_TIME
        - MAX_LEAD_TIME
        - DIMENSION_UNIT
        - MIN_LENGTH
        - MAX_LENGTH
        - MIN_WIDTH
        - MAX_WIDTH
        - MIN_HEIGHT
        - MAX_HEIGHT
        - MIN_WEIGHT
        - MAX_WEIGHT
        - MAX_ORDER_QUANTITY
        - MIN_ORDER_AVAILABLE
        - DIMENSIONS
        - SHIPPING_DIM_LENGTH
        - SHIPPING_DIM_WIDTH
        - SHIPPING_DIM_HEIGHT
        - SHIPPING_DIM_GROSS_WEIGHT
        - SHIPPING_DIM_NET_WEIGHT
        - SHELF_LIFE_HOURS
        - EXPIRATION_DATE
        - MIN_PAYMENT_PERCENT
        - MIN_PAYMENT_AMOUNT
    UnitId:
      type: string
      description: A unique sequence number or business identifier...
      example: "129375127"
    UnitOfMeasure:
      type: object
      properties:
        unit_of_measure_key:
          type: string
          description: Unit of Measure Value
          example: ' 44fd7329'
        unit_name:
          type: string
          description: Unit of Measure
          example: ' f5ee65ad'
        uom_value:
          maxLength: 100
          minLength: 1
          type: string
          description: Unit of Measure Value
          example: ' 026ae120'
        uom_quantity_category_type:
          $ref: "#/components/schemas/UOMQuantityCategoryTypes"
      description: value price with unit of measure
    UnitOfMeasures:
      type: array
      items:
        $ref: "#/components/schemas/UnitOfMeasure"
    VIN:
      maxLength: 17
      minLength: 17
      pattern: "^[0-9A-HJ-NPR-Z]+$"
      type: string
      description: The 17-character Vehicle Identification Number.
      example: 5TFHY5F13KX799310
    Vehicle:
      type: object
      properties:
        vehicle_key:
          type: string
          description: Natural business key for the vehicle (often VIN...
          example: VIN-5TFHY5F13KX799310
        vehicle_id:
          type: string
          description: Internal system GUID for the vehicle record.
          readOnly: true
          example: veh-88293-xyz
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        odometer:
          $ref: "#/components/schemas/MetricValue"
        seats:
          pattern: "^[0-9]+$"
          type: string
          description: Total passenger capacity.
          example: "5"
        condition_type:
          $ref: "#/components/schemas/PartConditionTypes"
        inventory_days:
          pattern: "^[0-9]+$"
          type: string
          description: Number of days the vehicle sat in dealer invent...
          example: "12"
        campaign_codes:
          $ref: "#/components/schemas/Codes"
        position:
          $ref: "#/components/schemas/VehiclePosition"
        production_date:
          type: string
          description: The date the vehicle completed assembly (Birth ...
          format: date
          example: 2026-01-14
        stock_date_time:
          type: string
          description: The timestamp when the vehicle was officially '...
          format: date-time
          example: 2026-04-01T16:21:22Z
        control_account_id:
          type: string
          description: The unique identifier for the internal floorpla...
          readOnly: true
          example: ACC-99283-TR
        control_account_type:
          $ref: "#/components/schemas/ControlAccountTypes"
        vehicle_specification:
          $ref: "#/components/schemas/VehicleSpecification"
        original_sold_date:
[...]
