openapi: 3.0.1
info:
  title: Automotive Retail Systems API - RetailDeliveryReport
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: Health
  description: Tag Description Health
- name: Lifecycle
  description: Operations related to Lifecycle
- name: RetailDeliveryReports
  description: Operations related to RetailDeliveryReports
paths:
  /retail-delivery-reports:
    get:
      tags:
      - RetailDeliveryReports
      summary: Returns a paginated list of retail delivery report
      description: a list of RetailDeliveryReport
      operationId: listRetailDeliveryReports
      parameters:
      - $ref: "#/components/parameters/EndDateQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/StartDateQuery"
      - $ref: "#/components/parameters/StatusQuery"
      - $ref: "#/components/parameters/UnitIdQuery"
      - $ref: "#/components/parameters/VINQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/RetailDeliveryReportCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    post:
      tags:
      - RetailDeliveryReports
      summary: create retail delivery report
      description: create RetailDeliveryReport
      operationId: createRetailDeliveryReport
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetailDeliveryReport"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/RetailDeliveryReportCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /retail-delivery-reports/{retail-delivery-report-key}:
    get:
      tags:
      - RetailDeliveryReports
      summary: Retrieve a single item scoped by a key RetailDeliveryReport entities.
      description: Retrieve a single item scoped by a key RetailDeliveryReport entities.
      operationId: getRetailDeliveryReportByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/RetailDeliveryReportKey"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      responses:
        "200":
          $ref: "#/components/responses/RetailDeliveryReportSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    put:
      tags:
      - RetailDeliveryReports
      summary: Replace values in a single item scoped by a key RetailDeliveryReport
        entities.
      description: Replace values in a single item scoped by a key RetailDeliveryReport
        entities.
      operationId: replaceRetailDeliveryReportByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/RetailDeliveryReportKey"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetailDeliveryReport"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/RetailDeliveryReportUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    delete:
      tags:
      - RetailDeliveryReports
      summary: Delete a single item scoped by a key RetailDeliveryReport
      description: delete a RetailDeliveryReport
      operationId: deleteRetailDeliveryReport
      parameters:
      - $ref: "#/components/parameters/ReasonQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/RetailDeliveryReportKey"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      responses:
        "200":
          $ref: "#/components/responses/RetailDeliveryReportSingleResponse"
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    patch:
      tags:
      - RetailDeliveryReports
      summary: Update a single item scoped by a key RetailDeliveryReport
      description: update a single item
      operationId: updateRetailDeliveryReportByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/RetailDeliveryReportKey"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/RetailDeliveryReport"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/RetailDeliveryReportUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /retail-delivery-report/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the RetailDeliveryReport root node.
      operationId: healthRetailDeliveryReport
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /retail-delivery-reports/search:
    post:
      tags:
      - RetailDeliveryReports
      summary: search retail delivery report
      description: Execute a complex query using a criteria object.
      operationId: searchRetailDeliveryReport
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetailDeliveryReportCriteria"
      responses:
        "201":
          $ref: "#/components/responses/RetailDeliveryReportCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /retail-delivery-report/{retail-delivery-report-key}/notifications:
    post:
      tags:
      - Lifecycle
      summary: Receive Status Notification
      description: Updates the workflow state of the RetailDeliveryReport aggregate
        root via a LifecycleStatusEvent
      operationId: notifyRetailDeliveryReportStatusinstanceChange
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/RetailDeliveryReportKey"
      requestBody:
        description: "The LifecycleStatusEvent payload containing transition data,\
          \ actor info, and reason codes."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LifecycleStatusEvent"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/LifecycleStatusEventResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /retail-delivery-report/notifications:
    post:
      tags:
      - Lifecycle
      summary: Receive Status Notification
      description: Updates the workflow state of the RetailDeliveryReport aggregate
        root via a LifecycleStatusEvent
      operationId: notifyRetailDeliveryReportStatuscollectionChange
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      requestBody:
        description: "The LifecycleStatusEvent Collection payload containing transition\
          \ data, actor info, and reason codes."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LifecycleStatusCollectionEvent"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/LifecycleStatusEventCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918464"
        address_reference_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918465"
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: address_types list
          example:
          - INSURANCE
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
          example: 123 Main St
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Suite 400
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Building A
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Mail Stop 22
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: "Attention: Accounts Payable"
        city:
          type: string
          description: Name of the city.
          example: Atlanta
        country_code:
          type: string
          description: Full name of the country.
          example: US
        district:
          type: string
          description: Name of the district.
          example: North District
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
          example: Work Email
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
          example: "30303"
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
          example: GA
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      example: BILLING
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    ApplicationStatusTypes:
      type: string
      description: types of application status.
      example: INITIATING
      enum:
      - INITIATING
      - ACTIVE
      - SALES_HOLD
      - PAYMENT_HOLD
      - FINANCE_HOLD
      - CUSTOMER_HOLD
      - APPROVED
      - DECLINED
      - REJECT
      - CANCELLED
      - ABANDON
      - COMPLETE
      - INACTIVE
      - INVALID
      - CLOSE
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-06T06:01:58.757318Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918466"
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    CabTypes:
      type: string
      description: types of cabs.
      example: REGULAR
      enum:
      - REGULAR
      - EXTENDED
      - CREW
      - MEGA
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918467"
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918468"
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Vehicle engine component.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ColorDetail:
      type: object
      properties:
        color_detail_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918469"
        color_detail_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918470"
        dealer_color:
          type: string
          description: The color as designated by the dealer.
          example: Black
        desc_color:
          type: string
          description: A descriptive name for the color.
          example: Midnight Black Metallic
        color_code:
          type: string
          description: The technical code of the color
          example: MBM
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM) name or code.
          example: OEM
        marketing_name:
          type: string
          description: The Marketing Name of the color
          example: Midnight Black
      description: "Details for a specific color, including dealer and OEM codes."
    Comments:
      type: array
      items:
        type: string
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918471"
        communication_channel_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918472"
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
          example: user@example.com
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
          example: "{country_code=+1}"
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
          example: Work Email
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      example: PHONE
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ContractStatusTypes:
      type: string
      description: types of contract status.
      example: PENDING
      enum:
      - PENDING
      - APPROVED
      - CONDITIONAL
      - BOOKED
      - DECLINED
      - OTHER
    ContractTypes:
      type: string
      description: types of contracts.
      example: WARRANTY
      enum:
      - WARRANTY
      - SERVICE
      - EXTENDED_WARRANTY
      - MAINTENANCE
      - FINANCE
      - PROTECTION
      - OTHER
    ControlAccountTypes:
      type: string
      description: types of control accounts.
      example: ASSETS
      enum:
      - ASSETS
      - FIXED_ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - LONG_TERM_LIABILITY
      - EQUITY
      - CLEARING
      - PROVISION
      - ROUNDING
      - REVENUE
      - OTHER_INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - TAX
      - DISCOUNT
      - REBATE
      - FEE
      - SERVICE
      - CREDIT
      - OTHER
      - DEALER
      - VEHICLE
      - ACCESSORIES
      - OPTION
      - CUSTOMER
      - VENDOR
      - EMPLOYEE
      - PRODUCT
      - REPAIR_ORDER
      - PARTS_SALES_ORDER
      - PACKAGE
      - REFERENCE
    CorrelationId:
      pattern: "^[a-zA-Z0-9-]+$"
      type: string
      description: The correlation ID or workflow execution identifier for cross-system
        distributed tracing.
      example: exec-uuid-99283-7716
    CreditApplicationReference:
      type: object
      properties:
        credit_application_reference_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918473"
        credit_application_reference_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918474"
        credit_application_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918475"
        credit_parties:
          $ref: "#/components/schemas/PartyReferences"
        locale:
          $ref: "#/components/schemas/Locale"
        occurrence_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-04-28T05:54:46.757387Z
        credit_application_name:
          type: string
          description: The name of the credit application.
          example: Auto Loan Application
        credit_application_date:
          type: string
          description: "Calendar date associated with this value, represented in ISO-8601\
            \ date format."
          format: date
          example: 2026-05-01
        confirmation_code:
          type: string
          description: The confirmation code for the credit application.
          example: CONF-INS-001
        application_status_type:
          $ref: "#/components/schemas/ApplicationStatusTypes"
        credit_application_events:
          $ref: "#/components/schemas/LifecycleEvents"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
      description: External system identifier
    CreditContractIncludedIndicator:
      type: boolean
      description: "Indicates if a formal credit contract or retail installment sub-document\
        \ is included in this report. If true, the credit_contract object must be\
        \ populated."
      example: true
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918476"
        currency_exchange_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918477"
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-05T12:28:05.757486Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      example: SUN
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DealStatusTypes:
      type: string
      description: types of deal status.
      example: IN_PROGRESS
      enum:
      - IN_PROGRESS
      - ABANDONED
      - ACCEPTED
      - POSTED
      - FUNDED
      - REVERSED
    Dealer:
      $ref: "#/components/schemas/OrgReference"
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DeviceTypes:
      type: string
      description: types of devices.
      example: MOBILE
      enum:
      - MOBILE
      - TABLET
      - DESKTOP
      - SMART_TV
      - OTHER
    DocumentReference:
      type: object
      properties:
        document_reference_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918478"
        document_reference_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918479"
        document_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918480"
        document_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-10T17:33:11.757501Z
        document_identification_context:
          type: string
          description: Context or group of identifications that uniquely identifies
            this document.
          example: FINANCE_CONTRACT_REPOSITORY
        document_type:
          $ref: "#/components/schemas/DocumentTypes"
      description: A group of identifications that uniquely identifies a document
        referenced from another bounded context.
    DocumentReferences:
      type: array
      items:
        $ref: "#/components/schemas/DocumentReference"
    DocumentTypes:
      type: string
      description: types of documents.
      example: DRIVERS_LICENSE
      enum:
      - DRIVERS_LICENSE
      - STATE_ID
      - PASSPORT
      - MILITARY
      - INTERNATIONAL
      - STUDENT
      - GOVERNMENT
      - BIRTH_CERTIFICATE
      - SOCIAL_SECURITY
      - UNIFIED_MULTI_PURPOSE_ID
      - PROFESSIONAL
      - GROUP
      - CONSULAR_BIRTH_ABROAD
      - RESIDENT
      - NATURALIZATION
      - CITIZENSHIP
      - EMPLOYMENT_AUTHORIZATION
      - COURT_DOCUMENT
      - VISA
      - CORPORATE
      - OTHER1
      - CREDIT_CONTRACT
      - PRODUCT_CONTRACT
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      example: ONE_TIME
      enum:
      - ONE_TIME
      - RECUR
      - MINUTES
      - HOURLY
      - DAILY
      - WEEKLY
      - BI_WEEKLY
      - SEMI_MONTHLY
      - MONTHLY
      - QUARTERLY
      - SEMI_YEAR
      - YEARLY
      - MULTI_YEAR
      - LIFETIME
      - CUSTOM
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      example: MINUTES
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918481"
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-21T02:19:49.757514Z
        complete_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-06T09:58:04.757519Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "89"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Efficiency:
      type: object
      properties:
        efficiency_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918482"
        efficiency_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918483"
        city_efficiency:
          type: string
          description: The vehicle's fuel efficiency in a city driving environment.
          example: "25"
        highway_efficiency:
          type: string
          description: The vehicle's fuel efficiency on a highway.
          example: "32"
      description: Details regarding a vehicle's fuel efficiency.
    EngineTypes:
      type: string
      description: types of engines.
      example: ICE
      enum:
      - ICE
      - THERMAL_INTERNAL
      - THERMAL_EXTERNAL
      - THERMAL_REACTION
      - ELECTRIC
      - PHYSICAL
      - HYBRID
      - OTHER
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918484"
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: Field-level validation errors or granular diagnostic information.
          example:
          - field: payrollId
            issue: must be unique
            rejected_value: "12345"
          items:
            $ref: "#/components/schemas/ErrorDetailItem"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    ErrorDetailItem:
      required:
      - field
      - issue
      type: object
      properties:
        field:
          type: string
          description: The JSON path or field name that caused the error.
          example: payrollId
        issue:
          type: string
          description: The specific validation rule that failed.
          example: must be unique
        rejected_value:
          type: string
          description: The value that was sent and rejected (only if non-sensitive).
          example: "12345"
      description: Field-level validation error or granular diagnostic information.
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918485"
        event_message_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918486"
        event_actor_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918487"
        event_actor_name:
          type: string
          description: The name of the actor for the event.
          example: System
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: Content of the event message.
          example:
          - "847156371168874498"
          - "847156371168874499"
          items:
            type: string
        event_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-22T02:09:23.757574Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belongs.
          example: ORDER_EVENTS
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
          example: Order creation event.
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
          example: OrderCreated
        event_message_code:
          type: string
          description: The code for the eventMessage.
          example: ORD-001
        event_message_value:
          type: string
          description: The value of the eventMessage.
          example: SUCCESS
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessage is internal.
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      example: INSTRUCTION
      enum:
      - INSTRUCTION
      - REASONING
      - RESPONSE
      - TOOL_CALL
      - TOOL_OUTPUT
      - ACTION_CONFIRMATION
      - COMPENSATION
      - RETRY_SIGNAL
      - ERROR_REPORT
      - DELEGATION
      - BROADCAST
      - CRITIQUE
      - LOGGING
      - AUDIT
      - HEARTBEAT
      - UNKNOWN
    EventMessages:
      type: array
      items:
        $ref: "#/components/schemas/EventMessage"
    FuelTypes:
      type: string
      description: types of fuels.
      example: GASOLINE
      enum:
      - GASOLINE
      - DIESEL
      - BIO_DIESEL
      - ETHANOL
      - ELECTRIC
      - HYDROGEN
      - NATURAL_GAS
      - PROPANE
      - METHANOL
      - DIESEL_OID_MDF
      - SOLAR_OIL_HSD
      - KEROSENE
      - AVIATION_TURBINE_AVTUR
      - AVIATION_GASOLINE_AVGAS
      - P_SERIES
      - OTHER
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918488"
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        value:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: user@example.com
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          description: Current health status of the service.
          example: ACTIVE
        version:
          type: string
          description: Version of the deployed service.
          example: 2.0.0
      description: Standard health check response body
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918489"
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918490"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        value:
          type: string
          description: The monetary or hours-based value of the event.
          example: user@example.com
        detail:
          type: string
          description: The monetary or hours-based value of the event.
          example: Primary identifier
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
          example: identifier_type value
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Insurance:
      type: object
      properties:
        insurance_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918491"
        insurance_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918492"
        insurance_type:
          $ref: "#/components/schemas/InsuranceTypes"
        insurance_company:
          $ref: "#/components/schemas/PartyReference"
        insurance_agent:
          $ref: "#/components/schemas/PartyReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        plan_codes:
          $ref: "#/components/schemas/Codes"
        plan_types:
          $ref: "#/components/schemas/Codes"
        agreement_number:
          type: string
          description: The insurance policy number.
          example: "11"
        insurance_policy_number:
          type: string
          description: The insurance policy number.
          example: "51"
        effective_date:
          type: string
          description: "Calendar date associated with this value, represented in ISO-8601\
            \ date format."
          format: date
          example: 2026-05-03
        expiration_date:
          type: string
          description: "Calendar date associated with this value, represented in ISO-8601\
            \ date format."
          format: date
          example: 2026-05-09
        plan_coverage:
          $ref: "#/components/schemas/MetricValue"
        expiration_mileage:
          $ref: "#/components/schemas/MetricValue"
        insured_person_name:
          type: string
          description: The name of the insured person.
          example: Jane Smith
        description:
          type: string
          description: A general description of the insurance.
          example: Vehicle engine component.
        confirmation_code:
          type: string
          description: The confirmation code for the policy.
          example: CONF-INS-001
        policy_holder:
          $ref: "#/components/schemas/PolicyHolder"
        insurance_terms:
          $ref: "#/components/schemas/InsuranceTerms"
        links:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: Links related to the insurance policy.
          items:
            $ref: "#/components/schemas/Link"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
      description: nullable
    InsuranceTerm:
      type: object
      properties:
        insurance_term_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918493"
        term_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918494"
        term_name:
          type: string
          description: The name of the insurance term.
          example: Coverage Period
        term_desc:
          type: string
          description: A description of the insurance term.
          example: Defines the duration of coverage.
        price:
          $ref: "#/components/schemas/Price"
      description: Current Insurance Term for a customer.
    InsuranceTerms:
      type: array
      items:
        $ref: "#/components/schemas/InsuranceTerm"
    InsuranceTypes:
      type: string
      description: types of insurances.
      example: HEALTH
      enum:
      - HEALTH
      - AUTO
      - HOMEOWNERS
      - RENTERS
      - LIFE
      - DISABILITY
      - UMBRELLA
      - LONG_TERM_DISABILITY
      - TERM_LIFE
      - LONG_TERM_CARE
      - IDENTITY_THEFT_PROTECTION
      - PERSONAL
      - PROPERTY
      - MARINE
      - FIRE
      - LIABILITY
      - GUARANTEE
      - FLOOD
      - WIND
      - STORM
      - OTHER
      - PROFESSIONAL_LIABILITY
      - COMMERCIAL_AUTO
      - CYBER_LIABILITY
      - WORKERS_COMPENSATION
      - BUSINESS_INTERRUPTION
      - RENT_GUARANTEE
      - TITLE
      - PET
      - TRAVEL
      - EVENT
    Insurances:
      type: array
      items:
        $ref: "#/components/schemas/Insurance"
    InventoryStatusTypes:
      type: string
      description: types of inventory status.
      example: ON_ORDER
      enum:
      - ON_ORDER
      - RECEIVED
      - PREPARATION
      - STOCKED_IN
      - AVAILABLE
      - RESERVED
      - PRE_SOLD
      - ON_HOLD
      - SALES_HOLD
      - SERVICE_HOLD
      - RECALL_HOLD
      - IN_TRANSIT
      - ON_DEALER_LOT
      - ON_CENTRAL_LOT
      - ASSIGNED_BY_MANUFACTURER
      - SOLD
      - WHOLESALE
      - DAMAGED
      - UNAVAILABLE
      - RETURNED
      - DISPOSAL
      - UNKNOWN
    LeadStatusTypes:
      type: string
      description: types of lead status.
      example: NEW
      enum:
      - NEW
      - UNQUALIFIED
      - CONTACTED
      - IN_PROGRESS
      - FOLLOW_UP_SCHEDULED
      - DEMO_GIVEN
      - PROPOSAL_SENT
      - VERBAL_COMMITMENT
      - NEGOTIATION
      - CONTRACT_SENT
      - WON
      - LOST
      - DISQUALIFIED
    LeaseTerm:
      type: object
      properties:
        lease_term_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918495"
        lease_term_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918496"
        term_months:
          pattern: "^\\d{4,6}$"
          type: integer
          description: Duration of the lease in months.
          example: 1927
        money_factor:
          $ref: "#/components/schemas/MoneyFactor"
        residual_value:
          $ref: "#/components/schemas/GeneralAmount"
        mileage_allowance:
          $ref: "#/components/schemas/MileageAllowance"
        gross_capitalized_cost:
          $ref: "#/components/schemas/Price"
        term_manifests:
          $ref: "#/components/schemas/Manifests"
      description: Lease Terms and Financial Details for vehicle delivery and credit
        contracts.
    LifecycleEvent:
      type: object
      properties:
        lifecycle_event_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918497"
        lifecycle_event_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918498"
        actor_href:
          type: string
          description: The href of the actor who initiated the event.
          format: href
          example: https://api.example.com/resources/45217
        actor_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918499"
        actor_name:
          type: string
          description: The name of the actor who initiated the event.
          example: John Doe
        lifecycle_event_type:
          $ref: "#/components/schemas/LifecycleEventTypes"
        occurrence_date:
          type: string
          description: "Calendar date associated with this value, represented in ISO-8601\
            \ date format."
          format: date
          example: 2026-05-23
        resource_href:
          type: string
          description: The href of the resource associated with the event.
          format: href
          example: https://api.example.com/resources/19349
        resource_identifier:
          type: string
          description: The unique identifier of the resource associated with the event.
          example: RSC-88776655
        detail_name:
          type: string
          description: The name of the event detail.
          example: Order ID
        detail_desc:
          type: string
          description: A description of the event detail.
          example: The unique ID of the order being processed.
        detail_value:
          type: string
          description: The value of the event detail.
          example: ORD-44556677
        detail_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918500"
        detail_code:
          type: string
          description: The code for the event detail.
          example: ORDER_STATUS_CHANGED
        resource_types:
          $ref: "#/components/schemas/ResourceTypes"
      description: Lifecycle Event
    LifecycleEventTypes:
      type: string
      description: types of lifecycle events.
      example: CREATED
      enum:
      - CREATED
      - UPDATED
      - DELETE_HARD
      - DELETE_SOFT
      - ACCESS_ALLOWED
      - ACCESS_DENIED
      - SUBMITTED
      - CLOSED
      - CANCELLED
      - DEAD
      - INITIALIZED
      - INITIALIZING
      - PROCESSING
      - PROCESSED
      - FAILED
      - VALIDATED
      - QUALIFIED
      - STEP_TRANSITION
      - STATUS_CHANGE
      - QUEUED
      - ACKNOWLEDGMENT
      - REJECTED
      - UNQUALIFIED
      - INCOMPLETE
    LifecycleEvents:
      type: array
      items:
        $ref: "#/components/schemas/LifecycleEvent"
    LifecyclePulse:
      type: object
      properties:
        lifecycle_pulse_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918501"
        lifecycle_pulse_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918502"
        lifecycle_pulse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: lifecycle_pulse_types list
          example:
          - ACKNOWLEDGED
          items:
            $ref: "#/components/schemas/LifecyclePulseTypes"
        occurred_at:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-04T19:27:21.757789Z
        actor_name:
          type: string
          description: "The identity of the user, service, or system agent that triggered\
            \ the event."
          example: DMS_INTEGRATOR_SVC
        execution_id:
          $ref: "#/components/schemas/CorrelationId"
        pulse_detail:
          type: string
          description: pulse detail
          example: "Updated: Assigned to Ocean Trader V22 for transit."
        traceability:
          $ref: "#/components/schemas/EventMessages"
      description: Represents an immutable audit event or 'pulse' in the record lifecycle.
    LifecyclePulseTypes:
      type: string
      description: types of lifecycle pulses.
      example: STARTED
      enum:
      - STARTED
      - CREATED
      - UPDATED
      - PROCESSED
      - TRANSMITTED
      - ACKNOWLEDGED
      - REJECTED
      - ARCHIVED
      - VOIDED
    LifecyclePulses:
      type: array
      items:
        $ref: "#/components/schemas/LifecyclePulse"
    LifecycleStatusCollectionEvent:
      title: LifecycleStatusEvents
      maxItems: 1000
      minItems: 1
      type: array
      description: A collection of lifecycle status events representing the historical
        or batch transition logs for an entity.
      example:
      - source_system_code: CRM_01
        transition_from: REVIEW
        transition_date_time: 2026-04-23T11:04:17Z
        lifecycle_status_event_key: EVT-20260206
        transition_to: APPROVED
      items:
        $ref: "#/components/schemas/LifecycleStatusEvent"
    LifecycleStatusEvent:
      title: LifecycleStatusEvent
      required:
      - lifecycle_status_event_key
      - source_system_code
      - transition_date_time
      - transition_from
      - transition_to
      type: object
      properties:
        lifecycle_status_event_key:
          title: Event Key
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918503"
        source_system_code:
          title: Source System Code
          maxLength: 20
          minLength: 2
          type: string
          description: The mnemonic code of the system originating the status change.
          example: DMS
        transition_date_time:
          title: Transition Timestamp
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-04-28T13:11:25.757806Z
        transition_from:
          title: Previous State
          type: string
          description: The state the lifecycle is transitioning FROM. Use 'START'
            for new entities.
          example: PENDING
        transition_to:
          title: Target State
          type: string
          description: The state the lifecycle is transitioning TO.
          example: APPROVED
        note:
          title: Transition Note
          maxLength: 1000
          type: string
          description: Audit trail comments or reason codes explaining the transition.
          example: RDR approved by NVS automated matching.
        identifiers:
          title: Related Identifiers
          minItems: 1
          type: array
          description: "A list of business identifiers (e.g., VIN, GUID) associated\
            \ with this lifecycle event."
          items:
            $ref: "#/components/schemas/Identifier"
      description: Represents a formal transition event within the entity lifecycle
        workflow.
    Link:
      type: object
      properties:
        link_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918504"
        href:
          type: string
          description: The URL of the related resource.
          example: https://api.example.com/resource/1
        method:
          type: string
          description: "The HTTP method to be used to access the link (e.g., GET,\
            \ POST)."
          example: GET
        rel:
          type: string
          description: "The link relation, which describes the relationship between\
            \ the current resource and the linked resource."
          example: self
        title:
          type: string
          description: A human-readable title for the link.
          example: Resource Link
      description: "Represents a Hypermedia as the Engine of Application State (HATEOS)\
        \ link, providing information on how to interact with a related resource."
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918505"
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
          example: English (US)
        description:
          type: string
          description: A detailed description of the alert message.
          example: Vehicle engine component.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
          example: en
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: US
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
          example: $
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
          example: America/New_York
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
          example: "###,###.##"
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: USNA
      description: not nullable
    Manifest:
      type: object
      properties:
        manifest_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918506"
        manifest_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918507"
        context:
          type: string
          description: "The business domain or OEM context for this manifest (e.g.,\
            \ 'SALES', 'LOGISTICS', 'WARRANTY')."
          example: FINANCE
        schema:
          $ref: "#/components/schemas/SchemaUri"
        definitions:
          $ref: "#/components/schemas/ManifestItems"
        lifecycle_pulses:
          $ref: "#/components/schemas/LifecyclePulses"
        manifest_type:
          type: string
          description: "The classification of manifest (e.g., 'VALIDATION_RULES',\
            \ 'DATA_MAPPING', 'TRANSFORMATION')."
          example: manifest_type value
        version:
          $ref: "#/components/schemas/SemanticVersion"
      description: External system manifest defining the structural rules and metadata
        for a transaction.
    ManifestItem:
      type: object
      properties:
        manifest_item_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918508"
        manifest_item_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918509"
        context:
          type: string
          description: Context or domain of the manifestItem
          example: FINANCE
        id:
          type: string
          description: Context or domain of the manifestItem
          example: ITEM-001
        value:
          type: string
          description: The monetary or hours-based value of the event.
          example: user@example.com
        description:
          type: string
          description: The monetary or hours-based value of the event.
          example: Vehicle engine component.
      description: not nullable
    ManifestItems:
      type: array
      items:
        $ref: "#/components/schemas/ManifestItem"
    Manifests:
      type: array
      items:
        $ref: "#/components/schemas/Manifest"
    Media:
      type: object
      properties:
        media_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918510"
        media_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918511"
        authors:
          $ref: "#/components/schemas/PartyReferences"
        occurrence_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-14T23:42:59.757879Z
        name:
          type: string
          description: A hyperlink to the media's content.
          example: Vehicle Image Side View
        media_format_type:
          $ref: "#/components/schemas/MediaFormatTypes"
        media_href:
          type: string
          description: A hyperlink to the media resource.
          format: href
          example: https://api.example.com/resources/45126
        media_type:
          $ref: "#/components/schemas/MediaTypes"
        media_status_type:
          $ref: "#/components/schemas/MediaTypes"
        media_delivery_method_type:
          $ref: "#/components/schemas/MediaDeliveryMethodTypes"
        media_usage_type:
          $ref: "#/components/schemas/MediaUsageTypes"
        media_version:
          type: string
          description: The version of the media.
          example: v2
        quality:
          type: string
          description: A numeric value representing the quality of the media.
          example: MEDIUM
        media_source:
          type: string
          description: The source of the media.
          example: DEALER
        media_description:
          type: string
          description: The source of the media.
          example: Updated image with corrected lighting.
        categories:
          $ref: "#/components/schemas/Codes"
        dpi:
          type: string
          description: "The dots per inch (DPI) for the media, if applicable."
          example: "150"
        w_pixel:
          type: string
          description: The width of the media in pixels.
          example: "1280"
        h_pixel:
          type: string
          description: The height of the media in pixels.
          example: "720"
        media_resolution:
          type: string
          description: "The display resolution of the media (e.g., 480p, 720p, 1080p)."
          example: 1280x720
        media_duration_seconds:
          type: string
          description: The total duration of the media file in seconds.
          example: "25"
        media_sent_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-10T11:40:50.757923Z
        media_keys:
          $ref: "#/components/schemas/Codes"
        media_access_metrics:
          $ref: "#/components/schemas/MediaAccessMetrics"
      description: "Media item including video, images, and sound."
    MediaAccessMetric:
      type: object
      properties:
        media_access_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918512"
        media_access_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918513"
        media_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918514"
        first_viewed_at:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          example: 2026-05-25T04:11:09.757936Z
        completed_at:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          example: 2026-05-03T14:36:39.757939Z
        view_count:
          type: string
          description: Total number of engagement events.
          example: "87"
        watch_time_seconds:
          type: string
          description: The cumulative time in seconds the user spent viewing the media.
          example: "110"
        completion_percentage:
          type: string
          description: The furthest point reached in the media as a percentage (0-100).
          example: "95"
        last_viewed_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-07T20:42:44.757947Z
        device_type:
          $ref: "#/components/schemas/DeviceTypes"
        user_agent:
          type: string
          description: The browser user agent string from the most recent view.
          example: Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X)
        buffer_count:
          type: string
          description: The number of times the media playback was interrupted by buffering.
          example: "37"
        load_time_ms:
          type: string
          description: The time in milliseconds it took for the media to begin playback
            after the request.
          example: "320"
      description: "Represents a media stream, such as a video or audio file."
    MediaAccessMetrics:
      type: array
      items:
        $ref: "#/components/schemas/MediaAccessMetric"
    MediaDeliveryMethodTypes:
      type: string
      description: types of media delivery methods.
      example: MMS
      enum:
      - MMS
      - SMS
      - EMAIL
      - PUSH_NOTIFICATION
      - WHATSAPP
      - IN_APP
      - WEB_PORTAL
    MediaFormatTypes:
      type: string
      description: types of media formats.
      example: PDF
      enum:
      - PDF
      - DOC
      - DOCX
      - XLS
      - XLSX
      - PPT
      - PPTX
      - AIFF
      - BMP
      - JPG
      - PNG
      - GIF
      - ICO
      - AVI
      - MPG
      - MP4
      - WMV
      - MOV
      - FLV
      - SWF
      - MKV
      - OCTET
      - GZ
      - BZ2
      - ZIP
      - RAR
      - ODT
      - MOBI
      - HTML
      - EPUB
      - SVG
      - FLAC
      - WAV
      - CONTAINER
      - OTHER
    MediaTypes:
      type: string
      description: types of medias.
      example: OCTET
      enum:
      - OCTET
      - TEXT
      - HTML
      - CSS
      - JAVASCRIPT
      - JSON
      - XML
      - IMAGE
      - GIF
      - SVG
      - JPEG
      - PNG
      - AUDIO
      - MP3
      - WAV
      - VIDEO
      - MP4
      - MPEG
      - QUICKTIME
      - STREAM
      - APPLICATION
      - ARCHIVE
      - EXECUTABLE
      - DOCUMENT
      - PDF
      - MODEL
      - FONT
    MediaUsageTypes:
      type: string
      description: types of media usages.
      example: THUMBNAIL
      enum:
      - THUMBNAIL
      - PREVIEW
      - STANDARD
      - HIGH_QUALITY
      - LOW_QUALITY
      - ORIGINAL
      - HERO
      - BANNER
      - AVATAR
      - GALLERY
      - READ
      - OTHER
    Medias:
      type: array
      items:
        $ref: "#/components/schemas/Media"
    Memo:
      type: array
      items:
        type: string
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918515"
        metric_value_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918516"
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: user@example.com
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    MileageAllowance:
      $ref: "#/components/schemas/UomLengthTypes"
    MoneyFactor:
      pattern: "^0\\.[0-9]{5,8}$"
      type: string
      description: The lease factor used to calculate the finance charge.
      example: "0.00125"
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      example: BAR
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - OTHER
    OemRdrStatusTypes:
      type: string
      description: types of oem rdr status.
      example: OPEN
      enum:
      - OPEN
      - LOCKED
      - NEW_INTERFACE
      - TRANSMITTED
      - APPROVED
      - REJECTED
      - CANCELLED
    OperatingStatusTypes:
      type: string
      description: types of operating status.
      example: ACTIVE
      enum:
      - ACTIVE
      - OPERATIONAL
      - ONLINE
      - BETA
      - TRIAL
      - CLOSED
      - INACTIVE
      - DORMANT
      - SUSPENDED
      - DECOMMISSIONED
      - TERMINATED
      - ARCHIVED
      - PENDING
      - UNDER_REVIEW
      - PROPOSED
      - DRAFT
      - HOLD
      - ERROR
      - FAILURE
      - UNKNOWN
      - OTHER
    OptionDescription:
      type: object
      properties:
        option_description_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918517"
        option_description_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918518"
        option_description_group:
          type: string
          description: The group or category this option belongs to.
          example: FEATURES
        option_detail_descriptions:
          $ref: "#/components/schemas/Memo"
        option_description_label:
          type: string
          description: "A short, human-readable label for the option."
          example: Sunroof Description
      description: A description of a vehicle option or feature.
    OptionInstallationTypes:
      type: string
      description: types of option installations.
      example: FACTORY_INSTALLED
      enum:
      - FACTORY_INSTALLED
      - PORT_INSTALLED
      - DEALER_INSTALLED
      - SOFTWARE_UPDATE
      - ACCESSORY_KIT
      - CUSTOM_FABRICATION
      - OWNER_INSTALLED
      - THIRD_PARTY_INSTALLED
      - UNKNOWN
      - OTHER
    OptionTypes:
      type: string
      description: types of options.
      example: PARTS
      enum:
      - PARTS
      - ACCESSORY
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - SOFTWARE
      - CERTIFICATION
      - APPEARANCE
      - INCENTIVE
      - COLOR
      - FABRIC
      - REBATE_INCENTIVE
      - PORT_INSTALLED
      - TELEMATICS
      - OTHER
    OrderCategoryTypes:
      type: string
      description: types of order categorys.
      example: RETAIL
      enum:
      - RETAIL
      - WHOLESALE
      - E_COMMERCE
      - COMMERCIAL
      - GOVERNMENT
      - EDUCATIONAL
      - CONTRACT
      - SUBSCRIPTION
      - DIRECT
      - FLEET
      - TRADE_IN
      - LEASE
      - CUSTOM_ORDER
      - STANDARD
      - OTHER
    OrgReference:
      type: object
      properties:
        org_reference_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918519"
        org_reference_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918520"
        description:
          type: string
          description: A detailed description  .
          example: Vehicle engine component.
        party_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918521"
        org_name:
          type: string
          description: An alias or common name for the organization.
          example: Atlanta Auto Group
        alias:
          type: string
          description: An alias or common name for the organization.
          example: AAG
        codes:
          $ref: "#/components/schemas/Codes"
        line_of_businesses:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: Lines of business associated with the organization.
          example:
          - Body Shop
          - New Sales
          items:
            type: string
        operating_status_type:
          $ref: "#/components/schemas/OperatingStatusTypes"
        org_contact_names:
          $ref: "#/components/schemas/PersonNames"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
      description: not nullable
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377321918522"
        party_reference_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918523"
        party_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377321918524"
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-12345
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: DMS
        context:
          type: string
          description: The domain or operational context for the reference.
          example: FINANCE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: "81"
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: party_relationship_types list
          example:
          - OWNER
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-12T18:24:46.758011Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      example: CORPORATION
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      example: DEALER
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayTypes:
      type: string
      description: types of pays.
      example: CUSTOMER_PAY
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentScheduleReference:
      type: object
      properties:
        payment_schedule_reference_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377326112768"
        payment_schedule_reference_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377326112769"
        payment_schedule_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377326112770"
        payment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        context:
          type: string
          description: Context or domain of the payment schedule.
          example: FINANCE
        total_payments:
          pattern: "^\\d{4,6}$"
          type: integer
          description: The total number of payments in this schedule.
          example: 199
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: "Date and time when the event or value occurred, represented\
            \ in ISO-8601 date-time format."
          format: date-time
          example: 2026-05-15T19:22:40.758031Z
        payment_frequency:
          $ref: "#/components/schemas/DurationIntervalTypes"
        payment_amount:
          type: string
          description: The price of all products and services before tax.
          example: $941.15
        annual_percentage_rate:
          type: string
          description: Context or domain of the payment schedule.
          example: "3.5"
      description: Reference to a Payment Schedule Aggregate Root.
    PaymentTypes:
      type: string
      description: types of payments.
      example: OUTRIGHT_PURCHASE
      enum:
      - OUTRIGHT_PURCHASE
      - FINANCED_PURCHASE
      - SUBSCRIPTION
      - DEPOSIT
      - PROGRESS_PAYMENT
      - SCHEDULED_PAYMENT
      - CONSUMPTION_BASED
      - CUSTOM_AGREEMENT
      - CASH
      - BALLON
      - LEASE
      - LEASE_NO_BUYOUT
      - LEASE_BUYOUT
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AAG
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: https://api.example.com/resources/30521
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377326112771"
        person_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377326112772"
        person_name_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377326112773"
        person_name_id:
          type: string
          description: Unique system-specific internal identifier.
          example: "847156377326112774"
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PersonNames:
      type: array
      items:
        $ref: "#/components/schemas/PersonName"
    PolicyHolder:
      type: object
      properties:
        policy_holder_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377326112775"
        policy_holder_name:
          $ref: "#/components/schemas/PersonName"
        policy_holder_relationship:
          $ref: "#/components/schemas/PartyRelationshipTypes"
        special_remarks:
          type: string
          description: Any special remarks or notes about the policy holder.
          example: Preferred customer
        contact_method_key:
          type: string
          description: Unique global internal or external business key.
          example: "847156377326112776"
        policy_number:
          type: string
          description: The unique identifier of the insurance policy.
          example: "9"
        carrier_name:
          type: string
          description: Name of the insurance company or carrier.
          example: State Farm
        vin:
          $ref: "#/components/schemas/VIN"
        effective_date:
          type: string
          description: "Calendar date associated with this value, represented in ISO-8601\
            \ date format."
          format: date
          example: 2026-05-02
        expiration_date:
          type: string
          description: "Calendar date associated with this value, represented in ISO-8601\
            \ date format."
          format: date
          example: 2026-05-08
[...]
