openapi: 3.0.1
info:
  title: Automotive Retail Systems API - RetailDeliveryReport
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    ApplicationStatusTypes:
      type: string
      description: types of application status.
      enum:
      - INITIATING
      - ACTIVE
      - SALES_HOLD
      - PAYMENT_HOLD
      - FINANCE_HOLD
      - CUSTOMER_HOLD
      - APPROVED
      - DECLINED
      - REJECT
      - CANCELLED
      - ABANDON
      - COMPLETE
      - INACTIVE
      - INVALID
      - CLOSE
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-26T01:31:08Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    CabTypes:
      type: string
      description: types of cabs.
      enum:
      - REGULAR
      - EXTENDED
      - CREW
      - MEGA
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ColorDetail:
      type: object
      properties:
        color_detail_id:
          type: string
          description: A unique id for the color detail.
        color_detail_key:
          type: string
          description: A unique key for the color detail.
        dealer_color:
          type: string
          description: The color as designated by the dealer.
        desc_color:
          type: string
          description: A descriptive name for the color.
        color_code:
          type: string
          description: The technical code of the color
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM) name or code.
        marketing_name:
          type: string
          description: The Marketing Name of the color
      description: "Details for a specific color, including dealer and OEM codes."
    Comments:
      type: array
      items:
        type: string
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ContractStatusTypes:
      type: string
      description: types of contract status.
      enum:
      - PENDING
      - APPROVED
      - CONDITIONAL
      - BOOKED
      - DECLINED
      - OTHER
    ContractTypes:
      type: string
      description: types of contracts.
      enum:
      - WARRANTY
      - SERVICE
      - EXTENDED_WARRANTY
      - MAINTENANCE
      - FINANCE
      - PROTECTION
      - OTHER
    ControlAccountTypes:
      type: string
      description: types of control accounts.
      enum:
      - ASSETS
      - FIXED_ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - LONG_TERM_LIABILITY
      - EQUITY
      - CLEARING
      - PROVISION
      - ROUNDING
      - REVENUE
      - OTHER_INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - TAX
      - DISCOUNT
      - REBATE
      - FEE
      - SERVICE
      - CREDIT
      - OTHER
      - DEALER
      - VEHICLE
      - ACCESSORIES
      - OPTION
      - CUSTOMER
      - VENDOR
      - EMPLOYEE
      - PRODUCT
      - REPAIR_ORDER
      - PARTS_SALES_ORDER
      - PACKAGE
      - REFERENCE
    CorrelationId:
      pattern: "^[a-zA-Z0-9-]+$"
      type: string
      description: The correlation ID or workflow execution identifier for cross-system
        distributed tracing.
      example: exec-uuid-99283-7716
    CreditApplicationReference:
      type: object
      properties:
        credit_application_reference_id:
          type: string
          description: Unique identifier value
        credit_application_reference_key:
          type: string
          description: Unique identifier value
        credit_application_key:
          type: string
          description: Unique identifier value
        credit_parties:
          $ref: "#/components/schemas/PartyReferences"
        locale:
          $ref: "#/components/schemas/Locale"
        occurrence_date_time:
          type: string
          description: The date and time the financialForecast was associated with
            the order.
          format: date-time
          example: 2026-05-26T01:31:08Z
        credit_application_name:
          type: string
          description: The name of the credit application.
        credit_application_date:
          type: string
          description: The date and time the financialForecast was associated with
            the order.
          format: date
        confirmation_code:
          type: string
          description: The confirmation code for the credit application.
        application_status_type:
          $ref: "#/components/schemas/ApplicationStatusTypes"
        credit_application_events:
          $ref: "#/components/schemas/LifecycleEvents"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
      description: External system identifier
    CreditContractIncludedIndicator:
      type: boolean
      description: "Indicates if a formal credit contract or retail installment sub-document\
        \ is included in this report. If true, the credit_contract object must be\
        \ populated."
      example: true
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-26T01:31:08Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DealStatusTypes:
      type: string
      description: types of deal status.
      enum:
      - IN_PROGRESS
      - ABANDONED
      - ACCEPTED
      - POSTED
      - FUNDED
      - REVERSED
    Dealer:
      $ref: "#/components/schemas/OrgReference"
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DeviceTypes:
      type: string
      description: types of devices.
      enum:
      - MOBILE
      - TABLET
      - DESKTOP
      - SMART_TV
      - OTHER
    DocumentReference:
      type: object
      properties:
        document_reference_id:
          type: string
          description: The internal unique identifier for this reference record.
          example: ref-9928-doc
        document_reference_key:
          type: string
          description: The natural business key for the document reference.
          example: CREDIT_APP_ATTACHMENT_01
        document_id:
          type: string
          description: The identifier for the document. This identifier is a GUID
            or other unique identifier set by the creator of the document.
          example: 550e8400-e29b-41d4-a716-446655440000
        document_date_time:
          type: string
          description: The date and time that the event being documented occurred.
          format: date-time
          example: 2026-05-26T01:31:08Z
        document_identification_context:
          type: string
          description: Context or group of identifications that uniquely identifies
            this document.
          example: FINANCE_CONTRACT_REPOSITORY
        document_type:
          $ref: "#/components/schemas/DocumentTypes"
      description: A group of identifications that uniquely identifies a document
        referenced from another bounded context.
    DocumentReferences:
      type: array
      items:
        $ref: "#/components/schemas/DocumentReference"
    DocumentTypes:
      type: string
      description: types of documents.
      enum:
      - DRIVERS_LICENSE
      - STATE_ID
      - PASSPORT
      - MILITARY
      - INTERNATIONAL
      - STUDENT
      - GOVERNMENT
      - BIRTH_CERTIFICATE
      - SOCIAL_SECURITY
      - UNIFIED_MULTI_PURPOSE_ID
      - PROFESSIONAL
      - GROUP
      - CONSULAR_BIRTH_ABROAD
      - RESIDENT
      - NATURALIZATION
      - CITIZENSHIP
      - EMPLOYMENT_AUTHORIZATION
      - COURT_DOCUMENT
      - VISA
      - CORPORATE
      - OTHER1
      - CREDIT_CONTRACT
      - PRODUCT_CONTRACT
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      enum:
      - ONE_TIME
      - RECUR
      - MINUTES
      - HOURLY
      - DAILY
      - WEEKLY
      - BI_WEEKLY
      - SEMI_MONTHLY
      - MONTHLY
      - QUARTERLY
      - SEMI_YEAR
      - YEARLY
      - MULTI_YEAR
      - LIFETIME
      - CUSTOM
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-26T01:31:08Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-26T01:31:08Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Efficiency:
      type: object
      properties:
        efficiency_id:
          type: string
          description: A unique key for the efficiency record.
        efficiency_key:
          type: string
          description: A unique key for the efficiency record.
        city_efficiency:
          type: string
          description: The vehicle's fuel efficiency in a city driving environment.
        highway_efficiency:
          type: string
          description: The vehicle's fuel efficiency on a highway.
      description: Details regarding a vehicle's fuel efficiency.
    EngineTypes:
      type: string
      description: types of engines.
      enum:
      - ICE
      - THERMAL_INTERNAL
      - THERMAL_EXTERNAL
      - THERMAL_REACTION
      - ELECTRIC
      - PHYSICAL
      - HYBRID
      - OTHER
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: A unique key for the eventMessage record.
        event_message_id:
          type: string
          description: The unique ID for the eventMessage.
        event_actor_key:
          type: string
          description: The ID of the actor for the event.
        event_actor_name:
          type: string
          description: The name of the actor for the event.
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-05-26T01:31:08Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belongs.
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
        event_message_code:
          type: string
          description: The code for the eventMessage.
        event_message_value:
          type: string
          description: The value of the eventMessage.
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessage is internal.
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      enum:
      - INSTRUCTION
      - REASONING
      - RESPONSE
      - TOOL_CALL
      - TOOL_OUTPUT
      - ACTION_CONFIRMATION
      - COMPENSATION
      - RETRY_SIGNAL
      - ERROR_REPORT
      - DELEGATION
      - BROADCAST
      - CRITIQUE
      - LOGGING
      - AUDIT
      - HEARTBEAT
      - UNKNOWN
    EventMessages:
      type: array
      items:
        $ref: "#/components/schemas/EventMessage"
    FuelTypes:
      type: string
      description: types of fuels.
      enum:
      - GASOLINE
      - DIESEL
      - BIO_DIESEL
      - ETHANOL
      - ELECTRIC
      - HYDROGEN
      - NATURAL_GAS
      - PROPANE
      - METHANOL
      - DIESEL_OID_MDF
      - SOLAR_OIL_HSD
      - KEROSENE
      - AVIATION_TURBINE_AVTUR
      - AVIATION_GASOLINE_AVGAS
      - P_SERIES
      - OTHER
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        value:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Insurance:
      type: object
      properties:
        insurance_key:
          type: string
          description: A unique key for the insurance record.
        insurance_id:
          type: string
          description: The unique ID for the insurance record.
        insurance_type:
          $ref: "#/components/schemas/InsuranceTypes"
        insurance_company:
          $ref: "#/components/schemas/PartyReference"
        insurance_agent:
          $ref: "#/components/schemas/PartyReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        plan_codes:
          $ref: "#/components/schemas/Codes"
        plan_types:
          $ref: "#/components/schemas/Codes"
        agreement_number:
          type: string
          description: The insurance policy number.
        insurance_policy_number:
          type: string
          description: The insurance policy number.
        effective_date:
          type: string
          description: The effective date of the insurance policy.
          format: date
        expiration_date:
          type: string
          description: The expiration date of the insurance policy.
          format: date
        plan_coverage:
          $ref: "#/components/schemas/MetricValue"
        expiration_mileage:
          $ref: "#/components/schemas/MetricValue"
        insured_person_name:
          type: string
          description: The name of the insured person.
        description:
          type: string
          description: A general description of the insurance.
        confirmation_code:
          type: string
          description: The confirmation code for the policy.
        policy_holder:
          $ref: "#/components/schemas/PolicyHolder"
        insurance_terms:
          $ref: "#/components/schemas/InsuranceTerms"
        links:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Link"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
      description: nullable
    InsuranceTerm:
      type: object
      properties:
        insurance_term_key:
          type: string
          description: A unique key for the insurance term record.
        term_id:
          type: string
          description: The unique ID for the insurance term.
        term_name:
          type: string
          description: The name of the insurance term.
        term_desc:
          type: string
          description: A description of the insurance term.
        price:
          $ref: "#/components/schemas/Price"
      description: Current Insurance Term for a customer.
    InsuranceTerms:
      type: array
      items:
        $ref: "#/components/schemas/InsuranceTerm"
    InsuranceTypes:
      type: string
      description: types of insurances.
      enum:
      - HEALTH
      - AUTO
      - HOMEOWNERS
      - RENTERS
      - LIFE
      - DISABILITY
      - UMBRELLA
      - LONG_TERM_DISABILITY
      - TERM_LIFE
      - LONG_TERM_CARE
      - IDENTITY_THEFT_PROTECTION
      - PERSONAL
      - PROPERTY
      - MARINE
      - FIRE
      - LIABILITY
      - GUARANTEE
      - FLOOD
      - WIND
      - STORM
      - OTHER
      - PROFESSIONAL_LIABILITY
      - COMMERCIAL_AUTO
      - CYBER_LIABILITY
      - WORKERS_COMPENSATION
      - BUSINESS_INTERRUPTION
      - RENT_GUARANTEE
      - TITLE
      - PET
      - TRAVEL
      - EVENT
    Insurances:
      type: array
      items:
        $ref: "#/components/schemas/Insurance"
    InventoryStatusTypes:
      type: string
      description: types of inventory status.
      enum:
      - ON_ORDER
      - RECEIVED
      - PREPARATION
      - STOCKED_IN
      - AVAILABLE
      - RESERVED
      - PRE_SOLD
      - ON_HOLD
      - SALES_HOLD
      - SERVICE_HOLD
      - RECALL_HOLD
      - IN_TRANSIT
      - ON_DEALER_LOT
      - ON_CENTRAL_LOT
      - ASSIGNED_BY_MANUFACTURER
      - SOLD
      - WHOLESALE
      - DAMAGED
      - UNAVAILABLE
      - RETURNED
      - DISPOSAL
      - UNKNOWN
    LeadStatusTypes:
      type: string
      description: types of lead status.
      enum:
      - NEW
      - UNQUALIFIED
      - CONTACTED
      - IN_PROGRESS
      - FOLLOW_UP_SCHEDULED
      - DEMO_GIVEN
      - PROPOSAL_SENT
      - VERBAL_COMMITMENT
      - NEGOTIATION
      - CONTRACT_SENT
      - WON
      - LOST
      - DISQUALIFIED
    LeaseTerm:
      type: object
      properties:
        lease_term_id:
          type: string
          description: Internal unique identifier for the lease term record.
          example: lt-99283-x
        lease_term_key:
          type: string
          description: "Natural business key for the lease (e.g., LSE-VIN-2026)."
          example: LSE-5TFHY5F-2026
        term_months:
          maximum: 120
          minimum: 1
          type: integer
          description: Duration of the lease in months.
          format: int32
          example: 36
        money_factor:
          $ref: "#/components/schemas/MoneyFactor"
        residual_value:
          $ref: "#/components/schemas/GeneralAmount"
        mileage_allowance:
          $ref: "#/components/schemas/MileageAllowance"
        gross_capitalized_cost:
          $ref: "#/components/schemas/Price"
        term_manifests:
          $ref: "#/components/schemas/Manifests"
      description: Lease Terms and Financial Details for vehicle delivery and credit
        contracts.
    LifecycleEvent:
      type: object
      properties:
        lifecycle_event_id:
          type: string
          description: The unique ID for the lifecycle event.
          example: EVT-99887766
        lifecycle_event_key:
          type: string
          description: The unique external key or business identifier used in integrations.
          example: LIFECYCLE-879234
        actor_href:
          type: string
          description: The href of the actor who initiated the event.
          format: href
        actor_id:
          type: string
          description: The unique identifier of the actor who initiated the event.
          example: USR-24681357
        actor_name:
          type: string
          description: The name of the actor who initiated the event.
          example: John Doe
        lifecycle_event_type:
          $ref: "#/components/schemas/LifecycleEventTypes"
        occurrence_date:
          type: string
          description: The date and time the event occurred.
          format: date
        resource_href:
          type: string
          description: The href of the resource associated with the event.
          format: href
        resource_identifier:
          type: string
          description: The unique identifier of the resource associated with the event.
          example: RSC-88776655
        detail_name:
          type: string
          description: The name of the event detail.
          example: Order ID
        detail_desc:
          type: string
          description: A description of the event detail.
          example: The unique ID of the order being processed.
        detail_value:
          type: string
          description: The value of the event detail.
          example: ORD-44556677
        detail_key:
          type: string
          description: The unique key for the event detail.
          example: ORDER_ID
        detail_code:
          type: string
          description: The code for the event detail.
          example: ORDER_STATUS_CHANGED
        resource_types:
          $ref: "#/components/schemas/ResourceTypes"
      description: Lifecycle Event
    LifecycleEventTypes:
      type: string
      description: types of lifecycle events.
      enum:
      - CREATED
      - UPDATED
      - DELETE_HARD
      - DELETE_SOFT
      - ACCESS_ALLOWED
      - ACCESS_DENIED
      - SUBMITTED
      - CLOSED
      - CANCELLED
      - DEAD
      - INITIALIZED
      - INITIALIZING
      - PROCESSING
      - PROCESSED
      - FAILED
      - VALIDATED
      - QUALIFIED
      - STEP_TRANSITION
      - STATUS_CHANGE
      - QUEUED
      - ACKNOWLEDGMENT
      - REJECTED
      - UNQUALIFIED
      - INCOMPLETE
    LifecycleEvents:
      type: array
      items:
        $ref: "#/components/schemas/LifecycleEvent"
    LifecyclePulse:
      type: object
      properties:
        lifecycle_pulse_id:
          type: string
          description: The internal unique identifier for this specific pulse record.
          example: pls-992837-abc
        lifecycle_pulse_key:
          type: string
          description: "A natural business key for the pulse, typically formatted\
            \ as EVENT_NAME-TIMESTAMP."
          example: RDR_TRANSMITTED_20260318_143005
        lifecycle_pulse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/LifecyclePulseTypes"
        occurred_at:
          type: string
          description: The high-precision timestamp when the event actually occurred
            in the source system.
          format: date-time
          example: 2026-05-26T01:31:08Z
        actor_name:
          type: string
          description: "The identity of the user, service, or system agent that triggered\
            \ the event."
          example: DMS_INTEGRATOR_SVC
        execution_id:
          $ref: "#/components/schemas/CorrelationId"
        pulse_detail:
          type: string
          description: pulse detail
          example: "Updated: Assigned to Ocean Trader V22 for transit."
        traceability:
          $ref: "#/components/schemas/EventMessages"
      description: Represents an immutable audit event or 'pulse' in the record lifecycle.
    LifecyclePulseTypes:
      type: string
      description: types of lifecycle pulses.
      enum:
      - STARTED
      - CREATED
      - UPDATED
      - PROCESSED
      - TRANSMITTED
      - ACKNOWLEDGED
      - REJECTED
      - ARCHIVED
      - VOIDED
    LifecyclePulses:
      type: array
      items:
        $ref: "#/components/schemas/LifecyclePulse"
    Link:
      type: object
      properties:
        link_key:
          type: string
          description: The unique key for the link.
        href:
          type: string
          description: The URL of the related resource.
        method:
          type: string
          description: "The HTTP method to be used to access the link (e.g., GET,\
            \ POST)."
        rel:
          type: string
          description: "The link relation, which describes the relationship between\
            \ the current resource and the linked resource."
        title:
          type: string
          description: A human-readable title for the link.
      description: "Represents a Hypermedia as the Engine of Application State (HATEOS)\
        \ link, providing information on how to interact with a related resource."
    List:
      type: array
      items:
        $ref: "#/components/schemas/VehicleBodyStyleTypes"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: not nullable
    Manifest:
      type: object
      properties:
        manifest_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The internal unique identifier for the manifest instance.
          example: man-55283-abc
        manifest_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The business key identifying the specific manifest configuration.
          example: RDR_US_RETAIL_v2
        context:
          type: string
          description: "The business domain or OEM context for this manifest (e.g.,\
            \ 'SALES', 'LOGISTICS', 'WARRANTY')."
          example: VEHICLE_DELIVERY
        schema:
          $ref: "#/components/schemas/SchemaUri"
        definitions:
          $ref: "#/components/schemas/ManifestItems"
        lifecycle_pulses:
          $ref: "#/components/schemas/LifecyclePulses"
        manifest_type:
          type: string
          description: "The classification of manifest (e.g., 'VALIDATION_RULES',\
            \ 'DATA_MAPPING', 'TRANSFORMATION')."
          example: VALIDATION_RULES
        version:
          $ref: "#/components/schemas/SemanticVersion"
      description: External system manifest defining the structural rules and metadata
        for a transaction.
    ManifestItem:
      type: object
      properties:
        manifest_item_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique manifestItem value
        manifest_item_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the manifestItem
        context:
          type: string
          description: Context or domain of the manifestItem
        id:
          type: string
          description: Context or domain of the manifestItem
        value:
          type: string
          description: The monetary or hours-based value of the event.
        description:
          type: string
          description: The monetary or hours-based value of the event.
      description: not nullable
    ManifestItems:
      type: array
      items:
        $ref: "#/components/schemas/ManifestItem"
    Manifests:
      type: array
      items:
        $ref: "#/components/schemas/Manifest"
    Media:
      type: object
      properties:
        media_key:
          type: string
          description: A unique key for the media item.
        media_id:
          type: string
          description: The unique ID for the media item.
        authors:
          $ref: "#/components/schemas/PartyReferences"
        occurrence_date_time:
          type: string
          description: The date and time the media was created or captured.
          format: date-time
          example: 2026-05-26T01:31:08Z
        name:
          type: string
          description: A hyperlink to the media's content.
        media_format_type:
          $ref: "#/components/schemas/MediaFormatTypes"
        media_href:
          type: string
          description: A hyperlink to the media resource.
          format: href
        media_type:
          $ref: "#/components/schemas/MediaTypes"
        media_status_type:
          $ref: "#/components/schemas/MediaTypes"
        media_delivery_method_type:
          $ref: "#/components/schemas/MediaDeliveryMethodTypes"
        media_usage_type:
          $ref: "#/components/schemas/MediaUsageTypes"
        media_version:
          type: string
          description: The version of the media.
        quality:
          type: string
          description: A numeric value representing the quality of the media.
        media_source:
          type: string
          description: The source of the media.
        media_description:
          type: string
          description: The source of the media.
        categories:
          $ref: "#/components/schemas/Codes"
        dpi:
          type: string
          description: "The dots per inch (DPI) for the media, if applicable."
        w_pixel:
          type: string
          description: The width of the media in pixels.
        h_pixel:
          type: string
          description: The height of the media in pixels.
        media_resolution:
          type: string
          description: "The display resolution of the media (e.g., 480p, 720p, 1080p)."
        media_duration_seconds:
          type: string
          description: The total duration of the media file in seconds.
        media_sent_date_time:
          type: string
          description: The ISO 8601 date and time when the media was dispatched to
            the recipient.
          format: date-time
          example: 2026-05-26T01:31:08Z
        media_keys:
          $ref: "#/components/schemas/Codes"
        media_access_metrics:
          $ref: "#/components/schemas/MediaAccessMetrics"
      description: "Media item including video, images, and sound."
    MediaAccessMetric:
      type: object
      properties:
        media_access_id:
          type: string
          description: The unique ID for the media stream.
        media_access_key:
          type: string
          description: The unique key for the media stream record.
        media_key:
          type: string
          description: The unique ID for the parent media asset.
        first_viewed_at:
          type: string
          description: ISO 8601 timestamp of the first access.
        completed_at:
          type: string
          description: ISO 8601 timestamp when the user finished the media.
        view_count:
          type: string
          description: Total number of engagement events.
        watch_time_seconds:
          type: string
          description: The cumulative time in seconds the user spent viewing the media.
        completion_percentage:
          type: string
          description: The furthest point reached in the media as a percentage (0-100).
        last_viewed_date_time:
          type: string
          description: The ISO 8601 date and time of the most recent access.
          format: date-time
        device_type:
          $ref: "#/components/schemas/DeviceTypes"
        user_agent:
          type: string
          description: The browser user agent string from the most recent view.
        buffer_count:
          type: string
          description: The number of times the media playback was interrupted by buffering.
        load_time_ms:
          type: string
          description: The time in milliseconds it took for the media to begin playback
            after the request.
      description: "Represents a media stream, such as a video or audio file."
    MediaAccessMetrics:
      type: array
      items:
        $ref: "#/components/schemas/MediaAccessMetric"
    MediaDeliveryMethodTypes:
      type: string
      description: types of media delivery methods.
      enum:
      - MMS
      - SMS
      - EMAIL
      - PUSH_NOTIFICATION
      - WHATSAPP
      - IN_APP
      - WEB_PORTAL
    MediaFormatTypes:
      type: string
      description: types of media formats.
      enum:
      - PDF
      - DOC
      - DOCX
      - XLS
      - XLSX
      - PPT
      - PPTX
      - AIFF
      - BMP
      - JPG
      - PNG
      - GIF
      - ICO
      - AVI
      - MPG
      - MP4
      - WMV
      - MOV
      - FLV
      - SWF
      - MKV
      - OCTET
      - GZ
      - BZ2
      - ZIP
      - RAR
      - ODT
      - MOBI
      - HTML
      - EPUB
      - SVG
      - FLAC
      - WAV
      - CONTAINER
      - OTHER
    MediaTypes:
      type: string
      description: types of medias.
      enum:
      - OCTET
      - TEXT
      - HTML
      - CSS
      - JAVASCRIPT
      - JSON
      - XML
      - IMAGE
      - GIF
      - SVG
      - JPEG
      - PNG
      - AUDIO
      - MP3
      - WAV
      - VIDEO
      - MP4
      - MPEG
      - QUICKTIME
      - STREAM
      - APPLICATION
      - ARCHIVE
      - EXECUTABLE
      - DOCUMENT
      - PDF
      - MODEL
      - FONT
    MediaUsageTypes:
      type: string
      description: types of media usages.
      enum:
      - THUMBNAIL
      - PREVIEW
      - STANDARD
      - HIGH_QUALITY
      - LOW_QUALITY
      - ORIGINAL
      - HERO
      - BANNER
      - AVATAR
      - GALLERY
      - READ
      - OTHER
    Medias:
      type: array
      items:
        $ref: "#/components/schemas/Media"
    Memo:
      type: array
      items:
        type: string
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    MileageAllowance:
      $ref: "#/components/schemas/UomLengthTypes"
    MoneyFactor:
      pattern: "^0\\.[0-9]{5,8}$"
      type: string
      description: The lease factor used to calculate the finance charge.
      example: "0.00125"
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - OTHER
    OemRdrStatusTypes:
      type: string
      description: types of oem rdr status.
      enum:
      - OPEN
      - LOCKED
      - NEW_INTERFACE
      - TRANSMITTED
      - APPROVED
      - REJECTED
      - CANCELLED
    OperatingStatusTypes:
      type: string
      description: types of operating status.
      enum:
      - ACTIVE
      - OPERATIONAL
      - ONLINE
      - BETA
      - TRIAL
      - CLOSED
      - INACTIVE
      - DORMANT
      - SUSPENDED
      - DECOMMISSIONED
      - TERMINATED
      - ARCHIVED
      - PENDING
      - UNDER_REVIEW
      - PROPOSED
      - DRAFT
      - HOLD
      - ERROR
      - FAILURE
      - UNKNOWN
      - OTHER
    OptionDescription:
      type: object
      properties:
        option_description_key:
          type: string
          description: A unique key for the option description.
        option_description_id:
          type: string
          description: The unique ID for the option description.
        option_description_group:
          type: string
          description: The group or category this option belongs to.
        option_detail_descriptions:
          $ref: "#/components/schemas/Memo"
        option_description_label:
          type: string
          description: "A short, human-readable label for the option."
      description: A description of a vehicle option or feature.
    OptionInstallationTypes:
      type: string
      description: types of option installations.
      enum:
      - FACTORY_INSTALLED
      - PORT_INSTALLED
      - DEALER_INSTALLED
      - SOFTWARE_UPDATE
      - ACCESSORY_KIT
      - CUSTOM_FABRICATION
      - OWNER_INSTALLED
      - THIRD_PARTY_INSTALLED
      - UNKNOWN
      - OTHER
    OptionTypes:
      type: string
      description: types of options.
      enum:
      - PARTS
      - ACCESSORY
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - SOFTWARE
      - CERTIFICATION
      - APPEARANCE
      - INCENTIVE
      - COLOR
      - FABRIC
      - REBATE_INCENTIVE
      - PORT_INSTALLED
      - TELEMATICS
      - OTHER
    OrderCategoryTypes:
      type: string
      description: types of order categorys.
      enum:
      - RETAIL
      - WHOLESALE
      - E_COMMERCE
      - COMMERCIAL
      - GOVERNMENT
      - EDUCATIONAL
      - CONTRACT
      - SUBSCRIPTION
      - DIRECT
      - FLEET
      - TRADE_IN
      - LEASE
      - CUSTOM_ORDER
      - STANDARD
      - OTHER
    OrgReference:
      type: object
      properties:
        org_reference_key:
          type: string
          description: A unique key for the organization profile.
        org_reference_id:
          type: string
          description: The unique ID for the organization profile.
        description:
          type: string
          description: A detailed description  .
          example: Thomas Dealership
        party_id:
          type: string
          description: The unique ID for the party associated with the organization.
        org_name:
          type: string
          description: An alias or common name for the organization.
        alias:
          type: string
          description: An alias or common name for the organization.
        codes:
          $ref: "#/components/schemas/Codes"
        line_of_businesses:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        operating_status_type:
          $ref: "#/components/schemas/OperatingStatusTypes"
        org_contact_names:
          $ref: "#/components/schemas/PersonNames"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
      description: not nullable
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-05-26T01:31:08Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentScheduleReference:
      type: object
      properties:
        payment_schedule_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        payment_schedule_reference_key:
          type: string
          description: Unique identifier value for the reference record.
        payment_schedule_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
        payment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        context:
          type: string
          description: Context or domain of the payment schedule.
        total_payments:
          type: integer
          description: The total number of payments in this schedule.
          format: int32
          example: 60
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-05-26T01:31:08Z
        payment_frequency:
          $ref: "#/components/schemas/DurationIntervalTypes"
        payment_amount:
          type: string
          description: The price of all products and services before tax.
        annual_percentage_rate:
          type: string
          description: Context or domain of the payment schedule.
      description: Reference to a Payment Schedule Aggregate Root.
    PaymentTypes:
      type: string
      description: types of payments.
      enum:
      - OUTRIGHT_PURCHASE
      - FINANCED_PURCHASE
      - SUBSCRIPTION
      - DEPOSIT
      - PROGRESS_PAYMENT
      - SCHEDULED_PAYMENT
      - CONSUMPTION_BASED
      - CUSTOM_AGREEMENT
      - CASH
      - BALLON
      - LEASE
      - LEASE_NO_BUYOUT
      - LEASE_BUYOUT
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PersonNames:
      type: array
      items:
        $ref: "#/components/schemas/PersonName"
    PolicyHolder:
      type: object
      properties:
        policy_holder_key:
          type: string
          description: A unique key for the policy holder.
          example: PH-9872314-A
        policy_holder_name:
          $ref: "#/components/schemas/PersonName"
        policy_holder_relationship:
          $ref: "#/components/schemas/PartyRelationshipTypes"
        special_remarks:
          type: string
          description: Any special remarks or notes about the policy holder.
          example: Secondary driver requires SR-22 filing.
        contact_method_key:
          type: string
          description: The Key to the full contact method details.
          example: CM-112024-B
        policy_number:
          type: string
          description: The unique identifier of the insurance policy.
          example: AIG-99823471-01
        carrier_name:
          type: string
          description: Name of the insurance company or carrier.
          example: State Farm
        vin:
          $ref: "#/components/schemas/VIN"
        effective_date:
          type: string
          description: Policy start date.
          format: date
        expiration_date:
          type: string
          description: Policy expiration date.
          format: date
      description: Current Insurance PolicyHolder for a customer.
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    Price:
      type: object
      properties:
        display_value:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        locale:
          type: string
          description: Locale used for formatting display value.
        value:
          type: string
          description: The numeric value of the price (before tax/cost breakdowns).
        tax_value:
          type: string
          description: The calculated amount of tax applied to the price.
        taxable_amount:
          type: string
          description: The portion of the price subject to tax.
        non_taxable_amount:
          type: string
          description: The portion of the price not subject to tax.
        total_amount:
          type: string
          description: The total final price including all components and tax.
        total_cost_amount:
          type: string
          description: The total cost to the provider/seller.
        unit_cost_amount:
          type: string
          description: The unit cost to the provider/seller.
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        price_id:
          type: string
          description: Unique system identifier for the price record.
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PriceSummary:
      type: object
      properties:
        price_summary_key:
          type: string
          description: The unique key for the payment summary record.
        price_summary_id:
          type: string
          description: The unique ID for the payment summary.
        source_key:
          type: string
          description: The unique key to the related invoice.
        source_type:
          $ref: "#/components/schemas/ResourceTypes"
        locale:
          $ref: "#/components/schemas/Locale"
        prices:
          $ref: "#/components/schemas/Prices"
        summary_memo:
          $ref: "#/components/schemas/Memo"
      description: Summarizes the financial totals and pricing components of a payment
        term.
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - OTHER
    Prices:
      type: array
      items:
        $ref: "#/components/schemas/Price"
    ProductContract:
      type: object
      properties:
        product_contract_id:
          type: string
          description: Unique identifier for the product contract record.
          example: 550e8400-e29b-41d4-a716-446655440000
        product_contract_key:
          type: string
          description: Natural business key for the product contract.
          example: TFS-GAP-2026-001
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        contract_number:
          type: string
          description: The assigned contract reference number (Legacy Agreement Number).
          example: "0060003675"
        execution_date:
          type: string
          description: The date and time the contract was executed.
          format: date
        expiration_date:
          type: string
          description: The date the contract is set to expire.
          format: date
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        expiration_distance:
          $ref: "#/components/schemas/MetricValue"
        term_units:
          $ref: "#/components/schemas/NarrativeUomTypes"
        term_value:
          type: string
          description: The numeric duration of the contract term.
          example: "36"
        quantity:
          type: string
          description: The quantity of items covered by the contract.
          example: "1"
        capitalization_indicator:
          type: boolean
          description: Indicates if the contract amount is capitalized.
          example: true
        financed_indicator:
          type: boolean
          description: Indicates if the contract is financed.
          example: true
        taxability_indicator:
          type: boolean
          description: Indicates if the contract is taxable.
          example: false
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        codes:
          $ref: "#/components/schemas/Codes"
        contract_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ContractTypes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        document_reference:
          $ref: "#/components/schemas/DocumentReferences"
        contract_status_type:
          $ref: "#/components/schemas/ContractStatusTypes"
        payment_schedule_reference:
          $ref: "#/components/schemas/PaymentScheduleReference"
      description: Contract details for this product
    ProductContracts:
      type: array
      items:
        $ref: "#/components/schemas/ProductContract"
    ProductStateTypes:
      type: string
      description: types of product states.
      enum:
      - NEW
      - USED
      - REFURBISHED
      - CERTIFIED
      - DEMO
      - RENTAL
      - IN_TRANSIT
      - DISCONTINUED
      - ARCHIVED
      - CUSTOMER_OWNED
      - PARTNER_OWNED
      - THIRD_PARTY_OWNED
      - COMPANY_OWNED
      - UNKNOWN
    ProtectionProducts:
      $ref: "#/components/schemas/ProductContracts"
    PurchaseTypes:
      type: string
      description: types of purchases.
      enum:
      - RETAIL
      - DEMO
      - LEASE
      - WHOLESALE
      - STANDARD
      - CONTRACT
      - FLEET
      - COMMERCIAL
      - DIRECT
      - OTHER
    ResourceTypes:
      type: string
      description: types of resources.
      enum:
      - SYSTEM
      - WORKFLOW
      - ACTIVITY
      - FUNCTION
      - PROCESS
      - INCIDENT
      - PARTY
      - CUSTOMER
      - APPLICANT
      - VENDOR
      - DEALER_STAFF
      - DRIVER
      - ADDRESS
      - BILL_ADDRESS
      - BILL_CONTACT
      - COMM_CHANNEL
      - ACCOUNT
      - VEHICLE
      - TRADE_IN
      - PRODUCT
      - MANUFACTURER
      - LEAD
      - OPPORTUNITY
      - DEAL
      - FINANCE
      - INVOICE
      - LINEITEM
      - EXPENSE
      - DISCOUNT
      - TAX
      - FEE
      - INCENTIVE
      - DEALERSHIP
      - PART
      - ACCESSORIES
      - PURCHASE_ORDER
      - VEHICLE_OPTION
      - RENTAL
      - SUBSCRIPTION
      - INSURANCE
      - WARRANTY
      - SERVICE
      - APPOINTMENT
      - OTHER
    RetailDeliveryReport:
      type: object
      properties:
        retail_delivery_report_id:
          type: string
          description: The internal unique identifier for the RDR record.
          example: rdr-77283-x99
        retail_delivery_report_key:
          type: string
          description: "Natural business key for the RDR, often formatted as DEALER-DATE-VIN."
          example: DLR123-20260318-5TFHY5F
        rdr_source:
          type: string
          description: The source of the RDR
          example: DealerDaily
        manifests:
          $ref: "#/components/schemas/Manifests"
        locale:
          $ref: "#/components/schemas/Locale"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        event_messages:
          $ref: "#/components/schemas/EventMessages"
        occurrence_date_time:
          type: string
          description: The exact date and time the delivery event was recorded in
            the system.
          format: date-time
          example: 2026-05-26T01:31:08Z
        dealer_comments:
          $ref: "#/components/schemas/Comments"
        customer_comments:
          $ref: "#/components/schemas/Comments"
        oem_rdr_status_type:
          $ref: "#/components/schemas/OemRdrStatusTypes"
        odometer_at_sale:
          $ref: "#/components/schemas/MetricValue"
        rdr_codes:
          $ref: "#/components/schemas/Codes"
        sales_code:
          $ref: "#/components/schemas/Identifier"
        warranty_codes:
          $ref: "#/components/schemas/Identifiers"
        transmitted_sales_code:
          $ref: "#/components/schemas/Identifier"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        purchase_type:
          $ref: "#/components/schemas/PurchaseTypes"
        invoice_number:
          type: string
          description: The unique identifier of the parent invoice to which this shipment
            belongs.
          example: inv_789def456
        narratives:
          $ref: "#/components/schemas/Memo"
        sale_date:
          type: string
          description: The effective date the sale contract was signed.
          format: date
        sales_transaction_number:
          type: string
          description: The dealer-assigned transaction or deal jacket number.
          example: TXN-882931-A
        delivery_estimate:
          $ref: "#/components/schemas/ShipmentReference"
        lease_term:
          $ref: "#/components/schemas/LeaseTerm"
        credit_application_reference:
          $ref: "#/components/schemas/CreditApplicationReference"
        vehicle:
          $ref: "#/components/schemas/Vehicle"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        product_contracts:
          $ref: "#/components/schemas/ProtectionProducts"
        credit_contract_included_indicator:
          $ref: "#/components/schemas/CreditContractIncludedIndicator"
        dealer:
          $ref: "#/components/schemas/Dealer"
        retail_delivery_report_criteria:
          $ref: "#/components/schemas/RetailDeliveryReportCriteria"
      description: Represents the Retail Delivery Report (RDR) documentation for vehicle
        sales.
    RetailDeliveryReportCriteria:
      type: object
      properties:
        retail_delivery_report_criteria_id:
          type: string
          description: The internal unique identifier for the RDR record.
          example: rdr-77283-x99
        retail_delivery_report_criteria_key:
          type: string
          description: "Natural business key for the RDR, often formatted as DEALER-DATE-VIN."
          example: DLR123-20260318-5TFHY5F
        rdr_source:
          type: string
          description: The source of the RDR
          example: DealerDaily
        locale:
          $ref: "#/components/schemas/Locale"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        oem_rdr_status_type:
          $ref: "#/components/schemas/OemRdrStatusTypes"
        lead_status_type:
          $ref: "#/components/schemas/LeadStatusTypes"
        deal_status_type:
          $ref: "#/components/schemas/DealStatusTypes"
        rdr_codes:
          $ref: "#/components/schemas/Codes"
        sales_code:
          $ref: "#/components/schemas/Identifier"
        warranty_codes:
          $ref: "#/components/schemas/Identifiers"
        transmitted_sales_code:
          $ref: "#/components/schemas/Identifier"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        purchase_type:
          $ref: "#/components/schemas/PurchaseTypes"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        sale_date:
          type: string
          description: The effective date the sale contract was signed.
          format: date
        sales_transaction_number:
          type: string
          description: The dealer-assigned transaction or deal jacket number.
          example: TXN-882931-A
        credit_application_reference:
          $ref: "#/components/schemas/CreditApplicationReference"
      description: Represents the Retail Delivery Report (RDR) documentation for vehicle
        sales.
    SchemaUri:
      type: string
      description: The URI or name of the JSON/XML schema defining the payload structure.
      example: https://starstandard.org/schemas/rdr/v2.1/retail.json
    SemanticVersion:
      pattern: ^\d+\.\d+\.\d+$
      type: string
      description: The specific semantic version of the manifest configuration.
      example: 2.1.4
    ShipmentReference:
      type: object
      properties:
        shipment_reference_id:
          type: string
          description: Internal unique identifier for the shipment reference record.
          example: shp-ref-55092
        shipment_reference_key:
          type: string
          description: Natural business key for the shipment reference.
          example: LOGISTICS_ESTIMATE_2026_001
        shipment_key:
          type: string
          description: Key for the shipment
          example: OEM_LOGISTICS
        tracking_number:
          $ref: "#/components/schemas/ShipmentTrackingNumber"
        context:
          type: string
          description: "The domain or carrier context of the shipment (e.g., 'FEDEX',\
            \ 'CASSENS', 'OEM_LOGISTICS')."
          example: OEM_LOGISTICS
        system_codes:
          $ref: "#/components/schemas/Codes"
        carrier_party:
          $ref: "#/components/schemas/CarrierParty"
        occurrence_date_time:
          type: string
          description: The timestamp when the shipment was initiated or the record
            was created.
          format: date-time
          example: 2026-05-26T01:31:08Z
        unit_of_measures:
          $ref: "#/components/schemas/UnitOfMeasures"
        estimated_delivery:
          $ref: "#/components/schemas/DeliveryWindow"
      description: Reference details for the logistics and shipment of a vehicle during
        the RDR process.
    ShipmentTrackingNumber:
      type: string
      description: The external tracking number.
      example: TRK123456789
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - SERVICE_TECHNICIAN
      - TECHNICIAN
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SALES_PERSON
      - CUSTOMER_SERVICE
      - SALES_MANAGER
      - F_I_MANAGER
      - CLOSING_MANAGER
      - BUSINESS_MANAGER
      - RECEPTIONIST
    TimeSlot:
      type: object
      properties:
        time_slot_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key for the specific time slot instance.
          example: TS-KEY-99281A
        end_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        end_time:
          maxLength: 8
          minLength: 5
          type: string
          description: The end time of the slot in ISO-8601 extended local time format
            (HH:mm:ss).
          format: date-time
        recurring_indicator:
          type: boolean
          description: Indicates whether the time slot repeats on a recurring cycle.
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        start_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        start_time:
          maxLength: 8
          minLength: 5
          type: string
          description: The start time of the slot in ISO-8601 extended local time
            format (HH:mm:ss).
          format: date-time
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        time_slot_id:
          maxLength: 36
          minLength: 1
          type: string
          description: The business identifier or code assigned to this generic time
            block configuration.
          example: MORNING_SHIFT_01
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          format: date
          items:
            type: string
      description: Range of time for the appointment
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
    UnitOfMeasure:
      type: object
      properties:
        unit_of_measure_key:
          type: string
          description: Unit of Measure Value
        unit_name:
          type: string
          description: Unit of Measure
        uom_value:
          maxLength: 100
          minLength: 1
          type: string
          description: Unit of Measure Value
        uom_quantity_category_type:
          $ref: "#/components/schemas/UomQuantityCategoryTypes"
      description: value price with unit of measure
    UnitOfMeasures:
      type: array
      items:
        $ref: "#/components/schemas/UnitOfMeasure"
    UomLengthTypes:
      type: string
      description: types of uom lengths.
      enum:
      - ANGSTROM
      - A
      - NANOMETER
      - NORMAL_METRIC
      - MICRON
      - MILLIMETER
      - CENTIMETER
      - DECIMETER
      - METER
      - KILOMETER
      - YOTTAMETER
      - MILLI_INCH
      - INCH
      - FEET
      - YARD
      - HAND
      - LINK
      - CHAIN
      - SPAN
      - CUBIT
      - VARA
      - FATHOM
      - ROD
      - PERCH
      - POLE
      - FURLONG
      - CABLE
      - NAUTICAL_MILE
      - LEAGUE
      - DEGREE
      - PIXEL
      - MILE
      - MILES
      - KM
      - METER_SYN
      - CM
      - MM
    UomQuantityCategoryTypes:
      type: string
      description: types of uom quantity categorys.
      enum:
      - COUNT
      - WEIGHT
      - VOLUME
      - TIME
      - NET_WEIGHT
      - NET_VOLUME
      - PACKAGE_QUANTITY
      - MIN_ORDER_QUANTITY
      - GROSS_WEIGHT
      - GROSS_VOLUME
      - SHIPPING_WEIGHT
      - DIMENSIONAL_WEIGHT
      - MATERIAL
      - ELECTRICAL_RATING
      - DEFAULT_LEAD_TIME
      - MAX_LEAD_TIME
      - DIMENSION_UNIT
      - MIN_LENGTH
      - MAX_LENGTH
      - MIN_WIDTH
      - MAX_WIDTH
      - MIN_HEIGHT
      - MAX_HEIGHT
      - MIN_WEIGHT
      - MAX_WEIGHT
      - MAX_ORDER_QUANTITY
      - MIN_ORDER_AVAILABLE
      - DIMENSIONS
      - SHIPPING_DIM_LENGTH
      - SHIPPING_DIM_WIDTH
      - SHIPPING_DIM_HEIGHT
      - SHIPPING_DIM_GROSS_WEIGHT
      - SHIPPING_DIM_NET_WEIGHT
      - SHELF_LIFE_HOURS
      - EXPIRATION_DATE
      - MIN_PAYMENT_PERCENT
      - MIN_PAYMENT_AMOUNT
    VIN:
      type: string
      description: The 17-character Vehicle Identification Number covered by the policy.
      example: 1FA6P8CF0Hxxxxxxx
    Vehicle:
      type: object
      properties:
        vehicle_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key for the specific vehicle record instance.
          example: VEH-KEY-449102X
        axle_count:
          maxLength: 2
          minLength: 1
          type: string
          description: The total number of axles on the vehicle.
          example: "2"
        comments:
          maxLength: 2000
          minLength: 1
          type: string
          description: "General remarks regarding the vehicle condition, processing\
            \ status, or storage details."
          example: Vehicle requires a detailed detailing service before delivery.
        control_account_desc:
          maxLength: 255
          minLength: 1
          type: string
          description: Description of the primary operating control account utilized
            for inventory financing tracking.
          example: Primary operating account for dealership floorplan financing.
        control_account_id:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique corporate general ledger or control account reference
            ID.
          example: GL-ACC-400192
        control_account_type:
          $ref: "#/components/schemas/ControlAccountTypes"
        dealer_code:
          maxLength: 30
          minLength: 1
          type: string
          description: The specific franchise authorization identifier code assigned
            to the holding dealer.
          example: DL-99482-X
        delivered_date_time:
          type: string
          description: Timestamp when the vehicle was formally checked in or handed
            over to the buyer/dealer.
          format: date-time
          example: 2026-05-26T01:31:08Z
        delivery_method:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        inventory_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/InventoryStatusTypes"
        license:
          $ref: "#/components/schemas/VehicleLicense"
        odometer:
          $ref: "#/components/schemas/MetricValue"
        position:
          $ref: "#/components/schemas/Position"
        production_date:
          type: string
          description: The historical calendar date when assembly on the vehicle line
            was finalized.
          format: date
        search_category:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        stock_date_time:
          type: string
          description: The exact date and time when the entity officially entered
            dealership inventory accounting logs.
          format: date-time
          example: 2026-05-26T01:31:08Z
        stock_number:
          maxLength: 50
          minLength: 1
          type: string
          description: Internal dealership stock control or inventory lot track number.
          example: STK-2026-99A
        vehicle_configuration_codes:
          $ref: "#/components/schemas/VehicleConfigurationCodes"
        vehicle_id:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique physical/business identifier string mapped directly
            to the unit master records.
          example: VID-99388102A
        vehicle_medias:
          $ref: "#/components/schemas/VehicleMedias"
        vehicle_options:
          $ref: "#/components/schemas/VehicleOptions"
        vehicle_price_summary:
          $ref: "#/components/schemas/VehiclePriceSummary"
        vehicle_specification:
          $ref: "#/components/schemas/VehicleSpecification"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        vehicle_status_type:
          $ref: "#/components/schemas/VehicleStateTypes"
        vin:
          maxLength: 17
          minLength: 17
          type: string
          description: The standard 17-character legal international Vehicle Identification
            Number code identifier.
          example: 1HGCR2F8XHA000000
        insurances:
          $ref: "#/components/schemas/Insurances"
        notes:
          $ref: "#/components/schemas/Memo"
        medias:
          $ref: "#/components/schemas/Medias"
        categories:
          $ref: "#/components/schemas/Codes"
        delivery_date:
          type: string
          description: Calendar date representation tracking pure transport completion
            days.
          format: date
        original_sold_date:
          type: string
          description: The absolute calendar date when the item was first converted
            from fleet status to sold retail status.
          format: date
        odometer_capture_date:
          type: string
          description: The chronological point when the odometer distance readings
            were logged inside the system logs.
          format: date
        vehicle_events:
          $ref: "#/components/schemas/VehicleEvents"
        vehicle_notes:
          maxLength: 1500
          minLength: 1
          type: string
          description: Informal notation string capturing temporary handling instructions
            for lot management teams.
          example: Parked in staging lane B-4 until mechanical inspection clears.
        vehicle_price_summaries:
          $ref: "#/components/schemas/VehiclePriceSummaries"
        warranties:
          $ref: "#/components/schemas/Warranties"
        account_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key pointer linking this item to a specific
            corporate account node.
          example: ACC-KEY-0021A
        account_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The official corporate name of the commercial fleet entity
            holding financial titles.
          example: Northside Fleet Holdings
        condition:
          maxLength: 50
          minLength: 1
          type: string
          description: The overarching localized state assessment descriptive rating
            of the unit.
          example: Excellent
        inventory_days:
          maxLength: 4
          minLength: 1
          type: string
          description: The complete count of continuous days this item has been active
            inside operating inventory arrays.
          example: "45"
        backup_camera_indicator:
          type: boolean
          description: Indicates if the vehicle is configured with a rear safety camera
            system.
          example: true
        body_height:
          maxLength: 20
          minLength: 1
          type: string
          description: The external overall body structure height reading metric string
            description.
          example: 78 inches
        body_length:
          maxLength: 20
          minLength: 1
          type: string
          description: The external overall body structure length dimension string
            text.
          example: 210 inches
        body_style:
          maxLength: 100
          minLength: 1
          type: string
          description: The baseline layout style design of the chassis structure shell.
          example: Crew Cab Pickup
        body_width:
          maxLength: 20
          minLength: 1
          type: string
          description: The external overall shell width calculation metrics string
            notation.
          example: 80 inches
        box_type_description:
          maxLength: 150
          minLength: 1
          type: string
          description: Description capturing cargo container configurations or bed
            installations for commercial classification units.
          example: Refrigerated Van Box with Side Door
        bulkhead:
          maxLength: 100
          minLength: 1
          type: string
          description: The style structural configuration tracking definitions used
            on cargo boundary separations.
          example: Solid Steel with Window
        cab_type:
          $ref: "#/components/schemas/CabTypes"
        compartment_depth:
          maxLength: 20
          minLength: 1
          type: string
          description: Utility storage unit depth limits metrics format values.
          example: 24 inches
        compartments:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        crane_indicator:
          type: boolean
          description: Flags if an industrial loading crane apparatus mechanism is
            mounted onto the flatbed.
          example: false
        cylinder_count:
          maxLength: 2
          minLength: 1
          type: string
          description: The mechanical cylinder structural distribution setup array
            count value.
          example: "6"
        doors_count:
          maxLength: 2
          minLength: 1
          type: string
          description: The functional structural access passenger door quantity entry
            configuration numbers.
          example: "4"
        drive_train:
          maxLength: 20
          minLength: 1
          type: string
          description: Chassis mechanics wheel torque distribution grouping style
            setups.
          example: 4WD
        energy_impact_score:
          maxLength: 10
          minLength: 1
          type: string
          description: Environmental pollution factor efficiency metrics tracking
            measurements classification output.
          example: "1.2"
        engine_type_description:
          maxLength: 100
          minLength: 1
          type: string
          description: Text rendering specific complete engine parameters configurations
            blocks descriptions.
          example: 3.5L V6 DOHC 24V
        engine_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/EngineTypes"
        exterior_color:
          $ref: "#/components/schemas/ColorDetail"
        exterior_lights_indicator:
          type: boolean
          description: Flags if custom auxiliary lighting rigs are present on the
            commercial vehicle superstructure.
          example: true
        floor_desc:
          maxLength: 100
          minLength: 1
          type: string
          description: The foundational materials configuration setup tracking string
            on cargo flooring surfaces.
          example: Hardwood
        floor_desc_detail:
          maxLength: 255
          minLength: 1
          type: string
          description: Specific engineering descriptions applied around custom cargo
            lining protective flooring layers.
          example: Apong hardwood with steel overlay protective sheets
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        gross_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        gross_vehicle_weight_rating:
          $ref: "#/components/schemas/MetricValue"
        hitch_indicator:
          type: boolean
          description: Flags if rear frame mechanical towing hitch receiving ports
            are configured onto the truck bumper.
          example: true
        power_train:
          maxLength: 100
          minLength: 1
          type: string
          description: Generalized grouping categorization tracking total propulsion
            setups.
          example: Hybrid Synergy Drive
        horse_power:
          maxLength: 5
          minLength: 1
          type: string
          description: Mechanical peak performance horsepower metrics output tracking
            figures.
          example: "302"
        inside_body_height:
          maxLength: 20
          minLength: 1
          type: string
          description: Interior clear clearance height metrics on specialized trailer
            or cargo configurations.
          example: 72 inches
        inside_body_width:
          maxLength: 20
          minLength: 1
          type: string
          description: Interior clear clearance width metrics on cargo configurations
            panels surfaces.
          example: 76 inches
        inside_length:
          maxLength: 20
          minLength: 1
          type: string
          description: Interior clear layout length values on industrial dry-van cargo
            structures.
          example: 192 inches
        interior_color:
          $ref: "#/components/schemas/ColorDetail"
        ladder_rack_desc:
          maxLength: 150
          minLength: 1
          type: string
          description: Structural notes describing overhead utility rack assemblies
            added onto work van structures.
          example: Heavy-Duty Aluminum 3-Bar Roof Rack
        liftgate_indicator:
          type: boolean
          description: Flags if hydraulic motorized loading liftgate machinery blocks
            are operating on the vehicle tail section.
          example: true
        make:
          maxLength: 100
          minLength: 1
          type: string
          description: The registered automotive manufacturer brand name label.
          example: Toyota
        manufacturer_model_code:
[...]
