openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: A standardized interface for Automotive Retail ...
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: RetailDeliveryReport
  description: Operations related to RetailDeliveryReport
- name: Health
  description: Operations related to Health
- name: Search
  description: Operations related to Search
- name: Lifecycle
  description: Operations related to Lifecycle
paths:
  /retail-delivery-reports:
    get:
      tags:
      - RetailDeliveryReport
      summary: Retrieve a list of RetailDeliveryReport entities.
      description: Standard GET operation for /retail-delivery-reports
      operationId: listRetailDeliveryReport
      parameters:
      - name: sort
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      - name: limit
        in: query
        description: The maximum number of entities to return in a single response
          page. Limits the 'data' array size to prevent payload bloat.
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        description: The number of entities to skip before starting to collect the
          result set. Used in conjunction with 'limit' for traditional page-based
          navigation.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - $ref: "#/components/parameters/TransactionIdHeader"
      - $ref: "#/components/parameters/ApiVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/UnitIdQuery"
      - $ref: "#/components/parameters/VINQuery"
      - $ref: "#/components/parameters/StatusQuery"
      - $ref: "#/components/parameters/StartDateQuery"
      - $ref: "#/components/parameters/EndDateQuery"
      - $ref: "#/components/parameters/PageNumberQuery"
      - $ref: "#/components/parameters/PageSizeQuery"
      responses:
        "200":
          description: Success
          headers:
            Standards-Version:
              $ref: "#/components/headers/StandardsVersionHeader"
            Transaction-Id:
              $ref: "#/components/headers/TransactionIdHeader"
            Link:
              $ref: "#/components/headers/LinkHeader"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RetailDeliveryReport"
                  has_more:
                    type: boolean
                    example: true
        "403":
          description: "Forbidden: System code mismatch or transition guard failure."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ForbiddenError"
        "404":
          description: "Not Found: The requested RDR aggregate does not exist."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/NotFoundError"
        "415":
          description: "Unsupported Media Type: Content must be application/json."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          description: "Internal Server Error: An unexpected metabolic fault occurred."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ServerError"
        "409":
          description: "Conflict: Resource state mismatch or concurrent update."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ConflictError"
        "400":
          description: "Bad Request: Malformed STAR schema or invalid syntax."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/BadRequestError"
        "401":
          description: "Unauthorized: Credentials missing or expired."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnauthorizedError"
        "412":
          description: "Precondition Failed: Required headers or state criteria not\
            \ met."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/PreconditionFailedError"
    post:
      tags:
      - RetailDeliveryReport
      summary: Retrieve a list  of entities.
      description: Standard POST operation for /retail-delivery-reports
      operationId: createRetailDeliveryReport
      parameters:
      - $ref: "#/components/parameters/TransactionIdHeader"
      - $ref: "#/components/parameters/ApiVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetailDeliveryReport"
      responses:
        "201":
          description: Created
          headers:
            Location:
              $ref: "#/components/headers/LocationHeader"
            Transaction-Id:
              $ref: "#/components/headers/TransactionIdHeader"
            Link:
              $ref: "#/components/headers/LinkHeader"
            Standards-Version:
              $ref: "#/components/headers/StandardsVersionHeader"
        "403":
          description: "Forbidden: System code mismatch or transition guard failure."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ForbiddenError"
        "404":
          description: "Not Found: The requested RDR aggregate does not exist."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/NotFoundError"
        "415":
          description: "Unsupported Media Type: Content must be application/json."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          description: "Internal Server Error: An unexpected metabolic fault occurred."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ServerError"
        "409":
          description: "Conflict: Resource state mismatch or concurrent update."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ConflictError"
        "400":
          description: "Bad Request: Malformed STAR schema or invalid syntax."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/BadRequestError"
        "401":
          description: "Unauthorized: Credentials missing or expired."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnauthorizedError"
        "412":
          description: "Precondition Failed: Required headers or state criteria not\
            \ met."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/PreconditionFailedError"
  /retail-delivery-reports/{retail-delivery-report-key}:
    get:
      tags:
      - RetailDeliveryReport
      description: "Standard GET operation for /retail-delivery-reports/{retail-delivery-report-key}"
      operationId: getRetailDeliveryReportById
      parameters:
      - $ref: "#/components/parameters/TransactionIdHeader"
      - $ref: "#/components/parameters/ApiVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      responses:
        "200":
          description: get RetailDeliveryReport By Id
          headers:
            Standards-Version:
              $ref: "#/components/headers/StandardsVersionHeader"
            Transaction-Id:
              $ref: "#/components/headers/TransactionIdHeader"
            Link:
              $ref: "#/components/headers/LinkHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetailDeliveryReport"
        "403":
          description: "Forbidden: System code mismatch or transition guard failure."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ForbiddenError"
        "404":
          description: "Not Found: The requested RDR aggregate does not exist."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/NotFoundError"
        "415":
          description: "Unsupported Media Type: Content must be application/json."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          description: "Internal Server Error: An unexpected metabolic fault occurred."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ServerError"
        "409":
          description: "Conflict: Resource state mismatch or concurrent update."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ConflictError"
        "400":
          description: "Bad Request: Malformed STAR schema or invalid syntax."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/BadRequestError"
        "401":
          description: "Unauthorized: Credentials missing or expired."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnauthorizedError"
        "412":
          description: "Precondition Failed: Required headers or state criteria not\
            \ met."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/PreconditionFailedError"
    put:
      tags:
      - RetailDeliveryReport
      summary: Update an RDR
      description: Transitions the RDR to an 'UPDATE' state.
      operationId: updateRetailDeliveryReport
      parameters:
      - name: retail-delivery-report-key
        in: path
        description: The unique identifier (STAR Aggregate Root) for the RDR.
        required: true
        schema:
          type: string
          example: "99310"
      - $ref: "#/components/parameters/TransactionIdHeader"
      - $ref: "#/components/parameters/ApiVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      responses:
        "204":
          description: "No Content: successfully updated."
          headers:
            Transaction-Id:
              $ref: "#/components/headers/TransactionIdHeader"
        "403":
          description: "Forbidden: System code mismatch or transition guard failure."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ForbiddenError"
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: "Not Found: The requested RDR aggregate does not exist."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/NotFoundError"
          $ref: "#/components/responses/NotFoundError"
        "415":
          description: "Unsupported Media Type: Content must be application/json."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnsupportedMediaType"
          $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          description: "Internal Server Error: An unexpected metabolic fault occurred."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ServerError"
          $ref: "#/components/responses/ServerError"
        "409":
          description: "Conflict: Resource state mismatch or concurrent update."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ConflictError"
          $ref: "#/components/responses/ConflictError"
        "400":
          description: "Bad Request: Malformed STAR schema or invalid syntax."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/BadRequestError"
          $ref: "#/components/responses/BadRequestError"
        "401":
          description: "Unauthorized: Credentials missing or expired."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnauthorizedError"
          $ref: "#/components/responses/UnauthorizedError"
        "412":
          description: "Precondition Failed: Required headers or state criteria not\
            \ met."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/PreconditionFailedError"
          $ref: "#/components/responses/PreconditionFailedError"
    delete:
      tags:
      - RetailDeliveryReport
      summary: Delete an RDR
      description: Transitions the RDR to a 'DELETED' state.
      operationId: deleteRetailDeliveryReport
      parameters:
      - name: retail-delivery-report-key
        in: path
        description: The unique identifier (STAR Aggregate Root) for the RDR.
        required: true
        schema:
          type: string
          example: "99310"
      - $ref: "#/components/parameters/TransactionIdHeader"
      - $ref: "#/components/parameters/ApiVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      responses:
        "204":
          description: "No Content: Successfully deleted."
          headers:
            Transaction-Id:
              $ref: "#/components/headers/TransactionIdHeader"
        "401":
          description: "Unauthorized: Credentials missing or expired."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnauthorizedError"
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          description: "Internal Server Error: An unexpected metabolic fault occurred."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ServerError"
          $ref: "#/components/responses/ServerError"
        "403":
          description: "Forbidden: System code mismatch or transition guard failure."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ForbiddenError"
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: "Not Found: The requested RDR aggregate does not exist."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/NotFoundError"
          $ref: "#/components/responses/NotFoundError"
        "409":
          description: "Conflict: Resource state mismatch or concurrent update."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ConflictError"
          $ref: "#/components/responses/ConflictError"
        "400":
          description: "Bad Request: Malformed STAR schema or invalid syntax."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/BadRequestError"
          $ref: "#/components/responses/BadRequestError"
        "415":
          description: "Unsupported Media Type: Content must be application/json."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnsupportedMediaType"
        "412":
          description: "Precondition Failed: Required headers or state criteria not\
            \ met."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/PreconditionFailedError"
    parameters:
    - name: retail-delivery-report-key
      in: path
      description: The unique identifier for the specific RetailDeliveryReport
      required: true
      schema:
        type: string
        example: KEY78R
  /retail-delivery-reports/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Public endpoint to verify service availability.
      operationId: healthRetailDeliveryReport
      parameters:
      - $ref: "#/components/parameters/TransactionIdHeader"
      - $ref: "#/components/parameters/ApiVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      responses:
        "200":
          description: Service is healthy
          headers:
            Standards-Version:
              $ref: "#/components/headers/StandardsVersionHeader"
            Transaction-Id:
              $ref: "#/components/headers/TransactionIdHeader"
            Link:
              $ref: "#/components/headers/LinkHeader"
          content:
            application/json:
              schema:
                required:
                - status
                - version
                type: object
                properties:
                  status:
                    type: string
                    example: UP
                    enum:
                    - UP
                    - DOWN
                    - MAINTENANCE
                  version:
                    type: string
                    description: The version of the ontology implemented by this service.
                    example: 1.0.0
                  timestamp:
                    type: string
                    description: Server time in ISO-8601 format.
                    format: date-time
                    example: 2025-12-21T23:00:00Z
        "403":
          description: "Forbidden: System code mismatch or transition guard failure."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ForbiddenError"
        "404":
          description: "Not Found: The requested RDR aggregate does not exist."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/NotFoundError"
        "415":
          description: "Unsupported Media Type: Content must be application/json."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          description: "Internal Server Error: An unexpected metabolic fault occurred."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ServerError"
        "409":
          description: "Conflict: Resource state mismatch or concurrent update."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ConflictError"
        "400":
          description: "Bad Request: Malformed STAR schema or invalid syntax."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/BadRequestError"
        "401":
          description: "Unauthorized: Credentials missing or expired."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnauthorizedError"
        "412":
          description: "Precondition Failed: Required headers or state criteria not\
            \ met."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/PreconditionFailedError"
      security:
      - {}
  /retail-delivery-reports/search:
    post:
      tags:
      - Search
      summary: Search Retail Delivery Reports
      description: Execute a complex query using a criteria object.
      operationId: searchRdrs
      parameters:
      - $ref: "#/components/parameters/TransactionIdHeader"
      - $ref: "#/components/parameters/ApiVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetailDeliveryReportCriteria"
      responses:
        "200":
          description: Success
          headers:
            Standards-Version:
              $ref: "#/components/headers/StandardsVersionHeader"
            Transaction-Id:
              $ref: "#/components/headers/TransactionIdHeader"
            Link:
              $ref: "#/components/headers/LinkHeader"
            Location:
              description: The URI of the newly created resource.
              schema:
                type: string
                example: /retail-delivery-reports/search/9164603794759310169
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetailDeliveryReportCollection"
        "403":
          description: "Forbidden: System code mismatch or transition guard failure."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ForbiddenError"
        "404":
          description: "Not Found: The requested RDR aggregate does not exist."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/NotFoundError"
        "415":
          description: "Unsupported Media Type: Content must be application/json."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          description: "Internal Server Error: An unexpected metabolic fault occurred."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ServerError"
        "409":
          description: "Conflict: Resource state mismatch or concurrent update."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ConflictError"
        "400":
          description: "Bad Request: Malformed STAR schema or invalid syntax."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/BadRequestError"
        "401":
          description: "Unauthorized: Credentials missing or expired."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnauthorizedError"
        "412":
          description: "Precondition Failed: Required headers or state criteria not\
            \ met."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/PreconditionFailedError"
  /retail-delivery-report/{retail-delivery-reportKey}/notifications:
    put:
      tags:
      - Lifecycle
      summary: Receive Status Notification
      description: Updates the workflow state of a specific aggregate root via a LifecycleStatusEvent.
      operationId: notifyRdrStatusChange
      parameters:
      - name: retail-delivery-reportKey
        in: path
        description: The unique identifier (STAR Aggregate Root) for the RDR.
        required: true
        schema:
          type: string
          example: "99310"
      - $ref: "#/components/parameters/TransactionIdHeader"
      - $ref: "#/components/parameters/ApiVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      requestBody:
        description: "The LifecycleStatusEvent payload containing transition data,\
          \ actor info, and reason codes."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LifecycleStatusEvent"
        required: true
      responses:
        "202":
          description: "Accepted: Pulse received and queued for metabolism."
          headers:
            Transaction-Id:
              $ref: "#/components/headers/TransactionIdHeader"
            Location:
              $ref: "#/components/headers/LocationHeader"
            Standards-Version:
              $ref: "#/components/headers/StandardsVersionHeader"
        "401":
          description: "Unauthorized: Credentials missing or expired."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnauthorizedError"
        "403":
          description: "Forbidden: System code mismatch or transition guard failure."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ForbiddenError"
        "422":
          description: "Unprocessable Content: Semantic logic error (e.g., invalid\
            \ state transition)."
          headers:
            Transaction-Id:
              $ref: "#/components/headers/TransactionIdHeader"
        "503":
          description: "Service Unavailable: Downstream is unreachable."
          headers:
            Transaction-Id:
              $ref: "#/components/headers/TransactionIdHeader"
        "404":
          description: "Not Found: The requested RDR aggregate does not exist."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/NotFoundError"
        "415":
          description: "Unsupported Media Type: Content must be application/json."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          description: "Internal Server Error: An unexpected metabolic fault occurred."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ServerError"
        "409":
          description: "Conflict: Resource state mismatch or concurrent update."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/ConflictError"
        "400":
          description: "Bad Request: Malformed STAR schema or invalid syntax."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/BadRequestError"
        "412":
          description: "Precondition Failed: Required headers or state criteria not\
            \ met."
          headers:
            Transaction-Id:
              $ref: "#/components/parameters/TransactionIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/responses/PreconditionFailedError"
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
          example: ' a6a6fc7f'
        address_reference_value:
          type: string
          description: The unique value of the address referenc...
          example: ' 5e61abde'
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, et..."
          example: ' 2701185f'
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
          example: ' 26e37f4f'
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
          example: ' 3bd14f94'
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
          example: ' 76714e61'
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)..."
          example: ' ea3d6cec'
        city:
          type: string
          description: Name of the city.
          example: ' c4b01e5f'
        country_code:
          type: string
          description: Full name of the country.
          example: ' 15b66f00'
        district:
          type: string
          description: Name of the district.
          example: ' ca6facdc'
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
          example: ' 5ae45d8d'
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
          example: ' 03ab5c67'
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
          example: ' 48076dcc'
      description: "A reference to an address, including its unique..."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    ApplicationStatusTypes:
      type: string
      description: types of application status.
      enum:
      - INITIATING
      - ACTIVE
      - SALES_HOLD
      - PAYMENT_HOLD
      - FINANCE_HOLD
      - CUSTOMER_HOLD
      - APPROVED
      - DECLINED
      - REJECT
      - CANCELLED
      - ABANDON
      - COMPLETE
      - INACTIVE
      - INVALID
      - CLOSE
    Authorization:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this aut...
          format: date-time
          example: 2026-03-25T19:01:24Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is c...
          example: false
        authorization_key:
          type: string
          description: Business key uniquely identifying the au...
          example: ' c5f8db9f'
      description: Establish authorization level
    Authorizations:
      type: array
      items:
        $ref: "#/components/schemas/Authorization"
    CabTypes:
      type: string
      description: types of cabs.
      enum:
      - REGULAR
      - EXTENDED
      - CREW
      - MEGA
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        codeId:
          maxLength: 50
          minLength: 3
          pattern: "^[A-Z0-9_]+$"
          type: string
          example: REBATE_701
        code:
          maxLength: 10
          type: string
          example: ' 2ccf49fa'
        description:
          maxLength: 250
          type: string
          example: Factory Verification Complete
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ColorDetail:
      type: object
      properties:
        color_detail_id:
          type: string
          description: A unique id for the color detail.
          readOnly: true
          example: ' bc0f16b3'
        color_detail_key:
          type: string
          description: A unique key for the color detail.
          example: ' 5717af65'
        dealer_color:
          type: string
          description: The color as designated by the dealer.
          example: ' b201e487'
        desc_color:
          type: string
          description: A descriptive name for the color.
          example: ' 294533a6'
        color_code:
          type: string
          description: The technical code of the color
          example: ' bc090d25'
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM...
          example: ' 2eabd3c8'
        marketing_name:
          type: string
          description: The Marketing Name of the color
          example: ' c73b3ccc'
      description: "Details for a specific color, including dealer ..."
    Comments:
      type: array
      items:
        type: string
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication cha...
          example: ' b6ed801a'
        communication_channel_id:
          type: string
          description: The unique ID for the communication chan...
          readOnly: true
          example: ' 3353032a'
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: The value of the communication channel (...
          example: ' 1f3b4440'
        value_extension:
          type: string
          description: An optional extension for the communicat...
          example: ' 875956c7'
        label:
          type: string
          description: A label for the communication channel (e...
          example: ' 43a5985b'
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is t...
          example: false
        preferences:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/TimeSlot"
        authorizations:
          $ref: "#/components/schemas/Authorizations"
      description: "Represents a communication channel, such as an ..."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ContractStatusTypes:
      type: string
      description: types of contract status.
      enum:
      - PENDING
      - APPROVED
      - CONDITIONAL
      - BOOKED
      - DECLINED
      - OTHER
    ContractTypes:
      type: string
      description: types of contracts.
      enum:
      - WARRANTY
      - SERVICE
      - EXTENDED_WARRANTY
      - MAINTENANCE
      - FINANCE
      - PROTECTION
      - OTHER
    ControlAccountTypes:
      type: string
      description: types of control accounts.
      enum:
      - ASSETS
      - FIXED_ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - LONG_TERM_LIABILITY
      - EQUITY
      - CLEARING
      - PROVISION
      - ROUNDING
      - REVENUE
      - OTHER_INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - TAX
      - DISCOUNT
      - REBATE
      - FEE
      - SERVICE
      - CREDIT
      - OTHER
      - DEALER
      - VEHICLE
      - ACCESSORIES
      - OPTION
      - CUSTOMER
      - VENDOR
      - EMPLOYEE
      - PRODUCT
      - REPAIR_ORDER
      - PARTS_SALES_ORDER
      - PACKAGE
      - REFERENCE
    CorrelationId:
      pattern: "^[a-zA-Z0-9-]+$"
      type: string
      description: The correlation ID or workflow execution...
      example: exec-uuid-99283-7716
    CountryCode:
      type: string
      description: The ISO 3116-1 alpha-2 country code of t...
      example: US
    CreditApplicationReference:
      type: object
      properties:
        credit_application_reference_id:
          type: string
          description: Unique identifier value
          readOnly: true
          example: ' aa070fe6'
        credit_application_reference_key:
          type: string
          description: Unique identifier value
          example: ' d9cac9b7'
        credit_application_key:
          type: string
          description: Unique identifier value
          example: ' b6a3cbf2'
        credit_parties:
          $ref: "#/components/schemas/PartyReferences"
        locale:
          $ref: "#/components/schemas/Locale"
        occurrence_date_time:
          type: string
          description: The date and time the financialForecast ...
          format: date-time
          example: 2026-03-25T19:01:24Z
        credit_application_name:
          type: string
          description: The name of the credit application.
          example: ' a58cea6d'
        credit_application_date:
          type: string
          description: The date and time the financialForecast ...
          format: date
          example: 2026-01-14
        confirmation_code:
          type: string
          description: The confirmation code for the credit app...
          example: ' b02097e1'
        application_status_type:
          $ref: "#/components/schemas/ApplicationStatusTypes"
        credit_application_events:
          $ref: "#/components/schemas/LifecycleEvents"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
      description: External system identifier
    CreditContractIncludedIndicator:
      type: boolean
      description: Indicates if a formal credit contract or...
      example: true
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currenc...
          readOnly: true
          example: ' d574feff'
        currency_exchange_key:
          type: string
          description: Natural key or business identifier for t...
          example: ' eb69897c'
        source_currency:
          type: string
          description: Human-readable display value for the sou...
          example: ' cba513fe'
        target_currency:
          type: string
          description: Human-readable display value for the sou...
          example: ' 6ae03dd7'
        currency_exchange_desc:
          type: string
          description: A descriptive title for the currencyExch...
          example: ' eec97caa'
        exchange_rate:
          type: string
          description: Human-readable display value for the sou...
          example: ' 21a9619b'
        rate_date_time:
          type: string
          description: The date and time the rate was associate...
          format: date-time
          example: 2026-03-25T19:01:24Z
      description: "CurrencyExchange that includes display value, c..."
    DaysOfWeekTypes:
      type: string
      description: Status of the account
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DealStatusTypes:
      type: string
      description: types of deal status.
      enum:
      - IN_PROGRESS
      - ABANDONED
      - ACCEPTED
      - POSTED
      - FUNDED
      - REVERSED
    DealerCode:
      pattern: "^[A-Z0-9-]+$"
      type: string
      description: The OEM-assigned unique identifier for t...
      example: DLR-12345
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      enum:
      - ONE_TIME
      - RECUR
      - MINUTES
      - HOURLY
      - DAILY
      - WEEKLY
      - BI_WEEKLY
      - SEMI_MONTHLY
      - MONTHLY
      - QUARTERLY
      - SEMI_YEAR
      - YEARLY
      - MULTI_YEAR
      - LIFETIME
      - CUSTOM
      - OTHER
    DurationUOMTypes:
      type: string
      description: types of duration u o ms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying ...
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently co...
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only..."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period ...
          format: date-time
          example: 2026-03-25T19:01:24Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (c...
          format: date-time
          example: 2026-03-25T19:01:24Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in IS...
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUOMTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use ...
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of co...
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats b...
          example: true
        timeslot:
          $ref: "#/components/schemas/TimeSlot"
      description: Defines a temporal range and recurrence logic f...
    EngineTypes:
      type: string
      description: types of engines.
      enum:
      - ICE
      - THERMAL_INTERNAL
      - THERMAL_EXTERNAL
      - THERMAL_REACTION
      - ELECTRIC
      - PHYSICAL
      - HYBRID
      - OTHER
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine ...
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: A unique identifier for this specific request.
          readOnly: true
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for thi...
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: list of array
          example: "[]"
          items:
            type: object
            properties:
              field:
                type: string
                description: The JSON path or field name that caused the error.
                example: payrollId
              issue:
                type: string
                description: The specific validation rule that failed.
                example: must be unique
              rejected_value:
                type: string
                description: The value that was sent and rejected (only if non-sensitive).
                example: "12345"
      description: Standardized error response for the entire API ...
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: A unique key for the eventMessage record...
          example: ' 7801cfe8'
        event_message_id:
          type: string
          description: The unique ID for the eventMessage.
          readOnly: true
          example: ' 28d79739'
        event_actor_key:
          type: string
          description: The ID of the actor for the event.
          example: ' cb206901'
        event_actor_name:
          type: string
          description: The name of the actor for the event.
          example: ' 16f1ff4f'
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-03-25T19:01:24Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belo...
          example: ' 1c21a02c'
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
          example: ' ba6ea85d'
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
          example: ' 05791fde'
        event_message_code:
          type: string
          description: The code for the eventMessage.
          example: ' 9f399c54'
        event_message_value:
          type: string
          description: The value of the eventMessage.
          example: ' 158a7d74'
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessag...
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      enum:
      - INSTRUCTION
      - REASONING
      - RESPONSE
      - TOOL_CALL
      - TOOL_OUTPUT
      - ACTION_CONFIRMATION
      - COMPENSATION
      - RETRY_SIGNAL
      - ERROR_REPORT
      - DELEGATION
      - BROADCAST
      - CRITIQUE
      - LOGGING
      - AUDIT
      - HEARTBEAT
      - UNKNOWN
    EventMessages:
      type: array
      items:
        $ref: "#/components/schemas/EventMessage"
    Feature:
      type: object
      properties:
        feature_id:
          type: string
          description: Unique identifier for the  feature categ...
          readOnly: true
          example: feat-cat-99821
        feature_key:
          type: string
          description: Natural business key for the feature cat...
          example: INTERIOR_DIMENSIONS
        header:
          type: string
          description: The display header text for the feature ...
          example: "Interior dimensions, front/rear (in.)"
        description:
          type: string
          description: Brief description of the feature set.
          example: EFC Other than Std Feature Details
        feature_details:
          $ref: "#/components/schemas/FeatureItems"
      description: not nullable
    FeatureItem:
      type: object
      properties:
        feature_item_id:
          type: string
          description: Internal unique identifier for the item ...
          readOnly: true
          example: ' 2badc6f8'
        feature_item_key:
          type: string
          description: Internal unique identifier for the item ...
          example: ' 85e0f5fe'
        name:
          type: string
          description: The name of the feature.
          example: Headroom
        value:
          type: string
          description: The value or description of the feature.
          example: 3.5L V6 DOHC
      description: Key value pair of feature's name and value.
    FeatureItems:
      type: array
      items:
        $ref: "#/components/schemas/FeatureItem"
    Features:
      type: array
      items:
        $ref: "#/components/schemas/Feature"
    FuelTypes:
      type: string
      description: types of fuels.
      enum:
      - GASOLINE
      - DIESEL
      - BIO_DIESEL
      - ETHANOL
      - ELECTRIC
      - HYDROGEN
      - NATURAL_GAS
      - PROPANE
      - METHANOL
      - DIESEL_OID_MDF
      - SOLAR_OIL_HSD
      - KEROSENE
      - AVIATION_TURBINE_AVTUR
      - AVIATION_GASOLINE_AVGAS
      - P_SERIES
      - OTHER
    Identifier:
      required:
      - context
      - value
      type: object
      properties:
        context:
          type: string
          example: ' 25a7c33f'
          enum:
          - VIN
          - DEALER_ID
          - TRANSACTION_NO
          - UNIT_ID
        value:
          maxLength: 100
          minLength: 1
          pattern: "^[A-Z0-9-]+$"
          type: string
          example: 5TFHY5F13KX799310
        systemCodes:
          maxItems: 10
          minItems: 0
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/Code"
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Insurance:
      type: object
      properties:
        insurance_key:
          type: string
          description: A unique key for the insurance record.
          example: ' 2f950266'
        insurance_id:
          type: string
          description: The unique ID for the insurance record.
          readOnly: true
          example: ' 2e196835'
        insurance_type:
          $ref: "#/components/schemas/InsuranceTypes"
        insurance_company:
          $ref: "#/components/schemas/PartyReference"
        insurance_agent:
          $ref: "#/components/schemas/PartyReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        plan_codes:
          $ref: "#/components/schemas/Codes"
        plan_types:
          $ref: "#/components/schemas/Codes"
        agreement_number:
          type: string
          description: The insurance policy number.
          example: ' 00b5fdc8'
        insurance_policy_number:
          type: string
          description: The insurance policy number.
          example: ' 7f807824'
        effective_date:
          type: string
          description: The effective date of the insurance poli...
          format: date
          example: 2026-01-14
        expiration_date:
          type: string
          description: The expiration date of the insurance pol...
          format: date
          example: 2026-01-14
        plan_coverage:
          $ref: "#/components/schemas/MetricValue"
        expiration_mileage:
          $ref: "#/components/schemas/MetricValue"
        insured_person_name:
          type: string
          description: The name of the insured person.
          example: ' a5ebfda2'
        description:
          type: string
          description: A general description of the insurance.
          example: ' 51f349e0'
        confirmation_code:
          type: string
          description: The confirmation code for the policy.
          example: ' 538d56ab'
        policy_holder:
          $ref: "#/components/schemas/PolicyHolder"
        insurance_terms:
          $ref: "#/components/schemas/InsuranceTerms"
        links:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/Link"
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
      description: nullable
    InsuranceTerm:
      type: object
      properties:
        insurance_term_key:
          type: string
          description: A unique key for the insurance term reco...
          example: ' e9015ace'
        term_id:
          type: string
          description: The unique ID for the insurance term.
          readOnly: true
          example: ' 6ecb1499'
        term_name:
          type: string
          description: The name of the insurance term.
          example: ' 355b0d80'
        term_desc:
          type: string
          description: A description of the insurance term.
          example: ' 8f74d45a'
        price:
          $ref: "#/components/schemas/Price"
      description: Current Insurance Term for a customer.
    InsuranceTerms:
      type: array
      items:
        $ref: "#/components/schemas/InsuranceTerm"
    InsuranceTypes:
      type: string
      description: types of insurances.
      enum:
      - HEALTH
      - AUTO
      - HOMEOWNERS
      - RENTERS
      - LIFE
      - DISABILITY
      - UMBRELLA
      - LONG_TERM_DISABILITY
      - TERM_LIFE
      - LONG_TERM_CARE
      - IDENTITY_THEFT_PROTECTION
      - PERSONAL
      - PROPERTY
      - MARINE
      - FIRE
      - LIABILITY
      - GUARANTEE
      - FLOOD
      - WIND
      - STORM
      - OTHER
      - PROFESSIONAL_LIABILITY
      - COMMERCIAL_AUTO
      - CYBER_LIABILITY
      - WORKERS_COMPENSATION
      - BUSINESS_INTERRUPTION
      - RENT_GUARANTEE
      - TITLE
      - PET
      - TRAVEL
      - EVENT
    Insurances:
      type: array
      items:
        $ref: "#/components/schemas/Insurance"
    InventoryStatusTypes:
      type: string
      description: types of inventory status.
      enum:
      - ON_ORDER
      - RECEIVED
      - PREPARATION
      - STOCKED_IN
      - AVAILABLE
      - RESERVED
      - PRE_SOLD
      - ON_HOLD
      - SALES_HOLD
      - SERVICE_HOLD
      - RECALL_HOLD
      - IN_TRANSIT
      - ON_DEALER_LOT
      - ON_CENTRAL_LOT
      - ASSIGNED_BY_MANUFACTURER
      - SOLD
      - WHOLESALE
      - DAMAGED
      - UNAVAILABLE
      - RETURNED
      - DISPOSAL
      - UNKNOWN
    LeadStatusTypes:
      type: string
      description: types of lead status.
      enum:
      - NEW
      - UNQUALIFIED
      - CONTACTED
      - IN_PROGRESS
      - FOLLOW_UP_SCHEDULED
      - DEMO_GIVEN
      - PROPOSAL_SENT
      - VERBAL_COMMITMENT
      - NEGOTIATION
      - CONTRACT_SENT
      - WON
      - LOST
      - DISQUALIFIED
    LeaseTerm:
      type: object
      properties:
        lease_term_id:
          type: string
          description: Internal unique identifier for the lease...
          readOnly: true
          example: lt-99283-x
        lease_term_key:
          type: string
          description: Natural business key for the lease (e.g....
          example: LSE-5TFHY5F-2026
        term_months:
          maximum: 120
          minimum: 1
          type: integer
          description: Duration of the lease in months.
          format: int32
          example: 36
        money_factor:
          $ref: "#/components/schemas/MoneyFactor"
        residual_value:
          $ref: "#/components/schemas/Price"
        mileage_allowance:
          $ref: "#/components/schemas/MileageAllowance"
        gross_capitalized_cost:
          $ref: "#/components/schemas/Price"
        term_manifests:
          $ref: "#/components/schemas/Manifests"
      description: Lease Terms and Financial Details for vehicle d...
    LifecycleEvent:
      type: object
      properties:
        lifecycle_event_id:
          type: string
          description: The unique ID for the lifecycle event.
          readOnly: true
          example: EVT-99887766
        lifecycle_event_key:
          type: string
          description: The unique external key or business iden...
          example: LIFECYCLE-879234
        actor_href:
          type: string
          description: The href of the actor who initiated the ...
          format: href
          example: ' 7b581180'
        actor_id:
          type: string
          description: The unique identifier of the actor who i...
          readOnly: true
          example: USR-24681357
        actor_name:
          type: string
          description: The name of the actor who initiated the ...
          example: John Doe
        lifecycle_event_type:
          $ref: "#/components/schemas/LifecycleEventTypes"
        occurrence_date:
          type: string
          description: The date and time the event occurred.
          format: date
          example: 2026-01-14
        resource_href:
          type: string
          description: The href of the resource associated with...
          format: href
          example: ' 64231b38'
        resource_identifier:
          type: string
          description: The unique identifier of the resource as...
          readOnly: true
          example: RSC-88776655
        detail_name:
          type: string
          description: The name of the event detail.
          example: Order ID
        detail_desc:
          type: string
          description: A description of the event detail.
          example: The unique ID of the order being processed.
        detail_value:
          type: string
          description: The value of the event detail.
          example: ORD-44556677
        detail_key:
          type: string
          description: The unique key for the event detail.
          example: ORDER_ID
        detail_code:
          type: string
          description: The code for the event detail.
          example: ORDER_STATUS_CHANGED
        resource_types:
          $ref: "#/components/schemas/ResourceTypes"
      description: Lifecycle Event
    LifecycleEventTypes:
      type: string
      description: types of lifecycle events.
      enum:
      - CREATED
      - UPDATED
      - DELETE_HARD
      - DELETE_SOFT
      - ACCESS_ALLOWED
      - ACCESS_DENIED
      - SUBMITTED
      - CLOSED
      - CANCELLED
      - DEAD
      - INITIALIZED
      - INITIALIZING
      - PROCESSING
      - PROCESSED
      - FAILED
      - VALIDATED
      - QUALIFIED
      - STEP_TRANSITION
      - STATUS_CHANGE
      - QUEUED
      - ACKNOWLEDGMENT
      - REJECTED
      - UNQUALIFIED
      - INCOMPLETE
    LifecycleEvents:
      type: array
      items:
        $ref: "#/components/schemas/LifecycleEvent"
    LifecyclePulse:
      type: object
      properties:
        lifecycle_pulse_id:
          type: string
          description: The internal unique identifier for this ...
          readOnly: true
          example: pls-992837-abc
        lifecycle_pulse_key:
          type: string
          description: "A natural business key for the pulse, ty..."
          example: RDR_TRANSMITTED_20260318_143005
        lifecycle_pulse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/LifecyclePulseTypes"
        occurred_at:
          type: string
          description: The high-precision timestamp when the ev...
          format: date-time
          example: 2026-03-25T19:01:24Z
        actor_name:
          type: string
          description: "The identity of the user, service, or sy..."
          example: DMS_INTEGRATOR_SVC
        execution_id:
          $ref: "#/components/schemas/CorrelationId"
      description: Represents an immutable audit event or 'pulse' ...
    LifecyclePulseTypes:
      type: string
      description: types of lifecycle pulses.
      enum:
      - STARTED
      - CREATED
      - UPDATED
      - PROCESSED
      - TRANSMITTED
      - ACKNOWLEDGED
      - REJECTED
      - ARCHIVED
      - VOIDED
    LifecyclePulses:
      type: array
      items:
        $ref: "#/components/schemas/LifecyclePulse"
    LifecycleStatusEvent:
      required:
      - lifecycle_status_event_id
      - transition_to
      - identifiers
      type: object
      properties:
        lifecycle_status_event_id:
          pattern: "^EVT-[0-9]{8,12}$"
          type: string
          readOnly: true
          example: EVT-20260206
        source_system_code:
          maxLength: 20
          minLength: 2
          type: string
          example: ' 3a49cc56'
        transition_date_time:
          type: string
          description: Must be a valid ISO-8601 date-time.
          format: date-time
          example: 2026-01-14T12:00:00Z
        transition_from:
          type: string
          description: The state the lifecycle is transitioning FROM.
          example: PENDING
        transition_to:
          type: string
          description: The state the lifecycle is transitioning TO.
          example: APPROVED
        note:
          maxLength: 1000
          type: string
          example: RDR approved by NVS automated matching.
        identifiers:
          minItems: 1
          type: array
          description: list of array
          readOnly: true
          example: "[]"
          items:
            $ref: "#/components/schemas/Identifier"
    Link:
      type: object
      properties:
        link_key:
          type: string
          description: The unique key for the link.
          example: ' 0c2f501b'
        href:
          type: string
          description: The URL of the related resource.
          example: ' 1dbec0c1'
        method:
          type: string
          description: The HTTP method to be used to access the...
          example: ' 590ed532'
        rel:
          type: string
          description: "The link relation, which describes the r..."
          example: ' 10494cb6'
        title:
          type: string
          description: A human-readable title for the link.
          example: ' 11da94e3'
      description: Represents a Hypermedia as the Engine of Applic...
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used..."
          example: ' 1ec6c677'
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
          example: ' d7e86c94'
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: ' eb02d15f'
        currency_code:
          type: string
          description: The three-letter ISO 4217 currency code ...
          example: ' e6b357fa'
        currency_symbol:
          type: string
          description: The graphical symbol used for the curren...
          example: ' 502efa18'
        timezone:
          type: string
          description: The IANA Time Zone database ID for regio...
          example: ' 1af5b5d2'
        location_code:
          type: string
          description: The code of the inventory location or br...
          example: WH001
      description: comprehensive locale configuration for currency...
    Manifest:
      type: object
      properties:
        manifest_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The internal unique identifier for the m...
          readOnly: true
          example: man-55283-abc
        manifest_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The business key identifying the specifi...
          example: RDR_US_RETAIL_v2
        context:
          type: string
          description: The business domain or OEM context for t...
          example: VEHICLE_DELIVERY
        schema:
          $ref: "#/components/schemas/SchemaUri"
        definitions:
          $ref: "#/components/schemas/ManifestItems"
        lifecycle_pulses:
          $ref: "#/components/schemas/LifecyclePulses"
        manifest_type:
          type: string
          description: "The classification of manifest (e.g., 'V..."
          example: VALIDATION_RULES
        version:
          $ref: "#/components/schemas/SemanticVersion"
      description: External system manifest defining the structura...
    ManifestItem:
      type: object
      properties:
        manifest_item_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique manifestItem value
          readOnly: true
          example: ' 46a7df63'
        manifest_item_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the manifestItem
          example: ' f6345446'
        context:
          type: string
          description: Context or domain of the manifestItem
          example: ' 3cd651eb'
        id:
          type: string
          description: Context or domain of the manifestItem
          readOnly: true
          example: ' b6964b4a'
        value:
          type: string
          description: The monetary or hours-based value of the...
          example: ' 935d8870'
        description:
          type: string
          description: The monetary or hours-based value of the...
          example: ' e4af49f6'
      description: not nullable
    ManifestItems:
      type: array
      items:
        $ref: "#/components/schemas/ManifestItem"
    Manifests:
      type: array
      items:
        $ref: "#/components/schemas/Manifest"
    Memo:
      type: array
      items:
        type: string
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this ...
          readOnly: true
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric ...
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., th..."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: Represents a quantitative measurement including...
    MileageAllowance:
      $ref: "#/components/schemas/UOMLengthTypes"
    ModelYear:
      type: string
      description: The 4-digit model year of the vehicle.
      example: "2024"
    MoneyFactor:
      pattern: "^0\\.[0-9]{5,8}$"
      type: string
      description: The lease factor used to calculate the f...
      example: "0.00125"
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - OTHER
    OemRdrStatusTypes:
      type: string
      description: types of oem rdr status.
      enum:
      - OPEN
      - LOCKED
      - NEW_INTERFACE
      - TRANSMITTED
      - APPROVED
      - REJECTED
      - CANCELLED
    Option:
      type: object
      properties:
        option_id:
          type: string
          description: The unique id for the  option record.
          readOnly: true
          example: ' ab4cf91f'
        option_key:
          type: string
          description: The unique key for the  option record.
          example: ' 5ec399a1'
        codes:
          $ref: "#/components/schemas/Codes"
        option_name:
          type: string
          description: The name of the option.
          example: ' 2c46a266'
        option_long_name:
          type: string
          description: The long name of the option.
          example: ' 568300c2'
        manufacturer_name:
          type: string
          description: The manufacturer's name.
          example: ' 92a14986'
        short_description:
          type: string
          description: The short description of the option.
          example: ' 931bb170'
        price_summary:
          $ref: "#/components/schemas/PriceSummary"
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/ProductTypes"
        quantity:
          $ref: "#/components/schemas/MetricValue"
        option_type:
          $ref: "#/components/schemas/OptionTypes"
        option_installation_type:
          $ref: "#/components/schemas/OptionInstallationTypes"
        option_code:
          type: string
          description: The code for the option.
          example: ' e43b2773'
        option_categories:
          $ref: "#/components/schemas/Codes"
        option_groups:
          $ref: "#/components/schemas/Codes"
        option_descriptions:
          $ref: "#/components/schemas/OptionDescriptions"
      description: "Represents a specific option or feature of a , ..."
    OptionDescription:
      type: object
      properties:
        option_description_key:
          type: string
          description: A unique key for the option description.
          example: ' 7acaf089'
        option_description_id:
          type: string
          description: The unique ID for the option description...
          readOnly: true
          example: ' 868ed2ee'
        option_description_group:
          type: string
          description: The group or category this option belong...
          example: ' 4aa77de1'
        option_detail_descriptions:
          $ref: "#/components/schemas/Memo"
        option_description_label:
          type: string
          description: "A short, human-readable label for the op..."
          example: ' 396c684d'
      description: A description of a vehicle option or feature.
    OptionDescriptions:
      type: array
      items:
        $ref: "#/components/schemas/OptionDescription"
    OptionInstallationTypes:
      type: string
      description: types of option installations.
      enum:
      - FACTORY_INSTALLED
      - PORT_INSTALLED
      - DEALER_INSTALLED
      - SOFTWARE_UPDATE
      - ACCESSORY_KIT
      - CUSTOM_FABRICATION
      - OWNER_INSTALLED
      - THIRD_PARTY_INSTALLED
      - UNKNOWN
      - OTHER
    OptionTypes:
      type: string
      description: types of options.
      enum:
      - PARTS
      - ACCESSORY
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - SOFTWARE
      - CERTIFICATION
      - APPEARANCE
      - INCENTIVE
      - COLOR
      - FABRIC
      - REBATE_INCENTIVE
      - PORT_INSTALLED
      - TELEMATICS
      - OTHER
    Options:
      type: array
      items:
        $ref: "#/components/schemas/Option"
    PartConditionTypes:
      type: string
      description: types of part conditions.
      enum:
      - NEW
      - NEW_OLD_STOCK
      - REMANUFACTURED
      - REBUILT
      - REFURBISHED
      - USED
      - SALVAGE
      - DAMAGED_MINOR
      - DAMAGED_COSMETIC
      - SCRAP
      - COLLECTIBLE
      - OTHER
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique identifier value
          readOnly: true
          example: ' e552513b'
        party_reference_key:
          type: string
          description: Unique identifier value
          example: ' 594ebe10'
        party_key:
          type: string
          description: Unique identifier value
          example: ' 5c9fc6da'
        party_name:
          type: string
          description: Unique identifier value
          example: ' ab5a88a4'
        contact_name:
          $ref: "#/components/schemas/PersonName"
        locale:
          $ref: "#/components/schemas/Locale"
        authorization_code:
          type: string
          description: Context or domain of the identifier
          example: ' e5e0e122'
        source_system_code:
          type: string
          description: Context or domain of the identifier
          example: ' af591419'
        context:
          type: string
          description: Context or domain of the identifier
          example: ' 9c1d8fbe'
        account_number:
          type: string
          description: Account Number
          example: ' 2fec905a'
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        rule_codes:
          $ref: "#/components/schemas/Codes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-03-25T19:01:24Z
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentScheduleReference:
      type: object
      properties:
        payment_schedule_reference_id:
          type: string
          description: Unique identifier value for the referenc...
          readOnly: true
          example: ' 732820a7'
        payment_schedule_reference_key:
          type: string
          description: Unique identifier value for the referenc...
          example: ' 9c5ad892'
        payment_schedule_key:
          type: string
          description: The unique key identifying the reference...
          example: ' 5c36b5f1'
        payment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        context:
          type: string
          description: Context or domain of the payment schedul...
          example: ' 33bf6b06'
        total_payments:
          type: integer
          description: The total number of payments in this sch...
          format: int32
          example: 60
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was assoc...
          format: date-time
          example: 2026-03-25T19:01:24Z
        payment_frequency:
          $ref: "#/components/schemas/DurationIntervalTypes"
        payment_amount:
          type: string
          description: The price of all products and services b...
          example: ' b382abda'
        annual_percentage_rate:
          type: string
          description: Context or domain of the payment schedul...
          example: ' 267cd6f2'
      description: Reference to a Payment Schedule Aggregate Root.
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          readOnly: true
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          readOnly: true
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          readOnly: true
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        preferred_name:
          type: string
          description: Preferred name used in informal situatio...
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr..."
          example: Dr.
        honorific_prefix:
          type: string
          description: Prefix title used before the person's na...
          example: Dr.
        honorific_suffix:
          type: string
          description: Suffix title used after the person's nam...
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated wit...
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family na...
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given nam...
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle na...
          readOnly: true
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PlateNumber:
      type: string
      description: The alphanumeric string displayed on the...
      example: ABC1234
    PolicyHolder:
      type: object
      properties:
        policy_holder_key:
          type: string
          description: A unique key for the policy holder.
          example: ' 9ed2460c'
        policy_holder_name:
          type: string
          description: The full name of the policy holder.
          example: ' f72c7e78'
        policy_holder_relationship:
          type: string
          description: The relationship of the policy holder to...
          example: ' eee5d049'
        special_remarks:
          type: string
          description: Any special remarks or notes about the p...
          example: ' 9695fc8a'
        contact_method_href:
          type: string
          description: A hyperlink to the full contact method d...
          format: href
          example: ' 2b92f7b8'
      description: Current Insurance PolicyHolder for a customer.
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          readOnly: true
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          maxLength: 20
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
          example: ' b8cd30ab'
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            type: string
      description: "position meta-data that includes postal code, a..."
    Price:
      type: object
      properties:
        display_value:
          type: string
          description: Human-readable display value for the pri...
          example: ' 4c68ff3f'
        locale:
          type: string
          description: Locale used for formatting display value...
          example: ' 0c623191'
        value:
          type: string
          description: The numeric value of the price (before t...
          example: ' 900ad281'
        tax_value:
          type: string
          description: The calculated amount of tax applied to ...
          example: ' 4820f44f'
        taxable_amount:
          type: string
          description: The portion of the price subject to tax.
          example: ' 2aade7ad'
        non_taxable_amount:
          type: string
          description: The portion of the price not subject to ...
          example: ' 16bf65d6'
        total_amount:
          type: string
          description: The total final price including all comp...
          example: ' 3b6bc81f'
        total_cost_amount:
          type: string
          description: The total cost to the provider/seller.
          example: ' 88dfcd1d'
        unit_cost_amount:
          type: string
          description: The unit cost to the provider/seller.
          example: ' 50810c22'
        price_description:
          type: string
          description: "A descriptive title for the price (e.g.,..."
          example: ' de549392'
        price_key:
          type: string
          description: Natural key or business identifier for t...
          example: ' 5c2b6a60'
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the...
          example: false
        currency_code:
          type: string
          description: "ISO 4217 currency code, e.g., 'USD', 'EU..."
          example: ' 9d3688e8'
        price_id:
          type: string
          description: Unique system identifier for the price r...
          readOnly: true
          example: ' 817816dc'
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: list of array
          example: "[]"
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Price that includes display value, currency, lo..."
    PriceSummary:
      type: object
      properties:
        price_summary_key:
          type: string
          description: The unique key for the payment summary r...
          example: ' 5fd665d9'
        price_summary_id:
          type: string
          description: The unique ID for the payment summary.
          readOnly: true
          example: ' 2323e8eb'
        source_key:
          type: string
          description: The unique key to the related invoice.
          example: ' 4832ff40'
        source_type:
          $ref: "#/components/schemas/ResourceTypes"
        locale:
          $ref: "#/components/schemas/Locale"
        prices:
          $ref: "#/components/schemas/Prices"
        summary_memo:
          $ref: "#/components/schemas/Memo"
      description: Summarizes the financial totals and pricing com...
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
[...]
