openapi: 3.0.1
info:
  title: Automotive Retail Systems API - PartInvoice
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:19:23Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    AuthorizationReference:
      type: object
      properties:
        authorization_reference_id:
          type: string
          description: Unique identifier value
        authorization_reference_key:
          type: string
          description: Unique identifier value
        authorization_key:
          type: string
          description: Unique identifier value
        locale:
          $ref: "#/components/schemas/Locale"
        authorization_code:
          type: string
          description: Context or domain of the identifier
        source_system_code:
          type: string
          description: Context or domain of the identifier
        finance_type:
          $ref: "#/components/schemas/ProgramTypes"
        context:
          type: string
          description: Context or domain of the identifier
        account_number:
          type: string
          description: Account Number
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:23Z
      description: External system identifier
    AuthorizationReferences:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationReference"
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:23Z
      description: External system identifier
    CorrelationId:
      pattern: "^[a-zA-Z0-9-]+$"
      type: string
      description: The correlation ID or workflow execution identifier for cross-system
        distributed tracing.
      example: exec-uuid-99283-7716
    CountryCode:
      type: string
      description: The ISO 3116-1 alpha-2 country code of the issuing jurisdiction.
      example: US
    CreditReference:
      type: object
      properties:
        credit_reference_id:
          type: string
          description: Unique identifier value
        credit_reference_key:
          type: string
          description: Unique identifier value
        credit_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:23Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
      description: External system identifier
    CreditReferences:
      type: array
      items:
        $ref: "#/components/schemas/CreditReference"
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:19:23Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DiscountMetricValue:
      type: object
      properties:
        uom:
          $ref: "#/components/schemas/UnitOfMeasureTypes"
        value:
          type: string
          description: The numeric value of the metric.
          example: "5551235545"
        locales:
          $ref: "#/components/schemas/Codes"
        metric_value_key:
          type: string
          description: Unique identifier for the metric value.
          example: METRIC_KEY_ABC
      description: value price with unit of measure
    DiscountMetricValues:
      type: array
      items:
        $ref: "#/components/schemas/DiscountMetricValue"
    DiscountReference:
      type: object
      properties:
        discount_reference_id:
          type: string
          description: Unique identifier value
        discount_reference_key:
          type: string
          description: Unique identifier value
        discount_key:
          type: string
          description: Unique identifier value
        unit_count:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:23Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
        discount_plan_name:
          type: string
          description: The display name of the discount for search results.
          example: Loyalty Rebate
        discount_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        discount_href:
          type: string
          description: Hyperlink to the full Discount entity for deep-linking.
          format: href
          example: /discounts/123
        discount_metric_values:
          $ref: "#/components/schemas/DiscountMetricValues"
        discount_price:
          $ref: "#/components/schemas/Price"
        capitalized_indicator:
          type: boolean
          description: Indicates if the discount is capitalized (crucial for Lease
            calculations).
          example: true
        purchase_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderCategoryTypes"
        product_state_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductStateTypes"
        location_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    DiscountReferences:
      type: array
      items:
        $ref: "#/components/schemas/DiscountReference"
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      enum:
      - ONE_TIME
      - RECUR
      - MINUTES
      - HOURLY
      - DAILY
      - WEEKLY
      - BI_WEEKLY
      - SEMI_MONTHLY
      - MONTHLY
      - QUARTERLY
      - SEMI_YEAR
      - YEARLY
      - MULTI_YEAR
      - LIFETIME
      - CUSTOM
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-07T17:19:23Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-07T17:19:23Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: A unique key for the eventMessage record.
        event_message_id:
          type: string
          description: The unique ID for the eventMessage.
        event_actor_key:
          type: string
          description: The ID of the actor for the event.
        event_actor_name:
          type: string
          description: The name of the actor for the event.
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-05-07T17:19:23Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belongs.
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
        event_message_code:
          type: string
          description: The code for the eventMessage.
        event_message_value:
          type: string
          description: The value of the eventMessage.
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessage is internal.
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      enum:
      - INSTRUCTION
      - REASONING
      - RESPONSE
      - TOOL_CALL
      - TOOL_OUTPUT
      - ACTION_CONFIRMATION
      - COMPENSATION
      - RETRY_SIGNAL
      - ERROR_REPORT
      - DELEGATION
      - BROADCAST
      - CRITIQUE
      - LOGGING
      - AUDIT
      - HEARTBEAT
      - UNKNOWN
    EventMessages:
      type: array
      items:
        $ref: "#/components/schemas/EventMessage"
    ExitConsiderationTypes:
      type: string
      description: types of exit considerations.
      enum:
      - BUYOUT_ALLOWED
      - RETURN_NOT_ALLOWED
      - RETURN_ALLOWED
      - BUYOUT_NOT_ALLOWED
    FeeReference:
      type: object
      properties:
        fee_reference_id:
          type: string
          description: Unique identifier value
        fee_reference_key:
          type: string
          description: Unique identifier value
        fee_key:
          type: string
          description: Unique identifier value
        unit_count:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        fee:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:23Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
      description: External system identifier
    FeeReferences:
      type: array
      items:
        $ref: "#/components/schemas/FeeReference"
    FinancialCategoryReference:
      type: object
      properties:
        category_reference_id:
          type: string
          description: Unique identifier value for the financial category reference
            record.
        category_reference_key:
          type: string
          description: Unique key value for the financial category reference record.
        category_key:
          type: string
          description: The unique key identifying the referenced Financial Category
            aggregate.
        context:
          type: string
          description: "Context or domain of the financial category (e.g., 'INCOME',\
            \ 'BALANCE_SHEET')."
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financial category was assigned or referenced.
          format: date-time
          example: 2026-05-07T17:19:23Z
      description: "Reference to a Financial Category Aggregate Root (e.g., Revenue,\
        \ Expense, Asset)."
    FinancialCategoryReferences:
      type: array
      items:
        $ref: "#/components/schemas/FinancialCategoryReference"
    FinancialEvent:
      type: object
      properties:
        financial_event_id:
          type: string
          description: System-generated ID for the financial event.
          example: FE-998877
        financial_event_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        payment_provider:
          type: string
          description: The payment provider handling this transaction.
          example: Stripe
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        from_voided_apcheck_indicator:
          type: boolean
          description: Indicates whether this event originated from a voided accounts
            payable check.
          example: false
        confirmation_code:
          type: string
          description: Confirmation code for the financial transaction.
          example: CNF-987654
        forecast_indicator:
          type: boolean
          description: Confirmation code for the financial transaction.
          example: false
        payment_method_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        payment_methods_href:
          type: string
          description: Hyperlink reference to payment method details.
          format: href
          example: https://api.example.com/payment-methods/pm_123
        payment_method_key:
          type: string
          description: Unique key for the specific payment method used.
          example: pm_12345
        capability_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time when the financial event occurred.
          format: date-time
          example: 2026-05-07T17:19:23Z
        post_date:
          type: string
          description: The posting date of the financial transaction.
          format: date
        transaction_date:
          type: string
          description: The date the transaction was executed.
          format: date
        batch_number:
          type: string
          description: The batch number associated with this transaction.
          example: BATCH-2025-001
        previous_event_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTransactionStatusTypes"
        staff_id:
          type: string
          description: Identifier for the staff member who processed the transaction.
          example: staff_001
        provider_transaction_id:
          type: string
          description: Unique transaction ID from the payment provider.
          example: txn_87654321
        event_description:
          $ref: "#/components/schemas/TextualDetail"
        reason_codes:
          $ref: "#/components/schemas/Codes"
        financial_event_type:
          $ref: "#/components/schemas/FinancialEventTypes"
        resource_type:
          $ref: "#/components/schemas/ResourceTypes"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        resource_keys:
          $ref: "#/components/schemas/Codes"
        transaction_hash:
          type: string
          description: Unique cryptographic hash of the transaction.
          example: abc123def456
        tracking_ref:
          type: string
          description: Tracking reference for the transaction.
          example: track_98765
        transaction_ref:
          type: string
          description: Internal reference for the transaction.
          example: txn_ref_12345
        event_fee:
          type: string
          description: Fee amount associated with the financial event.
          example: "5.00"
        amount:
          $ref: "#/components/schemas/Money"
        deposit_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        deposit_id:
          type: string
          description: Unique identifier for the deposit.
          example: dep_123456
        deposit_addr:
          type: string
          description: The deposit address for cryptocurrency or other digital asset
            transactions.
          example: 1A2b3C4d5E6f...
        seed_phrase:
          type: string
          description: The seed phrase associated with a wallet (if applicable).
          example: correct horse battery staple
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        actor_id:
          type: string
          description: Identifier of the actor who initiated or is responsible for
            the financial event.
          example: actor_123
        financial_categories:
          $ref: "#/components/schemas/FinancialCategoryReferences"
      description: Payment details for this product.
    FinancialEventTypes:
      type: string
      description: types of financial events.
      enum:
      - PAYMENT_STATUS_CHANGE
      - REFUND_STATUS_CHANGE
      - RECURRING_PAYMENT_STATUS_CHANGE
      - PAYMENT_UPDATE
      - VOID
      - PAYMENT_CREATE
    FinancialEvents:
      type: array
      items:
        $ref: "#/components/schemas/FinancialEvent"
    FinancialSplit:
      type: object
      properties:
        financial_split_id:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        financial_split_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        reference_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price_name:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price_description:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price:
          $ref: "#/components/schemas/Price"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        financial_categories:
          $ref: "#/components/schemas/FinancialCategoryReferences"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        ledger_types:
          $ref: "#/components/schemas/FinancialTransactionTypes"
        price_type:
          $ref: "#/components/schemas/ProductPriceItemTypes"
        tax_splits:
          $ref: "#/components/schemas/TaxSplits"
        reward_references:
          $ref: "#/components/schemas/RewardReferences"
        credit_references:
          $ref: "#/components/schemas/CreditReferences"
        rebate_references:
          $ref: "#/components/schemas/RebateReferences"
        discount_references:
          $ref: "#/components/schemas/DiscountReferences"
        fee_references:
          $ref: "#/components/schemas/FeeReferences"
        parties:
          $ref: "#/components/schemas/PartyReferences"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: Payment details for this product.
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        financial_split_reference_key:
          type: string
          description: Unique key value for the reference record.
        financial_split_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Payment FinancialSplit
            aggregate.
        context:
          type: string
          description: Context or domain of the payment financialSplit.
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        total:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associated with the
            order.
          format: date-time
          example: 2026-05-07T17:19:23Z
      description: Reference to a Payment FinancialSplit Aggregate Root.
    FinancialSplits:
      type: array
      items:
        $ref: "#/components/schemas/FinancialSplit"
    FinancialTrack:
      type: object
      properties:
        financial_track_id:
          type: string
          description: Internal transaction reference for this tracking record.
          example: txn_ref_12345
        financial_track_key:
          type: string
          description: Internal transaction reference for this tracking record.
          example: txn_ref_12345
        reference_key:
          type: string
          description: Purchase order ID associated with this tracking record.
          example: PO-2025-10045
        financial_event_keys:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: Timestamp of the last update for this tracking record.
          format: date-time
          example: 2026-05-07T17:19:23Z
        actor_id:
          type: string
          description: Identifier of the actor who updated or is responsible for this
            tracking record.
          example: actor_123
        financial_splits:
          $ref: "#/components/schemas/FinancialSplits"
      description: Financial tracking details for a line item or purchase order.
    FinancialTracks:
      type: array
      items:
        $ref: "#/components/schemas/FinancialTrack"
    FinancialTransactionTypes:
      type: string
      description: types of financial transactions.
      enum:
      - ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - EQUITY
      - INVENTORY
      - INTANGIBLE_ASSET
      - PREPAID_EXPENSE
      - INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - SALES_DISCOUNT
      - RETURNS
      - CASH_INFLOW
      - CASH_OUTFLOW
      - BANK_CHARGE
      - LOAN_RECEIVABLE
      - LOAN_PAYABLE
      - INVESTMENT
      - DIVIDEND
      - INTEREST_INCOME
      - INTEREST_EXPENSE
      - OBLIGATION_NOTE
      - OBLIGATION_CREDIT
      - OBLIGATION_TAX
      - OBLIGATION_OTHER
      - TAX_PAYABLE
      - DEFERRED_REVENUE
      - ACCRUED_EXPENSE
      - PROVISION
      - DEBIT
      - CREDIT
      - CAPITALIZATION
      - AMORTIZATION
      - VARIANCE
      - INVOICE
      - RECEIPT
      - RECEIVABLE_RECEIPT
      - DISBURSEMENT
      - TRANSFER
      - SERVICE
      - FEE
      - REBATE
      - OTHER
      - CUSTOM
    GeographicBoundaryReference:
      type: object
      properties:
        geographic_boundary_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        geographic_boundary_reference_key:
          type: string
          description: Unique key value for the reference record.
        geographic_boundary_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
        context:
          type: string
          description: Context or domain of the payment schedule.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-05-07T17:19:23Z
      description: Reference to a Payment Schedule Aggregate Root.
    GeographicBoundaryReferences:
      type: array
      items:
        $ref: "#/components/schemas/GeographicBoundaryReference"
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    IncentiveTypes:
      type: string
      description: types of incentives.
      enum:
      - DEALER
      - OEM
      - VENDOR
      - SUPPLIER
      - OTHER
    InvoiceStatusTypes:
      type: string
      description: types of invoice status.
      enum:
      - DRAFT
      - PENDING_APPROVAL
      - ISSUED
      - ACKNOWLEDGED
      - PROCESSING_FULFILLMENT
      - BACKORDERED
      - PARTIALLY_SHIPPED
      - SHIPPED
      - DELIVERED
      - OPEN
      - PARTIALLY_PAID
      - PENDING_PAYMENT
      - OVERDUE
      - PAID
      - SETTLED
      - CLOSED
      - VOIDED
      - CANCELLED
      - DISPUTED
      - ON_HOLD
      - ADJUSTED
      - REFUNDED
      - DECLINED
    InvoiceTypes:
      type: string
      description: types of invoices.
      enum:
      - INVOICE
      - SERVICE_INVOICE
      - PART_INVOICE
      - LOAN
      - STANDARD
      - CREDIT_MEMO
      - DEBIT_MEMO
      - PRO_FORMA
      - COMMERCIAL
      - VEHICLE_SALE
      - SERVICE
      - PARTS
      - LEASE
      - FINANCE_CHARGE
      - WARRANTY_CLAIM
      - INSURANCE_CLAIM
      - STATEMENT
      - ADVANCE
      - FINAL
      - REPAIR
      - FUEL
      - RENTAL
      - SUBSCRIPTION
    LedgerActionTypes:
      type: string
      description: types of ledger actions.
      enum:
      - DEBIT
      - CREDIT
      - TRANSFER
      - CUSTOM
      - OTHER
    LifecyclePulse:
      type: object
      properties:
        lifecycle_pulse_id:
          type: string
          description: The internal unique identifier for this specific pulse record.
          example: pls-992837-abc
        lifecycle_pulse_key:
          type: string
          description: "A natural business key for the pulse, typically formatted\
            \ as EVENT_NAME-TIMESTAMP."
          example: RDR_TRANSMITTED_20260318_143005
        lifecycle_pulse_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/LifecyclePulseTypes"
        occurred_at:
          type: string
          description: The high-precision timestamp when the event actually occurred
            in the source system.
          format: date-time
          example: 2026-05-07T17:19:23Z
        actor_name:
          type: string
          description: "The identity of the user, service, or system agent that triggered\
            \ the event."
          example: DMS_INTEGRATOR_SVC
        execution_id:
          $ref: "#/components/schemas/CorrelationId"
        pulse_detail:
          type: string
          description: pulse detail
          example: "Updated: Assigned to Ocean Trader V22 for transit."
        traceability:
          $ref: "#/components/schemas/EventMessages"
      description: Represents an immutable audit event or 'pulse' in the record lifecycle.
    LifecyclePulseTypes:
      type: string
      description: types of lifecycle pulses.
      enum:
      - STARTED
      - CREATED
      - UPDATED
      - PROCESSED
      - TRANSMITTED
      - ACKNOWLEDGED
      - REJECTED
      - ARCHIVED
      - VOIDED
    LifecyclePulses:
      type: array
      items:
        $ref: "#/components/schemas/LifecyclePulse"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: not nullable
    Manifest:
      type: object
      properties:
        manifest_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The internal unique identifier for the manifest instance.
          example: man-55283-abc
        manifest_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The business key identifying the specific manifest configuration.
          example: RDR_US_RETAIL_v2
        context:
          type: string
          description: "The business domain or OEM context for this manifest (e.g.,\
            \ 'SALES', 'LOGISTICS', 'WARRANTY')."
          example: VEHICLE_DELIVERY
        schema:
          $ref: "#/components/schemas/SchemaUri"
        definitions:
          $ref: "#/components/schemas/ManifestItems"
        lifecycle_pulses:
          $ref: "#/components/schemas/LifecyclePulses"
        manifest_type:
          type: string
          description: "The classification of manifest (e.g., 'VALIDATION_RULES',\
            \ 'DATA_MAPPING', 'TRANSFORMATION')."
          example: VALIDATION_RULES
        version:
          $ref: "#/components/schemas/SemanticVersion"
      description: External system manifest defining the structural rules and metadata
        for a transaction.
    ManifestItem:
      type: object
      properties:
        manifest_item_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique manifestItem value
        manifest_item_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the manifestItem
        context:
          type: string
          description: Context or domain of the manifestItem
        id:
          type: string
          description: Context or domain of the manifestItem
        value:
          type: string
          description: The monetary or hours-based value of the event.
        description:
          type: string
          description: The monetary or hours-based value of the event.
      description: not nullable
    ManifestItems:
      type: array
      items:
        $ref: "#/components/schemas/ManifestItem"
    Manifests:
      type: array
      items:
        $ref: "#/components/schemas/Manifest"
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    ModelYear:
      type: string
      description: The 4-digit model year of the vehicle.
      example: "2024"
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        vin:
          $ref: "#/components/schemas/Vin"
        currency_code:
          type: string
          description: money.currency.code.desc
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        value:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        event_actor_id:
          type: string
          description: The ID of the actor for the event.
        event_actor_name:
          type: string
          description: The name of the actor for the event.
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-05-07T17:19:23Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - OTHER
    Narratives:
      type: array
      items:
        $ref: "#/components/schemas/Narrative"
    OrderCategoryTypes:
      type: string
      description: types of order categorys.
      enum:
      - RETAIL
      - WHOLESALE
      - E_COMMERCE
      - COMMERCIAL
      - GOVERNMENT
      - EDUCATIONAL
      - CONTRACT
      - SUBSCRIPTION
      - DIRECT
      - FLEET
      - TRADE_IN
      - LEASE
      - CUSTOM_ORDER
      - STANDARD
      - OTHER
    OrderStageTypes:
      type: string
      description: types of order stages.
      enum:
      - CREATION
      - VALIDATION
      - APPROVAL
      - ISSUE
      - RECONCILIATION
      - FULFILLMENT
      - SHIPPING
      - PAYMENT
      - EXCEPTION
      - RESOLUTION
      - HOLD
      - CANCELLATION
      - PAID_COMPLETE
      - PAID_OPEN
      - COMPLETE
      - ARCHIVAL
    OrderTypes:
      type: string
      description: types of orders.
      enum:
      - STANDARD
      - SALES
      - PURCHASE
      - RUSH
      - BACK_ORDER
      - SPECIAL
      - SUBSCRIPTION
      - SERVICE
      - MAINTENANCE
      - WARRANTY
      - SAMPLE
      - INTERNAL_TRANSFER
      - CONSIGNMENT
      - TRIAL
      - RENTAL
      - REPAIR
      - JOB
      - RETURN
    PartConditionGradeTypes:
      type: string
      description: types of part condition grades.
      enum:
      - EXCELLENT
      - LIKE_NEW
      - VERY_GOOD
      - GOOD
      - ACCEPTABLE
      - FAIR
      - POOR
      - DAMAGED
      - UNGRADED
      - OTHER
    PartInvoice:
      type: object
      properties:
        part_invoice_id:
          type: string
          description: Unique identifier for this specific parts partInvoice line
            item.
          example: pii_abc123xyz
        part_invoice_key:
          type: string
          description: "A unique key for the parts partInvoice line item, often used\
            \ for external systems integration."
          example: PARTINVITEM-2023-001-A
        invoice_manifests:
          $ref: "#/components/schemas/Manifests"
        order_ref_id:
          type: string
          description: Identifier of the associated Purchase Order.
          example: PO-2025-00001
        invoice_number:
          type: string
          description: "A unique key for the parts partInvoice line item, often used\
            \ for external systems integration."
          example: PARTINVITEM-2023-001-A
        vehicle_identifiers:
          $ref: "#/components/schemas/VehicleIdentifiers"
        repair_item_references:
          $ref: "#/components/schemas/RepairItemReferences"
        subject:
          type: string
          description: Identifier of the actor who initiated or is responsible for
            the financial event.
          example: actor_123
        description:
          type: string
          description: Identifier of the actor who initiated or is responsible for
            the financial event.
          example: actor_123
        ref_code:
          type: string
          description: Identifier of the actor who initiated or is responsible for
            the financial event.
          example: actor_123
        part_invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
        invoice_status_type:
          $ref: "#/components/schemas/InvoiceStatusTypes"
        payment_authorizations:
          $ref: "#/components/schemas/PaymentAuthorizations"
        vat_number:
          type: string
          description: Identifier of the actor who initiated or is responsible for
            the financial event.
          example: actor_123
        create_date_time:
          type: string
          description: The date and time when was created.
          format: date-time
          example: 2026-05-07T17:19:23Z
        due_date_time:
          type: string
          description: The date and time when was created.
          format: date-time
          example: 2026-05-07T17:19:23Z
        post_date_time:
          type: string
          description: The date and time when was posted.
          format: date-time
          example: 2026-05-07T17:19:23Z
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        priority:
          type: string
          description: The priority assigned to this line item within the partInvoice
            or fulfillment process.
          example: HIGH
        locale:
          $ref: "#/components/schemas/Locale"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        shipment_references:
          $ref: "#/components/schemas/ShipmentReferences"
        financial_events:
          $ref: "#/components/schemas/FinancialEvents"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        trade_ins:
          $ref: "#/components/schemas/PartReferences"
        event_message:
          $ref: "#/components/schemas/EventMessage"
        notes:
          $ref: "#/components/schemas/Memo"
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        purchase_stage_type:
          $ref: "#/components/schemas/OrderStageTypes"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        total_quantity:
          type: string
          description: The total quantity of this specific part in the line item.
          example: "5"
        legal_terms:
          type: string
          description: The total quantity of this specific part in the line item.
          example: "5"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        payment_terms:
          $ref: "#/components/schemas/PaymentTermReferences"
        payment_schedules:
          $ref: "#/components/schemas/PaymentScheduleReferences"
        payment_method_references:
          $ref: "#/components/schemas/PaymentMethodReferences"
        part_invoice_items:
          $ref: "#/components/schemas/PartInvoiceItems"
        status:
          type: string
          description: Unique key value for the reference record.
        occurrence_date:
          type: string
          description: The date and time when the alert was triggered.
          format: date
        invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
        quote_references:
          $ref: "#/components/schemas/QuoteReferences"
        authorization_references:
          $ref: "#/components/schemas/AuthorizationReferences"
        payment_schedule_references:
          $ref: "#/components/schemas/PaymentScheduleReferences"
      description: not nullable
    PartInvoiceCreate:
      required:
      - part_invoice_key
      type: object
      description: PartInvoice Create for Post
      allOf:
      - $ref: "#/components/schemas/PartInvoice"
    PartInvoiceItem:
      type: object
      properties:
        invoice_item_id:
          type: string
          description: Unique identifier for this specific parts invoice line item.
          example: pii_abc123xyz
        invoice_item_key:
          type: string
          description: "A unique key for the parts invoice line item, often used for\
            \ external systems integration."
          example: PARTINVITEM-2023-001-A
        line_number:
          type: string
          description: "An Invoice Line Number is a sequential, numerical identifier\
            \ assigned to each individual item, product, or service listed on an invoice.\
            \ It serves to uniquely identify and order each distinct entry within\
            \ the invoice's detail section, facilitating clarity, tracking, and reconciliation."
          example: PARTINVITEM-2023-001-A
        invoice_id:
          type: string
          description: The unique identifier of the parent invoice to which this line
            item belongs.
          example: inv_789def456
        priority:
          type: string
          description: The priority assigned to this line item within the invoice
            or fulfillment process.
          example: HIGH
        locale:
          $ref: "#/components/schemas/Locale"
        total_quantity:
          type: string
          description: The total quantity of this specific part in the line item.
          example: "5"
        item_date_time:
          type: string
          description: The date and time when this invoice item was added or last
            updated.
          format: date-time
          example: 2026-05-07T17:19:23Z
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        description:
          type: string
          description: A detailed description of the part included in this line item.
          example: Engine oil filter for model XYZ-123.
        address_reference:
          $ref: "#/components/schemas/AddressReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        item:
          $ref: "#/components/schemas/PartReference"
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        trade_ins:
          $ref: "#/components/schemas/PartReferences"
        order_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderTypes"
        part_invoice_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartInvoiceStatusTypes"
        financial_events:
          $ref: "#/components/schemas/FinancialEvents"
        financial_splits:
          $ref: "#/components/schemas/FinancialSplits"
        part_references:
          $ref: "#/components/schemas/PartReferences"
        journal_entry_key:
          type: string
          description: A link to the corresponding financial journal entry.
        status:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference record.
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        shipment_references:
          $ref: "#/components/schemas/ShipmentReferences"
        part_condition_grade_type:
          $ref: "#/components/schemas/PartConditionGradeTypes"
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        financial_tracks:
          $ref: "#/components/schemas/FinancialTracks"
      description: not nullable
    PartInvoiceItems:
      type: array
      items:
        $ref: "#/components/schemas/PartInvoiceItem"
    PartInvoiceStatusTypes:
      type: string
      description: types of part invoice status.
      enum:
      - DRAFT
      - ISSUED
      - PENDING_APPROVAL
      - PROCESSING_FULFILLMENT
      - BACKORDERED
      - PARTIALLY_SHIPPED
      - SHIPPED
      - DELIVERED
      - OPEN
      - PARTIALLY_PAID
      - OVERDUE
      - PAID
      - REFUNDED
      - ADJUSTED
      - APPROVED
      - DECLINED
      - DISPUTED
      - RETURNED
      - VOIDED
      - CANCELLED
      - CLOSED
      - SALES_HOLD
      - PAYMENT_HOLD
      - FINANCE_HOLD
      - CUSTOMER_HOLD
      - INTERNAL_HOLD
    PartInvoiceUpdate:
      type: object
      properties:
        occurrence_date:
          type: string
          description: The date and time when the alert was triggered.
          format: date
        authorization_references:
          $ref: "#/components/schemas/AuthorizationReferences"
        notes:
          $ref: "#/components/schemas/Memo"
        subject:
          type: string
          description: Identifier of the actor who initiated or is responsible for
            the financial event.
          example: actor_123
        vat_number:
          type: string
          description: Identifier of the actor who initiated or is responsible for
            the financial event.
          example: actor_123
        description:
          type: string
          description: Identifier of the actor who initiated or is responsible for
            the financial event.
          example: actor_123
        ref_code:
          type: string
          description: Identifier of the actor who initiated or is responsible for
            the financial event.
          example: actor_123
        invoice_status_type:
          $ref: "#/components/schemas/InvoiceStatusTypes"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        locale:
          $ref: "#/components/schemas/Locale"
        payment_terms:
          $ref: "#/components/schemas/PaymentTermReferences"
        payment_schedules:
          $ref: "#/components/schemas/PaymentScheduleReferences"
        payment_authorizations:
          $ref: "#/components/schemas/PaymentAuthorizations"
        create_date_time:
          type: string
          description: The date and time when was created.
          format: date-time
          example: 2026-05-07T17:19:23Z
        vehicle_identifiers:
          $ref: "#/components/schemas/VehicleIdentifiers"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        financial_events:
          $ref: "#/components/schemas/FinancialEvents"
        part_invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
        purchase_stage_type:
          $ref: "#/components/schemas/OrderStageTypes"
        total_quantity:
          type: string
          description: The total quantity of this specific part in the line item.
          example: "5"
        invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
        invoice_number:
          type: string
          description: "A unique key for the parts partInvoice line item, often used\
            \ for external systems integration."
          example: PARTINVITEM-2023-001-A
        repair_item_references:
          $ref: "#/components/schemas/RepairItemReferences"
        legal_terms:
          type: string
          description: The total quantity of this specific part in the line item.
          example: "5"
        quote_references:
          $ref: "#/components/schemas/QuoteReferences"
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        exit_consideration_type:
          $ref: "#/components/schemas/ExitConsiderationTypes"
        shipment_references:
          $ref: "#/components/schemas/ShipmentReferences"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        payment_schedule_references:
          $ref: "#/components/schemas/PaymentScheduleReferences"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        part_invoice_items:
          $ref: "#/components/schemas/PartInvoiceItems"
        priority:
          type: string
          description: The priority assigned to this line item within the partInvoice
            or fulfillment process.
          example: HIGH
        post_date_time:
          type: string
          description: The date and time when was posted.
          format: date-time
          example: 2026-05-07T17:19:23Z
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        due_date_time:
          type: string
          description: The date and time when was created.
          format: date-time
          example: 2026-05-07T17:19:23Z
        trade_ins:
          $ref: "#/components/schemas/PartReferences"
        payment_method_references:
          $ref: "#/components/schemas/PaymentMethodReferences"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        event_message:
          $ref: "#/components/schemas/EventMessage"
        invoice_manifests:
          $ref: "#/components/schemas/Manifests"
        status:
          type: string
          description: Unique key value for the reference record.
      description: PartInvoice Update for Patch and Put
    PartReference:
      type: object
      properties:
        part_reference_id:
          type: string
          description: Unique identifier value
        part_reference_key:
          type: string
          description: Unique identifier value
        name:
          type: string
          description: Product Name.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_key:
          type: string
          description: Unique identifier value
        part_master_key:
          type: string
          description: Unique identifier value
        manufacturer:
          type: string
          description: Context or domain of the identifier
        context:
          type: string
          description: Context or domain of the identifier
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:23Z
        unit_of_measure:
          $ref: "#/components/schemas/UnitOfMeasure"
      description: External system identifier
    PartReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartReference"
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-05-07T17:19:23Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentAuthorization:
      type: object
      properties:
        payment_authorization_id:
          type: string
          description: Unique identifier value for the reference record.
        payment_authorization_key:
          type: string
          description: Unique identifier value for the reference record.
        auth_reasons:
          $ref: "#/components/schemas/Codes"
        auth_amount:
          $ref: "#/components/schemas/Money"
        address_verification:
          type: string
          description: Context or domain of the reference.
        context:
          type: string
          description: Context or domain of the reference.
        transaction_number:
          type: string
          description: Context or domain of the reference.
        auth_number:
          type: string
          description: Context or domain of the reference.
        auth_code:
          type: string
          description: Context or domain of the reference.
        auth_date_time:
          type: string
          description: The date and time the payment was associated with the order.
          format: date-time
          example: 2026-05-07T17:19:23Z
      description: Reference to a PaymentMethod (Party) Aggregate Root for financing
        details.
    PaymentAuthorizations:
      type: array
      items:
        $ref: "#/components/schemas/PaymentAuthorization"
    PaymentMethodReference:
      type: object
      properties:
        payment_method_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the reference record.
        payment_method_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference record.
        payment_method_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced PaymentMethod (Party)
            aggregate.
        context:
          type: string
          description: Context or domain of the reference.
        payment_method_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        processor_options:
          $ref: "#/components/schemas/Identifiers"
        snapshot_details:
          $ref: "#/components/schemas/Identifiers"
        occurrence_date_time:
          type: string
          description: The date and time the paymentMethod was associated with the
            order.
          format: date-time
          example: 2026-05-07T17:19:23Z
      description: Reference to a PaymentMethod (Party) Aggregate Root for financing
        details.
    PaymentMethodReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentMethodReference"
    PaymentMethodTypes:
      type: string
      description: types of payment methods.
      enum:
      - CASH
      - CHECK
      - MONEY_ORDER
      - CASH_ON_DELIVERY
      - CREDIT_CARD
      - DEBIT_CARD
      - GIFT_CARD
      - EFT
      - ONLINE_BANK_TRANSFER
      - MOBILE_WALLET
      - CRYPTOCURRENCY
      - ONLINE_PAYMENT_PLATFORM
      - PAYROLL_DEDUCTION
      - FINANCE
      - LEASE
      - RENTAL
      - TERMS
      - DUE_ON_RECEIPT
      - TRADE_IN
      - REWARD_POINTS
      - STORE_CREDIT
      - EXCHANGE
      - OTHER
      - NOT_APPLICABLE
    PaymentScheduleReference:
      type: object
      properties:
        payment_schedule_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        payment_schedule_reference_key:
          type: string
          description: Unique identifier value for the reference record.
        payment_schedule_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
        payment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        context:
          type: string
          description: Context or domain of the payment schedule.
        total_payments:
          type: integer
          description: The total number of payments in this schedule.
          format: int32
          example: 60
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-05-07T17:19:23Z
        payment_frequency:
          $ref: "#/components/schemas/DurationIntervalTypes"
        payment_amount:
          type: string
          description: The price of all products and services before tax.
        annual_percentage_rate:
          type: string
          description: Context or domain of the payment schedule.
      description: Reference to a Payment Schedule Aggregate Root.
    PaymentScheduleReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentScheduleReference"
    PaymentStatusTypes:
      type: string
      description: types of payment status.
      enum:
      - CREATED
      - SCHEDULED
      - SUBMITTED
      - FRAUD_REVIEW
      - PROCESSING
      - SUCCEEDED
      - CLEARED
      - COMPLETED
      - PAID
      - REFUNDED
      - VOIDED
      - CANCELLED
      - REJECTED
      - DENIED
      - FAILED
      - EXPIRED
      - DEFERRED
      - RETURNED
      - INACTIVE
    PaymentTermReference:
      type: object
      properties:
        term_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        term_reference_key:
          type: string
          description: Unique key value for the reference record.
        term_key:
          type: string
          description: The unique key identifying the referenced Payment Term aggregate.
        context:
          type: string
          description: Context or domain of the payment term.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the terms were applied to the order.
          format: date-time
          example: 2026-05-07T17:19:23Z
      description: "Reference to a Payment Term Aggregate Root (e.g., Net 30)."
    PaymentTermReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentTermReference"
    PaymentTransactionStatusTypes:
      type: string
      description: types of payment transaction status.
      enum:
      - NONE
      - EXPIRED
      - CAPTURED
      - CONFIRMATION
      - VOID
      - APPROVE
      - REFUNDED
      - PARTIALLY_REFUNDED
      - AUTHORIZE
      - PENDING_MERCHANT
      - SUSPENDED
      - OPEN
      - PEND
      - PROCESS
      - DECLINE
      - DUE
      - INCURRED
      - CUSTOM_CODE
      - USER_HOLD
      - ADMIN_HOLD
      - ACTIVATED
      - DEACTIVATE
      - CANCEL
      - CONFIRM
      - CLOSE
      - TRIAL
      - SUBSCRIPTION
      - OVERRIDE
      - UPGRADE
      - HOLD_ON_RENEWAL
      - HOLD_ON_DATE
      - PAYMENT
      - DOWNGRADE
    PaymentTypes:
      type: string
      description: types of payments.
      enum:
      - OUTRIGHT_PURCHASE
      - FINANCED_PURCHASE
      - SUBSCRIPTION
      - DEPOSIT
      - PROGRESS_PAYMENT
      - SCHEDULED_PAYMENT
      - CONSUMPTION_BASED
      - CUSTOM_AGREEMENT
      - CASH
      - BALLON
      - LEASE
      - LEASE_NO_BUYOUT
      - LEASE_BUYOUT
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PlateNumber:
      type: string
      description: The alphanumeric string displayed on the vehicle license plate.
      example: ABC1234
    Price:
      type: object
      properties:
        display_value:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        locale:
          type: string
          description: Locale used for formatting display value.
        value:
          type: string
          description: The numeric value of the price (before tax/cost breakdowns).
        tax_value:
          type: string
          description: The calculated amount of tax applied to the price.
        taxable_amount:
          type: string
          description: The portion of the price subject to tax.
        non_taxable_amount:
          type: string
          description: The portion of the price not subject to tax.
        total_amount:
          type: string
          description: The total final price including all components and tax.
        total_cost_amount:
          type: string
          description: The total cost to the provider/seller.
        unit_cost_amount:
          type: string
          description: The unit cost to the provider/seller.
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        price_id:
          type: string
          description: Unique system identifier for the price record.
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PricePlanReference:
      type: object
      properties:
        price_plan_reference_id:
          type: string
          description: Unique identifier value
        price_plan_reference_key:
          type: string
          description: Unique identifier value
        price_plan_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:23Z
        geographic_boundaries:
          $ref: "#/components/schemas/GeographicBoundaryReferences"
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
      description: External system identifier
    PricePlanReferences:
      type: array
      items:
        $ref: "#/components/schemas/PricePlanReference"
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - OTHER
    ProductModel:
      type: object
      properties:
        product_model_key:
          type: string
          description: A unique key for the vehicle identifier.
        product_model_id:
          type: string
          description: The unique ID for the vehicle identifier.
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        brands:
          $ref: "#/components/schemas/Codes"
        trims:
          $ref: "#/components/schemas/Codes"
        marketing_names:
          $ref: "#/components/schemas/Codes"
        oem_names:
          $ref: "#/components/schemas/Codes"
        oem_codes:
          $ref: "#/components/schemas/Codes"
        model_codes:
          $ref: "#/components/schemas/Codes"
        phase_code:
          type: string
          description: The phase code.
        nicknames:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
      description: Vehicle Identifier
    ProductPriceItemTypes:
      type: string
      description: types of product price items.
      enum:
      - SUBTOTAL
      - TOTAL_DISCOUNTS
      - TOTAL_TAXES
      - GRAND_TOTAL
      - TOTAL_CREDIT
      - TOTAL_REWARD
      - TOTAL_FEE
      - TOTAL_REBATE
      - TOTAL_SERVICE
      - TOTAL_FREIGHT
      - TOTAL_SHIPPING
      - TOTAL_TAX
      - PRODUCT
      - FEE
      - DISCOUNT
      - REBATE
      - CREDIT
      - REWARD
      - TAX
      - OTHER
      - SHIPPING_AND_HANDLING
      - FREIGHT
      - SERVICE_CHARGE
      - PACKAGING
      - SURCHARGE
      - DEPOSIT_PAID
      - ITEMS
      - UNIT
      - NET
      - ORDERED
      - INVOICED
      - PAID
      - OUTSTANDING
    ProductStateTypes:
      type: string
      description: types of product states.
      enum:
      - NEW
      - USED
      - REFURBISHED
      - CERTIFIED
      - DEMO
      - RENTAL
      - IN_TRANSIT
      - DISCONTINUED
      - ARCHIVED
      - CUSTOMER_OWNED
      - PARTNER_OWNED
      - THIRD_PARTY_OWNED
      - COMPANY_OWNED
      - UNKNOWN
    ProductTypes:
      type: string
      description: types of products.
      enum:
      - VEHICLE
      - INFORMATION
      - DURABLE_GOODS
      - SOFTWARE
      - APP
      - INSURANCE
      - FINANCE
      - SERVICE
      - PART
      - ACCESSORY
      - F_N_I_PRODUCT
      - SERVICE_PACKAGE
      - DEALER_PRODUCT
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - OTHER
    ProgramTypes:
      type: string
      description: types of programs.
      enum:
      - BILL_EXTENDED_TERM
      - BILL_NET_30
    QuoteReference:
      type: object
      properties:
        quote_reference_id:
          type: string
          description: Unique identifier value
        quote_reference_key:
          type: string
          description: Unique identifier value
        quote_key:
          type: string
          description: Unique identifier value
        source_system_code:
          type: string
          description: Context or domain of the identifier
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:23Z
        expiration_date:
          type: string
          description: The expiration date of the quote.
          format: date
        version_id:
          type: string
          description: Context or domain of the identifier
      description: External system identifier
    QuoteReferences:
      type: array
      items:
        $ref: "#/components/schemas/QuoteReference"
    RebateReference:
      type: object
      properties:
        rebate_reference_id:
          type: string
          description: Unique identifier value
        rebate_reference_key:
          type: string
          description: Unique identifier value
        rebate_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:23Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
        rebate_name:
          type: string
          description: The name of the rebate for search result display.
        rebate_price:
          $ref: "#/components/schemas/Price"
        capitalized_indicator:
          type: boolean
          description: Indicates if the rebate is capitalized in lease deals.
          example: false
        purchase_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        payment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTypes"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        location_code:
          type: string
          description: Regional applicability code for the rebate.
        incentive_type:
          $ref: "#/components/schemas/IncentiveTypes"
        rebate_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        rebate_href:
          type: string
          description: Hyperlink to the full Rebate resource.
          format: href
      description: External system identifier
    RebateReferences:
      type: array
      items:
        $ref: "#/components/schemas/RebateReference"
    RepairItemReference:
      type: object
      properties:
        repair_item_reference_id:
          type: string
          description: Unique identifier value
        repair_item_reference_key:
          type: string
          description: Unique identifier value
        repair_item_key:
          type: string
          description: Unique identifier value
        repair_order_key:
          type: string
          description: Unique identifier value
        job_key:
          type: string
          description: Unique identifier value
        locale:
          $ref: "#/components/schemas/Locale"
        source_system_code:
          type: string
          description: Context or domain of the identifier
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:23Z
        vehicle_identifier:
          $ref: "#/components/schemas/VehicleIdentifier"
        narratives:
          $ref: "#/components/schemas/Narratives"
      description: External system identifier
    RepairItemReferences:
      type: array
      items:
        $ref: "#/components/schemas/RepairItemReference"
    ResourceTypes:
      type: string
      description: types of resources.
      enum:
      - SYSTEM
      - WORKFLOW
      - ACTIVITY
      - FUNCTION
      - PROCESS
      - INCIDENT
      - PARTY
      - CUSTOMER
      - APPLICANT
      - VENDOR
      - DEALER_STAFF
      - DRIVER
      - ADDRESS
      - BILL_ADDRESS
      - BILL_CONTACT
      - COMM_CHANNEL
      - ACCOUNT
      - VEHICLE
      - TRADE_IN
      - PRODUCT
      - MANUFACTURER
      - LEAD
      - OPPORTUNITY
      - DEAL
      - FINANCE
      - INVOICE
      - LINEITEM
      - EXPENSE
      - DISCOUNT
      - TAX
      - FEE
      - INCENTIVE
      - DEALERSHIP
      - PART
      - ACCESSORIES
      - PURCHASE_ORDER
      - VEHICLE_OPTION
      - RENTAL
      - SUBSCRIPTION
      - INSURANCE
      - WARRANTY
      - SERVICE
      - APPOINTMENT
      - OTHER
    RewardReference:
      type: object
      properties:
        reward_reference_id:
          type: string
          description: Unique identifier value
        reward_reference_key:
          type: string
          description: Unique identifier value
        reward_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
[...]
