openapi: 3.0.1
info:
  title: Automotive Retail Systems API - VehicleTelemetryEvent
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-24T14:55:42Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    Address:
      type: object
      properties:
        address_locales:
          $ref: "#/components/schemas/AddressLocales"
        priority:
          maxLength: 10
          minLength: 1
          type: string
          description: "Priority indicator for address usage (e.g., billing, shipping)."
          example: "1"
        city_code:
          maxLength: 20
          minLength: 1
          type: string
          description: Standardized city code.
        address_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business key for the address.
        address_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier for the address record.
        address_input:
          maxLength: 255
          minLength: 1
          type: string
          description: Raw input provided for address processing or validation.
        address_line1:
          maxLength: 100
          minLength: 1
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          maxLength: 100
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line4:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line5:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        city:
          maxLength: 100
          minLength: 1
          type: string
          description: Name of the city.
        city_subdivision:
          maxLength: 100
          type: string
          description: "Subdivision within the city (e.g., neighborhood, district)."
        country:
          maxLength: 100
          minLength: 2
          type: string
          description: Full name of the country.
        country_code:
          maxLength: 2
          minLength: 2
          type: string
          description: ISO 3166-1 Alpha-2 country code.
        county:
          maxLength: 100
          type: string
          description: Name of the county.
          example: Dade
        county_code:
          maxLength: 20
          type: string
          description: Standardized code for the county.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        position:
          $ref: "#/components/schemas/Position"
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        postal_code_ext:
          maxLength: 10
          type: string
          description: "Extended postal code (e.g., ZIP+4)."
        preferred_indicator:
          type: boolean
          description: Flag indicating if this address is the preferred address.
          example: false
        region:
          maxLength: 50
          type: string
          description: "Administrative region (e.g., province, state)."
        state:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: Address represents a physical or mailing location associated with
        a party or warehouse.
    AddressLocale:
      type: object
      properties:
        address_locale_key:
          type: string
          description: Business key for the address locale.
        address_locale_id:
          type: string
          description: Unique identifier for the address locale.
        region_code:
          type: string
          description: Code representing the region for the locale.
        region_name:
          type: string
          description: Name of the region for the locale.
        region_aliases:
          $ref: "#/components/schemas/Codes"
        location_type:
          $ref: "#/components/schemas/LocationTypes"
      description: External system address locale including region and location type.
    AddressLocales:
      type: array
      items:
        $ref: "#/components/schemas/AddressLocale"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-07-24T14:55:42Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-07-24T14:55:42Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-07-24T14:55:42Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    List:
      type: array
      items:
        type: string
    LocationTypes:
      type: string
      description: types of locations.
      enum:
      - BOROUGH
      - PARISH
      - REGION
      - BOUNDARY
      - PROVINCE
      - VILLAGE
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - TELEMATICS
      - ADDRESS
      - NO_PREFERENCE
      - GPS
      - WAREHOUSE
      - DISTRICT
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          $ref: "#/components/schemas/Memo"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-07-24T14:55:42Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
      - WARRANTY_APPROVAL
      - WARRANTY_DENIAL
      - WARRANTY_APPEAL
      - CLAIM
      - FLEET
      - TELEMETRY
      - COMPLIANCE
      - AUDIT
      - SECURITY
      - TRANSPORT
      - DELIVERY
      - INVENTORY
      - SALES
      - FINANCIAL
      - SERVICE_PLAN
      - VEHICLE_LIFECYCLE
      - OWNERSHIP
      - INSURANCE
      - LOGISTICS
      - QUALITY
      - RISK
      - CONSEQUENCE
      - AI_RECOMMENDATION
      - DECISION
      - BUSINESS_RULE
      - INTENT
      - CAPABILITY
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    Narratives:
      type: array
      items:
        $ref: "#/components/schemas/Narrative"
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - DEALER_PRINCIPAL
      - GENERAL_MANAGER
      - GENERAL_SALES_MANAGER
      - SALES_MANAGER
      - SALES_PERSON
      - BUSINESS_DEVELOPMENT_REPRESENTATIVE
      - CUSTOMER_SERVICE_REPRESENTATIVE
      - RECEPTIONIST
      - FINANCE_AND_INSURANCE_MANAGER
      - BUSINESS_MANAGER
      - CLOSING_MANAGER
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - WARRANTY_ADMINISTRATOR
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - PARTS_SPECIALIST
      - INVENTORY_MANAGER
      - FLEET_MANAGER
      - DETAIL_MANAGER
      - DETAIL_TECHNICIAN
      - ACCOUNTING_MANAGER
      - CONTROLLER
      - TITLE_CLERK
      - OFFICE_MANAGER
      - MARKETING_MANAGER
      - OTHER
    TelemetryEventTypes:
      type: string
      description: types of telemetry events.
      enum:
      - ENGINE_STARTED
      - ENGINE_STOPPED
      - ENGINE_RPM_EXCEEDED
      - COOLANT_TEMPERATURE_HIGH
      - OIL_PRESSURE_LOW
      - TRANSMISSION_FLUID_TEMP_HIGH
      - DTC_SET
      - DTC_CLEARED
      - CHECK_ENGINE_LIGHT_ON
      - CHECK_ENGINE_LIGHT_OFF
      - ECU_FIRMWARE_UPDATED
      - FREEZE_FRAME_CAPTURED
      - PENDING_DTC_SET
      - TELEMETRY_HEALTH_CHECK_FAILED
      - SERVICE_FACILITY_ARRIVED
      - SERVICE_BAY_ENTERED
      - SERVICE_BAY_EXITED
      - ON_DEMAND_DIAGNOSTIC_REQUESTED
      - ON_DEMAND_DIAGNOSTIC_COMPLETED
      - ON_DEMAND_DIAGNOSTIC_FAILED
      - SERVICE_DUE_WARNING
      - OIL_LIFE_THRESHOLD_REACHED
      - BRAKE_PAD_WEAR_WARNING
      - INSPECTION_OVERDUE
      - DEF_LEVEL_LOW
      - MAINTENANCE_RESET_PERFORMED
      - HARSH_ACCELERATION
      - HARSH_BRAKING
      - HARSH_CORNERING
      - SPEEDING_STARTED
      - SPEEDING_ENDED
      - SEATBELT_UNBUCKLED
      - GEOFENCE_ENTERED
      - GEOFENCE_EXITED
      - LOCATION_PULSE
      - IDLE_STARTED
      - IDLE_ENDED
      - BATTERY_STATE_OF_CHARGE_LOW
      - EV_CHARGING_STARTED
      - EV_CHARGING_COMPLETED
      - EV_CHARGING_INTERRUPTED
      - CRASH_DETECTED
      - IMPACT_PARKED
      - DOOR_UNLOCKED_REMOTE
      - PANIC_ALARM_TRIGGERED
      - TIRE_PRESSURE_LOW
      - VEHICLE_STAGING_ENTERED
      - DIAGNOSTIC_TOOL_CONNECTED
      - VEHICLE_HOIST_ENGAGED
      - VALET_MODE_ACTIVATED
      - SERVICE_LANE_DRIVE_IN
      - WALKAROUND_INSPECTION_COMPLETED
      - ROAD_TEST_STARTED
      - ROAD_TEST_COMPLETED
      - QUALITY_CONTROL_APPROVED
      - READY_FOR_PICKUP_STAGED
      - CUSTOMER_PICKUP_DEPARTED
    VehicleReference:
      type: object
      properties:
        vehicle_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique lightweight reference key representing the denormalized
            vehicle projection used across bounded contexts.
          example: VREF-882211
        vehicle_reference_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique identifier for the lightweight denormalized vehicle
            reference projection.
          example: VR-993821
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical enterprise vehicle identity anchor associated
            with this denormalized vehicle reference.
          example: VID-00088211
        vin:
          maxLength: 17
          minLength: 11
          type: string
          description: The Vehicle Identification Number (VIN) associated with the
            vehicle reference.
          example: 1FT8W3BT6SEC12345
        model_year:
          maxLength: 4
          minLength: 1
          type: string
          description: The OEM model year associated with the vehicle reference projection.
          example: "2026"
        make:
          maxLength: 80
          minLength: 1
          type: string
          description: The manufacturer brand associated with the vehicle reference
            projection.
          example: Ford
        model:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM model associated with the vehicle reference projection.
          example: F-350 Super Duty
        trim:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM trim designation associated with the vehicle reference
            projection.
          example: Lariat
        display_name:
          maxLength: 200
          minLength: 1
          type: string
          description: "The human-readable formatted vehicle display name used for\
            \ search results, dashboards, and UI rendering."
          example: 2026 Ford F-350 Super Duty Lariat
        stock_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer or inventory stock number associated
            with the vehicle reference.
          example: F12345
        license_plate:
          maxLength: 20
          minLength: 1
          type: string
          description: The latest known government-issued vehicle license plate associated
            with the vehicle reference.
          example: ABC1234
        dealer_code:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer organization code associated with the
            vehicle reference.
          example: ATL-001
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        tags:
          $ref: "#/components/schemas/Codes"
        body_style:
          maxLength: 100
          minLength: 1
          type: string
          description: The baseline layout style design of the chassis structure shell.
          example: Crew Cab Pickup
      description: Vehicle Detail Create Information
    VehicleResourceTypes:
      type: string
      description: types of vehicle resources.
      enum:
      - POWER_TRAIN
      - BODY
      - CHASSIS
      - NETWORK
      - AIR_METERING
      - IGNITION
      - EMISSION
      - SPEED_CONTROL
      - IDLE_CONTROL
      - TRANSMISSION
      - ELECTRICAL
      - TIRE
      - OIL
      - BRAKE_PAD
      - BRAKE_FLUID
      - AIRBAG
      - BRAKES
      - ENGINE
      - STABILITY
      - WASHER_FLUID
      - STARTER
      - DIAGNOSTIC
      - LAMPS
      - MOTOR
      - BATTERY
      - LIGHTS
      - ODOMETER
      - SPEED
      - FUEL
      - CHARGE
      - PLACARD
      - GEAR
      - IDLE
      - DOOR
      - PLUG
      - CHARGE_PRIORITY
      - CHARGE_POWER
      - CHARGER
      - RANGE
      - ENERGY
      - AIR_EXT
      - AIR_INT
      - DRIVE_CYCLE
      - SYSTEM_SW
      - SYSTEM_HW
      - FLUID
      - AIR_FILTER
      - OTHER
    VehicleState:
      type: object
      properties:
        vehicle_state_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing a single vehicle state
            reading.
          example: VSTATE-882211
        vehicle_state_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated identifier for the vehicle
            state reading.
          example: STATE-2026-00991
        vehicle_state_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable name of the vehicle state reading.
          example: Battery State of Charge
        value:
          maxLength: 500
          minLength: 1
          type: string
          description: The raw or normalized value captured for the vehicle state
            reading.
          example: "82"
        vehicle_system_type:
          $ref: "#/components/schemas/VehicleSystemTypes"
        vehicle_resource_type:
          $ref: "#/components/schemas/VehicleResourceTypes"
        vehicle_value_type:
          $ref: "#/components/schemas/VehicleStateUomTypes"
        vehicle_state_type:
          $ref: "#/components/schemas/VehicleStateTypes"
        vehicle_status_type:
          $ref: "#/components/schemas/VehicleStatusTypes"
        occurrence_date_time:
          type: string
          description: The timestamp documenting when the vehicle state reading was
            observed.
          format: date-time
          example: 2026-07-24T14:55:42Z
        recorded_date_time:
          type: string
          description: The timestamp documenting when the vehicle state reading was
            recorded by the platform.
          format: date-time
          example: 2026-07-24T14:55:42Z
        vehicle_state_position:
          $ref: "#/components/schemas/VehicleStatePosition"
        narratives:
          $ref: "#/components/schemas/Narratives"
        description:
          type: string
          description: The descriptive memo associated with the vehicle state reading.
        vehicle_state_codes:
          $ref: "#/components/schemas/Codes"
      description: nullable
    VehicleStatePosition:
      type: object
      properties:
        vehicle_state_position_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing the vehicle state position
            reading.
          example: VSPOS-882211
        vehicle_state_position_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated identifier for the vehicle
            state position reading.
          example: POS-2026-00991
        position_type:
          maxLength: 80
          minLength: 1
          type: string
          description: The classification describing the type of captured vehicle
            position.
          example: GPS
        description:
          type: string
          description: The descriptive memo associated with the vehicle state position
            reading.
        position:
          $ref: "#/components/schemas/Position"
        address:
          $ref: "#/components/schemas/Address"
        dop:
          maxLength: 20
          minLength: 1
          type: string
          description: The GPS dilution of precision quality measurement associated
            with the captured position.
          example: "1.5"
        altitude:
          $ref: "#/components/schemas/MetricValue"
        bearing:
          $ref: "#/components/schemas/MetricValue"
        speed:
          $ref: "#/components/schemas/MetricValue"
        horizontal_accuracy:
          $ref: "#/components/schemas/MetricValue"
        vertical_accuracy:
          $ref: "#/components/schemas/MetricValue"
        occurrence_date_time:
          type: string
          description: The timestamp documenting when the vehicle position reading
            was observed.
          format: date-time
          example: 2026-07-24T14:55:42Z
        recorded_date_time:
          type: string
          description: The timestamp documenting when the vehicle position reading
            was recorded by the platform.
          format: date-time
          example: 2026-07-24T14:55:42Z
        mask_indicator:
          type: boolean
          description: "Indicates whether the vehicle position was intentionally masked,\
            \ generalized, or privacy-protected."
          example: false
        position_codes:
          $ref: "#/components/schemas/Codes"
      description: nullable
    VehicleStateTypes:
      type: string
      description: types of vehicle states.
      enum:
      - OK
      - WARNING
      - CRITICAL
      - LOW
      - HIGH
      - "ON"
      - "OFF"
      - ACTIVE
      - DEPLOYED
      - CRASH
      - TEST
      - NONE
    VehicleStateUomTypes:
      type: string
      description: types of vehicle state uoms.
      enum:
      - CONSUMPTION
      - DETECTION
      - USAGE
      - REPLACEMENT
      - ROTATION
      - CHANGE
      - DEPLOYMENT
      - COST
      - UTILIZATION
      - PRESSURE
      - TEMPERATURE
      - WEAR
      - DAMAGE
      - DEFECTIVE
      - EXCESSIVE
      - POWER
      - LEAK
      - LEVEL
      - QUALITY
      - PERFORMANCE
      - USED
      - FLAT
      - ECONOMY
      - CAPACITY
      - STATE
      - LIFE
      - EFFICIENCY
      - VIBRATION
      - FAULT
      - INSTALLED
      - VALUE
      - DISTANCE
      - ACTUAL
      - AVG
      - MODE
      - MEAN
      - HARD
      - VIOLATION
      - POSITION
      - LIMIT
      - LIFETIME_HOURS
      - USABLE
      - STATUS
      - STATUS_ACTUAL
      - VALID
      - NOMINAL
      - POINTS
      - EVENT
      - OPEN
      - CLOSE
      - ACTIVE
      - UPDATING
    VehicleStates:
      type: array
      items:
        $ref: "#/components/schemas/VehicleState"
    VehicleStatusTypes:
      type: string
      description: types of vehicle status.
      enum:
      - PENDING_RESERVED
      - RESERVED
      - ACTIVE
      - SOLD
      - RECALL
      - PROPOSED
      - PENDING_ACQUISITION
      - IN_RECEIVING
      - IN_STOCK
      - IN_SERVICE
      - UNDER_MAINTENANCE
      - RETIRED
      - DISPOSED
      - LOST_STOLEN
      - OTHER
    VehicleSystemTypes:
      type: string
      description: types of vehicle systems.
      enum:
      - ELECTRICAL
      - LIGHTING
      - POWERTRAIN
      - DRIVETRAIN
      - ENGINE
      - TRANSMISSION
      - CONTROL
      - SENSORS
      - CAMERA
      - COMMUNICATION
      - NAVIGATION
      - MAPPING
      - CLIMATE_CONTROL
      - SECURITY
      - INFOTAINMENT
      - HMI
      - POWER_MANAGEMENT
      - CHARGING
      - ELECTRIC_POWER
      - BATTERY
      - AUTONOMOUS
      - ADAS
      - SAFETY
      - BRAKING
      - STEERING
      - SUSPENSION
      - V2X
      - TELEMATICS
      - DIAGNOSTICS
      - REPORTING
      - BODY
      - INTERIOR
      - EXTERIOR
      - FUEL
      - EXHAUST
      - OTHER
    VehicleTelemetryEvent:
      type: object
      properties:
        vehicle_telemetry_event_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing a connected vehicle telemetry
            event.
          example: VTEL-882211
        vehicle_telemetry_event_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external provider or platform-generated telemetry event
            identifier.
          example: TEL-2026-00991
        telemetry_event_type:
          $ref: "#/components/schemas/TelemetryEventTypes"
        telemetry_source:
          maxLength: 80
          minLength: 1
          type: string
          description: "The source system, OEM platform, device, modem, or provider\
            \ that generated the telemetry event."
          example: FORDPASS
        device_identifier:
          maxLength: 120
          minLength: 1
          type: string
          description: "The connected device, modem, gateway, or sensor identifier\
            \ that produced the telemetry event."
          example: TCU-778812
        occurrence_date_time:
          type: string
          description: The timestamp when the telemetry event was observed by the
            vehicle or connected device.
          format: date-time
          example: 2026-07-24T14:55:42Z
        recorded_date_time:
          type: string
          description: The timestamp when the telemetry event was recorded or persisted
            by the platform.
          format: date-time
          example: 2026-07-24T14:55:42Z
        position:
          $ref: "#/components/schemas/Position"
        telemetry_snapshots:
          $ref: "#/components/schemas/VehicleTelemetrySnapshots"
        vehicle_states:
          $ref: "#/components/schemas/VehicleStates"
        diagnostic_trouble_codes:
          $ref: "#/components/schemas/Codes"
        telemetry_codes:
          $ref: "#/components/schemas/Codes"
        payload:
          $ref: "#/components/schemas/Object"
        vehicle_reference:
          $ref: "#/components/schemas/VehicleReference"
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical vehicle identifier key associated with the telemetry
            event.
          example: VID-00088211
        connected_vehicle_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The connected vehicle aggregate key associated with the telemetry
            event.
          example: CV-998211
        ingested_date_time:
          type: string
          description: The date and time when the telemetry event was ingested into
            the platform.
          format: date-time
          example: 2026-07-24T14:55:42Z
        event_sequence_num:
          maxLength: 40
          minLength: 1
          type: string
          description: The sequence number assigned to the telemetry event within
            the telemetry stream.
          example: "00000012345"
        correlation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: The correlation identifier used to associate related telemetry
            events.
          example: CORR-882211
        causation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: The identifier of the event that caused this telemetry event.
          example: CAUSE-882211
        telemetry_hash:
          maxLength: 256
          minLength: 1
          type: string
          description: The immutable hash used to verify telemetry event integrity.
          example: SHA256:9abf2c...
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: The source system or connected vehicle platform that produced
            the telemetry event.
          example: FORDPASS
        source_record_key:
          maxLength: 120
          minLength: 1
          type: string
          description: The source system record key associated with the telemetry
            event.
          example: TEL-REC-998211
        event_confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: The confidence score assigned to the telemetry event by the
            source platform.
          example: "0.998"
        data_sharing_consent_indicator:
          type: boolean
          description: Indicates whether telemetry data sharing was authorized by
            the vehicle owner or controlling party.
          example: true
        privacy_codes:
          $ref: "#/components/schemas/Codes"
        governance_codes:
          $ref: "#/components/schemas/Codes"
        raw_payload:
          type: string
          description: The original provider-specific telemetry payload preserved
            for auditing and replay.
        payload_schema_codes:
          $ref: "#/components/schemas/Codes"
      description: Vehicle Telemetry Event
    VehicleTelemetryMetricTypes:
      type: string
      description: types of vehicle telemetry metrics.
      enum:
      - ODOMETER
      - SPEED
      - ENGINE_RPM
      - FUEL_LEVEL
      - BATTERY_LEVEL
      - BATTERY_STATE_OF_CHARGE
      - BATTERY_VOLTAGE
      - TIRE_PRESSURE
      - ENGINE_TEMPERATURE
      - AMBIENT_TEMPERATURE
      - HEADING
      - ACCELERATION
      - REMAINING_RANGE
      - OIL_LIFE
      - FLUID_LEVEL
      - ODOMETER_AT_BOOKING
      - ODOMETER_AT_ARRIVAL
      - ODOMETER_AT_CHECK_IN
      - ODOMETER_AT_VEHICLE_RELEASE
      - FUEL_LEVEL_AT_ARRIVAL
      - FUEL_LEVEL_AT_RELEASE
      - BATTERY_SOC_AT_ARRIVAL
      - BATTERY_SOC_AT_RELEASE
      - UNKNOWN
    VehicleTelemetrySnapshot:
      type: object
      properties:
        metric_type:
          $ref: "#/components/schemas/VehicleTelemetryMetricTypes"
        correlation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: The correlation identifier used to associate related telemetry
            events.
          example: CORR-882211
        metric_value:
          $ref: "#/components/schemas/MetricValue"
        recorded_date_time:
          type: string
          description: Exact timestamp when the telemetry reading was captured.
          format: date-time
          example: 2026-07-24T14:55:42Z
        source:
          type: string
          description: "Origin of the telemetry data (e.g., MANUAL_ADVISOR_INPUT,\
            \ TELEMATICS_DONGLE, OBD_SCANNER)."
          example: OBD_SCANNER
      description: vehicle.telemetry.snapshot.desc
    VehicleTelemetrySnapshots:
      type: array
      items:
        $ref: "#/components/schemas/VehicleTelemetrySnapshot"
