openapi: 3.0.1
info:
  title: Automotive Retail Systems API - GeneralLedgerAccount
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
    GeneralLedgerAccount:
      type: object
      properties:
        general_ledger_account_id:
          type: string
          description: Unique identifier for the control account.
        general_ledger_account_key:
          type: string
          description: "Master record for a General Ledger Account (Chart of Accounts),\
            \ capturing its identity, type, and descriptive fields."
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        general_ledger_account_desc:
          type: string
          description: Description of the control account.
        general_ledger_account_name:
          type: string
          description: Display name of the control account.
        general_ledger_account_type:
          $ref: "#/components/schemas/GeneralLedgerAccountTypes"
        control_type_id:
          type: string
          description: Identifier for the control type of the account.
        bank_account_id:
          type: string
          description: Associated bank account identifier.
        is_counted:
          type: boolean
          description: "Indicates if the account is a counted account (e.g., for inventory)."
          example: false
        prefix:
          type: string
          description: The prefix of the account number.
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
      description: "Master data record for a General Ledger Account, used to define\
        \ the Chart of Accounts."
    GeneralLedgerAccountTypes:
      type: string
      description: types of general ledger accounts.
      enum:
      - ASSETS
      - BANK_ACCOUNT
      - FIXED_ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - CREDIT_CARD_LIABILITY
      - LONG_TERM_LIABILITY
      - EQUITY
      - CLEARING
      - CREDIT_CARD_CLEARING
      - PROVISION
      - ROUNDING
      - REVENUE
      - OTHER_INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - TAX
      - DISCOUNT
      - REBATE
      - FEE
      - SERVICE
      - CREDIT
      - OTHER
      - DEALER
      - VEHICLE
      - ACCESSORIES
      - OPTION
      - CUSTOMER
      - VENDOR
      - EMPLOYEE
      - PRODUCT
      - REPAIR_ORDER
      - PARTS_SALES_ORDER
      - PACKAGE
      - REFERENCE
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
