openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Vehicle
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-29T16:33:24Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    Address:
      type: object
      properties:
        address_locales:
          $ref: "#/components/schemas/AddressLocales"
        priority:
          maxLength: 10
          minLength: 1
          type: string
          description: "Priority indicator for address usage (e.g., billing, shipping)."
          example: "1"
        city_code:
          maxLength: 20
          minLength: 1
          type: string
          description: Standardized city code.
        address_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business key for the address.
        address_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier for the address record.
        address_input:
          maxLength: 255
          minLength: 1
          type: string
          description: Raw input provided for address processing or validation.
        address_line1:
          maxLength: 100
          minLength: 1
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          maxLength: 100
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line4:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line5:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        city:
          maxLength: 100
          minLength: 1
          type: string
          description: Name of the city.
        city_subdivision:
          maxLength: 100
          type: string
          description: "Subdivision within the city (e.g., neighborhood, district)."
        country:
          maxLength: 100
          minLength: 2
          type: string
          description: Full name of the country.
        country_code:
          maxLength: 2
          minLength: 2
          type: string
          description: ISO 3166-1 Alpha-2 country code.
        county:
          maxLength: 100
          type: string
          description: Name of the county.
          example: Dade
        county_code:
          maxLength: 20
          type: string
          description: Standardized code for the county.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        position:
          $ref: "#/components/schemas/Position"
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        postal_code_ext:
          maxLength: 10
          type: string
          description: "Extended postal code (e.g., ZIP+4)."
        preferred_indicator:
          type: boolean
          description: Flag indicating if this address is the preferred address.
          example: false
        region:
          maxLength: 50
          type: string
          description: "Administrative region (e.g., province, state)."
        state:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: Address represents a physical or mailing location associated with
        a party or warehouse.
    AddressLocale:
      type: object
      properties:
        address_locale_key:
          type: string
          description: Business key for the address locale.
        address_locale_id:
          type: string
          description: Unique identifier for the address locale.
        region_code:
          type: string
          description: Code representing the region for the locale.
        region_name:
          type: string
          description: Name of the region for the locale.
        region_aliases:
          $ref: "#/components/schemas/Codes"
        location_type:
          $ref: "#/components/schemas/LocationTypes"
      description: External system address locale including region and location type.
    AddressLocales:
      type: array
      items:
        $ref: "#/components/schemas/AddressLocale"
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-07-29T16:33:24Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BusinessContext:
      type: object
      properties:
        intent_code:
          type: string
          description: "The unique identifier code for the strategic intent (e.g.,\
            \ IMPROVE_NET_OPERATING_VALUE)."
        business_action_code:
          type: string
          description: "The unique identifier code for the specific business action\
            \ (e.g., MINIMIZE_HOLDING_COSTS)."
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
      description: "Represents the strategic lineage, intention, and operational state\
        \ accompanying an execution vector or streaming lifecycle event."
    CabTypes:
      type: string
      description: types of cabs.
      enum:
      - REGULAR
      - EXTENDED
      - CREW
      - MEGA
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    ColorSummary:
      type: object
      properties:
        color_summary_id:
          type: string
          description: A unique id for the color detail.
        color_summary_key:
          type: string
          description: A unique key for the color detail.
        dealer_color:
          type: string
          description: The color as designated by the dealer.
        desc_color:
          type: string
          description: A descriptive name for the color.
        color_code:
          type: string
          description: The technical code of the color
        oem_name:
          type: string
          description: The Original Equipment Manufacturer (OEM) name or code.
        marketing_name:
          type: string
          description: The Marketing Name of the color
        item_name:
          type: string
          description: The Marketing Name of the color
      description: "Summarys for a specific color, including dealer and OEM codes."
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    ControlAccountTypes:
      type: string
      description: types of control accounts.
      enum:
      - ASSETS
      - FIXED_ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - LONG_TERM_LIABILITY
      - EQUITY
      - CLEARING
      - PROVISION
      - ROUNDING
      - REVENUE
      - OTHER_INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - TAX
      - DISCOUNT
      - REBATE
      - FEE
      - SERVICE
      - CREDIT
      - OTHER
      - DEALER
      - VEHICLE
      - ACCESSORIES
      - OPTION
      - CUSTOMER
      - VENDOR
      - EMPLOYEE
      - PRODUCT
      - REPAIR_ORDER
      - PARTS_SALES_ORDER
      - PACKAGE
      - REFERENCE
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-07-29T16:33:24Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeviceTypes:
      type: string
      description: types of devices.
      enum:
      - MOBILE
      - TABLET
      - DESKTOP
      - SMART_TV
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-07-29T16:33:24Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-07-29T16:33:24Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Efficiency:
      type: object
      properties:
        efficiency_id:
          type: string
          description: A unique key for the efficiency record.
        efficiency_key:
          type: string
          description: A unique key for the efficiency record.
        city_efficiency:
          type: string
          description: The vehicle's fuel efficiency in a city driving environment.
        highway_efficiency:
          type: string
          description: The vehicle's fuel efficiency on a highway.
      description: Details regarding a vehicle's fuel efficiency.
    EngineTypes:
      type: string
      description: types of engines.
      enum:
      - ICE
      - THERMAL_INTERNAL
      - THERMAL_EXTERNAL
      - THERMAL_REACTION
      - ELECTRIC
      - PHYSICAL
      - HYBRID
      - OTHER
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
      - VEHICLE_INVOICE
      - PARTS_INVOICE
      - SERVICE_INVOICE
      - PAYMENT
      - DEPOSIT
      - REFUND
      - FEE
      - CREDIT
      - ADJUSTMENT
      - WRITE_OFF
      - CHARGEBACK
      - JOURNAL_ENTRY
      - FINANCE_CONTRACT
    FinancialEventSnapshot:
      type: object
      properties:
        financial_event_snapshot_key:
          type: string
          description: The unique ID for this generated snapshot instance.
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        general_ledger_reference:
          $ref: "#/components/schemas/GeneralLedgerReference"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        unit_cost:
          $ref: "#/components/schemas/GeneralAmount"
      description: "A real-time aggregated financial report (P&L, Balance Sheet, or\
        \ Trial Balance) generated as a view model for dashboards."
    FuelTypes:
      type: string
      description: types of fuels.
      enum:
      - GASOLINE
      - DIESEL
      - BIO_DIESEL
      - ETHANOL
      - ELECTRIC
      - HYDROGEN
      - NATURAL_GAS
      - PROPANE
      - METHANOL
      - DIESEL_OID_MDF
      - SOLAR_OIL_HSD
      - KEROSENE
      - AVIATION_TURBINE_AVTUR
      - AVIATION_GASOLINE_AVGAS
      - P_SERIES
      - OTHER
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        amount:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    GeneralLedgerReference:
      type: object
      properties:
        general_ledger_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        context:
          type: string
          description: Context or domain of the reference
        system_codes:
          $ref: "#/components/schemas/Codes"
        general_ledger_identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-07-29T16:33:24Z
      description: External system reference
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    InsuranceReference:
      type: object
      properties:
        insurance_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable lightweight insurance reference identifier.
          example: IREF-882211
        insurance_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical insurance aggregate key.
          example: INS-882211
        insurance_policy_number:
          maxLength: 120
          minLength: 1
          type: string
          description: The insurance policy number.
          example: POL-882211
        insurance_type:
          $ref: "#/components/schemas/InsuranceTypes"
        insurance_status_type:
          maxLength: 40
          minLength: 1
          type: string
          description: The lifecycle status associated with the insurance policy.
          example: ACTIVE
        insurance_company:
          $ref: "#/components/schemas/PartyReference"
        coverage_period:
          $ref: "#/components/schemas/EffectivePeriod"
        vehicle_reference:
          $ref: "#/components/schemas/VehicleReference"
      description: Current Insurance for a customer.
    InsuranceReferences:
      type: array
      items:
        $ref: "#/components/schemas/InsuranceReference"
    InsuranceTypes:
      type: string
      description: types of insurances.
      enum:
      - HEALTH
      - AUTO
      - HOMEOWNERS
      - RENTERS
      - LIFE
      - DISABILITY
      - UMBRELLA
      - LONG_TERM_DISABILITY
      - TERM_LIFE
      - LONG_TERM_CARE
      - IDENTITY_THEFT_PROTECTION
      - PERSONAL
      - PROPERTY
      - MARINE
      - FIRE
      - LIABILITY
      - GUARANTEE
      - FLOOD
      - WIND
      - STORM
      - OTHER
      - PROFESSIONAL_LIABILITY
      - COMMERCIAL_AUTO
      - CYBER_LIABILITY
      - WORKERS_COMPENSATION
      - BUSINESS_INTERRUPTION
      - RENT_GUARANTEE
      - TITLE
      - PET
      - TRAVEL
      - EVENT
    InventoryStatusTypes:
      type: string
      description: types of inventory status.
      enum:
      - ON_ORDER
      - RECEIVED
      - PREPARATION
      - STOCKED_IN
      - AVAILABLE
      - RESERVED
      - PRE_SOLD
      - ON_HOLD
      - SALES_HOLD
      - SERVICE_HOLD
      - RECALL_HOLD
      - IN_TRANSIT
      - ON_DEALER_LOT
      - ON_CENTRAL_LOT
      - ASSIGNED_BY_MANUFACTURER
      - SOLD
      - WHOLESALE
      - DAMAGED
      - UNAVAILABLE
      - RETURNED
      - DISPOSAL
      - UNKNOWN
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the jurisdiction profile.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the jurisdiction
            profile.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "The date and time when this jurisdiction profile was last\
            \ synchronized from the source governance, legal, policy, or compliance\
            \ system."
          format: date-time
          example: 2026-07-29T16:33:24Z
        occurrence_date_time:
          type: string
          description: "The date and time when the jurisdiction profile was observed,\
            \ created, received, updated, or became effective."
          format: date-time
          example: 2026-07-29T16:33:24Z
      description: nullable
    List:
      type: array
      items:
        $ref: "#/components/schemas/VehicleBodyStyleTypes"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    LocationTypes:
      type: string
      description: types of locations.
      enum:
      - BOROUGH
      - PARISH
      - REGION
      - BOUNDARY
      - PROVINCE
      - VILLAGE
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - TELEMATICS
      - ADDRESS
      - NO_PREFERENCE
      - GPS
      - WAREHOUSE
      - DISTRICT
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Media:
      type: object
      properties:
        media_key:
          type: string
          description: A unique key for the media item.
        media_id:
          type: string
          description: The unique ID for the media item.
        authors:
          $ref: "#/components/schemas/PartyReferences"
        occurrence_date_time:
          type: string
          description: The date and time the media was created or captured.
          format: date-time
          example: 2026-07-29T16:33:24Z
        name:
          type: string
          description: A hyperlink to the media's content.
        media_format_type:
          $ref: "#/components/schemas/MediaFormatTypes"
        media_href:
          type: string
          description: A hyperlink to the media resource.
          format: href
        media_type:
          $ref: "#/components/schemas/MediaTypes"
        media_status_type:
          $ref: "#/components/schemas/MediaStatusTypes"
        media_delivery_method_type:
          $ref: "#/components/schemas/MediaDeliveryMethodTypes"
        media_usage_type:
          $ref: "#/components/schemas/MediaUsageTypes"
        media_visibility:
          $ref: "#/components/schemas/MediaVisibility"
        media_version:
          type: string
          description: The version of the media.
        quality:
          type: string
          description: A numeric value representing the quality of the media.
        resource_group:
          $ref: "#/components/schemas/ResourceGroup"
        signature:
          type: string
          description: A unique signature or hash of the media content.
        textual_details:
          $ref: "#/components/schemas/TextualDetails"
        raw_content:
          type: string
          description: "A collection of textual details, such as titles and descriptions,\
            \ for the media."
        media_source:
          type: string
          description: The source of the media.
        media_description:
          type: string
          description: The source of the media.
        categories:
          $ref: "#/components/schemas/Codes"
        dpi:
          type: string
          description: "The dots per inch (DPI) for the media, if applicable."
        w_pixel:
          type: string
          description: The width of the media in pixels.
        h_pixel:
          type: string
          description: The height of the media in pixels.
        media_resolution:
          type: string
          description: "The display resolution of the media (e.g., 480p, 720p, 1080p)."
        media_duration_seconds:
          type: string
          description: The total duration of the media file in seconds.
        media_sent_date_time:
          type: string
          description: The ISO 8601 date and time when the media was dispatched to
            the recipient.
          format: date-time
          example: 2026-07-29T16:33:24Z
        media_keys:
          $ref: "#/components/schemas/Codes"
        media_access_metrics:
          $ref: "#/components/schemas/MediaAccessMetrics"
      description: "Media item including video, images, and sound."
    MediaAccessMetric:
      type: object
      properties:
        media_access_id:
          type: string
          description: The unique ID for the media stream.
        media_access_key:
          type: string
          description: The unique key for the media stream record.
        media_key:
          type: string
          description: The unique ID for the parent media asset.
        first_viewed_at:
          type: string
          description: ISO 8601 timestamp of the first access.
        completed_at:
          type: string
          description: ISO 8601 timestamp when the user finished the media.
        view_count:
          type: string
          description: Total number of engagement events.
        watch_time_seconds:
          type: string
          description: The cumulative time in seconds the user spent viewing the media.
        completion_percentage:
          type: string
          description: The furthest point reached in the media as a percentage (0-100).
        last_viewed_date_time:
          type: string
          description: The ISO 8601 date and time of the most recent access.
          format: date-time
        device_type:
          $ref: "#/components/schemas/DeviceTypes"
        user_agent:
          type: string
          description: The browser user agent string from the most recent view.
        buffer_count:
          type: string
          description: The number of times the media playback was interrupted by buffering.
        load_time_ms:
          type: string
          description: The time in milliseconds it took for the media to begin playback
            after the request.
      description: "Represents a media stream, such as a video or audio file."
    MediaAccessMetrics:
      type: array
      items:
        $ref: "#/components/schemas/MediaAccessMetric"
    MediaDeliveryMethodTypes:
      type: string
      description: types of media delivery methods.
      enum:
      - MMS
      - SMS
      - EMAIL
      - PUSH_NOTIFICATION
      - WHATSAPP
      - IN_APP
      - WEB_PORTAL
    MediaFormatTypes:
      type: string
      description: types of media formats.
      enum:
      - PDF
      - DOC
      - DOCX
      - XLS
      - XLSX
      - PPT
      - PPTX
      - AIFF
      - BMP
      - JPG
      - PNG
      - GIF
      - ICO
      - AVI
      - MPG
      - MP4
      - WMV
      - MOV
      - FLV
      - SWF
      - MKV
      - OCTET
      - GZ
      - BZ2
      - ZIP
      - RAR
      - ODT
      - MOBI
      - HTML
      - EPUB
      - SVG
      - FLAC
      - WAV
      - JSON
      - YAML
      - CSV
      - CONTAINER
      - OTHER
    MediaPrivacyTypes:
      type: string
      description: types of media privacys.
      enum:
      - PUBLIC
      - AUTHORIZED
      - PRIVATE
      - SCHEDULED
      - UNLISTED
      - ARCHIVED
      - DRAFT
    MediaStatusTypes:
      type: string
      description: types of media status.
      enum:
      - PENDING
      - READY
      - SENT
      - DELIVERED
      - FAILED
      - UNREAD
      - READ
      - VIEWED
      - EXPIRED
    MediaTypes:
      type: string
      description: types of medias.
      enum:
      - OCTET
      - TEXT
      - HTML
      - CSS
      - JAVASCRIPT
      - JSON
      - XML
      - IMAGE
      - GIF
      - SVG
      - JPEG
      - PNG
      - AUDIO
      - MP3
      - WAV
      - VIDEO
      - MP4
      - MPEG
      - QUICKTIME
      - STREAM
      - APPLICATION
      - ARCHIVE
      - EXECUTABLE
      - DOCUMENT
      - PDF
      - MODEL
      - FONT
      - FILE
    MediaUsageTypes:
      type: string
      description: types of media usages.
      enum:
      - THUMBNAIL
      - PREVIEW
      - STANDARD
      - HIGH_QUALITY
      - LOW_QUALITY
      - ORIGINAL
      - HERO
      - BANNER
      - AVATAR
      - GALLERY
      - READ
      - OTHER
    MediaVisibility:
      type: object
      properties:
        media_visibility_key:
          type: string
          description: The unique key for the media visibility record.
        visibility_key:
          type: string
          description: The unique key for visibility.
        media_privacy_type:
          $ref: "#/components/schemas/MediaPrivacyTypes"
        externally_hosted_indicator:
          type: boolean
          description: A boolean indicator for whether the media is hosted externally.
          example: false
      description: "Represents the visibility and hosting details for media, such\
        \ as privacy settings and scheduling."
    Medias:
      type: array
      items:
        $ref: "#/components/schemas/Media"
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        currency_code:
          type: string
          description: Three-letter ISO-4217 currency code.
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          $ref: "#/components/schemas/Memo"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-07-29T16:33:24Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
      - WARRANTY_APPROVAL
      - WARRANTY_DENIAL
      - WARRANTY_APPEAL
      - CLAIM
      - FLEET
      - TELEMETRY
      - COMPLIANCE
      - AUDIT
      - SECURITY
      - TRANSPORT
      - DELIVERY
      - INVENTORY
      - SALES
      - FINANCIAL
      - SERVICE_PLAN
      - VEHICLE_LIFECYCLE
      - OWNERSHIP
      - INSURANCE
      - LOGISTICS
      - QUALITY
      - RISK
      - CONSEQUENCE
      - AI_RECOMMENDATION
      - DECISION
      - BUSINESS_RULE
      - INTENT
      - CAPABILITY
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    Narratives:
      type: array
      items:
        $ref: "#/components/schemas/Narrative"
    OptionDescription:
      type: object
      properties:
        option_description_key:
          type: string
          description: A unique key for the option description.
        option_description_id:
          type: string
          description: The unique ID for the option description.
        option_description_group:
          type: string
          description: The group or category this option belongs to.
        option_detail_descriptions:
          $ref: "#/components/schemas/Memo"
        option_description_label:
          type: string
          description: "A short, human-readable label for the option."
      description: A description of a vehicle option or feature.
    OptionDescriptions:
      type: array
      items:
        $ref: "#/components/schemas/OptionDescription"
    OptionInstallationTypes:
      type: string
      description: types of option installations.
      enum:
      - FACTORY_INSTALLED
      - PORT_INSTALLED
      - DEALER_INSTALLED
      - SOFTWARE_UPDATE
      - ACCESSORY_KIT
      - CUSTOM_FABRICATION
      - OWNER_INSTALLED
      - THIRD_PARTY_INSTALLED
      - UNKNOWN
      - OTHER
    OptionTypes:
      type: string
      description: types of options.
      enum:
      - PARTS
      - ACCESSORY
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - SOFTWARE
      - CERTIFICATION
      - APPEARANCE
      - INCENTIVE
      - COLOR
      - FABRIC
      - REBATE_INCENTIVE
      - PORT_INSTALLED
      - TELEMATICS
      - OTHER
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        party_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
        primary_role_name:
          maxLength: 80
          minLength: 1
          type: string
          description: The principal functional role or stakeholder classification
            assigned to the party within this domain interaction.
          example: DEALER_OPERATOR
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-07-29T16:33:24Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - WARRANTY_PROVIDER
      - INSURANCE_PROVIDER
      - SUBLET_PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - SCHEDULER
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - PRIMARY_TECHNICIAN
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - FLEET_MANAGER
      - TRANSPORT_PROVIDER
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - PRIMARY_CUSTOMER
      - PRIMARY_DRIVER
      - PRIMARY_OWNER
      - VEHICLE_OWNER
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - PRIMARY_CONTACT
      - APPROVER
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
      - SHIP_TO
      - SOLD_TO
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentTypes:
      type: string
      description: types of payments.
      enum:
      - OUTRIGHT_PURCHASE
      - FINANCED_PURCHASE
      - SUBSCRIPTION
      - DEPOSIT
      - PROGRESS_PAYMENT
      - SCHEDULED_PAYMENT
      - CONSUMPTION_BASED
      - CUSTOM_AGREEMENT
      - CASH
      - BALLON
      - LEASE
      - LEASE_NO_BUYOUT
      - LEASE_BUYOUT
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        professional_title:
          type: string
          description: "Professional Title like Senator, Principal, Nurse"
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
        person_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        person_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
      description: a Name for a person
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    PowertrainTypes:
      type: string
      description: types of powertrains.
      enum:
      - BEV
      - FCEV
      - HEV
      - ICE
      - MHEV
      - OTHER
      - PHEV
    Price:
      type: object
      properties:
        price_id:
          type: string
          description: Unique system identifier for the price record.
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        display_amount:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        amount:
          $ref: "#/components/schemas/Money"
        tax_amount:
          $ref: "#/components/schemas/Money"
        taxable_amount:
          $ref: "#/components/schemas/Money"
        non_taxable_amount:
          $ref: "#/components/schemas/Money"
        total_amount:
          $ref: "#/components/schemas/Money"
        total_cost_amount:
          $ref: "#/components/schemas/Money"
        unit_cost_amount:
          $ref: "#/components/schemas/Money"
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - INVOICE
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - TOTAL_ACCESSORY
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - BASE_INVOICE_AMOUNT
      - DESTINATION_CHARGE
      - ADVERTISING_ASSESSMENT
      - HOLDBACK_AMOUNT
      - WDA_AMOUNT
      - TDA_AMOUNT
      - FLOORPLAN_ASSISTANCE_AMOUNT
      - DEALER_CASH_AMOUNT
      - REGIONAL_ADJUSTMENT_AMOUNT
      - PORT_INSTALLED_OPTION_AMOUNT
      - FACTORY_OPTION_AMOUNT
      - DEALER_INSTALLED_OPTION_AMOUNT
      - FREIGHT_CHARGE_AMOUNT
      - FUEL_CHARGE_AMOUNT
      - PACKAGING_OPTION_AMOUNT
      - OEM_INCENTIVE_AMOUNT
      - DEALER_NET_AMOUNT
      - LANDED_COST_AMOUNT
      - OTHER
    Prices:
      type: array
      items:
        $ref: "#/components/schemas/Price"
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    ProductStateTypes:
      type: string
      description: types of product states.
      enum:
      - NEW
      - USED
      - REFURBISHED
      - CERTIFIED
      - DEMO
      - RENTAL
      - IN_TRANSIT
      - DISCONTINUED
      - ARCHIVED
      - CUSTOMER_OWNED
      - PARTNER_OWNED
      - THIRD_PARTY_OWNED
      - COMPANY_OWNED
      - UNKNOWN
    PurchaseTypes:
      type: string
      description: types of purchases.
      enum:
      - RETAIL
      - DEMO
      - LEASE
      - WHOLESALE
      - STANDARD
      - CONTRACT
      - FLEET
      - COMMERCIAL
      - DIRECT
      - OTHER
    RatingAgencyTypes:
      type: string
      description: types of rating agencys.
      enum:
      - OTHER
      - NHTSA
      - EURO_NCAP
      - IIHS
      - ANCAP
      - C_NCAP
      - JNCAP
      - LATIN_NCAP
      - GLOBAL_NCAP
    ResourceGroup:
      type: object
      properties:
        resource_group_key:
          type: string
          description: The unique key for the resource group.
        resource_group_id:
          type: string
          description: The unique ID for the resource group.
        resource_group_name:
          type: string
          description: The name of the resource group.
        resource_type:
          $ref: "#/components/schemas/ResourceTypes"
        resource_ids:
          $ref: "#/components/schemas/Codes"
        resource_group_keys:
          $ref: "#/components/schemas/Codes"
      description: "Represents a grouping identifier for media resources, including\
        \ unique keys, names, and associated resource types."
    ResourceTypes:
      type: string
      description: types of resources.
      enum:
      - SYSTEM
      - WORKFLOW
      - ACTIVITY
      - FUNCTION
      - PROCESS
      - INCIDENT
      - PARTY
      - CUSTOMER
      - APPLICANT
      - VENDOR
      - DEALER_STAFF
      - DRIVER
      - ADDRESS
      - BILL_ADDRESS
      - BILL_CONTACT
      - COMM_CHANNEL
      - ACCOUNT
      - VEHICLE
      - TRADE_IN
      - PRODUCT
      - MANUFACTURER
      - LEAD
      - OPPORTUNITY
      - DEAL
      - FINANCE
      - INVOICE
      - LINEITEM
      - EXPENSE
      - DISCOUNT
      - TAX
      - FEE
      - INCENTIVE
      - DEALERSHIP
      - PART
      - ACCESSORIES
      - PURCHASE_ORDER
      - VEHICLE_OPTION
      - RENTAL
      - SUBSCRIPTION
      - INSURANCE
      - WARRANTY
      - SERVICE
      - VEHICLE_INVOICE
      - PART_INVOICE
      - SERVICE_INVOICE
      - APPOINTMENT
      - OTHER
    SafetyRating:
      type: object
      properties:
        safety_rating_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier for the safety rating record
        safety_rating_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business or integration key for the safety rating map
        rating_agency:
          $ref: "#/components/schemas/RatingAgencyTypes"
        assessment_year:
          type: integer
          description: The program or calendar year the vehicle was tested under (crucial
            for protocol variations)
          format: int32
          example: 0
        safety_rating_type:
          $ref: "#/components/schemas/SafetyRatingTypes"
        rating_value:
          type: string
          description: "The raw string value of the score or star achievement (e.g.,\
            \ '5', 'Good', '92%')"
        numeric_score:
          type: string
          description: Optional structured numerical score or star count for comparative
            sorting and analytics
        minimum_score:
          type: string
          description: Optional structured numerical score or star count for comparative
            sorting and analytics
        maximum_score:
          type: string
          description: Optional structured numerical score or star count for comparative
            sorting and analytics
        score_metric_unit_type:
          $ref: "#/components/schemas/UomScalarTypes"
        detail:
          type: string
          description: "Extended textual details, localized notes, or criteria regarding\
            \ the test result"
        context:
          type: string
          description: Additional context or regional data standard applicable to
            this safety rating
        system_codes:
          $ref: "#/components/schemas/Codes"
        assessment_protocol_code:
          type: string
          description: "The safety testing program or protocol under which the rating\
            \ was assessed (e.g., US_NCAP, EURO_NCAP, IIHS)."
        assessment_protocol_version:
          type: string
          description: "The protocol version, ruleset, or model year specification\
            \ used during the assessment (e.g., 2024)."
        source_system_code:
          type: string
          description: "The originating external system, authority, or data provider\
            \ from which the safety rating was obtained."
        source_record_key:
          type: string
          description: The unique identifier assigned to the safety rating record
            within the originating source system.
        source_url:
          type: string
          description: The authoritative URL or publication location where the safety
            rating was published or retrieved.
        source_published_date:
          type: string
          description: The date the safety rating was originally published by the
            rating authority.
          format: date
        source_last_verified_date_time:
          type: string
          description: The date and time the safety rating information was last verified
            against the authoritative source.
          format: date-time
      description: External system safetyRating
    SafetyRatingTypes:
      type: string
      description: types of safety ratings.
      enum:
      - DRIVER
      - PASSENGER
      - FRONT
      - REAR
      - ROLLOVER
      - COMPOSITE
      - SIDE
      - SIDE_BARRIER
      - SIDE_POLE
      - OVERALL
    SafetyRatings:
      type: array
      items:
        $ref: "#/components/schemas/SafetyRating"
    ServiceMilestoneTypes:
      type: string
      description: types of service milestones.
      enum:
      - BOOKING
      - EXPECTED_ARRIVAL
      - ARRIVAL
      - CHECK_IN
      - PRE_INSPECTION
      - DIAGNOSTIC_START
      - DIAGNOSTIC_COMPLETE
      - ESTIMATE_APPROVED
      - SERVICE_START
      - ROAD_TEST
      - SERVICE_PAUSED
      - SERVICE_COMPLETION
      - SUBLET_DISPATCH
      - SUBLET_IN_PROGRESS
      - SUBLET_RETURN
      - QUALITY_CONTROL
      - STAGED_FOR_PICKUP
      - CHECK_OUT
      - RELEASE
      - UNKNOWN
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - DEALER_PRINCIPAL
      - GENERAL_MANAGER
      - GENERAL_SALES_MANAGER
      - SALES_MANAGER
      - SALES_PERSON
      - BUSINESS_DEVELOPMENT_REPRESENTATIVE
      - CUSTOMER_SERVICE_REPRESENTATIVE
      - RECEPTIONIST
      - FINANCE_AND_INSURANCE_MANAGER
      - BUSINESS_MANAGER
      - CLOSING_MANAGER
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - WARRANTY_ADMINISTRATOR
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - PARTS_SPECIALIST
      - INVENTORY_MANAGER
      - FLEET_MANAGER
      - DETAIL_MANAGER
      - DETAIL_TECHNICIAN
      - ACCOUNTING_MANAGER
      - CONTROLLER
      - TITLE_CLERK
      - OFFICE_MANAGER
      - MARKETING_MANAGER
      - OTHER
    TextualDetail:
      type: object
      properties:
        textual_detail_key:
          type: string
          description: textual.detail.textual.detail.key.desc
        textual_detail_id:
          type: string
          description: textual.detail.textual.detail.id.desc
        comments:
          $ref: "#/components/schemas/Memo"
        locale_codes:
          $ref: "#/components/schemas/Codes"
        notes:
          $ref: "#/components/schemas/Memo"
        short_description:
          type: string
          description: textual.detail.short.description.desc
        text_key:
          type: string
          description: textual.detail.text.key.desc
        name:
          type: string
          description: textual.detail.name.desc
        value:
          type: string
          description: textual.detail.value.desc
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        groups:
          $ref: "#/components/schemas/Codes"
        label:
          type: string
          description: textual.detail.label.desc
        alt_text:
          type: string
          description: textual.detail.alt.text.desc
        textual_detail_code:
          type: string
          description: textual.detail.textual.detail.code.desc
        tags:
          $ref: "#/components/schemas/Codes"
        uom_display:
          type: string
          description: textual.detail.uom.display.desc
        uom_code:
          type: string
          description: textual.detail.uom.code.desc
      description: nullable
    TextualDetails:
      type: array
      items:
        $ref: "#/components/schemas/TextualDetail"
    TimeSlot:
      type: object
      properties:
        time_slot_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key for the specific time slot instance.
          example: TS-KEY-99281A
        end_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        end_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        recurring_indicator:
          type: boolean
          description: Indicates whether the time slot repeats on a recurring cycle.
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        start_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        start_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        time_slot_id:
          maxLength: 36
          minLength: 1
          type: string
          description: The business identifier or code assigned to this generic time
            block configuration.
          example: MORNING_SHIFT_01
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          format: date
          items:
            type: string
        timeslot_status_type:
          $ref: "#/components/schemas/TimeSlotStatusTypes"
      description: Range of time for the appointment
    TimeSlotStatusTypes:
      type: string
      description: types of time slot status.
      enum:
      - TENTATIVE
      - RESERVED
      - CONFIRMED
      - RELEASED
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - EXACT
      - FLEXIBLE
      - PREFERRED
      - REQUIRED
      - RESTRICTED
      - OTHER
      - UNKNOWN
    UomScalarTypes:
      type: string
      description: types of uom scalars.
      enum:
      - PERCENT
      - POINTS
      - RATIO
      - FACTOR
      - SCORE
      - INDEX
      - STAR
    Vehicle:
      type: object
      properties:
        vehicle_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key for the specific vehicle record instance.
          example: VEH-KEY-449102X
        axle_count:
          maxLength: 2
          minLength: 1
          type: string
          description: The total number of axles on the vehicle.
          example: "2"
        comments:
          maxLength: 2000
          minLength: 1
          type: string
          description: "General remarks regarding the vehicle condition, processing\
            \ status, or storage details."
          example: Vehicle requires a detailed detailing service before delivery.
        control_account_desc:
          maxLength: 255
          minLength: 1
          type: string
          description: Description of the primary operating control account utilized
            for inventory financing tracking.
          example: Primary operating account for dealership floorplan financing.
        control_account_id:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique corporate general ledger or control account reference
            ID.
          example: GL-ACC-400192
        control_account_type:
          $ref: "#/components/schemas/ControlAccountTypes"
        dealer_code:
          maxLength: 30
          minLength: 1
          type: string
          description: The specific franchise authorization identifier code assigned
            to the holding dealer.
          example: DL-99482-X
        delivered_date_time:
          type: string
          description: Timestamp when the vehicle was formally checked in or handed
            over to the buyer/dealer.
          format: date-time
          example: 2026-07-29T16:33:24Z
        delivery_method:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        inventory_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/InventoryStatusTypes"
        license:
          $ref: "#/components/schemas/VehicleLicense"
        odometer:
          $ref: "#/components/schemas/MetricValue"
        position:
          $ref: "#/components/schemas/Position"
        production_date:
          type: string
          description: The historical calendar date when assembly on the vehicle line
            was finalized.
          format: date
        search_category:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        stock_date_time:
          type: string
          description: The exact date and time when the entity officially entered
            dealership inventory accounting logs.
          format: date-time
          example: 2026-07-29T16:33:24Z
        stock_number:
          maxLength: 50
          minLength: 1
          type: string
          description: Internal dealership stock control or inventory lot track number.
          example: STK-2026-99A
        vehicle_configuration_codes:
          $ref: "#/components/schemas/VehicleConfigurationCodes"
        vehicle_id:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique physical/business identifier string mapped directly
            to the unit master records.
          example: VID-99388102A
        vehicle_medias:
          $ref: "#/components/schemas/VehicleMedias"
        vehicle_options:
          $ref: "#/components/schemas/VehicleOptions"
        vehicle_price_summary:
          $ref: "#/components/schemas/VehiclePriceSummary"
        vehicle_specification:
          $ref: "#/components/schemas/VehicleSpecification"
        product_state_type:
          $ref: "#/components/schemas/ProductStateTypes"
        vehicle_status_type:
          $ref: "#/components/schemas/VehicleStateTypes"
        vin:
          maxLength: 17
          minLength: 17
          type: string
          description: The standard 17-character legal international Vehicle Identification
            Number code identifier.
          example: 1HGCR2F8XHA000000
        insurance_references:
          $ref: "#/components/schemas/InsuranceReferences"
        notes:
          $ref: "#/components/schemas/Memo"
        medias:
          $ref: "#/components/schemas/Medias"
        categories:
          $ref: "#/components/schemas/Codes"
        delivery_date:
          type: string
          description: Calendar date representation tracking pure transport completion
            days.
          format: date
        original_sold_date:
          type: string
          description: The absolute calendar date when the item was first converted
            from fleet status to sold retail status.
          format: date
        odometer_capture_date:
          type: string
          description: The chronological point when the odometer distance readings
            were logged inside the system logs.
          format: date
        vehicle_events:
          $ref: "#/components/schemas/VehicleEvents"
        vehicle_notes:
          maxLength: 1500
          minLength: 1
          type: string
          description: Informal notation string capturing temporary handling instructions
            for lot management teams.
          example: Parked in staging lane B-4 until mechanical inspection clears.
        vehicle_price_summaries:
          $ref: "#/components/schemas/VehiclePriceSummaries"
        warranties:
          $ref: "#/components/schemas/Warranties"
        account_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key pointer linking this item to a specific
            corporate account node.
          example: ACC-KEY-0021A
        account_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The official corporate name of the commercial fleet entity
            holding financial titles.
          example: Northside Fleet Holdings
        condition:
          maxLength: 50
          minLength: 1
          type: string
          description: The overarching localized state assessment descriptive rating
            of the unit.
          example: Excellent
        inventory_days:
          maxLength: 4
          minLength: 1
          type: string
          description: The complete count of continuous days this item has been active
            inside operating inventory arrays.
          example: "45"
        backup_camera_indicator:
          type: boolean
          description: Indicates if the vehicle is configured with a rear safety camera
            system.
          example: true
        body_height:
          maxLength: 20
          minLength: 1
          type: string
          description: The external overall body structure height reading metric string
            description.
          example: 78 inches
        body_length:
          maxLength: 20
          minLength: 1
          type: string
          description: The external overall body structure length dimension string
            text.
          example: 210 inches
        body_style:
          maxLength: 100
          minLength: 1
          type: string
          description: The baseline layout style design of the chassis structure shell.
          example: Crew Cab Pickup
        body_width:
          maxLength: 20
          minLength: 1
          type: string
          description: The external overall shell width calculation metrics string
            notation.
          example: 80 inches
        box_type_description:
          maxLength: 150
          minLength: 1
          type: string
          description: Description capturing cargo container configurations or bed
            installations for commercial classification units.
          example: Refrigerated Van Box with Side Door
        bulkhead:
          maxLength: 100
          minLength: 1
          type: string
          description: The style structural configuration tracking definitions used
            on cargo boundary separations.
          example: Solid Steel with Window
        cab_type:
          $ref: "#/components/schemas/CabTypes"
        compartment_depth:
          maxLength: 20
          minLength: 1
          type: string
          description: Utility storage unit depth limits metrics format values.
          example: 24 inches
        compartments:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
        crane_indicator:
          type: boolean
          description: Flags if an industrial loading crane apparatus mechanism is
            mounted onto the flatbed.
          example: false
        cylinder_count:
          maxLength: 2
          minLength: 1
          type: string
          description: The mechanical cylinder structural distribution setup array
            count value.
          example: "6"
        doors_count:
          maxLength: 2
          minLength: 1
          type: string
          description: The functional structural access passenger door quantity entry
            configuration numbers.
          example: "4"
        drive_train:
          maxLength: 20
          minLength: 1
          type: string
          description: Chassis mechanics wheel torque distribution grouping style
            setups.
          example: 4WD
        energy_impact_score:
          maxLength: 10
          minLength: 1
          type: string
          description: Environmental pollution factor efficiency metrics tracking
            measurements classification output.
          example: "1.2"
        engine_type_description:
          maxLength: 100
          minLength: 1
          type: string
          description: Text rendering specific complete engine parameters configurations
            blocks descriptions.
          example: 3.5L V6 DOHC 24V
        engine_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/EngineTypes"
        exterior_color:
          $ref: "#/components/schemas/ColorSummary"
        exterior_lights_indicator:
          type: boolean
          description: Flags if custom auxiliary lighting rigs are present on the
            commercial vehicle superstructure.
          example: true
        floor_desc:
          maxLength: 100
          minLength: 1
          type: string
          description: The foundational materials configuration setup tracking string
            on cargo flooring surfaces.
          example: Hardwood
        floor_desc_detail:
          maxLength: 255
          minLength: 1
          type: string
          description: Specific engineering descriptions applied around custom cargo
            lining protective flooring layers.
          example: Apong hardwood with steel overlay protective sheets
        fuel_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FuelTypes"
        gross_vehicle_weight:
          $ref: "#/components/schemas/MetricValue"
        gross_vehicle_weight_rating:
          $ref: "#/components/schemas/MetricValue"
        safety_ratings:
          $ref: "#/components/schemas/SafetyRatings"
        hitch_indicator:
          type: boolean
          description: Flags if rear frame mechanical towing hitch receiving ports
            are configured onto the truck bumper.
          example: true
        power_train_type:
          $ref: "#/components/schemas/PowertrainTypes"
        horse_power:
          maxLength: 5
          minLength: 1
          type: string
          description: Mechanical peak performance horsepower metrics output tracking
            figures.
          example: "302"
        inside_body_height:
          maxLength: 20
          minLength: 1
          type: string
          description: Interior clear clearance height metrics on specialized trailer
            or cargo configurations.
          example: 72 inches
        inside_body_width:
          maxLength: 20
          minLength: 1
          type: string
          description: Interior clear clearance width metrics on cargo configurations
            panels surfaces.
          example: 76 inches
        inside_length:
          maxLength: 20
          minLength: 1
          type: string
          description: Interior clear layout length values on industrial dry-van cargo
            structures.
          example: 192 inches
        interior_color:
          $ref: "#/components/schemas/ColorSummary"
        ladder_rack_desc:
          maxLength: 150
          minLength: 1
          type: string
          description: Structural notes describing overhead utility rack assemblies
            added onto work van structures.
          example: Heavy-Duty Aluminum 3-Bar Roof Rack
        liftgate_indicator:
          type: boolean
          description: Flags if hydraulic motorized loading liftgate machinery blocks
            are operating on the vehicle tail section.
          example: true
        make:
          maxLength: 100
          minLength: 1
          type: string
          description: The registered automotive manufacturer brand name label.
          example: Toyota
        manufacturer_model_code:
          maxLength: 50
          minLength: 1
          type: string
          description: Internal manufacturing corporate engineering assembly code
            structures tracking parameters definitions.
          example: T-CAM-XLE-2026
        manufacturer_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The localized corporate name layout representing parent brand
            operators.
          example: Toyota Motor Corporation
        marketing_description:
          maxLength: 3000
          minLength: 1
          type: string
          description: Dealer showroom retail text layout strings used on marketing
            brochures listings updates.
          example: Experience refined performance with advanced standard safety options.
        merchandising_model_code:
          maxLength: 50
          minLength: 1
          type: string
          description: Public commercial ordering or vehicle catalog reference alphanumeric
            codes.
          example: M-28491A
        vehicle_specification_key:
          maxLength: 50
          minLength: 1
          type: string
          description: The relational database cross reference key linking back to
            technical model frameworks maps.
          example: SPEC-KEY-99381A
        model:
          maxLength: 100
          minLength: 1
          type: string
          description: The commercial product line model label designation matching
            manufacture series.
          example: Camry
        model_code:
          maxLength: 30
          minLength: 1
          type: string
          description: Standard short alphanumeric platform model code classification
            indicators.
          example: BK4AX
        model_description:
          maxLength: 255
          minLength: 1
          type: string
          description: Descriptive summary string mapping out explicit chassis build
            combinations details.
          example: XLE AWD 4-Door Sedan
        model_year:
          maxLength: 4
          minLength: 4
          type: string
          description: The formal designated calendar model year assigned to the assembly
            build platform framework.
          example: "2026"
        seating_capacity:
          maxLength: 2
          minLength: 1
          type: string
          description: The total max count of legal standard passenger seats configured
            on the platform.
          example: "5"
        series_code:
          maxLength: 30
          minLength: 1
          type: string
          description: Alphanumeric manufacturing identifier categorizing engineering
            product tier classifications lines.
          example: SER-A992
        side_height:
          maxLength: 20
          minLength: 1
          type: string
          description: The vertical wall panel depth height on open dump-truck beds
[...]
