openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths:
  /accounting-periods:
    get:
      tags:
      - AccountingPeriod
      summary: Retrieve a list of AccountingPeriod entities.
      operationId: listAccountingPeriod
      parameters:
      - name: sort
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountingPeriod"
                  has_more:
                    type: boolean
    post:
      tags:
      - AccountingPeriod
      summary: Retrieve a list  of entities.
      operationId: createAccountingPeriod
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountingPeriodCreate"
      responses:
        "201":
          description: Created
          headers:
            Location:
              schema:
                type: string
                example: /accounting-periods/KEY78b
  /accounting-periods/{accounting-period-key}:
    get:
      tags:
      - AccountingPeriod
      operationId: getAccountingPeriodById
      responses:
        "200":
          description: get AccountingPeriod By Id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountingPeriodResponse"
    put:
      tags:
      - AccountingPeriod
      operationId: replaceAccountingPeriod
      responses:
        "200":
          description: Replaced
    delete:
      tags:
      - AccountingPeriod
      operationId: deleteAccountingPeriodEntity
      responses:
        "204":
          description: Deleted
    patch:
      tags:
      - AccountingPeriod
      operationId: updatePartialAccountingPeriod
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/AccountingPeriodUpdate"
      responses:
        "200":
          description: Updated
    parameters:
    - name: accounting-period-key
      in: path
      description: The unique identifier for the specific AccountingPeriod
      required: true
      schema:
        type: string
        example: KEY78P
components:
  schemas: {}
