openapi: 3.0.1
info:
  title: Automotive Retail Systems API
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: Platform Architecture Team
    url: www.starstandard.org
    email: pescobar@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AccountingPeriod:
      type: object
      properties:
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        period_desc:
          type: string
          description: Descriptive name for the accounting peri...
        accounting_period_id:
          type: string
          description: Business key for the accounting period (...
        accounting_period_key:
          type: string
          description: Business key for the accounting period (...
        period_name:
          type: string
          description: Display name of the accounting period.
        start_date:
          type: string
          description: The beginning date of the accounting per...
          format: date
        end_date:
          type: string
          description: The ending date of the accounting period...
          format: date
        accounting_period_status_type:
          $ref: "#/components/schemas/AccountingPeriodStatusTypes"
        fiscal_year:
          type: integer
          description: The fiscal year this period belongs to.
          format: int32
          example: 0
      description: "Defines a fiscal period, including its unique identifiers, start\
        \ and end dates, and current status."
    AccountingPeriodStatusTypes:
      type: string
      description: types of accounting period status.
      enum:
      - FUTURE
      - OPEN
      - ADJUSTMENT
      - PENDING_CLOSURE
      - CLOSED
      - LOCKED
      - OTHER
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
        code:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
        description:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key code
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the...
        detail:
          type: string
          description: The monetary or hours-based value of the...
        identifier_type:
          type: string
          description: The monetary or hours-based value of the...
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
