openapi: 3.0.1
info:
  title: Automotive Retail Systems API - VehicleInvoice
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-08-06T15:24:16Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-08-06T15:24:16Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BusinessContext:
      type: object
      properties:
        intent_code:
          type: string
          description: "The unique identifier code for the strategic intent (e.g.,\
            \ IMPROVE_NET_OPERATING_VALUE)."
        business_action_code:
          type: string
          description: "The unique identifier code for the specific business action\
            \ (e.g., MINIMIZE_HOLDING_COSTS)."
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
      description: "Represents the strategic lineage, intention, and operational state\
        \ accompanying an execution vector or streaming lifecycle event."
    CarrierParty:
      $ref: "#/components/schemas/PartyReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    ConditionTypes:
      type: string
      description: types of conditions.
      enum:
      - NEW
      - NEW_OLD_STOCK
      - REMANUFACTURED
      - REBUILT
      - REFURBISHED
      - USED
      - SALVAGE
      - SCRAP
      - COLLECTIBLE
      - CERTIFIED_PREOWNED
      - TOTAL_LOSS
      - REQUIRES_INSPECTION
      - UNKNOWN
      - OTHER
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-08-06T15:24:16Z
      description: External system identifier
    CreditReference:
      type: object
      properties:
        credit_reference_id:
          type: string
          description: Unique identifier value
        credit_reference_key:
          type: string
          description: Unique identifier value
        credit_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-08-06T15:24:16Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
      description: External system identifier
    CreditReferences:
      type: array
      items:
        $ref: "#/components/schemas/CreditReference"
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-08-06T15:24:16Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeliveryDestinationTypes:
      type: string
      description: types of delivery destinations.
      enum:
      - DEALERSHIP
      - CUSTOMER
      - TECHNICIAN
      - WAREHOUSE
      - LOCKER
      - BODY_SHOP
      - FLEET_LOCATION
      - SERVICE_CENTER
      - PORT
      - AUCTION
      - OEM
      - VENDOR
      - OTHER
      - UNKNOWN
    DeliveryProfile:
      type: object
      properties:
        delivery_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable delivery profile identifier.
          example: DELIV-882211
        delivery_profile_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated delivery profile identifier.
          example: DELIVERY-2026-001
        delivery_destination_type:
          $ref: "#/components/schemas/DeliveryDestinationTypes"
        fulfillment_method_type:
          $ref: "#/components/schemas/FulfillmentMethodTypes"
        service_level_type:
          $ref: "#/components/schemas/ServiceLevelTypes"
        delivery_profile_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The user-friendly name associated with the delivery profile.
          example: Residential Evening Delivery
        delivery_state_type:
          $ref: "#/components/schemas/ShipmentStateTypes"
        delivery_method_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ShippingMethodTypes"
        delivery_priority_type:
          maxLength: 40
          minLength: 1
          type: string
          description: The operational priority associated with the delivery.
          example: EXPEDITED
        delivery_window:
          maxLength: 120
          minLength: 1
          type: string
          description: The preferred delivery window associated with the delivery
            profile.
          example: 8AM-12PM
        delivery_period:
          $ref: "#/components/schemas/EffectivePeriod"
        delivery_contact:
          $ref: "#/components/schemas/PartyReference"
        delivery_address:
          $ref: "#/components/schemas/AddressReference"
        delivery_instructions:
          maxLength: 4000
          minLength: 1
          type: string
          description: Special delivery instructions associated with the delivery
            profile.
          example: Leave package at rear loading dock.
        contactless_delivery_indicator:
          type: boolean
          description: Indicates whether contactless delivery is preferred or required.
          example: true
        signature_required_indicator:
          type: boolean
          description: Indicates whether signature confirmation is required for delivery.
          example: false
        appointment_required_indicator:
          type: boolean
          description: Indicates whether a delivery appointment is required.
          example: true
        residential_delivery_indicator:
          type: boolean
          description: Indicates whether the delivery destination is residential.
          example: true
        loading_dock_indicator:
          type: boolean
          description: Indicates whether a loading dock is available at the delivery
            location.
          example: false
        after_hours_delivery_indicator:
          type: boolean
          description: Indicates whether after-hours delivery is permitted.
          example: true
        delivery_source:
          maxLength: 120
          minLength: 1
          type: string
          description: "The source system, provider, dispatcher, dealer, OEM, or logistics\
            \ platform associated with the delivery profile."
          example: OEM_DELIVERY_PLATFORM
        delivery_codes:
          $ref: "#/components/schemas/Codes"
        comments:
          maxLength: 4000
          minLength: 1
          type: string
          description: Operational comments or notes associated with the delivery
            profile.
          example: Customer prefers weekend deliveries only.
      description: A single line item for a Parts Invoice.
    DeliveryWindow:
      $ref: "#/components/schemas/EffectivePeriod"
    DepositTypes:
      type: string
      description: types of deposits.
      enum:
      - CUSTOMER_DEPOSIT
      - SECURITY_DEPOSIT
      - VEHICLE_HOLD_DEPOSIT
      - SPECIAL_ORDER_DEPOSIT
      - PARTS_DEPOSIT
      - SERVICE_DEPOSIT
      - DOWN_PAYMENT
      - REFUNDABLE_DEPOSIT
      - NON_REFUNDABLE_DEPOSIT
      - LEASE_SECURITY_DEPOSIT
      - DAMAGE_DEPOSIT
      - RESERVATION_DEPOSIT
      - ESCROW_DEPOSIT
      - GOOD_FAITH_DEPOSIT
      - TRADE_HOLD_DEPOSIT
      - FLEET_ORDER_DEPOSIT
      - WHOLESALE_DEPOSIT
      - OTHER
    Disclaimer:
      type: object
      properties:
        disclaimer_key:
          maxLength: 60
          minLength: 1
          type: string
          description: "The contextual key used to identify the disclaimer within\
            \ the containing transaction, document, or aggregate."
          example: DISC-001
        disclaimer_id:
          maxLength: 60
          minLength: 1
          type: string
          description: "The persistent identifier of the disclaimer when maintained\
            \ in an authoritative disclaimer, content, or policy registry."
          example: DISC-ID-883721
        disclaimer_name:
          maxLength: 255
          type: string
          description: The human-readable name or title of the disclaimer.
          example: Estimated Payment Disclaimer
        disclaimer_value:
          type: string
          description: The authoritative textual content of the disclaimer.
          example: Estimated payment is provided for informational purposes and may
            vary based on final financing terms.
        disclaimer_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/DisclaimerTypes"
        disclaimer_codes:
          $ref: "#/components/schemas/Codes"
        version:
          maxLength: 60
          type: string
          description: The version of the disclaimer content or governing language.
          example: "3.1"
        locale:
          $ref: "#/components/schemas/Locale"
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 100
          type: string
          description: "Identifies the system, organization, regulatory authority,\
            \ or content registry from which the disclaimer originated."
          example: OEM_LEGAL_CONTENT
        source_reference:
          maxLength: 255
          type: string
          description: "A reference to the authoritative policy, regulation, document,\
            \ template, or source record associated with the disclaimer."
          example: REG-Z-1026.18
        required_indicator:
          type: boolean
          description: Indicates whether presentation of the disclaimer is mandatory
            when its applicability criteria are satisfied.
          example: true
        display_sequence:
          type: integer
          description: The relative sequence used when multiple disclaimers are presented
            together.
          format: int32
          example: 10
      description: A basic disclaimer item with a name and value.
    DisclaimerTypes:
      type: string
      description: types of disclaimers.
      enum:
      - GENERAL
      - LEGAL
      - REGULATORY
      - FINANCIAL
      - PRICING
      - TAX
      - WARRANTY
      - PRODUCT
      - SERVICE
      - PRIVACY
      - MARKETING
      - SAFETY
      - ELIGIBILITY
      - AVAILABILITY
      - ESTIMATE
      - DISCLOSURE
      - LIABILITY
      - CONDITIONAL
      - THIRD_PARTY
      - DATA
      - TECHNOLOGY
      - AI_GENERATED
      - PREDICTION
      - RECOMMENDATION
      - CONSENT
      - OTHER
    Disclaimers:
      type: array
      items:
        $ref: "#/components/schemas/Disclaimer"
    DiscountMetricValue:
      type: object
      properties:
        discount_metric_value_key:
          type: string
          description: Unique identifier for the metric value.
          example: METRIC_KEY_ABC
        unit_of_measure_type:
          $ref: "#/components/schemas/UnitOfMeasureTypes"
        value:
          type: string
          description: The numeric value of the metric.
          example: "5551235545"
        locales:
          $ref: "#/components/schemas/Codes"
      description: value price with unit of measure
    DiscountMetricValues:
      type: array
      items:
        $ref: "#/components/schemas/DiscountMetricValue"
    DiscountReference:
      type: object
      properties:
        discount_reference_id:
          type: string
          description: Unique identifier value
        discount_reference_key:
          type: string
          description: Unique identifier value
        discount_key:
          type: string
          description: Unique identifier value
        unit_count:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-08-06T15:24:16Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
        discount_plan_name:
          type: string
          description: The display name of the discount for search results.
          example: Loyalty Rebate
        discount_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        discount_href:
          type: string
          description: Hyperlink to the full Discount entity for deep-linking.
          format: href
          example: /discounts/123
        discount_metric_values:
          $ref: "#/components/schemas/DiscountMetricValues"
        discount_price:
          $ref: "#/components/schemas/Price"
        capitalized_indicator:
          type: boolean
          description: Indicates if the discount is capitalized (crucial for Lease
            calculations).
          example: true
        purchase_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderCategoryTypes"
        product_state_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductStateTypes"
        location_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    DiscountReferences:
      type: array
      items:
        $ref: "#/components/schemas/DiscountReference"
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-08-06T15:24:16Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-08-06T15:24:16Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    ExceptionSeverityTypes:
      type: string
      description: types of exception severitys.
      enum:
      - INFORMATIONAL
      - NOTICE
      - WARNING
      - MINOR
      - MODERATE
      - MAJOR
      - CRITICAL
      - BLOCKING
      - FAILED
      - LOST
      - DAMAGED
      - SECURITY
      - COMPLIANCE
      - EMERGENCY
      - UNKNOWN
      - OTHER
    FeeReference:
      type: object
      properties:
        fee_reference_id:
          type: string
          description: Unique identifier value
        fee_reference_key:
          type: string
          description: Unique identifier value
        fee_key:
          type: string
          description: Unique identifier value
        unit_count:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        fee:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-08-06T15:24:16Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
      description: External system identifier
    FeeReferences:
      type: array
      items:
        $ref: "#/components/schemas/FeeReference"
    FinancialCategoryReference:
      type: object
      properties:
        category_reference_id:
          type: string
          description: Unique identifier value for the financial category reference
            record.
        category_reference_key:
          type: string
          description: Unique key value for the financial category reference record.
        category_key:
          type: string
          description: The unique key identifying the referenced Financial Category
            aggregate.
        context:
          type: string
          description: "Context or domain of the financial category (e.g., 'INCOME',\
            \ 'BALANCE_SHEET')."
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financial category was assigned or referenced.
          format: date-time
          example: 2026-08-06T15:24:16Z
      description: "Reference to a Financial Category Aggregate Root (e.g., Revenue,\
        \ Expense, Asset)."
    FinancialCategoryReferences:
      type: array
      items:
        $ref: "#/components/schemas/FinancialCategoryReference"
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
      - VEHICLE_INVOICE
      - PARTS_INVOICE
      - SERVICE_INVOICE
      - PAYMENT
      - DEPOSIT
      - REFUND
      - FEE
      - CREDIT
      - ADJUSTMENT
      - WRITE_OFF
      - CHARGEBACK
      - JOURNAL_ENTRY
      - FINANCE_CONTRACT
    FinancialEvent:
      type: object
      properties:
        financial_event_id:
          type: string
          description: System-generated ID for the financial event.
          example: FE-998877
        financial_event_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        confirmation_code:
          type: string
          description: Confirmation code for the financial transaction.
          example: CNF-987654
        forecast_indicator:
          type: boolean
          description: Confirmation code for the financial transaction.
          example: false
        payment_method_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        payment_method_key:
          type: string
          description: Unique key for the specific payment method used.
          example: pm_12345
        capability_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time when the financial event occurred.
          format: date-time
          example: 2026-08-06T15:24:16Z
        post_date:
          type: string
          description: The posting date of the financial transaction.
          format: date
        transaction_date:
          type: string
          description: The date the transaction was executed.
          format: date
        batch_number:
          type: string
          description: The batch number associated with this transaction.
          example: BATCH-2025-001
        previous_event_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTransactionStatusTypes"
        provider_transaction_id:
          type: string
          description: Unique transaction ID from the payment provider.
          example: txn_87654321
        event_description:
          type: string
          description: Detailed description of the financial event.
        reason_codes:
          $ref: "#/components/schemas/Codes"
        financial_event_type:
          $ref: "#/components/schemas/FinancialEventTypes"
        resource_type:
          $ref: "#/components/schemas/ResourceTypes"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        resource_keys:
          $ref: "#/components/schemas/Codes"
        correlation_id:
          type: string
          description: Correlation identifier used for distributed tracing.
        causation_id:
          type: string
          description: Correlation identifier used for distributed tracing.
        tracking_ref:
          type: string
          description: Tracking reference for the transaction.
          example: track_98765
        source_transaction_id:
          type: string
          description: Internal reference for the transaction.
          example: txn_ref_12345
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        deposit_type:
          $ref: "#/components/schemas/DepositTypes"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        actor:
          $ref: "#/components/schemas/ActorReference"
        financial_categories:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FinancialCategoryTypes"
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        business_context:
          $ref: "#/components/schemas/BusinessContext"
        financial_event_snapshot:
          $ref: "#/components/schemas/FinancialEventSnapshot"
      description: Payment details for this product.
    FinancialEventSnapshot:
      type: object
      properties:
        financial_event_snapshot_key:
          type: string
          description: The unique ID for this generated snapshot instance.
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        general_ledger_reference:
          $ref: "#/components/schemas/GeneralLedgerReference"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        unit_cost:
          $ref: "#/components/schemas/GeneralAmount"
      description: "A real-time aggregated financial report (P&L, Balance Sheet, or\
        \ Trial Balance) generated as a view model for dashboards."
    FinancialEventTypes:
      type: string
      description: types of financial events.
      enum:
      - INVOICE_CREATED
      - INVOICE_ISSUED
      - INVOICE_POSTED
      - INVOICE_VOIDED
      - INVOICE_CANCELLED
      - PAYMENT_CREATED
      - PAYMENT_RECEIVED
      - PAYMENT_APPLIED
      - PAYMENT_FAILED
      - PAYMENT_REVERSED
      - PAYMENT_VOIDED
      - PAYMENT_UNAPPLIED
      - DEPOSIT_CREATED
      - DEPOSIT_RECEIVED
      - DEPOSIT_APPLIED
      - DEPOSIT_REFUNDED
      - DEPOSIT_FORFEITED
      - DEPOSIT_TRANSFERRED
      - DEPOSIT_VOIDED
      - REFUND_CREATED
      - REFUND_ISSUED
      - REFUND_COMPLETED
      - REFUND_REVERSED
      - REFUND_CANCELLED
      - FEE_ASSESSED
      - FEE_WAIVED
      - FEE_REVERSED
      - FEE_REFUNDED
      - TAX_ASSESSED
      - TAX_ADJUSTED
      - TAX_REFUNDED
      - CREDIT_ISSUED
      - CREDIT_APPLIED
      - CREDIT_REVERSED
      - CREDIT_EXPIRED
      - ADJUSTMENT_CREATED
      - ADJUSTMENT_APPLIED
      - ADJUSTMENT_REVERSED
      - WRITE_OFF_CREATED
      - CHARGEBACK_RECEIVED
      - CHARGEBACK_REVERSED
      - JOURNAL_ENTRY_CREATED
      - JOURNAL_ENTRY_POSTED
      - JOURNAL_ENTRY_REVERSED
      - FINANCE_CONTRACT_CREATED
      - FINANCE_CONTRACT_FUNDED
      - FINANCE_CONTRACT_CANCELLED
    FinancialEvents:
      type: array
      items:
        $ref: "#/components/schemas/FinancialEvent"
    FinancialSplit:
      type: object
      properties:
        financial_split_id:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        financial_split_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        source_item_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price_name:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price_description:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        financial_categories:
          $ref: "#/components/schemas/FinancialCategoryReferences"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        ledger_types:
          $ref: "#/components/schemas/FinancialTransactionTypes"
        price_type:
          $ref: "#/components/schemas/ProductPriceItemTypes"
        tax_splits:
          $ref: "#/components/schemas/TaxSplits"
        reward_references:
          $ref: "#/components/schemas/RewardReferences"
        credit_references:
          $ref: "#/components/schemas/CreditReferences"
        rebate_references:
          $ref: "#/components/schemas/RebateReferences"
        discount_references:
          $ref: "#/components/schemas/DiscountReferences"
        fee_references:
          $ref: "#/components/schemas/FeeReferences"
        parties:
          $ref: "#/components/schemas/PartyReferences"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: Payment details for this product.
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        financial_split_reference_key:
          type: string
          description: Unique key value for the reference record.
        financial_split_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Payment FinancialSplit
            aggregate.
        context:
          type: string
          description: Context or domain of the payment financialSplit.
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        total:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associated with the
            order.
          format: date-time
          example: 2026-08-06T15:24:16Z
      description: Reference to a Payment FinancialSplit Aggregate Root.
    FinancialSplits:
      type: array
      items:
        $ref: "#/components/schemas/FinancialSplit"
    FinancialTrack:
      type: object
      properties:
        financial_track_id:
          type: string
          description: Internal transaction reference for this tracking record.
          example: txn_ref_12345
        financial_track_key:
          type: string
          description: Internal transaction reference for this tracking record.
          example: txn_ref_12345
        reference_key:
          type: string
          description: Purchase order ID associated with this tracking record.
          example: PO-2025-10045
        financial_event_keys:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: Timestamp of the last update for this tracking record.
          format: date-time
          example: 2026-08-06T15:24:16Z
        actor_id:
          type: string
          description: Identifier of the actor who updated or is responsible for this
            tracking record.
          example: actor_123
        financial_splits:
          $ref: "#/components/schemas/FinancialSplits"
      description: Financial tracking details for a line item or purchase order.
    FinancialTracks:
      type: array
      items:
        $ref: "#/components/schemas/FinancialTrack"
    FinancialTransactionTypes:
      type: string
      description: types of financial transactions.
      enum:
      - ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - EQUITY
      - INVENTORY
      - INTANGIBLE_ASSET
      - PREPAID_EXPENSE
      - INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - SALES_DISCOUNT
      - RETURNS
      - CASH_INFLOW
      - CASH_OUTFLOW
      - BANK_CHARGE
      - LOAN_RECEIVABLE
      - LOAN_PAYABLE
      - INVESTMENT
      - DIVIDEND
      - INTEREST_INCOME
      - INTEREST_EXPENSE
      - OBLIGATION_NOTE
      - OBLIGATION_CREDIT
      - OBLIGATION_TAX
      - OBLIGATION_OTHER
      - TAX_PAYABLE
      - DEFERRED_REVENUE
      - ACCRUED_EXPENSE
      - PROVISION
      - DEBIT
      - CREDIT
      - CAPITALIZATION
      - AMORTIZATION
      - VARIANCE
      - INVOICE
      - RECEIPT
      - RECEIVABLE_RECEIPT
      - DISBURSEMENT
      - TRANSFER
      - SERVICE
      - FEE
      - REBATE
      - OTHER
      - CUSTOM
    FleetReference:
      type: object
      properties:
        fleet_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique lightweight reference key representing the fleet
            projection.
          example: FREF-882211
        fleet_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical fleet aggregate key associated with this reference.
          example: FLEET-1001
        fleet_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or enterprise fleet identifier associated with
            this reference.
          example: FLT-9921
        fleet_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The fleet number or serial number used for operational lookup.
          example: SE-FLEET-001
        fleet_name:
          maxLength: 150
          minLength: 1
          type: string
          description: "The human-readable fleet name used for search, display, and\
            \ assignment context."
          example: Southeast Utility Service Fleet
        parent_fleet_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The parent fleet key used to preserve lightweight hierarchy
            context.
          example: FLEET-PARENT-001
        parent_fleet_name:
          maxLength: 150
          minLength: 1
          type: string
          description: "The parent fleet name used for breadcrumb, reporting, and\
            \ display context."
          example: Corporate Service Fleet
        fleet_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyTypes"
        display_name:
          maxLength: 200
          minLength: 1
          type: string
          description: The formatted display name for the fleet reference.
          example: SE-FLEET-001 - Southeast Utility Service Fleet
        fleet_codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a fleet or inventory of vehicles, including ownership,\
        \ organizational structure, and associated data."
    FulfillmentMethodTypes:
      type: string
      description: types of fulfillment methods.
      enum:
      - PICKUP
      - DELIVERY
      - TRANSFER
      - DROP_SHIP
    FulfillmentProfile:
      type: object
      properties:
        fulfillment_profile_id:
          type: string
          description: Unique identifier for this fulfillment profile.
        fulfillment_profile_key:
          type: string
          description: Stable business key used to correlate this fulfillment profile
            across systems.
        fulfillment_method_type:
          $ref: "#/components/schemas/FulfillmentMethodTypes"
        order_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderTypes"
        fulfillment_status_type:
          $ref: "#/components/schemas/FulfillmentStatusTypes"
        service_level_type:
          $ref: "#/components/schemas/ServiceLevelTypes"
        delivery_destination_type:
          $ref: "#/components/schemas/DeliveryDestinationTypes"
        destination_party_reference:
          $ref: "#/components/schemas/PartyReference"
        destination_address_reference:
          $ref: "#/components/schemas/AddressReference"
        pickup_party_reference:
          $ref: "#/components/schemas/PartyReference"
        pickup_address_reference:
          $ref: "#/components/schemas/AddressReference"
        fulfillment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        shipment_profiles:
          $ref: "#/components/schemas/ShipmentProfiles"
        comments:
          type: string
          description: "Comments, instructions, or notes associated with this fulfillment\
            \ profile."
      description: Address represents a physical or mailing location associated with
        a party or warehouse.
    FulfillmentStatusTypes:
      type: string
      description: types of fulfillment status.
      enum:
      - NOT_REQUIRED
      - PENDING
      - ON_HOLD
      - WAITING_FOR_INVENTORY
      - BACKORDERED
      - SPECIAL_ORDERED
      - RESERVED
      - ALLOCATED
      - PICKING
      - PICKED
      - PACKING
      - PACKED
      - READY_FOR_PICKUP
      - PICKED_UP
      - READY_FOR_SHIPMENT
      - SHIPPED
      - IN_TRANSIT
      - DELIVERED
      - TRANSFER_IN_PROGRESS
      - DROP_SHIP_IN_PROGRESS
      - RETURN_REQUESTED
      - RETURN_IN_PROGRESS
      - RETURNED
      - CANCELLED
      - FAILED
      - COMPLETED
      - CLOSED
      - EXCEPTION
      - OTHER
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        amount:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    GeneralLedgerReference:
      type: object
      properties:
        general_ledger_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        context:
          type: string
          description: Context or domain of the reference
        system_codes:
          $ref: "#/components/schemas/Codes"
        general_ledger_identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-08-06T15:24:16Z
      description: External system reference
    GeographicBoundaryReference:
      type: object
      properties:
        geographic_boundary_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        geographic_boundary_reference_key:
          type: string
          description: Unique key value for the reference record.
        geographic_boundary_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
        context:
          type: string
          description: Context or domain of the payment schedule.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-08-06T15:24:16Z
      description: Reference to a Payment Schedule Aggregate Root.
    GeographicBoundaryReferences:
      type: array
      items:
        $ref: "#/components/schemas/GeographicBoundaryReference"
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    IncentiveTypes:
      type: string
      description: types of incentives.
      enum:
      - DEALER
      - OEM
      - VENDOR
      - SUPPLIER
      - OTHER
    InvoiceReference:
      type: object
      properties:
        invoice_reference_id:
          type: string
          description: Unique identifier value for the invoice reference record.
        invoice_reference_key:
          type: string
          description: Unique key value for the invoice reference record.
        invoice_key:
          type: string
          description: The unique key identifying the referenced Invoice aggregate.
        context:
          type: string
          description: "Context or domain of the invoice (e.g., 'ACCOUNTS_PAYABLE',\
            \ 'SALES_INVOICE')."
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the invoice was created or linked to this
            record.
          format: date-time
          example: 2026-08-06T15:24:16Z
        invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
      description: "Reference to an Invoice Aggregate Root, representing a financial\
        \ obligation."
    InvoiceReferences:
      type: array
      items:
        $ref: "#/components/schemas/InvoiceReference"
    InvoiceStatusTypes:
      type: string
      description: types of invoice status.
      enum:
      - DRAFT
      - PENDING_APPROVAL
      - ISSUED
      - ACKNOWLEDGED
      - ADJUSTED
      - VOIDED
      - CANCELLED
      - DISPUTED
      - CLOSED
      - DECLINED
      - OTHER
    InvoiceTypes:
      type: string
      description: types of invoices.
      enum:
      - INVOICE
      - SERVICE_INVOICE
      - PART_INVOICE
      - LOAN
      - STANDARD
      - ORIGINAL
      - ADJUSTED
      - CREDIT_MEMO
      - DEBIT_MEMO
      - PRO_FORMA
      - COMMERCIAL
      - VEHICLE_SALE
      - VEHICLE_INVOICE
      - SERVICE
      - PARTS
      - LEASE
      - FINANCE_CHARGE
      - WARRANTY_CLAIM
      - INSURANCE_CLAIM
      - STATEMENT
      - ADVANCE
      - FINAL
      - REPAIR
      - FUEL
      - RENTAL
      - SUBSCRIPTION
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the jurisdiction profile.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the jurisdiction
            profile.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "The date and time when this jurisdiction profile was last\
            \ synchronized from the source governance, legal, policy, or compliance\
            \ system."
          format: date-time
          example: 2026-08-06T15:24:16Z
        occurrence_date_time:
          type: string
          description: "The date and time when the jurisdiction profile was observed,\
            \ created, received, updated, or became effective."
          format: date-time
          example: 2026-08-06T15:24:16Z
      description: nullable
    LedgerActionTypes:
      type: string
      description: types of ledger actions.
      enum:
      - DEBIT
      - CREDIT
      - TRANSFER
      - MEMO
      - REVERSAL
      - NONE
      - CUSTOM
      - OTHER
    List:
      type: array
      items:
        $ref: "#/components/schemas/PaymentTransactionStatusTypes"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        currency_code:
          type: string
          description: Three-letter ISO-4217 currency code.
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          $ref: "#/components/schemas/Memo"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-08-06T15:24:16Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
      - WARRANTY_APPROVAL
      - WARRANTY_DENIAL
      - WARRANTY_APPEAL
      - CLAIM
      - FLEET
      - TELEMETRY
      - COMPLIANCE
      - AUDIT
      - SECURITY
      - TRANSPORT
      - DELIVERY
      - INVENTORY
      - SALES
      - FINANCIAL
      - SERVICE_PLAN
      - VEHICLE_LIFECYCLE
      - OWNERSHIP
      - INSURANCE
      - LOGISTICS
      - QUALITY
      - RISK
      - CONSEQUENCE
      - AI_RECOMMENDATION
      - DECISION
      - BUSINESS_RULE
      - INTENT
      - CAPABILITY
      - CUSTOM_ORDER
      - SPECIAL
      - DISCLAIMER
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    Narratives:
      type: array
      items:
        $ref: "#/components/schemas/Narrative"
    OptionDescription:
      type: object
      properties:
        option_description_key:
          type: string
          description: A unique key for the option description.
        option_description_id:
          type: string
          description: The unique ID for the option description.
        option_description_group:
          type: string
          description: The group or category this option belongs to.
        option_detail_descriptions:
          $ref: "#/components/schemas/Memo"
        option_description_label:
          type: string
          description: "A short, human-readable label for the option."
      description: A description of a vehicle option or feature.
    OptionDescriptions:
      type: array
      items:
        $ref: "#/components/schemas/OptionDescription"
    OptionInstallationTypes:
      type: string
      description: types of option installations.
      enum:
      - FACTORY_INSTALLED
      - PORT_INSTALLED
      - DEALER_INSTALLED
      - SOFTWARE_UPDATE
      - ACCESSORY_KIT
      - CUSTOM_FABRICATION
      - OWNER_INSTALLED
      - THIRD_PARTY_INSTALLED
      - UNKNOWN
      - OTHER
    OptionTypes:
      type: string
      description: types of options.
      enum:
      - PARTS
      - ACCESSORY
      - EQUIPMENT
      - PACKAGE_GOODS
      - SERVICE_PLAN
      - WARRANTY_PLAN
      - SUBSCRIPTION
      - SOFTWARE
      - CERTIFICATION
      - APPEARANCE
      - INCENTIVE
      - COLOR
      - FABRIC
      - REBATE_INCENTIVE
      - PORT_INSTALLED
      - TELEMATICS
      - OTHER
    OrderCategoryTypes:
      type: string
      description: types of order categorys.
      enum:
      - RETAIL
      - WHOLESALE
      - E_COMMERCE
      - COMMERCIAL
      - GOVERNMENT
      - EDUCATIONAL
      - CONTRACT
      - SUBSCRIPTION
      - DIRECT
      - FLEET
      - TRADE_IN
      - LEASE
      - CUSTOM_ORDER
      - STANDARD
      - SPECIAL
      - OTHER
    OrderProfile:
      type: object
      properties:
        order_profile_key:
          type: string
          description: A unique key for the order profile.
        order_profile_id:
          type: string
          description: The unique ID for the order profile.
        vso_order_number:
          type: string
          description: Vehicle Special Order Number for specialized commercial or
            fleet builds.
        job_order:
          type: string
          description: Production identifier indicating the specific phase assigned
            to a vehicle during its build cycle.
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        pep_codes:
          $ref: "#/components/schemas/Codes"
        order_category_type:
          $ref: "#/components/schemas/OrderCategoryTypes"
        order_type:
          $ref: "#/components/schemas/OrderTypes"
        invoicing_district:
          type: string
          description: The two-character code identifying the regional sales district
            responsible for managing the invoicing dealership.
        invoicing_zone:
          type: string
          description: The single-character code representing the specific zone of
            a dealer.
        invoicing_number:
          type: string
          description: The three-digit code uniquely identifying the specific dealership
            within its assigned district and zone.
        registration_district:
          type: string
          description: A two-character code identifying the specific regional administrative
            or sales district where the receiving location is registered.
        order_narratives:
          $ref: "#/components/schemas/Narratives"
        disclaimers:
          $ref: "#/components/schemas/Disclaimers"
      description: profile of an entity recognized as an organization
    OrderProfiles:
      type: array
      items:
        $ref: "#/components/schemas/OrderProfile"
    OrderTypes:
      type: string
      description: types of orders.
      enum:
      - STANDARD
      - SALES
      - PURCHASE
      - RUSH
      - BACK_ORDER
      - SPECIAL
      - SUBSCRIPTION
      - SERVICE
      - MAINTENANCE
      - WARRANTY
      - SAMPLE
      - INTERNAL_TRANSFER
      - CONSIGNMENT
      - TRIAL
      - RENTAL
      - REPAIR
      - JOB
      - RETURN
      - CUSTOM_ORDER
    PartIdentifierReference:
      type: object
      properties:
        part_identifier_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable enterprise technical ledger surrogate key for
            this snapshot instance.
          example: PIRK-77119933
        part_identifier_reference_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The business or event payload instance identifier for this
            reference metadata mapping.
          example: PART-REF-01
        part_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The raw catalog part number text explicitly captured during
            the fulfillment or scan transaction.
          example: 68218055AB
        manufacturer_brand_code:
          maxLength: 40
          minLength: 1
          type: string
          description: "The originating OEM, supplier, or aftermarket manufacturer\
            \ brand shorthand code to ensure isolation."
          example: MOPAR
        description_snapshot:
          maxLength: 255
          minLength: 1
          type: string
          description: The point-in-time descriptive text captured from the master
            part catalog for local physical document output mapping.
          example: FENDER-FRONT RIGHT
        item_classification_type:
          $ref: "#/components/schemas/PartInvoiceItemTypes"
        part_master_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The target persistent master catalog surrogate key pointing
            to the full Part aggregate root.
          example: PART-KEY-992211A
        part_identifier_type:
          $ref: "#/components/schemas/PartIdentifierTypes"
        unit_of_measure_code:
          maxLength: 10
          minLength: 1
          type: string
          description: "The standard unit of measure representation (e.g., EA, QT,\
            \ GL) of the referenced catalog item."
          example: EA
        superseded_by_part_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The replacement part number if the current reference part has
            been superseded by a newer engineering revision.
          example: 68218055AC
        core_charge_indicator:
          type: boolean
          description: "Denotes if this part reference implies a physical core return\
            \ obligation (e.g., batteries, engines, alternators)."
          example: false
      description: "An immutable, point-in-time reference snapshot of a physical part's\
        \ identity captured during a fulfillment lifecycle phase."
    PartIdentifierTypes:
      type: string
      description: types of part identifiers.
      enum:
      - VIN
      - SKU
      - UPCA
      - UPCE
      - ISBN
      - MPN
      - CONFIG_CODE
      - MFR_CODE
      - ALT_CODE
      - STOCK_NBR
      - UNIV_CODE
      - PRODUCT_CODE
      - CATALOG_CODE
      - NAME
      - NUMBER
      - PREFIX
      - COUNTRY_OF_ORIGIN_CODE
      - MODEL_CODE
      - MAKE_CODE
      - YEAR_CODE
      - MARKET_DIVISION_CODE
      - TRIM_CODE
      - STYLE_CODE
      - SUB_MODEL_CODE
      - ENGINE_CODE
      - TRANSMISSION_CODE
      - DRAWING_NUMBER
      - CAD_NUMBER
      - OTHER
    PartInvoiceItemTypes:
      type: string
      description: types of part invoice items.
      enum:
      - STANDARD_CATALOG_PART
      - KIT
      - ASSEMBLY
      - COMPONENT
      - EXCHANGE_LINE
      - RETURN_LINE
      - OTHER
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        party_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
        primary_role_name:
          maxLength: 80
          minLength: 1
          type: string
          description: The principal functional role or stakeholder classification
            assigned to the party within this domain interaction.
          example: DEALER_OPERATOR
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-08-06T15:24:16Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - WARRANTY_PROVIDER
      - INSURANCE_PROVIDER
      - SUBLET_PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - SCHEDULER
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - PRIMARY_TECHNICIAN
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - FLEET_MANAGER
      - TRANSPORT_PROVIDER
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - PRIMARY_CUSTOMER
      - PRIMARY_DRIVER
      - PRIMARY_OWNER
      - VEHICLE_OWNER
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - PRIMARY_CONTACT
      - APPROVER
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
      - SHIP_TO
      - SOLD_TO
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentMethodTypes:
      type: string
      description: types of payment methods.
      enum:
      - CASH
      - CHECK
      - MONEY_ORDER
      - CASH_ON_DELIVERY
      - CREDIT_CARD
      - DEBIT_CARD
      - GIFT_CARD
      - EFT
      - ONLINE_BANK_TRANSFER
      - MOBILE_WALLET
      - CRYPTOCURRENCY
      - ONLINE_PAYMENT_PLATFORM
      - PAYROLL_DEDUCTION
      - FINANCE
      - LEASE
      - RENTAL
      - TERMS
      - DUE_ON_RECEIPT
      - TRADE_IN
      - REWARD_POINTS
      - STORE_CREDIT
      - EXCHANGE
      - NOT_APPLICABLE
      - ACH
      - WIRE_TRANSFER
      - DIGITAL_WALLET
      - FINANCING
      - INTERNAL_CREDIT
      - UNKNOWN
      - OTHER
    PaymentStatusTypes:
      type: string
      description: types of payment status.
      enum:
      - NOT_REQUIRED
      - PENDING_PAYMENT
      - AUTHORIZED
      - PARTIALLY_PAID
      - PAID
      - PENDING_SETTLEMENT
      - SETTLED
      - OVERDUE
      - FAILED
      - REFUNDED
      - PARTIALLY_REFUNDED
      - CHARGEBACK
      - WRITTEN_OFF
      - OTHER
    PaymentTransactionStatusTypes:
      type: string
      description: types of payment transaction status.
      enum:
      - NONE
      - EXPIRED
      - CAPTURED
      - CONFIRMATION
      - VOID
      - APPROVE
      - REFUNDED
      - PARTIALLY_REFUNDED
      - AUTHORIZE
      - PENDING_MERCHANT
      - SUSPENDED
      - OPEN
      - PEND
      - PROCESS
      - DECLINE
      - DUE
      - INCURRED
      - CUSTOM_CODE
      - USER_HOLD
      - ADMIN_HOLD
      - ACTIVATED
      - DEACTIVATE
      - CANCEL
      - CONFIRM
      - CLOSE
      - TRIAL
      - SUBSCRIPTION
      - OVERRIDE
      - UPGRADE
      - HOLD_ON_RENEWAL
      - HOLD_ON_DATE
      - PAYMENT
      - DOWNGRADE
    PaymentTypes:
      type: string
      description: types of payments.
      enum:
      - OUTRIGHT_PURCHASE
      - FINANCED_PURCHASE
      - SUBSCRIPTION
      - DEPOSIT
      - PROGRESS_PAYMENT
      - SCHEDULED_PAYMENT
      - CONSUMPTION_BASED
      - CUSTOM_AGREEMENT
      - CASH
      - BALLON
      - LEASE
      - LEASE_NO_BUYOUT
      - LEASE_BUYOUT
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        professional_title:
          type: string
          description: "Professional Title like Senator, Principal, Nurse"
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
        person_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        person_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
      description: a Name for a person
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    Price:
      type: object
      properties:
        price_id:
          type: string
          description: Unique system identifier for the price record.
        price_key:
          type: string
          description: Natural key or business identifier for the price entry.
        display_amount:
          type: string
          description: "Human-readable display value for the price, including currency\
            \ symbol and proper decimal formatting."
        amount:
          $ref: "#/components/schemas/Money"
        tax_amount:
          $ref: "#/components/schemas/Money"
        taxable_amount:
          $ref: "#/components/schemas/Money"
        non_taxable_amount:
          $ref: "#/components/schemas/Money"
        total_amount:
          $ref: "#/components/schemas/Money"
        total_cost_amount:
          $ref: "#/components/schemas/Money"
        unit_cost_amount:
          $ref: "#/components/schemas/Money"
        price_description:
          type: string
          description: "A descriptive title for the price (e.g., 'MSRP', 'Sale Price')."
        tax_included_indicator:
          type: boolean
          description: Indicates whether tax is included in the base price (value).
          example: false
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
        price_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PriceTypes"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: "Price that includes display value, currency, locale, and value,\
        \ along with tax and cost components."
    PricePlanReference:
      type: object
      properties:
        price_plan_reference_id:
          type: string
          description: Unique identifier value
        price_plan_reference_key:
          type: string
          description: Unique identifier value
        price_plan_key:
          type: string
          description: Unique identifier value
        price_levels:
          $ref: "#/components/schemas/Codes"
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-08-06T15:24:16Z
        geographic_boundaries:
          $ref: "#/components/schemas/GeographicBoundaryReferences"
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
        price_types:
          $ref: "#/components/schemas/PriceTypes"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        pricing_version:
          type: string
          description: Version of the Price
        pricing_reason:
          type: string
          description: Version of the Reason
      description: External system identifier
    PricePlanReferences:
      type: array
      items:
        $ref: "#/components/schemas/PricePlanReference"
    PriceSummary:
      type: object
      properties:
        price_summary_key:
          type: string
          description: The unique key for the payment summary record.
        price_summary_id:
          type: string
          description: The unique ID for the payment summary.
        source_key:
          type: string
          description: The unique key to the related invoice.
        source_type:
          $ref: "#/components/schemas/ResourceTypes"
        locale:
          $ref: "#/components/schemas/Locale"
        prices:
          $ref: "#/components/schemas/Prices"
        summary_memo:
          $ref: "#/components/schemas/Memo"
      description: Summarizes the financial totals and pricing components of a payment
        term.
    PriceTypes:
      type: string
      description: types of prices.
      enum:
      - METERED
      - SEAT
      - FLAT
      - ITEMIZED
      - BUNDLE
      - QUANTITY
      - PER_UNIT
      - PERCENT
      - VOLUME
      - USAGE
      - STAIR_STEP
      - SUBSCRIPTION
      - CUSTOM
      - STANDARD
      - LICENSED
      - TIER_VOLUME
      - TIER_GRADUATED
      - ACTUAL
      - LIST
      - RETAIL
      - MSRP
      - WHOLESALE
      - DEALER_COST
      - INVOICE
      - TOTAL_DEALER_COST
      - TOTAL_DEALER_OPTION_COST
      - TOTAL_DEALER_OPTION_SELLING_PRICE
      - RECONDITIONING_COST
      - RESIDUAL_VALUE
      - TDA
      - FUEL
      - TOTAL_HOLD_BACK
      - PPO_HOLD_BACK
      - WRF
      - TRADE
      - CORE
      - LANDED
      - FREIGHT_CHARGE
      - MONEY
      - INTERNET
      - BALANCE
      - BASE
      - BASE_MSRP
      - TOTAL_MSRP
      - TOTAL_OPTION_MSRP
      - PRODUCT_TOTAL
      - FINANCE_TOTAL
      - APPLIED_REWARD_TOTAL
      - UPFRONT_PAYMENT_TOTAL
      - REMOVED_EQUIPT_TOTAL
      - ADJUSTED_MSRP
      - GROSS_SALE
      - NET_SALE
      - NET_SALE_REDUCTION_PRICE
      - DISCOUNT_TOTAL
      - DISCOUNT_PACKAGES_TOTAL
      - CREDIT_TOTAL
      - FEE_TOTAL
      - REBATE_TOTAL
      - TAX_TOTAL
      - TRADE_IN_TOTAL
      - TRADE_IN_EQUITY_TOTAL
      - TOTAL_ACCESSORY
      - PROMOTIONAL
      - DISCOUNT
      - CONTRACT
      - SALE
      - PREMIUM_TOTAL
      - DISABILITY_PREMIUM_TOTAL
      - TAXABLE
      - NONTAXABLE
      - TOTAL
      - UNIT
      - TOTAL_COST
      - UNIT_COST
      - TAX
      - ESTIMATED
      - NET
      - PURCHASE
      - CUSTOMER
      - AFFILIATE
      - ONLINE
      - STORE
      - REGION
      - LOCATION
      - BASE_INVOICE_AMOUNT
      - DESTINATION_CHARGE
      - ADVERTISING_ASSESSMENT
      - HOLDBACK_AMOUNT
      - WDA_AMOUNT
      - TDA_AMOUNT
      - FLOORPLAN_ASSISTANCE_AMOUNT
      - DEALER_CASH_AMOUNT
      - REGIONAL_ADJUSTMENT_AMOUNT
      - PORT_INSTALLED_OPTION_AMOUNT
      - FACTORY_OPTION_AMOUNT
      - DEALER_INSTALLED_OPTION_AMOUNT
      - FREIGHT_CHARGE_AMOUNT
      - FUEL_CHARGE_AMOUNT
      - PACKAGING_OPTION_AMOUNT
      - OEM_INCENTIVE_AMOUNT
      - DEALER_NET_AMOUNT
      - LANDED_COST_AMOUNT
      - BASE_HOLDBACK_AMOUNT
      - OPTIONS_HOLDBACK_AMOUNT
      - TOTAL_HOLDBACK_AMOUNT
      - INVOICE_AMOUNT
      - MISC_TOTAL
      - PROTECTED_INVOICE_AMOUNT
      - OTHER
    Prices:
      type: array
      items:
        $ref: "#/components/schemas/Price"
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    ProductPriceItemTypes:
      type: string
[...]
