openapi: 3.0.1
info:
  title: Automotive Retail Systems API - VehicleIdentifier
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CountryCode:
      type: string
      description: The ISO 3116-1 alpha-2 country code of the issuing jurisdiction.
      example: US
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-07T17:20:21Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-07T17:20:21Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    ModelYear:
      type: string
      description: The 4-digit model year of the vehicle.
      example: "2024"
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - OTHER
    PlateNumber:
      type: string
      description: The alphanumeric string displayed on the vehicle license plate.
      example: ABC1234
    ProductModel:
      type: object
      properties:
        product_model_key:
          type: string
          description: A unique key for the vehicle identifier.
        product_model_id:
          type: string
          description: The unique ID for the vehicle identifier.
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        brands:
          $ref: "#/components/schemas/Codes"
        trims:
          $ref: "#/components/schemas/Codes"
        marketing_names:
          $ref: "#/components/schemas/Codes"
        oem_names:
          $ref: "#/components/schemas/Codes"
        oem_codes:
          $ref: "#/components/schemas/Codes"
        model_codes:
          $ref: "#/components/schemas/Codes"
        phase_code:
          type: string
          description: The phase code.
        nicknames:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
      description: Vehicle Identifier
    UnitId:
      type: string
      description: A unique sequence number or business identifier provided by TMS.
      example: "129375127"
    VIN:
      maxLength: 17
      minLength: 17
      pattern: "^[0-9A-HJ-NPR-Z]+$"
      type: string
      description: The 17-character Vehicle Identification Number.
      example: 5TFHY5F13KX799310
    VehicleIdentifier:
      type: object
      properties:
        vehicle_identifier_key:
          type: string
          description: A unique natural business key for the vehicle identifier record.
          example: VID-KEY-992831
        vehicle_identifier_id:
          type: string
          description: The unique technical GUID/ID for the vehicle identifier.
          example: 550e8400-e29b-41d4-a716-446655440000
        odometer:
          $ref: "#/components/schemas/MetricValue"
        vehicle_key:
          type: string
          description: The unique business key of the associated vehicle entity.
          example: VEH-TOY-TUNDRA-2024
        unit_id:
          $ref: "#/components/schemas/UnitId"
        stock_number:
          type: string
          description: The dealer's internal stock or inventory number.
          example: STK100293
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        license:
          $ref: "#/components/schemas/VehicleLicense"
        make:
          type: string
          description: The manufacturer or make of the vehicle.
          example: Toyota
        model:
          type: string
          description: The specific model name.
          example: Tundra
        brand:
          type: string
          description: The consumer-facing brand name.
          example: TRD Pro
        trim:
          type: string
          description: The specific trim level or package.
          example: Limited
        oem_model_code:
          type: string
          description: The manufacturer's specific internal model code.
          example: 8442A
        oem_name:
          type: string
          description: Full name of the Original Equipment Manufacturer.
          example: Toyota Motor Corporation
        oem_code:
          type: string
          description: The short code representing the OEM.
          example: TMS
        model_code:
          type: string
          description: The standardized model code used within the bounded context.
          example: TUN
        model_description:
          type: string
          description: A verbose description of the vehicle model.
          example: 4WD CrewMax 5.5' Bed
        model_year:
          $ref: "#/components/schemas/ModelYear"
        vin:
          $ref: "#/components/schemas/VIN"
        nicknames:
          $ref: "#/components/schemas/Codes"
        tags:
          $ref: "#/components/schemas/Codes"
        model_detail:
          $ref: "#/components/schemas/ProductModel"
      description: Vehicle Identifier following STAR standards for cross-context vehicle
        tracking.
    VehicleIdentifierCreate:
      required:
      - vehicle_identifier_key
      type: object
      description: VehicleIdentifier Create for Post
      allOf:
      - $ref: "#/components/schemas/VehicleIdentifier"
    VehicleIdentifierUpdate:
      type: object
      properties:
        odometer:
          $ref: "#/components/schemas/MetricValue"
        oem_model_code:
          type: string
          description: The manufacturer's specific internal model code.
          example: 8442A
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        model_year:
          $ref: "#/components/schemas/ModelYear"
        tags:
          $ref: "#/components/schemas/Codes"
        stock_number:
          type: string
          description: The dealer's internal stock or inventory number.
          example: STK100293
        license:
          $ref: "#/components/schemas/VehicleLicense"
        model_detail:
          $ref: "#/components/schemas/ProductModel"
        model_code:
          type: string
          description: The standardized model code used within the bounded context.
          example: TUN
        trim:
          type: string
          description: The specific trim level or package.
          example: Limited
        oem_code:
          type: string
          description: The short code representing the OEM.
          example: TMS
        oem_name:
          type: string
          description: Full name of the Original Equipment Manufacturer.
          example: Toyota Motor Corporation
        model_description:
          type: string
          description: A verbose description of the vehicle model.
          example: 4WD CrewMax 5.5' Bed
        model:
          type: string
          description: The specific model name.
          example: Tundra
        vin:
          $ref: "#/components/schemas/VIN"
        nicknames:
          $ref: "#/components/schemas/Codes"
        make:
          type: string
          description: The manufacturer or make of the vehicle.
          example: Toyota
        brand:
          type: string
          description: The consumer-facing brand name.
          example: TRD Pro
      description: VehicleIdentifier Update for Patch and Put
    VehicleLicense:
      type: object
      properties:
        vehicle_license_key:
          type: string
          description: The unique business key for the vehicle license record.
          example: LIC-GA-77291-B
        plate_number:
          $ref: "#/components/schemas/PlateNumber"
        jurisdiction_name:
          type: string
          description: "The state, province, or territory that issued the license\
            \ plate."
          example: Georgia
        country_code:
          $ref: "#/components/schemas/CountryCode"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: "Represents the legal registration and license information for\
        \ a vehicle, including plate details and issuing jurisdiction."
