openapi: 3.0.1
info:
  title: Automotive Retail Systems API - Dealer
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:19:56Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:19:56Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    Dealer:
      type: object
      properties:
        dealer_key:
          type: string
          description: A unique key for the dealer record.
        dealer_id:
          type: string
          description: The unique ID for the dealer.
        business_code:
          type: string
          description: A business code for the dealership.
        business_category_codes:
          $ref: "#/components/schemas/Codes"
        comments:
          type: string
          description: Comments about the dealer.
        country_code:
          type: string
          description: The country code for the dealership.
        dealer_bac:
          type: string
          description: The dealer's Business Associate Code (BAC).
        dealer_contact:
          type: string
          description: The dealer's contact information.
        dealer_name:
          type: string
          description: The name of the dealership.
        departments_href:
          type: string
          description: A hyper-reference to departments.
          format: href
        language_codes:
          $ref: "#/components/schemas/Codes"
        links:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Link"
        preferred_language_code:
          type: string
          description: The preferred language code for the dealer.
        special_remarks_description:
          type: string
          description: A description for special remarks.
        stores_href:
          type: string
          description: A hyper-reference to stores.
          format: href
        dealer_services:
          $ref: "#/components/schemas/DealerServices"
        service_center_codes:
          $ref: "#/components/schemas/Codes"
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        staff:
          $ref: "#/components/schemas/Staff"
        staff_href:
          type: string
          description: A hyper-reference to staff.
          format: href
      description: Dealership
    DealerCreate:
      required:
      - dealer_key
      type: object
      description: Dealer Create for Post
      allOf:
      - $ref: "#/components/schemas/Dealer"
    DealerService:
      type: object
      properties:
        dealer_service_key:
          type: string
          description: The unique key for the dealer service.
        dealer_service_type:
          $ref: "#/components/schemas/DealerServiceTypes"
        dealer_service_codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a dealership service, including its unique key, service\
        \ type, and associated codes."
    DealerServiceTypes:
      type: string
      description: types of dealer services.
      enum:
      - SERVICE_CENTER
      - SALES
      - CATEGORY
      - OEM
    DealerServices:
      type: array
      items:
        $ref: "#/components/schemas/DealerService"
    DealerUpdate:
      type: object
      properties:
        comments:
          type: string
          description: Comments about the dealer.
        dealer_contact:
          type: string
          description: The dealer's contact information.
        identifiers:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        special_remarks_description:
          type: string
          description: A description for special remarks.
        business_code:
          type: string
          description: A business code for the dealership.
        staff:
          $ref: "#/components/schemas/Staff"
        preferred_language_code:
          type: string
          description: The preferred language code for the dealer.
        stores_href:
          type: string
          description: A hyper-reference to stores.
          format: href
        staff_href:
          type: string
          description: A hyper-reference to staff.
          format: href
        country_code:
          type: string
          description: The country code for the dealership.
        dealer_bac:
          type: string
          description: The dealer's Business Associate Code (BAC).
        departments_href:
          type: string
          description: A hyper-reference to departments.
          format: href
        dealer_services:
          $ref: "#/components/schemas/DealerServices"
        business_category_codes:
          $ref: "#/components/schemas/Codes"
        dealer_name:
          type: string
          description: The name of the dealership.
        links:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/Link"
        service_center_codes:
          $ref: "#/components/schemas/Codes"
        language_codes:
          $ref: "#/components/schemas/Codes"
      description: Dealer Update for Patch and Put
    DepartmentReference:
      type: object
      properties:
        department_reference_id:
          type: string
          description: Unique identifier value
        department_reference_key:
          type: string
          description: Unique identifier value
        department_key:
          type: string
          description: Unique identifier value
        department_type:
          $ref: "#/components/schemas/DepartmentTypes"
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        department:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:56Z
        duration:
          $ref: "#/components/schemas/EffectivePeriod"
      description: External system identifier
    DepartmentTypes:
      type: string
      description: types of departments.
      enum:
      - REGULAR_INSPECTION
      - PDI_INSPECTION
      - QUICK_LUBE
      - ACCESSORY_INSTALL
      - FIELD_ACTION
      - SALES
      - SERVICE
      - FLEET
      - F_I
      - USED_VEHICLES
      - BODY_SHOP
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-07T17:19:56Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-07T17:19:56Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    Link:
      type: object
      properties:
        link_key:
          type: string
          description: The unique key for the link.
        href:
          type: string
          description: The URL of the related resource.
        method:
          type: string
          description: "The HTTP method to be used to access the link (e.g., GET,\
            \ POST)."
        rel:
          type: string
          description: "The link relation, which describes the relationship between\
            \ the current resource and the linked resource."
        title:
          type: string
          description: A human-readable title for the link.
      description: "Represents a Hypermedia as the Engine of Application State (HATEOS)\
        \ link, providing information on how to interact with a related resource."
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
      description: not nullable
    Memo:
      type: array
      items:
        type: string
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        vin:
          $ref: "#/components/schemas/Vin"
        currency_code:
          type: string
          description: money.currency.code.desc
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        locale:
          type: string
          description: Language and region identifier (BCP 47 format).
          example: en-US
        value:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-05-07T17:19:56Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
    PayrollCycleFrequencyTypes:
      type: string
      description: types of payroll cycle frequencys.
      enum:
      - ANNUAL
      - SEMI_ANNUAL
      - QUARTERLY
      - BI_MONTHLY
      - MONTHLY
      - SEMI_MONTHLY
      - BI_WEEKLY
      - WEEKLY
      - DAILY
      - OFF_CYCLE
      - ON_DEMAND
    PayrollRate:
      type: object
      properties:
        payroll_rate_id:
          type: string
          description: A unique identifier for the payroll rate.
        payroll_rate_key:
          type: string
          description: A unique identifier for the payroll rate.
        staff_member_key:
          type: string
          description: Business key or code for the staff member.
          example: EMPLOYEE_001
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        payroll_cycle_type:
          $ref: "#/components/schemas/PayrollCycleFrequencyTypes"
        amount:
          $ref: "#/components/schemas/Money"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        occurrence_date_time:
          type: string
          description: The date and time the rate occurred.
          format: date-time
          example: 2026-05-07T17:19:56Z
        textual_details:
          $ref: "#/components/schemas/TextualDetails"
        staff_pay_type:
          $ref: "#/components/schemas/StaffPayTypes"
      description: "Represents a single rate that affects a staff member's payroll,\
        \ such as hours worked or a bonus."
    PayrollRates:
      type: array
      items:
        $ref: "#/components/schemas/PayrollRate"
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
      description: a Name for a person
    PersonReference:
      type: object
      properties:
        person_reference_id:
          type: string
          description: Unique identifier value
        person_reference_key:
          type: string
          description: Unique identifier value
        person_key:
          type: string
          description: Unique identifier value
        party_key:
          type: string
          description: Unique identifier value
        relationship_type:
          $ref: "#/components/schemas/PartyRelationshipTypes"
        context:
          type: string
          description: Context or domain of the identifier
        fullname:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:56Z
      description: External system identifier
    PrivacyContextTypes:
      type: string
      description: types of privacy contexts.
      enum:
      - GIVE_CONSENT
      - INFORMED_OF_COLLECTION
      - GET_BREACH_NOTIFICATION
      - ACCESS_DATA
      - RECTIFICATION_OF_DATA
      - ERASURE_OF_DATA
      - RESTRICT_PROCESSING
      - DATA_PORTABILITY
      - OBJECT_TO_PROCESSING
      - OTHER
    PrivacyEvent:
      type: object
      properties:
        privacy_event_id:
          type: string
          description: A unique identifier for the privacy event.
        privacy_event_key:
          type: string
          description: A unique identifier for the privacy event.
        legal_basis_type:
          $ref: "#/components/schemas/PrivacyLegalBasisTypes"
        privacy_context_type:
          $ref: "#/components/schemas/PrivacyContextTypes"
        privacy_state_type:
          $ref: "#/components/schemas/PrivacyStateTypes"
        value:
          type: string
          description: The monetary or hours-based value of the event.
        event_reference:
          type: string
          description: Event Reference for this event
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:19:56Z
      description: "Represents a single event that affects a staff member's privacy,\
        \ such as hours worked or a bonus."
    PrivacyEvents:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyEvent"
    PrivacyItem:
      type: object
      properties:
        privacy_id:
          type: string
          description: A unique key for the privacy record.
        privacy_key:
          type: string
          description: A unique key for the privacy record.
        privacy_event:
          $ref: "#/components/schemas/PrivacyEvents"
        privacy_type:
          $ref: "#/components/schemas/PrivacyTypes"
        encrypted_value:
          type: string
          description: The encrypted value of the sensitive information.
        hash_value:
          type: string
          description: "A one-way hash of the sensitive information, used for lookups\
            \ without decryption."
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        last_updated_date_time:
          type: string
          description: The date and time when the privacy record was last updated.
          format: date-time
          example: 2026-05-07T17:19:56Z
      description: Represents a single piece of sensitive or personally identifiable
        information (PII) with its associated privacy controls.
    PrivacyItems:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyItem"
    PrivacyLegalBasisTypes:
      type: string
      description: types of privacy legal basis.
      enum:
      - CONSENT
      - CONTRACT
      - LEGAL_OBLIGATION
      - VITAL_INTERESTS
      - PUBLIC_TASK
      - LEGITIMATE_INTERESTS
      - UNKNOWN
    PrivacyStateTypes:
      type: string
      description: types of privacy states.
      enum:
      - PENDING
      - ACTIVE_REVIEW
      - PENDING_RESOLUTION
      - RESOLVED
      - GIVEN
      - REVOKED
      - IN_COMPLIANCE
      - OUT_OF_COMPLIANCE
      - NOT_APPLICABLE
      - OTHER
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - GENERAL_BIO
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - UNKNOWN
    RoleTypes:
      type: string
      description: types of roles.
      enum:
      - GEN_MGR
      - CLOSING_MGR
      - FI_MGR
      - SALES_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - FINANCE
      - CONCIERGE_STAFF
      - CONCIERGE_MGR
      - VALET
      - VALET_OPERATOR
      - SERVICE_MGR
      - SERVICE_TECH
      - STAFF
      - SPECIALIST
      - ADVISOR
      - DISPATCHER
      - PRIMARY_TECHNICIAN
      - HELPER_TECHNICIAN
      - SERVICE_ADVISOR
      - VALET_DRIVER
      - MOBILE_DISPATCHER
      - QUALITY_CONTROL
      - INSPECTOR
      - TECHNICIAN
      - MOBILE_SERVICE_VAN
      - TOW_TRUCK
      - AUTONOMOUS_SYSTEM
      - SUBLET_VENDOR
    SkillCategoryTypes:
      type: string
      description: types of skill categorys.
      enum:
      - MECHANICAL
      - ELECTRICAL_EV
      - AUTONOMOUS_SOFTWARE
      - FLEET_LOGISTICS
      - BODY_STRUCTURAL
    Staff:
      type: array
      items:
        $ref: "#/components/schemas/StaffMember"
    StaffAffinity:
      type: object
      properties:
        staff_affinity_id:
          type: string
          description: Unique identifier for the staff member affinity.
          example: sm_123456
        staff_affinity_key:
          type: string
          description: Unique identifier for the staff member affinity.
          example: sm_123456
        staff_member_key:
          type: string
          description: Business key or code for the staff member.
          example: EMPLOYEE_001
        party_key:
          type: string
          description: Party key linking to person or organization.
          example: party_67890
        status:
          type: string
          description: "confirmed, tentative, cancelled"
        communication_styles:
          $ref: "#/components/schemas/Codes"
        product_affinities:
          $ref: "#/components/schemas/Codes"
        languages_spoken:
          $ref: "#/components/schemas/Codes"
        years_in_industry:
          type: string
          description: "10"
        staff_performance_metrics:
          $ref: "#/components/schemas/Identifiers"
        last_assignment_at:
          type: string
          description: Timestamp of the last job assigned to this person.
          format: date-time
          example: 2026-05-07T17:19:56Z
        lead_score_threshold:
          type: string
          description: "Minimum lead quality score required for this staff member\
            \ (e.g., Seniors get high-value leads)."
        is_eligible_for_assignment:
          type: boolean
          description: "Minimum lead quality score required for this staff member\
            \ (e.g., Seniors get high-value leads)."
          example: false
        availablity:
          $ref: "#/components/schemas/TimeSlots"
        unavailablity:
          $ref: "#/components/schemas/TimeSlots"
      description: Dealership Staff Member
    StaffCertification:
      type: object
      properties:
        staff_certification_id:
          type: string
          description: Identifier of Staff Certification
          example: ABC123
        staff_certification_key:
          type: string
          description: Name of the certification.
          example: Key123
        certification_name:
          type: string
          description: Name of the certification.
          example: ASE Master Technician
        issuing_body:
          type: string
          description: Organization that issued the certification.
          example: National Institute for Automotive Service Excellence
        certification_number:
          type: string
          description: The unique number assigned to the certification.
          example: CERT-998877
        issue_date:
          type: string
          description: The date the certification was awarded.
          format: date
        expiration_date:
          type: string
          description: The date the certification expires.
          format: date
        status:
          type: string
          description: Current status of the certification.
          example: Active
      description: Staff Certification Details
    StaffCertifications:
      type: array
      items:
        $ref: "#/components/schemas/StaffCertification"
    StaffMember:
      type: object
      properties:
        staff_member_id:
          type: string
          description: Unique identifier for the staff member.
          example: sm_123456
        staff_member_key:
          type: string
          description: Business key or code for the staff member.
          example: EMPLOYEE_001
        employee_key:
          type: string
          description: Employee key associated with the staff member.
          example: E12345
        party_key:
          type: string
          description: Party key linking to person or organization.
          example: party_67890
        person_reference:
          $ref: "#/components/schemas/PersonReference"
        skills:
          $ref: "#/components/schemas/StaffSkills"
        specialties:
          $ref: "#/components/schemas/Codes"
        certifications:
          $ref: "#/components/schemas/StaffCertifications"
        email:
          type: string
          description: Primary email address of the staff member.
          example: jane.doe@example.com
        state_license_number:
          type: string
          description: State license number if applicable.
          example: SLN-987654
        active_indicator:
          type: boolean
          description: Indicates if the staff member is currently active.
          example: true
        job_title:
          type: string
          description: Job title of the staff member.
          example: Sales Manager
        department_name:
          type: string
          description: Name of the department the staff member belongs to.
          example: Sales
        department_reference:
          $ref: "#/components/schemas/DepartmentReference"
        team_id:
          $ref: "#/components/schemas/Teams"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        contact_methods_href:
          type: string
          description: Reference URL to the contact methods for the staff member.
          format: href
          example: /staff/123/contactMethods
        comments:
          type: string
          description: Additional comments about the staff member.
          example: Key sales staff member with 5 years experience.
        role_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/RoleTypes"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        profile_href:
          type: string
          description: URL reference to the staff member's profile.
          format: href
          example: /profiles/staff_12345
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        payroll_rates:
          $ref: "#/components/schemas/PayrollRates"
        privacy_items:
          $ref: "#/components/schemas/PrivacyItems"
        staff_affinity:
          $ref: "#/components/schemas/StaffAffinity"
        teams:
          $ref: "#/components/schemas/Teams"
      description: Dealership Staff Member
    StaffPayTypes:
      type: string
      description: types of staff pays.
      enum:
      - HOURLY
      - SALARIED
      - COMMISSION
      - CONTRACTOR
      - SICK
      - VACATION
      - OVERTIME
      - TECHNICIAN_HOURS
      - BONUS
      - ADJUSTMENT
      - REGULAR
      - OTHER
    StaffSkill:
      type: object
      properties:
        staff_skill_id:
          type: string
          description: Unique identifier for the staff skill.
          example: sm_123456
        staff_skill_key:
          type: string
          description: Business key or code for the staff skill.
          example: EMPLOYEE_001
        staff_skill_code:
          type: string
          description: Staff Skill Code
          example: EV_CERT_LVL3
        staff_skill_name:
          type: string
          description: Staff Skill Code
          example: EV Certification Level 3
        staff_skill_description:
          type: string
          description: Staff Skill Code
          example: EV Certification Level 3
        proficiency_level:
          type: string
          description: "Level of expertise (e.g., Beginner, Intermediate, Expert,\
            \ or 1-5 scale)."
          example: Expert
        skill_category_type:
          $ref: "#/components/schemas/SkillCategoryTypes"
        years_experience:
          type: string
          description: Number of years practicing this skill.
          example: "8"
      description: Dealership Staff Skill
    StaffSkills:
      type: array
      items:
        $ref: "#/components/schemas/StaffSkill"
    Team:
      type: object
      properties:
        team_key:
          type: string
          description: The unique key identifying the team aggregate root.
        team_id:
          type: string
          description: The unique identifier for the team.
        team_name:
          type: string
          description: The human-readable name of the team.
        department_key:
          type: string
          description: The unique key for the department this team belongs to.
        department:
          $ref: "#/components/schemas/DepartmentReference"
        members:
          $ref: "#/components/schemas/PartyReferences"
      description: Represents an organizational group or functional unit within the
        AI-SAGE framework.
    Teams:
      type: array
      items:
        $ref: "#/components/schemas/Team"
    TextualDetail:
      type: object
      properties:
        textual_detail_key:
          type: string
          description: Natural key or business-friendly key for textual detail.
        textual_detail_id:
          type: string
          description: Unique identifier for textual detail.
        comments:
          $ref: "#/components/schemas/Memo"
        locale_codes:
          $ref: "#/components/schemas/Codes"
        notes:
          $ref: "#/components/schemas/Memo"
        short_description:
          type: string
          description: Short description for the detail.
        description:
          type: string
          description: Full description in memo format.
        text_key:
          type: string
          description: Key reference for reusable text blocks.
        name:
          type: string
          description: Name or title of the textual detail.
        value:
          type: string
          description: Value associated with the textual detail.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        groups:
          $ref: "#/components/schemas/Codes"
        label:
          type: string
          description: Label for UI representation.
        alt_text:
          type: string
          description: Alternative text for accessibility or image descriptions.
        textual_detail_code:
          type: string
          description: Code identifier for textual detail reference.
        tags:
          $ref: "#/components/schemas/Codes"
        uom_display:
          type: string
          description: Unit of Measure display value.
        uom_code:
          type: string
          description: "Unit of Measure code (e.g., EA, PR)."
      description: not nullable
    TextualDetails:
      type: array
      items:
        $ref: "#/components/schemas/TextualDetail"
    TimeSlot:
      type: object
      properties:
        time_slot_id:
          type: string
          description: Technical unique identifier (GUID) for the time slot record.
          example: b2d3e4f5-a6b7-c8d9-e0f1-a2b3c4d5e6f7
        time_slot_key:
          type: string
          description: Natural business key for the time slot within its specific
            context.
          example: TS-MON-MORNING-SHIFT
        time_slot_source:
          type: string
          description: The originating system or calendar providing this availability
            data.
          example: GOOGLE_CALENDAR
        start_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        start_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local start time in 24-hour ISO 8601 format.
          format: date-time
        end_day:
          $ref: "#/components/schemas/DaysOfWeekTypes"
        end_time:
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: The local end time in 24-hour ISO 8601 format.
          format: date-time
        recurring_indicator:
          type: boolean
          description: Indicates if this time slot is part of a repeating pattern.
          example: true
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        week_of_date:
          $ref: "#/components/schemas/Codes"
      description: "Defines a specific window of time, often within a recurring schedule,\
        \ used for service availability or appointment booking."
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - UNKNOWN
    Vin:
      type: string
      description: Three-letter ISO-4217 currency code.
      example: USD
